<article class="center">

	<form action="/sibbac20back/rest/export" method="post" name="export" id="export" target="export">
        <input type="hidden" name="webRequest" id="webRequest" value="">
    </form> 
    
    <div id="popup" style="display:none;">
        <span class="button b-close"><span>X</span></span>If you can't get it up use<br><span class="logo">bPopup</span>
    </div>
    
    <div class="title_section clearfix">
        <div style="display: inline; float:left;"><p class="title">Actualizaci&oacute;n Masiva de Datos</p></div>
    </div>
     <form id="cargarTabla">
     	<div class="wrapper-95 buscador">
    	<fieldset>
    	
    		<!--primer recuadro, primera columna  --> 
    		<div class="three-columns">
    			<div>
                    <label for="fechaDesde" title="Fecha Actualización Desde" class="desresumen">Fecha Desde:</label> 
               		<input type="text" id=fechaDesde class="anchoimp" style="width : 159px" TABINDEX=1 placeholder="dd/mm/yyyy" onchange="javascript:CheckBox(this,1);" readonly="readonly"><img src="images/accept.png" id="imagen1" style="width:16px;height:16px">
                </div>
                <div>
                    <label for="nbclientold" class="desresumen" title="Nombre Cliente">Nombre del Cliente:</label> 
                    <input type="text" id="nbclientold" class="anchoimp" style="width : 159px" maxlength="30" onkeyup="javascript:this.value=this.value.toUpperCase(),CheckBox2(this,4);" TABINDEX=4 placeHolder="No Filtrar"><img src="images/accept.png" id="imagen4" style="width:16px;height:16px" onClick="CheckBox1(4)">
                </div>
               <div>
					<label for="tpsociedold" class="desresumen">Tipo Persona:</label>
					<select id="tpsociedold" style="width : 159px" onchange="javascript:CheckBox(this,7);" TABINDEX=7>
						<option value="No filtrar">No Filtrar</option>
						<option value="-">Vac&iacute;o</option>
					</select><img src="images/accept.png" id="imagen7" style="width:16px;height:16px">
				</div>	
				
                <div>
					<label for="tptiPrepold" class="desresumen">Tipo Titular:</label>
					<select id="tptiPrepold" style="width : 159px" onchange="javascript:CheckBox(this,10);" TABINDEX=10>
							<option value="No filtrar">No Filtrar</option>
							<option value="-">Vac&iacute;o</option>
					</select><img src="images/accept.png" id="imagen10" style="width:16px;height:16px">
				</div>
				<div>
					<label for="tipnacold" class="desresumen">Tipo Nacionalidad:</label>
					<select id="tipnacold" style="width : 159px" onchange="javascript:CheckBox(this,13);" TABINDEX=13>
						<option value="No filtrar">No Filtrar</option>
						<option value="-">Vac&iacute;o</option>
					</select><img src="images/accept.png" id="imagen13" style="width:16px;height:16px">
				</div>
				<div>
					<label for="tpdomiciold" class="desresumen">Tipo Domicilio:</label>
					<select id="tpdomiciold" style="width : 159px" onchange="javascript:CheckBox(this,16);" TABINDEX=16>
						<option value="No filtrar">No Filtrar</option>
						<option value="-">Vac&iacute;o</option>
					</select><img src="images/accept.png" id="imagen16" style="width:16px;height:16px">
				</div>		
                
                <div>
                    <label for="ciudadold" class="desresumen" title="Ciudad">Ciudad:</label> 
                    <input type="text" id="ciudadold" class="anchoimp" style="width : 159px" maxlength="40" onkeyup="javascript:this.value=this.value.toUpperCase(),CheckBox2(this,19);" TABINDEX=19 placeHolder="No Filtrar"><img src="images/accept.png" id="imagen19" style="width:16px;height:16px" onClick="CheckBox1(19)">
                </div>
                
                
    		</div>
    		
    		<!--primer recuadro, segunda columna  -->
    		<div class="three-columns">
    			<div>
                    <label for="fechaHasta" class="desresumen" title="Fecha Actualización Hasta">Fecha Hasta:</label> 
                    <input type="text" id="fechaHasta" class="anchoimp" style="width : 159px" TABINDEX=2 placeholder="dd/mm/yyyy" onchange="javascript:CheckBox(this,2);" placeHolder="No Filtrar" readonly="readonly"><img src="images/accept.png" id="imagen2" style="width:16px;height:16px"> 
                </div>
                 <div>
                    <label for="nbclient1old" class="desresumen" title="Nombre Cliente">Primer Apellido:</label> 
                    <input type="text" id="nbclient1old" class="anchoimp" style="width : 159px" maxlength="50" onkeyup="javascript:this.value=this.value.toUpperCase(),CheckBox2(this,5);" TABINDEX=5 placeHolder="No Filtrar"><img src="images/accept.png" id="imagen5" style="width:16px;height:16px" onClick="CheckBox1(5)">
                </div>
               <div>
					<label for="tipoDocumentoold" class="desresumen">Tipo Documento:</label>
					<select id="tipoDocumentoold" class="anchoimp" style="width : 159px" onchange="javascript:CheckBox(this,8);" TABINDEX=8>
						<option value="No filtrar">No Filtrar</option>
						<option value="-">Vac&iacute;o</option>
					</select><img src="images/accept.png" id="imagen8" style="width:16px;height:16px">
				</div>
				<div>
                    <label for="ccvold" class="desresumen" title="CCV">CCV:</label> 
                    <input type="text" id="ccvold" class="anchoimp" style="width : 159px" maxlength="20" onkeyup="javascript:CheckBox2(this,11);" TABINDEX=11 placeHolder="No Filtrar"><img src="images/accept.png" id="imagen11" style="width:16px;height:16px" onClick="CheckBox1(11)">
                </div>
                <div>
					<label for="cdnactiold" class="desresumen">Nacionalidad:</label>
					<select id="cdnactiold" style="width : 159px" onchange="javascript:CheckBox(this,14);" TABINDEX=14>
						<option value="No filtrar">No Filtrar</option>
						<option value="-">Vac&iacute;o</option>
					</select><img src="images/accept.png" id="imagen14" style="width:16px;height:16px">
				</div>
                <div>
                    <label for="nbdomiciold" class="desresumen" title="">Nombre Domicilio:</label> 
                    <input type="text" id="nbdomiciold" class="anchoimp" style="width : 159px" onkeyup="javascript:this.value=this.value.toUpperCase(),CheckBox2(this,17);" TABINDEX=17 placeHolder="No Filtrar"><img src="images/accept.png" id="imagen17" style="width:16px;height:16px" onClick="CheckBox1(17)">
                </div>
                 	<div>
                    <label for="provinciaold" class="desresumen" title="Provincia">Provincia:</label> 
                    <input type="text" id="provinciaold" class="anchoimp" style="width : 159px" maxlength="25" onkeyup="javascript:this.value=this.value.toUpperCase(),CheckBox2(this,20);" TABINDEX=20 placeHolder="No Filtrar"><img src="images/accept.png" id="imagen20" style="width:16px;height:16px" onClick="CheckBox1(20)">
                </div>
               
            </div>	
            
            <!--primer recuadro, tercera columna  -->
            <div class="three-columns">
                <div>
                    <label for="nurefordold" class="desresumen" title="nureford">Ref. Cliente:</label> 
                    <input type="text" id="nurefordold" class="anchoimp" style="width : 159px" maxlength="32" onkeyup="javascript:CheckBox2(this,3);" TABINDEX=3 placeHolder="No Filtrar"><img src="images/accept.png" id="imagen3" style="width:16px;height:16px" onClick="CheckBox1(3)">
                </div>
               <div>
                    <label for="nbclient2old" class="desresumen" title="Segundo Apellido">Segundo Apellido:</label> 
                    <input type="text" id="nbclient2old" class="anchoimp" style="width : 159px" maxlength="30" onkeyup="javascript:this.value=this.value.toUpperCase(),CheckBox2(this,6);" TABINDEX=6 placeHolder="No Filtrar"><img src="images/accept.png" id="imagen6" style="width:16px;height:16px" onClick="CheckBox1(6)">
                </div>
                <div>
                    <label for="nudnicifold" class="desresumen" title="Tipo Documento">Nro Documento:</label> 
                    <input type="text" id="nudnicifold" class="anchoimp" style="width : 159px" maxlength="11" onkeyup="javascript:this.value=this.value.toUpperCase(),CheckBox2(this,9);" TABINDEX=9 placeHolder="No Filtrar"><img src="images/accept.png" id="imagen9" style="width:16px;height:16px" onClick="CheckBox1(9)">
                </div>
                <div>
                    <label for="participold" class="desresumen" title="Participacion">Participación:</label> 
                    <input type="text" id="participold" class="anchoimp" style="width : 159px" maxlength=5 min=0 max=100 step="0.01" style="width : 159px" onkeyup="javascript:CheckBox2(this,12);" TABINDEX=12 placeHolder="No Filtrar"><img src="images/accept.png" id="imagen12" style="width:16px;height:16px" onClick="CheckBox1(12)">
                </div>
                <div>
					<label for="paisResold" class="desresumen">Pa&iacute;s de residencia:</label>
					<select id="paisResold" style="width : 159px" onchange="javascript:CheckBox(this,15);" TABINDEX=15>
						<option value="No filtrar">No Filtrar</option>
						<option value="-">Vac&iacute;o</option>
					</select><img src="images/accept.png" id="imagen15" style="width:16px;height:16px">
				</div>	
				
                
                <div>
                    <label for="nudomiciold" class="desresumen" title="Domicilio3">Nro Domicilio:</label> 
                    <input type="text" id="nudomiciold" class="anchoimp" style="width : 159px" onkeyup="javascript:this.value=this.value.toUpperCase(),CheckBox2(this,18);" TABINDEX=18 placeHolder="No Filtrar"><img src="images/accept.png" id="imagen18" style="width:16px;height:16px" onClick="CheckBox1(18)">
                </div>
                <div>
                    <label for="codpostalold" class="desresumen" title="Codigo Postal">C&oacute;digo Postal:</label> 
                    <input type="text" id="codpostalold" class="anchoimp" style="width : 159px" maxlength="5" onkeyup="javascript:CheckBox2(this,21);" TABINDEX=21 placeHolder="No Filtrar"><img src="images/accept.png" id="imagen21" style="width:16px;height:16px" onClick="CheckBox1(21)">
                </div>
            </div>	
    	</fieldset>
    	</div>
    	
    	<!--segundo recuadro, primera columna  --> 
    	<div class="wrapper-95 buscador">
		 <fieldset>
    		<div class="three-columns">
    		 <div>
                    <label for="nbclient" class="desresumen" title="Nombre Cliente">Nombre del Cliente:</label> 
                    <input type="text" id="nbclient" class="anchoimp" style="width : 159px" maxlength="30" onkeyup="javascript:this.value=this.value.toUpperCase()" TABINDEX=22>
                </div>
                 <div>
					<label for="tpsocied" class="desresumen">Tipo Persona:</label>
					<select id="tpsocied" style="width : 159px" TABINDEX=25>
						<option value=""></option>
					</select>
				</div>
				<div>
					<label for="tptiPrep" class="desresumen">Tipo Titular:</label>
					<select id="tptiPrep" style="width : 159px" TABINDEX=28>
						<option value=""></option>
					</select>
				</div>
				<div>
					<label for="tipnac" class="desresumen">Tipo Nacionalidad:</label>
					<select id="tipnac" style="width : 159px" TABINDEX=31>
						<option value=""></option>
					</select>
				</div>
				<div>
					<label for="tpdomici" class="desresumen">Tipo Domicilio:</label>
					<select id="tpdomici" style="width : 159px" TABINDEX=34>
						<option value=""></option>
					</select>
				</div>	
                <div>
                    <label for="ciudad" class="desresumen" title="Ciudad">Ciudad:</label> 
                    <input type="text" id="ciudad" class="anchoimp" style="width : 159px" maxlength="40" onkeyup="javascript:this.value=this.value.toUpperCase()" TABINDEX=37>
                </div>
                
                
    		</div>
    		
    		<!--segundo recuadro, segunda columna  -->
    		<div class="three-columns">
               <div>
                    <label for="nbclient1" class="desresumen" title="Nombre Cliente">Primer Apellido:</label> 
                    <input type="text" id="nbclient1" class="anchoimp" style="width : 159px" maxlength="50" onkeyup="javascript:this.value=this.value.toUpperCase()" TABINDEX=23>
                </div>
               <div>
					<label for="tipoDocumento" class="desresumen">Tipo Documento:</label>
					<select id="tipoDocumento" style="width : 159px" TABINDEX=26>
						<option value=""></option>
					</select>
				</div>
				<div>
                    <label for="ccv" class="desresumen" title="CCV">CCV:</label> 
                    <input type="text" id="ccv" class="anchoimp" style="width : 159px" maxlength="20" TABINDEX=29>
                </div>
                <div>
					<label for="cdnacti" class="desresumen">Nacionalidad:</label>
					<select id="cdnacti" style="width : 159px" TABINDEX=32>
						<option value=""></option>
					</select>
				</div>
                <div>
                    <label for="nbdomici" class="desresumen" title="Domicilio2">Nombre Domicilio:</label> 
                    <input type="text" id="nbdomici" class="anchoimp" style="width : 159px" onkeyup="javascript:this.value=this.value.toUpperCase()" TABINDEX=35>
                </div>
                <div>
                    <label for="provincia" class="desresumen" title="Provincia">Provincia:</label> 
                    <input type="text" id="provincia" class="anchoimp" style="width : 159px" maxlength="25" onkeyup="javascript:this.value=this.value.toUpperCase()" TABINDEX=38>
                </div>
                
            </div>	
            
            <!--segundo recuadro, tercera columna  -->
            <div class="three-columns">
                <div>
                    <label for="nbclient2" class="desresumen" title="Segundo Apellido">Segundo Apellido:</label> 
                    <input type="text" id="nbclient2" class="anchoimp" style="width : 159px"  maxlength="30" onkeyup="javascript:this.value=this.value.toUpperCase()" TABINDEX=24>
                </div>
                 <div>
                    <label for="nudnicif" class="desresumen" title="Tipo Documento">Nro Documento:</label> 
                    <input type="text" id="nudnicif" class="anchoimp" style="width : 159px" maxlength="11" onkeyup="javascript:this.value=this.value.toUpperCase()" TABINDEX=27>
                </div>
                <div>
                    <label for="particip" class="desresumen" title="Participacion">Participación:</label> 
                    <input type="text" id="particip" class="anchoimp" style="width : 159px" maxlength=5 min=0 max=100 step="0.01" TABINDEX=30>
                </div>
                
                <div>
					<label for="paisRes" class="desresumen">Pa&iacute;s de residencia:</label>
					<select id="paisRes" style="width : 159px" TABINDEX=33>
						<option value=""></option>
					</select>
				</div>
               <div>
                    <label for="nudomici" class="desresumen" title="Domicilio3">Nro Domicilio:</label> 
                    <input type="text" id="nudomici" class="anchoimp" style="width : 159px" onkeyup="javascript:this.value=this.value.toUpperCase()" TABINDEX=36>
                </div>
                <div>
                    <label for="codpostal" class="desresumen" title="Codigo Postal">C&oacute;digo Postal:</label> 
                    <input type="text" id="codpostal" class="anchoimp" style="width : 159px" maxlength="5" TABINDEX=39>
                </div>
            </div>	
    	</fieldset>
    	</div>

    	<div class="centrar">
            <input class="btn buscador mybutton" type="submit" id="BtnBuscar"  value="Modificar" ng-show="isPermisoAccion(SecurityActions.MODIFICAR)" />
            <input class="mybutton" type="reset"  id="limpiarValores" value="Limpiar Filtros" />
        </div>
    </form>

</article>
<script src="js/site.js" type="text/javascript"></script>  
<div id="mensaje" class="dialogMensaje" ></div>
<div id="mensajeModificado" class="dialogMensaje" ></div>
<div id="fade" class="overlay"></div>
<!-- final DIV -->


