<article class="center">
  <div class="title_section clearfix">
    <div class="align-left">
      <p class="title">Generar Ordenes Fidessa</p>
    </div>
    
  </div>

  <div class="buscador" style="width: 500px;"   >
    <form id="formSelecFase">
     <fieldset>
    
        <div class="two-columns" >
          <div class="centrar" >
            <input class="btn buscador mybutton" type="submit" id="faseUno" value="Ejecutar Fase Uno"  ng-click="EjecutarFaseUno()" />
          </div> 
        </div>
  
        <div class="two-columns">
          <div class="centrar" >        
            <input class="btn buscador mybutton" type="submit" id="faseUno" value="Ejecutar Fase Dos"  ng-click="EjecutarFaseDos()" /> 
          </div>
        </div>
        
    </fieldset>      
    </form>
  </div>

  
<div id="cargarVentanaFaseUno" class="contenedorTabla">

  <p class="titleAlta" id="titleTitu">Fase Uno - Seleccionar Fichero</p>

  <form id="formVentanaFaseUno">
    <fieldset>
        <label  class="desresumen" for="filtro_fichero">Ficheros Disponibles:</label> 
        <select id="filtro_fichero" style="width:380px;" ng-model="ficheroSelect" ng-options="fichero.value for fichero in listFicheros">
        	<option value="" ng-if="false"></option>
        </select>
        <br/>
        <br/>
        <div class="centrar"  >        
          <input class="btn buscador mybutton" type="submit" id="faseUno" value="Continuar Fase Uno"  ng-click="ContinuarFaseUno()" /> 
        </div>      

    </fieldset>
    
  </form>
</div>  


  
<div id="cargarVentanaFaseDos" class="contenedorTabla" >
  <p class="titleAlta" id="titleTitu">Fase Dos </p>

  <form id="formVentanaFaseDos" >
        <fieldset >
          <label for="selecFicheroReglas" class="desresumen">Seleccione un fichero:</label> 
          <input type="file" style="width: 90%; margin-left: 7px; margin-top: 1px;" id="ficheroFaseDos" accept=".xlsx"  value=""/><br/>
          <br/>
          <br/>
          <div class="centrar"  >        
            <input class="btn buscador mybutton" type="submit" id="faseDos"   value="Continuar Fase Dos"  ng-click="ContinuarFaseDos()" /> 
          </div>          
        </fieldset>
  </form>
</div>  

</article>
<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>
<div id="dialog-confirm"></div>