<article class="center">  

    <div id="popup" style="display:none;">
        <span class="button b-close"><span>X</span></span>If you can't get it up use<br><span class="logo">bPopup</span>
    </div>

    <div class="title_section clearfix">
        <div class="align-left"><p class="title">Consulta Intereses de Financiaci&oacute;n</p></div>
        <div class="align-right"><a class="collapser_search cursor">Ocultar opciones de
                b&uacute;squeda</a>
        </div>
    </div>
    <form id="frmDatosIntereses" class="buscador" ng-submit="submitForm($event)">
        <fieldset>
            <div class="wrapper-95">
                <div class="three-columns">
                    <div>
                        <label for="fechaInicio" class="desresumen">Fecha Cont. Desde:</label> 
                        <input type="text" ng-model="filtro.fechaInicio"  id="fechaInicio" class="anchoimp" readonly="readonly">
                    </div>
                    <div>
                        <label for="fechaHasta" class="desresumen">Fecha Cont. Hasta:</label> 
                        <input type="text" ng-model="filtro.fechaHasta"  id="fechaHasta" class="anchoimp" readonly="readonly"> 
                    </div>
                    

                </div>       
                <div class="three-columns">
                    <div>
                        <label for="importeInteresesDesde" class="desresumen">Imp. Intereses De:</label> 
                        <input type="text" id="importeInteresesDesde" ng-model="filtro.importeInteresesDesde" class="anchoimp">
                    </div>
                    <div>
                        <label for="importeInteresesHasta" class="desresumen">Imp. Intereses A:</label> 
                        <input type="text" id="importeInteresesHasta" ng-model="filtro.importeInteresesHasta" class="anchoimp"> 
                    </div>
                </div>            
                <div class="three-columns">
                    <div>
                        <label for="estado" class="desresumen" style="width:120px !important;">Estado:</label>
                        <select id="estado" ng-model="filtro.estado" style="width:175px !important;" >	
                        	<option value=""></option>		                                     										
                            <option value="A">Alta</option>
                            <option value="B">Baja</option>
                            <option value="D">Descartado</option>										
                            								
                        </select>
		           	    <button id="btnInvEstado" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvEstado()">
		                    <span class="negrita" id="textBtnInvEstado">=</span>
		                </button>
		                <span id="textInvEstado" style="color:green;">IGUAL</span>	                        
                    </div>  
                    <div>
                        <label for="alias" class="desresumen" style="width:120px !important;">Alias: </label>
                        <input type="text" ng-model="filtro.alias" id="alias" class="anchoinp" style="width:175px !important;"/>
                        <button id="btnInvAlias" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvAlias()">
                    		<span class="negrita" id="textBtnInvAlias">=</span>
                		</button>
                		<span id="textInvAlias" style="color:green;">IGUAL</span>		            
                    </div>
                </div>
            </div>
        </fieldset>
        <div class="centrar">
            <input class="btn buscador mybutton" type="submit" value="Consultar" ng-click="Consultar()" />
            <input class="mybutton" type="reset"  id="limpiar" value="Limpiar Filtros" />
        </div>
    </form>					
    <div class="mensajeBusqueda" ng-bind="followSearch"></div>
    <div>						
        <div class="contenedorTabla"> 							
            <table id="tablaIntereses" class="fullTable" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th >Marcar</th>
                        <th >Referencia</th> 
                        <th >Estado</th>
                        <th >Sentido</th>
                        <th >Alias</th> 
                        <th >Mercado</th> 										 
                        <th >Isin</th>
                        <th >Titular</th> 
                        <th >Titulos</th>											
                        <th >Fecha Contrataci&oacute;n</th> 
                        <th >Fecha Operaci&oacute;n</th>
                        <th >Fecha Liquidac&iacute;on</th>
                        <th >Importe liquidado</th> 															
                        <th >Tipo inter&eacute;s</th> 
                        <th >Base</th> 																		 							
                        <th >Intereses</th> 																		 							
                    </tr>
                </thead>
                <tbody></tbody>	

            </table>

        </div>
    </div>
    <div class="piePagina">

        <input type="button" class="mybutton" id="btnMarcar" ng-click ="marcar()" value="Dar de baja" ng-show="isPermisoAccion(SecurityActions.BORRAR)">			
    </div>		
</article>


<!-- final DIV -->
<!-- Popups -->
<div id="avisoEnvioCalculoIntereses" class='tep'>
    <div>
        &iquest; Enviar al alias "<span id="textoDescriptivoAlias"></span>" los intereses generados hasta la fecha ?
    </div>
    <div class="centrar">
        <input class="mybutton" type="button" id="aceptoEnvioCalculoIntereses"
               value="Aceptar" ng-show="isPermisoAccion(SecurityActions.MODIFICAR)" />
        <input class="mybutton" type="button" id="canceloEnvioCalculoIntereses"
               value="Cancelar" />
    </div>
</div>

<div id="fade" class="overlay"></div>
<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>
