<article class="center">  
    <div id="popup" style="display:none;">
        <span class="button b-close"><span>X</span></span>If you can't get it up use<br><span class="logo">bPopup</span>
    </div>

    <div class="title_section clearfix">
        <div class="align-left"><p class="title">Control titulos de clientes</p></div>
        <div class="align-right"><a class="collapser_search cursor">Ocultar opciones de
                b&uacute;squeda</a>
        </div>
    </div>
    <form id="cargarTabla" ng-submit="submitForm($event)" class="buscador">
        <fieldset>
            <div class="wrapper-95">
                <div class="four-columns">
                    <div>
                        <label for="fcontratacionDe" class="desresumen">Fecha Contrataci&oacute;n Desde:</label> 
                        <input type="text" ng-model="filtro.fcontratacionDe" id="fcontratacionDe" class="anchoimp" readonly="readonly">
                    </div>
                    <div>
                        <label for="fcontratacionA" class="desresumen">Fecha Contrataci&oacute;n Hasta:</label> 
                        <input type="text" ng-model="filtro.fcontratacionA" id="fcontratacionA" class="anchoimp" readonly="readonly"> 
                    </div>
                </div>                    
                <div class="four-columns">
                    <div>
                        <label for="fliquidacionDe" class="desresumen">Fecha Liquidaci&oacute;n Desde:</label> 
                        <input type="text" ng-model="filtro.fliquidacionDe" id="fliquidacionDe" class="anchoimp" readonly="readonly">
                    </div>
                    <div>    
                        <label for="fliquidacionA" class="desresumen">Fecha Liquidaci&oacute;n Hasta:</label> 
                        <input type="text" ng-model="filtro.fliquidacionA" id="fliquidacionA" class="anchoimp" readonly="readonly">
                    </div>
                </div>	
                <div class="four-columns" style="width:250px !important; margin-left:30px;">
                    <div>
                        <label for="liquidado" class="desresumen" style="width:100px !important">Liquidado:</label>
                        <select id="liquidado" ng-model="filtro.liquidado" >	                                     										
                            <option value="N">NO</option>
                            <option value="S">SI</option>
                            <option value="" selected></option>										
                        </select>
                    </div>
                    <div>
                        <label for="contabilizado" class="desresumen" style="width:100px !important">Contabilizado:</label>
                        <select id="contabilizado" ng-model="filtro.contabilizado">
                            <option value=""></option>
                            <option value="S">Si</option>
                            <option value="N">No</option>
                        </select>
                    </div>                        
                    
                </div>
                
                <div class="four-columns" style="width:400px !important;">
                    <div>
                        <label for="alias" class="desresumen" style="width:75px !important">Alias: </label>
                        <input type="text" ng-model="filtro.alias" id="alias" class="anchoinp" style="width: 175px !important" />
                        <button id="btnInvAlias" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvAlias()">
                    		<span class="negrita" id="textBtnInvAlias">=</span>
                		</button>
                		<span id="textInvAlias" style="color:green;">IGUAL</span>	
                    </div>
                    
                    <div>
                        <label for="isin" class="desresumen" style="width:75px !important">Isin:</label> 
                        <input type="text" ng-model="filtro.isin" id="isin" class="anchoimp" onkeyup="javascript:this.value = this.value.toUpperCase()" style="width: 175px !important" />
                        <button id="btnInvIsin" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvIsin()">
                    		<span class="negrita" id="textBtnInvIsin">=</span>
                		</button>
                		<span id="textInvIsin" style="color:green;">IGUAL</span>                        
                    </div>                    

                </div>
                  
            </div>
        </fieldset>
        <div class="centrar">
            <input class="btn buscador mybutton" type="submit" id="BtnBuscar"  value="Consultar" ng-click="Consultar()" />
            <input class="mybutton" type="button"  id="limpiar" ng-click="clearFilters($event)" value="Limpiar Filtros" />
        </div>
    </form>
    <div class="mensajeBusqueda" ng-bind="followSearch"></div>
    <div>						
        <div class="contenedorTabla"> 							
            <table id="tblConsultaTitulos" class="fullTable ancha">
                <thead>
                    <tr>
                        <th >Marcar</th>
                        <th >Netting</th> 
                        <th >Liquidado</th>										
                        <th >Fecha operaci&oacute;n</th> 
                        <th >Fecha Liquidaci&oacute;n</th> 
                        <th >Alias</th> 
                        <th >Mercado</th> 										 
                        <th >Isin</th> 	
                        <th >Descripci&oacute;n</th>								
                        <th >Titulos</th> 
                        <th >Efectivo</th> 
                        <th >Corretaje</th> 																				
                        <th >Contabilizado</th> 
                        <th >Fecha Contabilizado</th>									 							
                    </tr>
                </thead>
                <tbody></tbody>	
                <tfoot>
                    <tr> 
                        <th style="background-color:#FFF"></th>
                        <th style="background-color:#FFF"></th>
                        <th style="background-color:#FFF"></th>
                        <th style="background-color:#FFF"></th>
                        <th style="background-color:#FFF"></th>
                        <th style="background-color:#FFF"></th>
                        <th style="background-color:#FFF"></th>
                        <th style="background-color:#FFF"></th> 
                        <th style="background-color:#FFF"></th>
                        <th class="taleft" style="background-color: #000 !important;">TOTALES</th>  
                        <th class="taleft" style="background-color: #f5ebc5; color:#000;"><div ng-bind="efectivoTotal"></div></th>  
                <th style="background-color:#FFF"></th>
                <th style="background-color:#FFF"></th> 
                <th style="background-color:#FFF"></th>
                </tr>
                </tfoot>							
            </table>												

        </div>
    </div>
    <div class="piePagina">
        <form ng-submit="marcar()" ng-show="isPermisoAccion(SecurityActions.MODIFICAR)">
            <fieldset>
                <label for="gastos" class="desresumen" >Gastos asociados:</label> 
                <input type="text" id="gastos" ng-model="gastos" required pattern="[0-9.]" class="anchoimp"> 
                <input type="submit" class="mybutton" id="btnMarcar" value="Aceptar" ng-show="isPermisoAccion(SecurityActions.MODIFICAR)">
            </fieldset>
        </form>
    </div>	
</article>

<div id="fade" class="overlay"></div>
<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>
