<article class="center"> 

    <div id="popup" style="display:none;">
        <span class="button b-close"><span>X</span></span>If you can't get it up use<br><span class="logo">bPopup</span>
    </div>
    <div class="title_section clearfix">
        <div class="align-left"><p class="title">Consulta Netting</p></div>
        <div class="align-right"><a class="collapser_search cursor">Ocultar opciones de
                b&uacute;squeda</a>
        </div>
    </div>
    <div class="buscador">
        <form id="cargarTabla" ng-submit="submitForm($event)" class="wrapper-95">
            <fieldset>
                <div class="three-columns">
                    <div>
                        <label for="fcontratacionDe" title="Fecha Contratación Desde" class="desresumen">Fecha Cont. Desde:</label> 
                        <input type="text" ng-model="filtro.fcontratacionDe" id="fcontratacionDe" class="anchoimp" readonly="readonly"/>
                    </div>
                    <div>
                        <label for="fcontratacionA" class="desresumen" title="Fecha Contratación Hasta">Fecha Cont. Hasta:</label> 
                        <input type="text" ng-model="filtro.fcontratacionA" id="fcontratacionA" class="anchoimp" readonly="readonly"/> 
                    </div>
                </div>                    
                <div class="three-columns">
                    <div>
                        <label for="fliquidacionDe" class="desresumen" title="Fecha Liquidación Desde">Fecha Liq. Desde:</label> 
                        <input type="text" ng-model="filtro.fliquidacionDe" id="fliquidacionDe" class="anchoimp" readonly="readonly">
                    </div>
                    <div>
                        <label for="fliquidacionA" class="desresumen" title="Fecha Liquidación Hasta">Fecha Liq. Hasta:</label> 
                        <input type="text" ng-model="filtro.fliquidacionA" id="fliquidacionA" class="anchoimp" readonly="readonly">
                    </div>
                </div>	
                <div class="three-columns">
                    <div>
                        <label for="liquidado" class="desresumen">Liquidado:</label>
                        <select id="liquidado" ng-model="filtro.liquidado" >	                                     										
                            <option value="N">NO</option>
                            <option value="S">SI</option>
                            <option value=""></option>										
                        </select>
                    </div>
 	          
	                <div>
	                    <label for="alias" class="desresumen">Alias: </label>
	                    <input type="text" ng-model="filtro.alias" id="alias" class="anchoinp" style="width:175px !important;"/>  
	                    <button id="btnInvAlias" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvAlias()">
	                    	<span class="negrita" id="textBtnInvAlias">=</span>
	                	</button>
	                	<span id="textInvAlias" style="color:green;">IGUAL</span>	                                
	                </div>
	                <div>        
	                    <label for="isin" class="desresumen">Isin:</label> 
	                    <input type="text" ng-model="filtro.isin" id="isin" class="anchoimp" onkeyup="javascript:this.value = this.value.toUpperCase()" style="width:175px !important;"/>
			            <button id="btnInvIsin" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvIsin()">
		                    <span class="negrita" id="textBtnInvIsin">=</span>
		                </button>
		                <span id="textInvIsin" style="color:green;">IGUAL</span>	                    
	                </div> 
                </div> 
                <div class="centrar">
	                <input class="btn buscador mybutton" type="submit" id="BtnBuscar"  value="Consultar"  ng-click="Consultar()"/>
	                <input class="mybutton" type="button"  id="limpiar" ng-click="limpiarFiltros($event)" value="Limpiar Filtros" />
           		</div>                  
			  </div>
            </fieldset>

        </form>
    </div>
    <div class="mensajeBusqueda" ng-bind="followSearch"></div>
    <div>						
        <div class="contenedorTabla"> 							
            
            <table id="tablaNetting" class="tablaPrueba ancha">
                <thead>
                    <tr>
                        <th >Liquidaci&oacute;n</th> 
                        <th >Netting</th>
                        <th >Liquidado</th>
                        <th >Fecha operaci&oacute;n</th> 
                        <th >Fecha Liquidaci&oacute;n</th> 
                        <th >Alias</th> 
                        <th >Mercado</th> 										 
                        <th >Isin</th> 	
                        <th >Descripci&oacute;n</th>								
                        <th >Titulos</th> 
                        <th >Efectivo</th> 
                        <th >Corretaje</th>										
                        <th >Contabilizado</th> 
                        <th >Fecha Contabilizado</th>									 							
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</article>
<div id="fade" class="overlay"></div>
<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>


