<article class="center">
  <form action="/sibbac20back/rest/export" method="post" name="export" id="export" target="export">
    <input type="hidden" name="webRequest" id="webRequest" value="">
  </form>
  <div id="popup" style="display: none;">
    <span class="button b-close">
      <span>X</span>
    </span>
    If you can't get it up use<br>
    <span class="logo">bPopup</span>
  </div>
  <div class="title_section clearfix">
    <div class="align-left">
      <p class="title">Control de Titulares</p>
    </div>

    <div class="align-right">
      <a class="collapser_search cursor">Ocultar opciones de b&uacute;squeda</a>
    </div>
  </div>
  <div class="buscador">
    <form id="cargarTabla">
      <fieldset>
        <div class="three-columns">
          <!-- 1 Columna -->
          <div>
            <label for="fcontratacionDe" class="desresumen">Fecha Contrataci&oacute;n Desde:</label>
            <input type="text" id="fcontratacionDe" class="anchoinp" placeholder="dd/mm/yyyy"
              pattern="\d{1,2}/\d{1,2}/\d{4}" readonly="readonly"
            />
          </div>
          <div>
            <label for="mercado" class="desresumen">Mercado:</label>
            <select ng-model="filtro.mercadoNacInt" id="mercado" class="anchoinp"
                    ng-options="mercado.value as mercado.label for mercado in mercados">
            </select>
          </div>

          <div>
            <label for="nombreTitular" class="desresumen" style="float: left;">Nombre titular:</label>
            <div style="width: 235px; margin-left: 4px; margin-top: 7px;" class="anchoinp">
              <input type="text" id="nombreTitular" class="anchoinp" maxlength=30
                onkeyup="javascript:this.value = this.value.toUpperCase()"
              />
              <input type="hidden" id="idTxNombreTitular" />
              <select id="selectedNombreTitular" class="anchoinp" multiple="multiple" 
                    size="4"></select>
              <button id="btnAddNombreTitular" title="Añadir el nombre seleccionado."
                style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnAddNombreTitular()"
              >
                <span class="negrita">+</span>
              </button>
              <button id="btnDelNombreTitular" title="Eliminar el nombre seleccionado."
                style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnDelNombreTitular()"
              >
                <span class="negrita">-</span>
              </button>
              <button title="Cambiar el sentido de la busqueda"
                style="width: 40px; margin-left: 4px; margin-top: 1px;" 
                ng-click="filtro.nbclientEq = !filtro.nbclientEq">
                <span class="negrita" sb-muestra-bool-signo value="filtro.nbclientEq">
                </span>
              </button>
              <span sb-muestra-incluidos value="filtro.nbclientEq"></span>
            </div>
          </div>

          <div>
            <label for="apellido1" class="desresumen" style="float: left;">1er Apellido:</label>
            <div style="width: 235px; margin-left: 4px; margin-top: 7px;" class="anchoinp">
              <input type="text" id="apellido1" class="anchoinp" maxlength=50
                onkeyup="javascript:this.value = this.value.toUpperCase()"
              />
              <input type="hidden" id="idTxApellido1" />
              <select id="selectedApellido1" class="anchoinp" multiple="multiple" size="4"></select>
              <button id="btnAddApellido1" title="Añadir el 1er apellido seleccionado."
                style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnAddApellido1()"
              >
                <span class="negrita">+</span>
              </button>
              <button id="btnDelApellido1" title="Eliminar el 1er apellido seleccionado."
                style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnDelApellido1()"
              >
                <span class="negrita">-</span>
              </button>
              <button  title="Cambiar el sentido de la busqueda"
                style="width: 40px; margin-left: 4px; margin-top: 1px;" 
                ng-click="filtro.nbclient1Eq = !filtro.nbclient1Eq">
                <span class="negrita" sb-muestra-bool-signo value="filtro.nbclient1Eq">
                </span>
              </button>
              <span sb-muestra-incluidos value="filtro.nbclient1Eq">
              </span>
            </div>
          </div>

          <div>
            <label for="tipoConsulta" class="desresumen">Tipo de b&uacute;queda:</label>
            <select id="tipoConsulta" ng-model="filtro.tipoConsulta"  class="anchoinp"
                ng-options="tipo.value as tipo.label for tipo in tiposConsulta">
            </select>
          </div>
        </div>

        <div class="three-columns">
          <!-- 2 Columna -->
          <div>
            <label for="textCodigo" class="desresumen">Fecha Contrataci&oacute;n Hasta:</label>
            <input type="text" id="fcontratacionA" class="anchoinp" placeholder="dd/mm/yyyy"
              pattern="\d{1,2}/\d{1,2}/\d{4}" readonly="readonly"
            />
          </div>
          <div>
            <label for="sentido" class="desresumen">Sentido:</label>
            <select ng-model="filtro.sentido" id="sentido" class="anchoinp">
              <option value=""></option>
              <option value="C">COMPRA</option>
              <option value="V">VENTA</option>
            </select>
          </div>

          <div>
            <label for="apellido2" class="desresumen" style="float: left;">2&ordm; Apellido:</label>
            <div style="width: 235px; margin-left: 4px; margin-top: 7px;" class="anchoinp">
              <input type="text" id="apellido2" class="anchoinp" maxlength=30
                onkeyup="javascript:this.value = this.value.toUpperCase()"
              />
              <input type="hidden" id="idTxApellido2" />
              <select id="selectedApellido2" class="anchoinp" multiple="multiple" size="4"></select>
              <button id="btnAddApellido2" title="Añadir el 2&deg; apellido seleccionado."
                style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnAddApellido2()"
              >
                <span class="negrita">+</span>
              </button>
              <button id="btnDelApellido2" title="Eliminar el 2&deg; apellido seleccionado."
                style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnDelApellido2()"
              >
                <span class="negrita">-</span>
              </button>
              <button  title="Cambiar el sentido de la busqueda"
                style="width: 40px; margin-left: 4px; margin-top: 1px;" 
                ng-click="filtro.nbclient2Eq = !filtro.nbclient2Eq" >
                <span class="negrita" sb-muestra-bool-signo value="filtro.nbclient2Eq"></span>
              </button>
              <span sb-muestra-incluidos value="filtro.nbclient2Eq"></span>
            </div>
          </div>

          <div>
            <label for="nif" class="desresumen" style="float: left;">Documento del titular:</label>
            <div style="width: 235px; margin-left: 4px; margin-top: 7px;" class="anchoinp">
              <input type="text" id="nif" class="anchoinp" onkeyup="javascript:this.value = this.value.toUpperCase()" />
              <input type="hidden" id="idTxNif" />
              <select id="selectedNif" class="anchoinp" multiple="multiple" size="4"></select>
              <button id="btnAddNif" title="Añadir el documento seleccionado."
                style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnAddNif()"
              >
                <span class="negrita">+</span>
              </button>
              <button id="btnDelNif" title="Eliminar el documento seleccionado."
                style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnDelNif()"
              >
                <span class="negrita">-</span>
              </button>
              <button title="Cambiar el sentido de la busqueda"
                style="width: 40px; margin-left: 4px; margin-top: 1px;" 
                ng-click="filtro.nudnicifEq = !filtro.nudnicifEq">
                <span class="negrita" sb-muestra-bool-signo value="filtro.nudnicifEq"></span>
              </button>
              <span sb-muestra-incluidos value="filtro.nudnicifEq">
            </div>
          </div>

          <div id="diverrorcode" ng-show="filtro.tipoConsulta === 2 || filtro.tipoConsulta === 3">
            <label id="labelerrorcode" for="errorcode" class="desresumen">C&oacute;digo de error:</label>
            <select ng-model="filtro.errorCode" id="errorcode" class="anchoinp" style="width: 175px !important"
                ng-options="e.codigo as e.descripcion for e in errorList ">
              <option></option>
            </select>
            <button id="btnInverrorcode" title="Cambiar el sentido de la busqueda"
              style="width: 40px; margin-left: 4px; margin-top: 1px;" 
              ng-click="filtro.errorCodeEq = !filtro.errorCodeEq">
              <span class="negrita" sb-muestra-bool-signo value="filtro.errorCodeEq">
            </button>
            <span sb-muestra-igual value="filtro.errorCodeEq"></span>
          </div>

        </div>

        <div class="three-columns">
          <!-- 3 Columna -->

          <div>
            <label for="textAlias" class="desresumen" style="float: left;">Alias:</label>
            <div style="width: 235px; margin-top: 7px;">
              <input type="text" id="textAlias" class="anchoinp"
                onkeyup="javascript:this.value = this.value.toUpperCase()"
              />
              <input type="hidden" id="idTxAlias" />
              <select id="selectedAlias" class="anchoinp" multiple="multiple" size="4"></select>
              <button id="btnDelAlias" title="Eliminar Alias seleccionado."
                style="width: 40px; margin-left: 4px; margin-top: 1px;"
              >
                <span class="negrita">-</span>
              </button>
              <button title="Cambiar el sentido de la busqueda"
                style="width: 40px; margin-left: 4px; margin-top: 1px;" 
                ng-click="filtro.aliasEq = !filtro.aliasEq">
                <span class="negrita" sb-muestra-bool-signo value="filtro.aliasEq"></span>
              </button>
              <span sb-muestra-incluidos value="filtro.aliasEq"></span>
            </div>
          </div>

          <div>
            <label for="textIsin" class="desresumen" style="float: left;">Isin:</label>
            <div style="width: 235px; margin-top: 7px;">
              <input type="text" id="textIsin" class="anchoinp" 
                onkeyup="javascript:this.value = this.value.toUpperCase()"
              />
              <input type="hidden" id="idTxIsin" />
              <select id="selectedIsin" class="anchoinp" multiple="multiple" size="4"></select>
              <button id="btnDelIsin" title="Eliminar Isin seleccionado."
                style="width: 40px; margin-left: 4px; margin-top: 1px;"
              >
                <span class="negrita">-</span>
              </button>
              <button title="Cambiar el sentido de la busqueda"
                style="width: 40px; margin-left: 4px; margin-top: 1px;" 
                ng-click="filtro.isinEq = !filtro.isinEq">
                <span class="negrita" sb-muestra-bool-signo value="filtro.isinEq"></span>
              </button>
              <span id="textInvIsin" sb-muestra-incluidos value="filtro.isinEq"></span>
            </div>
          </div>

          <div>
            <label for="nureford" class="desresumen">Referencia Cliente:</label>
            <input type="text" id="nureford" ng-model="filtro.refCliente" class="anchoinp" maxlength=32
              onkeyup="javascript:this.value = this.value.toUpperCase()" style="width: 175px !important"
            >
            <button title="Cambiar el sentido de la busqueda"
              style="width: 40px; margin-left: 4px; margin-top: 1px;" 
              ng-click="filtro.refClienteEq = !filtro.refClienteEq">
              <span class="negrita" sb-muestra-bool-signo value="filtro.refClienteEq"></span>
            </button>
            <span sb-muestra-igual value="filtro.refClienteEq"></span>
          </div>

          <div>
            <label for="nbooking" class="desresumen">Booking:</label>
            <input type="text" id="nbooking" ng-model="filtro.nbooking" class="anchoinp" maxlength=30
              onkeyup="javascript:this.value = this.value.toUpperCase()" style="width: 175px !important"
            >
            <button title="Cambiar el sentido de la busqueda"
              style="width: 40px; margin-left: 4px; margin-top: 1px;" 
              ng-click="filtro.nbookingEq = !filtro.nbookingEq">
              <span class="negrita" sb-muestra-bool-signo value="filtro.nbookingEq"></span>
            </button>
            <span sb-muestra-igual value="filtro.nbookingEq"></span>
          </div>
        </div>
      </fieldset>
    </form>

    <div class="centrar">
      <input class="btn buscador mybutton" type="submit" id="BtnBuscar" value="Consultar" ng-click="Consultar()" />
      <input class="mybutton" type="reset" id="limpiar" value="Limpiar Filtros" ng-click="limpiaFiltros()" />
    </div>
  </div>
</article>

<div id="fade" class="overlay"></div>
<div>
  <input class="btn buscador mybutton" style="float: right; display: none;" type="button" id="BtRefrescar"
    value="Refrescar" ng-click="Refrescar()"
  />
</div>

<div>
  <div class="contenedorTabla">
    <table id="tablaConsultaTitulares" class="fullTable" cellspacing="0">
      <thead>
        <tr>
          <!-- 0 -->
          <th>Editar</th>
          <th>Error</th>
          <th>Booking</th>
          <th>Ref. Cliente</th>
          <th>CCV</th>
          <th>Sentido</th>
          <th>Isin</th>
          <th>Titulos</th>
          <th>P.Ejecuci&oacute;n</th>
          <th>Mercado</th>
          <!-- 10 -->
          <th>Nombre</th>
          <th>1erApellido</th>
          <th>2&ordm;Apellido</th>
          <th>Documento</th>
          <th>T.Documento</th>
          <th>T.Persona</th>
          <th>P.Residencia</th>
          <th>T.Nacionalidad</th>
          <th>Domicilio</th>
          <th>Poblaci&oacute;n</th>
          <th>Provincia</th>
          <!-- 20 -->
          <th>Cod. Postal</th>
          <th>Tipo titular</th>
          <th>% Participaci&oacute;n</th>
          <th>Fecha Contrataci&oacute;n</th>
          <th>Id. Alias</th>
          <th>Nombre Alias</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    <div class="centrar">
      <input class="mybutton" type="button" id="ImportarFichero" value="Importar Fichero" ng-click="ImportarFichero()" 
        ng-show="botones.importarVisible && isPermisoAccion(SecurityActions.IMPORTAR_FICHERO)" />
      <input class="mybutton" type="button" id="CheckearErrors" value="Checkear Errores"
        ng-click="CheckErrors()"  ng-show="isPermisoAccion(SecurityActions.CHEQUEAR_ERRORES)"
      />
      <input class="mybutton" type="button" id="MarcarTod" value="{{ btnMarcarTodos }}"
        ng-click="selececionarCheck()" ng-show="botones.visibles"
      />
      <input class="mybutton" type="button" id="MarcarPag" value="Marcar P&aacute;gina" 
        ng-click="selececionarCheckPag()" ng-show="botones.visibles"
      />
      <input class="mybutton" type="button" id="AnyadirTitulares" value="Añadir nuevo" 
        ng-show="botones.visibles && isPermisoAccion(SecurityActions.CREAR)"
        ng-click="editaTitulares('anyadir')"
      />
      <input class="mybutton" type="button" value="Añadir Final Holders " title="Importar desde Final Holders"
        ng-show="botones.visibles && isPermisoAccion(SecurityActions.CREAR)"
        ng-click="openImportaDialog()"/>
      <input class="mybutton" type="button" id="ModificarTitulares" value="Modificar"
        ng-click="editaTitulares('modificar')" 
        ng-show="filtro.tipoConsulta !== 4 && botones.visibles && isPermisoAccion(SecurityActions.MODIFICAR)"
      />
      <input class="mybutton" type="button" id="BorrarTitulares" value="Eliminar"
        ng-click="eliminaTitulares()" ng-show="botones.visibles && isPermisoAccion(SecurityActions.BORRAR)"
      />
    </div>
  </div>
</div>

<div ng-controller="ControlTitularesDialogController" id="formulariotitulares" class="modal modal-alto-500" 
    style="border: 1px solid black; width: 66%; left: 15%">
  <div class="esquinar">
    <a ng-click="cerrar()" id="cerrarTitulares"><img src="img/closeModal.png" title="Cerrar Ventana"
        style="cursor: pointer;"
      /></a>
  </div>

  <p class="titleAlta" id="titleTitu">{{ titleTitu }}</p>

  <form id="cargarTitutalaresDatos" name="formTitulares">
    <fieldset>
      <div class="four-columns">
        <label for="nuorden_SE" class="desresumen">N&ordm; Orden</label>
        <input type="text" id="nuorden_SE" name="nuorden" ng-model="desgloseId.nuorden" class="anchoinp2" 
            maxlength=30 tabindex="1" onkeyup="javascript:this.value = this.value.toUpperCase()"
            disabled="disabled">
        <label for="tpnaci_TI" class="desresumen">Tipo Nacionalidad</label>
        <select id="tpnaci_TI" name="tpnactit" ng-model="titular.tpnactit" class="anchoinp2" tabindex="5"
            ng-options="n.codigo as n.descripcion for n in tiposNacionalidad">
          <option value=""></option>
        </select>
        <label for="tpdocu_TI" class="desresumen">Tipo Documento</label>
        <select id="tpdocu_TI" name="tpidenti" ng-model="titular.tpidenti" class="anchoinp2" tabindex="9"
            ng-options="t.codigo as t.descripcion for t in tiposIdentificacion">
          <option value=""></option>
        </select>
        <label for="nombre_TI" class="desresumen">Nombre</label>
        <input type="text" name="nbcliente" ng-model="titular.nbcliente" id="nombre_TI" class="anchoinp2" maxlength=30 
            tabindex="13"
            onkeyup="javascript:this.value = this.value.toUpperCase()"
        >
        <label for="tpdomi_TI" class="desresumen">Tipo de Via</label>
        <select id="tpdomi_TI" class="anchoinp2" name="tpdomici" ng-model="titular.tpdomici" tabindex="17"
            ng-options="v.cdviapub as v.descripcion for v in tiposVia">
          <option value=""></option>
        </select>
        <label for="provin_TI" class="desresumen">Provincia</label>
        <input type="text" id="provin_TI" name="nbprovin" ng-model="titular.nbprovin" class="anchoinp2" 
            maxlength=25 tabindex="21"
            onkeyup="javascript:this.value = this.value.toUpperCase()">
        <label for="tptipr_TI" class="desresumen">Tipo de titular</label>
        <select id="tptipr_TI" class="anchoinp2" name="tptiprep" ng-model="titular.tptiprep" tabindex="25"
            ng-options="t.codigo as t.descripcion for t in tiposPrep">
          <option value=""></option>
        </select>
      </div>

      <div class="four-columns">
        <label for="nbooking_SE" class="desresumen">N&ordm; Booking</label>
        <input type="text" id="nbooking_SE" name="nbooking" ng-model="desgloseId.nbooking" class="anchoinp2" 
            maxlength=30 tabindex="2" onkeyup="javascript:this.value = this.value.toUpperCase()"
            disabled
        >
        <label for="cdnaci_TI" class="desresumen">Nacionalidad</label>
        <select id="cdnaci_TI" class="anchoinp2" name="cdnactit" ng-model="titular.cdnactit" tabindex="6"
                ng-options="n.cdispais as n.descripcion for n in nacionalidades">
          <option value=""></option>
        </select>
        <label for="nif_TI" class="desresumen">N&ordm; Documento</label>
        <input type="text" id="nif_TI" name="nudnicif" ng-model="titular.nudnicif" class="anchoinp2" 
            maxlength=11 tabindex="10"
            onkeyup="javascript:this.value = this.value.toUpperCase()">
        <label for="apellido1_TI" class="desresumen">1er Apellido</label>
        <input type="text" name="nbcliente1" ng-model="titular.nbcliente1" id="apellido1_TI" class="anchoinp2" 
            maxlength=50 tabindex="14"
            onkeyup="javascript:this.value = this.value.toUpperCase()">
        <label for="nbdomi_TI" class="desresumen">Domicilio</label>
        <input type="text" id="nbdomi_TI" name="nbdomici" ng-model="titular.nbdomici" class="anchoinp2" 
            tabindex="18" onkeyup="javascript:this.value = this.value.toUpperCase()">
        <label for="cdpost_TI" class="desresumen">C&oacute;digo Postal</label>
        <input type="text" id="cdpost_TI" name="cdpostal" ng-model="titular.cdpostal" class="anchoinp2" 
            maxlength="5" tabindex="22"
            onkeyup="javascript:this.value = this.value.toUpperCase()">
        <label for="tpsoci_TI" class="desresumen">Tipo de sociedad</label>
        <select id="tpsoci_TI" name="tpsocied" ng-model="titular.tpsocied" class="anchoinp2" tabindex="26"
            ng-options="t.codigo as t.descripcion for t in tiposSociedad">
          <option value=""></option>
        </select>
      </div>

      <div class="four-columns">
        <label for="nucnfclt_SE" class="desresumen">Desglose cliente</label>
        <input type="text" id="nucnfclt_SE" name="nucnfclt" ng-model="desgloseId.nucnfclt" class="anchoinp2" 
            maxlength="30" tabindex="3" onkeyup="javascript:this.value = this.value.toUpperCase()"
            disabled
        >
        <label for="paires_TI" class="desresumen">Pais Residencia</label>
        <select id="paires_TI" name="cddepais" ng-model="titular.cddepais" class="anchoinp2" tabindex="7" 
            ng-options="p.id.cdhppais as p.descripcion for p in paisesResidencia">
          <option value=""></option>
        </select>
        <label class="desresumen">&nbsp;</label>
        <input type="text" class="anchoinp2" maxlength=30 tabindex="11" style="visibility: hidden;">
        <label for="apellido2_TI" class="desresumen">2&ordm; Apellido</label>
        <input type="text" name="nbcliente2" ng-model="titular.nbcliente2" id="apellido2_TI" class="anchoinp2" maxlength="30" tabindex="15"
          onkeyup="javascript:this.value = this.value.toUpperCase()"
        >
        <label for="nudomi_TI" class="desresumen">N&ordm; domicilio</label>
        <input type="text" id="nudomi_TI" name="nudomici" ng-model="titular.nudomici" class="anchoinp2" tabindex="19"
          onkeyup="javascript:this.value = this.value.toUpperCase()"
        >
        <label class="desresumen">&nbsp;</label>
        <input type="text" class="anchoinp2" maxlength=30 tabindex="23" style="visibility: hidden;">
        <label for="partic_TI" class="desresumen">% de participaci&oacute;n</label>
        <input type="number" id="partic_TI" name="particip" ng-model="titular.particip" class="anchoinp2" maxlength=5 
            min=0 max=100 step="0.01" tabindex="27">
      </div>

      <div class="four-columns">
        <label for="nucnfliq_SE" class="desresumen">Desglose liquidaci&oacute;n</label>
        <input type="text" id="nucnfliq_SE" name="nucnfliq" ng-model="desgloseId.nucnfliq" 
            class="anchoinp2" maxlength=30 tabindex="4" ng-show="desgloseId.nucnfliq"
            onkeyup="javascript:this.value = this.value.toUpperCase()" disabled>
        <label class="desresumen">&nbsp;</label>
        <input type="text" class="anchoinp2" maxlength=30 tabindex="8" style="visibility: hidden;">
        <label class="desresumen">&nbsp;</label>
        <input type="text" class="anchoinp2" maxlength=30 tabindex="12" style="visibility: hidden;">
        <label class="desresumen">&nbsp;</label>
        <input type="text" class="anchoinp2" maxlength=30 tabindex="16" style="visibility: hidden;">
        <label for="ciudad_TI" class="desresumen">Ciudad</label>
        <input type="text" id="ciudad_TI" name="nbciudad" ng-model="titular.nbciudad" class="anchoinp2" maxlength=40 
            tabindex="20" onkeyup="javascript:this.value = this.value.toUpperCase()">
        <label class="desresumen">&nbsp;</label>
        <input type="text" class="anchoinp2" maxlength=30 tabindex="24" style="visibility: hidden;">
        <label for="ccv_TI" class="desresumen">CCV</label>
        <input type="text" id="ccv_TI" name="ccv" ng-model="titular.ccv" class="anchoinp2" maxlength=20 tabindex="28">
        <label for="nurefo_TI" class="desresumen" style="visibility: hidden;">N&ordm; Referencia</label>
        <input type="text" id="nurefo_TI" class="anchoinp2" maxlength=32 style="visibility: hidden;">
      </div>
    </fieldset>

    <div> 
      <input class="btn mybutton" type="submit" id="guardarTitu" value="Guardar" data="alta"
        style="float: right;" ng-click="Guardar()" ng-disabled="formTitulares.$pristine" />
      <input class="btn mybutton" type="button" value="Siguiente Titular"
        style="float: right; margin-right: 5px;" ng-click="siguiente()" ng-show="siguienteVisible" /> 
      <input class="btn mybutton" type="button" value="Anterior Titular" 
        style="float: right; margin-right: 5px;" ng-click="anterior()" ng-show="anteriorVisible" />
    </div>
  </form>
</div>

<div id="cargarFichero" class="modal modalImportFich" align style="display: none;">
  <div class="esquinar">
    <a id="cerrarimportacion" data-dismiss="modal"><img src="img/closeModal.png" title="Cerrar Ventana" style="cursor: pointer;" /></a>
  </div>
  <p class="titleAlta" id="titleTitu">Importaci&oacute;n de Fichero</p>

  <form id="formSelecFile">
    <fieldset>
      <label for="selecFichero" class="desresumen">Seleccione un fichero:</label>
      <input type="file" id="selecFichero"/>
    </fieldset>
  </form>
</div>

<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje"></div>
<div id="mensajeBorrado" class="dialogMensaje"></div>
<div id="mensajeCreado" class="dialogMensaje"></div>
<div id="mensajeModificado" class="dialogMensaje"></div>

<div id="importaFinalHoldersDialog">
  <div ng-controller="ImportaFinalHoldersDialogController as importaCtrl"> 
	  <div class="buscador">
	    <form name="filters" ng-submit="importaCtrl.executeQuery()">
	      <fieldset>
	       <label  class="desresumen">Nombre o Documento:</label>
	       <input type="text" size="40" ng-model="importaCtrl.filter.name" required="required" auto-uppercase />
	      </fieldset>
	    </form>
      <div class="centrar">
        <input class="btn mybutton" type="submit" value="Consultar" ng-disabled="filters.$invalid"
          ng-click="importaCtrl.executeQuery()"/> 
        <input class="mybutton" type="button" value="Limpiar" ng-click="importaCtrl.filter = {}">
      </div>
	  </div>
    <div style="text-align: right;">  
      <input type="text" ng-model="importaCtrl.singleFilterValue" placeholder="Buscar..."
        ng-change="importaCtrl.refreshSingleFilter()" size="30" auto-uppercase="auto-uppercase" />
    </div>
	  <div ui-grid="importaCtrl.grid" ui-grid-selection ui-grid-pagination ui-grid-resize-columns></div>
  </div>
</div>
