<link rel="stylesheet" href="css/triggers.css">
<div id="core" class="">
	<article class="center" id="dentro">
		<div class="title_section clearfix">
            <div class="align-left">
                <p class="title">Desgloses Partenon</p>
            </div>
            <div class="align-right">
            	<a class="collapser_search curson">Ocultar opciones de b&uacute;squeda</a>
        	</div>
        </div>
        <div class="buscador">
	        <form id="cargarTabla" class="wrapper-95" ng-submit="cargarTabla()">
	        	<fieldset>
	                <div class="three-columns">
	   					 <div>
		                    <label for="fechaDe" class="desresumen">Fecha Desde:&nbsp;<span>(*)</span>
		                    </label> <input type="text" datepicker id="fechaDe" required class="anchoimp" 
		                                    pattern="\d{1,2}/\d{1,2}/\d{4}" title="La fecha introducida no es válida." readonly="readonly"/>
		                 </div>
	                </div>
	                <div class="three-columns">
	                	<div>
		                     <label for="fechaA" class="desresumen">Fecha Hasta:</label>
								<input type="text" id="fechaA" datepicker class="anchoimp" pattern="\d{1,2}/\d{1,2}/\d{4}" title="La fecha introducida no es válida." readonly="readonly"/>
						</div>
	                </div>
	                
	                <div class="three-columns">
	                    <div>
	                        <label for="cdisin" class="desresumen">Isin:</label> 
	                        <input type="text" id="cdisin" class="anchoinp"> 
	                    </div>
	                </div>
	            </fieldset>
	            <div class="centrar">
	                <input class="btn buscador mybutton" type="submit" id="buscar" value="Consultar" /> 
	                <input class="mybutton"
	                       type="reset" id="limpiar" value="Limpiar Filtros" ng-click="LimpiarFiltros()"/>
	            </div>
	        </form>
    	</div>
    	<div class="mensajeBusqueda" ng-bind="menBusDesgloseMQ"></div>
    	<div class="resultados">
    		<p class="subtitle">Ordenes </p>	        
            <table id="tblOrdenesMQ">
                <thead>
                    <tr>
                        <th>Validar</th>
                        <th>Acciones</th>                        
                        <th>N. Orden.</th>
                        <th>Cod. SV</th>
                        <th>F. ejecuci&oacute;n</th>
                        <th>Tipo operaci&oacute;n</th>
                        <th>Titulos</th>
                        <th>TitulosSV</th>
                        <th>Nominal </th>
                        <th>Isin</th>
                        <th>descripcion</th>
                        <th>Bolsa negociaci&oacute;n</th>
                        <th>Tipo saldo</th>
                        <th>E. Liquidadora</th>
                        <th>Tipo cambio</th>
                        <th>Validado</th>
                        <th>Procesado</th>
                    </tr>                    
                </thead>
                <tbody></tbody>
            </table>	        
	        <div class="centrar">
	            <input class="mybutton" type="button" id="MarcarTodOrdenes"        value="Marcar Todos" style="display:none;" ng-click="selececionarCheckOrdenes()" />
	            <input class="mybutton" type="button" id="MarcarPagOrdenes"        value="Marcar P&aacute;gina" style="display:none;" ng-click="selececionarCheckPagOrdenes()"/>
	            <input class="mybutton" type="button" id="ValidarDesgloses" value="Validar" ng-click="validarDesgloses()" ng-show="isPermisoAccion(SecurityActions.VALIDAR)" />
	        </div>
	        <p class="subtitle">Desgloses <span class="subtitle" ng-bind="numOrden"></span></p>
	        <table id="tblDesglosesMQ" class="fullTable ancha jobs" style="margin: 4px 0px 12px 0px" class="currentJobs"> 
	            <thead>
	                <tr> 	                   
	                    <th>Acciones</th>
	                    <th>Fecha</th>
	                    <th>N. referencia</th>
	                    <th>Sentido</th>
	                    <th>Bolsa negociaci&oacute;n</th>
	                    <th>Isin</th>	                   
	                    <th>Titulos</th>
	                    <th>Precio</th>
	                    <th>Tipo Saldo</th>
	                    <th>CCV</th>
	                    <th>Titular</th>
	                    <th>Entidad liquidadora</th>
	                    <th>Tipo cambio</th>
	                </tr> 
	            </thead>
                <tbody></tbody>
            </table>
            <div class="centrar">
            	<input class="mybutton" type="button" id="MarcarTodDesgloses"        value="Marcar Todos" style="display:none;" ng-click="selececionarCheckDesgloses()" />
	            <input class="mybutton" type="button" id="MarcarPagDesgloses"        value="Marcar P&aacute;gina" style="display:none;" ng-click="selececionarCheckPagDesgloses()"/>
	            <!-- <input class="mybutton" type="button" id="guardarTitulares" value="Pasar Titulares" style="display:none;" ng-click="pasarTitularesAfi()" />-->
	        </div>
	    </div>
        <div class="piePagina"></div>
	</article>	
</div>
<div id="dialog-confirm"></div>
<div id="mensaje" class="dialogMensaje" ></div>
<div id="mensajeBorrado" class="dialogMensaje" ></div>
<div id="mensajeCreado" class="dialogMensaje" ></div>
<div id="mensajeModificado" class="dialogMensaje" ></div>