<article class="center">
	  <div class="title_section clearfix">
	    <div class="align-left">
	      <p class="title">Consulta Desgloses por Macro</p>
	    </div>
	    <div class="align-right">
	      <a class="collapser_search cursor">Ocultar opciones de b&uacute;squeda</a>
	    </div>
	  </div>
	  <div class="buscador wrapper-95">
	    <form ng-submit="submitForm($event)">
	      <fieldset>
	        <div class="three-columns">
		        <div>
			        <label for="fcontratacionDe" class="desresumen">Fecha Contrataci&oacute;n Desde:</label>
			        <input type="text" id="fcontratacionDe"  class="anchoimp" placeholder="dd/mm/yyyy"
			               ng-model="filtro.fcontratacionDe" pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly" />
		        </div>
		        <div>
			        <label for="fcontratacionA" class="desresumen">Fecha Contrataci&oacute;n Hasta:</label>
			        <input type="text" id="fcontratacionA"  class="anchoimp" placeholder="dd/mm/yyyy"
			               ng-model="filtro.fcontratacionA" pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly" />
		        </div>
	        </div>
	        <div class="three-columns">
	        	<div>
			    	<label class="desresumen" style="float:left;width:60px;" for="cliente">Cliente:</label>
				    <div style="width: 200px; margin-left: 4px; margin-top: 7px;"  class="anchoinp" >
				        <input type="text" ng-model="filtro.cliente" style="width:200px !important;float:left;" id="cliente" />
				        <input type="hidden" id="idTxCliente" />
		                <select id="selectedCliente" class="anchoinp" multiple="multiple" size="4"></select>
	                    <button id="btnDelCliente" title="Eliminar Cliente seleccionado." style="width: 40px; margin-left: 4px; margin-top: 1px;">
	                        <span class="negrita">-</span>
	                    </button>
	                    <button id="btnInvCliente" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvCliente()">
                            <span class="negrita" id="textBtnInvCliente">=</span>
                        </button>
                        <span id="textInvCliente" style="color:green;">INCLUIDOS</span>
                    </div>
                          
		        </div>
	        	
	        
	        </div>
	        <div class="three-columns">
	        	
	        	<div>
			        
			    	<label class="desresumen" style="float:left;width:50px;" for="alias">Alias:</label>
			    	<div style="width: 200pxpx; margin-left: 4px; margin-top: 7px;"  class="anchoinp" >
			        	<input type="text" ng-model="filtro.alias" style="width:200px !important;float:left;" id="alias"/>
				        <input type="hidden" id="idTxAlias" /> 
		                <select id="selectedAlias" class="anchoinp" multiple="multiple" size="4"></select>
	                    <button id="btnDelAlias" title="Eliminar Alias seleccionado." style="width: 40px; margin-left: 4px; margin-top: 1px;">
	                        <span class="negrita">-</span>
	                    </button>
	                    <button id="btnInvAlias" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvAlias()">
                            <span class="negrita" id="textBtnInvAlias">=</span>
                        </button>
                        <span id="textInvAlias" style="color:green;">INCLUIDOS</span>	                    
                    </div>
		        </div>
	        </div>
	        
	      </fieldset>
	      <div class="centrar top-10">
	        <input class="btn buscador mybutton" type="submit" id="buscar" value="Consultar" ng-click="Consultar()"  />
	        <input class="mybutton" type="reset" id="limpiar" value="Limpiar Filtros" />
	      </div>
	    </form>
	  </div>

	  <br />
	  <div class="mensajeBusqueda" ng-bind="followSearch"></div>
	  <br />
	  <table id="tablaDesglosesMacro" class="tablaPrueba ancha">
	    <thead>
	      <tr>
	      	<th>Cliente</th>
	      	<th>Alias</th>
	        <th>Fecha Contrataci&oacute;n</th>
	        <th>Referencia</th>
	        <th>Isin</th>
	        <th>Sentido&oacute;n</th>
	        <th>Precio</th>
	        <th>T&iacute;tulos</th>
	      </tr>
	    </thead>
	    <tbody></tbody>
	  </table>
	  <div class="centrar">
			<input class="mybutton" type="button" id="MarcarTod"  value="Marcar Todos" style="display:none;" ng-click="selececionarCheck()" />
			<input class="mybutton" type="button" id="MarcarPag" value="Marcar P&aacute;gina" style="display:none;" ng-click="selececionarCheckPag()"/>
	  </div>		
	  <div id="resultados1"></div>
</article>

<div id="fade" class="overlay"></div>
<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>

