<article class="center">
	  <div class="title_section clearfix">
	    <div class="align-left">
	      <p class="title">Consulta Entrega/Recepci&oacute;n</p>
	    </div>
	    <div class="align-right">
	      <a class="collapser_search cursor">Ocultar opciones de b&uacute;squeda</a>
	    </div>
	  </div>
	  <div class="buscador wrapper-95">
	    <form ng-submit="submitForm($event)">
	      <fieldset>
	        <div class="three-columns">
	          <div>
	            <label for="estado" class="desresumen">Estado:</label>
	            <select id="estado" ng-model="filtro.estado" style="width:175px;">
	              <option value=""></option>
	              <option ng-repeat="st in listaEstados" value="{{st.id}}">{{st.descripcion}}</option>
	            </select>
           	    <button id="btnInvEstado" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvEstado()">
                    <span class="negrita" id="textBtnInvEstado">=</span>
                </button>
                <span id="textInvEstado" style="color:green;">IGUAL</span>	
	          </div>
	          <div>
	            <label for="sentido" class="desresumen">Sentido:</label>
	            <select id="sentido" ng-model="filtro.sentido" style="width:175px;">
	              <option value=""></option>
	              <option value="CV">ENTREGA/RECEPCION</option>
	              <option value="OE">COMPRA/VENTA</option>
	              <option value="OC">COMPRA/ENTREGA</option>
	              <option value="EV">VENTA/RECEPCION</option>
	              <option value="C">ENTREGA (Cliente)</option>
	              <option value="V">RECEPCION (Cliente)</option>
	              <option value="O">COMPRA (Mercado)</option>
	              <option value="E">VENTA (Mercado)</option>
	            </select>
	            <button id="btnInvSentido" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvSentido()">
                    <span class="negrita" id="textBtnInvSentido">=</span>
                </button>
                <span id="textInvSentido" style="color:green;">IGUAL</span>	
	          </div>
	          <div>
	            <label class="desresumen" for="alias">Alias:</label>
	            <input type="text" ng-model="filtro.alias" id="alias" style="width:175px !important;"/>
	            <button id="btnInvAlias" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvAlias()">
                    <span class="negrita" id="textBtnInvAlias">=</span>
                </button>
                <span id="textInvAlias" style="color:green;">IGUAL</span>		            
	          </div>
	          <div>
	            <label class="desresumen" for="isin">Isin:</label>
	            <input type="text" ng-model="filtro.isin" id="isin" onkeyup="javascript:this.value = this.value.toUpperCase()" style="width:175px !important;" />
	            <button id="btnInvIsin" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvIsin()">
                    <span class="negrita" id="textBtnInvIsin">=</span>
                </button>
                <span id="textInvIsin" style="color:green;">IGUAL</span>		            
	          </div>
	          <div>
	            <label for="contrapartida" class="desresumen">Contrapartida:</label>
	            <input type="text" id="contrapartida" ng-model="filtro.biccle" class="anchoimp" style="width:175px !important;">
	            <button id="btnInvBiccle" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvBiccle()">
                    <span class="negrita" id="textBtnInvBiccle">=</span>
                </button>
                <span id="textInvBiccle" style="color:green;">IGUAL</span>	            
	          </div>
	          <div>
	            <label for="booking" class="desresumen">Booking:</label>
	            <input type="text" id="booking" ng-model="filtro.nbooking" class="anchoimp" style="width: 175px !important">
	            <button id="btnInvNbooking" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvNbooking()">
                    <span class="negrita" id="textBtnInvNbooking">=</span>
                </button>
                <span id="textInvNbooking" style="color:green;">IGUAL</span>	            
	          </div>
	        </div>
	        <div class="three-columns">
	          <div>
	            <label for="fcontratacionDe" class="desresumen">Fecha Contrataci&oacute;n Desde:</label>
	            <input type="text" id="fcontratacionDe"  class="anchoimp" placeholder="dd/mm/yyyy"
	              ng-model="filtro.fcontratacionDe" pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly"
	            />
	          </div>
	          <div>
	            <label for="fcontratacionA" class="desresumen">Fecha Contrataci&oacute;n Hasta:</label>
	            <input type="text" id="fcontratacionA"  class="anchoimp" placeholder="dd/mm/yyyy"
	              ng-model="filtro.fcontratacionA" pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly"
	            />
	          </div>
	          <div>
	            <label for="importeNetoDesde" class="desresumen">Importe Efectivo Desde:</label>
	            <input type="text" id="importeNetoDesde" ng-model="filtro.importeNetoDesde" class="anchoimp" maxlength="24" />
	          </div>
	          <div>
	            <label for="titulosDesde" class="desresumen">T&iacute;tulos Desde:</label>
	            <input type="text" id="titulosDesde" ng-model="filtro.titulosDesde" class="anchoimp" />
	          </div>
	          <div>
	            <label for="nif" class="desresumen">Documento:</label>
	            <input type="text" id="nif" ng-model="filtro.nif" class="anchoimp" style="width: 175px !important"/>
	            <button id="btnInvNif" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvNif()">
                    <span class="negrita" id="textBtnInvNif">=</span>
                </button>
                <span id="textInvNif" style="color:green;">IGUAL</span>		            
	          </div>
	          <div>
	            <label for="referencias3" class="desresumen">Referencia S3:</label>
	            <input type="text" id="referencias3" ng-model="filtro.referencias3" class="anchoimp" style="width: 175px !important" />
	            <button id="btnInvReferencias3" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvReferencias3()">
                    <span class="negrita" id="textBtnInvReferencias3">=</span>
                </button>
                <span id="textInvReferencias3" style="color:green;">IGUAL</span>
	          </div>
	          
	          
	          <div>
	            <label for="estadoInstruccion" class="desresumen">Estado Instrucci&oacute;n:</label>
	            <select id="estadoInstruccion" ng-model="filtro.estadoInstruccion" style="width:175px;">
	              <option value="A">ALTA</option>
	              <option value="B">BAJA</option>
	            </select>	
	          </div>
              <div>
                 <label for="selectCuenta" class="desresumen">Cuenta</label> 
                 <select id="selectCuenta" ng-model="filtro.cuenta" required="required">
                     <option value="">Seleccione una cuenta</option>
                     <option ng-repeat="cuenta in cuentas" value="{{cuenta}}">{{cuenta}}</option>
                 </select>
              </div>
	          
	        </div>
	        <div class="three-columns">
	          <div>
	            <label for="fliquidacionDe" class="desresumen">Fecha Liquidaci&oacute;n Desde:</label>
	            <input type="text" id="fliquidacionDe"  class="anchoimp" placeholder="dd/mm/yyyy"
	              ng-model="filtro.fliquidacionDe" pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly"
	            />
	          </div>
	          <div>
	            <label for="fliquidacionA" class="desresumen">Fecha Liquidaci&oacute;n Hasta:</label>
	            <input type="text" id="fliquidacionA"  class="anchoimp" placeholder="dd/mm/yyyy"
	              ng-model="filtro.fliquidacionA" pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly"
	            />
	          </div>
	          <div>
	            <label for="importeNetoHasta" class="desresumen">Importe Efectivo Hasta:</label>
	            <input type="text" id="importeNetoHasta" ng-model="filtro.importeNetoHasta" class="anchoimp" />
	          </div>
	          <div>
	            <label for="titulosHasta" class="desresumen">T&iacute;tulos Hasta:</label>
	            <input type="text" id="titulosHasta" ng-model="filtro.titulosHasta" class="anchoimp" />
	          </div>
	          <div>
	            <label for="nombretitular" class="desresumen">Nombre titular:</label>
	            <input type="text" id="nombretitular" ng-model="filtro.nombretitular" class="anchoimp" style="width: 175px !important"/>
	            <button id="btnInvNombreTitular" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvNombreTitular()">
                    <span class="negrita" id="textBtnInvNombreTitular">=</span>
                </button>
                <span id="textInvNombreTitular" style="color:green;">IGUAL</span>		            
	          </div>
	        </div>
	      </fieldset>
	      <div class="centrar top-10">
	        <input class="btn buscador mybutton" type="submit" id="buscar" value="Consultar" ng-click="Consultar()" />
	        <input class="mybutton" type="reset" id="limpiar" value="Limpiar Filtros" />
	      </div>
	    </form>
	  </div>

	  <br />
	  <div class="mensajeBusqueda" ng-bind="followSearch"></div>
	  <br />
	  <table id="tablaEntregaRecepcion" class="tablaPrueba ancha">
	    <thead>
	      <tr>
	      	<th>Cancelar</th>
	      	<th>Estado Camara</th>
	        <th>Estado S3</th>
	        <th>Sentido</th>
	        <th>Alias</th>
	        <th>Descripci&oacute;n</th>
	        <th>Isin</th>
	        <th>Descripci&oacute;n</th>
	        <th>Fecha de Contrataci&oacute;n</th>
            <th>FTL</th>
	        <th>Fecha de Liquidaci&oacute;n</th>
	        <th>T&iacute;tulos</th>
	        <th>Efectivo</th>
	        <th>Corretaje</th>
	        <th>Neto</th>
	        <th>Canon Contrataci&oacute;n</th>
	        <th>Canon Compensaci&oacute;n</th>
	        <th>Canon Liquidaci&oacute;n</th>
	        <th>Documento</th>
	        <th>Titular</th>
	        <th>Contrapartida</th>
	        <th>Booking</th>
	        <th>Nucnfclt</th>
	        <th>Nucnfliq</th>
	        <th>Ref. bancaria</th>
	        <th>Ourparticipe</th>
	        <th>Theirparticipe</th>
	        <th>Referencia S3</th>
	        <th>Estado instrucci&oacute;n</th>
	        <th>Cuenta</th>
	      </tr>
	    </thead>
	    <tbody></tbody>
	  </table>
      <div class="centrar">
            <input class="mybutton" type="button" id="CancelacionCliente"  
                value="Cancelaci&oacute;n (S3 cancela pata cliente)" ng-click="CancelacionCliente()" 
                ng-show="isPermisoAccion(SecurityActions.CANCELACION)" />
			<input class="mybutton" type="button" id="CancelacionTotal"  
			    value="Cancelaci&oacute;n (S3 cancela ambas patas)" ng-click="CancelacionTotal()" 
			    ng-show="isPermisoAccion(SecurityActions.CANCELACION_TOTAL)"/>
			<input class="mybutton" type="button" id="Reenvio" value="Reenv&iacute;o" ng-click="reenvia()" />
            <input class="mybutton" type="button" id="MarcarTod"  value="Marcar Todos" style="display:none;" 
                ng-click="selececionarCheck()" />
			<input class="mybutton" type="button" id="MarcarPag" value="Marcar P&aacute;gina" style="display:none;" 
			    ng-click="selececionarCheckPag()"/>
	  </div>		
	  <div id="resultados1"></div>
	  <div id="editarParamPop"
	    style="background-color: red; height: 400px; width: 500px; display: none; position: absolute;"
	  ></div>
	  <div id="respuesta" style="color: red"></div>
</article>

<div id="fade" class="overlay"></div>
<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>

