<!-- DIV -->
<div id="core" class="">
  <article class="center"> 
    <form action="/sibbac20back/rest/export" method="post" name="export" id="export" target="export">
      <input type="hidden" name="webRequest" id="webRequest" value="">
    </form> 
    <form id="ReporteAutomaticosCNMV">
      <div id="popup" style="display:none;">
        <span class="button b-close"><span>X</span></span>If you can't get it up use<br><span class="logo">bPopup</span>
      </div>
      <div class="title_section clearfix">
        <div class="align-left">
                <p class="title">Reportes Automaticos CNMV</p>
        </div>
      </div>  
    </form>
  </article>                      
</div>    
  <!-- Botones de accion -->
 <div>
  <fieldset>
    <div>
        <div align="center"  class=" class="two-columns"  >
            <input   class="mybutton"  type="button" id="GenerarH47MTF" value="Generar H47  MTF´s" ng-click="GenerarH47MTF()"  />                 
        </div>
        <div align="center" class=" class="two-columns">
           <input class="mybutton" type="button" id="GenerarH47FallidosNacional" value="Generar H47 Fallidos Nacional" ng-click="GenerarH47FallidosNacional()"  /> 
        </div>
    </div>      
  </fieldset>
</div>    
      
<script src="js/site.js" type="text/javascript"></script>


