<p class="titleAlta" ng-bind="dialogTitle"></p>
<form id="cargarPopupParam" ng-submit="modificarAlias()">
    <fieldset>
	    <div id="divAlias">
		</div>
		<div id="divIdiomas">
		</div>
    </fieldset>
    <div class="centrar">        
          <input class="btn mybutton" type="submit" id="editarAlias" value="Editar" />
     </div>
</form>