<article class="center">
	<div class="title_section clearfix">
		<div class="align-left">
			<p class="title">Configuracion de Clientes PBC</p>
		</div>
		<div class="buscador">
			<!-- Filtros devueltos por la llamada a ctrl.selectQuery()-->
			<form name="filters" ng-submit="ctrl.ctrlExecuteQuery()">
				<!-- Imputs -->
				<fieldset class="clearfix">
					<div class="dynamic-filter" ng-repeat="f in ctrl.filterList">
						<sb-filter-element value="f" target="ctrl"></sb-filter-element>
					</div>
					<div class="dynamic-filter ng-scope" ng-if="ctrl.filterList">
						<div>
							<label class="desresumen">Activo:</label>
						</div>
						<div style="margin-left: 10px;">
							<input type="checkbox" ng-model="ctrl.filtroActivo">
						</div>
					</div>
				</fieldset>
				<!-- Consultar / Limpiar buttons -->
				<div class="centrar">
					<input class="btn mybutton" type="submit" value="Consultar" ng-disabled="!ctrl.selectedQuery" />
					<input class="mybutton" type="button" value="Limpiar" ng-click="ctrl.filter = {}">
				</div>
			</form>
		</div>
		<!-- Mensaje debajo del filtro / Refrescar button-->
		<div ng-hide="ctrl.showingFilter">
			<div class="centrar">
				<input class="btn mybutton" type="button" value="Refrescar" ng-disabled="!ctrl.selectedQuery" ng-click="ctrl.executeQuery()"
				/>
			</div>
		</div>
</article>
<div>
	<div class="contenedorTabla">
		<!-- Tabla -->
		<div ng-if="ctrl.grid" ui-grid="ctrl.grid" ui-grid-selection ui-grid-pagination ui-grid-resize-columns></div>
		<!-- Crear / Modificar / Eliminar buttons -->
		<div class="centrar">
			<input class="mybutton" type="button" ng-click="ctrl.actualizarFechaRevision()" value="Actualizar Fecha Revisión" />
			<input class="btn buscador mybutton" type="button" ng-click="ctrl.historico(ctrl.selectedRows())" ng-disabled="ctrl.selectedRows().length != 1"
			 value="Histórico" />
			<input class="mybutton" type="button" ng-click="ctrl.openModal('save')" value="Crear" />
			<input class="btn buscador mybutton" type="button" ng-click="ctrl.openModal('edit')" ng-disabled="ctrl.selectedRows().length != 1"
			 value="Modificar" />
			<input class="btn buscador mybutton" type="button" ng-click="ctrl.delete()" ng-disabled="ctrl.selectedRows().length === 0"
			 value="Borrar" />
			<input class="mybutton" type="button" ng-click="ctrl.selectAll()" value="Selecciona Todos" />
			<input class="mybutton" type="button" ng-click="ctrl.unselectAll()" value="Deseleccionar Todos" />
		</div>
	</div>
</div>

<!-- Modal para crear cliente -->
<div id="modalSave">
	<div class="buscador clearfix">
		<form name="modalForm" novalidate>
			<fieldset>
				<div class="two-columns">
					<label class="desresumen">Cliente</label>
					<br>
					<input name="id" class="autocomplete_client" type="text" ng-model="ctrl.params.id" ng-change="ctrl.changedValueKGR(ctrl.params.id)"
					 style="margin-left: 10px;width: 90.1%;" ng-trim="false" ng-required="true">
				</div>
				<div class="two-columns">
					<label class="desresumen">Código KGR</label>
					<br>
					<input name="codigokgr" type="text" ng-model="ctrl.codigokgr" style="margin-left: 5px;width: 90.1%;" readonly>
				</div>
				</br>
				<div class="one-column">
					<br>
					<label class="desresumen" style="font-size:20px; color: red;">Parámetros de Control</label>
				</div>
				<div class="two-columns">
					<div>
						<label class="desresumen" style="margin-left: 5px;width: 90.1%;">Control Efectivo</label>
						<br>
						<select name="idControlEfectivo" style="margin-left: 5px;width: 90.1%;" ng-model="ctrl.params.idControlEfectivo" ng-change="ctrl.changedValue(ctrl.params.idControlEfectivo)"
						 ng-required="true">
							<option ng-repeat="item in ctrl.listadoEfectivo" value="{{item.value}}"> {{item.label}} </option>
						</select>

					</div>
				</div>
				<div class="two-columns">
					<div>
						<label class="desresumen" style="margin-left: 5px;width: 90.1%;">Control individual - Máximo Efectivo</label>
						<br>
						<input name="maxefectivo" type="text" style="margin-left: 5px;width: 90.1%;" ng-model="ctrl.maxefectivo" readonly>
					</div>
				</div>
				<div class="one-column">
					<div>
						<label class="desresumen" style="margin-left: 5px;width: 90.1%;">Control Análisis</label>
						<br>
						<input name="idControlAnalisis" type="text" style="margin-left: 5px;width: 44.7%;" ng-model="ctrl.params.idControlAnalisis"
						 readonly>
					</div>
				</div>
				<div class="two-columns">
					<div>
						<label class="desresumen" style="margin-left: 5px;width: 90.1%;">Control Documentación</label>
						<br>
						<select name="idControlDocumentacion" style="margin-left: 5px;width: 90.1%;" ng-model="ctrl.params.idControlDocumentacion"  ng-required="true">
							<option ng-repeat="item in ctrl.listadoDocumentacion" value="{{item.value}}"> {{item.label}} </option>
						</select>
					</div>
				</div>
				<div class="two-columns">
					<div>
						<label class="desresumen" style="margin-left: 5px;width: 90.1%;">Control Comparativo - % Efectivo</label>
						<br>
						<input name="porcentajeEfectivo" type="text" style="margin-left: 5px;width: 90.1%;" ng-model="ctrl.porcentajeEfectivo" readonly>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

<!-- Modal para Modificar button -->
<div id="modalEdit">
	<div class="buscador clearfix">
		<form name="modalForm" novalidate>
			<fieldset>
				<div class="two-columns">
					<label class="desresumen">Cliente</label>
					<br>
					<input name="id" type="text" ng-model="ctrl.params.id" ng-change="ctrl.changedValueKGR(ctrl.params.id)" ng-model-options="{debounce:1000}"
					 style="margin-left: 10px;width: 90.1%;" ng-disabled="true">
				</div>
				<div class="two-columns">
					<label class="desresumen">Código KGR</label>
					<br>
					<input name="codigokgr" type="text" ng-model="ctrl.codigokgr" style="margin-left: 5px;width: 90.1%;" readonly>
				</div>
				</br>
				<div class="one-column">
					<br>
					<label class="desresumen" style="font-size:20px; color: red;">Parámetros de Control</label>
				</div>
				<div class="two-columns">
					<div>
						<label class="desresumen" style="margin-left: 5px;width: 90.1%;">Control Efectivo</label>
						<br>
						<select name="idControlEfectivo" style="margin-left: 5px;width: 90.1%;" ng-model="ctrl.params.idControlEfectivo" ng-change="ctrl.changedValue(ctrl.params.idControlEfectivo)">
							<option ng-repeat="item in ctrl.listadoEfectivo" value="{{item.value}}" ng-selected="{{item.value == ctrl.params.idControlEfectivo}}">
								{{item.label}} </option>
						</select>
					</div>
				</div>
				<div class="two-columns">
					<div>
						<label class="desresumen" style="margin-left: 5px;width: 90.1%;">Control individual - Máximo Efectivo</label>
						<br>
						<input name="maxefectivo" type="text" style="margin-left: 5px;width: 90.1%;" ng-model="ctrl.maxefectivo" readonly>
					</div>
				</div>
				<div class="two-columns">
					<div>
						<label class="desresumen" style="margin-left: 5px;width: 90.1%;">Control Análisis</label>
						<br>
						<input name="idControlAnalisis" type="text" style="margin-left: 5px;width: 90.1%;" ng-model="ctrl.params.idControlAnalisis"
						 ng-disabled="true">
					</div>
				</div>
				<div class="two-columns">
					<label class="desresumen">¿Activo?</label>
					<br>
					<div style="margin-left: 5px;">
						<input name="activo" type="radio" ng-model="ctrl.params.activo" value="1">
						<label class="desresumen" style="width: 10%;margin-top:  0%;">SI</label>
						<input name="activo" type="radio" ng-model="ctrl.params.activo" value="0">
						<label class="desresumen" style="width: 10%;margin-top:  0%;">NO</label>
					</div>
				</div>
				<div class="two-columns">
					<div>
						<label class="desresumen" style="margin-left: 5px;width: 90.1%;">Control Documentación</label>
						<br>
						<select name="idControlDocumentacion" style="margin-left: 5px;width: 90.1%;" ng-model="ctrl.params.idControlDocumentacion">
							<option ng-repeat="item in ctrl.listadoDocumentacion" value="{{item.value}}" ng-selected="{{item.value == ctrl.params.idControlDocumentacion}}">
								{{item.label}} </option>
						</select>
					</div>
				</div>
				<div class="two-columns">
					<div>
						<label class="desresumen" style="margin-left: 5px;width: 90.1%;">Control Comparativo - % Efectivo</label>
						<br>
						<input name="porcentajeEfectivo" type="text" style="margin-left: 5px;width: 90.1%;" ng-model="ctrl.porcentajeEfectivo" readonly>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>
<div id="modalObserv">
	<div class="buscador clearfix">
		<label class="desresumen" style="font-size:20px; color: red;">Observaciones</label>
		<div style="border: 1px solid black; background-color: white;" ng-if="ctrl.newObservObj || ctrl.modObservObj || ctrl.delObservObj">
			<p class="pMsg" ng-if="ctrl.newObservObj"> Nueva observación dada de alta: {{ctrl.newObservObj.fechaAlta}} | {{ctrl.newObservObj.idObservacion + ' - ' + ctrl.newObservObj.desObservacion
				+ " | " + ctrl.newObservObj.idControlAnalisis + ' - ' + ctrl.newObservObj.desControlAnalisis}}</p>
			<p class="pMsg" ng-if="ctrl.modObservObj"> Observación modificada: {{ctrl.modObservObj.fechaAlta}} | {{ctrl.modObservObj.idObservacion + ' - ' + ctrl.modObservObj.desObservacion
				+ " | " + ctrl.modObservObj.idControlAnalisis + ' - ' + ctrl.modObservObj.desControlAnalisis}}</p>
			<p class="pMsg" ng-if="ctrl.delObservObj"> Observación eliminada: {{ctrl.delObservObj.fechaAlta}} | {{ctrl.delObservObj.idObservacion + ' - ' + ctrl.delObservObj.desObservacion
				+ " | " + ctrl.delObservObj.idControlAnalisis + ' - ' + ctrl.delObservObj.desControlAnalisis}}</p>
		</div>
		<div ui-grid="ctrl.gridObserv" ui-grid-selection ui-grid-pagination ui-grid-resize-columns></div>
		<div class="centrar">
			<input class="btn buscador mybutton" type="button" ng-click="ctrl.observSave()" value="Crear" ng-disabled="!ctrl.observBtnFlag"
			/>
			<input class="btn buscador mybutton" type="button" ng-click="ctrl.observDuplicate(ctrl.gridApiRefObserv.selection.getSelectedRows()[0])"
			 ng-disabled="(ctrl.gridApiRefObserv.selection.getSelectedRows().length != 1  || ctrl.gridApiRefObserv.selection.getSelectedRows()[0].fechaAlta === ctrl.today) || !ctrl.observBtnFlag"
			 value="Duplicar" />
			<input class="btn buscador mybutton" type="button" ng-click="ctrl.observEdit(ctrl.gridApiRefObserv.selection.getSelectedRows()[0])"
			 ng-disabled="(ctrl.gridApiRefObserv.selection.getSelectedRows().length != 1  || ctrl.gridApiRefObserv.selection.getSelectedRows()[0].fechaAlta != ctrl.today) || !ctrl.observBtnFlag"
			 value="Modificar" />
			<input class="btn buscador mybutton" type="button" ng-click="ctrl.observDelete(ctrl.gridApiRefObserv.selection.getSelectedRows()[0])"
			 ng-disabled="(ctrl.gridApiRefObserv.selection.getSelectedRows().length != 1  || ctrl.gridApiRefObserv.selection.getSelectedRows()[0].fechaAlta != ctrl.today) || !ctrl.observBtnFlag"
			 value="Eliminar" />
		</div>
	</div>
</div>
<div id="modalNewObserv">
	<div class="buscador clearfix">
		<label class="desresumen" style="font-size:20px; color: red;">Nueva Observación</label>
		<form name="observForm" novalidate>
			<fieldset>
				<div class="one-column">
					<label class="desresumen">Observación</label>
					<br>
					<select name="observ" style="margin-left: 5px;width: 90.1%;" ng-model="ctrl.observParams.observ" ng-change="ctrl.changedNewObserv(ctrl.observParams.observ.split('-')[0])">
						<option ng-repeat="item in ctrl.listadoNewObserv" value="{{item.value}}" ng-selected="{{item.value == ctrl.observParams.observ}}">
							{{item.label}} </option>
					</select>
				</div>
				<div class="one-column">
					<label class="desresumen">Control de Analisis</label>
					<br>
					<input name="ctrlAnalisis" type="text" ng-model="ctrl.observParams.ctrlAnalisis" style="margin-left: 10px;width: 90.1%;"
					 ng-disabled="true">
				</div>
			</fieldset>
		</form>
	</div>
</div>


<!-- Dialog confirm -->
<div id="dialog-confirm"></div>
<div id="mensajeConfirm" class="dialogMensaje"></div>
<script src="js/site.js" type="text/javascript"></script>

<!-- Modal resultado de la accion -->
<div id="resultDialog">
	<modal-result-dialog></modal-result-dialog>
</div>

<!-- Modal resultado de la accion -->
<div id="historicoDialog">
	<div>
		<span class="desresumen" style="font-size:20px; color: red;">Histórico de "{{ctrl.idClienteHistorico}}"</span>
	</div>
	<div ng-if="ctrl.gridHistorico" ui-grid="ctrl.gridHistorico" ui-grid-selection ui-grid-pagination ui-grid-resize-columns></div>
</div>