.align-left {text-align:left;}
.align-right {text-align:right;}
.align-center {text-align:center;}
/* incompatibilidad con header que te carga el dagable o el sorttable
*.header {background:#ff0000;color:#fff;}*/
.header h1 {margin:0;}
.header h2 {color:#fff;margin-left:20px;}
.header h1, .header h2 {float:left;} 

.form-control.intervalo {text-align:center;}

.bloque1 {background:#ececec;padding-top:0px}
.bloque1 .row,.bloque2 .row {margin-bottom:4px;}
.bloque1 th, .bloque1 td, .bloque2 th, .bloque2 td {padding:2px 8px!important;}
.bloque1 .row p,.bloque2 .row p {margin-bottom:0;}

.bloque2{padding-top:10px}
.bloque2 .row {margin-bottom:5px;}
.bloque2 .row.scroll {overflow:auto}
.bloque_tabla {
	padding:0;
	padding-bottom:0px;
	background-color:#ECECEC;
}

.bloque3{
	padding-top:10px;
	padding-bottom:5px;
	background-color:#ECECEC;
	margin-top:15px;
}

.cursor_btn {
	width: 19px;
	float:right;
}

.order_buttons li {margin-bottom:10px;}

th {background:#666;color:#fff;}
.cont-table {margin: 0 10px; border:1px solid #666;overflow:auto;height:112px;}
.cont-table table {margin-bottom:0}
.op_table {float:right;}
.op_table li {float:left;}
.op_table li:first-child {/*margin-right:10px*/}
.btn_imprimir {margin-right:10px!important;}
.bot_acciones li {float:left;margin-right:10px;margin-bottom:10px;}
.bot_acciones li:last-child {margin-right:0;}
.leyenda:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
.leyenda {border:1px solid #666;padding: 2px 0;}
.leyenda li {float:left;width:16.6%;text-align:center;color:#000;}
.leyenda li.neto {color:#ee1c2b;}
.leyenda li.neteada {color:#2672be;}
.leyenda li.spliteada {color:#646464;}
.leyenda li.split {color:#22b14c;}
.leyenda li.combinacion {color:#ff00fe;}
.ui-jqgrid td {font-size:11px;}
.ui-jqgrid tr.jqgrow td {vertical-align:middle !important}

.solapa{background:#cfcdcd; color:#000; cursor: pointer;}
.solapa .container {overflow: hidden; padding-top: 5px;}
.solapa .right {float: right; width: 100px; text-align:right;}
.solapa .left {float: left; width: 100px; text-align:left;}
.solapa .middle {margin: 0 100px; text-align:center; vertical-align:middle !important}

.tabla_estado {width:440px;max-width:none}

.hidden_column{display:none;}
.fila_seleccionable tr{cursor:pointer;}
.fila_seleccionable .fila_ordenable td{background:#ccc !important;}
.fila_seleccionable .fila_ordenable:hover td{background:#ccc !important}

.btn-action {
    float: right;
    font-size: 20px;
    margin-bottom: 12px;
    margin-left: 15px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    position: relative;
    width: 40%;
}
.btn-text {
	font-family:"Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 12px;
	margin-top:10px;
}

/* estilo para el div que se muestra una vez se abre la ventana modal */
 .overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    z-index:1001;
    opacity:.75;
    -moz-opacity: 0.75;
    filter: alpha(opacity=75);
}
 .overlayLoad{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #696969;
    z-index:1001;
    opacity:.75;
    -moz-opacity: 0.75;
    filter: alpha(opacity=75);
    
}

/*estilos para tablas*/
table.fullTable{
	 width: 100%;
	 float:center;
}

table.izTable{
	 float:left;
	 width: 49%;
}

table.deTable{
	float:right;
	 width: 49%;
}

td>table.deTable{
	float:none;
	 width: 100%;
}

td>table.izTable{
	float:none;
	 width: 100%;
}

.subraya{
	color: #a90b0b;
	text-decoration: underline;
}

.colorFondo{
	 background: #ccddee !important;
	 text-align:center;
}

.colorAzul{
	 background: #0b7ef0;
	 text-align:center;
}

.colorRojo{
	 background: #f00b0c;
	 text-align:center;
}


.centrado{
	text-align:center;
}

td.monedaR,span.monedaR,div.monedaR {
	text-align: right;	
  	padding-right: 5%;
}

td > div.aleft {
    text-align: left;
    margin-left: 37%;
    width: 63%;
    float: right;
}

fieldset div div.fieldfilter{
	float:left;
	width:30%;
}
fieldset div div.fieldfilter:first-child{
	clear: both;
}
.centrarLoad {
    display:block; 
    width:160px; 
    height:60px; 
    position:absolute; 
    top:50%; 
    left:50%; 
    margin-top:-30px; 
    margin-left:-80px;
    text-align: center;
    z-index:1002;
    background-color: #fff;
    text-align: center;
    color: #990606;
    font-weight: bold;
    border-radius: 15px;
    line-height: 26px;
}
.total-efectivo-label{
	margin-left:50px;float:left;
}
.last-update-time-left{
	width: 300px; margin-top:5px;
}
.last-update-time-right{
	float: right; width: 300px; margin-top:-12px;
}
.last-update-time-right-padding5{
	float: right; width: 300px; padding:5px;
}
.inner-select{
    border: 0;
    margin: 0;
}


.form-campo input, .form-campo select {
	width: 100%;
	padding: 2px;
	height: 18px;
	margin: 0;
}

.form-campo label {
	padding-bottom: 3px;
	margin: 0;
	margin-top: 7px;
}