* {margin: 0px;
padding: 0px; outline: 0;
}

body {
font-family: Verdana, Arial, Helvetica, sans-serif;
}
#menuv {text-align: center;
margin: 10px 20px 10px 20px;
}
#menuv ul {list-style-type: none;
}
#menuv ul li {width: 162px;
}
#menuv ul li.nivel1 { float: left;
margin-right: 1px;
z-index: 50;
}
#menuv ul li a {display: block;
text-decoration: none;
color: #fff;
background-color: rgb(85, 96, 104);
border: solid 1px #fff;
padding: 5px;
position: relative;
}
#menuv ul li ul li a.nivel3{
	background-color: #999;
}

#menuv ul li a.nivel2, #menuv ul li a.nivel2ie {color: #fff;
}
#menuv ul li a.nivel1, #menuv ul li a.nivel2 {display: block!important;display: none;
position: relative;
}
#menuv ul li:hover {position: relative;
}
#menuv ul li a:hover, #menuv ul li:hover a.nivel1 {background-color: #FF0000;
color: #000;
position: relative;
}
#menuv ul li ul {display: none;
}
#menuv ul li:hover  ul.nivel2, #menuv ul li a:hover  ul.nivel2{display: block;
position: absolute;left: 0px;
}
#menuv ul li ul li a:hover ul.nivel3, #menuv ul li ul li:hover ul.nivel3 {display: block;
position: absolute;
left: 161px!important;left: 160px;
top:0px!important;top: -21px;

}

#menuv ul li ul li ul li a:hover ul.nivel4, #menuv ul li ul li ul li:hover ul.nivel4 {display: block;
position: absolute;
left: 161px!important;left: 160px;
top:0px!important;top: -21px;

}
#menuv ul li ul li a {width: 160px;
padding: 5px 0px;
border-top-color: transparent;
}
#menuv ul li ul li a:hover {border-top-color: #000;
position: relative;
}
#menuv ul li ul li ul li a.primera {border-top-color: #fff;
background-color: #999 !important;
}
#menuv ul li ul li ul li ul li a.primera {border-top-color: #fff;
background-color: #CCC !important;
}

table.falsa {border-collapse:collapse;
border:0px;
float: left;
position: relative;
}


#cambioExcepcionar{	
	display:none;
}

#cambioExcepcionar1{	
	display:none;
}

.fechasugerida{
	color: #DDDDDD;	
}
