* body {
	font-family: Tahoma, Verdana, Times, Arial, Helvetica;
	font-size: 12px;
	margin: 0px;
	padding: 0px;

}

/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}


html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}




/******************************************** Eva *****************************************/

img{border:none;}
.vh{visibility:hidden;}
.dn{display:none;}
.taleft{text-align:left;}
.tacenter{text-align:center;}
.taright{text-align:right;}
/* Cabecera */
header {
	background: -moz-linear-gradient(-45deg, #ff0000 0%, #ff0000 50%, #7f0000 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff0000), color-stop(50%,#ff0000), color-stop(100%,#7f0000)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(-45deg, #ff0000 0%,#ff0000 50%,#7f0000 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(-45deg, #ff0000 0%,#ff0000 50%,#7f0000 100%); /* Opera 11.10+ */
	border-bottom: 1px solid #FF0000;
	padding: 0px;
	color:#fff;
	width:100%;
}
/*LOGO*/
header .logo {
	width:14%;
	margin:0;
	float:left;
	display:inline-block;
}
/*TITULO PÁGINA*/
header .title {
	/*width:55%; */
	float:left;
	color:#fff;
	margin:24px 0 0 54px;
	font-size:19px;
	line-height:25px;
	font-weight:normal;
	display:inline-block;
}
/*LOGIN USUARIO*/
header .user {
    border: 2px solid black;
    color: #fff;
    display: block;
    float: left;
    font-size: 22px;
    font-weight: normal;
    line-height: 25px;
    margin: 0px 0 0 20px;
    text-align: center;
    width: 28%;
}
/*FIN CABECERA*/
/*ÁREA NOTIFICACIÓN*/
aside{
	background: #a6acb0;
    color: #ff0000;
}
.carrusel{
	float:left;
	position:relative;
	overflow:hidden;
}
.notificaciones  {
	min-height: 40px;
	position:relative;
	float:left;
	margin:0 80px;
	overflow:hidden;
	text-align:center;
	max-width:1100px;
}
.carrusel .prev  { 
	background: url("../img/ico_flecha_izq2.png") no-repeat scroll center center transparent;
    border: 0 none;
    height: 26px;
    left: 20px;
    position: absolute;
    top: 0px;
    width: 26px;
	float:left;
}
.carrusel .next  {   
	background: url("../img/ico_flecha_der2.png") no-repeat scroll center center transparent;
    border: 0 none;
    height: 26px;
    position: absolute;
    right: 20px;
    top: 0px;
    width: 26px;
	float:left;
}
.notificaciones2{
	position:relative;
}
.notificacion{
    outline: 1px dashed #ff0000;
    outline-offset: -5px;   
    background-color: #f4f4f4;
    width: 236px;
    margin: 5px 10px;
	padding:5px 10px;
    -webkit-box-shadow: 2px 2px 2px #000;
    -moz-box-shadow: 2px 2px 2px #000;
    box-shadow: 2px 2px 2px #000;
	border-radius:5px;
	display:inline-block;
	float:left;
}
.notificacion span{
	font-size: 12px;
    line-height: 12px;
	margin-right:5px;
	font-weight:bold;
	color:#000;
}
.notificacion a{
	text-decoration:underline;
	color:#000;
	display:inline-block;
	font-weight:bold;
}
.notificacion p.title{
	margin-bottom:5px;
	font-size: 12px;
    line-height: 20px;
    font-family: Helvetica, sans-serif;
    text-align: center;
}
.notificacion p.text{
	font-size:12px;
}
/*FIN ÁREA NOTIFICACIÓN*/
nav {
	display: inline-block;
	width:100%;
}
/*MENÚ PRINCIPAL (HORIZONTAL)*/
#menuPrincipal {
    background-color:#556068;
    margin: 0 0;
}
.menuPrincipal {
	text-align:center;
}
.menu1{
	position:relative;
}
.menu1 ul {
	position:relative;
}
.menu1 ul > li{
	float:left;
	width:200px;
	padding: 0 20px;
	border-right: 1px solid #fff;
	position:relative;
}
.menu1 ul > li  > a{ 
    color: #fff;
    font-size: 11px;
    line-height: 25px;
    text-decoration: none;
    text-shadow: 1px 2px 1px #000;
}
.menu2{
    position: absolute;
	left:0px;
	top:27px;
    width: 100%;
	display:none;
	z-index:99999;
}
.menu2 ul > li{
	float:left;
	width:100%;
	padding: 0;
	border: 1px solid black;
	position:relative;
	background: -moz-linear-gradient(top, #767f86 0%, #f2f2f2 70%, #767f86 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#767f86), color-stop(70%,#282828), color-stop(1767f8600%,#7f7f7f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #767f86 0%,#282828 70%,#767f86 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #767f86 0%,#282828 70%,#767f86 100%); /* Opera 11.10+ */
    border-radius: 0 5px 0 5px ;
	margin-bottom:1px;
	text-align:left;
}
.menu2 ul > li  > a{ 
    color: #fff;
    font-size: 11px;
    line-height: 25px;
    text-decoration: none;
    text-shadow: 1px 2px 1px #000;
	padding: 0 20px;
}
.menu3{
    width:100%;
	display:none;
}
.menu3 ul {
position:relative;
}
.menu3 ul > li{
	margin-bottom:1px;
	border: 1px solid black;
	position:relative;
	background: -moz-linear-gradient(top, #f2f2f2 0%, #FF0000 73%, #7f7f7f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f2f2), color-stop(73%,#FF0000), color-stop(100%,#7f7f7f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #f2f2f2 0%,#282828 73%,#7f7f7f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #f2f2f2 0%,#FF0000 73%,#7f7f7f 100%); /* Opera 11.10+ */
    border-radius: 0 5px 0 5px ;
}
.menu3 ul > li  > a{ 
    color: #fff;
    font-size: 11px;
    line-height: 25px;
    text-decoration: none;
    text-shadow: 1px 2px 1px #000;
	padding: 0 40px;
}
.menuPrincipal ul > li  > a .arrow {
    background: url("../img/ico_desplegar.png") no-repeat scroll center center transparent;
    display: inline-block;
    margin: 0 0 0 20px;
    padding: 6px;
}
.menuPrincipal  ul > li:last-child{
	margin-bottom:0px;
}
.menuPrincipal ul > li  > a.activo .arrow {
    background: url("../img/ico_plegar.png") no-repeat scroll center center transparent;
}
/*FIN MENÚ PRINCIPAL (HORIZONTAL)*/
section{	min-height:480px;}
/*TITULOS DE SECCIÓN CON COLAPSADOR*/
.title_section{
	position:relative;
	margin:0 0.5%;
	margin-bottom:8px;
}

.title_section .title{color:#F00;font-size:17px}
.collapser, .collapser_search {position:absolute;right:0;bottom:0;font-size:12px;color:#cc190e;text-decoration:none;background:url('../img/ico_collapser_up.png') no-repeat right center;padding-right:22px;}
.collapser.active, .collapser_search.active {background:url('../img/ico_collapser_down.png') no-repeat right center;}
/*BUSCADOR*/
.buscador{
	border:1px solid black;
	background-color:#efefef;
	margin:5 0.5%;
	position:relative;
}
.btnAccion{
	border:1px solid black;
	background-color:#efefef;
	margin:5 0.5%;
	position:relative;
}
/*FORMULARIO*/
/*CAMPOS OBLIGATORIOS*/
.asterisco {color:#FF0000;}
/*Remarcar seleccionado */
input:focus {
  border: 2px solid #000;
  background: #F3F3F3;
}

/*FIN BUSCADOR*/

div#core, div#core2{
	display: block;
	clear: both;
	margin: 20px;
}
/*TABLAS*/
table{width:auto;margin:0 auto;box-shadow:0 0 10px #ddd;font-size:12px;}
/*CABECERA*/
table th{padding:5px;background:#555;color:#fff;}
/*CELDAS*/
table td{padding:5px;border:solid #ddd;border-width:0 0 1px;}
/*TABLA PIJAMA*/
table tr.odd{background-color:#fff;}
table tr.even{background-color:#f4f4f4;}
/*TABLA ORDENABLE*/
table .header.headerSortDown{background: url("../img/ico_desplegar.png") no-repeat scroll right center #555;padding-right:20px; border-right: 1px solid #FFF;}
table .header.headerSortUp{background: url("../img/ico_plegar.png") no-repeat scroll right center #555;padding-right:20px; border-right: 1px solid #FFF;}

/* TABLA EDITABLE*/
table.editinplace th {padding:5px 10px; border-right: 1px solid #FFF;}
table.editinplace td {padding:5px 10px;}
table.editinplace td input[type="text"]{height:24px;width:200px;border:1px solid #ddd;padding:0 5px;margin:0;border-radius:6px;vertical-align:middle}
.editable span{display:block;}
.editable span:hover {background:url("../img/edit.png") 90% 50% no-repeat;cursor:pointer}
a.enlace{display:inline-block;width:24px;height:24px;margin:0 0 0 5px;overflow:hidden;text-indent:-999em;vertical-align:middle}
.guardar{background:url("../img/save.png") 0 0 no-repeat}
.cancelar{background:url("../img/cancel.png") 0 0 no-repeat}       
.mensaje{display:block;text-align:center;margin:0 0 20px 0}
.ok{display:block;padding:10px;text-align:center;background:green;color:#fff}
.ko{display:block;padding:10px;text-align:center;background:red;color:#fff}

/*BOTONERA*/
.contenedorTabla .botonera{margin:0 auto;width:auto;text-align:right;}
.contenedorTabla .resumen{margin:0 auto;width:auto;text-align:left;}
.piePagina{position:relative;min-width:980px;margin:0 auto;text-align:center;}
/* FIN TABLAS*/		

/*PIE*/		
footer{
color:#fff;
text-align:center;
padding:5px;
background: -moz-linear-gradient(left, #ffffff 0%, #ff0000 10%, #ff0000 90%, #ffffff 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(10%,#ff0000), color-stop(90%,#ff0000), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, #ffffff 0%,#ff0000 10%,#ff0000 90%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
background: linear-gradient(to right, #ffffff 0%,#ff0000 10%,#ff0000 90%,#ffffff 100%); /* W3C */
border-top:1px solid #FF0000;
}
/*FIN PIE*/	


