.split-pane {
	height: 600px;
	border: 1px solid #f3f3f3;
	border-radius: 0px;
	margin-left: -10px;
	margin-right: -10px;
	width: 100%;
}

.split {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow-y: auto;
}

.gutter {
	background-color: #eee;
	background-repeat: no-repeat;
	background-position: 50%;
}

.gutter.gutter-horizontal {
	background-image: url('../img/grips/vertical.png');
	cursor: ew-resize;
}

.gutter.gutter-vertical {
	background-image: url('../img/grips/horizontal.png');
	cursor: ns-resize;
}

.split.split-horizontal, .gutter.gutter-horizontal {
	height: 100%;
	float: left;
}

.split.split-horizontal-izq {
	padding: 10px;
	max-width: 87%;
	min-width: 12.3%;
}

.split.split-horizontal{
	padding: 10px;
}

.max-min-izq{
	max-width: 87%;
	min-width: 12.3%;
}

.max-min-dcha{
	max-width: 87%;
	min-width: 12.3%;
}

.max-min-dchaACC{
	max-width: 60%;
	min-width: 12.3%;
}