/* 
 * triggers
 *
 * @Version 1.0.0
 *
 * default css
 *
 * Available: NONE, NORMAL, PAUSED, COMPLETE, ERROR, BLOCKED
 *
 */

.triggerNONE { color: white; background-color: black; }
.triggerNORMAL { color: green; background-color: transparent; }
.triggerERROR { color: red; background-color: transparent; }
.triggerBLOCKED { color: yellow; background-color: transparent; }
.triggerPAUSED { color: white; background-color: blue; }
.triggerCOMPLETE { color: black; background-color: lightgrey; }

.jobs input[type=image] { margin: 0px; border: none; }
.jobs input[type=checkbox] { margin: 0px; }

#reloj {
	text-align: center;
	border: 1px solid red;
	font-size: 9px;
	padding: 1px 20px;
	display: inline;
/*
}
#reloj > #clock {
*/
	-webkit-box-shadow: 4px 4px 4px 0px rgba(221,221,221,1);
	-moz-box-shadow: 4px 4px 4px 0px rgba(221,221,221,1);
	box-shadow: 4px 4px 4px 0px rgba(221,221,221,1);
}

/*
 * Para el historico de una tarea
 */

#divHistory li {
	list-style: none;		/* all list item li dots invisible */
}

#divHistory li.execution > span {
	text-decoration: underline;
	font-size: 13px;
	font-weight: bold;
	margin-bottom: 2px;
}

#divHistory li.execution {
}							/* could add the many user-select: none; commands here */

#divHistory li.execution ol {
	margin-top: 4px;
	border: 1px solid red;
	padding: 2px;
	font-size: 11px;
	background-color: lightyellow;
}

#divHistory li.execution ol li.history {
	cursor: pointer;		/* cursor changes when you mouse over this class */
	font-family: monospace;
	list-style: outside url("/sibbac20/img/sqpurple.gif") square;		/* all list item li dots invisible */
	display: block;			/* display submenu on click */
}




/*
 * Para los logs
 */
.loggers {
	border: 1px solid red;
	display: none;
	font-size: 11px;
	left: auto;
	margin: 10px;
	padding: 20px;
	vertical-align: top;
	width: auto;
	height: auto;
	text-shadow: 1px 1px 1px #000000;
	/* filter: dropshadow(color=#000000, offx=1, offy=1); */
}
#logger {
	display: block;
    height: 320px !important;
}
.commands {
	/* box-shadow: 0 0 10px #ddd; */
	-webkit-box-shadow: 10px 10px 10px 0px rgba(221,221,221,1);
	-moz-box-shadow: 10px 10px 10px 0px rgba(221,221,221,1);
	box-shadow: 10px 10px 10px 0px rgba(221,221,221,1);
	border-top: 1px solid red;
	background-color: lightgray;
    left: 5%;
    margin: auto;
    padding: 0 20px;
    right: 20px;
    text-align: right;
    width: 90%;
}
.commands > input {
	font-family: Tahoma, Verdana, Times, Arial, Helvetica;
	font-size: 11px;
}


.loggers .lineUp {
	border-top: 1px solid red;
	width: 100%;
	background-color: lightgray;
}
.loggers select {
	color: red;
	font-size: 11px;
	border: 0px;
}
