<article>
	<div class="title_section clearfix">
		<div class="align-left">
			<p class="title">Configuraci&oacute;n Botonazo</p>
		</div>
		<div class="datos">
			<form name="imputacionS3FormName">
			<div align="center">
				<ul>
					<label>CUENTA IMPUTACION:</label>
					<select ng-model="ctrl.config.cuentaCompensacionDestinoS3">
						<option ng-repeat="cta in ctrl.listCuentasCompensacion" label="{{cta.cdCodigo}}" value="{{cta.cdCodigo}}" ng-selected="cta.cdCodigo == ctrl.config.cuentaCompensacionDestinoS3">{{cta.cdCodigo}}</option>
					</select>
				</ul>
				<ul>
					<label>HORA IMPUTACION PTI MAB:</label>
					<input type="text" id="horaInicioImputacionPtiMabId"
						datetime="HH:mm:ss" placeholder="HH:mm:ss"
						ng-model="ctrl.config.horaInicioImputacionS3PtiMab"
						ng-pattern="regex" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]"
						required="true">
					<label> HASTA </label>
					<input type="text" id="horaFinalImputacionPtiMabId"
						datetime="HH:mm:ss" placeholder="HH:mm:ss"
						ng-model="ctrl.config.horaFinalImputacionS3PtiMab" 
						ng-pattern="regex" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]"
						required="true">
				</ul>
				<ul>
					<label>HORA IMPUTACION PTI NO MAB:</label>
					<input type="text" id="horaInicioImputacionPtiNoMabId"
						datetime="HH:mm:ss" placeholder="HH:mm:ss"
						ng-model="ctrl.config.horaInicioImputacionS3PTiNoMab"
						ng-pattern="regex" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]"
						required="true" >
					<label> HASTA </label>
					<input type="text" id="horaFinalImputacionPtiNoMabId"
						datetime="HH:mm:ss" placeholder="HH:mm:ss"
						ng-model="ctrl.config.horaFinalImputacionS3PTiNoMab"
						required="true" >
				</ul>
				<ul>
					<label>HORA IMPUTACION EUROCCP:</label>
					<input type="text" id="horaInicioImputacionEuroccpId"
						datetime="HH:mm:ss" placeholder="HH:mm:ss"
						ng-model="ctrl.config.horaInicioImputacionS3EuroCcp"
						ng-pattern="regex" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]"
						required="true" >
					<label> HASTA </label>
					<input type="text" id="horaFinalImputacionEuroccpId"
						datetime="HH:mm:ss" placeholder="HH:mm:ss"
						ng-model="ctrl.config.horaFinalImputacionS3EuroCcp"
						ng-pattern="regex" pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]:[0-5][0-9]"
						required="true" >
				</ul>
				<ul>
					<input type="submit" id="reloadButtonId" value="RESTAURAR"
						ng-click="ctrl.reload()" >
					<input type="submit" id="updateButtonId" value="GUARDAR"
						ng-click="ctrl.update()" ng-if="isPermisoAccion(SecurityActions.MODIFICAR)">
					<input type="submit" id="imputacionS3PtiMabButtonId"
						value="IMPUTACION PTI MAB" ng-click="ctrl.imputacionPtiMab()" ng-if="isPermisoAccion(SecurityActions.MODIFICAR)">
					<input type="submit" id="imputacionS3PtiNoMabButtonId"
						value="IMPUTACION PTI" ng-click="ctrl.imputacionPti()" ng-if="isPermisoAccion(SecurityActions.MODIFICAR)">
					<input type="submit" id="imputacionS3EuroccpButtonId"
						value="IMPUTACION EUROCCP" ng-click="ctrl.imputacionEuroCcp()" ng-if="isPermisoAccion(SecurityActions.MODIFICAR)">
				</ul>
			</div>
			</form>
		</div>
</article>

<!-- Dialog result -->
<div id="resultDialog">
	<div class='dialogMensajeIncon' ng-switch="ctrl.result.ok">
		<img ng-switch-when="true" src='/sibbac20/images/accept.png' /> <img
			ng-switch-when="false" src='/sibbac20/images/error.png' />
	</div>
	<p class="dialogMensajeText">
	<ul>
		<li ng-repeat="m in ctrl.result.message">{{ m }}</li>
	</ul>
	</p>
	<p ng-if="!ctrl.result.ok" class="dialogMensajeText">
		<span class="desresumen">Mensajes de Error:</span>
	<ul>
		<li ng-repeat="m in ctrl.result.errorMessage">{{ m }}</li>
	</ul>
	</p>
</div>