<div id="menuDiv">
    <ul>
        <li class="nivel1"><a href="#" class="nivel1">Contabilidad</a>
           <ul class="nivel2">
                <li><a class="menuItem" href="views/contabilidad/informes.html">Informes</a></li>
           </ul>
       </li>
        <li class="nivel1"><a href="#" class="nivel1 menuItem">Facturaci&oacute;n</a>
            <ul class="nivel2">
                <li class="nivel2"><a class="nivel2" href="#">Facturas »</a>
                    <ul class="nivel3">
                    	<li><a class="primera menuItem" href="views/facturas/FacturaConsulta.html">Consultar</a></li>
                        <li><a class="primera menuItem" href="views/facturas/CrearFactura.html">Crear Facturas</a></li>                        
						<li><a class="primera menuItem" href="views/facturas/FacturasEnviadas.html">Enviadas</a></li>
						<li><a class="primera menuItem" href="views/facturas/FacturasRectificativas.html">Rectificativas</a></li>
						<li><a class="primera menuItem" href="views/facturas/FacturaRecordatorios.html">Recordatorios</a></li>
                    </ul>
                </li>
                <li class="nivel2"><a class="nivel2 menuItem" href="#">Cobros »</a>
                    <ul class="nivel3">
                        <li><a class="primera menuItem" href="views/facturas/CrearCobro.html" >Crear</a></li>
                        <li><a class="primera menuItem" href="views/cobros/CobrosConsulta.html">Consultar</a></li>
                    </ul>
                </li>		
            </ul>
        </li>
        <li class="nivel1"><a href="#" class="nivel1">Gesti&oacute;n de alias</a>
            <ul class="nivel2">
                <li><a class="menuItem" href="views/direccionFiscal/direccionFiscal.html">Direcci&oacute;n fiscal</a></li>
                <li><a class="menuItem" href="views/periodicidad/periodicidad.html">Periodicidad</a></li>
                <li><a class="menuItem" href="views/contactos/contactos.html">Contactos</a></li>
                <li><a class="menuItem" href="#">Plantillas</a></li>
            </ul>
        </li>	
        <li class="nivel1"><a href="#" class="nivel1">Conciliaci&oacute;n</a>
            <ul class="nivel2">
            	 <li class="nivel2"><a class="nivel2" href="#">Efectivo »</a>
                    <ul class="nivel3">
                        <li><a class="primera menuItem" href="views/conciliacion/clearingEfectivo.html">Clearing</a></li>            
                        <li><a class="primera menuItem" href="views/conciliacion/propiaEfectivo.html">Propia</a></li>
                        <li><a class="primera menuItem" href="views/conciliacion/provisionEfectivo.html">Provisi&oacute;n Efectivo</a></li>
                    </ul>
                </li>
                <li class="nivel2"><a class="nivel2 menuItem" href="#">Titulos »</a>
                    <ul class="nivel3">
                        <li><a class="primera menuItem" href="views/conciliacion/clearingBalance.html">Balance Clearing</a></li>
                    	<li><a class="primera menuItem" href="views/conciliacion/clearingTitulos.html">Clearing</a></li>
                        <li><a class="primera menuItem" href="views/conciliacion/diaria.html" >Diaria</a></li>             
                        <li><a class="primera menuItem" href="views/conciliacion/propiaTitulos.html">Propia</a></li>
                    </ul>
                </li>
                 <li class="nivel2"><a class="nivel2 menuItem" href="views/conciliacion/movimientosManuales.html">Movimientos Manuales</a>

                </li>		
            </ul>
            <li class="nivel1"><a href="#" class="nivel1">Clearing-Netting</a>
            <ul class="nivel2">            	 
             	<li><a class="menuItem" href="views/clearing/EntregaRecepcionClienteS3.html">Consulta Entrega/Recepci&oacute;n</a></li>
             </ul>
        
        </li>
        
        <li class="nivel1"><a href="#" class="nivel1">Exportaci&oacute;n</a>
           <ul class="nivel2">
               <li><a class="menuItem" href="views/exportacion/exportacion.html">Ficheros FIX a  XML</a></li>
           </ul>
       </li>
        <li class="nivel1"><a href="#" class="nivel1">Configuraci&oacute;n</a>
           <ul class="nivel2">
               <li><a class="menuItem" href="views/configuracion/numeradores.html">Numeradores</a></li>
               <li><a class="menuItem" href="views/configuracion/GruposImpositivos.html">Grupos Impositivos</a></li>
               <li><a class="menuItem" href="views/configuracion/identificador.html">Identificador</a></li>
               <li><a class="menuItem" href="views/configuracion/PeriodosContables.html">Periodos contables</a></li>
               <li><a class="menuItem" href="#">Conceptos</a></li>
			   <li><a class="menuItem" href="views/configuracion/LanzadorProcesos.html">Lanzador de Procesos</a></li>
			  <!--  <li><a class="menuItem" href="views/configuracion/Documentos.html">Tipos de Documentos</a></li> -->
           </ul>        
        </li>
    </ul>
    <script src="components/menu/js/menu.js" type="text/javascript"></script>
</div>
