<div id="menuDiv" ng-if="securityActive">
    <ul>
    	<li class="nivel1" ng-repeat="opcion in menu"><a class="nivel1" ng-if="opcion.active">{{opcion.opcion}}</a>
    	
    		<ul class="nivel2" ng-if="opcion.submenu.length > 0">
    			<li ng-repeat="subopcion in opcion.submenu" class="'nivel2': subopcion.submenu.length > 0, 'menuItem': subopcion.submenu.length == 0">
    				<a class="nivel2 menuItem" target="{{subopcion.url.indexOf('#') > -1 ? '' : '_blank'}}"  ng-href="{{subopcion.url}}" ng-if="subopcion.url != null && subopcion.active">{{subopcion.opcion}}</a>
    				<a class="nivel2 menuItem"  ng-if="subopcion.url == null && subopcion.active">{{subopcion.opcion}}</a>
    			
	    			<ul class="nivel3" ng-if="subopcion.submenu.length > 0">
		    			<li ng-repeat="subsubopcion in subopcion.submenu" class="'nivel3': subsubopcion.submenu.length > 0, 'menuItem': subsubopcion.submenu.length == 0">
		    				<a class="nivel3 menuItem"  target="{{subsubopcion.url.indexOf('#') > -1 ? '' : '_blank'}}" ng-href="{{subsubopcion.url}}" ng-if="subsubopcion.url != null && subsubopcion.active">{{subsubopcion.opcion}}</a>
    						<a class="nivel3 menuItem" ng-if="subsubopcion.url == null && subsubopcion.active">{{subsubopcion.opcion}}</a>
		    				
		    				<ul class="nivel4" ng-if="subsubopcion.submenu.length > 0">
				    			<li ng-repeat="subsubsubopcion in subsubopcion.submenu">
				    				<a class="primera menuItem"  target="{{subsubsubopcion.url.indexOf('#') > -1 ? '' : '_blank'}}" ng-href="{{subsubsubopcion.url}}" ng-if="subsubsubopcion.url != null && subsubsubopcion.active">{{subsubsubopcion.opcion}}</a>
				    			</li>
				    		</ul>
				    		
		    			</li>
		    		</ul>
    			
    			</li>
    		</ul>
    		
    	</li> 
    </ul>
</div>


<div id="menuDiv" ng-if="!securityActive"> Menu sin seguridad
    <ul>
        <li class="nivel1"><a class="nivel1">Operaciones</a>
            <ul class="nivel2">
                <li><a class="menuItem" ng-href="{{urlSibbac}}" target="_blank">Acceder a SIBBAC</a></li>
                <li><a class="menuItem" ng-click="doLogout()" target="_blank">Salir de SIBBAC</a></li>
                <li class="nivel2"><a class="nivel2 menuItem">Entregas/Recepciones »</a>
                    <ul class="nivel3">
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/clearing/EntregaRecepcionCliente" title="Consulta Entregas/Recepciones">Consulta Entregas/Recepciones</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/clearing/ConsultaNetting" title="Consulta Netting">Consulta Netting</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/clearing/ConsultaNettingTitulosSinMov" title="Consulta Netting sin Movimiento">Consulta Netting sin Movimiento de T&iacute;tulos</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/clearing/ConsultaIntereses" title="Consulta Intereses">Consulta Intereses de Financiaci&oacute;n</a></li>
                    </ul>
                </li>

                 <li class="nivel2"><a class="nivel2 menuItem">Titularidades Routing »</a>
                	<ul class="nivel3">
                		<li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/clearing/ControlTitularesRouting">Control de Titulares</a></li>
                      <!-- <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/clearing/PageableControlTitularesRouting" title="Control de Titulares">Control de Titulares Pageable Server -Side Test</a></li>-->
                		<li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/clearing/ActualizacionMasivaTitulares">Actualizaci&oacute;n Masiva</a></li>
                		
                	</ul>
                </li>
                <li class="nivel2"><a class="nivel2 menuItem" title="Operaciones especiales">Operaciones especiales »</a>
                	<ul class="nivel3">
                		<li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/clearing/desglosesMQ" title="Desgloses Partenon">Desgloses Partenon</a></li>
                		<li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/conciliacion/desglosesHuerfanos" title="Desgloses Partenon Huerfanos">Desgloses Partenon Huerfanos</a></li>
                	</ul>
               <li><a class="menuItem" ng-click="navigateTo($event)" ng-href="#/clearing/ReportesCNMV">Reportes CNMV</a></li>
                <li class="nivel2"><a class="nivel2 menuItem" title="Operaciones de Clientes">Operaciones de Clientes »</a>
                	<ul class="nivel3">
                		<li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/clearing/DesglosesMacro" title="Operaciones para desglose por macro">Operaciones para desglose por macro</a></li>
                 	</ul>
                </li>	               
            </ul>
        </li>


        <li class="nivel1"><a class="nivel1">Conciliaci&oacute;n</a>
            <ul class="nivel2">
                <li class="nivel2"><a class="nivel2 menuItem">Efectivo »</a>
                    <ul class="nivel3">
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/conciliacion/clearingConsulta" title="Conciliación ER">Conciliaci&oacute;n ER</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/conciliacion/provisionEfectivo" title="Provisión De Efectivo Clearing">Provisi&oacute;n Efectivo Clearing</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/conciliacion/provisionEfectivaPropia" title="Provisión Efectivo Propia">Provisi&oacute;n Efectivo Propia</a></li>
                    </ul>
                </li>
                <li class="nivel2"><a class="nivel2 menuItem">T&iacute;tulos »</a>
                    <ul class="nivel3">
                        <li class="nivel3"><a class="nivel3 menuItem">Balances »</a>
                            <ul class="nivel4">
                                <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/conciliacion/balance" title="Balance">Balance</a></li>
                                <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/conciliacion/clearingBalance" title="Clearing Balance Cliente">Clearing Balance Cliente</a></li>
                                <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/conciliacion/clearingBalanceValor" title="Clearing Balance Valor">Clearing Balance Valor</a></li>
                            </ul>
                        </li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/conciliacion/diaria" title="Diaria">Diaria</a></li>						
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/conciliacion/clearingTitulos" title="Conciliación ER">Conciliaci&oacute;n ER</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/conciliacion/propiaTitulos" title="Propia">Propia</a></li>
                    </ul>
                </li>
                <li class="nivel2"><a class="nivel2 menuItem" ng-click="navigateTo($event)" ng-href="#/conciliacion/cuentasECC" title="Cuentas ECC">Cuentas ECC</a></li>
                <li class="nivel2"><a class="nivel2 menuItem" ng-click="navigateTo($event)" ng-href="#/conciliacion/movimientosManuales" title="Crear Movimiento Manual">Crear Movimiento Manual</a></li>
                <li class="nivel2"><a class="nivel2 menuItem" ng-click="navigateTo($event)" ng-href="#/conciliacion/cuentasEspejo" title="Cuentas Espejo">Cuentas Espejo</a></li>
                <li class="nivel2"><a class="nivel2 menuItem" ng-click="navigateTo($event)" ng-href="#/conciliacion/cuentasVirtuales" title="Cuentas Virtuales">Cuentas Virtuales</a></li>
                
            </ul>
            
         
           
        

        <li class="nivel1"><a class="nivel1">Facturaci&oacute;n</a>
            <ul class="nivel2">
                <li class="nivel2"><a class="nivel2">Facturas »</a>
                    <ul class="nivel3">
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/facturas/FacturaConsulta" title="Consultar Facturas Sugeridas" >Consultar Sugeridas</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/facturas/FacturasRectificativas" title="Facturas Rectificativas">Consultar Rectificativas</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/facturas/FacturasEmitidas" title="Facturas Emitidas">Facturas Emitidas</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/facturas/CrearFactura" title="Crear Facturas">Crear Factura</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/facturas/CrearRectificativa" title="Anular Factura">Anular Factura</a></li>
                    </ul>
                </li>
                <li class="nivel2"><a class="nivel2 menuItem">Cobros »</a>
                    <ul class="nivel3">
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/facturas/CrearCobro" title="Crear Cobro">Crear</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/facturas/CobrosConsultar" title="Consultar Cobro">Consultar</a></li>
                    </ul>
                </li>
            </ul>
        </li>

        <li class="nivel1"><a class="nivel1">Fallidos y Ajustes</a>
            <ul class="nivel2">
                <li><a class="menuItem" ng-click="navigateTo($event)" ng-href="#/fallidos/fallidosMovimiento" title="Movimientos Fallidos">Movimiento Fallidos</a></li>
                <!-- <li><a class="menuItem" href="views/fallidos/fallidosMovimientoAlta.html">Alta Operaci&oacute;n Fallido</a></li>-->
                <li><a class="menuItem" ng-click="navigateTo($event)" ng-href="#/fallidos/operacionFallida" title="Operaciones Fallidas">Operaciones Fallidas</a></li>
            </ul>
        </li>

        <li class="nivel1"><a class="nivel1">Contabilidad</a>
            <ul class="nivel2">
                <li class="nivel2"><a class="nivel2 menuItem">Apuntes contables manuales »</a>
                    <ul class="nivel3">
                        <li><a class="menuItem" ng-click="navigateTo($event)" ng-href="#/contabilidad/altaApunteContable" title="Alta manual de apunte contable">Alta manual de apunte contable</a></li>
                        <li><a class="menuItem" ng-click="navigateTo($event)" ng-href="#/contabilidad/generarCartaPago" title="Generar carta de pago">Generar carta de pago</a></li>
                    </ul>
                </li>
                <li class="nivel2"><a class="nivel2 menuItem">Norma 43 »</a>
                    <ul class="nivel3">
                        <li><a class="menuItem" ng-click="navigateTo($event)" ng-href="#/contabilidad/norma43Descuadres" title="Descuadres Norma43">Descuadres</a></li>
                    </ul>
                </li>
                <li><a class="menuItem" ng-click="navigateTo($event)" ng-href="#/contabilidad/contaInformes" title="Informes">Informes</a></li>
                <li><a class="menuItem" ng-click="navigateTo($event)" ng-href="#/contabilidad/cierreContable" title="Cierre Mes">Cierre Mes</a></li>
                <li><a class="menuItem" ng-click="navigateTo($event)" ng-href="#/contabilidad/cuentaContable" title="Cuenta Contable">Cuenta Contable</a></li>
            </ul>
        </li>
        <li class="nivel1"><a class="nivel1">Informes</a>
            <ul class="nivel2">
                <li class="nivel2"><a class="nivel2 menuItem">BME ECC »</a>
                    <ul class="nivel3">
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/exportacion/exportacion" title="Consulta Ficheros ECC">Consulta Ficheros ECC</a></li>
                    </ul>
                </li>
                 <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/exportacion/transaccionesFinancieras" title="Informes de Transacciones Financieras">Transacciones Financieras</a></li>
                 <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/plantillasInformes/plantillasInformes" title="Plantillas Informes">Plantillas Informes</a></li>
                 <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/plantillasInformes/generarInformes" title="Generación de Informes">Generación de Informes</a></li>
            </ul>
        </li>

        <li class="nivel1"><a class="nivel1">Configuraci&oacute;n</a>
            <ul class="nivel2">
                <li><a class="menuItem" ng-click="navigateTo($event)" ng-href="#/configuracion/GestionReglas" title="GestionReglas">Gestion de Reglas</a></li>
                <li><a class="menuItem" ng-click="navigateTo($event)" ng-href="#/configuracion/jobs" title="Procesos">Gestor de Procesos</a></li>
                <li><a class="menuItem" ng-click="navigateTo($event)" ng-href="#/periodicidad/periodicidad" title="Periodicidades">Gestor de Periodicidades</a></li>
                <li class="nivel2"><a class="nivel2 menuItem" ng-click="navigateTo($event)" ng-href="#/configuracion/financiacionIntereses" title="Financiaci&oacute;n e Intereses">Financiaci&oacute;n e Intereses</a></li>
                <li class="nivel2"><a class="nivel2 menuItem">Tablas Maestras »</a>
                    <ul class="nivel3">
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/conciliacion/tipoMovimiento" title="Tipo movimiento">Tipo movimiento</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/conciliacion/cuentaLiquidacion" title="Cuentas De Liquidación">Cuentas De Liquidaci&oacute;n</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/configuracion/cuentaCompensacion" title="Cuentas De Compensaci&oacute;n">Cuentas De Compensaci&oacute;n</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/datosMaestros/codigosOperacion" title="C&oacute;digos Operaci&oacute;n">C&oacute;digos Operaci&oacute;n</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/datosMaestros/gruposValores" title="Grupos Valores">Grupos Valores</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/datosMaestros/conceptosMovEfectivo" title="Conceptos Movimientos Efectivo">Conceptos Movimientos Efectivo</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/datosMaestros/depositariosValores" title="Depositarios Valores">Depositarios Valores</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/datosMaestros/modosMatGarantias" title="Tipos Materializaci&oacute;n Garant&iacute;as">Tipos Materializaci&oacute;n Garant&iacute;as</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/datosMaestros/tiposActivo" title="Tipos Activo">Tipos Activo</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/datosMaestros/tiposGarantiaExigidas" title="Tipos Garant&iacute;a Exigida">Tipos Garant&iacute;a Exigida</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/datosMaestros/tiposPersona" title="Tipos Persona">Tipos Persona</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/datosMaestros/tiposProducto" title="Tipos Producto">Tipos Producto</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/conciliacion/entidadRegistro" title="Entidad Registro">Entidad Registro</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/conciliacion/tipoEntidadRegistro" title="Tipo Entidad Registro">Tipo Entidad Registro</a></li>
                    </ul>
                </li>
                <li class="nivel2"><a class="nivel2 menuItem" ng-click="navigateTo($event)" ng-href="#/configuracion/Textos" title="Gestión de Textos">Gesti&oacute;n de Textos</a></li>
                <li class="nivel2"><a class="nivel2 menuItem" title="Configuración de Clientes">Configuraci&oacute;n de Clientes »</a>
                    <ul class="nivel3">
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/configuracion/LanzadorProcesos" title="Lanzador de Procesos">Lanzador de Procesos</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/contactos/contactos" title="Contactos">Contactos</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/alias/alias" title="Alias">Alias</a></li>
 						<li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/mantenimientosDatosCliente/mntoTitulares" title="Final Holders">Final Holders</a></li>
  						<li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/mantenimientosDatosCliente/cargaFicheroSwift" title="Carga SWIFT">Carga SWIFT</a></li>                        
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/configuracion/serviciosCliente" title="Servicios Cliente">Servicios a Cliente</a></li>
                    </ul>
                </li>
                <li class="nivel2"><a class="nivel2 menuItem">Configuraci&oacute;n de Facturas »</a>
                    <ul class="nivel3">
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/configuracion/aliasSubcuenta" title="Alias Subcuenta">Subcuentas</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/Recordatorios/Recordatorios" title="Recordatorios">Recordatorio Impagos</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/direccionFiscal/direccionFiscal" title="Dirección Fiscal">Direcci&oacute;n Fiscal</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/configuracion/numeradores" title="Numeradores">Numeradores</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/configuracion/GruposImpositivos" title="Grupos Impositivos">Grupos Impositivos</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/configuracion/identificador" title="Identificador">Identificador</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/configuracion/PeriodosContables" title="Periodos Contables">Periodos Contables</a></li>
                    </ul>
                </li>
            </ul>
        </li>
   
        <li class="nivel1"><a class="nivel1">Administración</a>
            <ul class="nivel2">
                <li class="nivel2"><a class="nivel2 menuItem">Gestión de Accesos »</a>
                    <ul class="nivel3">
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/gestionAccesos/gestionUsuarios" title="Gestión Usuarios">Gesti&oacute;n Usuarios</a></li>
                        <li><a class="primera menuItem" ng-click="navigateTo($event)" ng-href="#/gestionAccesos/gestionPerfiles" title="Gestión Pefiles">Gesti&oacute;n Perfiles</a></li>
                    </ul>
                </li>
            </ul>
        </li>
</ul>
</div>
	