<p class="titleAlta" ng-bind="dialogTitle"></p>
<form id="cargarPopupParam" ng-submit="modificarContacto()">
    <fieldset>
        <div class="two-columns">
            <div>
                <label for="textNombre1" class="desresumen">Nombre : </label>
                <input type="text" id="textNombre1" ng-model="filtro.mod.textNombre1" class="anchoinp" required="required"/>
            </div>
            <div>
                <label for="textApel11" class="desresumen">Primer apellido :</label>
                <input type="text" id="textApel11" ng-model="filtro.mod.textApel11" class="anchoinp" required="required"/>
            </div>
            <div>
                <label for="textApel21" class="desresumen">Segundo apellido : </label>
                <input type="text" id="textApel21" ng-model="filtro.mod.textApel21" class="anchoinp"/>
            </div>
            <div>
                <label for="chkActiv" class="desresumen">Activada:</label>
                <input type="checkbox" id="chkActiv" ng-model="filtro.mod.chkActiv"/>
            </div>
            <div>
                <label for="textTelefono1" class="desresumen">Telefono : </label>
                <input type="text" ng-model="filtro.mod.textTelefono1" id="textTelefono1" class="anchoinp" onkeypress="return justNumbers(event);" maxlength="9"/>
            </div>
        </div>
        <div class="two-columns">
            <div>
                <label for="textMovil1" class="desresumen">M&oacute;vil : </label>
                <input type="text" ng-model="filtro.mod.textMovil1" id="textMovil1" class="anchoinp" onkeypress="return justNumbers(event);" maxlength="9"/>
            </div>
            <div>
                <label for="textFax1" class="desresumen">Fax :</label>
                <input type="text" id="textFax1" ng-model="filtro.mod.textFax1" class="anchoinp" onkeypress="return justNumbers(event);" maxlength="10"/>
            </div>
            <div style="valign: top">
                <label for="textEmail1" class="desresumen">Email :</label>
                <textArea rows="5" required="required" cols="45" ng-model="filtro.mod.textEmail1" id="textEmail1"></textArea>
		</div>
		<div>
			<label for="textCargo1" class="desresumen">Cargo :</label>
			<input type="text" ng-model="filtro.mod.textCargo1" id="textCargo1" class="anchoinp"/>
		</div>
			<input type="hidden" ng-model="filtro.mod.chkDefecto" id="chkDefecto" ng-click="desactivarCheck();" ng-disabled="filtro.mod.chkDefecto === false"/>
<!--
		<div>
			<label for="chkDefecto" class="desresumen">Defecto:</label>
		</div>
-->
		<div>
			<label for="textGestor1" class="desresumen">Gestor:</label>
			<input type="checkbox" ng-model="filtro.mod.textGestor1" id="textGestor1" />
		</div>
</div>
    </fieldset>
    <div class="centrar">        
          <input class="btn mybutton" type="submit" id="editarContacto" value="Modificar" />
     </div>
</form>