<p class="titleAlta" ng-bind="dialogTitle"></p>
<form id="cargarPopupParam" ng-submit="submitDialogForm($event)">
    <fieldset>
        <input type="hidden" id="idTipoEr" />
        <div class="two-columns">
            <div>
                <label for="alta_nombre" class="desresumen">Nombre:</label> 
                <input type="text" maxlength="255" id="alta_nombre" ng-model="currentTER.nombre" required="required" />
                <input type="hidden" ng-model="currentTER.id" />
            </div>

        </div>

    </fieldset>
    <div class="align-center">
        <input class="btn mybutton" type="submit" id="altaparam"
               value="Guardar" class="align-center" />
    </div>
</form>
