<p class="titleAlta" ng-bind="dialogTitle"></p>
<form id="cargarPopupParam" ng-submit="altaParametrizacion()">
    <fieldset>
    	<div>
        	<label for="fDesdeParam" class="desresumen">Fecha desde</label>
            <input datepicker type="text" id="fDesdeParam" class="anchoimp"
                                       pattern="\d{1,2}/\d{1,2}/\d{4}" required="required"
                                       title="La fecha introducida no es válida."
                                       ng-model="fDesdeParam"/>
        </div>        
        <div>
                <label for="fHastaParam" class="desresumen">Fecha hasta:</label>
                <input datepicker type="text" id="fHastaParam" class="anchoimp"
                                       pattern="\d{1,2}/\d{1,2}/\d{4}"
                                       title="La fecha introducida no es válida."
                                       ng-model="fHastaParam"/>
        </div>
        <div>
                <label for="exFestivo" class="desresumen">Excepcionar festivos:</label>
                <input type="checkbox" id="exFestivo" ng-model="exFestivo" ng-click="cambioFestivo()"/>
        </div>
        <div id="cambioExcepcionar" class="cambioExcepcionar">
        	<div>
            	<label for="labAnterior" class="desresumen">Laborable anterior:</label>
                <input type="checkbox" id="labAnterior" ng-model="labAnterior" ng-click="cambioLabAnterior()"/>
            </div> 
        	<div>
                <label for="labPosterior" class="desresumen">Laborable posterior:</label>
                <input type="checkbox" id="labPosterior" ng-model="labPosterior" ng-click="cambioLabPosterior()"/>
            </div> 
        </div>
        <div>
            <label for="margenAnterior" class="desresumen">Margen anterior (min):</label>
            <input type="text" id="margenAnterior" ng-model="margenAnterior" class="anchoinp" placeholder="0"  onkeypress="justNumbers(event);" maxlength="10" />
        </div> 
        <div>
            <label for="margenPosterior" class="desresumen">Margen posterior (min):</label>
            <input type="text" id="margenPosterior" ng-model="margenPosterior" class="anchoinp" placeholder="30"  onkeypress="justNumbers(event);" maxlength="10" />
        </div> 
        <div>
            <label for="horaParam" class="desresumen">Hora:</label>
            <input type="text" id="horaParam"  maxlength="2" ng-model="horaParam" placeholder="12" onkeypress="return justNumbers(event);"/>
        </div>
        <div>
            <label for="minParam" class="desresumen">Minuto:</label>
            <input type="text" id="minParam" maxlength="2" ng-model="minParam" placeholder="00" onkeypress="return justNumbers(event);"/>
        </div>
        <div>
            <label for="diaSemana" class="desresumen">Dia:</label>
            <select id="diaSemana" class="anchoinp" ng-model="diaSemana"></select>
        </div> 
        <div>
            <label for="idMes" class="desresumen">Mes:</label>
            <select id="idMes" class="anchoinp" ng-model="idMes"></select>
        </div>
        <div>
            <label for="diaMes" class="desresumen">Dia del Mes:</label>
            <input type="text" id="diaMes" ng-model="diaMes" class="anchoinp"/>
        </div> 
        <div>
            <label for="activaParam" class="desresumen">Activa:</label>
            <input type="checkbox" ng-model="activaParam" id="activaParam" checked/>
        </div> 
    </fieldset>
    <div class="centrar">        
            <input class="btn mybutton" type="submit" id="altaParam" value="Alta" />
    </div>
</form>

