<p class="titleAlta" ng-bind="dialogTitle"></p>
<form id="cargarPopupParam" ng-submit="modificarRegla()">
    <fieldset>
	    <div>
	          <label for="idReglaFormulario" class="desresumen">C&oacute;digo:</label>
	          <input type="text" id="idReglaFormulario" ng-model="idReglaFormulario" class="anchoinp" disabled="disabled"/>
	    </div>
	    <div>
	          <label for="descReglaFormulario" class="desresumen">Descripci&oacute;n:</label>
	          <input type="text" id="descReglaFormulario" ng-model="descReglaFormulario" class="anchoinp" required="required"/>
	    </div>        
	    <div>
	          <label for="fIniReglaFormulario" class="desresumen">Fecha Inicio:</label>
	          <input datepicker type="text" id="fIniReglaFormulario" class="anchoimp"
	                                       pattern="\d{1,2}/\d{1,2}/\d{4}" required="required"
	                                       title="La fecha introducida no es válida."
	                                       ng-model="fIniReglaFormulario"/>
	    </div>
	    <div>
	          <label for="fFinReglaFormulario" class="desresumen">Fecha Fin:</label>
	          <input datepicker type="text" id="fFinReglaFormulario" class="anchoimp"
	                                       pattern="\d{1,2}/\d{1,2}/\d{4}"
	                                       title="La fecha introducida no es válida."
	                                       ng-model="fFinReglaFormulario"/>
	    </div>
	    <div>
	          <label for="activaReglaFormulario" class="desresumen">Activada:</label>
	          <input type="checkbox" ng-model="activaReglaFormulario" id="activaReglaFormulario" />
	    </div>
    </fieldset>
    <div class="centrar">        
          <input class="btn mybutton" type="submit" id="editarRegla" value="Modificar"/>
     </div>
</form>


      
       
     