<p class="titleAlta" ng-bind="dialogTitle"></p>
<form id="cargarPopupParam">
    <fieldset>
    	<div>
        	<label for="fDesdeParam1" class="desresumen">Fecha desde</label>
            <input datepicker type="text" id="fDesdeParam1" class="anchoimp"
                                       pattern="\d{1,2}/\d{1,2}/\d{4}" 
                                       title="La fecha introducida no es válida."
                                       ng-model="editParam.fDesdeParam1"/>
        </div>        
        <div>
                <label for="fHastaParam1" class="desresumen">Fecha hasta:</label>
                <input datepicker type="text" id="fHastaParam1" class="anchoimp" pattern="\d{1,2}/\d{1,2}/\d{4}" title="La fecha introducida no es válida." ng-model="editParam.fHastaParam1"/>
        </div>
        <div>
                <label for="exFestivo1" class="desresumen">Excepcionar festivos:</label>
                <input type="checkbox" id="exFestivo1" ng-model="editParam.exFestivo1" ng-click="cambioFestivo1()"/>
        </div>
        <div ng-show="editParam.exFestivo1">
        	<div>
            	<label for="labAnterior1" class="desresumen">Laborable anterior:</label>
                <input type="checkbox" id="labAnterior1" ng-model="editParam.labAnterior1" ng-click="cambioLabAnterior1()"/>
            </div> 
        	<div>
                <label for="labPosterior1" class="desresumen">Laborable posterior:</label>
                <input type="checkbox" id="labPosterior1" ng-model="editParam.labPosterior1" ng-click="cambioLabPosterior1()"/>
            </div> 
        </div>
        <div>
            <label for="margenAnterior1" class="desresumen">Margen anterior (min):</label>
            <input type="text" id="margenAnterior1" ng-model="editParam.margenAnterior1" class="anchoinp" placeholder="0"  onkeypress="justNumbers(event);" maxlength="10" />
        </div> 
        <div>
            <label for="margenPosterior1" class="desresumen">Margen posterior (min):</label>
            <input type="text" id="margenPosterior1" ng-model="editParam.margenPosterior1" class="anchoinp" placeholder="30"  onkeypress="justNumbers(event);" maxlength="10" />
        </div> 
        <div>
            <label for="horaParam1" class="desresumen">Hora:</label>
            <input type="text" id="horaParam1"  maxlength="2" ng-model="editParam.horaParam1" placeholder="12" onkeypress="return justNumbers(event);"/>
        </div>
        <div>
            <label for="minParam1" class="desresumen">Minuto:</label>
            <input type="text" id="minParam1" maxlength="2" ng-model="editParam.minParam1" placeholder="00" onkeypress="return justNumbers(event);"/>
        </div>
        <div>
            <label for="diaSemana1" class="desresumen">Dia:</label>
            <select id="diaSemana1" class="anchoinp" ng-model="editParam.diaSemana1" ng-change="cambiaDiaSemana(1)"></select>
        </div> 
        <div>
            <label for="idMes1" class="desresumen">Mes:</label>
            <select id="idMes1" class="anchoinp" ng-model="editParam.idMes1" ng-change="cambioMes(1)"></select>
        </div>
        <div>
            <label for="diaMes1" class="desresumen">Dia del Mes:</label>
            <input type="text" id="diaMes1" ng-model="editParam.diaMes1" class="anchoinp"/>
        </div> 
        <div>
            <label for="activaParam1" class="desresumen">Activa:</label>
            <input type="checkbox" ng-model="editParam.activaParam1" id="activaParam1" />
        </div> 
    </fieldset>
    <div class="centrar">        
            <input class="btn mybutton" id="modificacionParam" value="Modificaci&oacute;n" ng-click="modParametrizacion()"/>
    </div>
</form>