<script>
	document.title="Tipos de Documentos";
	$('#tituloHeader').empty();
	$('#tituloHeader').append("Tipos de Documentos");
</script>

<div>
<!-- 	<header class="clearfix"> -->
<!--     	<div id="divHeader" ng-include="'../../components/header/header.html'"></div> -->
<!--     </header> -->
	<header class="clearfix">
            <!-- ngInclude: 'components/header/header.html' --><div ng-include="'components/header/header.html'" id="divHeader" class="ng-scope" style="">
		<div class="logo ng-scope">
					<h1 class="">
						<a href="."><img alt="Santander" src="../img/logo.png" class="img-responsive"></a>
					</h1>
				</div>
				<div class="title ng-scope">
					<h2 id="tituloHeader" class="">SIBBAC</h2>
				</div>
			</div>
        </header>
</div>

<div id="authenticationError">
	
	<div>
		<a class="menuItem">Error de autenticación</a>
	</div>

	<ul>  
	
		
		<li class="nivel2">
			<a class="primera menuItem">No se han encontrado las credenciales necesarias o las credenciales no son v&aacute;lidas.</a>
		</li>
		
	</ul>
	
</div>

<div>
 	<footer id="divFooter" ng-include="'components/footer/footer.html'"> </footer>
</div>