<script src="data/EntidadMeses.js" type="text/javascript"></script>
<!-- DIV de cobros -->
<div id="core" class="">
    <article class="center">  
        <form id="f1" >
            <div id="popup" style="display:none;">
                <span class="button b-close"><span>X</span></span>If you can't get it up use<br><span class="logo">bPopup</span>
            </div>
                <div class="title_section clearfix">
            <div style="display: inline; float:left;"><p class="title">Listado de reglas</p></div>
            <div style="float: right; display: inline;"  ng-show="isPermisoAccion(SecurityActions.CREAR)"   ><a class="collapser_search active">Mostrar Alta de Regla</a></div>


        </div>
            
            <div class="altaregla">
                <form id="cargarTabla" >
                    <fieldset>
                        <div>
                            <label for="textCodigo" class="desresumen">C&oacute;digo:</label>
                            <input type="text" id="textCodigo" ng-model="textCodigo" requeried="requeried" class="anchoinp"/>
                        </div>
                        <div>
                            <label for="textDesc" class="desresumen">Descripci&oacute;n:</label>
                            <input type="text" id="textDesc" ng-model="textDesc"  requeried="requeried" class="anchoinp"/>
                        </div>								
                        <div>
                            <label for="fechaDesde" class="desresumen">Fecha Inicio:</label> 
                            <input datepicker type="text"
								id="fechaDesde" class="anchoimp" pattern="\d{1,2}/\d{1,2}/\d{4}"
								title="La fecha introducida no es válida."  requeried="requeried"
								ng-model="fechaDesde" placeholder="dd/mm/yyyy" maxlength="10" />
						</div>
                        <div>
                            <label for="fechaHasta" class="desresumen">Fecha Fin:</label> 
                            <input datepicker type="text"
								id="fechaHasta" class="anchoimp" pattern="\d{1,2}/\d{1,2}/\d{4}"
								title="La fecha introducida no es válida."
								ng-model="fechaHasta" placeholder="dd/mm/yyyy" maxlength="10" />
						</div>
                        <div>
                            <label for="chkActiv" class="desresumen">Activada:</label>
                            <input type="checkbox" id="chkActiv" ng-model="chkActiv" checked/>
                        </div>	
                    </fieldset>
                    <div class="centrar">						  
                        <input class="btn mybutton" type="button" id="btnAltaRegla" ng-if="isPermisoAccion(SecurityActions.CREAR)" value="Alta" ng-click="alta()"/>
                    </div>						
                </form>
            </div>					
            <div id="showdata"></div>
            <div>						
                <div class="contenedorTabla"> 							
                    <table id="tblPeriocidad" class="tablaPrueba ancha">
                        <thead>
                            <tr>
                                <th class="taleft">C&oacute;digo</th> 
                                <th class="taleft">Descripci&oacute;n</th> 
                                <th class="taleft">Fecha Inicio</th> 
                                <th class="taleft">Fecha Fin</th> 
                                <th class="taleft">Activa</th> 
                                <th class="taleft">Alta Param.</th> 
                                <th class="taleft">Acciones</th> 
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                    <div class="botonera">
                        <input type="button" class="mybutton" id="refrescar" value="Refrescar" ng-click="cargarTabla()" >

                    </div>

                </div>
            </div>
            <div id="resultados1"></div>
            <div id="editarParamPop" style="background-color: red; height: 400p; width: 500px; display:none; style:absolute;">hola que tal!</div>
            <div id="respuesta" style="color:red"></div>
        </form>	
    </article>
</div>
<div id="dialog-confirm"></div>
<input type="hidden" id="valorTabla" />
<!-- final DIV de cobros -->