<p class="titleAlta" ng-bind="dialogTitle"></p>
<form id="cargarPopupParam" class="wrapper-95" ng-submit="alta_Desglose()">
    <fieldset>
    	<div class="three-columns">
        	<div>
	        	<label for="titulos" class="desresumen">Num. ref*:</label> 
        		<input type="text" id="refre" class="anchoimp" requeried maxlength="16" ng-model="altaDesglose.refre"/>
        	</div>
        	<div>
	        	<label for="titular" class="desresumen">Titular*:</label> 
        		<input type="text" id="titular" class="anchoimp" requeried maxlength="11" ng-model="altaDesglose.nif_bic"/>
        	</div>
    	</div>		
        <div class="three-columns">
        	<div>
	        	<label for="titulos" class="desresumen">Titulos*:</label> 
         		<input type="text" id="titulos" class="anchoimp" requeried maxlength="11" ng-model="altaDesglose.titulos"/>
        	</div>
        	<div>
	        	<label for="titulos" class="desresumen">Referencia *:</label> 
        		<input type="text" id="refMod" class="anchoimp" requeried maxlength="35" ng-model="altaDesglose.refMod"/>
        	</div>
    	</div>
        <div class="three-columns">
        	<div>
	        	<label for="titulos" class="desresumen">Efectivo*:</label> 
        		<input type="text" id="nominej" class="anchoimp" requeried maxlength="16" ng-model="altaDesglose.nominej"/>
        	</div>
    	</div>
    </fieldset>
    <br/>
    <div class="centrar">        
        <input class="btn mybutton" type="submit" id="altaDesglose" value="Alta" />
    </div>
</form>

