<div id="formularioalta">
    <p class="titleAlta" ng-bind="dialogTitle"></p>
    <form id="cargarPopupParam" ng-submit="editar_Desglose()">
        <fieldset>
            <div style="float:left; width: 48%">
                <div class="two-columns">

                    <div>
                        <label for="fecha" class="desresumen">Fecha:</label> 
                        <input datepicker type="text" id="fecha" class="anchoimp"
	                                       pattern="\d{1,2}/\d{1,2}/\d{4}" required="required"
	                                       title="La fecha introducida no es válida."
	                                       ng-model="editarDesglose.fecha"/>
                    </div>
                    <div style="width: 164px;">
                        <label for="isin" class="desresumen">isin:</label>
                    </div>
                    <div style="width: 140px;">
                        <div angucomplete-alt id="isin" placeholder="Buscar ISIN" maxlength="40" pause="100" selected-object="selectedIsin" local-data="isines" search-fields="codigo" title-field="codigo" description-field="descripcion" minlength="1" input-class="anchoimp" ng-model="editarDesglose.isin" ng-class="form - control" match-class="highlight">
                        </div>
                    </div>
                    <div>
                        <label for="ccv" class="desresumen">CCV:</label> 
                        <input type="text" id="ccv" ng-model="editarDesglose.ccv" class="anchoinp" maxlength="4"/>
                    </div>
                </div>
                <div class="two-columns">
                    <div style="width: 164px;">
                        <label for="numReferencia" class="desresumen">numReferencia: {{editarDesglose.numReferencia}}</label>
                    </div>
                    <div style="width: 140px;">                        	        	
	        			<label for="titulos" class="desresumen">Titulos: </label>	        	
	           			<input type="text" id="titulos" ng-model="editarDesglose.titulos" class="anchoinp" required="required" onkeypress="justNumbers(event);" maxlength="11"/>
                    </div>
                    <div style="width: 140px;">                        	        	
	        			<label for="tipoSaldo" class="desresumen">Tipo de saldo: </label>	        	
		            	<select id="tipoSaldo" ng-model="editarDesglose.tipoSaldo" required="required" class="anchoimp" ng-options="saldo.id as saldo.texto for saldo in listaTipoSaldo">
		                </select>
                    </div>
                </div>
            </div>
            <div class="four-columns">

                <div>
                	<label for="sentido" class="desresumen">Sentido:</label>
	            	<select id="sentido" ng-model="editarDesglose.sentido" class="anchoimp" required="required" ng-options="sentido.id as sentido.texto for sentido in listaSentido">
	                </select>
                </div>
                <div>
                    <label for="precio" class="desresumen">Precio: </label>	        	
	            	<input type="text" id="precio" ng-model="editarDesglose.precio" required="required" class="anchoinp" onkeypress="justNumbers(event);" maxlength="11"/>
                </div>
                <div>	        	
	        		<label for="titular" class="desresumen">titular: </label>	        	
	            	<input type="text" id="titular" ng-model="editarDesglose.titular" required="required" class="anchoinp" maxlength="11"/>
                </div>

            </div>
            <div class="four-columns">

                <div>
                    <label for="bolsa" class="desresumen">Bolsa: </label>
	            	<select id="bolsa" ng-model="editarDesglose.bolsa" class="anchoimp" required="required" ng-options="bolsa.codigo as bolsa.descripcion for bolsa in listaBolsaMercado">
	                </select>
                </div>
                <div>
                    <label for="entidad" class="desresumen">entidad: </label>	        	
	           		<input type="text" id="entidad" ng-model="editarDesglose.entidad" required="required" class="anchoinp" maxlength="4"/>
                </div>
                <div>
                   <label for="tipoCambio" class="desresumen">Tipo de Cambio: </label>
                   <select id="tipoCambio" ng-model="editarDesglose.tipoCambio" class="anchoimp" required="required" ng-options="tipoCambio.id as tipoCambio.texto for tipoCambio in listaTipoCambio">
                	</select>
                </div>

            </div>

        </fieldset>
        <div style="text-align: center; position: relative; top: 50px;">
            <input class="btn mybutton align-center" type="submit" id="altaparam"
                   value="Guardar"  class="btn-default" />
        </div>

    </form>
</div>
