.ngdialog.ngdialog-theme-plain.custom-width .ngdialog-content {
    width: 840px;
}
.ngdialog.ngdialog-theme-plain.custom-height-480 .ngdialog-content {
    height: 480px;
    overflow-y: auto;
}

.ngdialog.ngdialog-theme-plain.custom-height-400 .ngdialog-content {
    height: 360px;
    overflow-y: auto;
    width:  900px;
}