<article class="center">
    <div title-slide-filter showing="ctrl.showingFilter">Traspasos</div>
	<div class="buscador">
	    <label for="selectedQuery" class="desresumen">Consulta:</label>
		<span ng-repeat="q in ctrl.queries">
		  <input type="radio" ng-model="ctrl.selectedQuery" ng-value="q" ng-change="ctrl.selectQuery()">{{q.desc}}
		  &nbsp;
		</span>
		<form name="filters" ng-submit="ctrl.executeQuery()">
		    <fieldset class="clearfix">
				<div class="dynamic-filter" ng-repeat="f in ctrl.filterList">
					<sb-filter-element value="f" target="ctrl"></sb-filter-element>
				</div>
			</fieldset>
			<div class="centrar">
				<input class="btn mybutton" type="submit" value="Consultar"
					ng-disabled="!ctrl.selectedQuery"/> 
				<input class="mybutton" type="button"
					value="Limpiar" ng-click="ctrl.filter = {}">
		    </div>
		</form>
	</div>
	<div ng-hide="ctrl.showingFilter">
	   <div class="mensajeBusqueda" ng-bind="ctrl.followSearch"></div>
	   <div class="centrar">
	       <input class="btn mybutton" type="button" value="Refrescar"
	           ng-disabled="!ctrl.selectedQuery" ng-click="ctrl.executeQuery()"/> 
	   </div>
	</div>
</article>
<div>
    <div class="contenedorTabla">
        <div style="text-align: right;">	
			<input type="text" ng-model="ctrl.singleFilterValue" placeholder="Buscar..."
				ng-change="ctrl.refreshSingleFilter()" size="30" auto-uppercase="auto-uppercase" />
		    <a download="{{ctrl.selectedQuery.accion}}.xlsx" ng-href="{{ctrl.exportUrl('excel')}}">Excel</a> 
		    <a download="{{ctrl.selectedQuery.accion}}.csv" ng-href="{{ctrl.exportUrl('csv')}}">CSV</a> 
		</div>
		<div ui-grid="ctrl.grid" ui-grid-selection ui-grid-pagination ui-grid-resize-columns></div>
		<div class="centrar">
			<input class="mybutton" type="button" ng-click="ctrl.selectAll()"
				value="Selecciona Todos"/> 
			<input class="mybutton" type="button"
				ng-click="ctrl.unselectAll()" value="Deselecciona Todos" /> 
			<input class="mybutton"
				type="button" ng-show="ctrl.selectedQuery"
				ng-click="ctrl.openModal()"
				ng-disabled="ctrl.actionButtonDisabled()"
				ng-if="isPermisoAccion(SecurityActions.MODIFICAR)"
				value="Ejecuta" />
		</div>
	</div>
</div>
<!-- Dialogo envia -->
<div id="enviaDialog">
    <div class="buscador clearfix"> 
        <form>
            <fieldset>
            	<div class="dynamic-filter">
            		<sb-combo ng-model="ctrl.params.cuentaCompensacion" label="Cuenta Compensación" elements="ctrl.listaCuentaCompensacion" id="cuentaCompensacionEnvia" />
		        </div>
		        
		        <div class="dynamic-filter">
            		<sb-combo ng-model="ctrl.params.miembroCompensador" label="Miembro Compensador" elements="ctrl.listaMiembroCompensador" id="miembroCompensadorEnvia" />
		        </div>
		        <div class="dynamic-filter">
			        <label class="desresumen"">Referencia give-up:</label>
			        <input type="text" maxlength="18" pattern="[0-9A-Za-z]{0,18}" ng-model="ctrl.params.refGiveUp"
			              auto-uppercase="auto-uppercase">
		        </div>
            </fieldset>
        </form>
    </div>
</div>

<!-- Dialog acepta/rechaza -->
<div id="aceptaRechazaDialog">
    <div class="buscador clearfix">
        <div class="dynamic-filter">
          	<sb-combo ng-model="ctrl.params.cuentaCompensacion" label="Cuenta Compensación" elements="ctrl.listaCuentaCompensacion" id="cuentaCompensacionAceptaRechaza" >
          	</sb-combo>
		</div>
    </div>
</div>

<!-- Dialog cancela -->
<div id="cancelaDialog" >
    <div class="buscador">
        <div class="centrar">Se cancelarán {{ ctrl.countSelectedRows() }} salidas pendientes</div>
    </div>
</div>

<!-- Dialog rejectBooking -->
<div id="rejectBookingDialog">
    <div class="buscador">
        <label class="desresumen">Comentario de rechazo:</label>
        <textarea rows="3" cols="30" ng-model="ctrl.params.rejectComment"></textarea>
    </div>    
</div>

<div id="traspasosFueraHoraDialog">
	<span>Revisar bookings con movimientos fuera de hora</span>
</div>

<!-- Dialog result -->
<div id="resultDialog">
    <div class='dialogMensajeIncon' ng-switch="ctrl.result.ok"> 
        <img ng-switch-when="true" src='/sibbac20/images/accept.png'/>
        <img ng-switch-when="false" src='/sibbac20/images/error.png'/>
    </div>
    <p class="dialogMensajeText">
        <ul>
            <li ng-repeat="m in ctrl.result.message">
                {{ m }}
            </li>
        </ul>
    </p>
    <p ng-if="!ctrl.result.ok" class="dialogMensajeText">
        <span class="desresumen">Mensajes de Error:</span>
        <ul>
            <li ng-repeat="m in ctrl.result.errorMessage">
                {{ m }}
            </li>
        </ul>
    </p>
</div>

<!-- Dialog subquery -->
<div id="subqueryDialog">
    <div ng-controller="TraspasosEccSubqueryController as subqctrl" class="contenedorTabla">
        <div style="text-align: right;">    
            <input type="text" ng-model="subqctrl.singleFilterValue" placeholder="Buscar..."
                ng-change="subqctrl.refreshSingleFilter()" size="30" auto-uppercase="auto-uppercase"/>
            <a download="{{subqctrl.selectedQuery.name}}.xlsx" ng-href="{{subqctrl.exportUrl('excel')}}">Excel</a> 
            <a download="{{subqctrl.selectedQuery.name}}.csv" ng-href="{{subqctrl.exportUrl('csv')}}">CSV</a> 
        </div>
        <div ui-grid="subqctrl.grid" ui-grid-pagination ui-grid-resize-columns></div>
    </div>
</div>
