<article class="center">
    <div class="title_section clearfix">
        <br><br>
        <p class="title">Alta de apunte contable</p>
        <br>
    </div>
    <div class="buscador">
        <form id="informe" class="wrapper-95">
            <fieldset>
                <div class="three-columns">
                    <div>
                        <label for="actionType" class="desresumen">Acci&oacute;n:</label>
                        <select id="actionType" style="width: 200px!important;" tabindex="1"></select>
                    </div>
                    <div>
                        <label for="fechaApunte" class="desresumen">Fecha:</label>
                        <input id="fechaApunte" class="anchoimp" tabindex="2" maxlength="10" pattern="\d{1,2}/\d{1,2}/\d{4}" placeholder="dd/mm/yyyy"/>
                    </div>
                </div>
                <div class="three-columns">
                    <div>
                        <label for="textAlias" class="desresumen">Alias:</label>
                        <input type="text" id="textAlias" class="anchoinp" tabindex="3"/>
                    </div>
                    <div>
                        <label for="textConcepto" class="desresumen">Concepto:</label>
                        <input type="text" id="textConcepto" class="anchoinp" tabindex="4" size="50" maxlength="36"/>
                    </div>
                </div>
                <div class="three-columns">
                    <div>
                        <label for="numberImporte" class="desresumen">Importe:</label>
                        <input type="text" id="numberImporte" class="tipocantidad" tabindex="5" maxlength="16" placeholder="0,00" pattern="\d{1,13}\b,?\d{0,2}?"/>
                    </div>
                    <div>
                        <label for="textResponsable" class="desresumen">Responsable:</label>
                        <input type="text" id="textResponsable" class="anchoinp" tabindex="6" maxlength="5"/>
                    </div>
                </div>
            </fieldset>
            <div class="centrar">
                <input type="submit" id="guardar" class="btn buscador mybutton" value="Guardar" tabindex="7"/>
                <input type="reset" id="resetForm" class="mybutton" value="Limpiar formulario" tabindex="8" />
            </div>
        </form>
    </div>
</article>

