
<article class="center">
    <div class="title_section clearfix">
        <br><br>
        <p class="title">Cierre contable de mes</p>
        <br>
    </div>
    <div class="buscador">
        <form id="informe">
            <fieldset>
                <div>
                    <label for="fechaCierre" class="desresumen">Fecha de cierre:</label>
                    <input id="fechaCierre" class="anchofecha" tabindex="1"/>
                    <br/><p class="desresumen">La fecha que introduzcas se utilizar&aacute; como fecha de cierre del mes anterior a ella</p> 
                </div>
            </fieldset>
            <div class="centrar">
                <input type="submit" id="guardar" class="mybutton" value="Guardar" tabindex="2"/>
                <input type="reset" id="resetForm" class="mybutton" value="Limpiar formulario" tabindex="3" />
            </div>
        </form>
    </div>
</article>
