<div class="title_section clearfix">
	<div style="display: inline; float: left;">
		<p class="title">{{titulo}}</p>
	</div>
</div>

<div class="buscador wrapper-95 col-md-12" id="buscadorACC" style="min-width: 600px;">

		<!-- primera columna -->
	<fieldset>
		<div class="row">
		
			<div class="col-md-6" >
				<label class="desresumen">Importe Pendiente:</label> <b>{{importePendiente2}}</b>
			</div>
			<div class="col-md-8" style="border: 1px solid silver; padding: 10px; margin: 10px"
				ng-if="activeAlert && (!apunte.cuenta || !apunte.importe || !apunte.concepto || 
										apunte.importe > importePendiente || ( !apunte.auxiliar && auxiliarVisible))">

				<div class="col-md-1" style="vertical-align: middle;">
					<img alt="nueva_plantilla" src="images/warning.png" height="26px">
				</div>

				<div class="col-md-11">
					<p style="margin: 3px;" ng-if="!apunte.cuenta && activeAlert">-
						El campo cuenta del formulario es obligatorio</p>
					<p style="margin: 3px;" ng-if="!apunte.importe && activeAlert">-
						El campo importe del formulario es obligatorio</p>
					<p style="margin: 3px;" ng-if="!apunte.concepto && activeAlert">-
						El campo concepto del formulario es obligatorio</p>
					<p style="margin: 3px;" ng-if="( !apunte.auxiliar && auxiliarVisible) && activeAlert">-
						El campo Auxiliar del formulario es obligatorio</p>
					<p style="margin: 3px;"
						ng-if="apunte.importe > importePendiente && activeAlert">- El
						campo importe no puede ser superior al importe pendiente</p>
				</div>
			</div>
		</div>
		</br>
		<div class="row">
			<div class="col-md-4">
				<label class="desresumen">Cuenta
					Contable:</label> <select ng-model="apunte.cuenta"
					ng-options="item.key as item.value for item in listaCuentasACC | orderBy: 'key'"
					style="width: 190px;"
					ng-class="{'autocomplete-required':!apunte.cuenta && activeAlert}">
					<option value="" ng-if="false"></option>
				</select>
			</div>
			<div class="col-md-4">
				<label for="importe" class="desresumen">Importe:</label> <input
					id="importe" type="text" class="anchoimp2"
					ng-model="apunte.importe" style="width: 190px;"
					ng-class="{'autocomplete-required':!apunte.importe && activeAlert}" />
			</div>
		</div>
		<div class="row">
			<div class="col-md-4">
				<label for="concepto" class="desresumen">Concepto: </label> <select
					id="concepto" ng-model="apunte.conceptoSelect" 
					ng-options="item.value for item in listaConceptosACC"
					ng-change="asignarValueInputACC()" style="width:190px;height:19px;position:absolute;display:block;" >
					<option value="" ng-if="false"></option>
				</select>
				<input type="text" id="conceptoinput" ng-model="apunte.concepto" ng-keypress="resetConceptoACC()" 
				style="position:relative;width:170px;height:19px;" ng-class="{'autocomplete-required':!apunte.concepto && activeAlert}"/>
			</div>
			<div class="col-md-4" ng-show="auxiliarVisible">
				<label class="desresumen">Auxiliar bancario: </label> <select
					id="concepto" ng-model="apunte.auxiliar" style="width: 190px;"
					ng-options="item.key as item.value for item in listaAuxiliaresACC">
					<option value=""></option>
				</select>
			</div>
		</div>
		<div class="centrar" style="padding-top: 30px;">
			<input class="btn mybutton" id="guardarDatosTitular" value="A&ntilde;adir Apunte" ng-click="anadirApunte()" style="width:100px;"/> 
			<input class="btn mybutton" id="limpiar" value="Limpiar" ng-click="resetApunte()" style="width:100px;"/>
		</div>
		<div class="spacer20"></div>
	</fieldset>
</div>
	<div class="spacer15"></div>
	<div class="contenedorTabla">
		<table class="ancha" id="datosACC"
			class="editinplace draggable sorttable"
			style="min-width: 600px; width: 100%;">
			<thead>
				<tr>
					<th class="taleft">Selecci&oacute;n</th>
					<th class='taleft'>Cuenta Contable</th>
					<th class='taleft'>Concepto</th>
					<th class='taleft'>Importe</th>
					<th class='taleft'>Auxiliar Bancario</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>