<div class="ng-isolate-scope">
	<div class="title_section clearfix">
		<div class="align-left">
			<p class="title">
				<span class="ng-scope">{{tituloTLM}} </span>
				<div class="col-md-offset-5 col-md-7 ng-scope" style="padding-left: 50px !important;">
					<button id="btnInvCliente" title="Refrescar Consulta" class="btn btn-xs btn-default pull-left" ng-click="busquedaConciliacion()">
						Refrescar&nbsp;<span class="glyphicon glyphicon-refresh"></span>
					</button>
				</div>
			</p>
		</div>
		<div class="align-right">
			<a ng-class="collapserClass()" ng-click="mostrarOcultarFiltrosTLM()" class="ng-binding collapser_search cursor">{{tituloPersianaTLM}}</a>
		</div>
	</div>
</div>
<div class="buscador wrapper-95 col-md-12" id="buscadorTLM" style="min-width: 1000px; width: 100%;">

<div class="spacer15"></div>
	<div ng-show="(
					(mostrarErrorFiltroFecha && (filtroTLM.valueDateDesde == '' && filtroTLM.valueDateHasta!= '')) || 
					(mostrarErrorFiltroFecha && (filtroTLM.bookingDateDesde== '' && filtroTLM.bookingDateHasta != '')) ||
					(mostrarErrorFiltroFecha && (filtroTLM.bookingDateDesdeTLM != '' && filtroTLM.valueDateDesde != '')) ||
					(mostrarErrorFiltroFecha && (filtroTLM.valueDateDesde == '' && filtroTLM.valueDateHasta == '' && filtroTLM.bookingDateDesde == '' && filtroTLM.bookingDateHasta == ''))
					)">
		<div class="panel panel-body"
			style="border: 1px solid silver; padding: 10px;">
			<div class="row">
				<div class="col-xs-1 col-sm-1 col-lg-1"
					style="vertical-align: middle;">
					<img alt="nueva_plantilla" src="images/warning.png" height="26px">
				</div>
				<div>
					<p style="margin: 3px;"	ng-if="mostrarErrorFiltroFecha && (filtroTLM.bookingDateDesde == '' && filtroTLM.bookingDateHasta == '' && filtroTLM.valueDateDesde == '' && filtroTLM.valueDateHasta == '')">-		Debe indicar un rango de fechas de booking o value.</p>
					<p style="margin: 3px;"	ng-if="mostrarErrorFiltroFecha && (filtroTLM.bookingDateDesde != '' && filtroTLM.valueDateDesde != '')">-		Debe indicar únicamente un rango de fechas (booking o value).</p>
					<p style="margin: 3px;"	ng-if="mostrarErrorFiltroFecha && (filtroTLM.bookingDateDesde == '' && filtroTLM.bookingDateHasta != '')">-		Debe indicar una fecha booking desde.</p>
					<p style="margin: 3px;"	ng-if="mostrarErrorFiltroFecha && (filtroTLM.valueDateDesde == '' && filtroTLM.valueDateHasta != '')">-		Debe indicar una fecha value desde.</p>
				</div>
			</div>
		</div>
	</div>
	<fieldset>
		<div class="row">
			<div class="col-md-2" style="margin-bottom: -10px;">
				<label class="desresumen">Tipo de movimiento:</label> 
<!-- 				<input type="text" id="filtroTipoMovimientoTLM" class="anchoinp" auto-uppercase ng-model="formTLM.tipoMovimiento" />  -->
				<select	id="filtroTipoMovimientoTLM" style="width: 145px;" auto-uppercase ng-model="filtroTLM.tipoMovimiento" ng-options="item.key for item in listaTiposMovimiento" ng-change="procesarTipoMovimiento()">
					<option value="" ng-if="false"></option>
				</select> 							
				<select size="4" tabindex="1" style="width: 145px" ng-model="formTLM.tiposDeMovimientosFilter" ng-options="item.key as item.value for item in filtroTLM.tiposMovimientos">
					<option value="" ng-if="false"></option>
				</select>
				<div style="width: 250px; align: center; margin-top: 2px;" class="anchoinp">
					<button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTablaTLM('tiposMovimientosTLM')">
						<span class="negrita">-</span>
					</button>
					<button style="width: 50px; margin-left: 4px;" ng-click="vaciarTablaTLM('tiposMovimientosTLM')">
						<span>Vaciar</span>
					</button>
				</div>
			</div>
			<div class="col-md-2" style="margin-bottom: -10px;">
				<label class="desresumen" >Auxiliar bancario:</label>
				<div style="width: 250px;" class="anchoinp">
					<select	id="filtroAuxiliaresTLM" style="width: 145px;" ng-model="filtroTLM.auxiliar" ng-options="item.key for item in listaAuxiliares" ng-change="procesarAuxiliarBancarioTLM()">
						<option value="" ng-if="false"></option>
					</select>
					<select size="4" tabindex="1" style="width: 145px" ng-model="formTLM.auxiliaresFilter" ng-options="item.key as item.value for item in filtroTLM.auxiliares">
						<option value="" ng-if="false"></option>
					</select>
					<div style="width: 250px; align: center; margin-top: 2px;" class="anchoinp">
						<button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTablaTLM('auxiliaresTLM')">
							<span class="negrita">-</span>
						</button>
						<button style="width: 50px; margin-left: 4px;" ng-click="vaciarTablaTLM('auxiliaresTLM')">
							<span>Vaciar</span>
						</button>
					</div>
				</div>
			</div>
			<div class="col-md-3" style="margin-bottom: -10px;">
				<label class="desresumen">Concepto Movimiento:</label>
				<div style="width: 200px">
					<input type="button" class="btn buscador mybutton" value="+" style="position:relative;margin-top: -2px; width: 20px; float: left;"  ng-click="anadirAListaTLM('filtroConceptoMovimientoTLM')">
					<input type="text" id="filtroConceptoMovimientoTLM" style="width: 156px; float: left;" ng-model="formTLM.conceptoMovimiento" class="anchoinp2" maxlength=40 auto-uppercase /> 
					<input type="button" class="btn buscador mybutton" style="margin-top: -2px; width: 20px; float: left;" ng-model="sentidoFiltroTLM['conceptoMovimientoTLM']" 
						value="{{sentidoFiltroTLM['conceptoMovimientoTLM']}}" ng-click="rotarOperadorFiltroConceptoMovimientoTLM()"> 
					<select size="4" tabindex="1" style="width: 200px" ng-model="formTLM.conceptosMovimientosFilter" ng-options="item.key as item.value for item in filtroTLM.conceptosMovimientos">
						<option value="" ng-if="false"></option>
					</select>
					<div style="width: 250px; align: center; margin-top: 2px;" class="anchoinp">
						<button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTablaTLM('conceptosMovimientosTLM')">
							<span class="negrita">-</span>
						</button>
						<button style="width: 50px; margin-left: 4px;" ng-click="vaciarTablaTLM('conceptosMovimientosTLM')">
							<span>Vaciar</span>
						</button>
					</div>
				</div>
			</div>
			<div class="col-md-3" style="margin-bottom: -10px;">
				<label class="desresumen">Comentario:</label>
				<div style="width: 200px">
					<input type="button" class="btn buscador mybutton" value="+" style="position:relative;margin-top: -2px; width: 20px; float: left;"  ng-click="anadirAListaTLM('filtroComentarioTLM')">
					<input type="text" id="filtroComentarioTLM" style="width: 156px; float: left;" ng-model="formTLM.comentario" class="anchoinp2" maxlength=40 auto-uppercase /> 
					<input type="button" class="btn buscador mybutton" style="margin-top: -2px; width: 20px; float: left;" ng-model="sentidoFiltroTLM['comentarioTLM']" 
						value="{{sentidoFiltroTLM['comentarioTLM']}}" ng-click="rotarOperadorFiltroComentarioTLM()">
					<select size="4" tabindex="1" style="width: 200px" ng-model="formTLM.comentariosFilter" ng-options="item.key as item.value for item in filtroTLM.comentarios">
						<option value="" ng-if="false"></option>
					</select>
					<div style="width: 250px; align: center; margin-top: 2px;" class="anchoinp">
						<button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTablaTLM('comentariosTLM')">
							<span class="negrita">-</span>
						</button>
						<button style="width: 50px; margin-left: 4px;" ng-click="vaciarTablaTLM('comentariosTLM')">
							<span>Vaciar</span>
						</button>
					</div>
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>
		<div class="row">
			<div class="col-md-2" style="margin-bottom: -10px;">
				<label class="desresumen" >Nro. de Documento:</label>
				<div style="width: 200px">
					<input type="button" class="btn buscador mybutton" value="+" style="position:relative;margin-top: -2px; width: 20px; float: left;"  ng-click="anadirAListaTLM('filtroNumeroDocumentoTLM')">
					<input type="text" id="filtroNumeroDocumentoTLM" style="width: 101px; float: left;" ng-model="formTLM.numeroDocumento" class="anchoinp2" maxlength=10 auto-uppercase /> 
					<input type="button" class="btn buscador mybutton" style="margin-top: -2px; width: 20px; float: left;" ng-model="sentidoFiltroTLM['numeroDocumentoTLM']" 
						value="{{sentidoFiltroTLM['numeroDocumentoTLM']}}" ng-click="rotarOperadorFiltroNumeroDocumentoTLM()">
					<select size="4" tabindex="1" style="width: 145px" ng-model="formTLM.numerosDocumentosFilter" ng-options="item.key as item.value for item in filtroTLM.numerosDocumentos">
						<option value="" ng-if="false"></option>
					</select>
					<div style="width: 250px; align: center; margin-top: 2px;" class="anchoinp">
						<button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTablaTLM('numerosDocumentosTLM')">
							<span class="negrita">-</span>
						</button>
						<button style="width: 50px; margin-left: 4px;" ng-click="vaciarTablaTLM('numerosDocumentosTLM')">
							<span>Vaciar</span>
						</button>
					</div>
				</div>
			</div>
			<div class="col-md-2" style="margin-bottom: -10px;">
				<label class="desresumen">Antigüedad:</label> 
				<select	id="antiguedadTLM" style="width: 145px;" ng-model="filtroTLM.antiguedad" ng-options="item.key for item in listAntiguedades" ng-change="procesarAntiguedadTLM()">
					<option value="" ng-if="false"></option>
				</select> 
				<select size="4" tabindex="1" style="width: 145px" ng-model="formTLM.antiguedadesFilter" ng-options="campo for campo in filtroTLM.antiguedades">
					<option value="" ng-if="false"></option>
				</select>
				<div style="width: 250px; align: center; margin-top: 2px;" class="anchoinp">
					<button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTablaTLM('antiguedades')">
						<span class="negrita">-</span>
					</button>
					<button style="width: 50px; margin-left: 4px;" ng-click="vaciarTablaTLM('antiguedades')">
						<span>Vaciar</span>
					</button>
					<span ng-style="btnsFilter.colorCamposDetalle">{{btnsFilter.textCamposDetalle}}</span>
				</div>
			</div>
			<div class="col-md-3" style="padding-top: 10px;">
				<div class="col-md-12 no-padding">
					<label class="desresumen">Booking Date Desde:</label> 
					<input type="text" datepicker class="anchoimp2" style="width: 200px" placeholder="dd/mm/yyyy" ng-model="filtroTLM.bookingDateDesde" 
						pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly" />
				</div>
				<div class="col-md-12 no-padding" >
					<label class="desresumen">Booking Date Hasta:</label> 
					<input type="text" datepicker class="anchoimp2" style="width: 200px" placeholder="dd/mm/yyyy" ng-model="filtroTLM.bookingDateHasta"
						pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly" />
				</div>
			</div>
			<div class="col-md-3" style="padding-top: 10px;">
				<div class="col-md-12 no-padding">
					<label class="desresumen">Value Date Desde:</label> 
					<input type="text" datepicker class="anchoimp2" style="width: 200px" placeholder="dd/mm/yyyy"
						ng-model="filtroTLM.valueDateDesde" pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly" />
				</div>
				<div class="col-md-12 no-padding">
					<label class="desresumen">Value Date Hasta:</label> 
					<input type="text" datepicker class="anchoimp2" style="width: 200px" 
						placeholder="dd/mm/yyyy" ng-model="filtroTLM.valueDateHasta" pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly" />
				</div>
			</div>
			<div class="col-md-2"></div>
		</div>

		<div class="row">
				<div class="col-md-2" style="padding-top: 10px;">
					<label class="desresumen">Importe Desde:</label> 
					<input type="number" type="text" style="width: 145px" ng-model="filtroTLM.importeDesde" class="anchoinp2" maxlength=25 />
				</div>
				<div class="col-md-2" style="padding-top: 10px;">
					<label class="desresumen">Importe Hasta:</label> 
					<input type="number" type="text" style="width: 145px" ng-model="filtroTLM.importeHasta" class="anchoinp2" maxlength=25 />
				</div>
				<div class="col-md-3" style="padding-top: 10px;">
					<label class="desresumen">GIN:</label> 
					<input type="number" style="width: 200px" ng-model="filtroTLM.gin" class="anchoinp2" />
				</div>
				<div class="col-md-5"></div>
		</div>

		<div class="centrar top-10">
			<input type="button" class="btn buscador mybutton" id="buscar" value="Consultar" ng-click="busquedaConciliacionTLM()" /> 
			<input type="button" class="btn buscador mybutton" id="limpiar" value="Limpiar Filtros" ng-click="resetFiltroTLM()" />
		</div>

	</fieldset>
</div>
<br />
<div class="mensajeBusquedaTLM"></div>


<div class="contenedorTabla">
	<table id="datosTLM" class="col-md-12" cellspacing="0" style="min-width: 1000px;margin-top: 26px;">
			<thead>
				<tr>
					<th class="taleft">Selecci&oacute;n</th>
					<th class="taleft">GIN</th>					
					<th class="taleft">Tipo de Movimiento</th>
					<th class="taleft">Auxiliar bancario</th>
					<th class="taleft">Concepto Movimiento</th>
					<th class="taleft">Importe</th>
					<th class="taleft">Nro. Documento</th>
					<th class="taleft">Comentario</th>
					<th class="taleft">Booking Date</th>
					<th class="taleft">Value Date</th>
					<th class="taleft">Antig&#252;edad</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>

</div>