<style type="text/css">
.split-pane-divider {
	background: #aaa;
}

.split-pane-component {
	background: #fff;
}
</style>

<article class="center" ng-show="verAreaIzquierda">

	<form action="/sibbac20back/rest/export" method="post" name="export"
		id="export" target="export">
		<input type="hidden" name="webRequest" id="webRequest" value="">
	</form>

	<div class="title_section clearfix">
		<div style="display: inline; float: left;">
			<p class="title">Conciliaci&oacute;n Bancaria</p>
		</div>
		<div class="row" align="right">
			<b>Usuario:&nbsp</b> {{informacionTLM.usuario == null ? 'No se encontr&oacute; usuario' : informacionTLM.usuario}}
			<b>&nbsp&nbspFecha &Uacute;ltimo fichero de TLM:&nbsp</b>{{informacionTLM.fechaUltimoFichero == null ? '-' : informacionTLM.fechaUltimoFichero}}
			<input type="button" class="btn buscador mybutton" value="Recargar Excel" ng-click="getInformacionTLM(false)" />
		</div>
	</div>

	<div class="split-pane">
		<div id="left-panel" class="split split-horizontal max-min-izq" ng-show="informacionTLM.informacionExistente">
			 
			<div title-slide-filter showing="showingFilter">B&uacute;squeda TLM
				<div class="col-md-offset-5 col-md-7" style="padding-left:50px !important;">
				<button id="btnInvCliente" title="Refrescar Consulta" class="btn btn-xs btn-default pull-left" ng-click="busquedaConciliacion()">
		            Refrescar&nbsp;<span class="glyphicon glyphicon-refresh"></span>
		        </button>
				</div>
			</div>
			<div class="buscador col-md-12" id="buscador" style="min-width: 1000px;margin: 5px auto;">
			
			
			<div class="spacer15"></div>
				<div ng-show="(
								(mostrarErrorFiltroFecha && (filtro.valueDateDesde == '' && filtro.valueDateHasta != '')) || 
								(mostrarErrorFiltroFecha && (filtro.bookingDateDesde == '' && filtro.bookingDateHasta != '')) ||
								(mostrarErrorFiltroFecha && (filtro.bookingDateDesde != '' && filtro.valueDateDesde != '')) ||
								(mostrarErrorFiltroFecha && (filtro.valueDateDesde == '' && filtro.valueDateHasta == '' && filtro.bookingDateDesde == '' && filtro.bookingDateHasta == ''))
								)">
					<div class="panel panel-body"
						style="border: 1px solid silver; padding: 10px;">
						<div class="row">
							<div class="col-xs-1 col-sm-1 col-lg-1"
								style="vertical-align: middle;">
								<img alt="nueva_plantilla" src="images/warning.png" height="26px">
							</div>
							<div>
								<p style="margin: 3px;"	ng-if="mostrarErrorFiltroFecha && (filtro.bookingDateDesde == '' && filtro.bookingDateHasta == '' && filtro.valueDateDesde == '' && filtro.valueDateHasta == '')">-		Debe indicar un rango de fechas de booking o value.</p>
								<p style="margin: 3px;"	ng-if="mostrarErrorFiltroFecha && (filtro.bookingDateDesde != '' && filtro.valueDateDesde != '')">-		Debe indicar únicamente un rango de fechas (booking o value).</p>
								<p style="margin: 3px;"	ng-if="mostrarErrorFiltroFecha && (filtro.bookingDateDesde == '' && filtro.bookingDateHasta != '')">-		Debe indicar una fecha booking desde.</p>
								<p style="margin: 3px;"	ng-if="mostrarErrorFiltroFecha && (filtro.valueDateDesde == '' && filtro.valueDateHasta != '')">-		Debe indicar una fecha value desde.</p>
							</div>
						</div>
					</div>
				</div>
				<fieldset>
					<div class="row">
						<div class="col-md-2" style="margin-bottom: -10px;">
							<label class="desresumen" for="filtro_perfil">Tipo de movimiento:</label> 
							<select	id="filtroTipoMovimiento" style="width: 145px;" auto-uppercase ng-model="filtro.tipoMovimiento" ng-options="item.key for item in listaTiposMovimiento" ng-change="procesarTipoMovimiento()">
								<option value="" ng-if="false"></option>
							</select> 							
							<select id="tipoMov" size="4" tabindex="1" style="width: 145px" ng-model="form.tiposDeMovimientosFilter" ng-options="item.key as item.value for item in filtro.tiposMovimientos">
								<option value="" ng-if="false"></option>
							</select>
							<div style="width: 250px; align: center; margin-top: 2px;" class="anchoinp">
								<button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('tiposMovimientos')">
									<span class="negrita">-</span>
								</button>
								<button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('tiposMovimientos')">
									<span>Vaciar</span>
								</button>
								<span ng-style="btnsFilter.colorCamposDetalle">{{btnsFilter.textCamposDetalle}}</span>
							</div>
						</div>
						<div class="col-md-2" style="margin-bottom: -10px;">
							<label class="desresumen" for="filtro_perfil">Auxiliar bancario:</label>
							<div style="width: 250px;" class="anchoinp">
								<select	id="filtroAuxiliares" style="width: 145px;" ng-model="filtro.auxiliar" ng-options="item.key for item in listaAuxiliares" ng-change="procesarAuxiliarBancario()">
									<option value="" ng-if="false"></option>
								</select>
								<select size="4" tabindex="1" style="width: 145px" ng-model="form.auxiliaresFilter" ng-options="item.key as item.value for item in filtro.auxiliares">
									<option value="" ng-if="false"></option>
								</select>
								<div style="width: 250px; align: center; margin-top: 2px;" class="anchoinp">
									<button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('auxiliares')">
										<span class="negrita">-</span>
									</button>
									<button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('auxiliares')">
										<span>Vaciar</span>
									</button>
									<span ng-style="btnsFilter.colorCamposDetalle">{{btnsFilter.textCamposDetalle}}</span>
								</div>
							</div>
						</div>
						<div class="col-md-3" style="margin-bottom: -10px;">
							<label class="desresumen" for="filtro_cliente">Concepto Movimiento:</label>
							<div style="width: 200px">
								<input type="button" class="btn buscador mybutton" value="+" style="position:relative;margin-top: -2px; width: 20px; float: left;"  ng-click="anadirALista('filtroConceptoMovimiento')"> 
								<input type="text" id="filtroConceptoMovimiento" style="width: 156px; float: left;" ng-model="form.conceptoMovimiento" class="anchoinp2" maxlength=40 auto-uppercase /> 
								<input type="button" class="btn buscador mybutton" style="margin-top: -2px; width: 20px; float: left;" ng-model="sentidoFiltro['conceptoMovimiento']" 
									value="{{sentidoFiltro['conceptoMovimiento']}}" ng-click="rotarOperadorFiltroConceptoMovimiento()"> 
								<select size="4" tabindex="1" style="width: 200px" ng-model="form.conceptosMovimientosFilter" ng-options="item.key as item.value for item in filtro.conceptosMovimientos">
									<option value="" ng-if="false"></option>
								</select>
								<div style="width: 250px; align: center; margin-top: 2px;" class="anchoinp">
									<button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('conceptosMovimientos')">
										<span class="negrita">-</span>
									</button>
									<button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('conceptosMovimientos')">
										<span>Vaciar</span>
									</button>
									<span ng-style="btnsFilter.colorCamposDetalle">{{btnsFilter.textCamposDetalle}}</span>
								</div>
							</div>
						</div>
						<div class="col-md-3" style="margin-bottom: -10px;">
							<label class="desresumen" for="filtro_cliente">Comentario:</label>
							<div style="width: 200px">
								<input type="button" class="btn buscador mybutton" value="+" style="position:relative;margin-top: -2px; width: 20px; float: left;"  ng-click="anadirALista('filtroComentario')">
								<input type="text" id="filtroComentario" style="width: 156px; float: left;" ng-model="form.comentario" class="anchoinp2" maxlength=40 auto-uppercase /> 
								<input type="button" class="btn buscador mybutton" style="margin-top: -2px; width: 20px; float: left;" ng-model="sentidoFiltro['comentario']" 
									value="{{sentidoFiltro['comentario']}}" ng-click="rotarOperadorFiltroComentario()">
								<select size="4" tabindex="1" style="width: 200px" ng-model="form.comentariosFilter" ng-options="item.key as item.value for item in filtro.comentarios">
									<option value="" ng-if="false"></option>
								</select>
								<div style="width: 250px; align: center; margin-top: 2px;" class="anchoinp">
									<button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('comentarios')">
										<span class="negrita">-</span>
									</button>
									<button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('comentarios')">
										<span>Vaciar</span>
									</button>
									<span ng-style="btnsFilter.colorCamposDetalle">{{btnsFilter.textCamposDetalle}}</span>
								</div>
							</div>
						</div>
						<div class="col-md-2"></div>
					</div>
					<div class="row">
						<div class="col-md-2" style="margin-bottom: -10px;">
							<label class="desresumen">Nro. de Documento:</label>
							<div style="width: 200px">
								<input type="button" class="btn buscador mybutton" value="+" style="position:relative;margin-top: -2px; width: 20px; float: left;"  ng-click="anadirALista('filtroNumeroDocumento')">
								<input type="text" id="filtroNumeroDocumento" style="width: 101px; float: left;" ng-model="form.numeroDocumento" class="anchoinp2" maxlength=10 auto-uppercase /> 
								<input type="button" class="btn buscador mybutton" style="margin-top: -2px; width: 20px; float: left;" ng-model="sentidoFiltro['numeroDocumento']" 
									value="{{sentidoFiltro['numeroDocumento']}}" ng-click="rotarOperadorFiltroNumeroDocumento()">
								<select size="4" tabindex="1" style="width: 145px" ng-model="form.numerosDocumentosFilter" ng-options="item.key as item.value for item in filtro.numerosDocumentos">
									<option value="" ng-if="false"></option>
								</select>
								<div style="width: 250px; align: center; margin-top: 2px;" class="anchoinp">
									<button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('numerosDocumentos')">
										<span class="negrita">-</span>
									</button>
									<button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('numerosDocumentos')">
										<span>Vaciar</span>
									</button>
									<span ng-style="btnsFilter.colorCamposDetalle">{{btnsFilter.textCamposDetalle}}</span>
								</div>
							</div>
						</div>
						<div class="col-md-2" style="margin-bottom: -10px;">
							<label class="desresumen">Antigüedad:</label> 
							<select	id="antiguedad" style="width: 145px;" ng-model="filtro.antiguedad" ng-options="item.key for item in listAntiguedades" ng-change="procesarAntiguedad()">
								<option value="" ng-if="false"></option>
							</select> 
							<select size="4" tabindex="1" style="width: 145px" ng-model="form.antiguedadesFilter" ng-options="campo for campo in filtro.antiguedades">
								<option value="" ng-if="false"></option>
							</select>
							<div style="width: 250px; align: center; margin-top: 2px;" class="anchoinp">
								<button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('antiguedades')">
									<span class="negrita">-</span>
								</button>
								<button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('antiguedades')">
									<span>Vaciar</span>
								</button>
								<span ng-style="btnsFilter.colorCamposDetalle">{{btnsFilter.textCamposDetalle}}</span>
							</div>
						</div>
						<div class="col-md-3" style="padding-top: 10px;">
							<div class="col-md-12 no-padding">
								<label for="fejecucionDe" class="desresumen">Booking Date Desde:</label> 
								<input type="text" datepicker class="anchoimp2" style="width: 200px" placeholder="dd/mm/yyyy" ng-model="filtro.bookingDateDesde" 
									pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly" />
							</div>
							<div class="col-md-12 no-padding" >
								<label for="fejecucionDe" class="desresumen">Booking Date Hasta:</label> 
								<input type="text" datepicker class="anchoimp2" style="width: 200px" placeholder="dd/mm/yyyy" ng-model="filtro.bookingDateHasta"
									pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly" />
							</div>
						</div>
						<div class="col-md-3" style="padding-top: 10px;">
							<div class="col-md-12 no-padding">
								<label for="fejecucionDe" class="desresumen">Value Date Desde:</label> 
								<input type="text" datepicker class="anchoimp2" style="width: 200px" placeholder="dd/mm/yyyy"
									ng-model="filtro.valueDateDesde" pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly" />
							</div>
							<div class="col-md-12 no-padding">
								<label for="fejecucionDe" class="desresumen">Value Date Hasta:</label> 
								<input type="text" datepicker class="anchoimp2" style="width: 200px" 
									placeholder="dd/mm/yyyy" ng-model="filtro.valueDateHasta" pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly" />
							</div>
						</div>
						<div class="col-md-2"></div>
					</div>
					<div class="row">
						<div class="col-md-2" style="padding-top: 10px;">
							<label class="desresumen" for="filtro_perfil">Importe Desde:</label> 
							<input type="number" style="width: 145px" ng-model="filtro.importeDesde" class="anchoinp2" maxlength=25 />
						</div>
						<div class="col-md-2" style="padding-top: 10px;">
							<label class="desresumen" for="filtro_perfil">Importe Hasta:</label> 
							<input type="number" style="width: 145px" ng-model="filtro.importeHasta" class="anchoinp2" maxlength=25 />
						</div>
						<div class="col-md-3" style="padding-top: 10px;">
							<label class="desresumen">GIN:</label> 
							<input type="number" style="width: 200px" ng-model="filtro.gin" class="anchoinp2" />
						</div>
						<div class="col-md-5"></div>
					</div>

					<div class="centrar top-10">
						<input type="button" class="btn buscador mybutton" id="buscar" value="Consultar" ng-click="busquedaConciliacion()" /> 
						<input type="button" class="btn buscador mybutton" id="limpiar" value="Limpiar Filtros" ng-click="resetFiltro()" />
					</div>

				</fieldset>
			</div>

			<br />
			<div class="mensajeBusqueda"></div>

			<div class="contenedorTabla">
				<table id="tblDatos" class="col-md-12" cellspacing="0" style="min-width: 1000px;margin-top: 26px;" >
					<thead>
						<tr>
							<th class="taleft">Selecci&oacute;n</th>
							<th class="taleft">GIN</th>
							<th class="taleft">Tipo de Movimiento</th>
							<th class="taleft">Auxiliar bancario</th>
							<th class="taleft">Concepto Movimiento</th>
							<th class="taleft">Importe</th>
							<th class="taleft">Nro. Documento</th>
							<th class="taleft">Comentario</th>
							<th class="taleft">Booking Date</th>
							<th class="taleft">Value Date</th>
							<th class="taleft">Antig&#252;edad</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>

		</div>
		<div id="right-panel" class="split split-horizontal" ng-class="[{'max-min-dcha': !rightView.ACCView}, {'max-min-dchaACC': rightView.ACCView}]">
			<!-- ---------------COMIENZO CONTENIDOS PANEL DERECHA -->
			<div ng-include="'views/contabilidad/conciliacionBancariaOur.html'" ng-show="rightView.OURView" ng-controller="ConciliacionBancariaOURController"></div>
			<div ng-include="'views/contabilidad/conciliacionBancariaTLM.html'" ng-show="rightView.TLMView" ng-controller="ConciliacionBancariaTLMController"></div>
			<div ng-include="'views/contabilidad/conciliacionBancariaACC.html'" ng-show="rightView.ACCView" ng-controller="ConciliacionBancariaACCController"></div>
			<!-- ---------------FIN CONTENIDOS PANEL DERECHA -->
		</div>
	</div>
	<div class="row" style="padding-top: 10px;">
		<div class="col-md-3">
			<input type="button" class="btn buscador mybutton"
				value="Seleccionar todos" ng-click="seleccionarTodos()"/> <input
				type="button" class="btn buscador mybutton"
				value="Deseleccionar todos" ng-click="deseleccionarTodos()"/>
		</div>
		<div class="col-md-offset-1 col-md-4">
			<input type="button" class="btn buscador mybutton"
				value="Generar Our/Their" ng-click="showView('OUR')" /> <input
				type="button" class="btn buscador mybutton"
				value="Casar partidas pendientes" ng-click="showView('TLM')" /> <input
				type="button" class="btn buscador mybutton"
				value="Asignar a cuenta contable" ng-click="showView('ACC')" />
		</div>
		<div class="col-md-offset-2 col-md-2" ng-if="rightView.OURView">
			<input type="button" class="btn buscador mybutton"
				value="Seleccionar todos" ng-click="seleccionaTodosOUR()" /> <input
				type="button" class="btn buscador mybutton"
				value="Deseleccionar todos" ng-click="deseleccionaTodosOUR()" />
		</div>
		<div class="col-md-offset-2 col-md-2" ng-if="rightView.TLMView">
			<input type="button" class="btn buscador mybutton"
				value="Seleccionar todos" ng-click="seleccionaTodosTLM()" /> <input
				type="button" class="btn buscador mybutton"
				value="Deseleccionar todos" ng-click="deseleccionaTodosTLM()" />
		</div>
		<div class="col-md-offset-1 col-md-3" ng-if="rightView.ACCView">
			<input type="button" class="btn buscador mybutton"
				value="Vaciar Tabla" ng-click="vaciarTablaApuntesACC()" /> <input
				type="button" class="btn buscador mybutton"
				value="Borrar Seleccionados" ng-click="eliminarApunteACC()" /><input
				type="button" class="btn buscador mybutton" value="Generar Apunte"
				ng-click="generarApunteACC()" />
		</div>
</article>




<div id="archivoTLM" name="formularioArchivoTLM" class="modal modalCargaTLM">

	<p class="titleAlta" id="titleTitulo">Informaci&oacute;n TLM</p>

	<div class="buscador wrapper-95">
		<form>
			<fieldset style="padding: 20px;">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<b>Usuario:</b> {{informacionTLM.usuario == null ? 'No se
						encontr&oacute; usuario' : informacionTLM.usuario}}
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<b>Fecha &Uacute;ltimo fichero de TLM:</b>
						{{informacionTLM.fechaUltimoFichero == null ? '-' :
						informacionTLM.fechaUltimoFichero}}
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<b>Fecha Booking Date m&aacute;s reciente:</b>
						{{informacionTLM.fechaBooking == null ? '-' :
						informacionTLM.fechaBooking}}
					</div>
				</div>

				<div class="centrar top-10">
					<label for="selecFichero"
						class="custom-file-upload btn buscador mybutton">
						Actualizar Informaci&oacute;n TLM </label> 
						<input id="selecFichero" type="file" /> 
						
						<input type="button" class="btn buscador mybutton"
						value="Continuar con informaci&oacute;n actual"
						data-dismiss="modal"
						ng-disabled="!informacionTLM.informacionExistente"
						ng-click="continuarInformacionActualTLM()" ng-show="accion"/> 
						
						<input type="button" class="btn buscador mybutton"
						value="Continuar con informaci&oacute;n actual"
						data-dismiss="modal" ng-show="!accion"/>
				</div>

			</fieldset>
		</form>
	</div>
</div>

<div id="erroresExcelTLM" name="formularioErroresExcelTLM" class="modal z_index_99999">
	<div class="esquinar">
		<a data-dismiss="modal" id="cerrarTitular"> <img
			src="img/closeModal.png" title="Cerrar Ventana"
			style="cursor: pointer;" />
		</a>
	</div>
	<p class="titleAlta" id="titleTitulo">Errores en fichero TLM</p>
	<div class="contenedorTabla">
		<table id="datosErroresFicheroTLM" class="tacenter" cellspacing="0">
			<thead>
				<tr>
					<th class="tacenter">Nro. Columna</th>
					<th class="tacenter">Nro. Fila</th>
					<th class="tacenter">Descripci&oacute;n Error</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div class="centrar" style="padding-top: 20px; border-top: 1px solid grey; margin-top: 20px;">
		<input type="button" tabindex="10" class="btn mybutton" value="Cerrar"
			data-dismiss="modal" ng-click="mostrarModalCarga()"
			id="cerrarTitular" class="btn mybutton" />
	</div>
</div>

<div id="generarApunteModal" class="modal z_index_99999">
	<div class="buscadorRojo wrapper-95">
		<form>
			<fieldset style="padding: 20px;">
				<div class="row">
					<div class="col-md-7">
						<b style="color:#A60A12;">Importe Debe: </b>
					</div>
					<div class="col-md-5" style="text-align:right;">{{importeDebeTotal2}}</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						<b style="color:#A60A12;">Importe Haber:</b>
					</div>
					<div class="col-md-5" style="text-align:right;">{{importeHaberTotal2==0?importeHaberTotal2:'-' + importeHaberTotal2}}</div>
				</div>
				<div class="row">
					<div class="col-md-7">
						<b style="color:#A60A12;">Importe PyG:  </b>
					</div>
					<div class="col-md-5" style="text-align:right;">{{importePyGTotal2}}</div>
				</div>	
				<div class="centrar" style="border-top: 1px solid grey;padding-top: 10px; margin-top: 10px;">
					<input type="button" tabindex="10" class="btn mybutton" value="Generar Apunte" ng-click="generarApunteOUR()"  id="generarApunteOUR" class="btn mybutton" ng-show="rightView.OURView"/>
					<input type="button" tabindex="10" class="btn mybutton" value="Generar Apunte" ng-click="generarApunteTLM()"  id="generarApunteTLM" class="btn mybutton" ng-show="rightView.TLMView"/>
					<input type="button" tabindex="10" class="btn mybutton" value="Cancelar" ng-click="cancelarGenerarApunte()" id="cancelar" class="btn mybutton" data-dismiss="modal" />
				</div>
				<div class="row" ng-show="activeConcept">
					<div class="col-md-12">
						<label class="desresumen" for="filtro_perfil">Concepto:</label>
						<select id="conceptoTLM" ng-model="conceptoTLM" ng-change="asignarValueInputTLM()" style="width:200px;height:19px;position:absolute;display:block;" ng-options="item.value for item in listaConceptos" ng-show="rightView.TLMView">
							<option value="" ng-if="false"></option>
						</select>
						<input type="text" id="conceptoTLMinput" ng-model="conceptoTLMInput" ng-keypress="resetConceptoTLM()" style="position:relative;width:180px;height:19px;" ng-class="{'autocomplete-required': !conceptoTLMInput && activeConcept}" ng-show="rightView.TLMView"/> 
						
						<select id="conceptoOUR" ng-model="conceptoOUR" ng-change="asignarValueInputOUR()" style="width:200px;height:19px;position:absolute;display:block;" ng-options="item.value for item in listaConceptos" ng-show="rightView.OURView">
							<option value="" ng-if="false"></option>
						</select>
						<input type="text" id="conceptoOURinput" ng-model="conceptoOURInput" ng-keypress="resetConceptoOUR()" ng-show="rightView.OURView" style="position:relative;width:180px;height:19px;" ng-class="{'autocomplete-required': !conceptoOURInput && activeConcept}"/>
					</div>
				</div>	
			</fieldset>
		</form>
	</div>
</div>

<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje"></div>
