<div class="ng-isolate-scope">
	<div class="title_section clearfix">
		<div class="align-left">
			<p class="title">
				<span class="ng-scope">{{tituloOUR}} </span>
				<div class="col-md-offset-5 col-md-7 ng-scope" style="padding-left: 50px !important;">
					<button id="btnInvCliente" title="Refrescar Consulta" class="btn btn-xs btn-default pull-left" ng-click="consultarOurConTheir()">
						Refrescar&nbsp;<span class="glyphicon glyphicon-refresh"></span>
					</button>
				</div>
			</p>
		</div>
		<div class="align-right">
			<a ng-class="collapserClass()" ng-click="mostrarOcultarFiltrosOUR()" class="ng-binding collapser_search cursor">{{tituloPersianaOUR}}</a>
		</div>
	</div>
</div>
<div class="buscador wrapper-95 col-md-12" id="buscadorOUR" style="min-width: 1000px; width: 100%;">

<div class="spacer15"></div>
<div ng-show="(
				(mostrarErrorFiltroFecha && (filtroOUR.fhLiquidacionDesde == '' && filtroOUR.fhLiquidacionHasta != '')) || 
				(mostrarErrorFiltroFecha && (filtroOUR.fhContratacionDesde == '' && filtroOUR.fhContratacionHasta != '')) ||
				(mostrarErrorFiltroFecha && (filtroOUR.fhContratacionDesde != '' && filtroOUR.fhLiquidacionDesde != '')) ||
				(mostrarErrorFiltroFecha && (filtroOUR.fhLiquidacionDesde == '' && filtroOUR.fhLiquidacionHasta == '' && filtroOUR.fhContratacionDesde == '' && filtroOUR.fhContratacionHasta == '')) ||
				(mostrarErrorFiltroFecha && filtroOUR.sentidoFilterOur == '')
				)">
	<div class="panel panel-body"
		style="border: 1px solid silver; padding: 10px;">
		<div class="row">
			<div class="col-xs-1 col-sm-1 col-lg-1"
				style="vertical-align: middle;">
				<img alt="nueva_plantilla" src="images/warning.png" height="26px">
			</div>
			<div>
				<p style="margin: 3px;"	ng-if="mostrarErrorFiltroFecha && (filtroOUR.fhContratacionDesde == '' && filtroOUR.fhContratacionHasta == '' && filtroOUR.fhLiquidacionDesde == '' && filtroOUR.fhLiquidacionHasta == '')">-		Debe indicar un rango de fechas de contratación o liquidación.</p>
				<p style="margin: 3px;"	ng-if="mostrarErrorFiltroFecha && (filtroOUR.fhContratacionDesde != '' && filtroOUR.fhLiquidacionDesde != '')">-		Debe indicar únicamente un rango de fechas (contratación o liquidación).</p>
				<p style="margin: 3px;"	ng-if="mostrarErrorFiltroFecha && (filtroOUR.fhContratacionDesde == '' && filtroOUR.fhContratacionHasta != '')">-		Debe indicar una fecha contratación desde.</p>
				<p style="margin: 3px;"	ng-if="mostrarErrorFiltroFecha && (filtroOUR.fhLiquidacionDesde == '' && filtroOUR.fhLiquidacionHasta != '')">-		Debe indicar una fecha liquidación desde.</p>
				<p style="margin: 3px;"	ng-if="mostrarErrorFiltroFecha && filtroOUR.sentidoFilterOur == ''">-		Debe seleccionar un valor del sentido.</p>
			</div>
		</div>
	</div>
</div>
	<fieldset>
		<div class="row">
			<div class="col-md-3">
				<label class="desresumen">Auxiliar	Contable:</label>
				    <select id="plantilla_campoOrdenacion" style="width:200px;" ng-model="filtroOUR.auxiliarOur" ng-options="campo for campo in listaAuxiliaresOur" ng-change="procesarAuxiliar()">
             			<option value="" ng-if="false"></option>
             		</select>
					<select size="4" tabindex="1" style="width: 200px" ng-model="formOUR.auxiliaresFilterOur"	ng-options="campo for campo in filtroOUR.auxiliaresOur">
						<option value="" ng-if="false"></option>
					</select>
					<div style="width: 250px; align: center; margin-top: 2px;" class="anchoinp">
						<button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('auxiliaresOur')">
							<span class="negrita">-</span>
						</button>
						<button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('auxiliaresOur')">
							<span>Vaciar</span>
						</button>
						<span ng-style="btnsFilter.colorCamposDetalle">{{btnsFilter.textCamposDetalle}}</span>
					</div>
			</div>
			<div class="col-md-3">
				<label class="desresumen">Alias:</label>
					<input type="text" id="filtroAliasOur" class="anchoinp" auto-uppercase ng-model="formOUR.aliasOur" /> 
					<select size="4" tabindex="1" style="width: 200px" ng-model="formOUR.aliasFilterOur"	ng-options="item.value for item in filtroOUR.aliasOur">
						<option value="" ng-if="false"></option>
					</select>
					<div style="width: 250px; align: center; margin-top: 2px;" class="anchoinp">
						<button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('aliasOur')">
							<span class="negrita">-</span>
						</button>
						<button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('aliasOur')">
							<span>Vaciar</span>
						</button>
						<span ng-style="btnsFilter.colorCamposDetalle">{{btnsFilter.textCamposDetalle}}</span>
					</div>
			</div>
			<div class="col-md-3">
				<label class="desresumen">ISIN:</label>
					<input type="text" id="filtroIsinOur" class="anchoinp" auto-uppercase ng-model="formOUR.isinOur" /> 
					<select size="4" tabindex="1" style="width: 200px" ng-model="formOUR.isinFilterOur"	ng-options="item.value for item in filtroOUR.isinOur">
						<option value="" ng-if="false"></option>
					</select>
					<div style="width: 250px; align: center; margin-top: 2px;" class="anchoinp">
						<button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('isinOur')">
							<span class="negrita">-</span>
						</button>
						<button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('isinOur')">
							<span>Vaciar</span>
						</button>
						<span ng-style="btnsFilter.colorCamposDetalle">{{btnsFilter.textCamposDetalle}}</span>
					</div>
			</div>
			<div class="col-md-3">
				<label class="desresumen">Sentido:</label>
					<select	 style="width: 200px;" ng-model="filtroOUR.sentidoFilterOur" ng-class="{'autocomplete-required':mostrarErrorFiltroFecha && filtroOUR.sentidoFilterOur == ''}">
					 <option ng-repeat="item in listSentidos" value="{{item.key}}" ng-selected="{{item.key == defaultSelectedSentido}}">{{item.value}}</option>
					</select>
				<label class="desresumen">Num. Booking:</label> 
				<input style="width: 200px;" type="text" id="filtro_alias" ng-model="filtroOUR.nBooking" class="anchoinp2" maxlength=40  auto-uppercase />
			</div>


		</div>

		<div class="row">
			<div class="col-md-3">
				<label class="desresumen">Fh. Contrataci&oacute;n Desde: </label> 
				<input style="width: 200px;" type="text" id="filtro_fecha_contratacion_desde" placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly" ng-model="filtroOUR.fhContratacionDesde" datepicker class="anchoinp2" ng-class="{'autocomplete-required':mostrarErrorFiltroFecha && ((filtroOUR.fhContratacionDesde == '' && filtroOUR.fhContratacionHasta != '') || (filtroOUR.fhLiquidacionDesde == '' && filtroOUR.fhLiquidacionHasta == '' && filtroOUR.fhContratacionDesde == '' && filtroOUR.fhContratacionHasta == ''))}"/>
			</div>
			<div class="col-md-3">
				<label class="desresumen">Fh. Contrataci&oacute;n hasta: </label> 
				<input style="width: 200px;" type="text" id="filtro_fecha_contratacion_hasta" placeholder="dd/mm/yyyy"	pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly" ng-model="filtroOUR.fhContratacionHasta" datepicker class="anchoinp2" ng-class="{'autocomplete-required':mostrarErrorFiltroFecha && (filtroOUR.fhLiquidacionDesde == '' && filtroOUR.fhLiquidacionHasta == '' && filtroOUR.fhContratacionDesde == '' && filtroOUR.fhContratacionHasta == '')}"/>
			</div>
			<div class="col-md-3">
				<label class="desresumen">Fh. Liquidaci&oacute;n Desde: </label> 
				<input style="width: 200px;" type="text" id="filtro_fecha_liquidacion_desde" placeholder="dd/mm/yyyy"	pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly" ng-model="filtroOUR.fhLiquidacionDesde" datepicker class="anchoinp2" ng-class="{'autocomplete-required':mostrarErrorFiltroFecha && ((filtroOUR.fhLiquidacionDesde == '' && filtroOUR.fhLiquidacionHasta != '') || (filtroOUR.fhLiquidacionDesde == '' && filtroOUR.fhLiquidacionHasta == '' && filtroOUR.fhContratacionDesde == '' && filtroOUR.fhContratacionHasta == ''))}"/>
			</div>
			<div class="col-md-3">
				<label class="desresumen">Fh. Liquidaci&oacute;n Hasta: </label> 
				<input style="width: 200px;" type="text" id="filtro_fecha_liquidacion_hasta" placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly" ng-model="filtroOUR.fhLiquidacionHasta" datepicker class="anchoinp2" ng-class="{'autocomplete-required':mostrarErrorFiltroFecha && (filtroOUR.fhLiquidacionDesde == '' && filtroOUR.fhLiquidacionHasta == '' && filtroOUR.fhContratacionDesde == '' && filtroOUR.fhContratacionHasta == '')}"/>
			</div>

		</div>
		<div class="row">
			<div class="col-md-3">
				<label class="desresumen">Ref. Cliente:</label> 
				<input style="width: 200px;" type="text" id="filtro_ref_cliente" ng-model="filtroOUR.refCliente" class="anchoinp2" maxlength=40 auto-uppercase />
			</div>
			<div class="col-md-3">
				<label class="desresumen">Ref. Desglose:</label> 
				<input style="width: 200px;" type="text" id="filtro_ref_desglose" ng-model="filtroOUR.refDesglose" class="anchoinp2" maxlength=40 auto-uppercase />
			</div>
			<div class="col-md-3">
				<label class="desresumen">Referencia Pata Cliente:</label> 
				<input style="width: 200px;" type="text" id="filtro_pata_cliente" ng-model="filtroOUR.refPataCliente" class="anchoinp2" maxlength=40 auto-uppercase />
			</div>
			<div class="col-md-3">
				<label class="desresumen">Referencia Pata Mercado:</label> 
				<input style="width: 200px;" type="text" id="filtro_pata_mercado" ng-model="filtroOUR.refPataMercado" class="anchoinp2" maxlength=40 auto-uppercase />
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">
				<label class="desresumen">Importe Desde:</label> 
				<input style="width: 200px;" type="number" id="filtro_imp_desde" ng-model="filtroOUR.importeDesde" class="anchoinp2" maxlength=25  />
			</div>
			<div class="col-md-3">
				<label class="desresumen">Importe Hasta:</label> 
				<input style="width: 200px;" type="number" id="filtro_imp_hasta" ng-model="filtroOUR.importeHasta" class="anchoinp2" maxlength=25  />
			</div>
		</div>
		
			<div class="centrar top-10">
		<input class="btn buscador mybutton" ng-class="{'flash-button': alertBlink}" id="buscar" value="Consultar" ng-click="consultarOurConTheir()" /> 
		<input class="btn buscador mybutton" id="limpiar" value="Limpiar Filtros" ng-click="resetFiltroOUR()" />
	</div>
	</fieldset>
</div>

<br />
<div class="mensajeBusquedaOUR"></div>

<div class="contenedorTabla">
	<table class="ancha" id="datosOURConTheir" class="col-md-12" cellspacing="0" style="min-width: 1000px;margin-top: 26px;">
		<thead>
			<tr>
				<th class="taleft">Selecci&oacute;n</th>
				<th class='taleft'>Auxiliar Contable</th>
				<th class='taleft'>Sentido</th>
				<th class='taleft'>ISIN</th>
				<th class='taleft'>Importe</th>
				<th class='tacenter'>Fh. Contrataci&oacute;n</th>
				<th class='taleft'>Fh. Liquidaci&oacute;n</th>
				<th class='taleft'>N. Booking</th>
				<th class='taleft'>N. Desglose</th>
				<th class='taleft'>Secuencial desglose</th>
				<th class='taleft'>Ref. Cliente</th>
				<th class='taleft'>Referencia S3</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>