<article class="center">
    <div class="title_section clearfix">
        <p class="title">Informes de Contabilidad</p>
        <a class="collapser_search active" href="#">Ocultar opciones de b&uacute;squeda</a>
    </div>
    <div class="buscador">
        <form id="informe" class="wrapper-95">
            <fieldset>
                <div class="three-columns">
                    <div>
                        <label for="textCodigo" class="desresumen">Trade date. Desde: </label>
                        <input id="fechTradeIni" class="anchofecha"  readonly="readonly"/>
                    </div>
                    <div>
                        <label for="textCodigo" class="desresumen">Hasta: </label>
                        <input id="fechTradeFin" class="anchofecha"  readonly="readonly"/>
                    </div>
                    <div>
                        <label for="textCodigo" class="desresumen">Tipo de informe: </label>
                        <select id="prefijadas" style="width:200px;"></select>
                    </div>
                    <div>
                        <label for="textAlias" class="desresumen">Seleccione alias: </label>
                        <input type="text" id="textAlias" class="anchoinp entrada" />
                    </div>
                    <div>
                        <div id="divAlias" class="ui-widget-content1">
                        </div>
                    </div>

                </div>
                <div class="three-columns">
                    <div>
                        <label for="settlementIni" class="desresumen">Settlement date. Desde: </label>
                        <input id="settlementIni" class="anchofecha"  readonly="readonly"/>
                    </div>
                    <div>
                        <label for="settlementFin" class="desresumen">Hasta: </label>
                        <input id="settlementFin" class="anchofecha"  readonly="readonly"/>
                    </div>
                    <div>
                        <label for="tipoOrden" class="desresumen">Tipo de orden: </label>
                        <select id="tipoOrden" class="top entrada"></select>
                    </div>
                    <div>
                        <label for="textCodigo" class="desresumen" style="vertical-align: top;">Tipolog&iacute;a: </label>
                        <select id="tipologia" multiple="multiple" class="entrada" ></select>
                    </div>
                    <div>
                        <label for="textCodigo" class="desresumen" style="vertical-align: top;">Estado liquidaci&oacute;n: </label>
                        <select id="estadoLiquidacion" multiple="multiple" class="entrada"></select>
                    </div>
                </div>
                <div class="three-columns">
                    <div>
                        <label for="accountingIni" class="desresumen">Accounting date. Desde: </label>
                        <input id="accountingIni" class="anchofecha"  readonly="readonly"/>
                    </div>
                    <div>
                        <label for="accountingFin" class="desresumen">Hasta: </label>
                        <input id="accountingFin" class="anchofecha"  readonly="readonly"/>
                    </div>
                    <div>
                        <label for="tipoApunte" class="desresumen">Tipo apunte: </label>
                        <select id="tipoApunte" class="entrada"></select>
                    </div>
                    <div>
                        <label for="textCodigo" class="desresumen" style="vertical-align: top;">Cuenta contable: </label>
                        <select id="cuenta" multiple="multiple" class="entrada"></select>
                    </div>
                    <div>
                        <label for="textCodigo" class="desresumen" style="vertical-align: top;">Estado contable: </label>
                        <select id="estadoContable" multiple="multiple" class="entrada"></select>
                    </div>
                </div>
            </fieldset>
            <div class="centrar">
                <input type="submit" id="buscar" class="btn buscador mybutton" value="Consultar" />
                <input type="reset" id="limpiar" class="mybutton" value="Limpiar Filtros" />
            </div>
        </form><
    </div>
    <div class="mensajeBusqueda"></div>
    <div>
        <div class="contenedorTabla">
            <table id="tblContaInformes" width="100%">
                <thead>
                    <tr>
                        <th>Estado contable</th>
                        <th>Alias</th>
                        <th>Descripci&oacute;n</th>
                        <th>Fh. Contrataci&oacute;n</th>
                        <th>Fh. Liquidaci&oacute;n</th>
                        <th>Fh. Devengo</th>
                        <th>C/V</th>
                        <th>T&iacute;tulos</th>
                        <th>Cambio<br/>Medio</th>
                        <th>Efectivo Bruto</th>
                        <th>Efectivo Neto</th>
                        <th>Ajuste por Precio</th>
                        <th>Com. Liquidación</th>
                        <th>Ajuste Comisión</th>
                        <th>Corretaje</th>
                        <th>Canon</th>
                        <th>Clte.Asume<br/>Gastos</th>
                        <th>Com. Ordenante</th>
                        <th>Com. Devolución</th>
                        <th>Com. Banco</th>
                        <th>Importe<br/>Cobrado</th>
                        <th>ISIN</th>
                        <th>ID<br />Booking</th>
                        <th>ID<br />Orden</th>
                        <th>ID<br />Desglose</th>
                        <th>ID<br />Desglose Titular</th>
                        <th>ID<br />Ref. Cliente</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</article>
