<article class="center">
	<p class="titleAlta">Apuntes pendientes</p>
	<div class="col-md-offset-5 col-md-7" style="padding-left:50px !important;">
		<button id="btnInvCliente" title="Refrescar Consulta" class="btn btn-xs btn-default pull-left" ng-click="consultarApuntesPndts()">
            Refrescar&nbsp;<span class="glyphicon glyphicon-refresh"></span>
        </button>
	</div>
	<div class="contenedorTabla">
		<table class="ancha" id="datosApuntesPndts"
			class="editinplace draggable sorttable" width="100%">
			<thead>
				<tr>
					<th class="taleft">Selecci&oacute;n</th>
					<th class='taleft'>Fecha del apunte</th>
					<th class='taleft'>Usuario</th>
					<th class='taleft'>Concepto</th>
					<th class='taleft'>Importe al debe</th>
					<th class='taleft'>Importe al haber</th>
					<th class='taleft'>Importe PyG</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		<div class="centrar">
			<input class="btn buscador mybutton" value="Modificar tolerance"
				ng-click="abrirModificarTolerance()" /> <input
				class="btn buscador mybutton" value="Aprobar apunte"
				ng-click="aprobarApuntes()" /> <input class="btn buscador mybutton"
				value="Rechazar apunte" ng-click="rechazarApuntes()" /> <input
				class="btn buscador mybutton" value="Auditoria Aprobaci&oacute;n"
				ng-click="abrirAuditoriaApuntes()" /> <input
				class="btn buscador mybutton" value="Auditoria Tolerance"
				ng-click="abrirAuditoriaTolerance()" /> <input
				class="btn buscador mybutton" value="Refrescar consulta"
				ng-click="consultarApuntesPndts()" /> <input
				class="btn buscador mybutton" value="Seleccionar Todos"
				ng-click="seleccionarTodos()" /> <input
				class="btn buscador mybutton" value="Deseleccionar Todos"
				ng-click="deseleccionarTodos()" />
		</div>
	</div>

	<div id="modalTolerance" class="modal modalTolerance">

		<div class="esquinar">
			<a data-dismiss="modal" id="cerrarModalTolerance"> <img
				src="img/closeModal.png" title="Cerrar Ventana"
				style="cursor: pointer;" />
			</a>
		</div>
		<p class="titleAlta" id="titleTitulo">Modificar Tolerance</p>
		<div
			ng-show="mostrarErrorModificarTolerance && (!plantillaForm.key || toleranceForm == null)">
			<div class="panel panel-body"
				style="border: 1px solid silver; padding: 10px;">
				<div class="row">
					<div class="col-xs-1 col-sm-1 col-lg-1"
						style="vertical-align: middle;">
						<img alt="nueva_plantilla" src="images/warning.png" height="26px">
					</div>
					<div>
						<p style="margin: 3px;" ng-if="!plantillaForm.key">- Debe
							seleccionar un código de plantilla.</p>
						<p style="margin: 3px;" ng-if="toleranceForm == null">- Debe
							introducir un valor para el tolerance.</p>
					</div>
				</div>
			</div>
		</div>
		<fieldset>
			<div class="centrar"
				style="padding-top: 10px; border-top: 1px solid grey; margin-top: 20px;"></div>
			<div class="row">

				<div class="col-md-6 form-campo">
					<label class="desresumen">Código Plantilla:</label> <select
						ng-model="plantillaForm"
						ng-options="item.key for item in listCodigosPlantillas"
						ng-change="cargarTolerance()"
						ng-class="{'autocomplete-required':!plantillaForm.key && mostrarErrorModificarTolerance}">
					</select>
				</div>

				<div class="col-md-6 form-campo">
					<label class="desresumen">Tolerance:</label> <input type="number"
						ng-model="toleranceForm" maxlength=18
						ng-class="{'autocomplete-required':toleranceForm == null && mostrarErrorModificarTolerance}" />
				</div>

			</div>

			<div class="centrar"
				style="padding-top: 20px; border-top: 1px solid grey; margin-top: 20px;">
				<input type="button" tabindex="9" class="btn mybutton"
					id="aceptarTolerance" value="Aceptar"
					ng-click="modificarTolerance()" /> <input type="button"
					tabindex="10" class="btn mybutton" id="cerrarModal"
					value="Cancelar" data-dismiss="modal" />
			</div>
		</fieldset>
	</div>

	<div id="modalAuditoriaApuntes" class="modal modalAuditoriaApuntes">

		<div class="esquinar">
			<a data-dismiss="modal" id="cerrarModalAuditoriaApuntes"> <img
				src="img/closeModal.png" title="Cerrar Ventana"
				style="cursor: pointer;" />
			</a>
		</div>
		<div class="spacer15"></div>
		<div title-slide-filter showing="showingFilter">Auditoría
			Apuntes</div>
		<div
			ng-show="mostrarErrorFiltroAuditApuntes && (filtroAuditoria.fechaApunteDesde == '' && filtroAuditoria.fechaApunteHasta != '')">
			<div class="panel panel-body"
				style="border: 1px solid silver; padding: 10px;">
				<div class="row">
					<div class="col-xs-1 col-sm-1 col-lg-1"
						style="vertical-align: middle;">
						<img alt="nueva_plantilla" src="images/warning.png" height="26px">
					</div>
					<div>
						<p style="margin: 3px;"
							ng-if="(filtroAuditoria.fechaApunteDesde == '' && filtroAuditoria.fechaApunteHasta != '')">-
							Debe indicar una fecha desde.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="buscador" ng-show="!mostrarTablaPartidasCasadas">
			<form id="cargarTabla" class="wrapper-95">
				<fieldset>
					<div class="four-columns">
						<div class="col-md-6 form-campo">
							<label class="desresumen">Usuario:</label> <select
								ng-model="filtroAuditoria.usuario"
								ng-options="item.value for item in listUsuarios">
							</select>
						</div>
					</div>
					<div class="four-columns">
						<div class="col-md-6 form-campo">
							<label for="filtro_fecha_apunte_desde" class="desresumen">Fecha
								Apunte Desde:</label> <input type="text" id="filtro_fecha_apunte_desde"
								placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}"
								title="dd/mm/yyyy" maxlength="10" readonly="readonly"
								ng-model="filtroAuditoria.fechaApunteDesde" datepicker
								class="anchoinp2"
								ng-class="{'autocomplete-required':mostrarErrorFiltroAuditApuntes && (filtroAuditoria.fechaApunteDesde == '' && filtroAuditoria.fechaApunteHasta != '')}" />
						</div>
					</div>
					<div class="four-columns">
						<div class="col-md-6 form-campo">
							<label for="filtro_fecha_apunte_hasta" class="desresumen">Fecha
								Apunte Hasta:</label> <input type="text" id="filtro_fecha_apunte_hasta"
								placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}"
								title="dd/mm/yyyy" maxlength="10" readonly="readonly"
								ng-model="filtroAuditoria.fechaApunteHasta" datepicker
								class="anchoinp2" />
						</div>
						<div class="spacer15"></div>
					</div>
				</fieldset>
				<div class="centrar top-10">
					<input class="btn buscador mybutton" id="buscar" value="Consultar"
						ng-click="consultarAuditoriaApuntes()" /> <input
						class="btn buscador mybutton" id="limpiar" value="Limpiar Filtros"
						ng-click="resetFiltroAuditoriaApunte()" />
				</div>
			</form>
		</div>
		<div class="contenedorTabla" ng-show="!mostrarTablaPartidasCasadas">
			<table class="ancha" id="datosAuditoriaApuntes"
				class="editinplace draggable sorttable" width="100%">
				<thead>
					<tr>
						<th class="taleft">Selecci&oacute;n</th>
						<th class="taleft">Fecha del apunte</th>
						<th class='taleft'>Usuario</th>
						<th class='taleft'>Concepto</th>
						<th class='taleft'>Importe al debe</th>
						<th class='taleft'>Importe al haber</th>
						<th class='taleft'>Importe PyG</th>
						<th class='taleft'>Estado</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			<div class="centrar"
				style="padding-top: 20px; border-top: 1px solid grey; margin-top: 20px;">
				<input type="button" tabindex="10" class="btn mybutton"
					id="exportarXLS" value="Ver Partidas Casadas"
					ng-click="verPartidasCasadas()" class="btn mybutton" /> <input
					type="button" tabindex="10" class="btn mybutton" value="Cerrar"
					data-dismiss="modal" id="cerrarModal" class="btn mybutton"
					ng-click="reiniciarTablaAuditoriaApuntes()" />
			</div>
			<div class="spacer15"></div>
			<div
				ng-show="mostrarErrorAuditApuntes && (apuntesAuditoriaSeleccionados.length > 1 || apuntesAuditoriaSeleccionados.length == 0)">
				<div class="panel panel-body"
					style="border: 1px solid silver; padding: 10px;">
					<div class="row">
						<div class="col-xs-1 col-sm-1 col-lg-1"
							style="vertical-align: middle;">
							<img alt="nueva_plantilla" src="images/warning.png" height="26px">
						</div>
						<div>
							<p style="margin: 3px;"
								ng-if="apuntesAuditoriaSeleccionados.length == 0">- Debe
								seleccionar al menos un elemento de la tabla de auditoría
								apuntes</p>
							<p style="margin: 3px;"
								ng-if="apuntesAuditoriaSeleccionados.length > 1">- Debe
								seleccionar un único elemento de la tabla de auditoría apuntes</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div ng-show="mostrarTablaPartidasCasadas">
			<ul class="nav nav-tabs">
				<li ng-class="{active : isActive('TLM')}"><a
					ng-click="activarPestana('TLM')"><span
						style="color: #FF0000; font-size: 12px;">TLM</span></a></li>
				<li ng-class="{active : isActive('SIBBAC')}"><a
					ng-click="activarPestana('SIBBAC')"><span
						style="color: #FF0000; font-size: 12px;">SIBBAC</span></a></li>
			</ul>
			<div class="spacer15"></div>
			<div class="contenedorTabla" ng-show="pestana == 'TLM'">
				<table class="ancha" id="datosTLM">
					<thead>
						<tr>
							<th class="taleft">Referencia</th>
							<th class="taleft">GIN</th>
							<th class='taleft'>Tipo de Movimiento</th>
							<th class='taleft'>Auxiliar Bancario</th>
							<th class='taleft'>Concepto Movimiento</th>
							<th class='taleft'>Importe</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>

			<div class="contenedorTabla" ng-show="pestana == 'SIBBAC'">
				<table class="ancha" id="datosSIBBAC">
					<thead>
						<tr>
							<th class="taleft">Orden</th>
							<th class='taleft'>Booking</th>
							<th class='taleft'>NuCnfclt</th>
							<th class='taleft'>NuCnfliq</th>
							<th class='taleft'>Sentido</th>
							<th class='taleft'>Importe</th>
						</tr>
					</thead>
					<tbody></tbody>
				</table>
			</div>
			<div class="centrar"
				style="padding-top: 20px; border-top: 1px solid grey; margin-top: 20px;">
				<input type="button" tabindex="10" class="btn mybutton"
					id="exportarXLS" value="Exportar XLS" ng-click="exportarXLS()"
					class="btn mybutton" /> <input type="button" tabindex="10"
					class="btn mybutton" value="Volver" id="volverAuditApuntes"
					class="btn mybutton" ng-click="mostrarFiltroYTablaAuditApuntes()" />
			</div>
		</div>
	</div>

	<div id="modalAuditoriaTolerance" class="modal modalAuditoriaTolerance">

		<div class="esquinar">
			<a data-dismiss="modal" id="cerrarModalAuditoriaTolerance"> <img
				src="img/closeModal.png" title="Cerrar Ventana"
				style="cursor: pointer;" />
			</a>
		</div>
		<div class="spacer15"></div>
		<div title-slide-filter showing="showingFilter">Auditoría
			Tolerance</div>
		<div
			ng-show="mostrarErrorFiltroAuditTolerance && (filtroTolerance.fechaToleranceDesde == '' && filtroTolerance.fechaToleranceHasta != '')">
			<div class="panel panel-body"
				style="border: 1px solid silver; padding: 10px;">
				<div class="row">
					<div class="col-xs-1 col-sm-1 col-lg-1"
						style="vertical-align: middle;">
						<img alt="nueva_plantilla" src="images/warning.png" height="26px">
					</div>
					<div>
						<p style="margin: 3px;"
							ng-if="(filtroTolerance.fechaToleranceDesde == '' && filtroTolerance.fechaToleranceHasta != '')">-
							Debe indicar una fecha desde.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="buscador">
			<form id="cargarTabla" class="wrapper-95">
				<fieldset>
					<div class="four-columns">
						<div class="col-md-6 form-campo">
							<label class="desresumen">Usuario:</label> <select
								ng-model="filtroTolerance.usuario"
								ng-options="item.value for item in listUsuarios">
							</select>
						</div>
					</div>
					<div class="four-columns">
						<div class="col-md-6 form-campo">
							<label for="filtro_fecha_tolerance_desde" class="desresumen">Fecha
								Desde:</label> <input type="text" id="filtro_fecha_tolerance_desde"
								placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}"
								title="dd/mm/yyyy" maxlength="10" readonly="readonly"
								ng-model="filtroTolerance.fechaToleranceDesde" datepicker
								class="anchoinp2" ng-class="{'autocomplete-required':mostrarErrorFiltroAuditTolerance && (filtroTolerance.fechaToleranceDesde == '' && filtroTolerance.fechaToleranceHasta != '')}"/>
						</div>
					</div>
					<div class="four-columns">
						<div class="col-md-6 form-campo">
							<label for="filtro_fecha_tolerance_hasta" class="desresumen">Fecha
								Hasta:</label> <input type="text" id="filtro_fecha_tolerance_hasta"
								placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}"
								title="dd/mm/yyyy" maxlength="10" readonly="readonly"
								ng-model="filtroTolerance.fechaToleranceHasta" datepicker
								class="anchoinp2" />
						</div>
					</div>
					<div class="four-columns">
						<div class="col-md-6 form-campo">
							<label for="filtro_codigo_plantilla" class="desresumen">Código
								Plantilla:</label> <select ng-model="filtroTolerance.codigoPlantilla"
								ng-options="item.key for item in listCodigosPlantillas">
							</select>
						</div>
						<div class="spacer15"></div>
					</div>
				</fieldset>
				<div class="centrar top-10">
					<input class="btn buscador mybutton" id="buscar" value="Consultar"
						ng-click="consultarAuditoriaTolerance()" /> <input
						class="btn buscador mybutton" id="limpiar" value="Limpiar Filtros"
						ng-click="resetFiltroAuditoriaTolerance()" />
				</div>
			</form>
		</div>
		<div class="contenedorTabla">
			<table class="ancha" id="datosAuditoriaTolerance"
				class="editinplace draggable sorttable" width="100%">
				<thead>
					<tr>
						<th class="taleft">Código de Plantilla</th>
						<th class='taleft'>Tolerance</th>
						<th class='taleft'>Fecha</th>
						<th class='taleft'>Usuario</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			<div class="centrar"
				style="padding-top: 20px; border-top: 1px solid grey; margin-top: 20px;">
				<input type="button" tabindex="10" class="btn mybutton"
					value="Volver" data-dismiss="modal" id="cerrarModal"
					class="btn mybutton" ng-click="reiniciarTablaAuditoriaTolerance()" />
			</div>
		</div>
	</div>


	<div id="fade" class="overlay"></div>
	<div id="dialog-confirm"></div>
</article>

<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje"></div>