<!-- DIV de cuenta contable -->
<article class="center">
  <div class="title_section clearfix">
    <p class="title">Cuenta Contable</p>
    <div style="float: right; display: inline;">
      <a class="collapser_search">Ocultar opciones de b&uacute;squeda</a>
    </div>
  </div>
  <div class="buscador">
    <form id="filtro" class="wrapper-95">
      <fieldset>
        <div class="four-columns">
          <div>
            <label for="cuenta" class="desresumen">Cuenta: </label>
            <input type="text" id="cuenta" />
          </div>
        </div>
        <div class="four-columns">
          <div>
            <label for="tipo" class="desresumen">Tipo: </label>
            <select id="tipo"></select>
          </div>
        </div>
        <div class="four-columns">
          <div>
            <label for="operativa" class="desresumen">Operativa: </label>
            <select id="operativa"></select>
          </div>
        </div>
        <div class="four-columns">
          <div>
            <label for="withAux" class="desresumen">Con Auxiliar: </label>
            <select id="withAux"></select>
          </div>
        </div>
      </fieldset>
      <div class="centrar">
        <input type="submit" id="buscar" class="btn buscador mybutton" value="Consultar" />
        <input type="reset" id="limpiar" class="mybutton" value="Limpiar Filtros" />
      </div>
    </form>
  </div>
  <div class="resultados">
    <div class="contenedorTabla">
      <table id="tblCuentas" class="tablaPrueba ancha" width="100%">
     
        <thead>
          <tr>
            <th class="tacenter">Editar</th>
            <th class="tacenter">Numero</th>
            <th class="tacenter">Nombre</th>
            <th class="tacenter">Cta Liq</th>
            <th class="tacenter">Operativa</th>
            <th class="tacenter">Tipo</th>
            <th class="tacenter">Con Aux?</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="centrar">
        <input class="mybutton" type="button" id="Alta" value="Crear" ng-show="isPermisoAccion(SecurityActions.CREAR)"/>
        <input class="mybutton" type="button" id="Baja" value="Eliminar" ng-show="isPermisoAccion(SecurityActions.BORRAR)"/>
        <input class="mybutton" type="button" id="Modificar" value="Modificar" ng-show="isPermisoAccion(SecurityActions.MODIFICAR)"/>
      </div>
    </div>
  </div>
  <div id="fade" class="overlay"></div>
</article>
<div id="div_formulario" class="modal modalalto2b">
  <div class="esquinar">
    <a ng-click="cerrar()" id="cerrarTitulares"><img src="img/closeModal.png" title="Cerrar Ventana" style="cursor: pointer;" /></a>
  </div>
  <p class="titleAlta" id="titleTitu">Modificaci&oacute;n Cuenta Contable</p>
  <form id="cargarDatos">
    <fieldset>
      <input type="hidden" id="id">
      <table>
        <tr>
          <td>N&uacute;mero:</td>
          <td>Nombre:</td>
          <td>Cuenta Liquidaci&oacute;n:</td>
        </tr>
        <tr>
          <td><input type="text" id="numero" class="anchoinp3" maxlength=10/></td>
          <td><input type="text" id="nombre" class="anchoinp"/></td>
          <td>
            <select id="ctaLiqN"></select>
          </td>
        </tr>
        <tr>
          <td>Operativa:</td>
          <td>Tipo:</td>
          <td>Con Aux:</td>
        </tr>
        <tr>
          <td>
            <select id="operativaN" class="anchoinp3"></select>
          </td>
          <td>
            <select id="tipoN" class="anchoinp3"></select>
          </td>
          <td>
            <select id="withAuxN" class="anchoinp3"></select>
          </td>
        </tr>
      </table>
      <div style="text-align:center;">
        <input class="btn mybutton" type="submit" id="guardar" value="Guardar" data="alta" style="margin-top: 10px; position: relative; top: 100%;" />
      </div>
    </fieldset>
  </form>
</div>
