<style type="text/css">
.hide-calendar .ui-datepicker-calendar {
  display: none;
}
</style>

<article class="center">
  <div class="title_section clearfix">
    <br>
    <div style="display: inline; float: left;">
      <p class="title">Generación de cartas de pago</p>
    </div>
    <div style="float: right; display: inline;">
      <a class="collapser_search cursor">Ocultar opciones de búsqueda</a>
    </div>
  </div>
  <div class="buscador">
    <form id="formBusqueda" class="wrapper-95">
      <fieldset>
        <div class="two-columns">
          <div>
            <label for="textAlias" class="desresumen">Alias</label>
            <input id="textAlias" type="text" class="anchoinp" tabindex="1" required="required" />
          </div>
          <div>
            <label for="fechaDesde" class="desresumen">Desde</label>
            <input id="fechaDesde" type="text" class="anchoinp" tabindex="3" required="required" readonly="readonly" />
          </div>
          <div>
            <label for="searchType" class="desresumen">Desgloses ya cobrados</label>
            <input id="searchType" type="checkbox" name="searchType" tabindex="5" />
          </div>
          <!--           <div> -->
          <!--             <label for="searchType2" class="desresumen">Todos los desgloses</label> -->
          <!--             <input id="searchType2" type="checkbox" name="searchType2" tabindex="6" style="vertical-align: middle;" /> -->
          <!--           </div> -->
        </div>
        <div class="two-columns">
          <div>
            <label for="comissionType" class="desresumen">Tipo de comisión</label>
            <select id="comissionType" class="anchoinp" tabindex="2" required="required"></select>
          </div>
          <div>
            <label for="fechaHasta" class="desresumen">Hasta</label>
            <input id="fechaHasta" type="text" class="anchoinp" tabindex="4" required="required" readonly="readonly" />
          </div>
        </div>
      </fieldset>
      <div class="centrar">
        <input id="buscar" class="btn buscador mybutton" type="submit" value="Buscar" tabindex="6" />
        <input id="limpiar" class="mybutton" type="reset" value="Limpiar Filtros" tabindex="7" />
      </div>
    </form>
  </div>

  <div>
    <!-- {{resultadoAngular()}} -->
  </div>

  <div class="mensajeBusqueda"></div>

  <br>
  <div class="centrar">
    <div class="contenedorTabla">
      <input id="generarCartaPago1" type=button class="btn buscador mybutton generarCartaPago"
        value="Generar carta de pago" tabindex="8"  ng-show="isPermisoAccion(SecurityActions.CREAR)"
      />
      <table id="tblOperacionesPago" class="fullTable">
        <thead>
          <tr>
            <th style="vertical-align: middle; text-align: center;">Fecha de Ejecución</th>
            <th style="vertical-align: middle; text-align: center;">Referencia</th>
            <th style="vertical-align: middle; text-align: center;">Tipo de operación</th>
            <th style="vertical-align: middle; text-align: center;">Nombre valor</th>
            <th style="vertical-align: middle; text-align: center;">Isin</th>
            <th style="vertical-align: middle; text-align: center;">Títulos</th>
            <th style="vertical-align: middle; text-align: center;">Efectivo</th>
            <th style="vertical-align: middle; text-align: center;">Importe devolución</th>
          </tr>
        </thead>
        <tbody></tbody>
        <tfoot>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th>Total general:</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </tfoot>
      </table>
    </div>

    <input id="generarCartaPago2" type=button class="btn buscador mybutton generarCartaPago"
      value="Generar carta de pago" tabindex="9" ng-show="isPermisoAccion(SecurityActions.CREAR)"
    />
  </div>

  <div id="formularioGenerarCartaDePago" class="modal modalalto2b">

    <div class="esquinar">
      <a ng-click="cerrarModal()" id="cerrarGenerarCartaDePago"> <img src="img/closeModal.png"
          title="Cerrar Ventana" style="cursor: pointer;"
        />
      </a>
    </div>
    <p class="titleAlta" id="titleTitu">Generar cartas de pago</p>
    <div class="centrar">
      <form id="generarCartaDePago2" action="/sibbac20back/rest/velocityCartaPago" method="POST"
        enctype="application/x-www-form-urlencoded"
      >
        <input id="halias" name="halias" property="halias" type="text" style="display: none;" />
        <!--         <input id="hempresa" name="hempresa" property="hempresa" type="text" style="display: none;" /> -->
        <!--         <input id="hatencion" name="hatencion" property="hatencion" type="text" style="display: none;" /> -->
        <input id="hfechaDesde" name="hfechaDesde" property="hfechaDesde" type="text" style="display: none;" />
        <input id="hcomissionType" name="hcomissionType" property="hcomissionType" type="text" style="display: none;" />
        <input id="hfechaHasta" name="hfechaHasta" property="hfechaHasta" type="text" style="display: none;" />
        <input id="hsearchType" name="hsearchType" property="hsearchType" type="text" style="display: none;" />

        <fieldset>
          <div class="two-columns">
            <div>
              <label for="textAlias2" class="desresumen">Alias:</label>
              <input id="textAlias2" name="textAlias2" property="textAlias2" type="text" class="anchoinp" tabindex="1"
                required="required" disabled
              />
            </div>
            <div>
              <label for="fechaDesde2" class="desresumen">Desde:</label>
              <input id="fechaDesde2" name="fechaDesde2" property="fechaDesde2" type="text" class="anchoinp"
                tabindex="3" required="required" disabled
              />
            </div>
            <div>
              <label for="fechaPago" class="desresumen">Fecha Cobro:</label>
              <input id="fechaPago" name="fechaPago" property="fechaPago" type="text" class="anchoinp" tabindex="5"
                required="required"
              />
            </div>
          </div>
          <div class="two-columns">
            <div>
              <label for="comissionType2" class="desresumen">Tipo de comisi&oacute;n:</label>
              <input id="comissionType2" name="comissionType2" property="comissionType2" type="text" class="anchoinp"
                tabindex="2" required="required" disabled
              />
            </div>
            <div>
              <label for="fechaHasta2" class="desresumen">Hasta:</label>
              <input id="fechaHasta2" name="fechaHasta2" property="fechaHasta2" type="text" class="anchoinp"
                tabindex="4" required="required" disabled
              />
            </div>
          </div>
        </fieldset>
        <div class="centrar">
          <input id="generar" class="btn buscador mybutton" type="submit" value="Generar" tabindex="6"
            ng-click="generarCarta();" style="margin-top: 10px;"
          />
        </div>
      </form>
    </div>
  </div>

  <!--   <div id="formularioSeleccionContacto" class="modal modalalto2b"> -->
  <!--     <div class="esquinar"> -->
  <!--       <a ng-click="cerrarModalTitulares()" id="cerrarSeleccionarContacto"> <img src="img/closeModal.png" -->
  <!--           title="Cerrar Ventana" style="cursor: pointer;" -->
  <!--         /> -->
  <!--       </a> -->
  <!--     </div> -->
  <!--     <p class="titleAlta" id="titleTitu">Generar cartas de pago 2</p> -->
  <!--     <div class="centrar"> -->
  <!--       <tr ng-repeat="arrayTitularesMostrar in arrayTitulares"> -->
  <!--         <td>{{arrayTitularesMostrar.atencionCarta}}</td> -->
  <!--         <td>{{$index}}</td> -->
  <!--       </tr> -->
  <!--     </div> -->
  <!--   </div> -->
</article>

<!-- <div id="mensaje" class="dialogMensaje"></div> -->
<!-- <script src="js/utilsibbac.js" type="text/javascript"></script> -->
<!-- <script src="js/site.js" type="text/javascript"></script> -->
