<article class="center">
	<div class="title_section clearfix">
		<div style="display: inline; float: left;">
			<p class="title">Hist&oacute;rico Partidas Casadas</p>
		</div>
	</div>	
		
	<div ng-show="mostrarErrorFiltro && (filtro.fechaDesde == '' && filtro.fechaHasta != '')">
		<div class="panel panel-body"
			style="border: 1px solid silver; padding: 10px;">
			<div class="row">
				<div class="col-xs-1 col-sm-1 col-lg-1"
					style="vertical-align: middle;">
					<img alt="nueva_plantilla" src="images/warning.png" height="26px">
				</div>
				<div>
					<p style="margin: 3px;"
						ng-if="(filtro.fechaDesde == '' && filtro.fechaHasta != '')">-
						Debe indicar una fecha desde.</p>
				</div>
			</div>
		</div>
	</div>
	<div title-slide-filter showing="showingFilter"></div>	
	<div class="buscador">
		<form id="cargarTabla" class="wrapper-95"
			ng-submit="searchFacturas($event)">
			<fieldset>
				<div class="three-columns">
					<div>
						<label class="desresumen">Usuario:</label> <select
							ng-model="filtro.usuario"
							ng-options="item.value for item in listUsuarios">
						</select>
					</div>
				</div>
				<div class="three-columns">
					<div>
						<label for="filtro_fecha_desde" class="desresumen">Fecha
							desde:</label> <input type="text" id="filtro_fecha_desde"
							placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}"
							title="dd/mm/yyyy" maxlength="10" readonly="readonly"
							ng-model="filtro.fechaDesde" datepicker class="anchoinp2" 
							ng-class="{'autocomplete-required':mostrarErrorFiltro && (filtro.fechaDesde == '' && filtro.fechaHasta != '')}"/>
					</div>
				</div>
				<div class="three-columns">
					<div>
						<label for="filtro_fecha_hasta" class="desresumen">Fecha
							hasta:</label> <input type="text" id="filtro_fecha_hasta"
							placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}"
							title="dd/mm/yyyy" maxlength="10" readonly="readonly"
							ng-model="filtro.fechaHasta" datepicker class="anchoinp2" />
					</div>
				</div>
			</fieldset>
			<div class="centrar top-10">
				<input class="btn buscador mybutton" id="buscar" value="Consultar"
					ng-click="consultarHistorico()" /> <input
					class="btn buscador mybutton" id="limpiar" value="Limpiar Filtros"
					ng-click="resetFiltro()" />
			</div>
		</form>
	</div>
	<div class="contenedorTabla">
		<table class="ancha" id="datosHistoricos"
			class="editinplace draggable sorttable" width="100%">
			<thead>
				<tr>
					<th class="taleft">Selecci&oacute;n</th>
					<th class='taleft'>Usuario</th>
					<th class='taleft'>Origen</th>
					<th class='taleft'>Fecha Auditor&iacute;a</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		<div class="centrar">
			<input class="btn buscador mybutton" value="Consultar Partidas"
				ng-click="consultarPartidasCasadas()"
				ng-if="isPermisoAccion(SecurityActions.CONSULTAR)" />
			<input type="button" class="btn buscador mybutton"
				value="Deseleccionar todos" ng-click="deseleccionarTodos()" />
		</div>
	</div>



	<div id="formularios" class="modal modalHistoricoPartidas">

		<div class="esquinar">
			<a data-dismiss="modal" id="cerrarTitular"> <img
				src="img/closeModal.png" title="Cerrar Ventana"
				style="cursor: pointer;" />
			</a>
		</div>

		<p class="titleAlta" id="titleTitulo">{{modalHistorico.titulo}}</p>


		<div class="panel panel-body" ng-show="mensajeAlert && !activeAlert"
			style="border: 1px solid silver; padding: 10px;">
			<div class="col-xs-1 col-sm-1 col-lg-1"
				style="vertical-align: middle;">
				<img alt="nueva_plantilla" ng-src="{{srcImage}}" height="26px">
			</div>
			<div class="col-xs-11 col-md-11 col-lg-11">
				<p style="margin: 3px;">{{mensajeAlert}}</p>
			</div>
		</div>

		<ul class="nav nav-tabs">
<!-- 			<div ng-show="mostrarPestana == 'SI'"> -->
			<li ng-class="{active : isActive('TLM')}"><a
				ng-click="activarPestana('TLM')" ><span
					style="color: #FF0000; font-size: 12px;">TLM</span></a></li>
<!-- 			</div>		 -->
			<li ng-class="{active : isActive('SIBBAC')}" ng-show="modalHistorico.showSIBBAC"><a
				ng-click="activarPestana('SIBBAC')"><span
					style="color: #FF0000; font-size: 12px;">SIBBAC</span></a></li>
		</ul>
		<div class="spacer15"></div>
		<div class="contenedorTabla" ng-show="pestana == 'TLM'">
			<table class="ancha" id="datosTLM">
				<thead>
					<tr>
						<th class="taleft">Referencia</th>
						<th class='taleft'>GIN</th>
						<th class='taleft'>Tipo de Movimiento</th>
						<th class='taleft'>Auxiliar Bancario</th>
						<th class='taleft'>Concepto Movimiento</th>
						<th class='taleft'>Importe</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>

		<div class="contenedorTabla" ng-show="pestana == 'SIBBAC'">
			<table class="ancha" id="datosSIBBAC">
				<thead>
					<tr>
						<th class="taleft">Orden</th>
						<th class='taleft'>Booking</th>
						<th class='taleft'>NuCnfclt</th>
						<th class='taleft'>NuCnfliq</th>
						<th class='taleft'>Sentido</th>
						<th class='taleft'>Importe</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
		</div>

		<div class="centrar"
			style="padding-top: 20px; border-top: 1px solid grey; margin-top: 20px;">
			<input type="button" tabindex="10" class="btn mybutton"
				value="Anterior" ng-click="anteriorPartidasCasadas()" id="anterior"
				class="btn mybutton" data-ng-disabled="checkAnterior()"/>
			<input type="button" tabindex="10" class="btn mybutton" id="exportarXLS"
				value="Exportar XLS" ng-click="exportarXLS()" class="btn mybutton" />
			<input type="button" tabindex="10" class="btn mybutton"
				value="Cerrar" data-dismiss="modal" id="cerrarModal"
				class="btn mybutton" />
			<input type="button" tabindex="10" class="btn mybutton"
				value="Siguiente" ng-click="posteriorPartidasCasadas()" id="posterior"
				class="btn mybutton" data-ng-disabled="checkSiguiente()"/>
		</div>
	</div>


	<div id="fade" class="overlay"></div>
	<div id="dialog-confirm"></div>
</article>

<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje"></div>