<article class="center">
  <div id="title_principal" class="title_section clearfix">
    <br />
    <div style="display: inline; float: left;">
      <p class="title">Descuadres Norma 43</p>
      <br /> <br />
    </div>
    <div style="float: right; display: inline;">
      <a class="collapser_search cursor">Ocultar formulario de b&uacute;squeda</a>
    </div>
  </div>
  <div class="buscador">
    <form id="busquedaNorma43Form">
      <fieldset>
      <!-- Filtros obligatorios -->
        <div class="panel panel-body"
          ng-show="activeAlert"
          style="border: 1px solid silver; padding: 10px;"
        >
          <div class="col-xs-11 col-md-11 col-lg-11">
            <p style="margin: 3px;">- Es obligatorio seleccionar al menos una cuenta u otro de los filtros</p>            
          </div>
        </div>
        <br />
        <div class="three-columns">
          <div>
            <label for="textFechaDesde" class="desresumen">Desde trade date:</label>
            <input type="text" id="textFechaDesde" class="anchoinp" placeholder="dd/mm/yyyy"
              pattern="\d{1,2}/\d{1,2}/\d{4}" readonly="readonly"/>
          </div>
          <div>
            <label for="importeDesde" class="desresumen">Importe Norma 43 Desde:</label>
             <input type="number" id="importeDesde" class="anchoinp" min="0" step="any"/>
          </div>
          <div>
            <label for="selectCuentas" class="desresumen">Cuentas:</label>
            <select id="selectCuentas"></select>            
          </div>
          <div>
            <label for="selectRefOrden"  class="desresumen">Ref. Operacion:</label>
            <select id="selectRefOrden"></select>
          </div>
        </div>
        <div class="three-columns">
          <div>
            <label for="textFechaHasta" class="desresumen">Hasta trade date:</label>
            <input type="text" id="textFechaHasta" class="anchoinp" placeholder="dd/mm/yyyy"
              pattern="\d{1,2}/\d{1,2}/\d{4}" readonly="readonly"
            />
          </div>
          <div>
            <label for="importeHasta" class="desresumen">Importe Norma 43 hasta:</label>
            <input type="number" id="importeHasta" class="anchoinp" min="0" step="any"/>
          </div>
          <div>
            <label for="selectSentido" class="desresumen">Sentido:</label>
            <select id="selectSentido"></select>
          </div>
        </div>
      </fieldset>
      <div class="centrar" style="clear: left;">
        <input class="btn mybutton" type="submit" value="Buscar" />
        <input class="mybutton" type="reset" id="limpiar" value="Limpiar formulario" />
      </div>
      <br />
    </form>
  </div>
  <div class="mensajeBusqueda"></div>
  <br />
  <div class="contenedorTablaDescuadresNorma43">
    <table id="tablaDescuadresNorma43" class="display">
      <thead>
        <tr>
          <th style="vertical-align: middle; text-align: center;">Cuenta</th>
          <th style="vertical-align: middle; text-align: center;">Referencia fecha</th>
          <th style="vertical-align: middle; text-align: center;">Referencia operación</th>
          <th style="vertical-align: middle; text-align: center;">Sentido</th>
          <th style="vertical-align: middle; text-align: center;">Fecha de contratación</th>
          <th style="vertical-align: middle; text-align: center;">Fecha de liquidación</th>
          <th style="vertical-align: middle; text-align: center;">Importe Norma 43</th>
          <th style="vertical-align: middle; text-align: center;">Importe pendiente de cobro</th>
          <th style="vertical-align: middle; text-align: center;">Tipo de operación</th>
          <th style="vertical-align: middle; text-align: center;">Estado de asignación</th>
          <th style="vertical-align: middle; text-align: center;">Estado contable</th>
          <th style="vertical-align: middle; text-align: center;">Estado entrega/recepción</th>
          <th style="vertical-align: middle; text-align: center;">Orden</th>
          <th style="vertical-align: middle; text-align: center;">Booking</th>
          <th style="vertical-align: middle; text-align: center;">Allocation</th>
          <th style="vertical-align: middle; text-align: center;">Desglose cliente</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</article>
