<article class="center">

	<div class="title_section clearfix">
		<div class="align-left">
			<p class="title">{{titulo}}</p>
		</div>

	</div>
	<div class="buscador">
		<form id="cargarTabla" class="wrapper-95">
			<fieldset>
				<div class="three-columns">
					<div>
						<label for="anio" class="desresumen">A&ntilde;o: </label> <input
							type="number" id="anio" class="anchoinp" ng-model="filtro.anio" />
					</div>
					<div>
						<label for="periodo" class="desresumen">Periodo: </label> <input
							type="number" id="periodo" class="anchoinp"
							ng-model="filtro.periodo" />
					</div>
				</div>
				<div class="three-columns">
					<div>
						<label for="fecha_inicio_periodo" class="desresumen">Fecha Inicio Desde: </label> 
						<input style="width: 200px;" type="text" id="fecha_inicio_desde" ng-model="filtro.fhIniDesde" class="anchoinp2" placeholder="dd/MM/yyyy" readonly="readonly" datepicker/>
					</div>
					<div>
						<label for="fecha_inicio_periodo" class="desresumen">Fecha Inicio Hasta: </label> 
						<input style="width: 200px;" type="text" id="fecha_inicio_hasta" ng-model="filtro.fhIniHasta" class="anchoinp2" placeholder="dd/MM/yyyy" readonly="readonly" datepicker/>
					</div>
				</div>
			</fieldset>
			<div class="centrar top-10">
				<input class="btn buscador mybutton" id="buscar" value="Consultar" ng-click="consultarPeriodos()" /> 
				<input class="btn buscador mybutton" id="limpiar" value="Limpiar Filtros" ng-click="resetFiltro()" />
			</div>
		</form>
	</div>
	<div class="contenedorTabla">
      <table id="datosPeriodos" class="fullTable ancha" cellspacing="0">
        <thead>
          <tr>
            <th class="taleft">A&ntilde;o</th>
            <th class="taleft">Periodo</th>
            <th class="taleft">Fecha Inicio</th>
            <th class="taleft">Fecha Fin</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="centrar">
        <input class="btn buscador mybutton" value="Crear Periodo" ng-click="crearPeriodo()"/> 
      </div>
    </div>
</article>
<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje"></div>