<article class="center">
	<div title-slide-filter showing="showingFilter">Asientos Contables</div>
	<div class="buscador">
		<form id="cargarTabla" class="wrapper-95"
			ng-submit="searchFacturas($event)">
			<fieldset>
				<div class="three-columns">
					<div>
						<label  class="desresumen" for="filtro_compania">Empresa Contraparte:</label>
	            		<input style="width: 200px;" type="text" id="aliasFiltro" ng-model="aliasFiltro" maxlength=25 auto-uppercase class="anchoinp2"/>
					</div>
				</div>
				<div class="three-columns">
					<div>
						<label for="filtro_fecha" class="desresumen">Fecha de Creaci&oacute;n:</label>
						<input type="text" datepicker placeholder="dd/mm/yyyy"
						ng-model="filtro.fecha" pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly" class="anchoinp2"/>
					</div>
				</div>
				<div class="three-columns">	
					<div>
						<label  class="desresumen" for="filtro_tipo_factura">Tipo de Factura:</label> 
			            <select id="tipoFactura" style="width: 200px;" ng-model="filtro.tipoFactura" ng-options="item.key as item.value for item in catalogos.listaTipoFactura" class="anchoinp2">
			            	<option value=""></option>
			            </select>
					</div>
				</div>
			</fieldset>
			<div class="centrar top-10">
				<input class="btn buscador mybutton" id="buscar" value="Consultar" ng-click="busqueda()" /> 
            	<input class="btn buscador mybutton" id="limpiar" value="Limpiar Filtros" ng-click="resetFiltro()"/>
			</div>
		</form>
	</div>
  	<br />
  	<div class="mensajeBusqueda" ng-show="!showingFilter">{{getFollowSearch()}}</div>
  
	<div class="contenedorTabla">
		<table id="datosAsientosContables" class="fullTable ancha" cellspacing="0">
			<thead>
				<tr>
					<th class="taleft">Selecci&oacute;n</th>
					<th class="taleft">Estado</th>
					<th class="taleft">Total Debe/Haber</th>
					<th class="taleft">Tipo Apunte</th>
					<th class="taleft">N&uacute;mero de Factura</th>
					<th class="taleft">Descripci&oacute;n Factura</th>
					<th class="taleft">Empresa Contraparte</th>
					<th class="taleft">Importe Impuestos</th>
					<th class="taleft">Fecha Factura</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	
	<div class="centrar">
		<input type="button" class="btn buscador mybutton" value="Consultar Asiento Contable" ng-click="abrirModalAsientoContable()" ng-if="isPermisoAccion(SecurityActions.CONSULTAR)"  /> 
	</div>

</article>
<!-- Modal para detalles asiento contable.  -->
<div id="formularioDetalleAsiento" name="formularioDetalleAsiento" class="modal modalVerDetallesAsiento" style="z-index:999999">
	<div class="esquinar">
		<a data-dismiss="modal" id="cerrarTitular"> <img
			src="img/closeModal.png" title="Cerrar Ventana"
			style="cursor: pointer;" />
		</a>
	</div>
	<p class="titleAlta" id="titleTitulo">{{modalAsientosContables.titulo}}</p>
	<br/>
	<div class="contenedorTabla">
		<div class="row">
			<div class="col-md-4 form-campo">
				<label for="cuenta_mayor" class="desresumen">Cuenta Mayor:</label> 
				<input ng-readonly="true"
					type="text" maxlength="20"
					ng-model="modalAsientosContables.detalles.cuentaMayor" auto-uppercase />
			</div>
			<div class="col-md-4 form-campo">
				<label for="descripcion" class="desresumen">Descripci&oacute;n:</label> 
				<input ng-readonly="true"
					type="text" maxlength="20"
					ng-model="modalAsientosContables.detalles.descripcion" auto-uppercase />
			</div>
			<div class="col-md-4 form-campo">
				<label for="importe" class="desresumen">Importe:</label> 
				<input ng-readonly="true"
					type="text" maxlength="20"
					ng-model="modalAsientosContables.detalles.importe"/>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 form-campo">
				<label for="tipo_movimiento" class="desresumen">Tipo de Movimiento:</label> 
				<input ng-readonly="true"
					type="text" maxlength="20"
					ng-model="modalAsientosContables.detalles.tipoMovimiento" auto-uppercase />
			</div>
			<div class="col-md-4 form-campo">
				<label for="factura" class="desresumen">Factura:</label> 
				<input ng-readonly="true"
					type="text" maxlength="20"
					ng-model="modalAsientosContables.detalles.factura" auto-uppercase />
			</div>
		</div>	
	</div>
	<br/>
	<div class="row centrar" style="padding-top: 10px; margin-top: 10px;">
		<input type="button" tabindex="10" class="btn mybutton" value="Cerrar" data-dismiss="modal" id="cerrarTitular" class="btn mybutton" />
	</div>
</div>

<script src="js/site.js" type="text/javascript"></script>
<!-- Template para escribir en la modal. -->
<div id="mensaje" class="dialogMensaje" style="z-index: 9999999 !important"></div>