<article class="center">
	<div title-slide-filter showing="showingFilter">Bajas Manuales</div>
	</div>
	<div class="buscador">
		<form id="cargarTabla" class="wrapper-95"
			ng-submit="searchFacturas($event)">
			<fieldset>
				<div class="three-columns">
					<div>
						<label for="filtro_nbdocnumero" class="desresumen">N&uacute;mero
							Factura:</label> <input type="text" id="filtro_nbdocnumero" maxlength="8"
							ng-model="filtro.nbDocNumero" auto-uppercase class="anchoinp2"/>
					</div>
					<div>
						<label for="filtro_alias" class="desresumen">Empresa Contraparte: </label> 
						<input type="text" id="filtro_alias" ng-model="aliasFiltro" class="anchoinp2" maxlength=25 auto-uppercase/>
					</div>
				</div>
				<div class="three-columns">
					<div>
						<label for="filtro_fecha_desde" class="desresumen">Fecha
							desde:</label> <input type="text" id="filtro_fecha_desde"
							placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}"
							title="dd/mm/yyyy" maxlength="10" readonly="readonly"
							ng-model="filtro.fechaDesde" datepicker class="anchoinp2"/>
					</div>
					<div>
						<label for="filtro_fecha_hasta" class="desresumen">Fecha
							hasta:</label> <input type="text" id="filtro_fecha_hasta"
							placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}"
							title="dd/mm/yyyy" maxlength="10" readonly="readonly"
							ng-model="filtro.fechaHasta" datepicker class="anchoinp2"/>
					</div>
				</div>
			</fieldset>
			<div class="centrar top-10">
				<input class="btn buscador mybutton" id="buscar" value="Consultar"
					ng-click="consultarFacturasContabilizadas()" /> <input
					class="btn buscador mybutton" id="limpiar" value="Limpiar Filtros"
					ng-click="resetFiltro()" />
			</div>
		</form>
	</div>
	<div class="contenedorTabla">
		<table class="ancha" id="datosFacturasManualesBajas"
			class="editinplace draggable sorttable" width="100%">
			<thead>
				<tr>
					<th class="taleft">Selecci&oacute;n</th>
					<th class='taleft'>N&uacute;mero factura</th>
					<th class='taleft'>Empresa Contraparte</th>
					<th class='taleft'>Fecha factura</th>
					<th class='taleft'>Fecha Contabilizado</th>
					<th class='tacenter'>Estado</th>
					<th class='taleft'>Base Imponible</th>
					<th class='taleft'>Importe Impuestos</th>
					<th class='taleft'>Importe Factura</th>
					<th class='taleft'>Coef. Imput. Costes</th>
					<th class='taleft'>Base Impon. Costes</th>
					<th class='taleft'>Cuota Repercutida</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		<div class="centrar">
			<input class="btn buscador mybutton" value="Anular" ng-click="anularFactura()" ng-if="isPermisoAccion(SecurityActions.CREAR)" />
			<input class="btn buscador mybutton" value="Detalle" ng-click="abrirConsultarFactura()"/> 
			<input class="btn buscador mybutton" value="Seleccionar Todos" ng-click="seleccionarTodos()" /> 
			<input class="btn buscador mybutton" value="Deseleccionar Todos" ng-click="deseleccionarTodos()" />
		</div>
	</div>



	<div id="formularios" class="modal modalFacturasManuales">

		<div class="esquinar">
			<a data-dismiss="modal" id="cerrarTitular"> <img
				src="img/closeModal.png" title="Cerrar Ventana"
				style="cursor: pointer;" />
			</a>
		</div>
		<p class="titleAlta" id="titleTitulo">{{modalFactura.titulo}}</p>
				<fieldset>

			<div class="row">

				<div class="col-md-2 form-campo">
					<label class="desresumen">Empresa Contraparte:</label> 
					<input type="text" id="factura_alias" ng-model="aliasFactura" class="anchoinp2" maxlength=25 auto-uppercase ng-class="{'autocomplete-required':!factura.idAlias && activeAlert}" ng-disabled="true"/>
				</div>

				<div class="col-md-2 form-campo">
					<label class="desresumen">Tipo Documento:</label> 
					<input type="text" ng-model="cliente.tpdocumento" ng-disabled="true" />
				</div>

				<div class="col-md-2 form-campo">
					<label class="desresumen">Nro Documento:</label>
					<input type="text" ng-model="cliente.numdocumento" ng-disabled="true"/>
				</div>
				
				<div class="col-md-2 form-campo">
					<label class="desresumen">Tipo Residencia:</label> 
					<input type="text" ng-model="cliente.tipoResidencia" ng-disabled="true"/>
				</div>

				<div class="col-md-2 form-campo">
					<label class="desresumen">Pais Residencia:</label> 
					<input type="text" ng-model="cliente.paisResidencia" ng-disabled="true"/>
				</div>

				<div class="col-md-2 form-campo">
					<label class="desresumen">Provincia:</label>
					<input type="text" ng-model="cliente.provincia" ng-disabled="true"/>
				</div>
			
			</div>
			<div class="centrar" style="padding-top: 10px; border-top: 1px solid grey; margin-top: 20px;"></div>
			<div class="row">

				<div class="col-md-2 form-campo">
					<label class="desresumen">Nro Factura:</label> 
					<input tabindex="1" type="text" ng-model="factura.nbDocNumero" ng-class="{'autocomplete-required':!factura.nbDocNumero && activeAlert}" ng-disabled="true"/>
				</div>
				
				<div class="col-md-2 form-campo">
					<label class="desresumen">Fecha de Creaci&oacute;n:</label> 
					<input type="text" id="filtro_fecha_hasta" ng-model="factura.fhFechaCre" ng-disabled="true"/>
				</div>
				
				<div class="col-md-2 form-campo">
					<label class="desresumen">Entrega Bien:</label> 
					<select ng-model="factura.idEntregaBien" ng-options="item.key as item.value for item in listEntregaBien" ng-class="{'autocomplete-required':!factura.idEntregaBien && activeAlert}" ng-disabled="true">
					</select>
				</div>
				
				<div class="col-md-2 form-campo">
					<label class="desresumen">Divisa:</label> 
					<select ng-model="factura.idMoneda" ng-options="item.key as item.value for item in listMonedas" ng-class="{'autocomplete-required':!factura.idMoneda && activeAlert}" ng-disabled="true"> 
						<option value=""></option>
					</select>
				</div>

				<div class="col-md-2 form-campo">
					<label class="desresumen">Importe en Divisa:</label> 
					<input type="number" ng-model="factura.imFinDiv"  ng-class="{'autocomplete-required':!factura.imFinDiv && activeAlert}" ng-disabled="true"/>
				</div>

				<div class="col-md-2 form-campo">
					<label class="desresumen">Importe Total en Eur:</label> 
					<input type="number" ng-model="factura.imFinSvb" ng-class="{'autocomplete-required':!factura.imFinSvb && activeAlert}" ng-disabled="true"/>
				</div>
				
			</div>
			<div class="row">
			
				<div class="col-md-2 form-campo">
					<label class="desresumen">Tipo de Factura:</label> 
					<select ng-model="factura.idTipoFactura" ng-options="item.key as item.value for item in listTiposFactura | orderBy: 'value'" ng-class="{'autocomplete-required':!factura.idTipoFactura && activeAlert}" ng-disabled="true">
					</select>
				</div>

				<div class="col-md-2 form-campo">
					<label class="desresumen">Causa Exenci&oacute;n:</label>
					<select ng-model="factura.idCausaExencion" ng-options="item.key as item.value for item in listCausasExencion | orderBy: 'value'" ng-class="{'autocomplete-required':!factura.idCausaExencion && activeAlert}" ng-disabled="true">
					</select>
				</div>

				<div class="col-md-2 form-campo">
					<label class="desresumen">Clave R&eacute;g. Especial:</label>
					<select ng-model="factura.idClaveRegimen" ng-options="item.key as item.value for item in listClaveRegimen | orderBy: 'value'" ng-class="{'autocomplete-required':!factura.idClaveRegimen && activeAlert}" ng-disabled="true">
					</select>
				</div>
				<div class="col-md-2 form-campo">
					<label class="desresumen" >Base Imponible:</label>
					<input type="number" ng-model="factura.impBaseImponible" ng-class="{'autocomplete-required':!factura.impBaseImponible && activeAlert}" ng-disabled="true"/>
				</div>
				
				<div class="col-md-2 form-campo">
					<label class="desresumen">C&oacute;digo Impuesto:</label> 
					<select ng-model="factura.idCodImpuesto" ng-options="item.key as item.value for item in listCodigosImpuestos | orderBy: 'value'" ng-class="{'autocomplete-required':!factura.idCodImpuesto && activeAlert}" ng-disabled="true">
					</select>
				</div>

				<div class="col-md-2 form-campo">
					<label class="desresumen">Cuota Impuesto:</label> 
					<input type="number" ng-model="factura.impImpuesto" ng-class="{'autocomplete-required':!factura.impImpuesto && activeAlert}"  ng-disabled="true"/>
				</div>
		    </div>
		    
		    <div class="row">
		    	<div class="col-md-2 form-campo">
					<label class="desresumen">T. Factura Sujeta:</label>
					<select ng-model="factura.idExenta" ng-options="item.key as item.value for item in listExentas | orderBy: 'value'" ng-class="{'autocomplete-required':!factura.idExenta && activeAlert}" ng-disabled="true">
					</select>
				</div>
				
				<div class="col-md-2 form-campo" ng-if="factura.idExenta==2">
					<label class="desresumen">T. Sujeta no Exenta:</label>
					<select ng-model="factura.idSujeta" ng-options="item.key as item.value for item in listSujetas | orderBy: 'value'"  ng-class="{'autocomplete-required':!factura.idSujeta && activeAlert}" ng-disabled="true">
					</select>
				</div>
				
				<div class="col-md-2 form-campo" ng-if="factura.idExenta==2">
					<label class="desresumen">Coe. Imput. Costes:</label>
					<input type="number" ng-model="factura.coefImpCostes" ng-class="{'autocomplete-required':!factura.coefImpCostes && activeAlert}" ng-disabled="true"/>
				</div>
				
				<div class="col-md-2 form-campo" ng-if="factura.idExenta==2">
					<label class="desresumen">Base Impon.Costes:</label> 
					<input type="number" ng-model="factura.baseImponCostes"  ng-class="{'autocomplete-required':!factura.baseImponCostes && activeAlert}" ng-disabled="true"/>
				</div>
				
				<div class="col-md-2 form-campo" ng-if="factura.idExenta==2">
					<label class="desresumen" for="filtro_perfil">Cuota Repercutida:</label> 
					<input type="number" ng-model="factura.cuotaRepercut"  ng-class="{'autocomplete-required':!factura.cuotaRepercut && activeAlert}" ng-disabled="true"/>
				</div>
			</div>
		    <div class="row">
				<div class="col-md-3 form-campo">
					<label class="desresumen" for="factura_comentarios">Comentarios:</label> 
					<textarea  rows="4"  style="width:341px;margin-left: 0%" id="factura_comentarios" maxlength=32768 ng-model="factura.nbComentarios" ng-disabled="true"/>
				</div>
			</div>
			<div class="centrar" style="padding-top: 20px; border-top: 1px solid grey; margin-top: 20px;">
			    <input type="button" tabindex="10" class="btn mybutton" value="Cerrar" data-dismiss="modal" id="cerrarModal" class="btn mybutton"/>
			</div>
		</fieldset>
	</div>


	<div id="fade" class="overlay"></div>
	<div id="dialog-confirm"></div>
</article>

<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje"></div>