<article class="center">
	<div title-slide-filter showing="showingFilter">Rectificativas Manuales</div>
	<div class="buscador">
		<form id="cargarTabla" class="wrapper-95"
			ng-submit="searchFacturas($event)">
			<fieldset>
				<div class="three-columns">
					<div>
						<label for="filtro_nbdocnumero" class="desresumen">N&uacute;mero
							Factura:</label> <input type="text" id="filtro_nbdocnumero" maxlength="8"
							ng-model="filtro.nbDocNumero" auto-uppercase class="anchoinp2"/>
					</div>
					<div>
						<label for="filtro_alias" class="desresumen">Empresa Contraparte: </label> 
						<input type="text" id="filtro_alias" ng-model="aliasFiltro" class="anchoinp2" maxlength=25 auto-uppercase/>
					</div>
				</div>
				<div class="three-columns">
					<div>
						<label for="filtro_fecha_desde" class="desresumen">Fecha
							desde:</label> <input type="text" id="filtro_fecha_desde"
							placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}"
							title="dd/mm/yyyy" maxlength="10" readonly="readonly"
							ng-model="filtro.fechaDesde" datepicker class="anchoinp2"/>
					</div>
					<div>
						<label for="filtro_fecha_hasta" class="desresumen">Fecha
							hasta:</label> <input type="text" id="filtro_fecha_hasta"
							placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}"
							title="dd/mm/yyyy" maxlength="10" readonly="readonly"
							ng-model="filtro.fechaHasta" datepicker class="anchoinp2"/>
					</div>
				</div>
				<div class="three-columns">
					<div>
						<label for="filtro_estado" class="desresumen">Estado: </label> <select
							id="filtro_estado" class="anchoinp2" ng-model="filtro.idEstado" ng-options="item.key as item.value for item in listEstados">
							<option value=""></option>
						</select>
					</div>
				</div>
			</fieldset>
			<div class="centrar top-10">
				<input class="btn buscador mybutton" id="buscar" value="Consultar"
					ng-click="consultarRectificativasManuales()" /> <input
					class="btn buscador mybutton" id="limpiar" value="Limpiar Filtros"
					ng-click="resetFiltro()" />
			</div>
		</form>
	</div>
	<div class="contenedorTabla">
		<table class="ancha" id="datosRectificativasManuales"
			class="editinplace draggable sorttable" width="100%">
			<thead>
				<tr>
					<th class="taleft">Selecci&oacute;n</th>
					<th class='taleft'>N&uacute;mero factura</th>
					<th class='taleft'>Empresa Contraparte</th>
					<th class='taleft'>Fecha factura</th>
					<th class='taleft'>Fecha Contabilizado</th>
					<th class='tacenter'>Estado</th>
					<th class='taleft'>Base Imponible</th>
					<th class='taleft'>Importe Impuestos</th>
					<th class='taleft'>Importe Factura</th>
					<th class='taleft'>Coef. Imput. Costes</th>
					<th class='taleft'>Base Impon. Costes</th>
					<th class='taleft'>Cuota Repercutida</th>
				</tr>
			</thead>
			<tbody></tbody>
		</table>
		<div class="centrar">
			<input class="btn buscador mybutton" value="Crear"
				ng-click="abrirCrearRectificativaManual()"
				ng-if="isPermisoAccion(SecurityActions.CREAR)" /> <input
				class="btn buscador mybutton" value="Modificar"
				ng-click="abrirModificarRectificativasManuales()"
				ng-if="isPermisoAccion(SecurityActions.MODIFICAR)" /> <input
				class="btn buscador mybutton" value="Detalle"
				ng-click="abrirConsultarRectificativasManuales()"/> <input
				class="btn buscador mybutton" value="Borrar"
				ng-click="borrarRectificativasManuales()"
				ng-if="isPermisoAccion(SecurityActions.BORRAR)" /><input 
				class="btn buscador mybutton" value="Anular" 
				ng-click="anularRectificativasManuales()" 
				ng-if="isPermisoAccion(SecurityActions.CREAR)" /> <input
				class="btn buscador mybutton" value="Seleccionar Todos"
				ng-click="seleccionarTodos()" /> <input
				class="btn buscador mybutton" value="Deseleccionar Todos"
				ng-click="deseleccionarTodos()" /> <input
				class="btn buscador mybutton" value="Generar Factura"
				ng-click="exportarPdf()" />
		</div>
	</div>



	<div id="formularios" class="modal modalFacturasManuales">

		<div class="esquinar">
			<a data-dismiss="modal" id="cerrarTitular"> <img
				src="img/closeModal.png" title="Cerrar Ventana"
				style="cursor: pointer;" />
			</a>
		</div>
		<p class="titleAlta" id="titleTitulo">{{modalFactura.titulo}}</p>

		<div class="panel panel-body"
			ng-show="activeAlert && (!factura.nbDocNumero || !factura.idAlias || !factura.idMoneda
	                || !factura.idTipoFactura ||  (factura.idExenta==1 && !factura.idCausaExencion ) || !factura.idClaveRegimen
	                || !factura.idCodImpuesto || (!factura.impImpuesto && factura.impImpuesto!=0 && factura.idClaveRegimen!=6)
	                || (!factura.impBaseImponible && !factura.impBaseImponible!=0) || !factura.idEntregaBien || (!factura.imFinSvb && !factura.imFinSvb!=0)
	                || (!factura.imFinDiv && factura.imFinDiv!=0) || (factura.idExenta==2 && !factura.cuotaRepercut!=0 && factura.idClaveRegimen == 6) || (factura.idExenta==2 && !factura.coefImpCostes!=0 && factura.idClaveRegimen == 6) || (factura.idExenta==2 && !factura.baseImponCostes!=0 && factura.idClaveRegimen == 6)
	                || (!factura.idSujeta && factura.idExenta==2) || factura.listaFacturasRectificadas.length==0 || (factura.idClaveRegimen==6 && factura.idSujeta!=2) || (factura.idClaveRegimen==6 && factura.idExenta!=2) || !factura.nbComentarios )"
			style="border: 1px solid silver; padding: 10px;">
			<div class="row">
				<div class="col-xs-1 col-sm-1 col-lg-1"
					style="vertical-align: middle;">
					<img alt="nueva_plantilla" src="images/warning.png" height="26px">
				</div>
				<div class="col-xs-3 col-md-3 col-lg-3" ng-show="activeAlert && (!factura.nbDocNumero || !factura.idAlias 
	                || !factura.idTipoFactura || !factura.idEntregaBien || (!factura.impImpuesto && factura.impImpuesto!=0) || !factura.idMoneda || (factura.idClaveRegimen==6 && factura.idSujeta!=2))">
					<p style="margin: 3px;" ng-if="!factura.idAlias && activeAlert">- Debe seleccionar una Empresa existente</p>
					<p style="margin: 3px;" ng-if="!factura.impImpuesto && factura.impImpuesto!=0 && factura.idClaveRegimen != 6 && activeAlert">- El campo Cuota Impuesto es obligatorio</p>
					<p style="margin: 3px;" ng-if="!factura.idTipoFactura  && activeAlert">- El campo Tipo Factura es obligatorio</p>
					<p style="margin: 3px;" ng-if="!factura.idEntregaBien && activeAlert">- El campo Entrega Bien es obligatorio</p>
					<p style="margin: 3px;" ng-if="!factura.nbDocNumero && activeAlert">- El campo Nro. de Factura es obligatorio</p>
					<p style="margin: 3px;" ng-if="!factura.idMoneda && activeAlert">- El campo Divisa es obligatorio</p>
					<p style="margin: 3px;" ng-if="factura.idClaveRegimen==6 && factura.idSujeta!=2 && activeAlert">- Para clave r&eacute;gimen Grupo IVA T. Sujeta no Exenta debe ser SUJETA - NO EXENTA - INV.SUJ.PASIVO</p>
				</div>
				<div class="col-xs-4 col-md-5 col-lg-4" ng-show="activeAlert && ( !factura.idClaveRegimen  || factura.listaFacturasRectificadas.length<1
	                 || (!factura.impBaseImponible && factura.impBaseImponible!=0) || (!factura.imFinSvb && !factura.imFinSvb!=0) || !factura.idExenta   || (factura.idClaveRegimen==6 && factura.idExenta!=2))">
					<p style="margin: 3px;" ng-if="!factura.impBaseImponible && !factura.impBaseImponible!=0 && activeAlert">- El campo Base Imponible es obligatorio</p>
					<p style="margin: 3px;" ng-if="!factura.imFinSvb && !factura.imFinSvb!=0 && activeAlert">- El campo Importe Factura es obligatorio</p>
					<p style="margin: 3px;" ng-if="!factura.idClaveRegimen && activeAlert">- El campo Clave R&eacute;gimen es obligatorio</p>
					<p style="margin: 3px;" ng-if="!factura.idExenta && activeAlert">- El campo T. Factura Sujeta es obligatorio</p>
					<p style="margin: 3px;" ng-if="factura.idExenta==2 && !factura.idSujeta && activeAlert">- El campo T. Sujeta no Exenta es obligatorio</p>
					<p style="margin: 3px;" ng-if="factura.listaFacturasRectificadas.length==0 && activeAlert">- Seleccione al menos una factura a rectificar</p>
					<p style="margin: 3px;" ng-if="factura.idClaveRegimen==6 && factura.idExenta!=2 && activeAlert">- Para clave r&eacute;gimen Grupo IVA T. Factura Sujeta debe ser NO EXENTA</p>
				</div>
				<div class="col-xs-4 col-md-4 col-lg-4" ng-show="activeAlert && ((!factura.idCausaExencion && factura.idExenta==1)  || !factura.idCodImpuesto 
					|| (!factura.coefImpCostes && !factura.coefImpCostes!=0 && factura.idExenta==2) || (!factura.baseImponCostes && !factura.baseImponCostes!=0 && factura.idExenta==2)
	                || (!factura.imFinDiv && factura.imFinDiv!=0) || (!factura.cuotaRepercut && !factura.cuotaRepercut!=0 && factura.idExenta==2) || (!factura.baseImponibleAnterior!=0 && factura.idClaveRegimen == 6) || 
	                (!factura.baseImponibleActual!=0 && factura.idClaveRegimen == 6))">
	                <p style="margin: 3px;" ng-if="!factura.idCodImpuesto  && activeAlert">- El campo Codigo Impuesto es obligatorio</p>
	                <p style="margin: 3px;" ng-if="!factura.nbComentarios  && activeAlert">- El campo Comentarios es obligatorio</p>
					<p style="margin: 3px;" ng-if="!factura.idCausaExencion && factura.idExenta==1 && activeAlert">- El campo Causa Exenci&oacute;n es obligatorio</p>
					<p style="margin: 3px;" ng-if="!factura.imFinDiv && factura.imFinDiv!=0 && activeAlert">- El campo Importe Divisa es obligatorio</p>
					<p style="margin: 3px;" ng-if="factura.idExenta==2 && !factura.cuotaRepercut!=0 && factura.idClaveRegimen == 6 && activeAlert">- El campo Cuota Repercutida es obligatorio</p>
					<p style="margin: 3px;" ng-if="factura.idExenta==2 && !factura.coefImpCostes!=0 && factura.idClaveRegimen == 6 && activeAlert">- El campo Coe. Imput. Costes es obligatorio</p>
					<p style="margin: 3px;" ng-if="factura.idExenta==2 && !factura.baseImponCostes!=0 && factura.idClaveRegimen == 6 && activeAlert">- El campo Base Impon. Costes es obligatorio</p>
					<p style="margin: 3px;" ng-if="!factura.baseImponibleAnterior!=0 && factura.idClaveRegimen == 6 && activeAlert">- El campo Base Impon. Anterior es obligatorio</p>
					<p style="margin: 3px;" ng-if="!factura.baseImponibleActual!=0 && factura.idClaveRegimen == 6 && activeAlert">- El campo Base Impon. Actual es obligatorio</p>
				</div>
			</div>
		</div>

		<div class="panel panel-body" ng-show="mensajeAlert && !activeAlert"
			style="border: 1px solid silver; padding: 10px;">
			<div class="col-xs-1 col-sm-1 col-lg-1"
				style="vertical-align: middle;">
				<img alt="nueva_plantilla" ng-src="{{srcImage}}" height="26px">
			</div>
			<div class="col-xs-11 col-md-11 col-lg-11">
				<p style="margin: 3px;">{{mensajeAlert}}</p>
			</div>
		</div>
		<fieldset>
			<div class="row">

				<div class="col-md-2 form-campo">
					<label class="desresumen">Empresa Contraparte:</label> 
					<input type="text" id="factura_alias" ng-model="aliasFactura" ng-keypress="eliminarIdAlias()" class="anchoinp2" maxlength=25 auto-uppercase ng-class="{'autocomplete-required':!factura.idAlias && activeAlert}" ng-disabled="modalFactura.showConsultar"/>
				</div>

				<div class="col-md-2 form-campo">
					<label class="desresumen">Tipo Documento:</label> 
					<input type="text" ng-model="cliente.tpdocumento" ng-disabled="true" />
				</div>

				<div class="col-md-2 form-campo">
					<label class="desresumen">Nro Documento:</label>
					<input type="text" ng-model="cliente.numdocumento" ng-disabled="true"/>
				</div>
				
				<div class="col-md-2 form-campo">
					<label class="desresumen">Tipo Residencia:</label> 
					<input type="text" ng-model="cliente.tipoResidencia" ng-disabled="true"/>
				</div>

				<div class="col-md-2 form-campo">
					<label class="desresumen">Pais Residencia:</label> 
					<input type="text" ng-model="cliente.paisResidencia" ng-disabled="true"/>
				</div>

				<div class="col-md-2 form-campo">
					<label class="desresumen">Provincia:</label>
					<input type="text" ng-model="cliente.provincia" ng-disabled="true"/>
				</div>
			
			</div>
			<div class="centrar" style="padding-top: 10px; border-top: 1px solid grey; margin-top: 20px;"></div>
			<div class="row">

				<div class="col-md-2 form-campo">
					<label class="desresumen">Nro Factura:</label> 
					<input tabindex="1" type="text" ng-model="factura.nbDocNumero" ng-class="{'autocomplete-required':!factura.nbDocNumero && activeAlert}" ng-disabled="true"/>
				</div>
				
				<div class="col-md-2 form-campo">
					<label class="desresumen">Fecha de Creaci&oacute;n:</label> 
					<input type="text" id="filtro_fecha_hasta" ng-model="factura.fhFechaCre" ng-disabled="true"/>
				</div>
				
				<div class="col-md-2 form-campo">
					<label class="desresumen">Entrega Bien:</label> 
					<select ng-model="factura.idEntregaBien" ng-options="item.key as item.value for item in listEntregaBien" ng-class="{'autocomplete-required':!factura.idEntregaBien && activeAlert}" ng-disabled="modalFactura.showConsultar">
					</select>
				</div>
				
				<div class="col-md-2 form-campo">
					<label class="desresumen">Divisa:</label> 
					<select ng-model="factura.idMoneda" ng-options="item.key as item.value for item in listMonedas" ng-class="{'autocomplete-required':!factura.idMoneda && activeAlert}" ng-disabled="modalFactura.showConsultar"> 
					</select>
				</div>

				<div class="col-md-2 form-campo">
					<label class="desresumen">Importe en Divisa:</label> 
					<input type="number" ng-model="factura.imFinDiv" maxlength=18 ng-class="{'autocomplete-required':!factura.imFinDiv && factura.imFinDiv!=0 && activeAlert}" ng-disabled="modalFactura.showConsultar"/>
				</div>

				<div class="col-md-2 form-campo">
					<label class="desresumen">Importe Total en Eur:</label> 
					<input type="number" ng-model="factura.imFinSvb" maxlength=18 ng-class="{'autocomplete-required':!factura.imFinSvb && !factura.imFinSvb!=0 && activeAlert}" ng-disabled="modalFactura.showConsultar"/>
				</div>
				
			</div>
			<div class="row">
			
				<div class="col-md-2 form-campo">
					<label class="desresumen">Tipo de Factura:</label> 
					<select ng-model="factura.idTipoFactura" ng-options="item.key as item.value for item in listTiposFactura | orderBy: 'value'" ng-class="{'autocomplete-required':!factura.idTipoFactura && activeAlert}" ng-disabled="modalFactura.showConsultar">
					</select>
				</div>

				<div class="col-md-2 form-campo" ng-if="factura.idExenta!=2">
					<label class="desresumen">Causa Exenci&oacute;n:</label>
					<select ng-model="factura.idCausaExencion" ng-options="item.key as item.value for item in listCausasExencion | orderBy: 'value'" ng-class="{'autocomplete-required':!factura.idCausaExencion && factura.idExenta==1 && activeAlert}" ng-disabled="modalFactura.showConsultar">
                      <option value=""></option>  
					</select>
				</div>

				<div class="col-md-2 form-campo">
					<label class="desresumen">Clave R&eacute;g. Especial:</label>
					<select ng-model="factura.idClaveRegimen" ng-options="item.key as item.value for item in listClaveRegimen | orderBy: 'value'" ng-class="{'autocomplete-required':!factura.idClaveRegimen && activeAlert}" ng-disabled="modalFactura.showConsultar" ng-change="obtenerNumeroFacturaGrupoIva()"/>
					</select>
				</div>
				<div class="col-md-2 form-campo">
					<label class="desresumen" >Base Imponible:</label>
					<input type="number" ng-model="factura.impBaseImponible" maxlength=18 ng-class="{'autocomplete-required':!factura.impBaseImponible && !factura.impBaseImponible!=0  && activeAlert}" ng-disabled="modalFactura.showConsultar"/>
				</div>
				
				<div class="col-md-2 form-campo">
					<label class="desresumen">C&oacute;digo Impuesto:</label> 
					<select ng-model="factura.idCodImpuesto" ng-options="item.key as item.value for item in listCodigosImpuestos | orderBy: 'value'" ng-class="{'autocomplete-required':!factura.idCodImpuesto && activeAlert}" ng-disabled="modalFactura.showConsultar">
					</select>
				</div>

				<div class="col-md-2 form-campo" ng-if="factura.idClaveRegimen!=6">
					<label class="desresumen">Cuota Impuesto:</label> 
					<input type="number" ng-model="factura.impImpuesto" maxlength=18 ng-class="{'autocomplete-required':!factura.impImpuesto  && factura.impImpuesto!=0  && activeAlert}" ng-disabled="modalFactura.showConsultar || factura.idExenta!=2"/>
				</div>
				<div class="col-md-2 form-campo" ng-if="factura.idClaveRegimen==6 && factura.idExenta==2">
					<label class="desresumen" >Base Imponible Anterior:</label>
					<input type="number" ng-model="factura.baseImponibleAnterior" maxlength=18 ng-disabled="true" ng-class="{'autocomplete-required':!factura.baseImponibleAnterior!=0 && activeAlert}"/>
				</div>
				<div class="col-md-2 form-campo" ng-if="factura.idClaveRegimen==6 && factura.idExenta==2">
					<label class="desresumen" >Base Imponible Actual:</label>
					<input type="number" ng-model="factura.baseImponibleActual" maxlength=18 ng-disabled="modalFactura.showConsultar" ng-class="{'autocomplete-required':!factura.baseImponibleActual!=0 && activeAlert}"/>
				</div>
		    </div>
		    
		    <div class="row">
		    	<div class="col-md-2 form-campo">
					<label class="desresumen">T. Factura Sujeta:</label>
					<select ng-model="factura.idExenta" ng-options="item.key as item.value for item in listExentas | orderBy: 'value'" 
					ng-disabled="modalFactura.showConsultar" ng-class="{'autocomplete-required':!factura.idExenta && activeAlert}" ng-change="vaciarCamposNoExenta();">
					</select>
				</div>
				
				<div class="col-md-2 form-campo" ng-if="factura.idExenta==2">
					<label class="desresumen">T. Sujeta no Exenta:</label>
					<select ng-model="factura.idSujeta" ng-options="item.key as item.value for item in listSujetas | orderBy: 'value'" ng-disabled="modalFactura.showConsultar" ng-class="{'autocomplete-required':!factura.idSujeta && activeAlert}">
					</select>
				</div>
				
				<div class="col-md-2 form-campo" ng-if="factura.idExenta==2">
					<label class="desresumen">Coe. Imput. Costes:</label>
					<input type="number" ng-model="factura.coefImpCostes" maxlength=10 ng-disabled="modalFactura.showConsultar" ng-class="{'autocomplete-required':factura.idExenta==2 && !factura.coefImpCostes && !factura.coefImpCostes!=0 && factura.idClaveRegimen == 6 && activeAlert}"/>
				</div>
				
				<div class="col-md-2 form-campo" ng-if="factura.idExenta==2">
					<label class="desresumen">Base Impon.Costes:</label> 
					<input type="number" ng-model="factura.baseImponCostes" maxlength=18 ng-disabled="modalFactura.showConsultar" ng-class="{'autocomplete-required':factura.idExenta==2 && !factura.baseImponCostes && !factura.baseImponCostes!=0 && factura.idClaveRegimen == 6 && activeAlert}"/>
				</div>
				
				<div class="col-md-2 form-campo" ng-if="factura.idExenta==2">
					<label class="desresumen" for="filtro_perfil">Cuota Repercutida:</label> 
					<input type="number" ng-model="factura.cuotaRepercut" ng-disabled="modalFactura.showConsultar" maxlength=18 ng-class="{'autocomplete-required':factura.idExenta==2 && !factura.cuotaRepercut && !factura.cuotaRepercut!=0 && factura.idClaveRegimen == 6 && activeAlert}"/>
				</div>
			</div>
		    <div class="row">
				<div class="col-md-4 form-campo">
					<label class="desresumen" for="factura_comentarios">Comentarios:</label> 
					<textarea  rows="5"  style="width:368px;margin-left: 0%" id="factura_comentarios" maxlength=1000 ng-model="factura.nbComentarios" ng-disabled="modalFactura.showConsultar" ng-class="{'autocomplete-required':!factura.nbComentarios && activeAlert}" ng-keypress="evitarCaracter($event)"/>
				</div>
				<div class="col-md-4 form-campo">
					<label class="desresumen" for="factura_comentarios">Facturas a Rectificar:</label> 
					<input style="width: 300px;" type="text" id="facturas_rectificadas" ng-model="factura.facturaRectificadaInput" class="anchoinp2" maxlength=25 auto-uppercase ng-disabled="modalFactura.showConsultar"/>
		            <select size="10" style="width:300px; height: 60px;" ng-model="factura.facturaRectificadaSelect" ng-options="item.key as item.value for item in factura.listaFacturasRectificadas" ng-class="{'autocomplete-required':factura.listaFacturasRectificadas==0 && activeAlert}" ng-disabled="modalFactura.showConsultar">
		            	<option value="" ng-if="false"></option>
		            </select>
		            <div style="style="width: 159px; align:center; margin-top: 2px;" class="anchoinp">
		           		 <button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla()" ng-disabled="modalFactura.showConsultar">
		              		<span class="negrita">-</span>
		           		 </button>
		           		 <button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla()" ng-disabled="modalFactura.showConsultar">
		              		<span>Vaciar</span>
		           		 </button>
		            </div>
		        </div>
			</div>
			
			<div class="centrar" style="padding-top: 20px; border-top: 1px solid grey; margin-top: 20px;">
			  	<input type="button" tabindex="9" class="btn mybutton" id="crearModal" value="Crear" ng-click="crearRectificativaManual()" ng-show="modalFactura.showCrear && !modalFactura.showModificar && !modalFactura.showConsultar" />
			    <input type="button" tabindex="10" class="btn mybutton" id="modificarModal" value="Modificar" ng-click="modificarRectificativaManual()" ng-show="!modalFactura.showCrear && !modalFactura.showConsultar && modalFactura.showModificar"/>
			    <input type="button" tabindex="10" class="btn mybutton" id="contabilizarModal" value="Contabilizar" ng-click="contabilizar('consultar')" ng-show="!modalFactura.showCrear && facturasManualesSeleccionadas[0].esModificable && !modalFactura.showModificar"/>
			    <input type="button" tabindex="10" class="btn mybutton" id="contabilizarModal" value="Contabilizar" ng-click="contabilizar('crear')" ng-show="modalFactura.showCrear && !modalFactura.showConsultar && !modalFactura.showModificar"/>
			    <input type="button" tabindex="10" class="btn mybutton" id="contabilizarModal" value="Contabilizar" ng-click="contabilizar('modificar')" ng-show="!modalFactura.showCrear && !modalFactura.showConsultar && modalFactura.showModificar"/>
			    <input type="button" tabindex="10" class="btn mybutton" value="Cancelar" data-dismiss="modal" id="cerrarModal" class="btn mybutton"/>
			</div>
		</fieldset>
	</div>


	<div id="fade" class="overlay"></div>
	<div id="dialog-confirm"></div>
</article>

<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje"></div>
