<!-- DIV de cobros -->
<div id="core" class="">  

    <article class="center">  
        <form id="f1">
            <div class="title_section clearfix">
                <p class="title">Movimiento Fallidos</p>
                <a class="btn collapser_search active">Ocultar opciones de b&uacute;squeda</a>
            </div>

            <div class="buscador">
                <form id="cargarTabla" action="#">
                    <fieldset>

                        <div>
                            <label for="textAlias" class="desresumen">Introduzca un alias: </label>
                            <input type="text" id="textAlias" class="anchoinp">
                        </div>	


                        <div>
                            <label for="textIsin" class="desresumen">Isin : </label>
                            <input type="text" id="textIsin" class="anchoinp">
                        </div>

                    </fieldset>	
                    <div class="centrar">						  
                        <input class="btn buscador mybutton" type="submit"  id="buscar" value="Consultar" onclick="" />
                        <input class="mybutton" type="reset"  id="limpiar" value="Limpiar Filtros" />
                    </div>
                </form>
            </div>
            <!-- <a href="#" class="button" id="getdata-button">Get JSON Data</a>
            <div id="showdata">pacopepe</div> -->
            <div id="showdata"></div>


            <div class="mensajeBusqueda"></div> 
            <div  class="resultados">						
                <div class="contenedorTabla"> 							
                    <table id="tblMovimientosFallidos" width="100%">
                        <thead>
                            <tr>
                                <th >Alias</th> 
                                <th>Isin</th> 
                                <th >Descripci&oacute;n</th> 
                                <th>saldoAfectado</th> 
                                <th >Camara</th>  
                                <th>Segmento</th> 
                                <th>Sentido</th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>	
                </div>
            </div>

            <!-- <div  class="resultados1">						
                    <div class="contenedorTabla2"> 							
                            <table class="tablaPrueba2 ancha">
                                    <tr>
                                            <th class="taleft">Alias</th> 
                                            <th class="taleft">Isin</th> 
                                            <th class="taleft">Descripci&oacute;n</th> 
                                            <th class="taleft">Holder</th>
                                            <th class="taleft">saldoAfectado</th> 
                                            <th class="taleft">Valor</th>  
                                            <th class="taleft">Camara</th>  
                                            <th class="taleft">Segmento</th> 
                                            <th class="taleft">Sentido</th>
                                            <th class="taleft">Tipo</th> 
                                            <th class="taleft">Fecha</th>
                                    </tr>
                            </table>	
                    </div>
            </div> -->
        </form>
    </article>
</div> 	


