<script>
    document.title = "Alta Operación Fallido"
	$('#tituloHeader').empty();
	$('#tituloHeader').append("Alta Operaci&oacute;n Fallido");
</script>

<script src="js/autocompletar.js" type="text/javascript"></script>
<!-- DIV de cobros -->
<div id="core" class="">  

    <article class="center">  
        <form id="f1">
            <div class="title_section clearfix">
                <p class="title">Alta Operaci&oacute;n Fallido</p>
            </div>
           
           <div class="buscador">
						
						<form id="cargarTabla" action="#">
						  <fieldset>
								
								<div>
								  <label for="textAlias" class="desresumen">Introduzca un alias: </label>
								  <input type="text" id="textAlias" class="anchoalias">
								</div>	
								<div>
									 <label for="textIsin" class="desresumen">Isin : </label>
								     <input type="text" id="textIsin" class="anchoinp">
								</div>
								<div>
									<label for="textNumTit" class="desresumen">N&uacute;mero de T&iacute;tulos : </label>
									<input type="text" id="textNumTit" class="anchoinp"/>
								</div>
								<div>
									<label for="textFecha" class="desresumen">Fecha : </label>
									<input type="text" id="textFecha" class="anchoinp"/>
								</div>								
								<div>
									 <label for="textCamara" class="desresumen">C&aacute;mara : </label>
								     <input type="text" id="textCamara" class="anchoinp">
								</div>
								<div>
									<label for="textSentido" class="desresumen">Sentido : </label>
									<input type="text" id="textSentido" class="anchoinp" disabled value="Venta" />
								</div>	
								<div>
									<label for="textNuOperacion" class="desresumen">N&uacute;mero de Operaci&oacute;n : </label>
									<input type="text" id="textNuOperacion" class="anchoinp" maxlength="16" />
								</div>								
								<!-- <div>
									<label for="textTipo" class="desresumen">Tipo de Fallido : </label>
									<input type="text" id="textTipo" class="anchoinp" disabled value="AFA "/>
								</div>	 -->						
					      </fieldset>	
							<div class="centrar">						  
							<input class="btn buscador mybutton" type="submit"  id="anadir" value="Alta" onclick="" />
							</div>
						</form>
					</div>
					<div id="showdata"></div>
				
				
				<div class="mensajeBusqueda"></div> 

        </form>
    </article>
</div>


<script src="js/datepicker2.js" type="text/javascript"></script>	
<script src="views/fallidos/js/fallidosMovimientoAlta.js" type="text/javascript"></script>


