<article class="center">
    <div id="title_principal" class="title_section clearfix">
        <br />
        <div style="display: inline; float: left;">
            <p class="title">Operaciones fallidas</p>
            <br />
            <br />
        </div>
        <div style="float: right; display: inline;" ng-show="isPermisoAccion(SecurityActions.CREAR)">
            <a class="collapser_search btn">Ocultar formulario de alta</a>
        </div>
    </div>
    <div class="buscador">
        <form id="altaOperacionFallidaForm" ng-show="isPermisoAccion(SecurityActions.CREAR)">
            <div class="centrar title_section title" style="clear: left;">
                <br />
                <p class="title">Alta de operaci&oacute;n fallida</p>
            </div>
            <fieldset>
                <br />
                <div class="three-columns">
                    <div>
                        <label for="textAlias" class="desresumen">Alias:</label>
                        <input type="text" id="textAlias" class="anchoinp" required="required" />
                    </div>
                    <div>
                        <label for="textFechaEje" class="desresumen">Fecha de ejecuci&oacute;n:</label>
                        <input type="text" id="textFechaEje" class="anchoinp" placeholder="dd/mm/yyyy"
                               pattern="\d{1,2}/\d{1,2}/\d{4}" required="required"
                               />
                    </div>
                    <div>
                        <label for="textNumTit" class="desresumen">N&uacute;mero de t&iacute;tulos fallidos:</label>
                        <input type="text" id="textNumTit" required="required" class="anchoinp" placeholder="0" pattern="\d*" />
                    </div>
                    <div>
                        <label for="selectCuentaLiquidacion" class="desresumen">Cuenta de liquidaci&oacute;n:</label>
                        <select id="selectCuentaLiquidacion" required="required" ></select>
                    </div>
                </div>
                <div class="three-columns">
                    <div>
                        <label for="textIsin" class="desresumen">Isin:</label>
                        <input type="text" id="textIsin" class="anchoinp" required="required" />
                    </div>
                    <div>
                        <label for="textFechaLiq" class="desresumen">Fecha de liquidaci&oacute;n:</label>
                        <input type="text" id="textFechaLiq" class="anchoinp" placeholder="dd/mm/yyyy"
                               pattern="\d{1,2}/\d{1,2}/\d{4}" required="required"
                               />
                    </div>
                    <div>
                        <label for="textImporteEfectivoFallido" class="desresumen">Importe efectivo fallido:</label>
                        <input type="text" id="textImporteEfectivoFallido" class="anchoinp" placeholder="0,00"
                               pattern="\d{1,18}\b,?\d{0,4}?" required="required"
                               />
                    </div>
                </div>
                <div class="three-columns">
                    <div>
                        <label for="textNumOpEcc" class="desresumen">N&uacute;mero de IL ECC:</label>
                        <input type="text" id="textNumOpEcc" class="anchoinp" maxlength="16" placeholder="15080101234563SO"
                               required="required"
                               />
                    </div>
                    <div>
                        <label for="textCamara" class="desresumen">C&aacute;mara:</label>
                        <input type="text" id="textCamara" class="anchoinp" required="required" />
                    </div>
                    <div>
                        <label for="textCorretaje" class="desresumen">Corretaje:</label>
                        <input type="text" required="required" id="textCorretaje" class="anchoinp" placeholder="0,00"
                               pattern="\d{1,18}\b,?\d{0,8}?"
                               />
                    </div>
                </div>
            </fieldset>
            <div class="centrar" style="clear: left;">
                <input class="btn mybutton" type="submit" value="Guardar" />
                <input class="mybutton" type="reset" id="limpiar" value="Limpiar formulario" />
            </div>
            <br/>
        </form>
    </div>
    <br />
    <div class="contenedorTablaOperacionesFallidas">
        <table id="tablaOperacionesFallidas" class="display">
            <thead>
                <tr>
                    <th style="vertical-align: middle; text-align: center;">Opciones</th>
                    <th style="vertical-align: middle; text-align: center;">Fecha de ejecuci&oacute;n</th>
                    <th style="vertical-align: middle; text-align: center;">Fecha de liquidaci&oacute;n</th>
                    <th style="vertical-align: middle; text-align: center;">Isin</th>
                    <th style="vertical-align: middle; text-align: center;">Descripci&oacute;n isin</th>
                    <th style="vertical-align: middle; text-align: center;">Alias</th>
                    <th style="vertical-align: middle; text-align: center;">Descripci&oacute;n alias</th>
                    <th style="vertical-align: middle; text-align: center;">N&uacute;mero de IL ECC</th>
                    <th style="vertical-align: middle; text-align: center;">T&iacute;tulos fallidos</th>
                    <th style="vertical-align: middle; text-align: center;">Importe efectivo fallido</th>
                    <th style="vertical-align: middle; text-align: center;">Corretaje</th>
                    <th style="vertical-align: middle; text-align: center;">C&aacute;mara</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div class="contenedorResultados">
        <div class="title_section clearfix">
            <br />
            <div style="display: inline; float: left;">
                <p class="title">Operaciones fallida seleccionada</p>
            </div>
            <br />
            <br />
        </div>
        <div class="contenedorTablaOperacionFallidaSeleccionada">
            <table id="tablaOperacionFallidaSeleccionada">
                <thead>
                    <tr>
                        <th style="vertical-align: middle; text-align: center;">Fecha de ejecuci&oacute;n</th>
                        <th style="vertical-align: middle; text-align: center;">Fecha de liquidaci&oacute;n</th>
                        <th style="vertical-align: middle; text-align: center;">Isin</th>
                        <th style="vertical-align: middle; text-align: center;">Descripci&oacute;n isin</th>
                        <th style="vertical-align: middle; text-align: center;">Alias</th>
                        <th style="vertical-align: middle; text-align: center;">Descripci&oacute;n alias</th>
                        <th style="vertical-align: middle; text-align: center;">N&uacute;mero de IL ECC</th>
                        <th style="vertical-align: middle; text-align: center;">T&iacute;tulos fallidos</th>
                        <th style="vertical-align: middle; text-align: center;">Importe efectivo fallido</th>
                        <th style="vertical-align: middle; text-align: center;">Corretaje</th>
                        <th style="vertical-align: middle; text-align: center;">C&aacute;mara</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="contenedorTablaAfectaciones">
            <div class="title_section clearfix">
                <br/><br/><br/>
                <div style="display: inline; float: left;">
                    <p class="title">Listado de afectaciones</p>
                </div>
            </div>
            <div class="contenedorTablaAfectacionesSugeridas">
                <!-- <table id="tablaAfectaciones" class="stripe hover"> -->
                <table id="tablaAfectaciones" class="display">
                    <thead>
                        <tr>
                            <th style="vertical-align: middle; text-align: center;">Opciones</th> 
                            <th style="vertical-align: middle; text-align: center;">Orden</th> 
                            <th style="vertical-align: middle; text-align: center;">Booking</th> 
                            <th style="vertical-align: middle; text-align: center;">Allocation</th> 
                            <th style="vertical-align: middle; text-align: center;">Alc</th>
                            <th style="vertical-align: middle; text-align: center;">Desglose camara</th>
                            <th style="vertical-align: middle; text-align: center;">Desglose clitit</th>
                            <th style="vertical-align: middle; text-align: center;">N&uacute;mero de t&iacute;tulos</th>
                            <th style="vertical-align: middle; text-align: center;">Precio</th>
                            <th style="vertical-align: middle; text-align: center;">Alias</th>
                            <th style="vertical-align: middle; text-align: center;">Fecha de ejecuci&oacute;n</th>
                            <th style="vertical-align: middle; text-align: center;">Hora de ejecuci&oacute;n</th>
                            <th style="vertical-align: middle; text-align: center;">N&uacute;mero de t&iacute;tulos afectados</th>
                            <th style="vertical-align: middle; text-align: center;">Saldo neto cliente</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                    <tfoot>
                        <tr>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <div class="botonera">
                <input type="button" class="mybutton" id="salvarAfectaciones" value="Salvar afectaciones">
                <input type="button" class="mybutton" id="cancelar" value="Cancelar">
            </div>
        </div>
    </div>
    <div id="operacionFallidaForm" class="modal modalFallidos">
        <div class="esquinar">
            <a class="btn"
               onclick="document.getElementById('operacionFallidaForm').style.display = 'none';
                  document.getElementById('fade').style.display = 'none';"
               >
                <img src="img/closeModal.png" title="Cerrar Ventana" />
            </a>
        </div>
        <div id="title_principal" class="title_section clearfix">
            <div style="display: inline; float: left;">
                <p class="title">Modificar n&uacute;mero de t&iacute;tulos afectados</p>
            </div>
        </div>
        <input type="hidden" id="nuTitAfectadosPrevio" />
        <input type="hidden" id="imtitulos" />
        <input type="hidden" id="idFallido" />
        <input type="hidden" id="titulosFallidosOperacion" />
        <input type="hidden" id="filaModificada" />
        <fieldset>
            <br/>
            <div>
                <label for="nuTitAfectados" class="desresumen">N&uacute;mero de t&iacute;tulos afectados</label>
                <input type="text" id="nuTitAfectados" class="anchoinp" onkeypress="return justNumbers(event);"/>
            </div>
        </fieldset>
        <div class="centrar">
            <input class="btn mybutton" type="button" id="modificarNuTitAfectados" value="Modificar" />
            <input class="btn mybutton" type="button" id="cancelarNuTitAfectados" value="Cancelar" />
        </div>
    </div>
    <div id="fade" class="overlay"></div>

</article>
