<div id="formularioalta">
    <p class="titleAlta" ng-bind="dialogTitle"></p>
    <form id="cargarPopupParam" ng-submit="editar_Titular()">
        <fieldset>
            <div class="four-columns">
                <label for="nombre_TI" class="desresumen">Nombre:</label> 
                <input type="text" id="nombre_TI" ng-model="editarTitular.nombreTxt" class="anchoinp2" maxlength=30 onkeyup="javascript:this.value = this.value.toUpperCase()" > <!--  --> 

                <label for="apellido1_TI" class="desresumen">1er Apellido:</label> 
                <input type="text" id="apellido1_TI" ng-model="editarTitular.apellido1Txt" class="anchoinp2" maxlength=50 onkeyup="javascript:this.value = this.value.toUpperCase()" > 

                <label for="apellido2_TI" class="desresumen">2&ordm; Apellido:</label> 
                <input type="text" id="apellido2_TI" ng-model="editarTitular.apellido2Txt" class="anchoinp2" maxlength=30 onkeyup="javascript:this.value = this.value.toUpperCase()" > 		

                <label for="tpdocu_TI" class="desresumen">Tipo Documento:</label> 
                <select id="tpdocu_TI" class="anchoinp2" ng-model="editarTitular.tipodoc"  ng-options="tipoDocumento.codigo as tipoDocumento.textoOpcion for tipoDocumento in listaTipoDocumento">
                    <option value=""></option>
                </select> 					

                <label for="nif_TI" class="desresumen">N&ordm; Documento</label> 
                <input type="text" id="nif_TI" ng-model="editarTitular.nifbic" class="anchoinp2" maxlength=11 onkeyup="javascript:this.value = this.value.toUpperCase()"> 

            </div>
            
            <div class="four-columns">

                <label for="tptipr_TI" class="desresumen">Tipo Titular:</label> 
                <select id="tptipr_TI" class="anchoinp2" ng-model="editarTitular.tiptitu"  ng-options="tipoTitular.codigo as tipoTitular.textoOpcion for tipoTitular in listaTipoTitular">
                    <option value=""></option>
                </select>      

                <label for="tpsoci_TI" class="desresumen">Tipo Sociedad:</label> 
                <select id="tpsoci_TI" class="anchoinp2" ng-model="editarTitular.tipper"  ng-options="tipoSociedad.codigo as tipoSociedad.textoOpcion for tipoSociedad in listaTipoSociedad">
                    <option value=""></option>
                </select>     

                <label for="partic_TI" class="desresumen">Participaci&oacute;n:</label> 
                <input type="number" id="partic_TI" class="anchoinp2" ng-model="editarTitular.particip" maxlength=5 min=0 max=100 step="0.01"  >     

                <label for="ccv_TI" class="desresumen">CCV:</label> 
                <input type="text" id="ccv_TI" class="anchoinp2" maxlength=20  ng-model="editarTitular.ccv">   

                <label for="bolsa_TI" class="desresumen">Bolsa:</label> 
                <select type="text" id="bolsa_TI" class="anchoinp2" maxlength=32 ng-model="editarTitular.bolsa" ng-options="bolsa.codigo as bolsa.descripcion for bolsa in listaBolsaMercado">
                </select>

            </div>
            
            <div class="four-columns">

                <label for="tpnaci_TI" class="desresumen">Tipo Nacionalidad</label> 
                <select id="tpnaci_TI" class="anchoinp2" ng-model="editarTitular.idnac" ng-options="tipoTitular.codigo as tipoTitular.textoOpcion for tipoTitular in listaTipoNacionalidad">
                    <option value=""></option>
                </select>

                <label for="cdnaci_TI" class="desresumen">Nacionalidad:</label> 
                <select id="cdnaci_TI" class="anchoinp2" ng-model="editarTitular.naclidad" ng-options="tipoTitular.cdispais as tipoTitular.textoOpcion for tipoTitular in listaNacionalidad">
                    <option value=""></option>
                </select>    
                
                <label for="pais_TI" class="desresumen">Pais:</label> 
                <input type="text" id="pais_TI" class="anchoinp2" ng-model="editarTitular.pais" maxlength=20  onkeyup="javascript:this.value = this.value.toUpperCase()" />

                <label for="paires_TI" class="desresumen">Pais Residencia:</label> 
                <select id="paires_TI"  class="anchoinp2" ng-model="editarTitular.pasiRe" ng-options="tipoTitular.idPais as tipoTitular.textoOpcion for tipoTitular in listaPaisRes">
                    <option value=""></option>
                </select>

				<label for="nbdomi_TI" class="desresumen">Domicilio:</label> 
                <input type="text" id="nbdomi_TI" class="anchoinp2" ng-model="editarTitular.domicili" onkeyup="javascript:this.value = this.value.toUpperCase()" > 
                
				<label for="codempr_TI" class="desresumen">Codempr:</label> 
                <input type="text" id="codempr_TI" class="anchoinp2" ng-model="editarTitular.codempr" onkeyup="javascript:this.value = this.value.toUpperCase()" > 

            </div>
            
            <div class="four-columns">

                <label for="codbic_TI" class="desresumen">Cod Bic:</label> 
                <input type="text" id="codbic_TI" class="anchoinp2" ng-model="editarTitular.codbic" onkeyup="javascript:this.value = this.value.toUpperCase()" >           				

                <label for="ciudad_TI" class="desresumen">Ciudad:</label> 
                <input type="text" id="ciudad_TI" class="anchoinp2" ng-model="editarTitular.poblacio" maxlength=40 onkeyup="javascript:this.value = this.value.toUpperCase()" >    
                
                <label for="provin_TI" class="desresumen">Provincia:</label> 
                <input type="text" id="provin_TI" class="anchoinp2" ng-model="editarTitular.provincia" maxlength=25  onkeyup="javascript:this.value = this.value.toUpperCase()" >      

                <label for="cdpost_TI" class="desresumen">C&oacute;digo Postal:</label> 
                <input type="text" id="cdpost_TI" class="anchoinp2" maxlength=5 ng-model="editarTitular.distrito"  onkeyup="javascript:this.value = this.value.toUpperCase()" >

                <label for="idsenc_TI" class="desresumen" id="label_nbooking_TI">ID SENC:</label>  
                <input type="text" id="idsenc_TI" class="anchoinp2" ng-model="editarTitular.idsenc" maxlength=2 onkeyup="javascript:this.value = this.value.toUpperCase()" >         

            </div>
            
               

        </fieldset>
        <div style="text-align: center; position: relative; top: 50px;">
            <input class="btn mybutton align-center" type="submit" id="altaparam"
                   value="Guardar"  class="btn-default" />
        </div>

    </form>
</div>
