<meta content="text/html; charset=iso-8859-1" http-equiv=Content-Type>
<article class="center">
	<div showing="ctrl.showingFilter" title-slide-filter="">Mantenimiento de Titulares</div>
	<div class="title_section clearfix">
		<div class="buscador">
			<!-- Filtros devueltos por la llamada a ctrl.selectQuery()-->
			<form name="filters" ng-submit="ctrl.executeQuery()">
				<!-- Imputs -->
				<fieldset class="clearfix">
					<div class="dynamic-filter" ng-repeat="f in ctrl.filterList">
						<sb-filter-element value="f" target="ctrl"></sb-filter-element>
					</div>
				</fieldset>
				<!-- Consultar / Limpiar buttons -->
				<div class="centrar">
					<input class="btn mybutton" type="submit" value="Consultar" ng-disabled="!ctrl.selectedQuery" />
					<input class="mybutton" type="button" value="Limpiar" ng-click="ctrl.filter = {}">
				</div>
			</form>
		</div>
		<!-- Mensaje debajo del filtro / Refrescar button-->
		<div ng-hide="ctrl.showingFilter">
			<div class="centrar">
				<input class="btn mybutton" type="button" value="Refrescar" ng-disabled="!ctrl.selectedQuery" ng-click="ctrl.executeQuery()" />
			</div>
		</div>
</article>
<div>
	<div class="contenedorTabla">
		<!-- Tabla -->
		<div ng-if="ctrl.grid" ui-grid="ctrl.grid" ui-grid-selection ui-grid-pagination ui-grid-resize-columns></div>
		<!-- Crear / Modificar / Eliminar buttons -->
		<div class="centrar">
			<input class="btn buscador mybutton" type="button" ng-click="ctrl.openModal('save')" value="Crear" />
			<input class="btn buscador mybutton" type="button" ng-click="ctrl.openModal('edit')" ng-disabled="ctrl.selectedRows().length != 1"
			 value="Modificar" />
			<input class="btn buscador mybutton" type="button" ng-click="ctrl.delete()" ng-disabled="ctrl.selectedRows().length === 0"
			 value="Eliminar" />
		</div>
	</div>
</div>

<!-- Modal que contiene los apartados de Mantenimiento Trader / Sales / Accounts-->
<div id="modalMantenimiento">
	<div class="buscador clearfix">
		<form id="formPrev" name="formPrev" novalidate>
			<fieldset>
				<!-- Fila 1 -->
				<div class="padding-2per">
					<div class="modal-input4M2">
						<label class="labelValores" for="CDEMPLEADO">Usuario</label><br>
						<input class="width90" name="CDEMPLEADO" id="CDEMPLEADO" type="text" pattern="^N{1}\d{1,9}$" maxlength="10" ng-model="ctrl.params.CDEMPLEADO"
						 ng-change="ctrl.calcularBanco()" ng-disabled="!ctrl.saveFlag" auto-uppercase required>
					</div>
					<div class="modal-input4L2">
						<label class="labelValores" for="NBNOMBRE">Nombre</label><br>
						<input class="width90" name="NBNOMBRE" id="NBNOMBRE" type="text" pattern="^[\w, ,.]{1,30}$" maxlength="30" ng-model="ctrl.params.NBNOMBRE" auto-uppercase ng-change="ctrl.isCONCAT(false)" required>
					</div>
					<div class="modal-input4L2">
						<label class="labelValores" for="NBAPELLIDO1">Primer Apellido</label><br>
                        <input class="width90" id="NBAPELLIDO1" name="NBAPELLIDO1" type="text" pattern="^[\w, ,.]{1,30}$" maxlength="30" ng-model="ctrl.params.NBAPELLIDO1" auto-uppercase ng-change="ctrl.isCONCAT(false)" required>
					</div>
					<div class="modal-input4L2">
						<label class="labelValores" for="NBAPELLIDO2">Segundo Apellido</label><br>
						<input class="width90" id="NBAPELLIDO2" name="NBAPELLIDO2" type="text" pattern="^[\w, ,.]{1,30}$" maxlength="30" ng-model="ctrl.params.NBAPELLIDO2" auto-uppercase >
					</div>
				</div>
				<!-- Fila 2 -->
				<div class="padding-2per">
					<div class="modal-input4M2">
						<label class="labelValores" for="NBCORTO">Nombre Corto</label><br>
						<input class="width90" id="NBCORTO" name="NBCORTO" type="text" pattern="^[\w, ,.]{0,5}$" maxlength="5" ng-model="ctrl.params.NBCORTO" auto-uppercase>
					</div>
					<div class="modal-input4M2" style="margin-right: 14.2%;">
						<label class="labelValores" style="max-width: none;" for="TIPOIDMIFID">Tipo ID MIFID</label><br>
						<select class="width90" id="TIPOIDMIFID" name="TIPOIDMIFID" ng-model="ctrl.params.TIPOIDMIFID" ng-change="ctrl.isCONCAT(true)" required>
							<option value=""></option>
                            <option ng-repeat="item in ctrl.listadIdMifid" value="{{item.value}}" ng-selected="{{item.value == ctrl.params.TIPOIDMIFID}}">
                                {{item.label}}
                            </option>
                        </select>
                    </div>
					<div class="modal-input4L2">
						<label class="labelValores" style="max-width: none;" for="IDMIFID">ID MIFID</label><br>
						<input class="width90" id="IDMIFID" name="IDMIFID" type="text" pattern="^[\w,#, ]{1,20}$" maxlength="20" ng-model="ctrl.params.IDMIFID" 
							ng-disabled="ctrl.params.TIPOIDMIFID == 'C'" auto-uppercase required>					
					</div>
					<div class="modal-input4M2" style="margin-right: 14.2%;">
						<label class="labelValores" for="CDNACIONALIDAD">Pais Nacionalidad</label><br>
						<select class="width90" id="CDNACIONALIDAD" name="CDNACIONALIDAD" ng-model="ctrl.params.CDNACIONALIDAD" ng-change="ctrl.isCONCAT(false)" required>
							<option value=""></option>
                            <option ng-repeat="item in ctrl.listadoPaises" value="{{item.value}}" ng-selected="{{item.value == ctrl.params.CDNACIONALIDAD}}">
                                {{item.label}}
                            </option>
                        </select>
					</div>
				</div>
				<!-- Fila 3 -->
				<div class="padding-2per">
					<div class="modal-input3S">
						<label class="labelValores" for="FECHANACIMIENTO">Fecha Nacimiento</label><br>
                        <input class="width90" id="FECHANACIMIENTO" name="FECHANACIMIENTO" type="text"  datepicker 
                        class="anchoimp2" placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}" readonly="readonly" ng-model="ctrl.params.FECHANACIMIENTO" ng-change="ctrl.isCONCAT(false)" required>
                    </div>
					<div class="modal-input3M">
                        <label class="labelValores" for="CDTIPOUSUARIO">Tipo Usuario</label><br>
						<select class="width90" id="CDTIPOUSUARIO" name="CDTIPOUSUARIO" ng-model="ctrl.params.CDTIPOUSUARIO" required>
							<option value=""></option>
                            <option ng-repeat="item in ctrl.listadoTipoUsuario" value="{{item.value}}" ng-selected="{{item.value == ctrl.params.CDTIPOUSUARIO}}">
                                {{item.label}} 
                            </option>
						</select>
					</div>
					<div style="width: 50%; float: left;">
							<!-- Tipo Figura -->
                    		<label class="labelValores">Tipo Figura</label> <br>
							<input ng-disabled="!ctrl.saveFlag" type="checkbox" id="INDTRADE" ng-model="ctrl.params.INDTRADER" ng-true-value="'S'" ng-false-value="'N'">
                            <label class="desresumen" for="INDTRADE" style="width: 19%;">Trader</label>
                            <input ng-disabled="!ctrl.saveFlag" type="checkbox" id="INDSALE" ng-model="ctrl.params.INDSALE" ng-true-value="'S'" ng-false-value="'N'">
                            <label class="desresumen" for="INDSALE" style="width: 19%;">Sale</label>
                            <input type="checkbox" id="INDTRADESALE" ng-model="ctrl.params.INDTRADSALE" ng-true-value="'S'" ng-false-value="'N'">
                            <label class="desresumen" for="INDTRADESALE" style="width: 19%;">Trader/Sale</label>
                            <input type="checkbox" id="INDACCOUNT" ng-model="ctrl.params.INDACCOUNT" ng-true-value="'S'" ng-false-value="'N'">
                            <label class="desresumen" for="INDACCOUNT" style="width: 19%;">Account</label>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

<!-- Dialog confirm -->
<div id="dialog-confirm"></div>
<div id="mensajeConfirm" class="dialogMensaje"></div>
<script src="js/site.js" type="text/javascript"></script>

<!-- Modal resultado de la accion -->
<div id="resultDialog">
	<modal-result-dialog></modal-result-dialog>
</div>