<meta content="text/html; charset=iso-8859-1" http-equiv=Content-Type>
<article class="center">
	<div showing="ctrl.showingFilter" title-slide-filter="">Mantenimiento de Operaciones</div>
	<div class="title_section clearfix">
		<div class="buscador">
			<!-- Filtros devueltos por la llamada a ctrl.selectQuery()-->
			<form name="filters" ng-submit="ctrl.executeQuery()">
				<!-- Imputs -->
				<fieldset class="clearfix">
					<div class="dynamic-filter" ng-repeat="f in ctrl.filterList">
						<sb-filter-element value="f" target="ctrl"></sb-filter-element>
					</div>
				</fieldset>
				<!-- Consultar / Limpiar buttons -->
				<div class="centrar">
					<input class="btn mybutton" type="submit" value="Consultar" ng-disabled="!ctrl.selectedQuery" />
					<input class="mybutton" type="button" value="Limpiar" ng-click="ctrl.filter = {}">
				</div>
			</form>
		</div>
		<!-- Mensaje debajo del filtro / Refrescar button-->
		<div ng-hide="ctrl.showingFilter">
			<div class="centrar">
				<input class="btn mybutton" type="button" value="Refrescar" ng-disabled="!ctrl.selectedQuery" ng-click="ctrl.executeQuery()" />
			</div>
		</div>
</article>
<div>
	<div class="contenedorTabla">
		<!-- Exports -->
		<div style="text-align: right;">    
            <a download="{{ctrl.selectedQuery.accion}}.xlsx" ng-click="ctrl.exportExcelCsvQuery('SICAVMantenimientoOpQuery', 'excel')" download>Excel</a> 
            <a download="{{ctrl.selectedQuery.accion}}.csv" ng-click="ctrl.exportExcelCsvQuery('SICAVMantenimientoOpQuery', 'csv')" download>CSV</a> 
        </div>
		<!-- Tabla -->
		<div ng-if="ctrl.grid" ui-grid="ctrl.grid" ui-grid-selection ui-grid-pagination ui-grid-resize-columns></div>
		<!-- Crear / Asociar operaciones / Modificar / Eliminar / Emisión de documento buttons -->
		<div class="centrar">
			<input class="btn buscador mybutton" type="button" ng-click="ctrl.openModal('save', 'operation')" value="Crear" />
			<input class="btn buscador mybutton" type="button" ng-click="ctrl.openModal('asociar', 'operation')" value="Asociar operaciones"
			 ng-disabled="ctrl.selectedRows().length != 1" />
			<input ng-disabled="ctrl.masiveOperation(ctrl.selectedRows())" class="btn buscador mybutton" type="button" ng-click="ctrl.openModal('edit', 'operation')"
			 value="Modificar" />
			<input class="btn buscador mybutton" type="button" ng-click="ctrl.delete(ctrl.selectedRows(), 'ID', 'operation')"
			 value="Eliminar" />
			<input class="btn buscador mybutton" type="button" ng-click="ctrl.openModal('numerations', 'operation')" ng-disabled="ctrl.selectedRows().length != 1"
			 value="Ver numeraciones" />
			<input class="btn buscador mybutton" type="button" ng-click="ctrl.exportEmisionDocumento('SICAVMantenimientoOpQuery', 'excel')" value="Generar" />
		</div>
	</div>
</div>

<!-- Modal que contiene los apartados de Mantenimiento Operaciones-->
<div id="modalAltaOp">
	<div class="buscador clearfix">
		<form id="formPrev" name="formPrev" novalidate>
			<fieldset>
				<!-- Columna 1 -->
				<div class="three-columns" tabindex="1">
					<input type="hidden">
					<div>
						<label class="desresumen" for="FECHA_OPE">Fecha Operación</label><br>
						<input id="FECHA_OPE" name="FECHA_OPE" type="text" class="anchoimp2" placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}"
						 ng-model="ctrl.params.FECHA_OPE" tabindex="2" datepicker readonly required ng-disabled="ctrl.asociarFlag">
					</div>
					<div>
						<label class="desresumen" for="OPTITU">Títulos</label><br>
						<input id="OPTITU" name="OPTITU" type="number" ng-change="ctrl.calcularEfectivo()" pattern="[\d]{0,9}" maxlength="9"
						 ng-model="ctrl.params.OPTITU" tabindex="5" required>
					</div>
					<div>
						<label class="desresumen" for="OPEFEC">Efectivo</label><br>
						<input id="OPEFEC" name="OPEFEC" type="number" ng-change="ctrl.calcularPrecio()" step="0.01" maxlength="18"
						 ng-model="ctrl.params.OPEFEC" tabindex="8" ng-disabled="ctrl.asociarFlag">
					</div>
					<div>
						<label class="desresumen" for="FECHA_COB">Fecha de cobro</label><br>
						<input id="FECHA_COB" name="FECHA_COB" type="text" class="anchoimp2" placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}"
						 ng-model="ctrl.params.FECHA_COB" ng-disabled="(ctrl.params.INDCOM != undefined && ctrl.params.INDCOM == 'N') || ctrl.asociarFlag" ng-empty="ctrl.params.INDCOM == 'N'"
						 tabindex="11" datepicker readonly>
					</div>
					<div>
						<label class="desresumen" for="PCPARTI">% de Participación</label><br>
						<input id="PCPARTI" name="PCPARTI" type="number" step="0.01" maxlength="5" ng-model="ctrl.params.PCPARTI"
						 tabindex="14" required>
					</div>
					<div>
						<label class="desresumen" for="INDHAC">Indicador de Hacienda</label><br>
						<select id="INDHAC" name="INDHAC" ng-model="ctrl.params.INDHAC" ng-init="ctrl.params.INDHAC = 'N'" tabindex="17"
						 required>
							<option ng-repeat="item in ctrl.selectOnOff" value="{{item.value}}" ng-selected="{{item.value == ctrl.params.INDHAC}}">
								{{item.label}}
							</option>
						</select>
					</div>
				</div>
				<!-- Columna 2 -->
				<div class="three-columns">
					<div>
						<label class="desresumen" for="ISIN_AUTO">ISIN</label><br>
						<auto-complete-input field-id="ISIN_AUTO" pattern="{{'[/\w, ,.]{0,12}'}}" length="12" index="3" required="true"
						 disabled="{{ctrl.asociarFlag}}" source="ctrl.autoISINComplete" param="ctrl.params.ISIN_AUTO" trim="true"></auto-complete-input>
					</div>
					<div>
						<label class="desresumen" for="OPPREU">Precio</label><br>
						<input id="OPPREU" name="OPPREU" type="number" step="0.000001" maxlength="18" ng-model="ctrl.params.OPPREU"
						 ng-disabled="ctrl.params.OPPCPR != undefined || ctrl.asociarFlag" ng-change="ctrl.calcularEfectivo()" tabindex="6"
						 required>
					</div>
					<div>
						<label class="desresumen" for="OPIMPC">Comisión</label><br>
						<input id="OPIMPC" name="OPIMPC" type="number" step="0.01" maxlength="18" ng-model="ctrl.params.OPIMPC" tabindex="9">
					</div>
					<div>
						<label class="desresumen" for="CDDCLAVE_AUTO" style="width: 100%">Identificador del Titular</label><br>
						<auto-complete-input field-id="CDDCLAVE_AUTO" pattern="{{'[/\w, ,.]{0,25}'}}" length="20" index="12" required="true"
						 source="ctrl.autoIdTitularComplete" param="ctrl.params.CDDCLAVE_AUTO" trim="true"></auto-complete-input>
					</div>
					<div>
						<label class="desresumen" for="CDORDTIT_AUTO">Ordenante</label><br>
						<auto-complete-input field-id="CDORDTIT_AUTO" pattern="{{'[/\w, ,.]{0,25}'}}" length="25" index="15" required="false"
						 source="ctrl.autoOrdenanteComplete" param="ctrl.params.CDORDTIT_AUTO" disabled="{{ctrl.asociarFlag}}"></auto-complete-input>
					</div>
				</div>
				<!-- Columnna 3 -->
				<div class="three-columns">
					<div>
						<label class="desresumen" for="TICOVE">Tipo de Operación</label><br>
						<select id="TICOVE" name="TICOVE" ng-model="ctrl.params.TICOVE" required tabindex="4">
							<option value=""></option>
							<option ng-repeat="item in ctrl['combo-TIPO_OP_']" value="{{item.value}}" ng-selected="{{item.value == ctrl.params.TICOVE}}">
								{{item.label}}
							</option>
						</select>
					</div>
					<div>
						<label class="desresumen" for="OPPCPR">% Precio</label><br>
						<input id="OPPCPR" name="OPPCPR" type="number" step="0.01" maxlength="5" ng-model="ctrl.params.OPPCPR"
						 ng-disabled="ctrl.params.OPPREU != undefined || ctrl.asociarFlag" ng-change="ctrl.calcularEfectivo()" tabindex="7"
						 required>
					</div>
					<div>
						<label class="desresumen" for="INDCOM">Cobrado comisión</label><br>
						<select id="INDCOM" name="INDCOM" ng-model="ctrl.params.INDCOM" required tabindex="10" ng-change="ctrl.vaciarFechaCobro()">
							<option value=""></option>
							<option ng-repeat="item in ctrl.selectOnOff" value="{{item.value}}" ng-selected="{{item.value == ctrl.params.INDCOM}}">
								{{item.label}}
							</option>
						</select>
					</div>
					<div>
						<label class="desresumen" for="TPTIPREP">Tipo de Titular</label><br>
						<select id="TPTIPREP" name="TPTIPREP" ng-model="ctrl.params.TPTIPREP" required tabindex="13">
							<option value=""></option>
							<option ng-repeat="item in ctrl.titularType" value="{{item.value}}" ng-selected="{{item.value == ctrl.params.TPTIPREP}}">
								{{item.label}}
							</option>
						</select>
					</div>
					<div>
						<label class="desresumen" for="CDCUSTOD_AUTO">Custodio del Titular</label><br>
						<auto-complete-input field-id="CDCUSTOD_AUTO" pattern="{{'[/\w, ,.]{0,25}'}}" length="25" index="16" required="false"
						 source="ctrl.autoCustodioComplete" param="ctrl.params.CDCUSTOD_AUTO" disabled="{{ctrl.asociarFlag}}" trim="true"></auto-complete-input>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

<!-- Modal que contiene los apartados de Mantenimiento Operaciones-->
<div id="modalAltaNum">
	<div class="buscador clearfix">
		<form id="formNum" name="formNum" novalidate>
			<fieldset>
				<!-- Columna 1 -->
				<div class="two-columns" tabindex="1">
					<input type="hidden">
					<div>
						<label class="desresumen" for="NUMOPSEC1">Secuencial desde</label><br>
						<input id="NUMOPSEC1" name="NUMOPSEC1" type="text" pattern="^[\w, ,.]{0,15}$" maxlength="15" ng-model="ctrl.numParams.OPSEC1"
						 ng-disabled="ctrl.numParams.NUIDRE != undefined" ng-change="ctrl.isSecuenciaOk()" tabindex="1" required>
					</div>
					<div>
						<label class="desresumen" for="NUMNUIDRE">Nº Identificador de Registro</label><br>
						<input id="NUMNUIDRE" name="NUMNUIDRE" type="text" pattern="^[\w, ,.]{0,16}$" maxlength="16"  
						 ng-disabled="ctrl.numParams.OPSEC2 != undefined || ctrl.numParams.OPSEC1 != undefined" ng-model="ctrl.numParams.NUIDRE"
						 ng-change="ctrl.requiredIfThisExit(ctrl.numParams.NUIDRE,'NUMOPTITU', 'NUMOPSEC1', 'NUMOPSEC2')" auto-uppercase tabindex="3" required>
					</div>
				</div>
				<!-- Columna 2 -->
				<div class="two-columns">
					<div>
						<label class="desresumen" for="NUMOPSEC2">Secuencial hasta</label><br>
						<input id="NUMOPSEC2" name="NUMOPSEC2" type="text" pattern="^[\w, ,.]{0,15}$" maxlength="15" ng-model="ctrl.numParams.OPSEC2"
						 ng-disabled="ctrl.numParams.NUIDRE != undefined" ng-change="ctrl.isSecuenciaOk()" tabindex="2" required>
					</div>
					<div>
						<label class="desresumen" for="NUMOPTITU">Nº de títulos</label><br>
						<input id="NUMOPTITU" name="NUMOPTITU" type="number"
						 maxlength="9" ng-model="ctrl.numParams.OPTITU" tabindex="4">
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

<!-- Modal que contiene un registro de numeraciones que tiene una operación -->
<div id="numerationGrid">
	<div class="four-columns">
		<div>
			<label class="desresumen" for="GRIDNUMIDOPE">Nº de operación</label><br>
			<input id="GRIDNUMIDOPE" name="GRIDNUMIDOPE" type="number" ng-disabled="true" maxlength="9" ng-model="ctrl.valueIdOpeParaNumeracion"
			 required>
		</div>
	</div>
	<div class="four-columns">
		<div>
			<label class="desresumen" for="GRIDNUMOPTITU" style="width: 100%">Nº de títulos de la operación</label><br>
			<input id="GRIDNUMOPTITU" name="GRIDNUMOPTITU" type="number" ng-disabled="true" maxlength="9" ng-model="ctrl.GRIDNUMOPTITU"
			 required>
		</div>
	</div>
	<div class="four-columns">
		<div>
			<label class="desresumen" for="GRIDNUMAC">Nº títulos acumulados</label><br>
			<input id="GRIDNUMAC" name="GRIDNUMAC" type="number" ng-disabled="true" maxlength="9" ng-model="ctrl.GRIDNUMAC"
			 required>
		</div>
	</div>
	<div class="four-columns">
		<div>
			<label class="desresumen" for="GRIDNUMAS" style="width: 100%">Nº títulos por asignar</label><br>
			<input id="GRIDNUMAS" name="GRIDNUMAS" type="number" ng-disabled="true" maxlength="9" ng-model="ctrl.GRIDNUMAS"
			 required>
		</div>
	</div>
	<div ng-if="ctrl.gridNumerations" ui-grid="ctrl.gridNumerations" ui-grid-selection ui-grid-pagination
	 ui-grid-resize-columns style="float: left; margin-top: 1%; width: 100%"></div>
</div>

<!-- Dialog confirm -->
<div id="dialog-confirm"></div>
<div id="mensajeConfirm" class="dialogMensaje"></div>
<script src="js/site.js" type="text/javascript"></script>

<!-- Modal resultado de la accion -->
<div id="resultDialog">
	<modal-result-dialog></modal-result-dialog>
</div>