<!-- INICIO - Componente filtros dinamicos. -->
<!--
<div ng-include="views/plantillasInformes/componenteGenerico.html"></div>
-->
<div ng-show="modal.showFilters">
	<div ng-repeat="elemento1 in plantilla.listaFiltrosDinamicos"
		class="row">
		<div ng-repeat="elemento in elemento1"
			class="col-sm-3 col-md-3 col-sm-3 col-xs-3">
			<!-- Campo tipo FECHA -->
			<div ng-if="elemento.tipo == 'FECHA'">
				<label class="desresumen label_comp_fecha" style="width: 250px;"
					for="{{elemento.identificador}}">{{ elemento.nombre
					}}&nbsp;<span ng-if="elemento.mostrarFechaDesde">desde</span>
				</label>
				<div style="width: 250px;" class="anchoinp">
					<input style="width: 75px;" type="text"
						ng-id="{{elemento.identificador}}"
						ng-hide="elemento.valorNumeroFechaDesde"
						ng-model="elemento.valorCampo" class="anchoinp2" maxlength="10"
						size="10" auto-uppercase placeholder="dd/MM/yyyy"
						ng-class="{'autocomplete-required': errorRangoFechas}"
						ng-change="operarFecha('calendario', elemento);" datepicker /> <span
						ng-hide="elemento.valorCampo">Hoy</span>
					<button id="fecha_btn_{{elemento.identificador}}"
						title="Modificar fecha"
						ng-model="elemento['fecha_btn_' + elemento.id]"
						style="width: 35px; margin-left: 4px; margin-top: 1px;"
						ng-click="operarFecha('cambiar', elemento);"
						ng-hide="elemento.valorCampo">
						<span class="negrita"> {{ elemento.lblBtnSentidoFiltro}} </span>
					</button>
					<input type="text" ng-id="number_{{elemento.identificador}}"
						class="input_fecha_numerico"
						ng-model="elemento.valorNumeroFechaDesde" min="1" max="999"
						size="2" maxlength="2"
						ng-change="operarFecha('numerico', elemento);"
						ng-class="{'autocomplete-required': errorRangoFechas}"
						ng-hide="elemento.valorCampo" /> <input
						id="hasta_error_rango_{{elemento.identificador}}" type="hidden"
						value="false" />
					<button style="width: 50px; margin-left: 4px;"
						ng-click="operarFecha('vaciar', elemento);"
						ng-disabled="elemento.lblBtnSentidoFiltro=='vacio'">
						<span>Vaciar</span>
					</button>
				</div>
			</div>
			<div
				ng-if="elemento.tipo == 'FECHA' && elemento.subTipo == 'DESDE-HASTA'">
				<label class="desresumen label_comp_fecha" style="width: 250px;"
					for="{{elemento.identificador}}_hasta">{{ elemento.nombre
					}} hasta</label>
				<div style="width: 250px;" class="anchoinp">
					<input style="width: 75px;" type="text"
						ng-id="{{elemento.identificador + '_hasta'}}"
						ng-hide="elemento.valorNumeroFechaHasta"
						ng-model="elemento.valorCampoHasta" class="anchoinp2"
						maxlength="10" size="10" auto-uppercase placeholder="dd/MM/yyyy"
						ng-class="{'autocomplete-required': errorRangoFechas}"
						ng-change="operarFecha('calendarioHasta', elemento);" datepicker />
					<span ng-hide="elemento.valorCampoHasta">Hoy</span>
					<button id="fecha_btn_{{elemento.identificador}}_hasta"
						title="Modificar fecha" ng-hide="elemento.valorCampoHasta"
						ng-model="elemento['fecha_btn_' + elemento.id + '_hasta']"
						style="width: 35px; margin-left: 4px; margin-top: 1px;"
						ng-click="operarFecha('cambiarHasta', elemento);">
						<span class="negrita"> {{ elemento.lblBtnSentidoFiltroHasta
							}} </span>
					</button>
					<input type="text" ng-id="number_{{elemento.identificador}}_hasta"
						class="input_fecha_numerico"
						ng-model="elemento.valorNumeroFechaHasta" min="1" max="999"
						size="2" maxlength="2" ng-hide="elemento.valorCampoHasta"
						ng-change="operarFecha('numericoHasta', elemento);"
						ng-class="{'autocomplete-required': errorRangoFechas}"
						ng-disabled="elemento.inhabilitarNumericoHasta || elemento.lblBtnSentidoFiltroHasta=='vacio'" />
					<button style="width: 50px; margin-left: 4px;"
						ng-click="operarFecha('vaciarHasta', elemento);"
						ng-disabled="elemento.lblBtnSentidoFiltroHasta=='vacio'">
						<span>Vaciar</span>
					</button>
					<p style="margin: 3px; color: red;"
						ng-if="elemento['error_rango_fechas_' + elemento.id] == true">Error
						en rango de fechas</p>
				</div>
			</div>
			<!-- Campo tipo AUTORRELLENABLE -->
			<div ng-if="elemento.tipo == 'AUTORRELLENABLE'">
				<label class="desresumen" style="width: 250px;" for="{{elemento.identificador}}">{{
					elemento.nombre }}</label>
				<div style="width: 250px;" class="anchoinp">
					<input style="width: 250px;" type="text"
						id="{{elemento.identificador}}" ng-model="elemento.valor"
						class="anchoinp2" maxlength=25 auto-uppercase /> <select
						id="{{elemento.identificador + '_lista2'}}" size="4 "
						style="width: 250px;" ng-model="elemento.valorCampo"
						ng-options="elem.value for elem in elemento.listaSeleccSelectDTO">
						<option value="" ng-if="false"></option>
					</select>
					<div style="width: 250px; align: center; margin-top: 2px;"
						class="anchoinp">
						<button id="subir_{{elemento.identificador}}"
							style="width: 40px; margin-left: 4px;"
							ng-click="operarLista('subir', elemento)">
							<img src="../sibbac20/img/ico_collapser_up.png" />
						</button>
						<button id="bajar_{{elemento.identificador}}"
							style="width: 40px; margin-left: 4px;"
							ng-click="operarLista('bajar', elemento)">
							<img src="../sibbac20/img/ico_collapser_down.png" />
						</button>
						<button id="eliminar_{{elemento.identificador}}"
							style="width: 40px; margin-left: 4px;"
							ng-click="operarLista('eliminar', elemento)">
							<span class="negrita">-</span>
						</button>
						<button id="vaciar_{{elemento.identificador}}"
							style="width: 50px; margin-left: 4px;"
							ng-click="operarLista('vaciar', elemento)">
							<span>Vaciar</span>
						</button>
					</div>
				</div>
			</div>
			<!-- Campo tipo COMBO -->
			<div ng-if="elemento.tipo == 'COMBO'">
				<label class="desresumen" style="width: 250px;" for="{{elemento.identificador}}">{{
					elemento.nombre }}</label> <select tabindex="1"
					ng-id="{{elemento.identificador + '_combo'}}" style="width: 250px;"
					ng-model="elemento.valorCampo"
					ng-options="lst.key as lst.value for lst in elemento.listaSelectDTO"
					ng-class="{'autocomplete-required':lista.key==0 && activeAlert}">
					<option value="" ng-if="false"></option>
				</select>
			</div>
			<!-- Campo tipo LISTA -->
			<div ng-if="elemento.tipo == 'LISTA'">
				<label class="desresumen" for="{{elemento.identificador}}" style="width: 250px;">{{
					elemento.nombre }}</label> <select tabindex="1"
					id="{{elemento.identificador + '_lista1'}}" style="width: 250px;"
					ng-model="elemento.valor"
					ng-options="lst.key as lst.value for lst in elemento.listaSelectDTO"
					ng-class="{'autocomplete-required':lista.key==0 && activeAlert}"
					ng-change="operarLista('agregar', elemento)">
					<option value="" ng-if="false"></option>
				</select> <select id="{{elemento.identificador + '_lista2'}}" size="4 "
					style="width: 250px;" ng-model="elemento.valorCampo"
					ng-options="elem.value for elem in elemento.listaSeleccSelectDTO">
					<option value="" ng-if="false"></option>
				</select>
				<div style="width: 250px; align: center; margin-top: 2px;"
					class="anchoinp">
					<button id="subir_{{elemento.identificador}}"
						style="width: 40px; margin-left: 4px;"
						ng-click="operarLista('subir', elemento)">
						<img src="../sibbac20/img/ico_collapser_up.png" />
					</button>
					<button id="bajar_{{elemento.identificador}}"
						style="width: 40px; margin-left: 4px;"
						ng-click="operarLista('bajar', elemento)">
						<img src="../sibbac20/img/ico_collapser_down.png" />
					</button>
					<button id="eliminar_{{elemento.identificador}}"
						style="width: 40px; margin-left: 4px;"
						ng-click="operarLista('eliminar', elemento)">
						<span class="negrita">-</span>
					</button>
					<button id="tipo_busqueda_{{elemento.identificador}}"
						title="Tipo de Búsqueda"
						ng-model="elemento['tipo_busqueda_' + elemento.id]"
						style="width: 40px; margin-left: 4px; margin-top: 1px;"
						ng-click="operarListaTexto('cambiar', elemento);">
						<span class="negrita"> {{ elemento.lblTipoBusqueda}} </span>
					</button>
					<button id="vaciar_{{elemento.identificador}}"
						style="width: 50px; margin-left: 4px;"
						ng-click="operarLista('vaciar', elemento)">
						<span>Vaciar</span>
					</button>
				</div>
			</div>
			<!-- Campo tipo TEXTO -->
			<div ng-if="elemento.tipo == 'TEXTO'">
				<label class="desresumen" for="{{elemento.identificador}}" style="width: 250px;">{{
					elemento.nombre }}</label> <input style="width: 250px;" type="text"
					id="{{elemento.identificador + 'lista3'}}"
					ng-model="elemento.valor" class="anchoinp2" maxlength=25
					auto-uppercase /><select
					id="{{elemento.identificador + '_lista3'}}" size="4 "
					style="width: 250px;" ng-model="elemento.valorCampo"
					ng-options="elem.value for elem in elemento.listaSeleccSelectDTO"
					value="">
					<option value="" ng-if="false"></option>
				</select>
				<div style="width: 250px; align: center; margin-top: 2px;"
					class="anchoinp">
					<button id="anadir_{{elemento.identificador}}"
						style="width: 40px; margin-left: 4px;"
						ng-click="operarLista('agregar', elemento)">
						<span class="negrita">+</span>
					</button>
					<button id="eliminar_{{elemento.identificador}}"
						style="width: 40px; margin-left: 4px;"
						ng-click="operarLista('eliminar', elemento)">
						<span class="negrita">-</span>
					</button>
					<button id="tipo_busqueda_{{elemento.identificador}}"
						title="Tipo de Búsqueda"
						ng-model="elemento['tipo_busqueda_' + elemento.id]"
						style="width: 40px; margin-left: 4px; margin-top: 1px;"
						ng-click="operarListaTexto('cambiar', elemento);">
						<span class="negrita"> {{ elemento.lblTipoBusqueda}} </span>
					</button>
					<button id="vaciar_{{elemento.identificador}}"
						style="width: 50px; margin-left: 4px;"
						ng-click="operarLista('vaciar', elemento)">
						<span>Vaciar</span>
					</button>
				</div>
			</div>
			<div ng-if="elemento.tipo == 'NUMERO'">
				<label class="desresumen label_comp_numero"
					for="{{elemento.identificador}}">{{ elemento.nombre
					}}&nbsp;<span ng-if="elemento.mostrarFechaDesde">desde</span>
				</label>
				<div style="width: 250px;" class="anchoinp">
					<input style="width: 250px;" type="text"
						coma-dot-converter="coma-dot-converter"
						ng-model="elemento.valorCampo" maxlength=18 />
				</div>
			</div>
			<div
				ng-if="elemento.tipo == 'NUMERO' && elemento.subTipo == 'DESDE-HASTA'">
				<label class="desresumen label_comp_fecha"
					for="{{elemento.identificador}}_hasta">{{ elemento.nombre
					}} hasta</label>
				<div style="width: 250px;" class="anchoinp">
					<input style="width: 250px;" type="text"
						coma-dot-converter="coma-dot-converter"
						ng-model="elemento.valorCampoHasta" maxlength=18 />
				</div>
			</div>

		</div>
	</div>