<article class="center">
	<div title-slide-filter showing="showingFilter"
		onhide="mostrarBusqueda()">Generaci&oacute;n Informes</div>
	<div class="buscador wrapper-95" id="buscador">
		<form>
			<fieldset>
				<!-- Filtros obligatorios -->
				<div class="panel panel-body"
					ng-show="activeAlert && ((plantilla.key==0) || errorValidarFechaBase || errorValidarFechaBaseNoEncontrada)"
					style="border: 1px solid silver; padding: 10px;">
					<div class="col-xs-1 col-sm-1 col-lg-1"
						style="vertical-align: middle;">
						<img alt="nueva_plantilla" src="images/warning.png" height="26px">
					</div>
					<div class="col-xs-11 col-md-11 col-lg-11">
						<p style="margin: 3px;" ng-if="plantilla.key==0 && activeAlert">- Es obligatorio seleccionar la Plantilla para la generaci&oacute;n	de informe</p>
						<p style="margin: 3px;"	ng-if="errorValidarFechaBase && activeAlert">- Es obligatorio rellenar el campo {{labelFechaObligatoria}}</p>
						<p style="margin: 3px;"	ng-if="errorValidarFechaBaseNoEncontrada && activeAlert">- ERROR. Es obligatoria una fecha para la ejecución de este informe, contacte con IT</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4" style="margin-bottom: -10px;">
						<div class="col-md-12 no-padding">
							<label class="desresumen" for="filtro_clas">Clase:</label>
							<!-- Inicio - Componente filtros dinamicos.  -->
							<select id="filtro_clas" style="width: 200px;" ng-model="filtro.clase" ng-options="clase as clase.nombre for clase in listClasesFiltro"	ng-change="cargarPlantillasMercadosFiltro(true);">
								<option value="" ng-if="false"></option>
							</select>
						</div>
						<div class="col-md-12 no-padding">
							<label class="desresumen" for="filtro_plantilla">Plantilla:</label>
							<!-- Inicio - Componente filtros dinamicos.  -->
							<select tabindex="1" id="filtro_plantilla" style="width: 200px;" ng-model="plantilla" ng-change="precargarFiltroDinamico()" ng-options="idioma.value for idioma in listPlantillas" ng-class="{'autocomplete-required':plantilla.key==0 && activeAlert}">
								<option value="" ng-if="false"></option>
							</select>
						</div>
					</div>
					<div class="col-md-4" style="margin-bottom: -10px;">
						<label class="desresumen" for="filtro_merca">Mercado:</label>
						<!-- Inicio - Componente filtros dinamicos.  -->
						<select id="filtro_merca" style="width: 200px;"	ng-model="filtro.mercado" ng-options="mercado as mercado.value for mercado in listMercados"	ng-change="cargarPlantillasMercadosFiltro(false);">
							<option value="" ng-if="false"></option>
						</select>
						<!-- Fin - Componente filtros dinamicos.  -->
					</div>
					<div class="col-md-4" style="margin-bottom: -10px;" ng-show="!filtro.ocultarEspeciales">
						<label for="filtro_isin" class="desresumen"	style="float: left; height: 40px;">Opciones especiales:</label> 
						<input type="radio" ng-model="filtro.especiales" value="EXCLROUTING">Excluir routing <br /> 
						<input type="radio"	ng-model="filtro.especiales" value="EXCLBARRID"> Excluir barridos de derechos <br /> 
						<input type="radio"	ng-model="filtro.especiales" value="ALL"> Incluir todos
					</div>
				</div>
				<p class="lineSeparator"></p>
				<!-- Inicio - Componente filtros dinamicos.  -->
				<div ng-repeat="elemento1 in filtro.listaFiltrosDinamicos"
					class="row" style="padding-left: 10px">
					<div ng-repeat="elemento in elemento1"
						class="col-sm-3 col-md-3 col-sm-3 col-xs-3">
						<!-- Campo tipo FECHA -->
						<div ng-if="elemento.tipo == 'FECHA'">
							<label class="desresumen label_comp_fecha" style="width: 250px;"
								for="{{elemento.identificador}}">{{ elemento.nombre
								}}&nbsp;<span ng-if="elemento.mostrarFechaDesde">desde</span>
							</label> 
							<div style="width: 250px;" class="anchoinp">
								<input style="width: 75px;" type="text"
									ng-id="{{elemento.identificador}}"
									ng-model="elemento.valorCampo" class="anchoinp2" maxlength="10"
									size="10" auto-uppercase placeholder="dd/MM/yyyy"
									ng-class="{'autocomplete-required': errorRangoFechas}"
									ng-hide="elemento.valorNumeroFechaDesde"
									ng-change="operarFecha('calendario', elemento);" datepicker />
	
								
								<span ng-hide="elemento.valorCampo">Hoy</span>
								<button id="fecha_btn_{{elemento.identificador}}"
									title="Modificar fecha"
									ng-model="elemento['fecha_btn_' + elemento.id]"
									style="width: 35px; margin-left: 4px; margin-top: 1px;"
									ng-hide="elemento.valorCampo"
									ng-click="operarFecha('cambiar', elemento);">
									
									<span class="negrita"> {{ elemento.lblBtnSentidoFiltro}}
									</span>
								</button>
								<input type="text" ng-id="number_{{elemento.identificador}}"
									class="input_fecha_numerico"
									ng-model="elemento.valorNumeroFechaDesde" min="1" max="999"
									size="2" maxlength="2"
									ng-change="operarFecha('numerico', elemento);"
									ng-hide="elemento.valorCampo"
									ng-class="{'autocomplete-required': errorRangoFechas}"
									ng-disabled="elemento.inhabilitarNumerico || elemento.lblBtnSentidoFiltro=='vacio'" />
								<input id="hasta_error_rango_{{elemento.identificador}}"
									type="hidden" value="false" />
								<button style="width: 50px; margin-left: 4px;"
									ng-click="operarFecha('vaciar', elemento);"
									ng-disabled="elemento.lblBtnSentidoFiltro=='vacio'">
									<span>Vaciar</span>
								</button>
							</div>
						</div>
						<div
							ng-if="elemento.tipo == 'FECHA' && elemento.subTipo == 'DESDE-HASTA'">
							<label class="desresumen label_comp_fecha" style="width: 250px;"
								for="{{elemento.identificador}}_hasta">{{
								elemento.nombre }} hasta</label> 
							<div style="width: 250px;" class="anchoinp">	
								<input style="width: 75px;" type="text"
									ng-id="{{elemento.identificador + '_hasta'}}"
									ng-model="elemento.valorCampoHasta" class="anchoinp2"
									ng-hide="elemento.valorNumeroFechaHasta"
									maxlength="10" size="10" auto-uppercase placeholder="dd/MM/yyyy"
									ng-class="{'autocomplete-required': errorRangoFechas}"
									ng-change="operarFecha('calendarioHasta', elemento);" datepicker />
								<span ng-hide="elemento.valorCampoHasta">Hoy</span>
								<button id="fecha_btn_{{elemento.identificador}}_hasta"
									title="Modificar fecha"
									ng-model="elemento['fecha_btn_' + elemento.id + '_hasta']"
									ng-hide="elemento.valorCampoHasta"
									style="width: 35px; margin-left: 4px; margin-top: 1px;"
									ng-click="operarFecha('cambiarHasta', elemento);">
									<span class="negrita"> {{
										elemento.lblBtnSentidoFiltroHasta }} </span>
								</button>
								<input type="text"
									ng-id="number_{{elemento.identificador}}_hasta"
									class="input_fecha_numerico"
									ng-model="elemento.valorNumeroFechaHasta" min="1"
									max="999" size="2" maxlength="2"
									ng-hide="elemento.valorCampoHasta"
									ng-change="operarFecha('numericoHasta', elemento);"
									ng-class="{'autocomplete-required': errorRangoFechas}"/>
								<p style="margin: 3px; color: red;"
									ng-if="elemento['error_rango_fechas_' + elemento.id] == true">Error
									en rango de fechas</p>
								<button style="width: 50px; margin-left: 4px;"
									ng-click="operarFecha('vaciarHasta', elemento);">
									<span>Vaciar</span>
								</button>
							</div>
						</div>
						<!-- Campo tipo AUTORRELLENABLE -->
						<div ng-if="elemento.tipo == 'AUTORRELLENABLE'">
							<label class="desresumen" for="{{elemento.identificador}}" style="width: 250px;">{{
								elemento.nombre }}</label>
							<div style="width: 250px;" class="anchoinp">
								<input style="width: 250px;" type="text"
									id="{{elemento.identificador}}" ng-model="elemento.valor"
									class="anchoinp2" maxlength=25 auto-uppercase /> <select
									id="{{elemento.identificador + '_lista2'}}" size="4 "
									style="width: 250px;" ng-model="elemento.valorCampo"
									ng-options="elem.value for elem in elemento.listaSeleccSelectDTO">
									<option value="" ng-if="false"></option>
								</select>
								<div style="width: 250px; align: center; margin-top: 2px;"
									class="anchoinp">
									<button id="subir_{{elemento.identificador}}"
										style="width: 40px; margin-left: 4px;"
										ng-click="operarLista('subir', elemento)">
										<img src="../sibbac20/img/ico_collapser_up.png" />
									</button>
									<button id="bajar_{{elemento.identificador}}"
										style="width: 40px; margin-left: 4px;"
										ng-click="operarLista('bajar', elemento)">
										<img src="../sibbac20/img/ico_collapser_down.png" />
									</button>
									<button id="eliminar_{{elemento.identificador}}"
										style="width: 40px; margin-left: 4px;"
										ng-click="operarLista('eliminar', elemento)">
										<span class="negrita">-</span>
									</button>
									<button id="vaciar_{{elemento.identificador}}"
										style="width: 50px; margin-left: 4px;"
										ng-click="operarLista('vaciar', elemento)">
										<span>Vaciar</span>
									</button>
								</div>
							</div>
						</div>
						<!-- Campo tipo COMBO -->
						<div ng-if="elemento.tipo == 'COMBO'">
							<label class="desresumen" for="{{elemento.identificador}}" style="width: 250px;">{{
								elemento.nombre }}</label>
							<div style="width: 250px;" class="anchoinp">
								<select tabindex="1"
									ng-id="{{elemento.identificador + '_combo'}}"
									style="width: 250px;" ng-model="elemento.valorCampo"
									ng-options="lst.key as lst.value for lst in elemento.listaSelectDTO"
									ng-class="{'autocomplete-required':lista.key==0 && activeAlert}">
									<option value="" ng-if="false"></option>
								</select>
							</div>
						</div>
						<!-- Campo tipo LISTA -->
						<div ng-if="elemento.tipo == 'LISTA'">
							<label class="desresumen" for="{{elemento.identificador}}" style="width: 250px;">{{
								elemento.nombre }}</label>
							<div style="width: 250px;" class="anchoinp">
								<select tabindex="1" id="{{elemento.identificador + '_lista1'}}"
									style="width: 250px;" ng-model="elemento.valor"
									ng-options="lst.key as lst.value for lst in elemento.listaSelectDTO"
									ng-class="{'autocomplete-required':lista.key==0 && activeAlert}"
									ng-change="operarLista('agregar', elemento)">
									<option value="" ng-if="false"></option>
								</select> <select id="{{elemento.identificador + '_lista2'}}" size="4 "
									style="width: 250px;" ng-model="elemento.valorCampo"
									ng-options="elem.value for elem in elemento.listaSeleccSelectDTO">
									<option value="" ng-if="false"></option>
								</select>
								<div style="width: 250px; align: center; margin-top: 2px;"
									class="anchoinp">
									<button id="subir_{{elemento.identificador}}"
										style="width: 40px; margin-left: 4px;"
										ng-click="operarLista('subir', elemento)">
										<img src="../sibbac20/img/ico_collapser_up.png" />
									</button>
									<button id="bajar_{{elemento.identificador}}"
										style="width: 40px; margin-left: 4px;"
										ng-click="operarLista('bajar', elemento)">
										<img src="../sibbac20/img/ico_collapser_down.png" />
									</button>
									<button id="eliminar_{{elemento.identificador}}"
										style="width: 40px; margin-left: 4px;"
										ng-click="operarLista('eliminar', elemento)">
										<span class="negrita">-</span>
									</button>
									<button id="tipo_busqueda_{{elemento.identificador}}"
										title="Tipo de Búsqueda"
										ng-model="elemento['tipo_busqueda_' + elemento.id]"
										style="width: 40px; margin-left: 4px; margin-top: 1px;"
										ng-click="operarListaTexto('cambiar', elemento);">
										<span class="negrita"> {{ elemento.lblTipoBusqueda}} </span>
									</button>
									<button id="vaciar_{{elemento.identificador}}"
										style="width: 50px; margin-left: 4px;"
										ng-click="operarLista('vaciar', elemento)">
										<span>Vaciar</span>
									</button>
								</div>
							</div>
						</div>
						<!-- Campo tipo TEXTO -->
						<div ng-if="elemento.tipo == 'TEXTO'">
							<label class="desresumen" for="{{elemento.identificador}}" style="width: 250px;">{{
								elemento.nombre }}</label>
							<div style="width: 250px;" class="anchoinp">
								<input style="width: 250px;" type="text"
									id="{{elemento.identificador + 'lista3'}}"
									ng-model="elemento.valor" class="anchoinp2" maxlength=25
									auto-uppercase /><select
									id="{{elemento.identificador + '_lista3'}}" size="4 "
									style="width: 250px;" ng-model="elemento.valorCampo"
									ng-options="elem.value for elem in elemento.listaSeleccSelectDTO"
									value="">
									<option value="" ng-if="false"></option>
								</select>
								<div style="width: 250px; align: center; margin-top: 2px;"
									class="anchoinp">
									<button id="anadir_{{elemento.identificador}}"
										style="width: 40px; margin-left: 4px;"
										ng-click="operarLista('agregar', elemento)">
										<span class="negrita">+</span>
									</button>
									<button id="eliminar_{{elemento.identificador}}"
										style="width: 40px; margin-left: 4px;"
										ng-click="operarLista('eliminar', elemento)">
										<span class="negrita">-</span>
									</button>
									<button id="tipo_busqueda_{{elemento.identificador}}"
										title="Tipo de Búsqueda"
										ng-model="elemento['tipo_busqueda_' + elemento.id]"
										style="width: 40px; margin-left: 4px; margin-top: 1px;"
										ng-click="operarListaTexto('cambiar', elemento);">
										<span class="negrita"> {{ elemento.lblTipoBusqueda}} </span>
									</button>
									<button id="vaciar_{{elemento.identificador}}"
										style="width: 50px; margin-left: 4px;"
										ng-click="operarLista('vaciar', elemento)">
										<span>Vaciar</span>
									</button>
								</div>
							</div>
						</div>
						<div ng-if="elemento.tipo == 'NUMERO'">
							<label class="desresumen label_comp_numero" style="width: 250px;"
								for="{{elemento.identificador}}">{{ elemento.nombre
								}}&nbsp;<span ng-if="elemento.mostrarFechaDesde">desde</span>
							</label>
							<div style="width: 250px;" class="anchoinp">
								<input style="width: 250px;" type="text"
									coma-dot-converter="coma-dot-converter"
									ng-model="elemento.valorCampo" maxlength=18 />
							</div>
						</div>
						<div
							ng-if="elemento.tipo == 'NUMERO' && elemento.subTipo == 'DESDE-HASTA'">
							<label class="desresumen label_comp_fecha" style="width: 250px;"
								for="{{elemento.identificador}}_hasta">{{
								elemento.nombre }} hasta</label>
							<div style="width: 250px;" class="anchoinp">
								<input style="width: 250px;" type="text"
									coma-dot-converter="coma-dot-converter"
									ng-model="elemento.valorCampoHasta" maxlength=18 />
							</div>
						</div>
					</div>
				</div>
				<!-- Fin - Componente filtros dinamicos.  -->
			</fieldset>

			<div class="centrar top-10">
				<input type="button" class="btn buscador mybutton" id="generar" value="Consultar"	ng-click="validaGenerarInformeExcel()" /> 
				<input type="button" class="btn buscador mybutton" id="generarExcel" value=" Exporta a Excel" ng-click="generarInformeExcel()" ng-if="isPermisoAccion(SecurityActions.EXPORTAR_EXCEL)" /> 
				<input type="button" class="btn buscador mybutton" id="generarExcelTercer" value="Exportar a Excel Terceros" ng-if="isPermisoAccion(SecurityActions.EXPORTAR_TERCEROS)" ng-click="generarInformeExcelTerceros()" /> 
				<input type="button" class="btn buscador mybutton" id="limpiar" value="Limpiar Filtros" ng-click="limpiarFiltrosDinamicos()" />
			</div>
		</form>
	</div>

	<div class="mensajeBusqueda" ng-show="!showingFilter">{{cadenaFiltros}}</div>

	<div class="contenedorTabla">
		<div id="contenedordatos"></div>
		<div class="centrar" ng-show="mostrardescargarexcelSimple">
			<input type="button" class="btn buscador mybutton" id="generarExcelSimple" ng-if="isPermisoAccion(SecurityActions.EXPORTAR_EXCEL)" value="Exportar a Excel" ng-click="generarInformeExcelSimpleDatatable()" /> 
			<input type="button" class="btn buscador mybutton" id="generarExcelTercer" ng-if="isPermisoAccion(SecurityActions.EXPORTAR_TERCEROS)"	value="Exportar a Excel Terceros" ng-click="generarInformeExcelTercerosDatatable()" />
		</div>
	</div>
	<div class="centrar" id="mensajesError" ng-show="mostrarErrores">
		<p class="titleAlta" id="titleListaErrores">Resumen:</p>
		<p>{{mensajeError}}</p>
		<div class="centrar" ng-show="mensajeErrorQuery.length>0">
			QUERY:<br>{{mensajeErrorQuery}}
		</div>
	</div>
	<div id="dialog-confirm"></div>
</article>