<article class="center">
  <div title-slide-filter showing="showingFilter" onhide="mostrarBusqueda()">Generaci&oacute;n Informes</div>
  <div class="buscador wrapper-95" id="buscador">
    <form>
      <fieldset>
        <!-- Filtros obligatorios -->
        <div class="panel panel-body"
          ng-show="activeAlert && (plantilla.key==0 || (fecContratDesd.length==0 && fecLiquiDesd.length==0))"
          style="border: 1px solid silver; padding: 10px;"
        >
          <div class="col-xs-1 col-sm-1 col-lg-1" style="vertical-align: middle;">
            <img alt="nueva_plantilla" src="images/warning.png" height="26px">
          </div>
          <div class="col-xs-11 col-md-11 col-lg-11">
            <p style="margin: 3px;" ng-if="plantilla.key==0 && activeAlert">- Es obligatorio seleccionar la
              Plantilla para la generaci&oacute;n de informe</p>
            <p style="margin: 3px;" ng-if="fecLiquiDesd.length==0 && fecContratDesd.length==0 && activeAlert">- Es
              obligatorio seleccionar la Fecha Contrataci&oacute;n Desde o la Fecha Liquidaci&oacute;n Desde</p>
          </div>
        </div>
        <div class="three-columns">
          <!-- Primera columna -->
          <div>
            <label class="desresumen" for="filtro_plantilla">Plantilla:</label> <select tabindex="1"
              id="filtro_plantilla" style="width: 200px;" ng-model="plantilla"
              ng-options="idioma.value for idioma in listPlantillas"
              ng-class="{'autocomplete-required':plantilla.key==0 && activeAlert}"
            >
              <option value="" ng-if="false"></option>
            </select>
          </div>
          <div>
            <label class="desresumen" for="filtro_fecContratDesd">Fecha Contrataci&oacute;n Desde:</label> <input tabindex="2"
              style="width: 200px;" type="text" id="filtro_fecContratDesd" ng-model="fecContratDesd" class="anchoinp2"
              ng-class="{'autocomplete-required':fecLiquiDesd.length==0 && fecContratDesd.length==0 && activeAlert}"
              placeholder="dd/MM/yyyy" readonly="readonly"
            />
            <button style="width: 50px; margin-left: 4px;" ng-click="vaciar('filtro_fecContratDesd')">
              <span>Vaciar</span>
            </button>
          </div>
          <div>
            <label class="desresumen" for="filtro_fecLiquiDesd">Fecha Liquidaci&oacute;n Desde:</label> <input tabindex="4"
              style="width: 200px;" type="text" id="filtro_fecLiquiDesd" ng-model="fecLiquiDesd" class="anchoinp2"
              ng-class="{'autocomplete-required':fecContratDesd.length==0 && fecLiquiDesd.length==0 && activeAlert}"
              placeholder="dd/MM/yyyy" readonly="readonly"
            />
            <button style="width: 50px; margin-left: 4px;" ng-click="vaciar('filtro_fecLiquiDesd')">
              <span>Vaciar</span>
            </button>
          </div>
          <div>
            <label for="plantilla_alias" class="desresumen" style="float: left;">ALIAS:</label>
            <div style="width: 250px; margin-left: 4px; margin-top: 7px;" class="anchoinp">
              <input style="width: 200px;" type="text" id="filtro_alias" ng-model="aliasFiltro" class="anchoinp2"
                maxlength=25 auto-uppercase
              /> <select id="filtro_alias_select" size="4 " style="width: 200px;" ng-model="aliasSelect"
                ng-options="alias.value for alias in filtro.listaAlias"
              >
                <option value="" ng-if="false"></option>
              </select>
              <div style="" width: 159px; align:center; margin-top: 2px;" class="anchoinp">
                <button style="width: 40px; margin-left: 4px;" ng-click="subirElementoTabla('alias')">
                  <img src="../sibbac20/img/ico_collapser_up.png" />
                </button>
                <button style="width: 40px; margin-left: 4px;" ng-click="bajarElementoTabla('alias')">
                  <img src="../sibbac20/img/ico_collapser_down.png" />
                </button>
                <button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('alias')">
                  <span class="negrita">-</span>
                </button>
                <button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('alias')">
                  <span>Vaciar</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="three-columns">
          <!-- Segunda columna -->
          <div>
            <label class="desresumen">&nbsp;</label>
            <div id="div_espacio" class="anchoinp2">&nbsp;</div>
          </div>
          <div>
            <label class="desresumen" for="filtro_fecContratHast">Fecha Contrataci&oacute;n Hasta:</label> <input tabindex="3"
              style="width: 200px;" type="text" id="filtro_fecContratHast" ng-model="fecContratHast" class="anchoinp2"
              placeholder="dd/MM/yyyy" readonly="readonly"
            />
            <button style="width: 50px; margin-left: 4px;" ng-click="vaciar('filtro_fecContratHast')">
              <span>Vaciar</span>
            </button>
          </div>
          <div>
            <label class="desresumen" for="filtro_fecLiquiHast">Fecha Liquidaci&oacute;n Hasta:</label> <input tabindex="5"
              style="width: 200px;" type="text" id="filtro_fecLiquiHast" ng-model="fecLiquiHast" class="anchoinp2"
              placeholder="dd/MM/yyyy" readonly="readonly"
            />
            <button style="width: 50px; margin-left: 4px;" ng-click="vaciar('filtro_fecLiquiHast')">
              <span>Vaciar</span>
            </button>
          </div>

          <div>
            <label for="filtro_isin" class="desresumen" style="float: left;">ISIN:</label>
            <div style="width: 250px; margin-left: 4px; margin-top: 7px;" class="anchoinp">
              <input style="width: 200px;" type="text" id="filtro_isin" ng-model="isinFiltro" class="anchoinp2"
                maxlength=25 auto-uppercase
              /> <select id="filtro_isin_select" size="4 " style="width: 200px;" ng-model="isinSelect"
                ng-options="isin.value for isin in filtro.listaCdisin"
              >
                <option value="" ng-if="false"></option>
              </select>
              <div style="" width: 159px; align:center; margin-top: 2px;" class="anchoinp">
                <button style="width: 40px; margin-left: 4px;" ng-click="subirElementoTabla('isin')">
                  <img src="../sibbac20/img/ico_collapser_up.png" />
                </button>
                <button style="width: 40px; margin-left: 4px;" ng-click="bajarElementoTabla('isin')">
                  <img src="../sibbac20/img/ico_collapser_down.png" />
                </button>
                <button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('isin')">
                  <span class="negrita">-</span>
                </button>
                <button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('isin')">
                  <span>Vaciar</span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="three-columns">
          <div>
            <label class="desresumen">&nbsp;</label>
            <div id="div_espacio" class="anchoinp2">&nbsp;</div>
          </div>
          <div>
            <label class="desresumen">&nbsp;</label>
            <div id="div_espacio" class="anchoinp2">&nbsp;</div>
          </div>
          <div>
            <label class="desresumen">&nbsp;</label>
            <div id="div_espacio" class="anchoinp2">&nbsp;</div>
          </div>
          <div>
            <label for="filtro_isin" class="desresumen" style="float: left;">Opciones especiales:</label>
            <div style="" width: 159px; align:center; margin-top: 2px;" class="anchoalias">
              <input type="radio" ng-model="filtro.especiales" value="EXCLROUTING"> 
              Excluir routing <br/>
              <input type="radio" ng-model="filtro.especiales" value="EXCLBARRID"> 
              Excluir barridos de derechos <br/>
              <input type="radio" ng-model="filtro.especiales" value="ALL">
              Incluir todos
            </div>            
          </div>
        </div>
      </fieldset>

      <div class="centrar top-10">
        <input type="button" class="btn buscador mybutton" id="generar" value="Consultar" ng-click="generarInforme()" /> <input
          class="btn buscador mybutton" id="generarExcel" value=" Exporta a Excel" ng-click="generarInformeExcel()" ng-if="isPermisoAccion(SecurityActions.EXPORTAR_EXCEL)" /> <input class="btn buscador mybutton" id="generarExcelTercer" value="Exportar a Excel Terceros" ng-if="isPermisoAccion(SecurityActions.EXPORTAR_TERCEROS)" 
          ng-click="generarInformeExcelTerceros()"
        /> <input class="btn buscador mybutton" id="limpiar" value="Limpiar Filtros" ng-click="resetFiltro()" />
      </div>
    </form>
  </div>
  
  <div class="mensajeBusqueda" ng-show="!showingFilter">{{cadenaFiltros}}</div>
  
  <div class="contenedorTabla">
    <div id="contenedordatos"></div>
    <div class="centrar" ng-show="mostrardescargarexcelSimple && !mostrarErrores">
      <input class="btn buscador mybutton" id="generarExcelSimple"  ng-if="isPermisoAccion(SecurityActions.EXPORTAR_EXCEL)" value="Exportar a Excel"
        ng-click="generarInformeExcelSimpleDatatable()"
      /> 
      <input class="btn buscador mybutton" id="generarExcelTercer" ng-if="isPermisoAccion(SecurityActions.EXPORTAR_TERCEROS)" value="Exportar a Excel Terceros"
        ng-click="generarInformeExcelTercerosDatatable()"
      />
    </div>
  </div>
  <div class="centrar" id="mensajesError" ng-show="mostrarErrores">
    <p class="titleAlta" id="titleListaErrores">Resumen:</p>
    <p>{{mensajeError}}</p>
    <div class="centrar" ng-show="mensajeErrorQuery.length>0">
      QUERY:<br>{{mensajeErrorQuery}}
    </div>
  </div>
</article>
