<article class="center">
	<div title-slide-filter showing="showingFilter">Planificaci&oacute;n de Informes</div>
	<div class="buscador wrapper-95" id="buscador">
		<form>
			<fieldset>
				<div class="row">
					<div class="four-columns" style="margin-left: 20px;">
						<div>
							<label class="desresumen" for="filtro_class">Clase:</label>
							<select id="filtro_class" style="width: 200px;" ng-model="filtro.clase" ng-options="clase as clase.nombre for clase in listClasesFiltro"	ng-change="cargarPlantillasMercadosFiltro(true);">
								<option value="" ng-if="false"></option>
							</select>
						</div>
						
						<div>
							<label class="desresumen" for="filtro_mercad">Mercado:</label>
							<select id="filtro_mercad" style="width: 200px;" ng-model="filtro.mercado" ng-options="mercado as mercado.value for mercado in listMercados"	ng-change="cargarPlantillasMercadosFiltro(false);">
								<option value="" ng-if="false"></option>
							</select>
						</div>
					</div>
					<div class="four-columns" style="margin-left: -10px;">
						<div>
							<label for="filtro_informe" class="desresumen">Plantilla:</label> 
							<select style="width: 200px;" ng-model="filtro.informe" ng-options="item.value for item in listInformes"></select>
						</div>
	
						<div>
							<label for="filtro_periodo" class="desresumen">Periodo Planificado:</label> 
							<select style="width: 200px;" ng-model="filtro.periodo" ng-options="item.value for item in listPeriodos"></select>
						</div>
					</div>
					<div class="four-columns" style="margin-left: -10px;">
						<div>
							<label for="filtro_fichero" class="desresumen">Nombre Fichero:</label> 
							<input style="width: 200px;" type="text" id="filtro_fichero" ng-model="filtro.fichero" class="anchoinp2" maxlength=100 auto-uppercase/>
						</div>
						<div>
							<label class="desresumen">Tipo Destino:</label> 
							<select style="width: 200px;" ng-model="filtro.tipoDestino" ng-options="item.value for item in listTipoDestino">
							<option value="" ng-if="false"></option>
							</select>
						</div>
					</div>
					
					<div class="four-columns" style="margin-left: -10px;">
						<div>
							<label for="filtro_destino" class="desresumen">Destino:</label> 
							<input style="width: 200px;" type="text" id="filtro_destino" ng-model="filtro.destino" class="anchoinp2" maxlength=200/>
						</div>
						<div>
							<label class="desresumen">Formato:</label> 
							<select style="width: 200px;" ng-model="filtro.formato" ng-options="item.value for item in listFormato">
							<option value="" ng-if="false"></option>
							</select>
						</div>
					</div>
				</div>
	
				<div class="centrar" style="padding-top: 30px;">
					<input type="button" class="btn mybutton" id="consultarInformes" value="Consultar" ng-click="consultar()" style="width:100px;"/> 
					<input type="button" class="btn mybutton" id="limpiar" value="Limpiar" ng-click="resetFiltro()" style="width:100px;"/>
				</div>
				<div class="spacer20"></div>

			</fieldset>
		</form>
	</div>
	<br />
	<div class="mensajeBusqueda" ng-show="!showingFilter">{{getFollowSearch()}}</div>

   	<div class="contenedorTabla">
      <table id="datosPlanificacionInformes" class="fullTable ancha" cellspacing="0">
        <thead>
          <tr>
            <th class="taleft">Selecci&oacute;n</th>
            <th class="taleft">Informe</th>
            <th class="taleft">Periodo Planificado</th>
            <th class="taleft">Nombre Fichero</th>
            <th class="taleft">Tipo Destino</th>
            <th class="taleft">Destino</th>
            <th class="taleft">Formato</th>
            <th class="taleft">Separador Decimal</th>
            <th class="taleft">Separador Miles</th>
            <th class="taleft">Separador Campos</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="centrar">
<!--         <input class="btn buscador mybutton" value="Crear" ng-click="abrirCrearPlantillaInforme()" ng-if="isPermisoAccion(SecurityActions.CREAR)" />  -->
		<input type="button" class="btn buscador mybutton" value="Crear" ng-click="abrirCrearPlanificacionInforme()" />
<!--         <input class="btn buscador mybutton" value="Modificar" ng-click="abrirModificarPlantillaInforme()" ng-if="isPermisoAccion(SecurityActions.MODIFICAR)" />  -->
		<input type="button" class="btn buscador mybutton" value="Modificar" ng-click="abrirModificarPlanificacionInforme()" />
<!--         <input class="btn buscador mybutton" value="Borrar" ng-click="borrarPlantillaInforme()" ng-if="isPermisoAccion(SecurityActions.BORRAR)" /> -->
        <input type="button" class="btn buscador mybutton" value="Eliminar" ng-click="borrarPlanificacionInforme()"/> 
        <input type="button" class="btn buscador mybutton" value="Seleccionar Todos" ng-click="seleccionarTodos()"/> 
        <input type="button" class="btn buscador mybutton" value="Deseleccionar Todos" ng-click="deseleccionarTodos()" /> 
      </div>
    </div>	
</article>

<div id="formularios" class="modal modalPlanificacionInformes" ng-click="ocultarAlert()">
	<div class="esquinar">
		<a data-dismiss="modal" id="cerrarTitular">
			<img src="img/closeModal.png" title="Cerrar Ventana"style="cursor: pointer;"/>
		</a>
	</div>

	<p class="titleAlta" id="titleTitulo">{{modal.titulo}}</p>

<!-- Espacio para mensajes de error -->

	<fieldset>
		<div class="panel panel-body" style="border: 1px solid silver; padding: 10px;" ng-show="(!validaModal.isRutaValida || !validaModal.isMailValido || validaModal.isCamposRequeridos) && activeAlert">
			<div class="col-xs-1 col-sm-1 col-lg-1" style="vertical-align: middle;">
				<img alt="nueva_plantilla" src="images/warning.png" height="26px">
			</div>
			<div class="col-xs-11 col-md-11 col-lg-11">
				<p style="margin: 3px;" ng-if="!validaModal.isMailValido">- La dirección de e-mail ingresada no es correcta</p>
				<p style="margin: 3px;" ng-if="!validaModal.isRutaValida">- La ruta ingresada no es correcta. Ejemplo v&aacute;lido: /dir1/dir2/</p>
				<p style="margin: 3px;" ng-if="validaModal.isCamposRequeridos">- Deben completarse los campos requeridos</p>
			</div>
		</div>
		<div>
			<div class="three-columns">
				<div>
					<label class="desresumen">Informe:</label> 
					<select style="width: 200px;" id="alta_informe" ng-model="alta.informe" ng-options="item.key as item.value for item in listInformesAlta" ng-class="{'disabledPlanificacionInforme': modal.showModificar}" ng-disabled="modal.showModificar"></select>
<!-- 					<input style="width: 200px;" type="text" id="alta_informe" ng-model="informeAlta" class="anchoinp2" maxlength=25 auto-uppercase ng-class="{'autocomplete-required':alta.informe == '' && activeAlert}" ng-disabled="modal.showModificar"/> -->
				</div>
		
				<div>
					<label class="desresumen">Periodo Planificado:</label> 
					<select style="width: 200px;" ng-model="alta.periodo" ng-options="item.key as item.value for item in listPeriodos" auto-uppercase ng-class="{'autocomplete-required':alta.periodo == '' && activeAlert}"></select>
				</div>
				<div>
					<label for="alta_fichero" class="desresumen">Nombre Fichero:</label> 
					<input style="width: 200px;" type="text" id="alta_fichero" ng-model="alta.fichero" class="anchoinp2" maxlength=100 auto-uppercase ng-class="{'autocomplete-required':alta.fichero == '' && activeAlert}"/>
				</div>
			</div>
			<div class="three-columns">
				<div>
					<label class="desresumen">Tipo Destino:</label> 
					<select style="width: 200px;" ng-model="alta.tipoDestino" ng-options="item.key as item.value for item in listTipoDestino" ng-class="{'autocomplete-required':alta.tipoDestino == '' && activeAlert}">
					<option value="" ng-if="false"></option>
					</select>
				</div>
				<div>
					<label for="alta_destino" class="desresumen">Destino:</label> 
					<input style="width: 200px;" type="text" id="alta_destino" ng-model="alta.destino" class="anchoinp2" maxlength=200 ng-class="{'autocomplete-required':alta.destino == '' && activeAlert}"/>
				</div>
				<div>
					<label class="desresumen">Formato:</label> 
					<select style="width: 200px;" ng-model="alta.formato" ng-options="item.key as item.value for item in listFormato" ng-class="{'autocomplete-required':alta.formato == '' && activeAlert}">
					<option value="" ng-if="false"></option>
					</select>
				</div>
			</div>
			<div ng-show="alta.formato=='TEXTO PLANO'" class="three-columns">
				<div>
					<label for="alta_sepDecimal" class="desresumen">Separador Decimal:</label> 
					<input style="width: 200px;" type="text" id="alta_sepDecimal" ng-model="alta.sepDecimal" class="anchoinp2" maxlength=1 />
				</div>
				<div>
					<label for="alta_sepMiles" class="desresumen">Separador Miles:</label> 
					<input style="width: 200px;" type="text" id="alta_sepMiles" ng-model="alta.sepMiles" class="anchoinp2" maxlength=1 />
				</div>
				<div>
					<label for="alta_sepCampos" class="desresumen">Separador Campos:</label> 
					<input style="width: 200px;" type="text" id="alta_sepCampos" ng-model="alta.sepCampos" class="anchoinp2" maxlength=20 />
				</div>
			</div>
		</div>
	</fieldset>
	<div class="centrar" style="padding-top: 20px">
		<input type="button" class="btn mybutton" id="guardarDatosTitular" value="Guardar" ng-click="validarPlanificacionInforme()" ng-show="modal.showCrear"/>
		<input type="button" class="btn mybutton" id="guardarDatosTitular" value="Guardar" ng-click="validarPlanificacionInforme()" ng-show="modal.showModificar"/>
		<input type="button" class="btn mybutton" id="limpiarDatosTitular" value="Cancelar" ng-click="cerrarPlanificacion()" />
	</div>
</div>

<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje"></div>