<article class="center">
  <div title-slide-filter showing="showingFilter">Plantillas Informes</div>
  <div class="buscador wrapper-95" id="buscador">
    <form>
      <fieldset>
        <div class="two-columns">
          <!-- Primera columna -->
          <div>
            <label  class="desresumen" for="filtro_plantilla">Plantilla:</label> 
            <select id="filtro_plantilla" style="width:200px;" ng-model="plantillaFiltro" ng-options="idioma.value for idioma in listPlantillas">
            	<option value="" ng-if="false"></option>
            </select>
            <button id="btnPlantilla" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="invertirValores('plantilla')">
              <span class="negrita" id="textBtnInvTipoPersona">{{btnsFilter.btnPlantilla}}</span>
            </button>
            <span ng-style="btnsFilter.colorPlantilla">{{btnsFilter.textPlantilla}}</span>
          </div>
          <div>
            <label class="desresumen" for="filtro_idioma">Idioma:</label>
            <select id="filtro_idioma" style="width:200px;" ng-model="idiomaFiltro" ng-options="idioma.value for idioma in listIdiomas">
            	<option value="" ng-if="false"></option>
            </select>
            <button id="btnIdioma" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="invertirValores('idioma')">
              <span class="negrita">{{btnsFilter.btnIdioma}}</span>
            </button>
            <span ng-style="btnsFilter.colorIdioma">{{btnsFilter.textIdioma}}</span>
          </div>
          <div>
            <label class="desresumen" for="filtro_camposDetalle" style="float: left;">Campos Detalle:</label> 
            <div style="width: 250px; margin-left: 4px; margin-top: 7px;" class="anchoinp">
             	<input type="text" id="filtro_campoDetalle" class="anchoinp" auto-uppercase ng-model="form.campoDetalleFilter"/>
            	<select id="filtro_camposDetalle" size="4" style="width:200px;" ng-model="form.camposDetalleFilter" ng-options="campo.value for campo in filtro.camposDetalle">
            		<option value="" ng-if="false"></option>
            	</select>
            	<div style="width: 250px; align:center; margin-top: 2px;" class="anchoinp">
	              	<button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('detalleFiltro')">
		              	<span class="negrita">-</span>
		            </button>
		           	<button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('detalleFiltro')">
		              	<span>Vaciar</span>
		           	</button>
	            	<button id="btnCamposDetalle" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="invertirValores('camposDetalle')">
	                	<span class="negrita">{{btnsFilter.btnCamposDetalle}}</span>
	              	</button>
	             	<span ng-style="btnsFilter.colorCamposDetalle">{{btnsFilter.textCamposDetalle}}</span>
	             </div>
            </div>
            
          </div>
        </div>
        <div class="two-columns">
          <!-- Segunda columna -->
		  <div>
            <label class="desresumen" for="filtro_totalizar">Totalizar:</label>
            <select id="filtro_totalizar" style="width:200px;" ng-model="totalizarFiltro" ng-options="totalizar.value for totalizar in listTotalizar">
            	<option value="" ng-if="false"></option>
            </select>
            <button id="btnTotalizar" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="invertirValores('totalizar')">
              <span class="negrita" >{{btnsFilter.btnTotalizar}}</span>
            </button>
            <span ng-style="btnsFilter.colorTotalizar"">{{btnsFilter.textTotalizar}}</span>
          </div>
          <div>
            <label class="desresumen" for="filtro_alias">Alias:</label>
            <input style="width: 200px;" type="text" id="filtro_alias" ng-model="aliasFiltro" class="anchoinp2" maxlength=25 auto-uppercase/>
            <button id="btnAlias" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="invertirValores('alias')">
              <span class="negrita" >{{btnsFilter.btnAlias}}</span>
            </button>
            <span ng-style="btnsFilter.colorAlias">{{btnsFilter.textAlias}}</span>
          </div>
          <div>
            <label class="desresumen" for="filtro_isin">ISIN:</label>
             <input style="width: 200px;" type="text" id="filtro_isin" ng-model="isinFiltro" class="anchoinp2" maxlength=25 auto-uppercase/>
             <button id="btnIsin" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="invertirValores('isin')">
              <span class="negrita">{{btnsFilter.btnIsin}}</span>
            </button>
            <span ng-style="btnsFilter.colorIsin">{{btnsFilter.textIsin}}</span>
          </div>
        </div>
      </fieldset>
	  <div class="centrar top-10">
	     <input class="btn buscador mybutton" id="buscar" value="Consultar" ng-click="consultar()"/> 
	     <input class="btn buscador mybutton" id="limpiar" value="Limpiar Filtros" ng-click="resetFiltro()"/>
	  </div>
    </form>
  </div>
  
   	<div class="contenedorTabla">
      <table id="datosPlantillasInformes" class="fullTable ancha" cellspacing="0">
        <thead>
          <tr>
            <th class="taleft">Selecci&oacute;n</th>
            <th class="taleft">Plantilla</th>
            <th class="taleft">Idioma</th>
            <th class="taleft">Totalizar</th>
            <th class="taleft">Campos Detalle</th>
            <th class="taleft">Alias</th>
            <th>ISIN</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="centrar">
        <input class="btn buscador mybutton" value="Crear" ng-click="abrirCrearPlantillaInforme()" ng-if="isPermisoAccion(SecurityActions.CREAR)" /> 
        <input class="btn buscador mybutton" value="Modificar" ng-click="abrirModificarPlantillaInforme()" ng-if="isPermisoAccion(SecurityActions.MODIFICAR)" /> 
        <input class="btn buscador mybutton" value="Borrar" ng-click="borrarPlantillaInforme()" ng-if="isPermisoAccion(SecurityActions.BORRAR)" /> 
        <input class="btn buscador mybutton" value="Seleccionar Todos" ng-click="seleccionarTodos()"/> 
        <input class="btn buscador mybutton" value="Deseleccionar Todos" ng-click="deseleccionarTodos()" /> 
      </div>
    </div>
</article>   
    
<div id="formularios" class="modal modalPlantillasInformes" ng-click="ocultarAlert()">

  <div class="esquinar">
    <a data-dismiss="modal" id="cerrarTitular">
    	<img src="img/closeModal.png" title="Cerrar Ventana"style="cursor: pointer;"/>
    </a>
  </div>

  <p class="titleAlta" id="titleTitulo">{{modal.titulo}}</p>

	<div class="panel panel-body" ng-show="activeAlert && (!plantilla.nbdescription || plantilla.listaCamposDetalle.length==0 || 
				plantilla.listaCamposOrdenacion.length==0)" style="border: 1px solid silver; padding: 10px;">
			<div class="col-xs-1 col-sm-1 col-lg-1" style="vertical-align:middle;">
				 <img alt="nueva_plantilla" src="images/warning.png" height="26px"> 
			</div>
			<div class="col-xs-11 col-md-11 col-lg-11">
				<p style="margin:3px;" ng-if="!plantilla.nbdescription && activeAlert">- El campo nombre de plantilla no es correcto</p>
				<p style="margin:3px;" ng-if="!plantilla.listaCamposDetalle.length>0 && activeAlert">- Es obligatorio seleccionar campos de detalle</p>
				<p style="margin:3px;" ng-if="plantilla.listaCamposOrdenacion.length==0">- Es obligatorio seleccionar campos de ordenación</p>
			</div>
	</div>
	<div class="panel panel-body" ng-show="mensajeAlert && !activeAlert" style="border: 1px solid silver; padding: 10px;">
			<div class="col-xs-1 col-sm-1 col-lg-1" style="vertical-align:middle;">
				 <img alt="nueva_plantilla" ng-src="{{srcImage}}" height="26px"> 
			</div>
			<div class="col-xs-11 col-md-11 col-lg-11">
				<p style="margin:3px;">{{mensajeAlert}}</p>
			</div>
	</div>
    <fieldset>
      <div>
        <!-- primera columna -->
        <div class="three-columns">
          <div>
            <label for="plantilla_nombre" class="desresumen">Nombre Plantilla:</label> 
            <input style="width: 341px;" type="text" id="plantilla_nombre" class="anchoinp2" ng-class="{'autocomplete-required':!plantilla.nbdescription && activeAlert}"  maxlength=100 ng-model="plantilla.nbdescription" auto-uppercase/>
          </div>
          <div style="width:50%;">
            <label for="plantilla_totalizar" class="desresumen">Totalizar:</label> 
            <select id="plantilla_totalizar" style="width:140px;" ng-model="form.totalizar" ng-options="totalizar.value for totalizar in listTotalizar">
            	<option value="" ng-if="false"></option>
            </select>
          </div>
          <div style="width:50%;">
            <label for="plantilla_idioma" class="desresumen">Idioma:</label> 
            <select id="plantilla_idioma" style="width:150px;" ng-model="form.idioma" ng-options="idioma.value for idioma in listIdiomas">
            	<option value="" ng-if="false"></option>
            </select>
          </div>
          <div>
            <label for="plantilla_camposDetalle" class="desresumen">Campos Detalle:</label>
            <div style="width: 341px;" class="anchoinp">
             	<select id="plantilla_campoDetalle" style="width:341px;" ng-model="form.campoDetallePlantilla" ng-options="campo.value for campo in listCamposDetalle" ng-change="procesarCampoDetalle()">
             		<option value="" ng-if="false"></option>
             	</select>
            	<select id="plantilla_camposDetalle" size="7" style="width:341px;" ng-class="{'autocomplete-required':plantilla.listaCamposDetalle.length==0 && activeAlert}" ng-model="form.camposDetallePlantilla" ng-options="campo.value for campo in plantilla.listaCamposDetalle">
            		<option value="" ng-if="false"></option>
            	</select>
            	<div style="style="width: 159px; align:center; margin-top: 2px;" class="anchoinp">
	            	 <button style="width: 40px; margin-left: 4px;" ng-click="subirElementoTabla('detalle')">
	              		<img src="../sibbac20/img/ico_collapser_up.png"/>
	           		 </button>
	           		 <button style="width: 40px; margin-left: 4px;" ng-click="bajarElementoTabla('detalle')">
	              		<img src="../sibbac20/img/ico_collapser_down.png"/>
	           		 </button>
	           		 <button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('detalle')">
	              		<span class="negrita">-</span>
	           		 </button>
	           		 <button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('detalle')">
	              		<span>Vaciar</span>
	           		 </button>
	             </div>
            </div> 
          </div>
          <div>
	          <label for="plantilla_textolibre" class="desresumen">Otras condiciones:</label> 
	       	  <div style="width: 341px;" class="anchoinp">
	          	<textarea  rows="4"  style="width:341px;margin-left: 0%" id="plantilla_textolibre"   maxlength=32768 ng-model="plantilla.nbtxtlibre" auto-uppercase/>
	          </div>
	      </div>   
        </div>

        <!-- segunda columna -->
        <div class="four-small-columns">
          <div>
            <label for="plantilla_camposAgrupacion" class="desresumen">Campos Agrupación:</label><input type="checkbox" ng-model="checked" ng-click="vaciarTabla('agrupacion')">
             <div style="width: 159px;" class="anchoinp">
             	<select ng-disabled="!checked" id="plantilla_campoAgrupacion" style="width:215px;" ng-model="form.campoAgrupacionPlantilla" ng-options="campo.value for campo in plantilla.listaCamposDetalle" ng-change="procesarCampoAgrup()" >
             		<option value="" ng-if="false"></option>
             	</select>
            	<select ng-disabled="!checked" id="plantilla_camposAgrupacion" size="8" style="width:215px;" ng-class="{'autocomplete-required': form.totalizar.key == 'S' && plantilla.listaCamposAgrupacion.length==0 && activeAlert}" ng-model="form.camposAgrupacionPlantilla" ng-options="campo.value for campo in plantilla.listaCamposAgrupacion">
            		<option value="" ng-if="false"></option>
            	</select>
            	<div style="style="width: 159px; align:center; margin-top: 2px;" class="anchoinp">
	            	 <button style="width: 40px; margin-left: 4px;" ng-click="subirElementoTabla('agrupacion')" ng-disabled="!checked">
	              		<img src="../sibbac20/img/ico_collapser_up.png"/>
	           		 </button>
	           		 <button style="width: 40px; margin-left: 4px;" ng-click="bajarElementoTabla('agrupacion')" ng-disabled="!checked">
	              		<img src="../sibbac20/img/ico_collapser_down.png"/>
	           		 </button>
	           		 <button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('agrupacion')" ng-disabled="!checked">
	              		<span class="negrita">-</span>
	           		 </button>
	             </div>
            </div>  
          </div>
          <div>
            <label for="plantilla_camposAgrupacion" class="desresumen">Campos Ordenación:</label>
             <div style="width: 159px;" class="anchoinp">
             	<select id="plantilla_campoOrdenacion" style="width:215px;" ng-model="form.campoOrdenacionPlantilla" ng-options="campo.value for campo in plantilla.listaCamposDetalle" ng-change="procesarCampoOrden()">
             		<option value="" ng-if="false"></option>
             	</select>
            	<select id="plantilla_camposOrdenacion" size="8" style="width:215px;" ng-class="{'autocomplete-required':plantilla.listaCamposOrdenacion.length==0 && activeAlert}" ng-model="form.camposOrdenacionPlantilla" ng-options="campo.value for campo in plantilla.listaCamposOrdenacion">
            		<option value="" ng-if="false"></option>
            	</select>
            	<div style="style="width: 159px; align:center; margin-top: 2px;" class="anchoinp">
	            	 <button style="width: 40px; margin-left: 4px;" ng-click="subirElementoTabla('ordenacion')">
	              		<img src="../sibbac20/img/ico_collapser_up.png"/>
	           		 </button>
	           		 <button style="width: 40px; margin-left: 4px;" ng-click="bajarElementoTabla('ordenacion')">
	              		<img src="../sibbac20/img/ico_collapser_down.png"/>
	           		 </button>
	           		 <button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('ordenacion')">
	              		<span class="negrita">-</span>
	           		 </button>
	           		 <button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('ordenacion')">
	              		<span>Vaciar</span>
	           		 </button>
	             </div>
            </div>  
          </div>
        </div>
        <div class="four-small-columns">
        	<div>
            <label for="plantilla_camposSeparacion" class="desresumen">Campos Separación:</label> 
             <div style="width: 159px;" class="anchoinp">
             	<select id="plantilla_campoSeparacion" style="width:215px;" ng-model="form.campoSeparacionPlantilla" ng-options="campo.value for campo in plantilla.listaCamposOrdenacion" ng-change="procesarCampoSep()">
             		<option value="" ng-if="false"></option>
             	</select>
            	<select id="plantilla_camposSeparacion"  size="8" style="width:215px;" ng-model="form.camposSeparacionPlantilla" ng-options="campo.value for campo in plantilla.listaCamposSeparacion">
            		<option value="" ng-if="false"></option>
            	</select>
            	<div style="style="width: 159px; align:center; margin-top: 2px;" class="anchoinp">
	            	 <button style="width: 40px; margin-left: 4px;" ng-click="subirElementoTabla('separacion')">
	              		<img src="../sibbac20/img/ico_collapser_up.png"/>
	           		 </button>
	           		 <button style="width: 40px; margin-left: 4px;" ng-click="bajarElementoTabla('separacion')">
	              		<img src="../sibbac20/img/ico_collapser_down.png"/>
	           		 </button>
	           		 <button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('separacion')">
	              		<span class="negrita">-</span>
	           		 </button>
	           		 <button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('separacion')">
	              		<span>Vaciar</span>
	           		 </button>
	             </div>
          	</div>
         </div>
         <div ng-show="modal.showAlias">
            <label for="plantilla_alias" class="desresumen">Alias:</label> 
            <input style="width: 215px;" type="text" id="plantilla_alias" ng-model="form.aliasInput" class="anchoinp2" maxlength=25 auto-uppercase/>
            <select id="plantilla_alias" size="8" style="width:215px;" ng-model="form.aliasSelect" ng-options="alias.value for alias in plantilla.listaAlias">
            	<option value="" ng-if="false"></option>
            </select>
            <div style="style="width: 159px; align:center; margin-top: 2px;" class="anchoinp">
            	 <button style="width: 40px; margin-left: 4px;" ng-click="subirElementoTabla('alias')">
              		<img src="../sibbac20/img/ico_collapser_up.png"/>
           		 </button>
           		 <button style="width: 40px; margin-left: 4px;" ng-click="bajarElementoTabla('alias')">
              		<img src="../sibbac20/img/ico_collapser_down.png"/>
           		 </button>
           		 <button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('alias')">
              		<span class="negrita">-</span>
           		 </button>
           		 <button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('alias')">
              		<span>Vaciar</span>
           		 </button>
             </div>
          </div>
       </div>
       <div class="four-small-columns">
		  <div>
            <label for="plantilla_camposCabecera" class="desresumen">Campos Cabecera:</label>
             <div style="width: 159px;" class="anchoinp">
             	<select id="plantilla_campoCabecera" style="width:215px;" ng-model="form.campoCabeceraPlantilla" ng-options="campo.value for campo in plantilla.listaCamposSeparacion" ng-change="procesarCampoCabecera()">
             		<option value="" ng-if="false"></option>
             	</select>
            	<select id="plantilla_camposCabecera" size="8" style="width:215px;" ng-model="form.camposCabeceraPlantilla" ng-options="campo.value for campo in plantilla.listaCamposCabecera">
            		<option value="" ng-if="false"></option>
            	</select>
            	<div style="style="width: 159px; align:center; margin-top: 2px;" class="anchoinp">
	            	 <button style="width: 40px; margin-left: 4px;" ng-click="subirElementoTabla('cabecera')">
	              		<img src="../sibbac20/img/ico_collapser_up.png"/>
	           		 </button>
	           		 <button style="width: 40px; margin-left: 4px;" ng-click="bajarElementoTabla('cabecera')">
	              		<img src="../sibbac20/img/ico_collapser_down.png"/>
	           		 </button>
	           		 <button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('cabecera')">
	              		<span class="negrita">-</span>
	           		 </button>
	           		 <button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('cabecera')">
	              		<span>Vaciar</span>
	           		 </button>
	             </div>
            </div>  
          </div>
          <div ng-show="modal.showIsin">
            <label for="plantilla_isin" class="desresumen">ISIN:</label>
            <input style="width: 215px;" type="text" id="plantilla_isin" ng-model="form.isinInput" class="anchoinp2" maxlength=25 auto-uppercase/>
            <select id="plantilla_alias" size="8" style="width:215px;" ng-model="form.isinSelect" ng-options="isin.value for isin in plantilla.listaCdisin">
            	<option value="" ng-if="false"></option>
            </select>
            <div style="style="width: 159px; align:center; margin-top: 2px;" class="anchoinp">
            	 <button style="width: 40px; margin-left: 4px;" ng-click="subirElementoTabla('isin')">
              		<img src="../sibbac20/img/ico_collapser_up.png"/>
           		 </button>
           		 <button style="width: 40px; margin-left: 4px;" ng-click="bajarElementoTabla('isin')">
              		<img src="../sibbac20/img/ico_collapser_down.png"/>
           		 </button>
           		 <button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('isin')">
              		<span class="negrita">-</span>
           		 </button>
           		 <button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('isin')">
              		<span>Vaciar</span>
           		 </button>
             </div>
          </div>
        </div>
     </div>
    </fieldset>
    <div class="centrar" style="padding-top: 20px">
      <input class="btn mybutton" id="guardarDatosTitular" value="Guardar y Mantener" ng-click="crearPlantillaInforme(false)" ng-show="modal.showCrear"/>
      <input class="btn mybutton" id="guardarDatosTitular" value="Guardar y Mantener" ng-click="modificarPlantillaInforme(false)" ng-show="modal.showModificar"/>
      <input class="btn mybutton" id="guardarDatosTitular" value="Guardar y Salir" ng-click="crearPlantillaInforme(true)" ng-show="modal.showCrear"/>
      <input class="btn mybutton" id="guardarDatosTitular" value="Modificar y Salir" ng-click="modificarPlantillaInforme(true)" ng-show="modal.showModificar"/>
      <input class="btn mybutton" id="limpiarDatosTitular" value="Limpiar Campos" ng-click="resetPlantilla()" ng-show="modal.showCrear"/>
    </div>
</div>
<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje"></div>
<div id="dialog-confirm"></div>

