<div ng-show="isAuthenticated()">
	<article class="center">
	  <div title-slide-filter showing="showingFilter">Plantillas Informes</div>
	  <div class="buscador wrapper-95" id="buscador">
	    <form>
	      <fieldset>
	        <div class="three-columns">
	          <!-- Primera columna -->
	          <div>
	            <label  class="desresumen" for="filtro_clase">Clase:</label> 
	            <select id="filtro_clase" style="width:200px;" ng-model="filtro.clase" ng-options="clase as clase.nombre for clase in listClasesFiltro" ng-change="cargarCamposDetalleFiltro();cargarPlantillasMercadosFiltro();">
	            	<option value="" ng-if="false"></option>
	            </select>
	            <button id="btnClase" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="invertirValores('clase')">
	              <span class="negrita" id="textBtnInvClase">{{btnsFilter.btnClase}}</span>
	            </button>
	            <span ng-style="btnsFilter.colorClase">{{btnsFilter.textClase}}</span>
	          </div>
	          <div>
	            <label  class="desresumen" for="filtro_plantilla">Plantilla:</label> 
	            <select id="filtro_plantilla" style="width:200px;" ng-model="filtro.plantilla" ng-options="informe as informe.value for informe in listPlantillas">
	            	<option value="" ng-if="false"></option>
	            </select>
	            <button id="btnPlantilla" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="invertirValores('plantilla')">
	              <span class="negrita" id="textBtnInvTipoPersona">{{btnsFilter.btnPlantilla}}</span>
	            </button>
	            <span ng-style="btnsFilter.colorPlantilla">{{btnsFilter.textPlantilla}}</span>
	          </div>
	        </div>
	        <div class="three-columns">
	          <!-- Segunda columna -->
	          <div>
	            <label class="desresumen" for="filtro_idioma">Idioma:</label>
	            <select id="filtro_idioma" style="width:200px;" ng-model="filtro.idioma" ng-options="idioma as idioma.value for idioma in listIdiomas">
	            	<option value="" ng-if="false"></option>
	            </select>
	            <button id="btnIdioma" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="invertirValores('idioma')">
	              <span class="negrita">{{btnsFilter.btnIdioma}}</span>
	            </button>
	            <span ng-style="btnsFilter.colorIdioma">{{btnsFilter.textIdioma}}</span>
	          </div>
	          <div>
	            <label class="desresumen" for="filtro_mercado">Mercado:</label>
	            <select id="filtro_mercado" style="width:200px;" ng-model="filtro.mercado" ng-options="mercado as mercado.value for mercado in listMercados" ng-change="cargarCamposDetalleFiltro()">
	            	<option value="" ng-if="false"></option>
	            </select>
	            <button id="btnMercado" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="invertirValores('mercado')">
	              <span class="negrita">{{btnsFilter.btnMercado}}</span>
	            </button>
	            <span ng-style="btnsFilter.colorMercado">{{btnsFilter.textMercado}}</span>
	          </div>
	        </div>
	        
	        <div class="three-columns">
	        <!-- Tercera columna -->
	          <div>
	            <label class="desresumen" for="filtro_camposDetalle">Campos Detalle:</label> 
	            <div style="width: 250px; margin-left: 4px; margin-top: 7px;">
	<!--              	<select id="plantilla_campoDetalle" style="width:200px;" ng-model="form.campoDetalleFilter" ng-options="campo.value for campo in listCamposDetalleFiltro" ng-change="procesarCampoDetalleFiltro()"> -->
	<!--              		<option value="" ng-if="false"></option> -->
	<!--              	</select> -->
					<input type="text" ng-model="form.campoDetalleFilter" list="listaDetallesFiltro" style="width:200px;" ng-change="procesarCampoDetalleFiltro()">
					<datalist id="listaDetallesFiltro" class="anchoinp">
					    <option  data-ng-repeat="campo in listCamposDetalleFiltro" value="{{campo.value}}"> 
					</datalist>
	            	<select id="filtro_camposDetalle" size="4" style="width:200px;" ng-model="form.camposDetalleFilter" ng-options="campo.value for campo in filtro.camposDetalle">
	            		<option value="" ng-if="false"></option>
	            	</select>
	            	<div style="width: 250px; align:center; margin-top: 2px;">
		              	<button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('detalleFiltro')">
			              	<span class="negrita">-</span>
			            </button>
			           	<button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('detalleFiltro')">
			              	<span>Vaciar</span>
			           	</button>
		            	<button id="btnCamposDetalle" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="invertirValores('camposDetalle')">
		                	<span class="negrita">{{btnsFilter.btnCamposDetalle}}</span>
		              	</button>
		             	<span ng-style="btnsFilter.colorCamposDetalle">{{btnsFilter.textCamposDetalle}}</span>
		             </div>
	            </div>
	          </div>
	        </div>
	      </fieldset>
		  <div class="centrar top-10">
		     <input type="button" class="btn buscador mybutton" id="buscar" value="Consultar" ng-click="consultar()"/> 
		     <input type="button" class="btn buscador mybutton" id="limpiar" value="Limpiar Filtros" ng-click="resetFiltro()"/>
		  </div>
	    </form>
	  </div>
	  <div class="mensajeBusqueda" ng-show="!showingFilter">{{getFollowSearch()}}</div>
	  
	   	<div class="contenedorTabla">
	      <table id="datosPlantillasInformes" class="fullTable ancha" cellspacing="0">
	        <thead>
	          <tr>
	            <th class="taleft">Selecci&oacute;n</th>
	            <th class="taleft">Plantilla</th>
	            <th class="taleft">Clase</th>
	            <th class="taleft">Mercado</th>
	            <th class="taleft">Filtros Adicionales</th>
	            <th class="taleft">Planificado</th>
	            <th class="taleft">Usuario</th>
	            <th class="taleft">&Uacuteltima Actualizaci&oacuten</th>
	          </tr>
	        </thead>
	        <tbody></tbody>
	      </table>
	      <div class="centrar">
	        <input type="button" class="btn buscador mybutton" value="Crear" ng-click="abrirCrearPlantillaInforme()" ng-if="isPermisoAccion(SecurityActions.CREAR)" /> 
	        <input type="button" class="btn buscador mybutton" value="Modificar" ng-click="abrirModificarPlantillaInforme()" ng-if="isPermisoAccion(SecurityActions.MODIFICAR)" /> 
	        <input type="button" class="btn buscador mybutton" value="Borrar" ng-click="borrarPlantillaInforme()" ng-if="isPermisoAccion(SecurityActions.BORRAR)" /> 
	        <input type="button" class="btn buscador mybutton" value="Seleccionar Todos" ng-click="seleccionarTodos()"/> 
	        <input type="button" class="btn buscador mybutton" value="Deseleccionar Todos" ng-click="deseleccionarTodos()" /> 
	      </div>
	    </div>
	</article>   
	    
	<div id="formularios" class="modal modalPlantillasInformes" ng-click="ocultarAlert()">
	
	  <div class="esquinar">
	    <a data-dismiss="modal" id="cerrarTitular">
	    	<img src="img/closeModal.png" title="Cerrar Ventana"style="cursor: pointer;"/>
	    </a>
	  </div>
	
	  <p class="titleAlta" id="titleTitulo">{{modal.titulo}}</p>
	
		<div class="panel panel-body" ng-show="activeAlert && (!plantilla.nbdescription || plantilla.listaCamposDetalle.length==0 || 
					plantilla.listaCamposOrdenacion.length==0)" style="border: 1px solid silver; padding: 10px;">
				<div class="col-xs-1 col-sm-1 col-lg-1" style="vertical-align:middle;">
					 <img alt="nueva_plantilla" src="images/warning.png" height="26px"> 
				</div>
				<div class="col-xs-11 col-md-11 col-lg-11">
					<p style="margin:3px;" ng-if="!plantilla.nbdescription && activeAlert">- El campo nombre de plantilla no es correcto</p>
					<p style="margin:3px;" ng-if="!plantilla.listaCamposDetalle.length>0 && activeAlert">- Es obligatorio seleccionar campos de detalle</p>
					<p style="margin:3px;" ng-if="plantilla.listaCamposOrdenacion.length==0">- Es obligatorio seleccionar campos de ordenación</p>
	<!-- 				<p style="margin: 3px;" ng-if="errorValidarFechaBase && activeAlert">- Es obligatorio rellenar el campo {{labelFechaObligatoria}}</p> -->
	<!-- 				<p style="margin: 3px;"	ng-if="errorValidarFechaBaseNoEncontrada && activeAlert">- ERROR. Es obligatoria una fecha para la ejecución de este informe, contacte con IT</p> -->
			</div>
		</div>
		<div class="panel panel-body" ng-show="mensajeAlert && !activeAlert" style="border: 1px solid silver; padding: 10px;">
				<div class="col-xs-1 col-sm-1 col-lg-1" style="vertical-align:middle;">
					 <img alt="nueva_plantilla" ng-src="{{srcImage}}" height="26px"> 
				</div>
				<div class="col-xs-11 col-md-11 col-lg-11">
					<p style="margin:3px;">{{mensajeAlert}}</p>
				</div>
		</div>
	    <fieldset>
	      <div ng-show="!modal.showFilters">
	        <!-- primera columna -->
	        <div class="three-columns">
	          <div>
				<label  class="desresumen" for="filtro_clase">Clase:</label> 
	            <select id="filtro_clase" style="width: 341px;" ng-model="plantilla.clase" ng-options="clase as clase.nombre for clase in listClases" ng-change="cargarSelectMercado();precargarFiltroDinamico();vaciarTabla('detalle')">
	            	<option value="" ng-if="false"></option>
	            </select>
	          </div>
	          <div>
	            <label for="plantilla_nombre" class="desresumen">Nombre Plantilla:</label> 
	            <input style="width: 341px;" type="text" id="plantilla_nombre" class="anchoinp2" ng-class="{'autocomplete-required':!plantilla.nbdescription && activeAlert}"  maxlength=100 ng-model="plantilla.nbdescription" auto-uppercase/>
	          </div>
	          <div style="width:50%;">
	            <label for="plantilla_totalizar" class="desresumen">Totalizar:</label> 
	            <select id="plantilla_totalizar" style="width:140px;" ng-model="plantilla.totalizar" ng-options="totalizar as totalizar.value for totalizar in listTotalizar">
	            	<option value="" ng-if="false"></option>
	            </select>
	          </div>
	          <div>
	            <label for="plantilla_camposDetalle" class="desresumen">Campos Detalle:</label>
	            <div style="width: 341px;" class="anchoinp">
	<!--              	<select id="plantilla_campoDetalle" style="width:341px;" ng-model="form.campoDetallePlantilla" ng-options="campo.value for campo in listCamposDetalle" ng-change="procesarCampoDetalle()"> -->
	<!--              		<option value="" ng-if="false"></option> -->
	<!--              	</select> -->
					<input type="text" ng-model="form.campoDetallePlantilla" list="listaDetalles" style="width:341px;" ng-change="procesarCampoDetalle()">
					<datalist id="listaDetalles" class="anchoinp">
					    <option  data-ng-repeat="campo in listCamposDetalle" value="{{campo.value}}"> 
					</datalist>
	            	<select id="plantilla_camposDetalle" size="7" style="width:341px;" ng-class="{'autocomplete-required':plantilla.listaCamposDetalle.length==0 && activeAlert}" ng-model="form.camposDetallePlantilla" ng-options="campo.value for campo in plantilla.listaCamposDetalle">
	            		<option value="" ng-if="false"></option>
	            	</select>
	            	<div style="width: 341px; align:center; margin-top: 2px;" class="anchoinp">
		            	 <button style="width: 40px; margin-left: 4px;" ng-click="subirElementoTabla('detalle')">
		              		<img src="../sibbac20/img/ico_collapser_up.png"/>
		           		 </button>
		           		 <button style="width: 40px; margin-left: 4px;" ng-click="bajarElementoTabla('detalle')">
		              		<img src="../sibbac20/img/ico_collapser_down.png"/>
		           		 </button>
		           		 <button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('detalle')">
		              		<span class="negrita">-</span>
		           		 </button>
		           		 <button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('detalle')">
		              		<span>Vaciar</span>
		           		 </button>
		           		 <button style="width: 50px; margin-left: 4px;" ng-click="abrirEditarDetalle()">
		           		    <span>Editar</span>
		           		 </button>
		             </div>
	            </div> 
	          </div>
	          <div>
		          <label for="plantilla_textolibre" class="desresumen">Otras condiciones:</label> 
		       	  <div style="width: 341px;" class="anchoinp">
		          	<textarea  rows="4"  style="width:341px;margin-left: 0%" id="plantilla_textolibre"   maxlength=32768 ng-model="plantilla.nbtxtlibre" auto-uppercase/>
		          </div>
		      </div>
		      
		      <div>
		         <label for="plantilla_textolibre" class="desresumen">Campos dinámicos:</label> 
		      	 <div style="width: 341px;" class="anchoinp">
		        	
		       	 </div>
		     </div>    
	        </div>
	
	        <!-- segunda columna -->
	        <div class="four-small-columns">
	          <div>
	           	<label for="plantilla_idioma" class="desresumen">Idioma:</label> 
	           	<select id="plantilla_idioma" style="width:150px;" ng-model="plantilla.nbidioma" ng-options="idioma as idioma.value for idioma in listIdiomas">
	           		<option value="" ng-if="false"></option>
	           	</select>
	          </div>
	          <div>
	            <label for="plantilla_camposAgrupacion" class="desresumen">Agrupar y Ordenar:</label><input type="checkbox" ng-model="checked" ng-click="vaciarTabla('agrupacion')">
	             <div style="width: 159px;" class="anchoinp">
	             	<select ng-disabled="!checked" id="plantilla_campoAgrupacion" style="width:215px;" ng-model="form.campoAgrupacionPlantilla" ng-options="campo as campo.value for campo in plantilla.listaCamposDetalle" ng-change="procesarCampoAgrup()" >
	             		<option value="" ng-if="false"></option>
	             	</select>
	            	<select ng-disabled="!checked" id="plantilla_camposAgrupacion" size="8" style="width:215px;" ng-class="{'autocomplete-required': form.totalizar.key == 'S' && plantilla.listaCamposAgrupacion.length==0 && activeAlert}" ng-model="form.camposAgrupacionPlantilla" ng-options="campo.value for campo in plantilla.listaCamposAgrupacion">
	            		<option value="" ng-if="false"></option>
	            	</select>
	            	<div style="style="width: 159px; align:center; margin-top: 2px;" class="anchoinp">
		            	 <button style="width: 40px; margin-left: 4px;" ng-click="subirElementoTabla('agrupacion')" ng-disabled="!checked">
		              		<img src="../sibbac20/img/ico_collapser_up.png"/>
		           		 </button>
		           		 <button style="width: 40px; margin-left: 4px;" ng-click="bajarElementoTabla('agrupacion')" ng-disabled="!checked">
		              		<img src="../sibbac20/img/ico_collapser_down.png"/>
		           		 </button>
		           		 <button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('agrupacion')" ng-disabled="!checked">
		              		<span class="negrita">-</span>
		           		 </button>
		             </div>
	            </div>  
	          </div>
	<!--           <div ng-show="plantilla.listaCamposAgrupacion.length==0"> -->
	          <div ng-show="false">
	            <label for="plantilla_camposAgrupacion" class="desresumen">Campos Ordenación:</label>
	             <div style="width: 159px;" class="anchoinp">
	             	<select id="plantilla_campoOrdenacion" style="width:215px;" ng-model="form.campoOrdenacionPlantilla" ng-options="campo.value for campo in plantilla.listaCamposDetalle" ng-change="procesarCampoOrden()">
	             		<option value="" ng-if="false"></option>
	             	</select>
	            	<select id="plantilla_camposOrdenacion" size="8" style="width:215px;" ng-class="{'autocomplete-required':plantilla.listaCamposOrdenacion.length==0 && activeAlert}" ng-model="form.camposOrdenacionPlantilla" ng-options="campo.value for campo in plantilla.listaCamposOrdenacion">
	            		<option value="" ng-if="false"></option>
	            	</select>
	            	<div style="style="width: 159px; align:center; margin-top: 2px;" class="anchoinp">
		            	 <button style="width: 40px; margin-left: 4px;" ng-click="subirElementoTabla('ordenacion')">
		              		<img src="../sibbac20/img/ico_collapser_up.png"/>
		           		 </button>
		           		 <button style="width: 40px; margin-left: 4px;" ng-click="bajarElementoTabla('ordenacion')">
		              		<img src="../sibbac20/img/ico_collapser_down.png"/>
		           		 </button>
		           		 <button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('ordenacion')">
		              		<span class="negrita">-</span>
		           		 </button>
		           		 <button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('ordenacion')">
		              		<span>Vaciar</span>
		           		 </button>
		             </div>
	            </div>  
	          </div>
	        </div>
	        <div class="four-small-columns">
	          	<div>
		            <label for="plantilla_relleno" class="desresumen">Relleno de campos:</label> 
		            <select id="plantilla_relleno" style="width:140px;" ng-model="plantilla.relleno" ng-options="item as item.value for item in listRelleno">
		            	<option value="" ng-if="false"></option>
		            </select>
		            </div>
	        	<div>
	             <label for="plantilla_camposSeparacion" class="desresumen">Campos Separación:</label> 
	             <div style="width: 159px;" class="anchoinp">
	             	<select id="plantilla_campoSeparacion" style="width:215px;" ng-model="form.campoSeparacionPlantilla" ng-options="campo.value for campo in plantilla.listaCamposAgrupacion" ng-change="procesarCampoSep()">
	             		<option value="" ng-if="false"></option>
	             	</select>
	            	<select id="plantilla_camposSeparacion"  size="8" style="width:215px;" ng-model="form.camposSeparacionPlantilla" ng-options="campo.value for campo in plantilla.listaCamposSeparacion">
	            		<option value="" ng-if="false"></option>
	            	</select>
	            	<div style="style="width: 159px; align:center; margin-top: 2px;" class="anchoinp">
		            	 <button style="width: 40px; margin-left: 4px;" ng-click="subirElementoTabla('separacion')">
		              		<img src="../sibbac20/img/ico_collapser_up.png"/>
		           		 </button>
		           		 <button style="width: 40px; margin-left: 4px;" ng-click="bajarElementoTabla('separacion')">
		              		<img src="../sibbac20/img/ico_collapser_down.png"/>
		           		 </button>
		           		 <button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('separacion')">
		              		<span class="negrita">-</span>
		           		 </button>
		           		 <button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('separacion')">
		              		<span>Vaciar</span>
		           		 </button>
		             </div>
	          	</div>
	         </div>
	         <div ng-show="plantilla.clase.clase=='REQUERIMIENTOS'">
	             <label for="plantilla_camposAgrupacionExcel" class="desresumen">Campos agrupación excel:</label> 
	             <div style="width: 159px;" class="anchoinp">
	             	<select id="plantilla_campoAgrupacionExcel" style="width:215px;" ng-model="form.campoAgrupacionExcel" ng-options="campo.value for campo in plantilla.listaCamposDetalle" ng-change="procesarCampoAgrupacionExcel()">
	             		<option value="" ng-if="false"></option>
	             	</select>
	            	<select id="plantilla_camposAgrupacionExcel"  size="8" style="width:215px;" ng-model="form.camposAgrupacionExcel" ng-options="campo.value for campo in plantilla.listaCamposAgrupacionExcel">
	            		<option value="" ng-if="false"></option>
	            	</select>
	            	<div style="style="width: 159px; align:center; margin-top: 2px;" class="anchoinp">
		            	 <button style="width: 40px; margin-left: 4px;" ng-click="subirElementoTabla('agrupacionExcel')">
		              		<img src="../sibbac20/img/ico_collapser_up.png"/>
		           		 </button>
		           		 <button style="width: 40px; margin-left: 4px;" ng-click="bajarElementoTabla('agrupacionExcel')">
		              		<img src="../sibbac20/img/ico_collapser_down.png"/>
		           		 </button>
		           		 <button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('agrupacionExcel')">
		              		<span class="negrita">-</span>
		           		 </button>
		           		 <button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('agrupacionExcel')">
		              		<span>Vaciar</span>
		           		 </button>
		             </div>
	          	</div>
	         </div>
	       </div>
	       <div class="four-small-columns">
	          <div ng-show="plantilla.clase.mercado">
	            	<label for="plantilla_mercado" class="desresumen" >Mercado:</label>
	            	<select id="plantilla_mercado" style="width:215px;" ng-model="plantilla.mercado" ng-options="mercado as mercado.value for mercado in listMercadosInformes" ng-change="precargarFiltroDinamico();">
	            	<option value="" ng-if="false"></option>
	            	</select>
	          </div>
			  <div>
	            <label for="plantilla_camposCabecera" class="desresumen">Campos Cabecera:</label>
	             <div style="width: 159px;" class="anchoinp">
	             	<select id="plantilla_campoCabecera" style="width:215px;" ng-model="form.campoCabeceraPlantilla" ng-options="campo.value for campo in plantilla.listaCamposSeparacion" ng-change="procesarCampoCabecera()">
	             		<option value="" ng-if="false"></option>
	             	</select>
	            	<select id="plantilla_camposCabecera" size="8" style="width:215px;" ng-model="form.camposCabeceraPlantilla" ng-options="campo.value for campo in plantilla.listaCamposCabecera">
	            		<option value="" ng-if="false"></option>
	            	</select>
	            	<div style="style="width: 159px; align:center; margin-top: 2px;" class="anchoinp">
		            	 <button style="width: 40px; margin-left: 4px;" ng-click="subirElementoTabla('cabecera')">
		              		<img src="../sibbac20/img/ico_collapser_up.png"/>
		           		 </button>
		           		 <button style="width: 40px; margin-left: 4px;" ng-click="bajarElementoTabla('cabecera')">
		              		<img src="../sibbac20/img/ico_collapser_down.png"/>
		           		 </button>
		           		 <button style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('cabecera')">
		              		<span class="negrita">-</span>
		           		 </button>
		           		 <button style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('cabecera')">
		              		<span>Vaciar</span>
		           		 </button>
		             </div>
	            </div>  
	          </div>
	        </div>
	     </div>
		<!-- INICIO - Componente filtros dinamicos. -->
		<ng-include src="'views/plantillasInformes/componenteGenerico.html'"></ng-include>
		<!-- FIN - Componente filtros dinamicos. -->
		
	    </fieldset>
	    <div class="centrar" style="padding-top: 20px">
	    	<div class="mensajeBusquedaPlantillaInforme"></div>
	    </div>
	    <div class="centrar" style="padding-top: 20px">
	      <input type="button" class="btn mybutton" id="guardarDatosTitularC" value="Clonar Informe" ng-click="crearPlantillaInforme(false)" ng-show="(plantilla.listaFiltrosDinamicos.length==0  && plantilla.idClase!='' && modal.showCrear) || (plantilla.listaFiltrosDinamicos.length!=0 && modal.showCrear && modal.showGuardar)"/>
	      <input type="button" class="btn mybutton" id="guardarDatosTitularM" value="Clonar Informe" ng-click="modificarPlantillaInforme(false)" ng-show="modal.showModificar"/>
	      <input type="button" class="btn mybutton" id="guardarDatosTitularCS" value="Guardar y Salir" ng-click="crearPlantillaInforme(true)" ng-show="(plantilla.listaFiltrosDinamicos.length==0  && plantilla.idClase!='' && modal.showCrear) || (plantilla.listaFiltrosDinamicos.length!=0 && modal.showCrear) && modal.showGuardar"/>
	      <input type="button" class="btn mybutton" id="guardarDatosTitularMS" value="Modificar y Salir" ng-click="modificarPlantillaInforme(true)" ng-show="modal.showModificar"/>
	      <input type="button" class="btn mybutton" id="limpiarDatosTitularL" value="Limpiar Campos" ng-click="resetPlantilla()" ng-show="modal.showCrear && !modal.showFilters"/>
	      <input type="button" class="btn mybutton" id="limpiarDatosTitularL" value="Limpiar Filtros" ng-click="limpiarFiltrosDinamicos()" ng-show="modal.showCrear && modal.showFilters"/>
	      <input type="button" class="btn mybutton" id="guardarDatosTitularV" value="Volver" ng-click="mostrarFiltros();mostrarFiltrosDinaCargados()" ng-show="modal.showFilters"/>
	      <input type="button" class="btn mybutton" id="guardarDatosTitularS" value="Siguiente" ng-click="mostrarFiltros();cargarListasAutocompletables()" ng-show="plantilla.listaFiltrosDinamicos.length!=0 && !modal.showFilters"/>
	    </div>
	</div>
	<div id="editar" class="modal modalEditarPlantillasInformes">
		<div class="esquinar">
			<a data-dismiss="modal" id="cerrarTitular">
				<img src="img/closeModal.png" title="Cerrar Ventana"style="cursor: pointer;"/>
			</a>
		</div>
		
		<p class="titleAlta" id="titleTitulo">{{modalEditar.titulo}}</p>
	
		<fieldset>
		<div class="mensajeBusqueda">{{form.camposDetallePlantilla.nombreOriginal}}</div>
			<div>
				<!-- primera columna -->
				<div class="three-columns">
					<div>
						<label for="filtro_renombrar" class="desresumen">Renombrar a:</label> 
						<input style="width: 250px;" type="text" id="filtro_renombrar" ng-model="form.camposDetallePlantilla.renombre" class="anchoinp2" maxlength=50 />
					</div>
					<div>
						<label for="filtro_traducir_de" class="desresumen">Traducir:</label>
						<textarea rows="4" style="width: 250px; margin-left: 0%" id="filtro_traducir_de" maxlength=32768 ng-model="form.camposDetallePlantilla.traduccion"/>
					</div>
				</div>
				<!-- segunda columna -->
				<div class="three-columns" ng-show="plantilla.relleno.value=='SI'">
					<div ng-show="form.camposDetallePlantilla.tipoCampo=='TEXTO' || form.camposDetallePlantilla.tipoCampo=='FECHA'">
						<label for="filtro_tipoRelleno" class="desresumen">Tipo Relleno:</label> 
						<select id="plantilla_relleno" style="width:250px;" ng-model="form.camposDetallePlantilla.tipoRelleno" ng-options="item.value as item.value for item in listTipoRelleno"></select>
					</div>
					<div>
						<label for="filtro_caracterRelleno" class="desresumen">Carácter de relleno:</label>
						<input style="width: 250px;" type="text" id="filtro_caracterRelleno" ng-model="form.camposDetallePlantilla.caracterRelleno" class="anchoinp2" maxlength=1 />
					</div>
				</div>
				<!-- tercera columna -->
				<div class="three-columns" ng-show="plantilla.relleno.value=='SI'">
					<div ng-show="form.camposDetallePlantilla.tipoCampo=='NUMERO' || form.camposDetallePlantilla.tipoCampo=='DECIMAL'">
						<label for="filtro_longitudEntero" class="desresumen">Longitud entero:</label> 
						<input style="width: 250px;" type="text" id="longitud_relleno" ng-model="form.camposDetallePlantilla.longitudEntero" class="anchoinp2" maxlength=5 />
					</div>
					<div ng-show="form.camposDetallePlantilla.tipoCampo=='DECIMAL'">
						<label for="filtro_longitudDecimal" class="desresumen">Longitud decimal:</label>
						<input style="width: 250px;" type="text" id="filtro_longitudDecimal" ng-model="form.camposDetallePlantilla.longitudDecimal" class="anchoinp2" maxlength=2 />
					</div>
					<div ng-show="form.camposDetallePlantilla.tipoCampo=='TEXTO' || form.camposDetallePlantilla.tipoCampo=='FECHA'">
						<label for="filtro_longitudAlfanumerico" class="desresumen">Longitud alfanumérico:</label>
						<input style="width: 250px;" type="text" id="filtro_longitudAlfanumerico" ng-model="form.camposDetallePlantilla.longitudAlfanumerico" class="anchoinp2" maxlength=5 />
					</div>
				</div>
			</div>
		</fieldset>
		<div class="centrar" style="padding-top: 20px">
			<input type="button" class="btn mybutton" id="guardarEditar" value="Guardar" ng-click="guardarEdicionCampoDetalle()" />
			<input type="button" class="btn mybutton" id="cancelarEditar" value="Cancelar" ng-click="cancelarEdicionCampoDetalle()" />
		</div>
	
	</div>
	<script src="js/site.js" type="text/javascript"></script>
	<div id="mensaje" class="dialogMensaje"></div>
	<div id="dialog-confirm"></div>
</div>

