<article>
    <div class="title_section clearfix"><div class="align-left"> 
        <p class="title">Desglose Manual: Búsqueda alocaciones</p>
    </div>
    <div class="buscador">
        <form name="filters" ng-submit="ctrl.executeQuery()">
            <fieldset class="clearfix">
                <div class="dynamic-filter" ng-repeat="f in ctrl.filterList">
                    <sb-filter-element value="f" target="ctrl"></sb-filter-element>
                </div>
            </fieldset>
            <div class="centrar">
                <input class="btn mybutton" type="submit" value="Consultar" > 
                <input class="mybutton" type="button"
                    value="Limpiar" ng-click="ctrl.filter = {}">
					<input class="btn mybutton" type="file" id="selectFichero" value="Desglose Excel" ng-if="isPermisoAccion(SecurityActions.IMPORTAR_FICHERO)"> 
				</div>
        </form>
    </div>
</article>
<div>
    <div class="contenedorTabla">
        <div ui-grid="ctrl.grid" ui-grid-selection ui-grid-pagination ui-grid-resize-columns></div>
        <div class="centrar">
			<input class="mybutton" type="button" ng-click="ctrl.selectAll()"
				value="Selecciona Todos"/> 
			<input class="mybutton" type="button"
				ng-click="ctrl.unselectAll()" value="Deselecciona Todos" />
			<input class="mybutton"
				type="button" 
				ng-click="ctrl.recuperaListaAlcsBaja()"
				ng-if="isPermisoAccion(SecurityActions.MODIFICAR)"
				value="Desglosar" />
        </div>
    </div>
</div>


<!-- Dialog list alcs baja -->
<div id="listAlcsBajaDialog">
    <p class="dialogMensajeText">
     <span class="desresumen">Alcs a dar de baja:</span>
    </p>
    <div ui-grid="ctrl.gridAlcBaja" ui-grid-pagination ui-grid-resize-columns></div>
</div>

<!-- Dialog algoritmoDesglose -->
<div id="seleccionarAlgoritmoDesgloseDialog">
    <p class="dialogMensajeText">
     <span class="desresumen">Seleccione un Algoritmo Desglose:</span> 
    </p>
    
    <div class="buscador clearfix">
        <div class="dynamic-filter">
          	<sb-combo ng-model="ctrl.algoritmoSeleccionado" label="Algoritmo" elements="ctrl.listAlgoritmoDesglose" id="algoritmoId" >
          	</sb-combo>
		</div>
    </div>
</div>

<!-- Dialog algoritmoDesglose -->
<div id="revisarDesgloseDialog">
	
    <p class="dialogMensajeText">
     <span class="desresumen">Revisar Desgloses: </span>
     <span>Allocation: {{ctrl.posicionSolicitudDesglose + 1}} de {{ctrl.listSolicitudDesgloses.length}}</span>
     <span>Desglose: {{ctrl.posicionDesgloseSolicitudDesgloseSeleccionado + 1}} de {{ctrl.desgloseSeleccionado.altas.length}}</span>
    </p>
    <p class="dialogMensajeText">
     <span class="desresumen">Allocation Seleccionado:</span>
     <span>{{ctrl.desgloseSeleccionado.tmct0aloId.nuorden}}/{{ctrl.desgloseSeleccionado.tmct0aloId.nbooking}}/{{ctrl.desgloseSeleccionado.tmct0aloId.nucnfclt}}</span>
     <span class="desresumen">Algoritmo: </span>
     <span>{{ctrl.desgloseSeleccionado.algoritmoDesgloseManual}}</span>
    </p>
    
    <p class="dialogMensajeText">
     <span class="desresumen">Mercado:</span>
     <span>{{ctrl.desgloseSeleccionado.mercado}}</span>
     <span class="desresumen">Moneda:</span>
     <span>{{ctrl.desgloseSeleccionado.moneda}}</span>
     <span class="desresumen">Origen:</span>
     <span>{{ctrl.desgloseSeleccionado.origenOrden}}</span>
     <span class="desresumen">Tipo:</span>
     <span>{{ctrl.desgloseSeleccionado.tipoOrden}}</span>
     <span class="desresumen">Canal:</span>
     <span>{{ctrl.desgloseSeleccionado.canal}}</span>
     
    </p>
    <p class="dialogMensajeText">
     <span class="desresumen">Tit. Ordenados:</span>
     <span>{{ctrl.desgloseSeleccionado.titulosOrdenados}}</span>
     <span class="desresumen">Tit. Ejecutados:</span>
     <span>{{ctrl.desgloseSeleccionado.titulosEjecutados}}</span>
     <span class="desresumen">Tit. Allocation:</span>
     <span>{{ctrl.desgloseSeleccionado.titulosAlo}}</span>
    </p>
    
    <p class="dialogMensajeText">
     <span class="desresumen">Sentido:</span>
     <span>{{ctrl.desgloseSeleccionado.sentido}}</span>
     <span class="desresumen">Subcuenta|Alias:</span>
     <span>{{ctrl.desgloseSeleccionado.alias}}</span>
     <span class="desresumen">Desc.Alias:</span>
     <span>{{ctrl.desgloseSeleccionado.descripcionAlias}}</span>
     
    </p>
    <p class="dialogMensajeText">
     <span class="desresumen">Isin:</span>
     <span>{{ctrl.desgloseSeleccionado.isin}}</span>
     <span class="desresumen">Des.Isin:</span>
     <span>{{ctrl.desgloseSeleccionado.descripcionIsin}}</span>
     <span class="desresumen">F.Contratacion:</span>
     <span>{{ctrl.desgloseSeleccionado.fechaContratacion}}</span>
     <span class="desresumen">F.Liquidacion:</span>
     <span>{{ctrl.desgloseSeleccionado.fechaLiquidacion}}</span>
    </p>
    
    <p class="dialogMensajeText" ng-if="ctrl.desgloseSeleccionado.algoritmoDesgloseManual == 'PRICE' || ctrl.desgloseSeleccionado.algoritmoDesgloseManual == 'CLEARING_INFORMATION' ">
      <span class="desresumen" ng-if="ctrl.desgloseSeleccionado.algoritmoDesgloseManual == 'PRICE'">Precio:</span>
      <span ng-if="ctrl.desgloseSeleccionado.algoritmoDesgloseManual == 'PRICE'">{{ctrl.altaSeleccionada.precioFrom}}</span>
      <span class="desresumen" ng-if="ctrl.desgloseSeleccionado.algoritmoDesgloseManual == 'CLEARING_INFORMATION' ">Cta:</span>
      <span ng-if="ctrl.desgloseSeleccionado.algoritmoDesgloseManual == 'CLEARING_INFORMATION' ">{{ctrl.altaSeleccionada.clearingAccountCodeFrom}}</span>
      <span class="desresumen" ng-if="ctrl.desgloseSeleccionado.algoritmoDesgloseManual == 'CLEARING_INFORMATION' ">Compensador:</span>
      <span ng-if="ctrl.desgloseSeleccionado.algoritmoDesgloseManual == 'CLEARING_INFORMATION' ">{{ctrl.altaSeleccionada.clearingMemberCodeFrom}}</span>
      <span class="desresumen" ng-if="ctrl.desgloseSeleccionado.algoritmoDesgloseManual == 'CLEARING_INFORMATION' ">Give-Up Reference:</span>
      <span ng-if="ctrl.desgloseSeleccionado.algoritmoDesgloseManual == 'CLEARING_INFORMATION' ">{{ctrl.altaSeleccionada.giveUpReferenceFrom}}</span>
      <span class="desresumen">Titulos:</span>
      <span>{{ctrl.altaSeleccionada.titulos}}</span>
    </p>
    <!-- campos editables -->
    
    <p class="dialogMensajeText">
    	<span class="desresumen">Titulos:</span>
    	<input ng-model="ctrl.altaSeleccionada.titulos" type="number" id="modificarTitulosDesglose" 
    		min="1" max="ctrl.desgloseSeleccionado.titulosAlo"/>
    </p>
    <p class="dialogMensajeText">
    	<span class="desresumen">%Comm. Banco:</span>
    	<input ng-model="ctrl.altaSeleccionada.bankComissionPercent" type="number" id="bankComissionPercentId" 
    	min="0" max="100" />
    	
    	<span class="desresumen">%Comm. Ordenante:</span>
    	<input ng-model="ctrl.altaSeleccionada.payerComissionPercent" type="number" id="payerComissionPercentId" 
    	min="0" max="100" />
    </p>
    
    <p class="dialogMensajeText">
	    <span class="desresumen">Clearer:</span>
	    <!-- <select name="clearerName" id="clearerId" ng-model="ctrl.altaSeleccionada.settlementData.clearer" >
			<option ng-repeat="clearer in ctrl.listClearersNacional" label="{{clearer.cdcleare + '-' + clearer.dscleare + '-' + clearer.biccle}}" ng-value="clearer"
			ng-selected="clearer.cdcleare == ctrl.altaSeleccionada.settlementData.clearer.cdcleare">{{clearer.cdcleare + '-' + clearer.dscleare + '-' + clearer.biccle}}</option>
		</select> -->
	    <select ng-model="ctrl.clearerSeleccionado" ng-options="(clearer.cdcleare + '-' + clearer.dscleare + '-' + clearer.biccle) for clearer in ctrl.listClearersNacional"  
	    	ng-change="ctrl.seleccionaClearer()" id="clearerId" />
    </p>
    
    <p class="dialogMensajeText">
    	<span class="desresumen">Custodio:</span>
    	<!-- <select name="custodianName" id="custodianId" ng-model="ctrl.altaSeleccionada.settlementData.custodian" >
			<option ng-repeat="clearer in ctrl.listClearersNacional" label="{{clearer.cdcleare + '-' + clearer.dscleare + '-' + clearer.biccle}}" ng-value="clearer.value" 
			ng-selected="clearer.cdcleare == ctrl.altaSeleccionada.settlementData.custodian.cdcleare">{{clearer.cdcleare + '-' + clearer.dscleare + '-' + clearer.biccle}}</option>
		</select> -->
    	<select ng-model="ctrl.custodianSeleccionado" ng-options="(clearer.cdcleare + '-' + clearer.dscleare + '-' + clearer.biccle) for clearer in ctrl.listClearersNacional"  
	    	ng-change="ctrl.seleccionaCustodian()" id="custodioId" />
    </p>
    
    <p class="dialogMensajeText">
	    <span class="desresumen">Cta Custodio:</span>
    	<input ng-model="ctrl.altaSeleccionada.accountAtClearer" type="text" id="accountAtClearerId" maxlength="35" size="37" />
    	
    	<span class="desresumen">Ref. Adicional:</span>
    	<input ng-model="ctrl.altaSeleccionada.bankReference" type="text" id="bankReferenceId" maxlength="20" size="22" />
    </p>
    <p class="dialogMensajeText">
    	<span class="desresumen">Regla:</span>
    	<select ng-model="ctrl.reglaSeleccionada" ng-options="reglaAsignacion.label for reglaAsignacion in ctrl.listReglasAsignacion" 
    	 ng-change="ctrl.altaSeleccionada.clearingRuleTo = ctrl.reglaSeleccionada.value" id="clearingRuleToId" >
    	</select>
    </p>
    <p class="dialogMensajeText">
    	<span class="desresumen">Compensador:</span>
    	<select ng-model="ctrl.compensadorSeleccionado" ng-options="miembroCompensador.label for miembroCompensador in ctrl.listMiembrosCompensadores" 
    	ng-change="ctrl.altaSeleccionada.clearingMemberCodeTo = ctrl.compensadorSeleccionado.value" 
    	id="clearingMemberCodeToId" />
    	
    	<span class="desresumen">Ref. Give-Up:</span>
    	<input ng-model="ctrl.altaSeleccionada.giveUpReferenceTo" type="text" id="giveUpReferenceToId" maxlength="18" size="20" />
    </p>
    
    <p class="dialogMensajeText">
    	<span class="desresumen">Cta. Compensacion:</span>
    	<select ng-model="ctrl.cuentaCompensacionSeleccionada" ng-options="cta.label for cta in ctrl.listCuentasCompensacion" 
    	ng-change="ctrl.altaSeleccionada.clearingAccountCodeTo = ctrl.cuentaCompensacionSeleccionada.value" 
    	id="giveUpReferenceToId" />
    </p>
    
     <p class="dialogMensajeText">
     	<span ng-if="ctrl.altaSeleccionada.settlementData.listHolder.length > 0">El desglose se va a crear con {{ctrl.altaSeleccionada.settlementData.listHolder.length}} titulares.</span>
     	<span ng-if="ctrl.altaSeleccionada.settlementData.listHolder.length == 0">El desglose se va a crear sin titulares.</span>
     	<input type="button" ng-click="ctrl.openViewListTitulares()" value="Add/Ver">
     </p>
     
     <!-- <p>{{ctrl.altaSeleccionada || json}}</p> -->
    
</div>
<div id="viewListaTitularesDialog">
   
    
    <p class="dialogMensajeText">
     <span class="desresumen">Buscador Titular: </span>
     <input name="buscadorTitulares" ng-model="ctrl.buscadorTitulares" type="text" />
     <input type="button" value="Buscar" ng-click="ctrl.titularesAutocompleter()" ng-disabled="ctrl.buscadorTitulares.length < 3" >
    </p>
  <!--  <div ng-if="ctrl.gridAddListaTitulares.data.length > 0">
    <p class="dialogMensajeText">
     <span  class="desresumen">Selecciona Titulares: </span>
    </p>
    <div ui-grid="ctrl.gridAddListaTitulares" ui-grid-selection ui-grid-pagination ui-grid-resize-columns></div>
    <input type="button" name="Add" ng-click="ctrl.addTitulares()" />
    <input type="button" name="Cerrar" ng-click="ctrl.gridAddListaTitulares.data = []" />
   </div> -->
    <p class="dialogMensajeText">
     <span  class="desresumen">Titulares del desglose: </span>
    </p> 
    <div ui-grid="ctrl.gridListaTitulares" ui-grid-selection ui-grid-pagination ui-grid-resize-columns></div>
</div>

<!-- revisarTitularDialog -->

<div id="revisarTitularDialog">

	<p class="dialogMensajeText">
     <span class="desresumen">Tipo Identificacion: </span>
     <span>{{ ctrl.titularSeleccionado.tpidenti }}</span>
     
     <span class="desresumen">Identificacion</span>
     <span>{{ ctrl.titularSeleccionado.cdholder }}</span>
     <span class="desresumen">Nombre/Razon Social</span>
     <span>{{ ctrl.titularSeleccionado.nbclient }} * {{ ctrl.titularSeleccionado.nbclien1 }} * {{ ctrl.titularSeleccionado.nbclien2 }} </span>
     <span class="desresumen">Tipo Titular</span>
     <input type="text" ng-model="ctrl.titularSeleccionado.tptiprep" maxlength="1" size="2" />
     <span class="desresumen">Direccion</span>
     <span>{{ ctrl.titularSeleccionado.nbdomici }}</span>
     <span class="desresumen">Ciudad</span>
     <span>{{ ctrl.titularSeleccionado.nbciudad }}</span>
    </p>
    
   <p>
</div>

<div id="addListaTitularesDialog">
    <p class="dialogMensajeText">
     <span  class="desresumen">Selecciona Titulares: </span>
    </p>
    <div ui-grid="ctrl.gridAddListaTitulares" ui-grid-selection ui-grid-pagination ui-grid-resize-columns></div>
</div>


<!-- Dialog result -->
<div id="resultDialog">
    <div class='dialogMensajeIncon' ng-switch="ctrl.result.ok"> 
        <img ng-switch-when="true" src='/sibbac20/images/accept.png'/>
        <img ng-switch-when="false" src='/sibbac20/images/error.png'/>
    </div>
    <p class="dialogMensajeText">
        <ul>
            <li ng-repeat="m in ctrl.result.message">
                {{ m }}
            </li>
        </ul>
    </p>
    <p ng-if="!ctrl.result.ok" class="dialogMensajeText">
        <span class="desresumen">Mensajes de Error:</span>
        <ul>
            <li ng-repeat="m in ctrl.result.errorMessage">
                {{ m }}
            </li>
        </ul>
    </p>
</div>

