<article>
    <div class="title_section clearfix"><div class="align-left"> 
        <p class="title">Desglose Manual</p>
    </div>
    <div class="buscador">
        <form name="filters" ng-submit="ctrl.executeQuery()">
            <fieldset class="clearfix">
			    <div>
			        <label for="txt-nuorden" class="destitle">Orden:</label>
			        <input type='text' ng-model="ctrl.alloId.nuorden" id='txt-nuorden' readonly> /
  			        <label for="txt-booking" class="destitle">Booking:</label>
			        <input type='text' ng-model="ctrl.alloId.nbooking" id='txt-booking' readonly> /
			        <label for="txt-nucnfclt" class="destitle">Ref. Cliente:</label>
			        <input type='text' ng-model="ctrl.alloId.nucnfclt" id='txt-nucnfclt' readonly>
			    </div>
			    <hr>
			    <div>
			       {{ ctrl.alo }}
			    </div>
            </fieldset>
            <div class="centrar">
                <input class="btn mybutton" type="submit" value="Desglosar"
                    ng-disabled="!ctrl.selectedQuery" ng-click="ctrl.recuperaListaAlcsBaja()"/> 
                <input class="mybutton" type="button"
                    value="Limpiar" ng-click="ctrl.filter = {}">
            </div>
        </form>

    </div>
</article>
<div>
    <div class="contenedorTabla">
        <div ui-grid="ctrl.grid" ui-grid-selection ui-grid-pagination ui-grid-resize-columns></div>
        <div class="centrar">
        </div>
    </div>
</div>

<!-- Dialog result -->
<div id="resultDialog">
    <div class='dialogMensajeIncon' ng-switch="ctrl.result.ok"> 
        <img ng-switch-when="true" src='/sibbac20/images/accept.png'/>
        <img ng-switch-when="false" src='/sibbac20/images/error.png'/>
    </div>
    <p class="dialogMensajeText">
        <ul>
            <li ng-repeat="m in ctrl.result.message">
                {{ m }}
            </li>
        </ul>
    </p>
    <p ng-if="!ctrl.result.ok" class="dialogMensajeText">
        <span class="desresumen">Mensajes de Error:</span>
        <ul>
            <li ng-repeat="m in ctrl.result.errorMessage">
                {{ m }}
            </li>
        </ul>
    </p>
</div>
