<p class="titleAlta" ng-bind="dialogTitle"></p>
<form id="cargarPopupParam" ng-submit="editar()">
    <fieldset>
        <div>
            <label for="textModifDescripcion" class="desresumen">Descripci&oacute;n: </label> 
            <input type="text" id="textModifDescripcion" ng-model="seleccionado.descripcion" class="anchoidi" />
        </div>
    </fieldset>
    <div class="centrar">
    	<input class="btn mybutton" type="submit" id="modificarTextos" value="Guardar" />
    </div>
</form>