<div id="formulariosTraducirTexto">
    <p class="titleAlta">Traducir Texto</p>
    <div style="float:left; margin-right:3px;" ng-repeat="item in itemsIdioma">
        <a style="cursor: pointer; color: #ff0000;"  ng-click="mostrarIdioma(item)"> {{item.descripcion}} </a>&nbsp;
    </div>
    <div id='idioma' style="clear: left;">
        <div class='titIdioma' style="text-align: center;">IDIOMA: <span id='spanTitIdioma' class='titIdioma'>{{itemIdioma.descripcion}}</span>
        </div>
        <textarea id='textoIdioma' rows='14' cols='122' ></textarea>
    </div>
    <div class="exito"></div>
    <select id="txtEtiquetas" ng-model="etiquetas.txtEtiquetas" class="anchoinp">
        <option value="0">Seleccione una etiqueta</option>
    </select> <a class="btn" ng-click="annadirEtiqueta()"><img src="img/put.gif" title="A&ntilde;adir Etiqueta"></a>
    <div>
        <input class="btn mybutton" type="button" id="guardarTextos" value="Guardar" ng-click="guardarTextos()"/>
    </div>
</div>