<article>  
    <div class="title_section clearfix" >
        <div class="align-left"><p class="title">Contactos</p></div>
        <div  ng-show="isPermisoAccion(SecurityActions.CREAR)" ><a class="collapser_search active cursor align-right" id="IdMostrarOcultarAlta"  >Mostrar Alta de Contactos</a></div>
    </div>
    <div class="altaregla">
        <form id="cargarFormulario">
            <fieldset>
                <div class="wrapper-95">
                    <div class="four-columns">
                        <div>
                            <label for="textAlias" class="desresumen">Introduzca un alias: </label>
                            <input type="text" id="textAlias" class="anchoinp" ng-model="filtro.alta.textAlias">
                        </div>	
                        <div>
                            <label for="textNombre" class="desresumen">Nombre : </label>
                            <input type="text" id="textNombre" class="anchoinp" ng-model="filtro.alta.textNombre"/>
                        </div>
                        <div>
                            <label for="textApel1" class="desresumen">Primer apellido : </label>
                            <input type="text" id="textApel1" class="anchoinp" ng-model="filtro.alta.textApel1"/>
                        </div>
                    </div>
                    <div class="four-columns">
                        <div>
                            <label for="textApel2" class="desresumen">Segundo apellido : </label>
                            <input type="text" id="textApel2" class="anchoinp" ng-model="filtro.alta.textApel2"/>
                        </div>								
                        <div>
                            <label for="textTelefono" class="desresumen">Tel&eacute;fono : </label>
                            <input type="text" id="textTelefono" class="anchoinp" onkeypress="return justNumbers(event);" maxlength="9" ng-model="filtro.alta.textTelefono"/>
                        </div>
                        <div>
                            <label for="textMovil" class="desresumen">M&oacute;vil : </label>
                            <input type="text" id="textMovil" class="anchoinp" onkeypress="return justNumbers(event);" maxlength="9" ng-model="filtro.alta.textMovil"/>
                        </div>
                    </div>
                    <div class="four-columns">
                        <div>
                            <label for="textFax" class="desresumen">Fax :</label>
                            <input type="text" id="textFax" class="anchoinp" onkeypress="return justNumbers(event);" maxlength="9" ng-model="filtro.alta.textFax"/>
                        </div>		
                        <div>
                            <label for="textCargo" class="desresumen">Cargo :</label>
                            <input type="text" id="textCargo" class="anchoinp" ng-model="filtro.alta.textCargo"/>
                        </div>
                        <div>
                            <label for="textGestor" class="desresumen">Gestor:</label>
                            <input type="checkbox" id="textGestor" ng-model="filtro.alta.textGestor"/>
                        </div>
                    </div>
                    <div class="four-columns">

                        <div>
                            <label for="textEmail" class="desresumen">Email :</label>
                            <textArea style="float:right!important;" rows="5" cols="45" id="textEmail" ng-model="filtro.alta.textEmail"></textArea>
                    </div>
                    </div>
                </div>
            </fieldset>
            <div class="centrar">						  
                <input class="btn mybutton" type="button" id="btnAltaContacto" value="Alta" ng-click="altaContacto();"  ng-if="isPermisoAccion(SecurityActions.CREAR)" />
                <input class="mybutton" type="reset"  id="limpiar" value="Borrar campos" ng-click="limpiarFiltro();"/>
            </div>						
	</form>
    </div>		
    <div>
        <form id="buscarContacto">
            <fieldset>
                <div style="width:100%;">
                    <div style=" width: 30%; margin: 10px auto;">
                        <label for="textAliasB" class="desresumen">Introduzca un alias: </label>
                        <input type="text" id="textAliasB" class="anchoalias" ng-model = "filtro.busqueda.textAliasB"/>
                        <input class="btn mybutton" type="button"  id="busqueda" value="Consultar" ng-click="buscar()" />
                            <input type="hidden" id="textIdAlias" />
                            <input type="hidden" id="idAlias" />
                            <input type="hidden" id="textIdDirFiscal" />
                    </div>	
		</div>
            </fieldset>								
	</form>
	</div>
	<div class="resultados">							
		<table id="tblContactos" class="ancha"  width="100%"> 
			<thead>
				<tr>
					<th class='taleft'>Alias</th> 
					<th class='taleft'>Nombre</th>
					<th class='taleft'>Primer Apellido</th>
					<th class='taleft'>Segundo Apellido</th> 
					<th class='taleft'>Tel&eacute;fono</th>
					<th class='taleft'>M&oacute;vil</th>
                                        <th class='taleft'>Fax</th>
					<th class='taleft'>Estado</th>
					<th class='taleft'>Email</th>
					<th class='taleft'>Cargo</th> 
					<th class='taleft'>Acciones</th> 
				</tr>
			</thead>
			<tbody></tbody>
		</table>
	</div>							
</article>
<div id="dialog-confirm"></div>			 
								