<!DOCTYPE html>
<html lang="es">
<head>
  <title>SIBBAC :: BANCO SANTANDER S.A.</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
</head>
<body>
  <div id="header">
    <div class="logo">
      <img src="img/logo.png"/>
    </div>
  </div>
  <br /><br /><br /><br /><br />
  <div class="remitente">
    <br />
    <pre>
      Credit Suisse SA
      Attn:  Regina Calvo
      Fecha: 30/08/2015
  </pre>
  </div>
  <br /><br />
  <pre>
    Ref: Operaciones de bolsa realizadas entre los d&iacute;as <b>01/08/2015</b> y <b>30/08/2015</b> a través de esta sociedad.
  </pre>
  <br />
  <table id="tblOperacionesPago" class="fullTable">
    <thead>
      <tr>
        <th>Fecha de Ejecuci&oacute;n</th>
        <th>Referencia</th>
        <th>Tipo de operaci&oacute;n</th>
        <th>Nombre valor</th>
        <th>Isin</th>
        <th>T&iacute;tulos</th>
        <th>Efectivo</th>
        <th>Importe devoluci&oacute;n</th>
      </tr>
    </thead>
    <tbody>

#macro( isOdd $number $oddText $evenText )
  #if( 0 == $number%2)
    $evenText
  #else
    $oddText
  #end
#end
#foreach($val in $list)
        <tr class="#isOdd( $velocityCount "odd" "even" )">
          <td>$val.feejeliq</td>
          <td>$val.nbooking</td>
          <td>$val.tpoper</td>
          <td class="td_left">$val.nbvalor</td>
          <td>$val.isin</td>
          <td class="td_right">$val.titulos</td>
          <td class="td_right">$val.efectivo</td>
          <td class="td_right">$val.devolucion</td>
        </tr>
#end
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th class="th_left">Total general:</th>
          <th class="th_right">$titulos</th>
          <th class="th_right">$efectivo</th>
          <th class="th_right">$devolucion</th>
        </tr>
      </tfoot>
    </table>
</body>
</html>