<p class="titleAlta" ng-bind="dialogTitle"></p>
    <fieldset>    
    	<div>
        	<label for="auditUser" class="negrita subrayado">Usuario Alta Movimiento: </label>
        	<span class="anchoimp">{{fila.auditUser}}</span>
        </div>        
        <div>
            <label for="auditDate" class="negrita subrayado">Fecha Alta Movimiento:</label>
        	<span class="anchoimp">{{fila.auditDate}}</span>
        </div>
        <div>
            <label for="titulos" class="negrita subrayado">Importe titulos:</label>
        	<span class="anchoimp">{{fila.titulos}}</span>
        </div>
        <div>
            <label for="efectivo" class="negrita subrayado">Importe efectivo:</label>
        	<span class="anchoimp">{{fila.efectivo}}</span>
        </div>
        <div>
            <label for="isin" class="negrita subrayado">Isin:</label>
            <span class="anchoimp">{{fila.isin}}</span>
        </div>
        <div>
            <label for="fcontratacion" class="negrita subrayado">F. contrataci&oacute;n:</label>
            <span class="anchoimp">{{fila.fcontratacion}}</span>
        </div>
        <div>
            <label for="fliquidacion" class="negrita subrayado">F. Liquidaci&oacute;n:</label>
            <span class="anchoimp">{{fila.fliquidacion}}</span>
        </div>
    </fieldset>