<div>
  <form class="smart-green">
    <h1>
       Deactive Alias-Subaccount relationship Form <span>Please fill all the texts in the fields.</span>
    </h1>
    <input type="hidden" name="op" value="asr">
    <input type="hidden" name="mode" value="D">
    <ul>
      <li>
        <select id="alias" name="alias" title = "alias List"
          class="field-style field-split align-left"
        >
            <option value="">Select one alias ...</option>
        </select>        
        
        
      </li>   
        

            
      <br />
      
      
      <li>
        <select id="subAccount" name="subAccount" title = "subAccount List"
          class="field-style field-split align-left"  >
            <option value="">Select one subAccount to deactivate...</option>
        </select>
        
      
      </li>
      
      
      <li>
      <input id="subAccount2" type="text" name="subAccount2" title="Introducir aqui la subcuenta en lugar de elegir del listado"
            class="field-style field-split align-left"
            placeholder=""
          />
          
      </li>    
      
      <li class="botones"><input id="entityResetForm" type="reset"
        class="button" value="Reset Form"
      /> <input id="entitySend" type="submit" class="button" value="Send form" />
      </li>
    </ul>
  </form>
  <script>
      $(document).ready(function() {
        console.log("Alias-Subaccount relationship Form loaded");

        $("form").css({
          'max-width' : '700px'
        });

        $("#alias").prop('required', true);
        $("#subAccounts").prop('required', true);

        $.get('Controller', {
			op : 'getSettleInstAlias'
		}, function(response) {
			$.each(response, function(key, value) {
				$('<option>').val(key).text(value).appendTo(
						$('#alias'));
			});
		});

     /*   $.get('Controller', {
          op : 'getAsrSubaccounts'
        }, function(response) {
          if (response.success) {
            $.each(response, function(key, value) {
              if (key != "success") {
                $('<option>').val(key).text(value).appendTo($('#subaccounts'));
              }
            });
          }
        });
       */ 
        
      });

      $("form").submit(function() {
    	    var url = "Controller";
    	    $.ajax({
    	      type : "POST",
    	      url : url,
    	      data : $("form").serialize(),
    	      beforeSend : function(){ $("#Loader").css("visibility","visible");},
              success : function(data) {
            	  $("#Loader").css("visibility","hidden");
    	    	  if (data.success == "true") {
    	          alert("OK ... Baja alias subcuenta generada correctamente.");
    	          //               $.each(data, function(key, value) {
    	          //                 alert(key + ': ' + value);
    	          //               });
    	        } else {
    	          alert("Error ... " + data.errorMessage + ".");
    	        } // else
    	      } // success
    	    }); // $.ajax
    	    return false; // avoid to execute the actual submit of the form.
    	  }); // $("form").submit
      
      
      $('#alias').on('change', function() {
			 var cdaliass = $("select#alias").val();			 
			 
		     $("#subaccount > option").remove(); //it is not working
			  $('<option>').val("").text("Select one SubAccount to deactivate").appendTo($('#subaccount'));   
		        
		$.get('Controller', {
			op : 'getSettleInstSubaccount', alias : cdaliass
		}, function(response) {
			$.each(response, function(key, value) {
				$('<option>').val(key).text(value).appendTo(
						$('#subAccount'));
			});
		});
		
		});
    </script>