<div>
  <form class="smart-green">
    <h1>
      Update BroClient Form
      <span>Please fill all the texts in the fields.</span>
    </h1>
    <input type="hidden" name="op" value="broclient">
    <input type="hidden" name="mode" id="mode" value="S">
    <ul>
      <li>
        <select id="identifier" name="identifier" title="Lista posibles contractuales"
          class="field-style field-split align-left"
        >
            <option value="">Select one identifier ...</option>
        </select>
      </li>
      
      <li>
        <br />
        
      <li class="botones">        
        <input id="search" type="submit" class="button" value="Search" />
      </li> 
        <!-- <select id="hasAuthorization" name="hasAuthorization"
          class="field-style field-split align-left"
        >
            <option value="">Has Authorization? ...</option>
            <option value="true">TRUE</option>
            <option value="false">FALSE</option>
        </select>
        <select id="hasRiskAuthorization" name="hasRiskAuthorization"
          class="field-style field-split align-right"
        >
            <option value="">Has Risk Authorization? ...</option>
            <option value="true">TRUE</option>
            <option value="false">FALSE</option>
        </select>
      </li>
      
      <li>
        <br />-->
        <li>
        <select id="residenceType" name="residenceType" title="residenceType"
          class="field-style field-split align-left"
        >
            <option value="">Select one residence type ...</option>
            <option value="Resident">Resident</option>
            <option value="Non Resident">Non Resident</option>
        </select>
      </li>
      
      <li>
        <br />
        <select id="managementCategory" name="managementCategory"  title="managementCategory"
          class="field-style field-split align-left"
        >
            <option value="">Select one Management Category ...</option>
        </select>
        <select id="fiscalCategory" name="fiscalCategory"  title="fiscalCategory"
          class="field-style field-split align-right"
        >
            <option value="">Select one Fiscal Category ...</option>
        </select>
      </li>
      
      <li>
        <br />
        <input id="bankReference" type="text" name="bankReference" title="bankReference"
          class="field-style field-split align-left" placeholder="Bank Reference"
        />
      </li>
      
      <li>
        <br />
        <select id="miFIDCategory" name="miFIDCategory" title="miFIDCategory"
          class="field-style field-split align-left"
        >
            <option value="">Select one MIFID Category ...</option>
            <option value="Counterpart">Counterpart</option>
            <option value="Professional">Professional</option>
            <option value="Retail">Retail</option>
        </select>
        <select id="clientNature" name="clientNature"  title="clientNature"
          class="field-style field-split align-right"
        >
            <option value="">Select one Client Nature ...</option>
            <option value="instit">Institutional</option>
            <option value="retail">Retail</option>
        </select>
      </li>
      
      <li class="botones">
        <input id="entityDelete" type="submit" title="Delete Broclient" class="button" value="Delete"/>
        <input id="entitySend" type="submit" class="button" value="Save" title="Save Broclient" />
      </li>
    </ul>
  </form>
  <script>
  
  $('#search').click(function() {
      //alert("boton search pulsado")
      $("#mode").val("S");
      var value = $("#mode").val();
      //alert(value)  
        
		$("#identifier").prop('required', true);
      
		$('form :disabled').addClass("ui-state-disabled");
        $('form :enabled').removeClass("ui-state-disabled");

        //$("#hasAuthorization").prop('disabled', true);
        //$("#hasRiskAuthorization").prop('disabled', true);
        $("#residenceType").prop('disabled', false);
        $("#managementCategory").prop('disabled', false);
        $("#fiscalCategory").prop('disabled', false);
        $("#bankReference").prop('disabled', false);
        $("#miFIDCategory").prop('disabled', false);
        $("#clientNature").prop('disabled', false);

        //$('form :disabled').addClass("ui-state-disabled");
        
        //$('form :enabled').addClass("ui-state-disabled");
	     //$('form :disabled').removeClass("ui-state-disabled");
		 
		

      

      return true; // prevent reset button from resetting again
    });


$('#entitySend').click(function() {
      //alert("boton search pulsado")
      $("#mode").val("U");
      var value = $("#mode").val();
      //alert(value)
      
        
		   $("#identifier").prop('required', true);

         
          $("#residenceType").prop('required', true);
          $("#managementCategory").prop('required', true);
          $("#fiscalCategory").prop('required', true);
          $("#bankReference").prop('required', true);
          $("#miFIDCategory").prop('required', true);
          $("#clientNature").prop('required', true);
          
         

          

      

      return true; // prevent reset button from resetting again
    });
    
    
$('#entityDelete').click(function() {
    //alert("boton search pulsado")
    $("#mode").val("D");
    var value = $("#mode").val();
    //alert(value)
    
      
		   $("#identifier").prop('required', true);

       
        $("#residenceType").prop('required', true);
        $("#managementCategory").prop('required', true);
        $("#fiscalCategory").prop('required', true);
        $("#bankReference").prop('required', true);
        $("#miFIDCategory").prop('required', true);
        $("#clientNature").prop('required', true);
        
       

        

    

    return true; // prevent reset button from resetting again
  });

      $(document).ready(function() {
        console.log("BroClient document loaded");

        $("form").css({
          'max-width' : '700px'
        });

        $("#identifier").prop('required', true);

        //$("#hasAuthorization").prop('disabled', true);
        //$("#hasRiskAuthorization").prop('disabled', true);
        $("#residenceType").prop('disabled', true);
        $("#managementCategory").prop('disabled', true);
        $("#fiscalCategory").prop('disabled', true);
        $("#bankReference").prop('disabled', true);
        $("#miFIDCategory").prop('disabled', true);
        $("#clientNature").prop('disabled', true);

        $('form :disabled').addClass("ui-state-disabled");

        $.get('Controller', {
            op : 'getAliasBroClient'
          }, function(response) {
            $.each(response, function(key, value) {
              $('<option>').val(key).text(value).appendTo($('#identifier'));
            });
          });

        $.get('Controller', {
          op : 'getBroClientManagementCategory'
        }, function(response) {
          if (response.success) {
            $.each(response, function(key, value) {
              if (key != 'success') {
                $('<option>').val(key).text(value).appendTo($('#managementCategory'));
              } // if
            }); // $.each
          } else {
            $('<option>').val(response.success).text(response.errorMessage).appendTo($('#managementCategory'));
          } // else
        }); // $.get

        $.get('Controller', {
          op : 'getBroClientFiscalCategory'
        }, function(response) {
          if (response.success) {
            $.each(response, function(key, value) {
              if (key != 'success') {
                $('<option>').val(key).text(value).appendTo($('#fiscalCategory'));
              } // if
            }); // $.each
          } else {
            $('<option>').val(response.success).text(response.errorMessage).appendTo($('#fiscalCategory'));
          } // else
        }); // $.get

        $("input:reset").click(function() {
          this.form.reset();

          //$("#hasAuthorization").prop('disabled', true);
          //$("#hasRiskAuthorization").prop('disabled', true);
          $("#residenceType").prop('disabled', true);
          $("#managementCategory").prop('disabled', true);
          $("#fiscalCategory").prop('disabled', true);
          $("#bankReference").prop('disabled', true);
          $("#miFIDCategory").prop('disabled', true);
          $("#clientNature").prop('disabled', true);

          $('form :disabled').addClass("ui-state-disabled");

          return false; // prevent reset button from resetting again
        }); // $("input:reset").click

      }); // $(document).ready

      

      $("form").submit(function() {
        var url = "Controller";
        $.ajax({
          type : "POST",
          url : url,
          data : $("form").serialize(),
          beforeSend : function(){ $("#Loader").css("visibility","visible");},
          success : function(data) {
        	  $("#Loader").css("visibility","hidden");
        	  if (data.success == "true") {
        		  var modeValue = $("#mode").val();
  				if (modeValue=="S")
            	  {
  					var comando = data.message;
  					if (comando == "")
  						{
            	  		alert("Please repeat search");
  						}
  					else
  						{
  						alert("Sucess Search");
            	  		eval(comando);
            	  		
            	  		$('form :disabled').addClass("ui-state-disabled");
            	        $('form :enabled').removeClass("ui-state-disabled");
  						}
            	  
            	  }
              else
            	  {
              alert("OK ... BroClient generada correctamente.");
            	  }
              //               $.each(data, function(key, value) {
              //                 alert(key + ': ' + value);
              //               });
            } else {
              alert("Error ... " + data.errorMessage + ".");
            } // else
          } // success
        }); // $.ajax
        return false; // avoid to execute the actual submit of the form.
      }); // $("form").submit
    </script>
</div>