<div>
  <form class="smart-green">
    <h1>
      Update Entities Form
      <span>Please fill all the texts in the fields.</span>
    </h1>
    <input type="hidden" id="op" name="op" value="entities">
    <input type="hidden" id="mode"  name="mode" value="S">
    <ul>
      <li>
        
        <select id="identifier" name="identifier" title="identifier"
            
          >
              <option value="">Select one entity ...</option>
        </select>
      </li>
      
    
        <br />
        
       <li class="botones">        
        <input id="search" type="submit" class="button" value="Search" />
      </li> 
      
      <!-- <input type="text" name="field3" class="field-style field-full align-none" placeholder="Subject" /> -->
      
      <li>
        <br />
        
        <select id="type" name="type"
         class="field-style field-split align-left"
        >
          <option value="">Select one type ...</option>
          <option value="BroClient">BroClient(Contractual)</option>
          <option value="Broker">Broker</option>
          <option value="Clearer">Clearer/Custodio</option>
          
        </select>
      
        <input id="name" type="text" name="name" title="Name"
          class="field-style field-split align-right" placeholder="Name"
        />
      </li>
      
      
        <li>
      
        
        <input id="nudnicif" type="text" name="nudnicif"
          title="CIF/NIF number" maxlength = "10" class="field-style field-split-three"
          placeholder="NIF/CIF"
        />
        <input id="bic" type="text" name="bic" title="BIC Number"
          class="field-style field-split-three" placeholder="BIC"
        />
        
        <input id="dwhCode" type="text" name="dwhCode" title="DWH Code" readonly 
          class="field-style field-split-three" placeholder=""
        />
        
        
      </li>
      
      <li>
        <br />
        
        <select id="residence" name="residence" title="Residence"
          class="field-style field-split align-left"
        >
            <option value="">Select one residence ...</option>
        </select>
        
        <select id="nationality" name="nationality" title="Nationality"
          class="field-style field-split align-right"
        >
            <option value="">Select one nationality ...</option>
        </select>
      </li>
      
      <li>
        <br />
        
        <fieldset>
          <legend>BroClient data</legend>
          <input id="street" type="text" name="street" title="Street"
            class="field-style field-split align-left" placeholder="Street"
          />
          
          <input id="streetNumber" type="text" name="streetNumber"
            title="Street number" class="field-style field-split align-right"
            placeholder="Street number"
          />
          
          <br />
          <br />
          <br />
          
          <input id="city" type="text" name="city" title="City"
            class="field-style field-split align-left" placeholder="City"
          />
          
          <input id="province" type="text" name="province" title="Province"
            class="field-style field-split align-right" placeholder="Province"
          />
          
          <br />
          <br />
          <br />
          
          <input id="zipCode" type="text" name="zipCode" title="Zip code"
            class="field-style field-split-three" placeholder="Zip code"
          />
          
          <input id="kgrCode" type="text" name="kgrCode" title="KGR Code"
            class="field-style field-split-three" placeholder="KGR Code"
          />
          
          <select id="entityType" name="entityType" title= 'Broclient Type'
         class="field-style field-split-three"  >
         
          <option value="">Select one Broclient Type ...</option>
          <option value="PersonMoral">Jurídica</option>
          <option value="PersonPhysical">Física</option>          
          
        </select>
          
          <br />
          <br />
          
        </fieldset>
      </li>
      
      <li class="botones">
        <input id="entityDelete" type="submit" title="Delete Entity" class="button" value="Delete"/>
        <input id="entitySend" type="submit" class="button" value="Save" title="Save Entity" />
      </li>
    </ul>
  </form>
  <script>
  
  $('#search').click(function() {
      //alert("boton search pulsado")
      $("#mode").val("S");
      var value = $("#mode").val();
      //alert(value)  
        
	
		 
		

      

      return true; // prevent reset button from resetting again
    });


$('#entitySend').click(function() {
      //alert("boton search pulsado")
      $("#mode").val("U");
      var value = $("#mode").val();
      //alert(value)
      
        
		

      

      return true; // prevent reset button from resetting again
    });
    
    
$('#entityDelete').click(function() {
    //alert("boton search pulsado")
    $("#mode").val("D");
    var value = $("#mode").val();
    //alert(value)
    
      
		

    

    return true; // prevent reset button from resetting again
  });
  
  
      $(document).ready(function() {
        console.log("entity form loaded");

        $("form").css({
          'max-width' : '700px'
        });

         {
          console.log("entity N");

          $("#type").prop('disabled', true);

          $("#identifier").prop('disabled', false);
          $("#identifier").prop('required', true);
          $("#name").prop('disabled', true);
          $("#nudnicif").prop('disabled', true);
          $("#bic").prop('disabled', true);
          $("#residence").prop('disabled', true);
          $("#nationality").prop('disabled', true);

          $("#street").prop('disabled', true);
          $("#streetNumber").prop('disabled', true);
          $("#city").prop('disabled', true);
          $("#province").prop('disabled', true);
          $("#zipCode").prop('disabled', true);
          $("#kgrCode").prop('disabled', true);
          $("#entityType").prop('disabled', true);

          $('form :disabled').addClass("ui-state-disabled");
        } // else

        $.get('Controller', {
          op : 'getCountries'
        }, function(response) {
          if (response.success) {
            $.each(response, function(key, value) {
              if (key != "success") {
                $('<option>').val(key).text(value).appendTo($('#residence'));
                $('<option>').val(key).text(value).appendTo($('#nationality'));
              } // if
            }); // $.each
          } else {
            $('<option>').val(response.success).text(response.errorMessage).appendTo($('#residence'));
            $('<option>').val(response.success).text(response.errorMessage).appendTo($('#nationality'));
          } // else
        }); // $.get

        $("input:reset").click(function() {
          this.form.reset();

          $("#identifier").prop('disabled', true);
          $("#name").prop('disabled', true);
          $("#nudnicif").prop('disabled', true);
          $("#bic").prop('disabled', true);
          $("#residence").prop('disabled', true);
          $("#nationality").prop('disabled', true);

          $("#street").prop('disabled', true);
          $("#streetNumber").prop('disabled', true);
          $("#city").prop('disabled', true);
          $("#province").prop('disabled', true);
          $("#zipCode").prop('disabled', true);
          $("#kgrCode").prop('disabled', true);
          $("#entityType").prop('disabled', true);

          $('form :disabled').addClass("ui-state-disabled");

          return false; // prevent reset button from resetting again
        }); // $("input:reset").click
        
        
        

      }); // $(document).ready

      $('#type').on('change', function() {
    	  

        // myfunction();
          
    	  
      }); // $('#type').on
      
      
      function myfunction()
      {
    	  
    	   $("#type").prop('disabled', false);
    	  if ($("#type").val() == '') {
             // $("#entityResetForm").trigger('click');
            } else {
              var tipo = $("#type").val();
            //  $("#entityResetForm").trigger('click');
              $("#type").val(tipo);

              $("#identifier").prop('disabled', false);
              $("#name").prop('disabled', false);
              $("#nudnicif").prop('disabled', false);
              $("#bic").prop('disabled', false);
              $("#residence").prop('disabled', false);
              $("#nationality").prop('disabled', false);

              if ($("#type").val() == 'BroClient') {
                $("#identifier").prop('required', true);
                $("#name").prop('required', true);

                $("#nudnicif").prop('required', true);
                $("#bic").prop('required', false);

                $("#street").prop('required', true);
                $("#streetNumber").prop('required', true);
                $("#city").prop('required', true);
                $("#province").prop('required', true);
                $("#zipCode").prop('required', true);
                $("#kgrCode").prop('required', true);
                $("#entityType").prop('required', true);

                $("#street").prop('disabled', false);
                $("#streetNumber").prop('disabled', false);
                $("#city").prop('disabled', false);
                $("#province").prop('disabled', false);
                $("#zipCode").prop('disabled', false);
                $("#kgrCode").prop('disabled', false);
                $("#entityType").prop('disabled', false);
              } else {
                $("#identifier").prop('required', true);
                $("#name").prop('required', true);

                $("#nudnicif").prop('required', false);
                $("#bic").prop('required', true);

                $("#street").prop('required', false);
                $("#streetNumber").prop('required', false);
                $("#city").prop('required', false);
                $("#province").prop('required', false);
                $("#zipCode").prop('required', false);
                $("#kgrCode").prop('required', false);
                $("#entityType").prop('required', false);

                $("#street").prop('disabled', true);
                $("#streetNumber").prop('disabled', true);
                $("#city").prop('disabled', true);
                $("#province").prop('disabled', true);
                $("#zipCode").prop('disabled', true);
                $("#kgrCode").prop('disabled', true);
                $("#entityType").prop('disabled', true);
              } // else

              $('form :disabled').addClass("ui-state-disabled");
              $('form :enabled').removeClass("ui-state-disabled");
            } // else
            	
            
      }
      
      
      $.get('Controller', {
			op : 'getEntitiesList'
		}, function(response) {
			var $select = $('#identifier');
			var options = '';
			$.each(response, function(key, value) {
				/*$('<option>').val(key).text(value).appendTo($select);*/
				options += '<option value="' + key + '">' + value + '</option>'
			});
			$select.append(options);
		});
      
      
      /* var $select = $('#identifier');
		$.each(response, function(key, value) {
			$('<option>').val(key).text(value).appendTo(
					$select);
		});*/
      
      
 
      

      $("form").submit(function() {
    	  
    	  var modeValue = $("#mode").val();			
    	  if (document.forms[0].dwhCode.value == "" && modeValue=="U")
		  		{
		  		alert("dwh code empty");
		  		return false;
		  		}
        var url = "Controller";
        $.ajax({
          type : "POST",
          url : url,
          data : $("form").serialize(),
          beforeSend : function(){ $("#Loader").css("visibility","visible");},
          success : function(data) {
        	  $("#Loader").css("visibility","hidden");
        	  
            if (data.success == "true") {
            	 var modeValue = $("#mode").val();
   				if (modeValue=="S")
             	  {
   					var comando = data.message;
   					if (comando == "")
   						{
             	  		alert("Please repeat search");
   						}
   					else
   						{
   						alert("Sucess Search");
             	  		eval(comando);
             	  		
             	  		$('form :disabled').addClass("ui-state-disabled");
             	        $('form :enabled').removeClass("ui-state-disabled");
             	        
             	       	myfunction();
   						}
             	  
             	  }
               else
             	  {
              alert("OK ... Entity generada correctamente.");
             	  }
              //               $.each(data, function(key, value) {
              //                 alert(key + ': ' + value);
              //               });
            } else {
              alert("Error ... " + data.errorMessage + ".");
            } // else
          } // success
        }) // ajax
        return false; // avoid to execute the actual submit of the form.
      }); // submit
    </script>
</div>