<div>
  <form class="smart-green">
    <h1>
      Entities Form
      <span>Please fill all the texts in the fields.</span>
    </h1>
    
    <input type="hidden" name="op" value="entities">
    <input type="hidden" name="mode" value="S">
    <ul>
      <li>
        <select id="type" name="type"
          class="field-style field-split align-left"
        >
            <option value="">Select one type ...</option>
            <option value="BroClient">BroClient</option>
            <option value="Broker">Broker</option>
            <option value="Clearer">Clearer</option>
            <option value="Custodio">Custodio</option>
        </select>
      </li>
      
      <li>
        <input id="identifier" type="text" name="identifier"
          class="field-style field-split align-left" placeholder="Identifier"
        />
      </li>
      
      <li class="botones">
        <br />
        <input id="entityResetForm" type="reset" title="Reset form values" class="button" value="Reset Form"/>
        <input id="entitySend" type="submit" class="button" value="Send form" title="Submit form" />
      </li>
    </ul>
  </form>
  <script>
      $(document).ready(function() {
        console.log("entity search form loaded");
        
        $("#type").prop('required', true);
        $("#identifier").prop('disabled', true);
        $('form :disabled').addClass("ui-state-disabled");
      }); // $(document).ready

      $('#type').on('change', function() {
        if ($("#type").val() == '') {
          $("#entityResetForm").trigger('click');
          $("#identifier").prop('disabled', true);
          $('form :disabled').addClass("ui-state-disabled");
        } else {
          var tipo = $("#type").val();
          $("#entityResetForm").trigger('click');
          $("#type").val(tipo);
          $("#identifier").prop('disabled', false);
          $('form :disabled').addClass("ui-state-disabled");
          $('form :enabled').removeClass("ui-state-disabled");
        } // else
      }); // $('#type').on

      $("form").submit(function() {
        var url = "Controller";
        $.ajax({
          type : "POST",
          url : url,
          data : $("form").serialize(),
          beforeSend : function(){ $("#Loader").css("visibility","visible");},
          success : function(data) {
        	  $("#Loader").css("visibility","hidden");
            if (data.success) {
              alert("OK ... Entity cargada correctamente.");
              $("#content").html(data.page);
            } else {
              alert("Error ... " + data.errorMessage + ".");
            } // else
          } // success
        }) // ajax
        return false; // avoid to execute the actual submit of the form.
      }); // submit
      
    </script>
</div>