<div>
  <form class="smart-green">
    <h1>
      Modify SettMap Form <span>Please fill all the texts in the fields.</span>
    </h1>
    <input type="hidden" name="op" value="settMap">
    <input type="hidden" name="mode" value="N">
    <ul>
      <li>
      
      <select id="alias" name="alias" title = "alias List"
          class="field-style field-split align-left"
        >
            <option value="">Select one alias ...</option>
        </select>
      
      
      <select id="subAccount" name="subAccount" title = "SubAccountList"
        class="field-style field-split align-right"
      >
          <option value="">Select one SubAccount ...</option>
      </select>
      
     
      </li>
      
     
      
      <br />
      
     
      
       <li>
        <fieldset>
          <legend>Clearer genérico</legend>
          
          <select id="settlementTypeCLG" name="settlementTypeCLG" title = "Settlement Type"
            class="field-style field-split align-left"
          >
            <option value="">Select one settlement type ...</option>
          </select>
          
          <br />
          <br />
          
          <input id="clearerCLG" type="text" title="Clearer"
            name="clearerCLG" class="field-style field-split-four"
            value="0038"
          />
          
          <input id="accountAtClearerCLG" type="text" title = "AccountAtClearer Number"
            name="accountAtClearerCLG"
            class="field-style field-split-four"
            value="57770000904720"
          />
          
          <select id="clearingModeCLG" name="clearingModeCLG" title="Clearing Mode"
            class="field-style field-split-four"
          >
            <option value="">Select one clearing mode ...</option>
            <option value="Rectora">Rectora</option>
            <option value="Sociedad">Sociedad</option>
          </select>
          
          <input id="custodianCLG" type="text" name="custodianCLG" title="Custodian"
            class="field-style field-split-four"
            placeholder="Custodian"
          />
        </fieldset>
      </li>
      
      <br />
      
      
      
      <br />
      
      <li>
        <fieldset>
          <legend>Custodio genérico</legend>
          <select id="settlementTypeCUG" name="settlementTypeCUG" title = "Settlement Type"
            class="field-style field-split align-left"
          >
            <option value="">Select one settlement type ...</option>
          </select> <br />
          <br />
          
          <select id="custodianCUG" name="custodianCUG"  title="Custodian List"
           class="field-style field-split align-left"
          >
              <option value="">Select one local custodian ...</option>
        </select>
          
          <!-- <input id="custodianCUG" type="text" name="custodianCUG" title="Custodian"
            class="field-style field-split align-left"
            placeholder="Custodian"
          />-->
        </fieldset>
      </li>
      
      <br />
      
      <li>
        <fieldset>
          <legend>Clearer Mercado</legend>
          <select id="settlementTypeCLM" name="settlementTypeCLM" title = "Settlement Type"
            class="field-style field-split align-left"
          >
            <option value="">Select one settlement type ...</option>
          </select>
          
          <br />
          <br />
          
          <input id="clearerCLM" type="text" title="Clearer"
            name="clearerCLM" class="field-style field-split-four"
            value="0038"
          />
          
          <input id="accountAtClearerCLM" type="text" title = "AccountAtClearer Number"
            name="accountAtClearerCLM"
            class="field-style field-split-four"
            value="57770000904720"
          />
          
          <input id="custodianCLM" type="text" name="custodianCLM" title="Custodian"
            class="field-style field-split-four"
            placeholder="Custodian"
          />
          
         <!--  <input id="marketCLM" type="text"
            name="marketCLM"
            class="field-style field-split-four"
            placeholder="Market"
          />
          -->
          
           <select id="marketCLM" name="marketCLM" title="Market"
          class="field-style field-split-four"
        >
            <option value="">Select one market ...</option>
        </select>
          
          
        </fieldset>
      </li>
      
      <li>
        <fieldset>
          <legend>Custodio mercado</legend>
          <select id="settlementTypeCUM" name="settlementTypeCUM" title = "Settlement Type"
            class="field-style field-split align-left"
          >
            <option value="">Select one settlement type ...</option>
          </select> <br />
          <br />
          
         
         <select id="custodianCUM" name="custodianCUM"  title="Custodian List"
           class="field-style field-split align-left"
          >
              <option value="">Select one local custodian ...</option>
        </select>
          
         <!--  <input id="custodianCUM" type="text" name="custodianCUM" title="Custodian"
            class="field-style field-split align-left"
            placeholder="Custodian"
          />
          -->
          
          <!-- <input id="marketCUM" type="text"
            name="marketCUM"
            class="field-style field-split align-right"
            placeholder="Market"
          />
          -->
           <select id="marketCUM" name="marketCUM" title="Market"
          class="field-style field-split-four"
        >
            <option value="">Select one market ...</option>
        </select>
          
        </fieldset>
      </li>
      
      <li class="botones"><input id="entityResetForm" type="reset"
        class="button" value="Reset Form"
      /> <input id="entitySend" type="submit" class="button" value="Send form" />
      </li>
    </ul>
  </form>
  <script>
			$(document).ready(
					function() {
						console.log("Alias document loaded");
						
						 $("#alias").prop('required', true);

						$("form").css({
							'max-width' : '1000px'
						});
						
						$("fieldset legend").click(function() {
							if ($(this).parent().children().length == 2)
								$(this).parent().find("div").toggle();
							else {
								$(this).parent().wrapInner("<div>");
								$(this).appendTo($(this).parent().parent());
								$(this).parent().find("div").toggle();
							}
						});

						
						//$("#identifier").prop('required', true);
				        //$("#identifier").prop('disabled', true);
						
				        $.get('Controller', {
							op : 'getSettleInstAlias'
						}, function(response) {
							$.each(response, function(key, value) {
								$('<option>').val(key).text(value).appendTo(
										$('#alias'));
							});
						});

						
						
						$.get('Controller', {
							op : 'getSettlementTypes'
						}, function(response) {
						  if (response.success) {
							$.each(response, function(key, value) {
							  if (key != "success") {
    							  
								  $('<option>').val(key).text(value).appendTo($('#settlementTypeCLG'));
								  $('<option>').val(key).text(value).appendTo($('#settlementTypeCLM'));
								  $('<option>').val(key).text(value).appendTo($('#settlementTypeCUG'));    						     
    							  $('<option>').val(key).text(value).appendTo($('#settlementTypeCUM'));
							  }
							});
						  }
						});	
						
						
				        $.get('Controller', {
							op : 'getSettleInstMarket'
						}, function(response) {
							$.each(response, function(key, value) {
								$('<option>').val(key).text(value).appendTo($('#marketCLM'));
								$('<option>').val(key).text(value).appendTo($('#marketCUM'));
							});
						});
						
				        
				        $.get('Controller', {
							op : 'getSettleInstCounterpartIdentifier'
						}, function(response) {
							$.each(response, function(key, value) {
								$('<option>').val(key).text(value).appendTo($('#custodianCUM'));
								$('<option>').val(key).text(value).appendTo($('#custodianCUG'));
								
							});
						});
						

					});
		
			
						
						

			$("form").submit(function() {
				//alert($("form").serialize());
				
			    var url = "Controller";
			    $.ajax({
			      type : "POST",
			      url : url,
			      data : $("form").serialize(),
			      beforeSend : function(){ $("#Loader").css("visibility","visible");},
		          success : function(data) {
		        	  $("#Loader").css("visibility","hidden");
			    	  if (data.success == "true") {
			          alert("OK ... SettMap modificada correctamente.");
			          //               $.each(data, function(key, value) {
			          //                 alert(key + ': ' + value);
			          //               });
			        } else {
			          alert("Error ... " + data.errorMessage + ".");
			        } // else
			      } // success
			    }); // $.ajax
			    return false; // avoid to execute the actual submit of the form.
			  }); // $("form").submit
			  
			  
			  $('#alias').on('change', function() {
				  $("#subAccount > option").remove(); //it is not working
				  $('<option>').val("").text("Select one SubAccount").appendTo($('#subAccount'));				  
					 var cdaliass = $("select#alias").val();		
				$.get('Controller', {
					op : 'getSettleInstSubaccount', alias : cdaliass
				}, function(response) {
					$.each(response, function(key, value) {
						$('<option>').val(key).text(value).appendTo(
								$('#subAccount'));
					});
				});
				
				});
		</script>
</div>