<div>
  <form class="smart-green">
    <h1>
      Settlement instructions Form <span>Please fill all the texts in the fields.</span>
    </h1>
    <input type="hidden" name="op" value="settleinst">
    <input type="hidden" name="mode" value="N">
    <ul>
      <li>
        <select id="alias" name="alias"
          class="field-style field-split align-left"
        >
            <option value="">Select one alias ...</option>
        </select>
      </li>
      
      <li>
        <select id="subaccount" name="subaccount"
          class="field-style field-split align-left"
        >
            <option value="">Select one subaccount ...</option>
        </select>
      </li>
      
      <li>
        <select id="market" name="market"
          class="field-style field-split align-left"
        >
            <option value="">Select one market ...</option>
        </select>
      </li>
      
      <br />
      
       <li>
        <!-- <select id="counterpartIdentifier" name="counterpartIdentifier"
            class="field-style field-split align-left"
          >
              <option value="">Select one counterpart identifier ...</option>
        </select>
        -->
        
        <input id="counterpartIdentifier" type="text" name="counterpartIdentifier"
          class="field-style field-split align-left" placeholder="counterpartIdentifier"  />
     
        <select id="settlementType" name="settlementType"
          class="field-style field-split align-right"
        >
            <option value="">Select one settlement type ...</option>
        </select>
        </li>        
      
      <br />
      
      <li>
        <input id="dateFrom" type="text" name="dateFrom"
          class="field-style field-split align-left" placeholder="From date"
        />
        <input id="dateTo" type="text" name="dateTo"
          class="field-style field-split align-right" placeholder="To date"
        />
      </li>     
     
      
      <br />
      
      <li>
        <select id="sendBeneficiary" name="sendBeneficiary"
          class="field-style field-split align-left"
        >
            <option value="">Send Beneficiary? ...</option>
            <option value="true">TRUE</option>
            <option value="false">FALSE</option>
        </select>
      </li>
      
      <li>
        
          
         <!--  <select id="beneficiary" name="beneficiary"
            class="field-style field-split align-left" >
            <option value="">Select one beneficiary ...</option>
        </select>
        
        -->
        
        <input id="beneficiary" type="text" name="beneficiary"
          class="field-style field-split align-left" placeholder="Beneficiary"  />
          
          <input id="beneficiaryId" type="text" name="beneficiaryId"
          class="field-style field-split align-right" placeholder="Beneficiary Id"  />
          
          <!-- <select id="beneficiaryId" name="beneficiaryId"
            class="field-style field-split align-right"
          >
              <option value="">Select one beneficiary Id ...</option>
        </select>        
        
          -->
              
      </li>
      
      <li>
        <input id="beneficiaryAccount" type="text" name="beneficiaryAccount"
          class="field-style field-full" placeholder="Beneficiary Account"
        />
      </li>
      
      <br />
      
      <li>        
        
       <!--  <select id="localCustodian" name="localCustodian"
            class="field-style field-split align-left"
          >
              <option value="">Select one local custodian ...</option>
        </select>
        
        -->
        
        <input id="localCustodian" type="text" name="localCustodian"
          class="field-style field-split align-left" placeholder="LocalCustodian"  />
        
        
        <input id="localCustodianId" type="text" name="localCustodianId"
          class="field-style field-split align-right" placeholder="LocalCustodian Id"  />
          
          <!--
          
          <select id="localCustodianId" name="localCustodianId"
            class="field-style field-split align-right"
          >
              <option value="">Select one local custodian Id ...</option>
        </select> 
           -->
        
        
        
      </li>
      
      <li>
        <input id="localCustodianAccount" type="text" name="localCustodianAccount"
          class="field-style field-full" placeholder="Local Custodian Account"
        />
      </li>
      
      <br />
      
      <li>      
        
        <!-- <select id="globalCustodian" name="globalCustodian"
            class="field-style field-split align-left"
          >
              <option value="">Select one global custodian ...</option>
        </select>
        -->
        
        <input id="globalCustodian" type="text" name="globalCustodian"
          class="field-style field-split align-left" placeholder="Global Custodian"  />
        
           <input id="globalCustodianId" type="text" name="globalCustodianId"
          class="field-style field-split align-right" placeholder="GlobalCustodian Id"  />
          
          
          <!--
          
          
           <select id="globalCustodianId" name="globalCustodianId"
            class="field-style field-split align-right"
          >
              <option value="">Select one global custodian Id ...</option>
        </select> 
          
          
           -->
          
          
          
      </li>
      
      <li>
        <input id="globalCustodianAccount" type="text" name="globalCustodianAccount"
          class="field-style field-full" placeholder="Global Custodian Account"
        />
      </li>
      
      <br />
      <li>
        
        <!-- <select id="placeOfSettlement" name="placeOfSettlement"
          class="field-style field-split align-left"
        >
            <option value="">Select one place of settlement ...</option>
        </select>
        -->
        
        <input id="placeOfSettlement" type="text" name="placeOfSettlement"
          class="field-style field-split align-left" placeholder="placeOfSettlement"  />
      </li>
      
      <br/>
      
      
      
      <li class="botones">
        <input id="entityResetForm" type="reset" class="button" value="Reset Form" />
        <input id="entitySend" type="submit" class="button" value="Send form" />
      </li>
    </ul>
  </form>
  <script>

			$(document).ready(
					function() {
						console.log("Settlement instruction document loaded");

						$("#alias").prop('required', false);
						$("#subaccount").prop('required', false);
						$("#market").prop('required', true);
						$("#settlementType").prop('required', true);
						$("#placeOfSettlement").prop('required', false);
						$("#dateFrom").prop('required', true);
						$("#dateTo").prop('required', true);
						$("#counterpartIdentifier").prop('required', true);
						$("#sendBeneficiary").prop('required', true);
						$("#beneficiaryId").prop('required', false);
						$("#beneficiary").prop('required', true);
						$("#beneficiaryAccount").prop('required', false);
						$("#localCustodianId").prop('required', false);
						$("#localCustodian").prop('required', true);
						$("#localCustodianAccount").prop('required', false);
						$("#globalCustodianId").prop('required', false);
						$("#globalCustodian").prop('required', false);
						$("#globalCustodianAccount").prop('required', false);
						
						$("#dateFrom").datepicker(
								{
									changeMonth : true,
									changeYear : true,
									onClose : function(selectedDate) {
										$("#dateTo").datepicker("option",
												"minDate", selectedDate);
									}
								});

						$("#dateTo").datepicker(
								{
									changeMonth : true,
									changeYear : true,
									onClose : function(selectedDate) {
										$("#dateFrom").datepicker("option",
												"maxDate", selectedDate);
									}
								});

						$.get('Controller', {
							op : 'getSettleInstAlias'
						}, function(response) {
							$.each(response, function(key, value) {
								$('<option>').val(key).text(value).appendTo(
										$('#alias'));
							});
						});

						/*$.get('Controller', {
							op : 'getSettleInstSubaccount'
						}, function(response) {
							$.each(response, function(key, value) {
								$('<option>').val(key).text(value).appendTo(
										$('#subaccount'));
							});
						});
						*/

						$.get('Controller', {
							op : 'getSettleInstMarket'
						}, function(response) {
							$.each(response, function(key, value) {
								$('<option>').val(key).text(value).appendTo(
										$('#market'));
							});
						});

						$.get('Controller', {
							op : 'getSettleInstCounterpartIdentifier'
						}, function(response) {
							$.each(response, function(key, value) {
								$('<option>').val(key).text(value).appendTo(
										$('#counterpartIdentifier'));
							});
						});

						/*$.get('Controller', {
							op : 'getSettleInstBeneficiaryId'
						}, function(response) {
							$.each(response, function(key, value) {
								$('<option>').val(key).text(value).appendTo(
										$('#beneficiaryId'));
							});
						});
						*/

						$.get('Controller', {
							op : 'getSettleInstBeneficiary'
						}, function(response) {
							$.each(response, function(key, value) {
								$('<option>').val(key).text(value).appendTo(
										$('#beneficiary'));
							});
						});

						/*$.get('Controller', {
							op : 'getSettleInstLocalCustodianId'
						}, function(response) {
							$.each(response, function(key, value) {
								$('<option>').val(key).text(value).appendTo(
										$('#localCustodianId'));
							});
						});
						*/

						$.get('Controller', {
							op : 'getSettleInstLocalCustodian'
						}, function(response) {
							$.each(response, function(key, value) {
								$('<option>').val(key).text(value).appendTo(
										$('#localCustodian'));
							});
						});

						/*$.get('Controller', {
							op : 'getSettleInstGlobalCustodianId'
						}, function(response) {
							$.each(response, function(key, value) {
								$('<option>').val(key).text(value).appendTo(
										$('#globalCustodianId'));
							});
						});
						*/

						$.get('Controller', {
							op : 'getSettleInstGlobalCustodian'
						}, function(response) {
							$.each(response, function(key, value) {
								$('<option>').val(key).text(value).appendTo(
										$('#globalCustodian'));
							});
						});

						$.get('Controller', {
							op : 'getSettlementTypes'
						}, function(response) {
						  if (response.success) {
							$.each(response, function(key, value) {
							  if (key != "success") {
								$('<option>').val(key).text(value).appendTo(
										$('#settlementType'));
							  }
							});
						  }
						});

						/*$.get('Controller', {
							op : 'getSettleInstPlaceOfSettlement'
						}, function(response) {
							$.each(response, function(key, value) {
								$('<option>').val(key).text(value).appendTo(
										$('#placeOfSettlement'));
							});
						});
						*/

					});

			$('#identifier').on('change', function() {
				if ($("#identifier").val() == '') {
					$("#entityResetForm").trigger('click');

					$("#hasAuthorization").prop('disabled', true);
					$("#hasRiskAuthorization").prop('disabled', true);
					$("#residenceType").prop('disabled', true);
					$("#managementCategory").prop('disabled', true);
					$("#fiscalCategory").prop('disabled', true);
					$("#bankReference").prop('disabled', true);
					$("#miFIDCategory").prop('disabled', true);
					$("#clientNature").prop('disabled', true);

					$('form :disabled').addClass("ui-state-disabled");
				} else {
					var id = $("#identifier").val();
					$("#entityResetForm").trigger('click');
					$("#identifier").val(id);

					$("#identifier").prop('required', true);

					$("#hasAuthorization").prop('disabled', false);
					$("#hasRiskAuthorization").prop('disabled', false);
					$("#residenceType").prop('disabled', false);
					$("#managementCategory").prop('disabled', false);
					$("#fiscalCategory").prop('disabled', false);
					$("#bankReference").prop('disabled', false);
					$("#miFIDCategory").prop('disabled', false);
					$("#clientNature").prop('disabled', false);

					$("#hasAuthorization").prop('required', true);
					$("#hasRiskAuthorization").prop('required', true);
					$("#residenceType").prop('required', true);
					$("#managementCategory").prop('required', true);
					$("#fiscalCategory").prop('required', true);
					$("#bankReference").prop('required', true);
					$("#miFIDCategory").prop('required', true);
					$("#clientNature").prop('required', true);

					$('form :disabled').addClass("ui-state-disabled");
					$('form :enabled').removeClass("ui-state-disabled");
				}
			});

			$("form").submit(function() {
				var url = "Controller";
				$.ajax({
					type : "POST",
					url : url,
					data : $("form").serialize(),
					beforeSend : function(){ $("#Loader").css("visibility","visible");},
			          success : function(data) {
			        	  $("#Loader").css("visibility","hidden");
						if (data.success == "true") {
				              alert("OK ... SettlementInstruction generada correctamente.");
				              //               $.each(data, function(key, value) {
				              //                 alert(key + ': ' + value);
				              //               });
				            } else {
				              alert("Error ... " + data.errorMessage + ".");
				            } // else
					}
				});
				return false; // avoid to execute the actual submit of the form.
			});
			
			$('#alias').on('change', function() {
				 var cdaliass = $("select#alias").val();

			
			$.get('Controller', {
				op : 'getSettleInstSubaccount', alias : cdaliass
			}, function(response) {
				$.each(response, function(key, value) {
					$('<option>').val(key).text(value).appendTo(
							$('#subaccount'));
				});
			});
			
			});
			
			
			
		</script>
</div>