<div>
  <form class="smart-green">
    <h1>
      Subaccount Form <span>Please fill all the texts in the fields.</span>
    </h1>
    <input type="hidden" name="op" value="subAccount">
    <input type="hidden" name="mode" value="N">
    <ul>
      <li>
      
      <select id="alias" name="alias" title = "alias List"
          class="field-style field-split align-left"
        >
            <option value="">Select one alias ...</option>
        </select>
      
      
      <select id="broClient" name="broClient" title = "Lista Contractuales para la Subcuenta"
        class="field-style field-split align-right"
      >
          <option value="">Select one broclient ...</option>
      </select>
      
     
      </li>
      
      <br />
      
      <li>        
        <input id="identifier" type="number" name="identifier"  class="field-style field-split-three"   title="SubAccount Id"/>
        <input id="name" type="text" name="name" title = "Subaccount Name"
           class="field-style field-split-three" placeholder="Name"
        />
        <input id="alertCode" maxlength = "20" type="text" name="alertCode" title = "Alert Code"
           class="field-style field-split-three" placeholder="Alert Code"
        />
        
        
      </li>
      
    <br />
        <br />
      <li>
        <br />
       
        <fieldset>
          <legend>Clearer genérico</legend>
          
          <select id="settlementTypeCLG" name="settlementTypeCLG" title="Settlement Type"
            class="field-style field-split align-left"
          >
            <option value="">Select one settlement type ...</option>
          </select>
          
          <br />
          <br />
          
          <input id="clearerCLG" type="text" title="clearer"
            name="clearerCLG" class="field-style field-split-four"
            value="0038"
          />
          
          <input id="accountAtClearerCLG" type="text" title="AccountAtClearer Number"
            name="accountAtClearerCLG"
            class="field-style field-split-four"
            value="57770000904720"
          />
          
          <select id="clearingModeCLG" name="clearingModeCLG"  title="Clearing Mode"
            class="field-style field-split-four"
          >
            <option value="">Select one clearing mode ...</option>
            <option value="Rectora">Rectora</option>
            <option value="Sociedad">Sociedad</option>
          </select>              
          
           <input id="custodianCLG" type="text" name="custodianCLG" title="Custodian"
            class="field-style field-split-four"
            placeholder="Custodian"
          />
          
         <br></br>
		
						<input id="clearerMercadoAddMarketCUM" align="right" type="image" src="images/plus64px.png" name="addMarketCUM" class="iconButton-style" title = "New Clearer"></input>
		   
          
          
          
        </fieldset>
      </li>
      
      
             <li>
        <br />
        <div id="clearerMercadoDiv" visibility="hidden" >
			<div id="divClearerMercadoIni" style="display:none">
				<fieldset id="clearerMercadoIni">
					<legend>Clearer Mercado 1</legend>
					
					<div hidden="true">
						<div>Icons made by <a href="http://www.flaticon.com/authors/robin-kylander" title="Robin Kylander">Robin Kylander</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
						<div>Icons made by <a href="http://www.flaticon.com/authors/google" title="Google">Google</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>		
					</div>
					
					<select id="settlementTypeCLMIni" name="settlementTypeCLM" title="Settlement Type" class="field-style field-split align-left">
						<option selected="selected" value="">Select one settlement type ...</option>
						<option value="Domestic / Cedel">Domestic / Cedel</option><option value="Domestic / Domestic">Domestic / Domestic</option><option value="Domestic / Euroclear">Domestic / Euroclear</option><option value="Euroclear / Cedel">Euroclear / Cedel</option><option value="Euroclear / Domestic">Euroclear / Domestic</option><option value="Euroclear / Euroclear">Euroclear / Euroclear</option></select>
					  
					<br><br>
					  
					<input id="clearerCLMIni" title="Clearer" name="clearerCLM" class="field-style field-split-four" value="0038" type="text">
					  
					<input id="accountAtClearerCLMIni" title="AccountAtClearer Number" name="accountAtClearerCLM" class="field-style field-split-four" value="57770000904720" type="text">
					  
					<input id="custodianCLM1" name="custodianCLM" title="Custodian" class="field-style field-split-four" placeholder="Custodian" type="text">
					
					<select id="marketCLMIni" name="marketCLM" title="Market" class="field-style field-split-four">
						<option selected="selected" value="">Select one market ...</option>
						<option value="AMS">AMS</option><option value="ASE">ASE</option><option value="ATH">ATH</option><option value="BAK">BAK</option><option value="BOG">BOG</option><option value="BRT">BRT</option><option value="BUD">BUD</option><option value="BUE">BUE</option><option value="CAS">CAS</option><option value="CPH">CPH</option><option value="DUB">DUB</option><option value="FED">FED</option><option value="FRA">FRA</option><option value="GER">GER</option><option value="HEL">HEL</option><option value="HKG">HKG</option><option value="JAK">JAK</option><option value="LIS">LIS</option><option value="LOD">LOD</option><option value="LON">LON</option><option value="LUX">LUX</option><option value="MIL">MIL</option><option value="MSE">MSE</option><option value="MUN">MUN</option><option value="MXD">MXD</option><option value="MXK">MXK</option><option value="NAQ">NAQ</option><option value="NAS">NAS</option><option value="NQD">NQD</option><option value="NYS">NYS</option><option value="NZE">NZE</option><option value="OBB">OBB</option><option value="OSL">OSL</option><option value="OTB">OTB</option><option value="OTC">OTC</option><option value="PAR">PAR</option><option value="PNK">PNK</option><option value="PRA">PRA</option><option value="PSE">PSE</option><option value="SAO">SAO</option><option value="SCL">SCL</option><option value="SIN">SIN</option><option value="STO">STO</option><option value="SYD">SYD</option><option value="TAL">TAL</option><option value="TOR">TOR</option><option value="TRQ">TRQ</option><option value="TSX">TSX</option><option value="TYO">TYO</option><option value="VAN">VAN</option><option value="VAR">VAR</option><option value="VIE">VIE</option><option value="VTX">VTX</option><option value="ZRH">ZRH</option></select>
					<br></br>
					<div align="right">
						<!-- <input id="hiddenClearerMercadoAddMarketCUM" type="image" src="SIBBAC%20%20%20SUSTITUCI%C3%93N%20MEGARA_files/plus64px.png" name="addMarketCUM" class="iconButtonHidden-style"></input> -->
						
						
						<!-- <input id="clearerMercadoAddMarketCUM" type="image" src="images/plus64px.png" name="addMarketCUM" class="iconButton-style"></input>-->
					</div>
				
				</fieldset>
			</div>
		</div>
      </li>
     
      
      <li>
        <br />
        <fieldset>
          <legend>Custodio genérico</legend>
          <select id="settlementTypeCUG" name="settlementTypeCUG" title="Settlement Type"
            class="field-style field-split align-left"
          >
            <option value="">Select one settlement type ...</option>
          </select> <br />
          <br />
          
          <select id="custodianCUG" name="custodianCUG"  title="Custodian List"
           class="field-style field-split align-left"
          >
              <option value="">Select one local custodian ...</option>
        </select>
        
        <br></br>
					<input id="custodioMercadoAddMarketCUM" align="right" type="image" src="images/plus64px.png" name="addMarketCUM" class="iconButton-style" title = "New Custodian">
          
          <!-- <input id="custodianCUG" type="text" name="custodianCUG" title="Custodian"
            class="field-style field-split align-left"
            placeholder="Custodian"
          />-->
        </fieldset>
      </li>
      

      
       <li>
        <br />
        <div id="divCustodioMercado" visibility = "hidden" >
			<div id="divCustodioMercadoIni" style = "display:none" >
				<fieldset id="custodioMercadoIni">
				
					<legend>Custodio mercado 1</legend>
					
					<select id="settlementTypeCUMIni" name="settlementTypeCUM" title="Settlement Type" class="field-style field-split align-left">
						<option selected="selected" value="">Select one settlement type ...</option>
						<option value="Domestic / Cedel">Domestic / Cedel</option><option value="Domestic / Domestic">Domestic / Domestic</option><option value="Domestic / Euroclear">Domestic / Euroclear</option><option value="Euroclear / Cedel">Euroclear / Cedel</option><option value="Euroclear / Domestic">Euroclear / Domestic</option><option value="Euroclear / Euroclear">Euroclear / Euroclear</option></select> <br>
						
					<br></br>
					
					<select id="custodianCUMIni" name="custodianCUM" title="Custodian List" class="field-style field-split">
						<option selected="selected" value="">Select one local custodian ...</option>
						</select>
					
					<select id="marketCUMIni" name="marketCUM" title="Market" class="field-style field-split">
						<option selected="selected" value="">Select one market ...</option>
						
					</select>
					<br></br>
					<!-- <input id="custodioMercadoAddMarketCUM" align="right" type="image" src="images/plus64px.png" name="addMarketCUM" class="iconButton-style">-->
				</fieldset>
			</div>
		</div>
		
		<script type="text/javascript">
		 $.get('Controller', {
				op : 'getSettleInstMarket'
			}, function(response) {
				$.each(response, function(key, value) {										
					$('<option>').val(key).text(value).appendTo($('#marketCUMIni'));
				});
			});
			
	        
	        $.get('Controller', {
				op : 'getSettleInstCounterpartIdentifier'
			}, function(response) {
				$.each(response, function(key, value) {
					$('<option>').val(key).text(value).appendTo($('#custodianCUMini'));										
				});
			});
		</script>
      </li>
      
      <li class="botones"><input id="entityResetForm" type="reset"
        class="button" value="Reset Form"
      /> <input id="entitySend" type="submit" class="button" value="Send form" />
      </li>
    </ul>
  </form>
  <script>
			$(document).ready(
					function() {
						console.log("Alias document loaded");
						
						 $("#alias").prop('required', true);

						$("form").css({
							'max-width' : '1000px'
						});
						
						$("fieldset legend").click(function() {
							if ($(this).parent().children().length == 2)
								$(this).parent().find("div").toggle();
							else {
								$(this).parent().wrapInner("<div>");
								$(this).appendTo($(this).parent().parent());
								$(this).parent().find("div").toggle();
							}
						});

						$("#broClient").prop('required', true);	
						//$("#identifier").prop('required', true);
				        //$("#identifier").prop('disabled', true);
						
				        $.get('Controller', {
							op : 'getSettleInstAlias'
						}, function(response) {
							$.each(response, function(key, value) {
								$('<option>').val(key).text(value).appendTo(
										$('#alias'));
							});
						});

						$.get('Controller', {
							op : 'getAliasBroClient'
						}, function(response) {
							$.each(response, function(key, value) {
								$('<option>').val(key).text(value).appendTo(
										$('#broClient'));
							});
						});

						$.get('Controller', {
							op : 'getSubAccountId'
						}, function(response) {
							if (response.success) {
								$('#identifier').val(response.subAccountId);
							}
						});
						
						$.get('Controller', {
							op : 'getSettlementTypes'
						}, function(response) {
						  if (response.success) {
							$.each(response, function(key, value) {
							  if (key != "success") {
    							  $('<option>').val(key).text(value).appendTo($('#settlementTypeCLG'));
    							  $('<option>').val(key).text(value).appendTo($('#settlementTypeCLM'));
    						      $('<option>').val(key).text(value).appendTo($('#settlementTypeCUG'));
    							  $('<option>').val(key).text(value).appendTo($('#settlementTypeCUM'));
							  }
							});
						  }
						});	
						
						
				        $.get('Controller', {
							op : 'getSettleInstMarket'
						}, function(response) {
							$.each(response, function(key, value) {
								$('<option>').val(key).text(value).appendTo($('#marketCLM'));
								$('<option>').val(key).text(value).appendTo($('#marketCUM'));
							});
						});
						
				        
				        $.get('Controller', {
							op : 'getSettleInstCounterpartIdentifier'
						}, function(response) {
							$.each(response, function(key, value) {
								$('<option>').val(key).text(value).appendTo($('#custodianCUM'));
								$('<option>').val(key).text(value).appendTo($('#custodianCUG'));
							});
						});
						

					});
		
			
						
						

			$("form").submit(function() {
				//alert($("form").serialize());
				if (document.forms[0].identifier.value == "")
					{
					alert("subAccount code empty");
					return false;
					}
			    var url = "Controller";
			    $.ajax({
			      type : "POST",
			      url : url,
			      data : $("form").serialize(),
			      beforeSend : function(){ $("#Loader").css("visibility","visible");},
		          success : function(data) {
		        	  $("#Loader").css("visibility","hidden");
			    	  if (data.success == "true") {
			          alert("OK ... SubAccount generada correctamente.");
			          //               $.each(data, function(key, value) {
			          //                 alert(key + ': ' + value);
			          //               });
			        } else {
			          alert("Error ... " + data.errorMessage + ".");
			        } // else
			      } // success
			    }); // $.ajax
			    return false; // avoid to execute the actual submit of the form.
			  }); // $("form").submit
			  
		      
			//Cearer Mercado add & delete form script
				$(document).ready(function() {
				
					var max_fields = 10; //maximum input boxes allowed
					var wrapper = $('#clearerMercadoDiv'); //Fields wrapper
					var add_clearerMercadoAddMarketCUM_button = $('#clearerMercadoAddMarketCUM'); //Add button ID
					
					//alert($(megaraForm).attr('id'));
					var x = 0; //initlal text box count
					var differ=""; //this is a text differenciator to evitate ids conincidences in the wrappers eraseing.
					$(add_clearerMercadoAddMarketCUM_button).click(function(e){ //on add input button click
						
						e.preventDefault();
						if(x < max_fields){ //max input box allowed
						
							x++; //text box increment
							var fieldSetId = 'ClearerMercado' + differ + x; //The fields wrapper id.
							var imputId = 'clearerMercadoAddMarketCUM' + differ + x; // The Add button id.
							var legend = 'Clearer Mercado ' + x; // The legend text
							//var legend = 'Clearer Mercado';
							var idLegend = 'clearerMercado' + x; // The legend id.
							// The wraper fields ids:
							var settlementTypeCLM = 'settlementTypeCLM' + x;
							var clearerCLM = 'clearerCLM' + x;
							var accountAtClearerCLM = 'accountAtClearerCLM' + x;
							var custodianCLM = 'custodianCLM' + x;
							var marketCLM = 'marketCLM' + x;
							var onClickButton = "javascript:$('#clearerMercadoAddMarketCUM').click(); return false";
							
							$(wrapper).append(
								'<div id="'+ 'div' + fieldSetId + '">' + 
									'<br></br>' +
									'<fieldset id="' + fieldSetId + '">' +
									'<legend id="' + idLegend + '"> Clearer Mercado </legend>' +
									'<select id="' + settlementTypeCLM + '" name="settlementTypeCLM" title="Settlement Type" class="field-style field-split align-left">' +
										'<option selected="selected" value="">Select one settlement type ...</option>' +
										'<option value="Domestic / Cedel">Domestic / Cedel</option><option value="Domestic / Domestic">Domestic / Domestic</option><option value="Domestic / Euroclear">Domestic / Euroclear</option><option value="Euroclear / Cedel">Euroclear / Cedel</option><option value="Euroclear / Domestic">Euroclear / Domestic</option><option value="Euroclear / Euroclear">Euroclear / Euroclear</option></select>' +
									'<br><br>' +
									'<input id="' + clearerCLM + '" title="Clearer" name="clearerCLM" class="field-style field-split-four" value="0038" type="text">' +
									'<input id="' + accountAtClearerCLM + '" title="AccountAtClearer Number" name="accountAtClearerCLM" class="field-style field-split-four" value="57770000904720" type="text">' +
									'<input id="' + custodianCLM + '" name="custodianCLM" title="Custodian" class="field-style field-split-four" placeholder="Custodian" type="text">' +
									'<select id="' + marketCLM + '" name="marketCLM" title="Market" class="field-style field-split-four">' +
										'<option selected="selected" value="">Select one market ...</option>' +
										'<option value="AMS">AMS</option><option value="ASE">ASE</option><option value="ATH">ATH</option><option value="BAK">BAK</option><option value="BOG">BOG</option><option value="BRT">BRT</option><option value="BUD">BUD</option><option value="BUE">BUE</option><option value="CAS">CAS</option><option value="CPH">CPH</option><option value="DUB">DUB</option><option value="FED">FED</option><option value="FRA">FRA</option><option value="GER">GER</option><option value="HEL">HEL</option><option value="HKG">HKG</option><option value="JAK">JAK</option><option value="LIS">LIS</option><option value="LOD">LOD</option><option value="LON">LON</option><option value="LUX">LUX</option><option value="MIL">MIL</option><option value="MSE">MSE</option><option value="MUN">MUN</option><option value="MXD">MXD</option><option value="MXK">MXK</option><option value="NAQ">NAQ</option><option value="NAS">NAS</option><option value="NQD">NQD</option><option value="NYS">NYS</option><option value="NZE">NZE</option><option value="OBB">OBB</option><option value="OSL">OSL</option><option value="OTB">OTB</option><option value="OTC">OTC</option><option value="PAR">PAR</option><option value="PNK">PNK</option><option value="PRA">PRA</option><option value="PSE">PSE</option><option value="SAO">SAO</option><option value="SCL">SCL</option><option value="SIN">SIN</option><option value="STO">STO</option><option value="SYD">SYD</option><option value="TAL">TAL</option><option value="TOR">TOR</option><option value="TRQ">TRQ</option><option value="TSX">TSX</option><option value="TYO">TYO</option><option value="VAN">VAN</option><option value="VAR">VAR</option><option value="VIE">VIE</option><option value="VTX">VTX</option><option value="ZRH">ZRH</option></select>' +
									'<br></br>' +
									'<div align="right">' +
									'<input id="hiddenClearerMercadoAddMarketCUM" type="image" src="images/plus64px.png" name="addMarketCUM" class="iconButton-style" onclick="'+onClickButton +'" title = "New Clearer" >  ' +								
								'</div>' +
									'<div align="right">' +							
										'<input id="' + imputId  +'" type="image" src="images/less64px.png" name="addMarketCUM" class="iconButton-style" title = "Remove Clearer"></input>' + 
										//'<input type="image" src="SIBBAC%20%20%20SUSTITUCI%C3%93N%20MEGARA_files/plus64px.png" name="addMarketCUM" class="iconButtonHidden-style"></input>' +
										//'<input id="' + dinamicAdd + '" type="image" src="SIBBAC%20%20%20SUSTITUCI%C3%93N%20MEGARA_files/plus64px.png" name="addMarketCUM" class="iconButton-style"></input>' +
									'</div>' +
								'</div>'					
							);
							
							var deleteClearerMercado = $('#div' + fieldSetId);
							var deleteClearerMercadoButton = $('#' + imputId);
							
							$(deleteClearerMercadoButton).click(function(del){ // Add the 'delete' function to de new element button.
							
								del.preventDefault();
								
								$(deleteClearerMercado).remove();
								
								differ+='0'; //Addign a differenciator signal to evitate ids conflicts
								
								if(x >0)
								{
								 x--;
								
								}
								
							});
							
							/*$(nextAdd).click(function(add){
							
								alert("Rula! " + $(this).attr('id'));
							});*/
						}
					});
				});
				// End of Cearer Mercado add & delete forms script
				
				// Custodio Mercado add & delete form script
				$(document).ready(function() {
				
					var max_fields = 10; //maximum input boxes allowed
					var wrapper = $('#divCustodioMercado'); //Fields wrapper
					var add_custodioMercadoAddMarketCUM_button = $('#custodioMercadoAddMarketCUM'); //Add button ID
					
					//alert($(megaraForm).attr('id'));
					var x = 0; //initlal text box count
					var differ=""; //this is a text differenciator to evitate ids conincidences in the wrappers eraseing.
					$(add_custodioMercadoAddMarketCUM_button).click(function(e){
					
						e.preventDefault();
						
						if(x < max_fields){ //max input box allowed
						
							x++; //text box increment
							var fieldSetId = 'divCustodioMercado' + differ + x; //The fields wrapper id.
							var subFieldSetId = 'custodioMercado' + differ + x;
							var imputId = 'custodioMercadoAddMarketCUM' + differ + x; // The Add button id.
							var legend = 'Custodio mercado ' + x; // The legend text
							var idLegend = 'custodioMercadoLegend' + x; // The legend id.
							// The wraper fields ids:
							var settlementTypeCUM = 'settlementTypeCUM' + x;
							var custodianCUM = 'custodianCUM' + x;
							var marketCUM = 'marketCUM' + x;
							var onClickButton = "javascript:$('#custodioMercadoAddMarketCUM').click(); return false";
							
							$(wrapper).append(
								'<div id="' + fieldSetId + '">' +
									'<br></br>' +
									'<fieldset id="' + subFieldSetId + '">' +
										'<legend id="' + idLegend + '">Custodio Mercado</legend>' +								
										'<select id="' + settlementTypeCUM + '" name="settlementTypeCUM" title="Settlement Type" class="field-style field-split align-left">' +
											'<option selected="selected" value="">Select one settlement type ...</option>' +
											'<option value="Domestic / Cedel">Domestic / Cedel</option><option value="Domestic / Domestic">Domestic / Domestic</option><option value="Domestic / Euroclear">Domestic / Euroclear</option><option value="Euroclear / Cedel">Euroclear / Cedel</option><option value="Euroclear / Domestic">Euroclear / Domestic</option><option value="Euroclear / Euroclear">Euroclear / Euroclear</option></select> <br>' +
												
										'<br></br>' +
											
										'<select id="' + custodianCUM + '" name="custodianCUM" title="Custodian List" class="field-style field-split">' +
											'<option selected="selected" value="">Select one local custodian ...</option></select>' +
	
											
										'<select id="' + marketCUM + '" name="marketCUM" title="Market" class="field-style field-split">' +
											'<option selected="selected" value="">Select one market ...</option></select>' +											
										//'</select>' +	
										'<br></br>' +
										'<div align="right">' +
											'<input id="hiddenCustodioMercadoAddMarketCUM" type="image" src="images/plus64px.png" name="addMarketCUM" class="iconButton-style" onclick="'+onClickButton +'" title = "New Custodian" >  ' +								
										'</div>' +
										'<div align="right">' +							
										'<input id="' + imputId  + '" type="image" src="images/less64px.png" name="addMarketCUM" class="iconButton-style" title = "Remove Custodian">' +
									'</div>' +
									'</fieldset>' +
								'<div>'
							);
											
							 $.get('Controller', {
									op : 'getSettleInstMarket'
								}, function(response) {
									$.each(response, function(key, value) {										
										$('<option>').val(key).text(value).appendTo($('#marketCUM'+x));
									});
								});
								
						        
						        $.get('Controller', {
									op : 'getSettleInstCounterpartIdentifier'
								}, function(response) {
									$.each(response, function(key, value) {
										$('<option>').val(key).text(value).appendTo($('#custodianCUM'+x));										
									});
								});
							
							var deleteCustodioMercado = $('#' + fieldSetId);
							var deleteCustodioMercadoButton = $('#' + imputId);
							
							$(deleteCustodioMercadoButton).click(function(delCustodio){ // Adding the 'delete' function to de new element button.
							
								delCustodio.preventDefault();
								
								$(deleteCustodioMercado).remove();
								
								differ += '0'; //Addign a differenciator signal to evitate ids conflicts
								
								if(x >0)
								{
								 x--;
								
								}
								
							});
						}
					});
				});
				// End of Custodio Mercado add & delete forms script
			      
	  
			  
		</script>
</div>