<div class="opciones">
<!--     angular-moment: -->
<!--     <span am-time-ago="message.time"></span> -->
<!--     <span am-time-ago="fecha | amParse:'YYYY.MM.DD HH:mm:ss'"></span> -->
  <div class="opciones2">
    <div class="contenido" id="contenido1">
      <div class="imgcontenido">
        <img src="img/imgcontenido.png" />
      </div>
      <div class="titulocontenido">Facturaci&oacute;n</div>
      <div class="textocontenido">
        Operaciones con facturas y cobros. Creaci&oacute;n, consulta y listados con filtros.
        <div class="vercontenido">
          <a href="#" class="vermas">Ver m&aacute;s --></a>
        </div>
      </div>
    </div>
    <div class="contenido" id="contenido2">
      <div class="imgcontenido">
        <img src="img/imgcontenido2.png" />
      </div>
      <div class="titulocontenido">Conciliaci&oacute;n</div>
      <div class="textocontenido">
        Operaciones propias de conciliaci&oacute;n.
        <div class="vercontenido">
          <a href="#" class="vermas">Ver m&aacute;s --></a>
        </div>
      </div>
    </div>
    <div class="contenido" id="contenido3">
      <div class="imgcontenido">
        <img src="img/imgcontenido2.png" />
      </div>
      <div class="titulocontenido">Gestor de periodicidades</div>
      <div class="textocontenido">
        Reglas a cumplir con sus parametrizaciones correspondientes.
        <div class="vercontenido">
          <a href="#" class="vermas">Ver m&aacute;s --></a>
        </div>
      </div>
    </div>
    <div class="contenido" id="contenido4">
      <div class="imgcontenido">
        <img src="img/imgcontenido.png" />
      </div>
      <div class="titulocontenido">Grupos impositivos</div>
      <div class="textocontenido">
        Creaci&oacute;n de grupos impositivos, determinando su porcentaje y fecha de inicio de aplicaci&oacute;n.
        <div class="vercontenido">
          <a href="#" class="vermas">Ver m&aacute;s --></a>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function() {
    $("#contenido1").fadeIn(2000);
    $("#contenido2").fadeIn(3000);
    $("#contenido3").fadeIn(4000);
    $("#contenido4").fadeIn(5000);
  });
</script>