<article class="center">
    <div class="title_section clearfix">
        <div class="align-left">
            <p class="title">Informes McLagan</p>
        </div>
        <div class="buscador">
            <!-- Filtros devueltos por la llamada a ctrl.selectQuery()-->
            <form name="params" ng-submit="ctrl.generarInformes()">
                <!-- Inputs -->
                <fieldset class="clearfix">
                    <div class="two-columns">
                        <label for="fefrom" class="desresumen">Fecha Desde:</label>
                        <input type="text" id="fefrom" datepicker class="anchoimp2" placeholder="dd/mm/yyyy" ng-model="ctrl.params.fechaDesde" pattern="\d{1,2}/\d{1,2}/\d{4}"
                            title="dd/mm/yyyy maxlength="10" readonly="readonly" required/>
                    </div>
                    <div class="two-columns">
                        <label for="feto" class="desresumen">Fecha Hasta:</label>
                        <input type="text" id="feto" datepicker class="anchoimp2" placeholder="dd/mm/yyyy" ng-model="ctrl.params.fechaHasta" pattern="\d{1,2}/\d{1,2}/\d{4}"
                            title="dd/mm/yyyy" maxlength="10" readonly="readonly" required/>
                    </div>
                </fieldset>
                <!-- Generar csv / Limpiar fechas -->
                <div class="centrar">
                    <input class="btn mybutton" type="submit" value="Procesar" ng-disabled="ctrl.scope.params.$invalid" />
                </div>
            </form>
        </div>
</article>

<!-- Modal resultado de la accion -->
<div id="resultDialog">
    <modal-result-dialog></modal-result-dialog>
</div>
<!-- Modal resultado del proceso -->
<div id="resultDialogTask">
    <span style="margin: 3px;" >{{ctrl.task.message}}</span>
</div>