<!-- DIV de cobros -->
<article class="center">
	<form id="cobrosConsultar" name="cobrosConsultar">
		<div class="title_section clearfix">
			<div style="display: inline; float: left;">
				<p class="title">Consultar Cobros</p>
			</div>
			<div style="float: right; display: inline;">
				<a class="collapser_search active">Ocultar B&uacute;squeda Cobro</a>
			</div>
		</div>
		<div class="buscador">
			<fieldset>
				<div class="three-columns">
					<div>
						<label for="textAlias" class="desresumen">Introduzca un
							alias: </label> <input type="text" id="textAlias" class="anchoinp">
					</div>
				</div>
				<div class="three-columns">
					<div>
						<label for="textFecha" class="desresumen">Fecha de
							cont. desde:</label> <input type="text" id="fechaDesde"
							placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}"
							title="dd/mm/yyyy" maxlength="10" readonly="readonly">
					</div>
					<div>
					    <label for="textFecha" class="desresumen">Fecha de
							cont. hasta:</label>
						<input type="text" id="fechaHasta" placeholder="dd/mm/yyyy"
							pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly">
					</div>
				</div>
				<div class="three-columns">
					<div>
						<label for="textNumCobro" class="desresumen">N&uacute;mero
							Cobro:</label> <input type="text" id="numeroCobro" maxlength="8"
							onkeypress="return justNumbers(event);"">
					</div>
				</div>
			</fieldset>
			<div class="centrar">
				<input class="btn buscador mybutton" type="submit" id="buscar"
					value="Consultar" onclick="" /> <input class="mybutton"
					type="reset" id="limpiar" value="Limpiar Filtros" />
			</div>
		</div>
		<div id="showdata"></div>
		<div class="mensajeBusqueda"></div>
		<div class="resultados">
			<div class="contenedorTabla">
				<table id="tblCobrosConsultar" class="tablaPrueba ancha"
					class="editinplace draggable sorttable" >
					<thead>
						<tr>
							<th class='taleft'>Alias</th>
							<th class='taleft'>N&uacute;mero de Cobro</th>
							<th class='taleft'>Fecha de cobro</th>
							<th class='tacenter'>Importe cobrado</th>
							<th class='tacenter'>Comisiones</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</form>
</article>
<!-- capa popup para lupa -->
<div id="formulariosDatosFactura" class="modal modalFact">
	<div class="esquinar">
		<a
			onclick="document.getElementById('formulariosDatosFactura').style.display = 'none';
                document.getElementById('fade').style.display = 'none';"><img
			src="img/closeModal.png" title="Cerrar Ventana" /></a>
	</div>
	<p class="titleAlta">
		Datos Factura&nbsp;<span id="df"></span>
	</p>
	<input type="hidden" id="textIdContacto" />
	<div class="scrollear">
		<table class="tablaCobro ancha" id="tablaDatos">
			<thead>
				<tr>
					<th>Orden</th>
					<th>Booking</th>
					<th>Num</th>
					<th>Ref. Banco</th>
					<th>L&iacute;quido</th>
					<th>Neto</th>
					<th>Bruto</th>
					<th>Comisiones</th>
					<th>T&iacute;tulo</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
</div>
<!-- capa popup para lupa -->
<div id="fade" class="overlay"></div>

<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>
