<article class="center">
	<div title-slide-filter showing="showingFilter">Hist&oacute;rico Facturas Comunicadas SII</div>
	<form>
		<div class="buscador">
            <fieldset>
                <div class="row wrapper-95">
                        <label  class="desresumen" for="filtro_fichero">Nombre de Fichero:</label>
	            		<input style="width: 200px;" type="text" id="fichero" ng-model="filtro.nombreFichero" class="anchoinp2" maxlength=25 auto-uppercase/>
	            		<sentido-filtro campo="sentidoFiltro['nombreFichero']"></sentido-filtro>
                        <label  class="desresumen" for="filtro_estado_respuesta">Estado:</label> 
			            <select id="filtro_estado_respuesta" ng-model="filtro.estadoFichero" ng-options="item.key as item.value for item in catalogos.listaEstadosFichero">
			            	<option value=""></option>
			            </select>
			            <sentido-filtro campo="sentidoFiltro['estadoFichero']"></sentido-filtro>
			      		<label  class="desresumen" for="filtro_fichero">Tipo de Fichero:</label> 
						<select id="filtro_tipo_fichero" ng-model="filtro.tipoFichero" ng-options="item.value as item.value for item in catalogos.listaTiposFichero">
							<option value=""></option>
						</select>
						<sentido-filtro campo="sentidoFiltro['tipoFichero']"></sentido-filtro>
			      </div>
			      	<div class="row wrapper-95">
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<label for="fejecucionDe" class="desresumen">Fecha desde:</label>
							<input type="text" datepicker class="anchoimp2" placeholder="dd/mm/yyyy"
								ng-model="filtro.fechaDesde" pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly"/>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
							<label for="fejecucionDe" class="desresumen">Fecha hasta:</label>
							<input type="text" datepicker class="anchoimp2" placeholder="dd/mm/yyyy"
								ng-model="filtro.fechaHasta" pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly"/>
						</div>
			      	</div>
			      </div>
                </div>
            </fieldset>
            <div class="centrar">
                <input class="btn buscador mybutton" type="submit" id="buscar" value="Consultar" ng-click="busqueda()" /> 
                <input class="mybutton" type="reset" ng-click="resetFiltro()"/>
            </div>
        </div>
	</form>
  
  <br />
  <div class="mensajeBusqueda" ng-show="!showingFilter">{{getFollowSearch()}}</div>
  
	<div class="contenedorTabla">
		<table id="datosRespErrsGC" class="fullTable ancha" cellspacing="0">
			<thead>
				<tr>
					<th class="taleft">Selecci&oacute;n</th>
					<th class="taleft">Nombre del Fichero</th>
					<th class="taleft">Tipo de Fichero</th>
					<th class="taleft">Fecha Env&iacute;o / Recepci&oacute;n</th>
					<th class="taleft">Estado</th>
					<th class="taleft">Asociaci&oacute;n</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	
	<div class="centrar">
		<input type="button" class="btn buscador mybutton" value="Ver Errores" ng-click="abrirModalVerErrores()" ng-if="isPermisoAccion(SecurityActions.CONSULTAR)"  /> 
		<input type="button" class="btn buscador mybutton" value="Descargar fichero" ng-click="descargarFichero()" ng-if="isPermisoAccion(SecurityActions.CONSULTAR)"  /> 
	</div>
	
</article>

<!-- Modal para errores de fichero.  -->
<div id="formularioErroresFichero" name="formularioErroresFichero" class="modal modalVerErrores" style="z-index:999999">
	<div class="esquinar">
		<a data-dismiss="modal" id="cerrarTitular"> <img
			src="img/closeModal.png" title="Cerrar Ventana"
			style="cursor: pointer;" />
		</a>
	</div>
	<p class="titleAlta" id="titleTitulo">{{modalErroresFichero.titulo}}</p>
	<div class="contenedorTabla">
		<table id="datosErroresFichero" class="fullTable" cellspacing="0">
			<thead>
				<tr>
					<th class="taleft">N&uacute;mero Factura Emisor</th>
					<th class="taleft">Fecha Expedici&oacute;n Factura</th>
					<th class="taleft">C&oacute;digo de Retorno</th>
					<th class="taleft">Tipo de Error</th>
					<th class="taleft">Clase de Error</th>
					<th class="taleft">Descripci&oacute;n</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>
	<div class="centrar" style="padding-top: 20px; border-top: 1px solid grey; margin-top: 20px;">
		<input type="button" tabindex="10" class="btn mybutton" value="Cerrar" data-dismiss="modal" id="cerrarTitular" class="btn mybutton" />
	</div>
</div>
<script src="js/site.js" type="text/javascript"></script>
<!-- Template para escribir en la modal. -->
<div id="mensaje" class="dialogMensaje" style="z-index: 9999999 !important"></div>