<!-- DIV de cobros -->
<div id="core" class="">
    <article class="center">
        <form action="/sibbac20back/rest/export" method="post" name="export" id="export" target="export">
            <input type="hidden" name="webRequest" id="webRequest" value="">
        </form>
        <div class="title_section clearfix">
            <p class="title">Crear Cobro</p>
            <div style="float: right; display: inline;">
                <a class="collapser_search btn active">Ocultar opciones de b&uacute;squeda</a>
            </div>
        </div>
        <div class="buscador">
            <form id="cargarTabla" action="#">
                <fieldset>
                    <div>
                        <label for="textAlias" class="desresumen">Introduzca un alias: </label> 
                        <input type="text" id="textAlias" class="anchoinp" />
                    </div>

                </fieldset>
                <div class="centrar">
                    <input class="btn buscador mybutton" type="submit" id="buscar" value="Consultar" /> 
                    <input class="mybutton" type="reset" id="limpiar" value="Limpiar Filtros" />
                </div>
            </form>
        </div>
        <div id="showdata"></div>
        <div class="mensajeBusqueda"></div>
        <div class="resultados">
            <div class="contenedorTabla">
                <table id="tblCrearCobro" class="editinplace draggable sorttable" width="100%">
                    <thead>
                        <tr>
                            <th class='taleft'>Seleccionado</th>
                            <th class='taleft'>Cerrar Factura</th>
                            <th class='tacenter'>N&ordm; Factura</th>
                            <th class='tacenter'>Fecha factura</th>
                            <th class='taleft'>Base imponible</th>
                            <th class='taleft'>Importe Impuestos</th>
                            <th class='taleft'>Importe Total</th>
                            <th class='taleft'>Importe Pendiente</th>
                            <th class='taleft'>Importe a aplicar</th>
                            <th class='taleft'>Modificar Importe a aplicar</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <form id="crearCobro" ng-show="isPermisoAccion(SecurityActions.CREAR)">
                    <div class="resumen ">
                        <fieldset>
                            <div>
                                <label for="importeCobro" class="desresumen">Cantidad cobrada</label> 
                                <input type="text" id="importeCobro" maxlength="16" ng-blur="calculosInicialesCobro($event)" ng-model="cobro" class="tipocantidad" 
                                       placeholder="0,00" required />
                            </div>

                            <div>
                                <label for="importeVencido" class="desresumen">Importe total vencido</label> <input type="text" id="importeVencido"
                                                                                                                    class="tipocantidad" disabled
                                                                                                                    />
                            </div>
                            <div>
                                <label for="saldoPendiente" class="desresumen">Saldo pendiente</label> <input type="text" id="saldoPendiente" class="tipocantidad"
                                                                                                              disabled
                                                                                                              />
                            </div>
                            <div>
                                <label for="fechaCobro" class="desresumen">Fecha de contabilizaci&oacute;n:</label> <input type="text" id="fechaContabilizacion"
                                                                                                                           required="required" pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" placeholder="dd/mm/yyyy"
                                                                                                                           >
                            </div>

                        </fieldset>
                    </div>
                    <div class="piePagina">
                        <input type="submit" class="mybutton" id="crear" value="Crear" ng-show="isPermisoAccion(SecurityActions.CREAR)">
                    </div>
                </form>

                <div id="formulariosModificarCobro" class="modal modalalto2b">
                    <div class="esquinar">
                        <a onclick="document.getElementById('formulariosModificarCobro').style.display = 'none';
                                document.getElementById('fade').style.display = 'none';"
                           ><img src="img/closeModal.png" title="Cerrar Ventana" /></a>
                    </div>
                    <p class="titleAlta">Editar Importe</p>
                    <form id="popUpModificarCobro" ng-show="isPermisoAccion(SecurityActions.MODIFICAR)">
                        <fieldset>
                            <div>
                                <label for="numeroFactura" class="desresumen">N&uacute;mero Factura: </label> 
                                <input type="text" id="numeroFactura" class="anchoinp" disabled="disabled" />
                            </div>
                            <div>
                                <label for="fechaFactura" class="desresumen">Fecha Factura: </label> 
                                <input type="text" id="fechaFactura" class="anchoinp" disabled="disabled" />
                            </div>
                            <div>
                                <label for="importeTotal" class="desresumen">Importe total: </label> 
                                <input type="text" id="importeTotal" disabled class="tipocantidad" />
                            </div>
                            <div>
                                <label for="importePendiente" class="desresumen">Importe pendiente: </label> 
                                <input type="text" id="importePendiente" maxlength="10" disabled class="tipocantidad" />
                            </div>
                            <div>
                                <label for="importeAplicado" class="desresumen">Importe a aplicar: </label> 
                                <input type="text" id="importeAplicado" maxlength="16" class="tipocantidad" required="required" placeholder="0,00" pattern="\d{1,13}\b,?\d{0,2}?"/>
                            </div>
                            <div>
                                <label for="ckCerrar" class="desresumen">Cerrar Factura: </label> 
                                <input id="ckCerrar" type='checkbox' class='checkTabla' />
                            </div>
                            <input type="hidden" id="idFactura" /><input type="hidden" id="saldoPendienteCobro" />
                            <input type="hidden" id="importeVencidoCobro" />

                        </fieldset>
                        <div class="centrar">
                            <input class="btn mybutton" type="button" id="modificarImporteAplicado" ng-click="modificarImporteAplicado()" ng-show="isPermisoAccion(SecurityActions.MODIFICAR)" value="Modificar importe" />
                        </div>
                    </form>
                </div>

            </div>
    </article>
</div>
<div id="fade" class="overlay"></div>


