<div id="core" class="">
    <article class="center">
        <div class="title_section clearfix">
            <div class="align-left">
                <p class="title">Anular Factura</p>
            </div>
            <div class="align-right">
                <a class="collapser_search active cursor">Ocultar opciones de b&uacute;squeda</a>
            </div>

        </div>

        <div class="buscador">

            <form id="cargarTabla" ng-submit="buscar($event)">
                <fieldset>
                    <div class="wrapper-95">
                        <div class="two-columns">
                            <div>
                                <label for="numeroFactura" class="desresumen">N&uacute;mero
                                    Factura:</label> <input type="text" id="numeroFactura" maxlength="8"
                                                        onkeypress="return justNumbers(event);"
                                                        ng-blur="cambioNumeroFactura()" ng-model="filtro.numeroFactura" />
                            </div>
                            <div class="ui-widget">
                                <label for="textAlias" class="desresumen">Introduzca un
                                    alias: </label> <input type="text" id="textAlias" class="anchoinp"
                                                       ng-blur="cambioAlias()" ng-model="filtro.idAlias">
                            </div>
                        </div>
                        <div class="two-columns">
                            <div>
                                <label for="fechaDesde" class="desresumen">Fecha desde:</label> 
                                <input datepicker type="text" id="fechaDesde" class="anchoimp"
                                       pattern="\d{1,2}/\d{1,2}/\d{4}"
                                       title="La fecha introducida no es válida."
                                       ng-model="filtro.fechaDesde" readonly="readonly"> 
                            </div>
                            <div>
                                <label for="fechaHasta" class="desresumen">Fecha hasta:</label> 
                                <input datepicker type="text" id="fechaHasta" class="anchoimp"
                                       pattern="\d{1,2}/\d{1,2}/\d{4}"
                                       title="La fecha introducida no es válida."
                                       ng-model="filtro.fechaHasta" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="centrar">
                    <input class="btn buscador mybutton" type="submit" id="buscar" value="Consultar" />
                    <input class="mybutton" type="reset" id="limpiar" value="Limpiar Filtros" ng-click="limpiarFiltro()"/>
                </div>
            </form>
        </div>

        <div class="contenedorTabla">

            <table class="tablaCrearRectificativa ancha" class="editinplace draggable sorttable" width="100%">
                <thead>
                    <tr>
                        <th>Marcar</th>
                        <th>N&uacute;mero Factura</th>
                        <th>Alias</th>
                        <th>Fecha Factura</th>
                        <th>Base Imponible</th>
                        <th>Importe Impuestos</th>
                        <th>Importe Total</th>
                        <th>Fecha Inicio</th>
                        <th>Fecha Fin</th>
                    </tr>
                </thead>
                <tbody></tbody>

            </table>
            <div class="botonera">
                <input type="button" class="mybutton" id="seleccionarTodos" value="Seleccionar Todas" ng-click="clickSeleccionarTodos()"> <input
                    type="button" class="mybutton" id="desmarcarTodos" value="Desmarcar Todas" ng-click="clickDesmarcarTodos()">
            </div>
            <div class="piePagina">
                <input type="button" class="mybutton" id="btnMarcar" value="Anular" ng-click="anular()" ng-show="isPermisoAccion(SecurityActions.BORRAR)">
            </div>
            <div class="mensajeInformativo"></div>

        </div>
    </article>
</div>

<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>