<div id="core" class="">
  <article class="center">
    <div class="title_section clearfix">
      <div class="align-left">
        <p class="title">Crear Factura</p>
      </div>
      <div class="align-right">
        <a class="collapser_search active cursor">Ocultar Opciones de b&uacute;squeda</a>
      </div>
    </div>
    <div class="buscador">
      <form id="cargarTabla">
        <fieldset>
          <div>
            <label for="textAlias" class="desresumen">Introduzca un alias: </label>
            <input required type="text" id="textAlias" class="anchoinp">
          </div>
          <div>
            <label for="fcontratacionA" class="desresumen">Fecha Hasta:</label>
            <input type="text" id="fcontratacionA" class="anchoimp" placeholder="dd/mm/yyyy"
              ng-model="filtro.fcontratacionA" pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10"
            />
          </div>
        </fieldset>
        <div class="centrar">
          <input class="btn buscador mybutton" type="button" ng-click="crearFactura($event, 'buscar')" id="buscar"
            value="Consultar"
          />
          <input class="mybutton" type="reset" id="limpiar" value="Limpiar Filtros" ng-click="limpiarFiltro()" />
          <input class="btn buscador mybutton" type="button" id="sugerir" ng-click="crearFactura($event, 'sugerir')"
            value="Sugerir Factura" ng-show="isPermisoAccion(SecurityActions.CREAR)"
          />
        </div>
      </form>
    </div>
    <div class="contenedorTabla">
      <table id="tblCrearFactura" class="tablaPrueba ancha" width="100%">
        <thead>
          <tr>
            <th class="taleft">Marcar</th>
            <th class="taleft">Alias</th>
            <th class="taleft">Fecha Factura</th>
            <th class="taleft">Base Imponible</th>
            <th class="taleft">Fecha Inicio</th>
            <th class="taleft">Fecha Fin</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="botonera"></div>
      <div class="piePagina"></div>
    </div>
  </article>
</div>

