<script>
    document.title = "Recordatorios de Facturas"
	$('#tituloHeader').empty();
	$('#tituloHeader').append("Recordatorios de Facturas");
</script>
<!-- DIV de cobros -->
<div id="core" class="">  

    <article class="center">  
        <form id="f1">
            <div class="title_section clearfix">
                <p class="title">Recordatorios de Facturas</p>
            </div>

           
					<div>	
					<div class="resultados">						
						<div class="contenedorTabla"> 	
											
							<table class="tablaPrueba ancha">
								<tr>
									<th class="taleft">Marcar</th> 
									<th class="taleft">Alias</th>

									<th class="taleft">Nombre</th>
									<th class="taleft">Factura</th>
									<th class="taright">Importe Pendiente</th>
									<th class="taleft">Fecha Recordatorio</th>   
									

									<th class="taleft">Fecha Creaci&oacute;n</th> 
									<th class="taleft">Periodicidad</th>
									<th class="taleft">Importe</th>  

								</tr>
							</table>
							<div class="botonera">
								<input type="button" class="mybutton" id="seleccionarTodos" value="Seleccionar Todas" onclick="clickSeleccionarTodos()" >
								<input type="button" class="mybutton" id="desmarcarTodos" value="Desmarcar Todas" onclick="clickDesmarcarTodos()" >
							</div>
							<div class="piePagina">
								<input type="button" class="mybutton" id="btnMarcar" value="Crear" onclick="#" >			
							</div>	
						</div>
						</div>
					</div>
        </form>
    </article>
</div>


	
<script src="views/facturas/js/FacturaRecordatorios.js" type="text/javascript"></script>


