<script>
    document.title = "Emitir Duplicado"
	$('#tituloHeader').empty();
	$('#tituloHeader').append("Emitir Duplicado");
</script>

<script src="js/autocompletar.js" type="text/javascript"></script>
<!-- DIV de cobros -->
<div id="core" class="">  

    <article class="center">  
				<form id="f1">
					
					<div class="title_section clearfix">
						<p class="title">Emitir Duplicado</p>
						<a class="collapser_search active">Ocultar opciones de b&uacute;squeda</a>
					</div>
					<div class="buscador">
						
						<form id="cargarTabla" action="#">
						  <fieldset>
								<div class="ui-widget">
								  <label for="textAlias" class="desresumen">Introduzca un alias: </label>
								  <input type="text" id="textAlias" class="anchoinp">
								</div>	
								
								<div>
									<label for="textNuFactura" class="desresumen">N&uacute;mero factura :</label>
									<input type="text" id="textNuFactura"  />
											
								</div>
					      </fieldset>	
							<div class="centrar">						  
							<input class="btn buscador mybutton" type="submit"  id="buscar" value="Consultar" onclick="" />
							<input class="mybutton" type="reset"  id="limpiar" value="Limpiar Filtros" />
							</div>
						</form>
					</div>
					
					
					<div>	
						<div class="resultados">						
							<div class="contenedorTabla"> 	
												
								<table class="tablaPrueba ancha" class="editinplace draggable sorttable">
									<tbody></tbody>
								</table>
	
							</div>
							<div class="piePagina">
							<input type="button" class="mybutton" id="anadir" value="Emitir duplicado" onclick="emitir" >			
						</div>
						</div>
						
					</div>
				</form>
    </article>
</div>

	
<script src="views/facturas/js/FacturasDuplicado.js" type="text/javascript"></script>


