<article class="center">
    <form id="facturaconsulta" name="facturaconsulta" ng-submit="submitForm($event)">
        <div class="title_section clearfix">
            <div class="align-left">
                <p class="title">Consultar Facturas Sugeridas</p>
            </div>
            <div class="align-right">
                <a class="collapser_search active cursor">Ocultar Opciones de b&uacute;squeda</a>
            </div>
        </div>
        <div class="buscador">
            <fieldset>
                <div class="wrapper-95">
                    <div>
                        <label for="textAlias" class="desresumen">Introduzca un alias: </label> 
                        <input type="text" id="textAlias" class="anchoinp" />
                    </div>
                    <div>
                        <label for="textEstado" class="desresumen">Estado: </label> 
                        <select id="textEstado" class="anchoinp">
                            <option value="0">Seleccione un estado</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <div class="centrar">
                <input class="btn buscador mybutton" type="submit" id="buscar" value="Consultar" /> 
                <input class="mybutton" type="reset" ng-click="limpiarFiltro()"/>
            </div>
        </div>
    </form>
    <div class="contenedorTabla">
        <table class="tablaPrueba ancha" id="tablaFacturasSugeridas" class="editinplace draggable sorttable" width="100%">
            <thead>
                <tr>
                    <th class='taleft'>Info Alias</th>
                    <th class='taleft'>Alias</th>
                    <th class='taleft'>Fecha Factura Sugerida</th>
                    <th class='tacenter'>Base Imponible</th>
                    <th class='taleft'>Fecha Inicio</th>
                    <th class='taleft'>Fecha Fin</th>
                    <th class='taleft'>Estado</th>
                    <th class='taleft'>Comentarios</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
    <div class="mensajeInformativo"></div>
</article>
<div id="dialog-confirm"></div>