<article class="center">
    <form action="/sibbac20back/rest/export" method="post" name="export" id="export" target="export">
        <input type="hidden" name="webRequest" id="webRequest" value="">
    </form>
    <div class="title_section clearfix">
        <div style="display: inline; float: left;">
            <p class="title">Facturas Rectificativas</p>
        </div>
        <div style="float: right; display: inline;">
            <a class="collapser_search active" >Ocultar Opciones de b&uacute;squeda</a>
        </div>
    </div>
    <div class="buscador">
        <form id="cargarTabla" ng-submit="populateTable($event)">
            <fieldset>
                <div class="three-columns">
                    <div>
                        <label for="textAlias" class="desresumen">Introduzca un alias: 
                        </label> 
                        <input type="text" id="textAlias" class="anchoinp">
                    </div>
                </div>
                <div class="three-columns">
                    <div>
                        <label for="fechaDesde" class="desresumen">Fecha desde:</label> 
                        <input type="text" id="fechaDesde" placeholder="dd/mm/yyyy"
                               pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly"
                               />

                    </div>
                </div>
                <div class="three-columns">
                    <div>
                        <label for="fechaHasta" class="desresumen">Fecha hasta:</label> 
                        <input type="text" id="fechaHasta" placeholder="dd/mm/yyyy"
                               pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly"
                               />
                    </div>
                </div>
            </fieldset>
            <div class="centrar">
                <input class="btn buscador mybutton" type="submit" id="buscar" value="Consultar" /> 
                <input class="mybutton" type="reset" id="limpiar" value="Limpiar Filtros" ng-click="limpiarFiltro()"/>
            </div>
        </form>
    </div>
    <div class="contenedorTabla">
        <table class="tablaResultados ancha" class="editinplace draggable sorttable" width="100%">
            <thead>
                <tr>
                    <th class='taleft'>N&uacute;mero Factura</th>
                    <th class='taleft'>Alias</th>
                    <th class='taleft'>Fecha factura</th>
                    <th class='taleft'>Base Imponible</th>
                    <th class='taleft'>Importe Impuestos</th>
                    <th class='taleft'>Importe Total</th>
                    <th class='taleft'>Fecha Inicio</th>
                    <th class='taleft'>Fecha Fin</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</article>

<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>