<script>
    document.title = "Facturas Enviadas"
	$('#tituloHeader').empty();
	$('#tituloHeader').append("Facturas Enviadas");
</script>
<!-- DIV de cobros -->
<div id="core" class="">  

    <article class="center">  
				<form id="f1">
					
					<div class="title_section clearfix">
						<p class="title">Facturas Enviadas</p>
						<a class="collapser_search active">Ocultar opciones de b&uacute;squeda</a>
					</div>
					<div class="buscador">
						
						<form id="cargarTabla" action="#">
						  <fieldset>
								<div>
									<label for="textAlias" class="desresumen">Alias:</label>
									<select id="textAlias" class="estilado">
										<option value="0">Seleccione un alias</option>
									</select>								
								</div>
								
								<div>
									<label for="textFechaDesde" class="desresumen">Fecha desde:</label>
									<input type="text" id="textFechaDesde"  placeholder="dd/mm/yyyy" maxlength="10" />
											
								</div>
								<div>
									<label for="textFechaHasta" class="desresumen">Fecha hasta:</label>
									<input type="text" id="textFechaHasta"  placeholder="dd/mm/yyyy" maxlength="10" />
											
								</div>
								<div>
									<label for="textEstado" class="desresumen">Estado: </label>
									 <select id="textEstado" class="anchoinp">
									 	<option value="0">Seleccione un estado</option>
									 </select>
											
								</div>
					      </fieldset>	
							<div class="centrar">						  
							<input class="btn buscador mybutton" type="submit"  id="buscar" value="Consultar" onclick="" />
							<input class="mybutton" type="reset"  id="limpiar" value="Limpiar Filtros" />
							</div>
						</form>
					</div>
				
				
				<div>	
					<div class="resultados">						
						<div class="contenedorTabla"> 	
											
							<table class="tablaPrueba ancha">
								<tr>
									<th class="taleft">Marcar</th> 
									<th class="taleft">Estado</th> 
									<th class="taleft">Alias</th>
									<th class="taleft">Fecha Creaci&oacute;n</th> 
								
									<th class="taleft">Base Imponible</th>  
									<th class="taleft">Importe Impuestos</th>  
									<th class="taleft">Importe Total</th>   
								</tr>
							</table>
							<div class="botonera">
								<input type="button" class="mybutton" id="seleccionarTodos" value="Seleccionar Todas" onclick="clickSeleccionarTodos()" >
								<input type="button" class="mybutton" id="desmarcarTodos" value="Desmarcar Todas" onclick="clickDesmarcarTodos()" >
							</div>
							<div class="piePagina">
								<input type="button" class="mybutton" id="btnMarcar" value="Crear" onclick="#" >			
							</div>	
						</div>
						</div>
					</div>
				</form>
    </article>
</div>


	
<script src="views/facturas/js/FacturasEnviadas.js" type="text/javascript"></script>


