<article class="center">
 
    <div class="title_section clearfix">
        <div class="align-left">
            <p class="title">Facturas Emitidas</p>
        </div>
        <div class="align-right">
            <a class="collapser_search active cursor">Ocultar opciones de b&uacute;squeda</a>
        </div>

    </div>
    <div class="buscador">
        <form id="cargarTabla" class="wrapper-95" ng-submit="searchFacturas($event)">
            <fieldset>
                <div class="three-columns">
                    <div>
                        <label for="numeroFactura" class="desresumen">N&uacute;mero Factura:</label> 
                        <input type="text" id="numeroFactura" maxlength="8" ng-model="numeroFactura" onkeypress="return justNumbers(event);" ng-blur="cambioNumeroFactura()"/>
                    </div>
                    <div>
                        <label for="textAlias" class="desresumen">Empresa Contraparte: </label> 
                        <input type="text" id="textAlias" class="anchoinp" ng-blur="cambioAlias()"/>
                    </div>
                </div>
                <div class="three-columns">
                    <div>
                        <label for="fechaDesde" class="desresumen">Fecha desde:</label> 
                        <input type="text" id="fechaDesde" placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" ng-blur="cambioAlias()" readonly="readonly"/>
                    </div>
                    <div>
                        <label for="fechaHasta" class="desresumen">Fecha hasta:</label> 
                        <input type="text" id="fechaHasta" placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" ng-blur="cambioAlias()" readonly="readonly"/>
                    </div>
                </div>
                <div class="three-columns">
                    <div>
                        <label for="idEstado" class="desresumen">Estado: </label> 
                        <select id="idEstado" class="anchoinp" ng-model="idEstado" ng-change="cambioAlias()">
                            <option value="" selected="selected">Seleccione un estado</option>
                        </select>
                    </div>
                </div>
            </fieldset>
            <div class="centrar">
                <input class="btn buscador mybutton" type="submit" id="buscar" value="Consultar" /> 
                <input class="mybutton" type="reset" id="limpiar" value="Limpiar Filtros" ng-click="limpiarFiltro()"/>
            </div>
        </form>
    </div>
    <div class="contenedorTabla">
        <table class="ancha" id="tblFacturasEmitidas" class="editinplace draggable sorttable" width="100%">
            <thead>
                <tr>
                    <th class='taleft'>N&uacute;mero factura</th>
                    <th class='taleft'>Empresa Contraparte</th>
                    <th class='taleft'>Fecha factura</th>
                    <th class='taleft'>Fecha de Cobro</th>
                    <th class='tacenter'>Estado</th>
                    <th class='taleft'>Base Imponible</th>
                    <th class='taleft'>Importe Impuestos</th>
                    <th class='taleft'>Importe Total</th>
                    <th class='taleft'>Fecha Inicio</th>
                    <th class='taleft'>Fecha Fin</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <div id="formulariosDatosFactura" class="modal modalFact">
        <div class="esquinar">
            <a  ng-click="ocultarDatosFactura()"><img src="img/closeModal.png" title="Cerrar Ventana" /></a>
        </div>
        <p class="titleAlta">
            Datos Factura&nbsp;<span id="df"></span>
        </p>

        <input type="hidden" id="textIdContacto" />
        <div class="scrollear">
            <table class="tablaPrueba ancha" id="tablaDatos" width="100%">
                <thead>
                    <tr>
                        <th>Orden</th>
                        <th>Booking</th>
                        <th>Num</th>
                        <th>Ref. Banco</th>
                        <th>L&iacute;quido</th>
                        <th>Neto</th>
                        <th>Bruto</th>
                        <th>Comisiones</th>
                        <th>T&iacute;tulo</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <div id="formulariosHistorialFactura" class="modal modalFact">
        <div class="esquinar">
            <a ng-click="ocultarHistorialFactura()"><img src="img/closeModal.png" title="Cerrar Ventana" /></a>
        </div>
        <p class="titleAlta">
            Historial Factura&nbsp;<span id="hf"></span>
        </p>

        <input type="hidden" id="textIdContacto" />
        <div class="scrollear">
            <table class="tablaPrueba ancha" id="tablaHistorial">
                <thead>
                    <tr>
                        <th>N&uacute;mero Factura</th>
                        <th>Estado</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
    <div id="fade" class="overlay"></div>
    <div id="dialog-confirm"></div>
</article>

<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>