* body {
	font-family: Tahoma, Verdana, Times, Arial, Helvetica;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}


/* Header */
header {
	background-color: #eee;
	border-bottom: 2px solid red;
	padding: 2px;
	display: block;
}


/* Navigation */
nav {
	display: block;
	margin-bottom: 10px;
	height: 20px;
}
nav a {
	display: block;
	float: left;
	padding: 3px 6px 0px 6px;
	color: #575c7d;
	text-decoration: none;
	font-weight: bold;
}
nav a:hover {
	background: #deff90;
	color: #485e0f;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	padding: 3px 6px;
	margin: 0;
	text-decoration: none;
}



/* page core */
div#core {
	display: block;
	clear: both;
	margin-bottom: 20px;
}
section#left {
	width: 100px;
	float: left;
	margin: 0px 1% 0% 0%;
	padding: 0px 4px;
	background-color: #fdd;
	border-right: 2px solid red;
}
section#right {
	float: left;
	width: auto;
}


/* clearfix */
.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
.clearfix {
	display: inline-block;
}

html[xmlns] .clearfix {
	display: block;
}

* html .clearfix {
	height: 1%;
}




/* Footer */
footer {
	background-color: #eee;
	border-top: 2px solid red;
	padding: 2px;
	display: block;
	color: red;
}

select#top {
  vertical_align: top;
}
