	<!-- DIV de cobros -->
		<div id="core" class="">
			<article class="center">  
				<form id="f1">
					<div class="title_section clearfix">
						<p class="title">Grupos Impositivos KO</p>
						<a class="collapser_search active" >Mostrar Alta de Grupo Impositivo</a>
					</div>
					<div class="altaregla">	
						<form id="cargarTabla">
							<fieldset>
								<div>
									<label for="textCodigo" class="desresumen">C&oacute;digo:</label>
									<input type="text" id="textCodigo" class="anchoinp"/>
								</div>
								<div>
									<label for="textDesc" class="desresumen">Descripci&oacute;n:</label>
									<input type="text" id="textDesc" class="anchoinp"/>
								</div>
								<div>
									<label for="textPorcen" class="desresumen">Porcentaje:</label>
									<input type="text" id="textPorcen" class="anchoinp"/>
								</div>
								<div>
									<label for="textCategoria" class="desresumen">Categor&iacute;a:</label>
									<input type="text" id="textCategoria" class="anchoinp"/>
								</div>								
								<div>
									<label for="textCancelado" class="desresumen">V&aacute;lido:</label>
									<input type="text" id="textCancelado" class="anchoinp"/>
								</div>
								<div>
									<label for="fechaValido" class="desresumen">Fecha V&aacute;lido:</label>
									<input type="text" id="fechaValido" />
								</div>	
							</fieldset>
							<div class="centrar">						  
								<input class="btn mybutton" type="button" id="btnAltaRegla" value="Alta" />
							</div>						
					</div>					
					<!-- <a href="#" class="button" id="getdata-button">Get JSON Data</a>
					<div id="showdata">pacopepe</div> -->
					<div class="descargaDiv mensajeBusqueda">Exportaci&oacute;n <a onClick="exportacion(pdf);"><img src="img/icoPdf.png" title="Exportar a PDF"/></a>&nbsp;<a onClick="exportacion(xls);"><img src="img/icoXls.png" title="Exportar a Excel" /></a></div>
					<div id="showdata"></div>
					<form name="envioPDF" id="envioPDF">
						<input type="hidden" name="webRequest" value="" />
					</form>
					<div>	
						<div class="contenedorTabla"> 	
							<table class="tablaPrueba ancha">
								<tr>
									<th class="taleft">C&oacute;digo</th> 
									<th class="taleft">Descripci&oacute;n</th>
									<th class="taleft">Porcentaje</th>
									<th class="taleft">Categor&iacute;a</th>
									<th class="taleft">Cancelado</th>											
									<th class="taleft">Fecha Valido Desde</th> 
								</tr>
							</table>
						</div>
					</div>
					<div id="resultados1"></div>
					<div id="respuesta" style="color:red"></div>
				</form>	
		   </article>
		</div>
<!-- final DIV de cobros -->	
<script src="js/datepicker2.js" type="text/javascript"></script>	
<script src="views/grupos/js/GruposImpositivos.js" type="text/javascript"></script>
