<script>
	document.title="Consulta Ficheros ECC";
	$('#tituloHeader').empty();
	$('#tituloHeader').append("Consulta Ficheros ECC");
</script>
<!-- DIV de cobros -->
<div id="core" class="">  

	  <article class="center">  
        <!-- <form id="f1"> -->
            <div class="title_section clearfix">
                <p class="title">Consulta Ficheros ECC</p>   
            </div>
            
              <div class="datosBusqueda">
              
              	  <form id="cargarTabla" action="/sibbac20back/rest/fixml" method="GET" enctype="application/x-www-form-urlencoded">
                    <fieldset>
                        <div>
                            <label for="selectArchivo" >Archivos:</label>
                            <select id="selectArchivo" name="selectArchivo" onchange="cargarFechas();">
								<option value="0">Seleccione un archivo</option>
                            </select>
                            
                            <label for="textFecha" class="desresumen">Fecha:</label>
							<select id="textFecha" name="textFecha">
								<option value="0">Seleccione una fecha</option>
                            </select>	
                       						  
							<input class="btn buscador mybutton" type="submit"  id="buscar" value="Consultar"/>
                    </div>   
                        
                      
                    </fieldset>
	
                 </form>
              </div>
        <!-- </form> -->
      </article>
</div>
<script src="views/exportacion/js/exportacion.js" type="text/javascript"></script>
