<script>
	document.title="Informes de Transacciones Financieras";
	$('#tituloHeader').empty();
	$('#tituloHeader').append("Informes de Transacciones Financieras");
</script>
<article class="center">
		<form action="/sibbac20back/rest/export" method="post" name="export" id="export" target="export">
			<input type="hidden" name="webRequest" id="webRequest" value="">
		</form> 
		<form id="ControltransaccionesFinancieras">
			<div id="popup" style="display:none;">
				<span class="button b-close"><span>X</span></span>If you can't get it up use<br><span class="logo">bPopup</span>
			</div>
			<div class="title_section clearfix">
                <div style="display: inline; float:left;">
                   <p id="tituloprincipal" class="title">Informes de Transacciones Financieras</p>
                </div>
                <div style="float: right; display: inline;">
                   <a class="collapser_search">Ocultar opciones de b&uacute;squeda</a>
                </div>
            </div>
            <div class="buscador">
	            <form id="cargarTabla">
	            	<fieldset>
	            	<div class="four-columns">	
	            		<div>
	            		</div>
	            		<div>
							<label for="tipoInforme" class="desresumen">Tipo de Informe:</label> 
							<select id="tipoInforme" class="anchoinp">
								<option value="1">Gen&eacute;rico FTT</option>
								<option value="2">Operaciones Exentas Sin OPEN </option>
								<option value="3">Operaciones s&oacute;lo OPEN</option>
							</select>
						</div>
					</div>
					<div class="four-columns">
						<div>
							<label for="fcontratacionDe" class="desresumen">F. Contrataci&oacute;n Desde:</label> 
							<input datepicker type="text" id="fcontratacionDe" class="anchoinp" placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly">
						</div>
					</div>
					<div class="four-columns">
						<div>
							<label for="textCodigo" class="desresumen">F. Contrataci&oacute;n Hasta:</label> 
							<input datepicker type="text" id="fcontratacionA" class="anchoinp" placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10" readonly="readonly">
						</div>
					</div>
			
	
	            	<div class="four-columns">	
	            		<div>
	            		</div>
	            		<div>
							<label for="mercado" class="desresumen">Mercado:</label> 
							<select id="mercado" class="anchoinp">
								<option value=""></option>
								<option value="PAR">Francia</option>
								<option value="MIL">Italia</option>
							</select>
						</div>
					</div>
					</fieldset>
				</form>
				<div class="centrar">
					<input class="btn buscador mybutton" type="submit" id="BtnBuscar"  value="Consultar" ng-click="Consultar()" />
					<input class="mybutton" type="reset" id="limpiar" value="Limpiar Filtros" ng-click="LimpiarFiltros()"/>
				</div>	
           </div> 
		
		</form>
</article>

<div id="fade" class="overlay"></div>

<div>
	<div class="contenedorTabla">

		<table id="tablaConsultaTransaccionesFinancieras" class="fullTable" cellspacing="0" width="100%">
			<thead>
				<tr>
					<th class="taleft">Reference</th>					
					<th class="taleft">Trade Date</th>											
					<th class="taleft">Settlement Date</th>
					<th class="taleft">Market</th>
					<th class="taleft">Alias</th>
					<th class="taleft">Description</th>
					<th class="taleft">ISIN</th>
					<th class="taleft">Description</th>
					<th class="taleft">Quantity</th>
					<th class="taleft">C. Gross Amount</th>
					<th class="taleft">Net C. Consideration</th>
					<th class="taleft">Market Charge</th>																				
				</tr>
			</thead>
			<tbody></tbody>
		</table>

	</div>
</div>	

<div id="mensaje" class="dialogMensaje" ></div>


<script src="js/datepicker2.js" type="text/javascript"></script>
<script src="js/datatables/jquery.dataTables.js"></script>
<script src="js/datatables/tableTools.js"></script> 

<script src="js/utilsibbac.js" type="text/javascript"></script>
<script src="js/site.js" type="text/javascript"></script>

