<article class="center">            
    <form id="codigosOperacion" >
        <div class="title_section clearfix">
            <div class="align-left"><p class="title">C&oacute;digos Operaci&oacute;n</p></div>
        </div>    
        <div>
            <div class="contenedorTabla">

                <table id="datosMaestros"  class="fullTable"  width="100%">
                    <thead>
                        <tr>
                            <th>C&oacute;digo</th>
                            <th>Descripci&oacute;n</th>
                            <th>TrdType</th>
                            <th>TrdSubType</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <div class="piePagina">

            </div>
        </div>
    </form>
</article>		
