<div>
		<!-- Titulo  -->
	<div class="title_section clearfix">
         <div style="display: inline; float:left;"><p class="title">Control Efectivo</p></div>
    </div> 
    <div class="contenedorTabla">
        <!-- Tabla -->
        <div ng-if="ctrl.grid" ui-grid="ctrl.grid" ui-grid-selection ui-grid-pagination ui-grid-resize-columns></div>
        <!-- Crear / Modificar / Eliminar buttons -->
        <div class="centrar">
            <input class="btn buscador mybutton" type="button" ng-click="ctrl.openModal('save')" value="Crear" />
            <input class="btn buscador mybutton" type="button" ng-click="ctrl.openModal('edit')" ng-disabled="ctrl.selectedRows().length != 1" value="Modificar"
            />
            <input class="btn buscador mybutton" type="button" ng-click="ctrl.delete()" ng-disabled="ctrl.selectedRows().length === 0" value="Eliminar"
            />
        </div>
    </div>
</div>

<!-- Modal para crear button -->
<div id="modalSave">
    <div class="buscador clearfix">
        <form name="modalForm" novalidate>
            <fieldset>
                <div class="two-columns">
                    <div>
                        <label class="desresumen">Id</label>
                        <input name="id" type="text" maxlength="10"  pattern="^[0-9]{0,10}$" ng-model="ctrl.params.id"  ng-model-options="{ allowInvalid: true}" required>
                    </div>
                    <div>
                        <label class="desresumen">Número de Títulos Máximo</label>
                        <input name="nTitle" type="text" maxlength="10"  pattern="^[0-9]{0,10}$" ng-model="ctrl.params.numTitulosMax"  ng-model-options="{ allowInvalid: true}" required>
                    </div>
                    <div>
                        <label class="desresumen">Porcentaje Títulos Máximo</label>
                        <input name="pTitle" type="text" maxlength="5"  pattern="^(?:100(?:\.00?)?|\d?\d(?:,\d\d?)?)$" ng-model="ctrl.params.perTitulosMax" ng-model-options="{ allowInvalid: true}" required>
                    </div>
                </div>
                <div class="two-columns">
                    <div>
                        <label class="desresumen">Descripción CCE</label>
                        <input name="desc" type="text" maxlength="256"  pattern="^.{0,256}$" ng-model="ctrl.params.descripcion" ng-model-options="{ allowInvalid: true}" required>
                    </div>
                    <div>
                        <label class="desresumen">Importe efectivo Máximo</label>
                        <input name="iCash" type="text" maxlength="31"  pattern="^[0-9]+([,][0-9]+)?$" ng-model="ctrl.params.importeEfectivoMax" ng-model-options="{ allowInvalid: true}" required>
                    </div>
                    <div>
                        <label class="desresumen">Porcentaje efectivo Máximo</label>
                        <input name="pCash" type="text" maxlength="5" pattern="^(?:100(?:\.00?)?|\d?\d(?:,\d\d?)?)$" ng-model="ctrl.params.perEfectivoMax" ng-model-options="{ allowInvalid: true}" required>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<!-- Modal para Modificar button -->
<div id="modalEdit">
    <div class="buscador clearfix">
        <form name="modalForm" novalidate>
            <fieldset>
                <div class="two-columns">
                    <div>
                        <label class="desresumen">Id:</label>
                        <input name="id" type="text" maxlength="10" pattern="^[0-9]{0,10}$" ng-model="ctrl.params.id" ng-disabled="true">
                    </div>
                    <div>
                        <label class="desresumen">Número de Títulos Máximo:</label>
                        <input name="nTitle" type="text" maxlength="10" pattern="^[0-9]{0,10}$" ng-model="ctrl.params.numTitulosMax" ng-disabled="true" >
                    </div>
                    <div>
                        <label class="desresumen">Porcentaje Títulos Máximo:</label>
                        <input name="pTitle" type="text" maxlength="5" pattern="^(?:100(?:\.00?)?|\d?\d(?:,\d\d?)?)$" ng-model="ctrl.params.perTitulosMax" ng-disabled="true">
                    </div>
                </div>
                <div class="two-columns">
                    <div>
                        <label class="desresumen">Descripción CCE:</label>
                        <input name="desc" type="text" maxlength="256" pattern="^.{0,256}$" ng-model="ctrl.params.descripcion" ng-model-options="{ allowInvalid: true}" required>
                    </div>
                    <div>
                        <label class="desresumen">Importe efectivo Máximo:</label>
                        <input name="iCash" type="text" maxlength="31" pattern="^[0-9]+([,][0-9]+)?$" ng-model="ctrl.params.importeEfectivoMax" ng-model-options="{ allowInvalid: true}" required>
                    </div>
                    <div>
                        <label class="desresumen">Porcentaje efectivo Máximo:</label>
                        <input name="pCash" type="text" maxlength="5" pattern="^(?:100(?:\.00?)?|\d?\d(?:,\d\d?)?)$" ng-model="ctrl.params.perEfectivoMax" ng-model-options="{ allowInvalid: true}" required>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<!-- Dialog confirm -->
<div id="dialog-confirm"></div>
<div id="mensajeConfirm" class="dialogMensaje"></div>
<script src="js/site.js" type="text/javascript"></script>

<!-- Modal resultado de la accion -->
<div id="resultDialog">
    <modal-result-dialog></modal-result-dialog>
</div>