<div>
		<!-- Titulo -->
	<div class="title_section clearfix">
         <div style="display: inline; float:left;"><p class="title">Control de An&aacute;lisis</p></div>
    </div> 
    <div class="contenedorTabla">
		<!-- Tabla -->
        <div ng-if="ctrl.grid" ui-grid="ctrl.grid" ui-grid-selection ui-grid-pagination ui-grid-resize-columns></div>
        <!-- Crear / Modificar / Eliminar buttons -->
        <div class="centrar">
            <input class="btn buscador mybutton" type="button" ng-click="ctrl.openModal('save')" value="Crear" />
            <input class="btn buscador mybutton" type="button" ng-click="ctrl.openModal('edit')" ng-disabled="ctrl.selectedRows().length != 1" value="Modificar"
            />
            <input class="btn buscador mybutton" type="button" ng-click="ctrl.delete()" ng-disabled="ctrl.selectedRows().length === 0" value="Eliminar"
            />
        </div>
    </div>
</div>

<!-- Modal para crear button -->
<div id="modalSave">
    <div class="buscador clearfix">
        <form name="modalForm" novalidate>
            <fieldset>
                <div class="two-column">
                    <label class="desresumen">Id</label>
                    <input name="id" type="text" maxlength="10" pattern="^[0-9A-Za-z]{0,10}$" ng-model="ctrl.params.id" ng-model-options="{allowInvalid:true}" required>
                </div>
                <div class="two-column">
                    <label class="desresumen">Descripción</label>
                    <input name="desc" type="text" maxlength="256"  pattern="^.{0,256}$" ng-model="ctrl.params.descripcion" ng-model-options="{allowInvalid:true}" required>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<!-- Modal para Modificar button -->
<div id="modalEdit">
    <div class="buscador clearfix">
        <form name="modalForm" novalidate>
            <fieldset>
                <div class="two-column">
                    <label class="desresumen">Id</label>
                    <input name="id" type="text" maxlength="10" pattern="^[0-9A-Za-z]{0,10}$" ng-model="ctrl.params.id" ng-model-options="{allowInvalid:true}" ng-disabled="true">
                </div>
                <div class="two-column">
                    <label class="desresumen">Descripción</label>
                    <input name="desc" type="text" maxlength="256"  pattern="^.{0,256}$" ng-model="ctrl.params.descripcion" ng-model-options="{allowInvalid:true}" required>
                </div>
            </fieldset>
        </form>
    </div>
</div>

<!-- Dialog confirm -->
<div id="dialog-confirm"></div>
<div id="mensajeConfirm" class="dialogMensaje"></div>
<script src="js/site.js" type="text/javascript"></script>

<!-- Modal resultado de la accion -->
<div id="resultDialog">
    <modal-result-dialog></modal-result-dialog>
</div>