<article class="center">            
    <form id="depositariosValores" >

        <div class="title_section clearfix">
            <div class="align-left"><p class="title">Depositarios Valores</p></div>
        </div>    
        <div class="contenedorTabla">

            <table id="tblDepositariosValores"  width="100%">
                <thead>
                    <tr>
                        <th>C&oacute;digo</th>
                        <th>Descripci&oacute;n</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </form>
</article>		