<article class="center">            
    <form id="gruposValores" >

        <div class="title_section clearfix">
            <div style="display: inline; float:left;"><p class="title">Grupos Valores</p></div>
        </div>    
        <div>
            <div class="contenedorTabla">
                <table id="tblGruposValores"  class="fullTable"  width="100%">
                    <thead>
                        <tr>
                            <th>C&oacute;digo</th>
                            <th>Descripci&oacute;n</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <div class="piePagina">
            </div>
        </div>
    </form>
</article>	