<article class="center">            
    <form id="modosMatGarantias" >

        <div class="title_section clearfix">
            <div class="align-left"><p class="title">Tipos Materializaci&oacute;n Garant&iacute;as</p></div>
        </div>    
        <div class="contenedorTabla">
            <table id="tblModosMatGarantias"  class="fullTable"   width="100%">
                <thead>
                    <tr>
                        <th>C&oacute;digo</th>
                        <th>Descripci&oacute;n</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </form>
</article>		
