<meta content="text/html; charset=iso-8859-1" http-equiv=Content-Type>
<article class="center">
	 <div class="title_section clearfix"><div class="align-left"> 
        <p class="title">Para&iacute;sos Fiscales</p>
    </div>
	<div class="buscador">
	<!-- Seleccionador de Queries -->
		<label for="selectedQuery" class="desresumen">Consulta:</label>
		<span ng-repeat="q in ctrl.queries">
			<input type="radio" ng-model="ctrl.selectedQuery" ng-value="q" ng-change="ctrl.selectQuery()">{{q.desc}} &nbsp;
		</span>
		<!-- Filtros devueltos por la llamada a ctrl.selectQuery()-->
		<form name="filters" ng-submit="ctrl.executeQuery()">
			<!-- Imputs -->
			<fieldset class="clearfix">
				<div class="dynamic-filter" ng-repeat="f in ctrl.filterList">
					<sb-filter-element value="f" target="ctrl"></sb-filter-element>
				</div>
			</fieldset>
			<!-- Consultar / Limpiar buttons -->
			<div class="centrar">
				<input class="btn mybutton" type="submit" value="Consultar" ng-disabled="!ctrl.selectedQuery" />
				<input class="mybutton" type="button" value="Limpiar" ng-click="ctrl.filter = {}">
			</div>
		</form>
	</div>
	<!-- Mensaje debajo del filtro / Refrescar button-->
	<div ng-hide="ctrl.showingFilter">
		<div class="centrar">
			<input class="btn mybutton" type="button" value="Refrescar" ng-disabled="!ctrl.selectedQuery" ng-click="ctrl.executeQuery()"
			/>
		</div>
	</div>
</article>
<div>
	<div class="contenedorTabla">
		<!-- Tabla -->
		<div ng-if="ctrl.grid" ui-grid="ctrl.grid" ui-grid-selection ui-grid-pagination ui-grid-resize-columns></div>
		<!-- Crear / Modificar / Eliminar buttons -->
		<div class="centrar">
			<input class="btn buscador mybutton" type="button" ng-click="ctrl.openModal('save')" value="Crear" />
			<input class="btn buscador mybutton" type="button" ng-click="ctrl.openModal('edit')" ng-disabled="ctrl.selectedRows().length != 1" value="Modificar"
			/>
			<input class="btn buscador mybutton" type="button" ng-click="ctrl.delete()" ng-disabled="ctrl.selectedRows().length === 0" value="Eliminar"
			/>
		</div>
	</div>
</div>

<!-- Modal para crear button -->
<div id="modalSave">
	<div class="buscador clearfix">
		<form name="modalForm" novalidate>
			<fieldset>
				<div class="one-column">
					<label class="desresumen">Nombre de pais</label>
					<br>
					<input name="nbpais" type="text" maxlength="100" pattern="^.{0,100}$" ng-model="ctrl.params.nbpais" ng-model-options="{allowInvalid:true}" style="margin-left: 5px;width: 91.8%;"
					auto-uppercase required>
				</div>
				<div class="two-columns">
					<div>
						<label class="desresumen">ISO Alfanumérico(2)</label>
						<input name="cdisoalf2" type="text" maxlength="2" pattern="^[0-9A-Za-z]{2,2}$" ng-model="ctrl.params.cdisoalf2" ng-model-options="{allowInvalid:true}" required>
					</div>
					<div>
						<label class="desresumen">ISO Numérico</label>
						<input name="cdisonum" type="text" maxlength="6" pattern="^[0-9]{3,6}$" ng-model="ctrl.params.cdisonum" ng-model-options="{allowInvalid:true}" required>
					</div>
					<div>
						<label class="desresumen">Código Global</label>
						<input name="cdcodkgr" type="text" maxlength="6" pattern="^[0-9A-Za-z]{0,6}$" ng-model="ctrl.params.cdcodkgr" ng-model-options="{allowInvalid:true}">
					</div>
				</div>
				<div class="two-columns">
					<div>
						<label class="desresumen">ISO Alfanumérico(3)</label>
						<input name="cdisoalf3" type="text" maxlength="3" pattern="^[0-9A-Za-z]{3,3}$" ng-model="ctrl.params.cdisoalf3" ng-model-options="{allowInvalid:true}" required>
					</div>
					<div>
						<label class="desresumen">Código de Hacienda</label>
						<input name="cdhacienda" type="text" maxlength="6" pattern="^[0-9]{0,6}$" ng-model="ctrl.params.cdhacienda" ng-model-options="{allowInvalid:true}">
					</div>
					<div>
						<label class="desresumen">MIFID</label>
						<input name="cdTipoIdMifid" type="text" maxlength="7" ng-model="ctrl.params.cdTipoIdMifid" ng-model-options="{allowInvalid:true}">
					</div>
				</div>
				<div class="one-column">
					<label class="desresumen">Indicador DMO</label>
					<br>
					<div style="margin-left: 5px;">
						<input name="indicadorDMO" type="radio" ng-model="ctrl.params.indicadorDMO" ng-model-options="{allowInvalid:true}" value="1">
						<label class="desresumen" style="width: 10%;margin-top:  0%;">SI</label>
						<input name="indicadorDMO" type="radio" ng-model="ctrl.params.indicadorDMO" ng-model-options="{allowInvalid:true}" value="0">
						<label class="desresumen" style="width: 10%;margin-top:  0%;">NO</label>
					</div>
				</div>
				<div class="two-columns">
					<div>
						<label class="desresumen">Fecha Inicio Paraíso</label>
						<input name="fecInicioParFisc" type="date" ng-model="ctrl.params.fecInicioParFisc" ng-model-options="{allowInvalid:true}">
					</div>
				</div>
				<div class="two-columns">
					<div>
						<label class="desresumen">Fecha Fin Paraíso</label>
						<input name="fecFinParFisc" type="date" ng-model="ctrl.params.fecFinParFisc" ng-model-options="{allowInvalid:true}">
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

<!-- Modal para Modificar button -->
<div id="modalEdit">
	<div class="buscador clearfix">
		<form name="modalForm" novalidate>
			<fieldset>
				<div class="one-column">
					<label class="desresumen">Nombre de pais</label>
					<br>
					<input name="nbpais" type="text" maxlength="100" pattern="^.{0,100}$" ng-model="ctrl.params.nbpais" ng-model-options="{allowInvalid:true}" style="margin-left: 5px;width: 91.8%;"
					auto-uppercase ng-disabled="true">
				</div>
				<div class="two-columns">
					<div>
						<label class="desresumen">ISO Alfanumérico(2)</label>
						<input name="cdisoalf2" type="text" maxlength="2" pattern="^[0-9A-Za-z]{2,2}$" ng-model="ctrl.params.cdisoalf2" ng-model-options="{allowInvalid:true}" ng-disabled="true">
					</div>
					<div>
						<label class="desresumen">ISO Numérico</label>
						<input name="cdisonum" type="text" maxlength="6" pattern="^[0-9]{3,6}$" ng-model="ctrl.params.cdisonum" ng-model-options="{allowInvalid:true}" ng-disabled="true">
					</div>
					<div>
						<label class="desresumen">Código Global</label>
						<input name="cdcodkgr" type="text" maxlength="6" pattern="^[0-9A-Za-z]{0,6}$" ng-model="ctrl.params.cdcodkgr" ng-model-options="{allowInvalid:true}">
					</div>
				</div>
				<div class="two-columns">
					<div>
						<label class="desresumen">ISO Alfanumérico(3)</label>
						<input name="cdisoalf3" type="text" maxlength="3" pattern="^[0-9A-Za-z]{3,3}$" ng-model="ctrl.params.cdisoalf3" ng-model-options="{allowInvalid:true}" ng-disabled="true">
					</div>
					<div>
						<label class="desresumen">Código de Hacienda</label>
						<input name="cdhacienda" type="text" maxlength="6" pattern="^[0-9]{0,6}$" ng-model="ctrl.params.cdhacienda" ng-model-options="{allowInvalid:true}">
					</div>
					<div>
						<label class="desresumen">MIFID</label>
						<input name="cdTipoIdMifid" type="text" maxlength="7" ng-model="ctrl.params.cdTipoIdMifid" ng-model-options="{allowInvalid:true}">
					</div>
				</div>
				<div class="one-column">
					<label class="desresumen">Indicador DMO</label>
					<br>
					<div style="margin-left: 5px;">
						<input name="indicadorDMO" type="radio" ng-model="ctrl.params.indicadorDMO" ng-model-options="{allowInvalid:true}" value="1">
						<label class="desresumen" style="width: 10%;margin-top:  0%;">SI</label>
						<input name="indicadorDMO" type="radio" ng-model="ctrl.params.indicadorDMO" ng-model-options="{allowInvalid:true}" value="0">
						<label class="desresumen" style="width: 10%;margin-top:  0%;">NO</label>
					</div>
				</div>
				<div class="two-columns">
					<div>
						<label class="desresumen">Fecha Inicio Paraíso</label>
						<input name="fecInicioParFisc" type="date" ng-model="ctrl.params.fecInicioParFisc" ng-model-options="{allowInvalid:true}">
					</div>
				</div>
				<div class="two-columns">
					<div>
						<label class="desresumen">Fecha Fin Paraíso</label>
						<input name="fecFinParFisc" type="date" ng-model="ctrl.params.fecFinParFisc" ng-model-options="{allowInvalid:true}">
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

<!-- Dialog confirm -->
<div id="dialog-confirm"></div>
<div id="mensajeConfirm" class="dialogMensaje"></div>
<script src="js/site.js" type="text/javascript"></script>

<!-- Modal resultado de la accion -->
<div id="resultDialog">
	<modal-result-dialog></modal-result-dialog>
</div>