<article class="center">            
    <form id="tiposProducto" >
        <div class="title_section clearfix">
            <div class="align-left"><p class="title">Tipos Producto</p></div>
        </div>    
        <div class="contenedorTabla">
            <table id="tblTiposProducto"  class="fullTable" width="100%">
                <thead>
                    <tr>
                        <th>C&oacute;digo</th>
                        <th>Descripci&oacute;n</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </form>
</article>		
