<article class="center">            
    <form id="tiposGarantiaExigida" >
        <div class="title_section clearfix">
            <div class="align-left"><p class="title">Tipos Garant&iacute;a Exigida</p></div>
        </div>    
        <div class="contenedorTabla">
            <table id="tblTiposGarantiaExigidas" width="100%">
                <thead>
                    <tr>
                        <th>C&oacute;digo</th>
                        <th>Descripci&oacute;n</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </form>
</article>	