<!DOCTYPE html>
<html lang="es">
<head>
  <title>SIBBAC :: BANCO SANTANDER S.A.</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="src/test/resources/velocity/css/carta_pago.css" />
</head>
<body>
  <div id="header">
    <div class="logo">
      <img src="src/test/resources/velocity/img/logo.png"/>
    </div>
  </div>
  <br /><br /><br /><br />
  <div class="remitente">
    <pre><br />Credit Suisse SA<br />Attn:  Regina Calvo<br />Fecha: 30/08/2015<br /></pre>
  </div>
  <br /><br />
  <pre>Ref: Operaciones de bolsa realizadas entre los d&iacute;as <b>01/08/2015</b> y <b>30/08/2015</b> a trav&eacute;s de Banco Santander S.A.</pre>
  <br /><br />
  <table id="tblOperacionesPago" class="fullTable">
    <thead>
      <tr>
        <th>Fecha de Ejecuci&oacute;n</th>
        <th>Referencia</th>
        <th>Tipo de operaci&oacute;n</th>
        <th>Nombre valor</th>
        <th>Isin</th>
        <th>T&iacute;tulos</th>
        <th>Efectivo</th>
        <th>Importe devoluci&oacute;n</th>
      </tr>
    </thead>
    <tbody>

#macro( isOdd $number $oddText $evenText )
  #if( 0 == $number%2)
    $evenText
  #else
    $oddText
  #end
#end
#foreach($val in $list)
        <tr class="#isOdd( $velocityCount "odd" "even" )">
          <td>$val.feejeliq</td>
          <td>$val.nbooking</td>
          <td>$val.tpoper</td>
          <td class="td_left">$val.nbvalor</td>
          <td>$val.isin</td>
          <td class="td_right">$val.titulos</td>
          <td class="td_right">$val.efectivo</td>
          <td class="td_right">$val.devolucion</td>
        </tr>
#end
      </tbody>
      <tfoot>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th class="th_left">Total general:</th>
          <th class="th_right">$titulos</th>
          <th class="th_right">$efectivo</th>
          <th class="th_right">$devolucion</th>
        </tr>
      </tfoot>
    </table>
    
    <br /><br />
    <pre>El pago será efectivo con fecha (la que apliquemos al hacer el pago).</pre>
    <br />
    <pre>Si necesitan informacíón adicional no duden en contactar con nosotros.</pre>
    <br /><br />
    <pre>Un cordial saludo,</pre>
    <br />
    <pre>Banco Santander S.A.</pre>
</body>
</html>