@CHARSET "ISO-8859-1";

html {
  overflow-x: hidden;
  overflow-y: auto;
}

html, body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
}

body {
  font-family: Tahoma, Verdana, Times, Arial, Helvetica;
  font-size: 10px;
}

pre {
  font-family: Courier;
  font-size: 9pt;
  line-height: 12pt;
  margin: 1em 0;
  white-space: pre;
}

/* Cabecera */
#header {
  width: 100%;
  height: 75px;
}

#header .logo {
  width: 15%;
  min-width: 240px;
  display: inline-block;
  float: left;
  border: 1px solid black;
}

#header .title {
  float: left;
  /*   margin: 24px 0 0 54px; */
  margin: 0 0 0 50px;
  font-size: 19px;
  line-height: 25px;
  font-size: 20px;
  margin: 0 20%;
}

/*TABLA*/
table {
  width: 100%;
  margin: 0 30px;
  font-size: 12px;
  font-family: Verdana;
  /*   page-break-before: always; */
}

table th {
  padding: 5px;
  background: #555;
  color: #FFF;
  vertical-align: middle;
  text-align: center;
}

table .th_left {
  text-align: left;
}

table .th_right {
  text-align: right;
}

table td {
  padding: 5px;
  vertical-align: middle;
  text-align: center;
}

table .td_left {
  text-align: left;
}

table .td_right {
  text-align: right;
}

table tr.odd {
  background-color: #FFF;
}

table tr.even {
  background-color: #F4F4F4;
}

.remitente {
  width: 250px;
  border: solid 1px #000;
  padding: 0 30px;
}

.remitente pre {
  font-size: 12pt;
  line-height: 16pt;
}