<article class="center">
    <form action="/sibbac20back/rest/export" method="post" name="export"
          id="export" target="export">
        <input type="hidden" name="webRequest" id="webRequest" value="">
    </form>
    <div class="title_section clearfix">
        <div style="display: inline; float: left;">
            <p class="title">Subcuentas</p>
        </div>
        <div style="float: right; display: inline;">
            <a class="collapser_search active">Ocultar opciones de
                b&uacute;squeda</a>
        </div>

    </div>
    <div class="buscador">
        <form id="cargarTabla" action="#">
            <fieldset>
                <div>
                    <label for="nombreAlias" class="desresumen">Introduzca un
                        alias: </label> <input type="text" id="nombreAlias" class="anchoinp">
                </div>
            </fieldset>
            <div class="centrar">
                <input class="btn buscador mybutton" type="submit" id="buscar"
                       value="Consultar" onclick="" /> <input class="mybutton"
                       type="reset" id="limpiar" value="Limpiar Filtros" />
            </div>
        </form>
    </div>
    <div class="resultados">
        <div class="contenedorTabla">
            <table id="tablaListado" class="fullTable ancha" width="100%">
                <thead>
                    <tr>
                        <th class="taleft">Subcuenta</th>
                        <th class="taleft">Alias Facturaci&oacute;n</th>
                        <th class="tacenter">Acciones</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
    <div id="formularioSubcuenta" class="modal modalaltoEdSubcuenta">
        <div class="esquinar">
            <a onclick="document.getElementById('formularioSubcuenta').style.display = 'none';
                        document.getElementById('fade').style.display = 'none';"><img
                    src="img/closeModal.png" title="Cerrar Ventana" /></a>
        </div>
        <p class="titleAlta">Editar</p>
        <div id=nombreSubcuenta></div>
        <input type="hidden" id="idSubcuenta" />
        <fieldset>
            <div>
                <label for="idAliasFacturacionSubcuenta" class="desresumen">Alias
                    Facturaci&oacute;n : </label> <select id="idAliasFacturacionSubcuenta"
                                                      class="anchoinp"></select>
            </div>
            <div class="centrar">
                <input class="btn mybutton" type="button" id="btnEditar"
                       value="Editar" />
            </div>
        </fieldset>
    </div>
    <div id="fade" class="overlay"></div>
</article>

