<article class="center">

    <div class="title_section clearfix">
        <div class="align-left">
            <p class="title">Cuentas De Compensaci&oacute;n</p>
        </div>
        <div class="align-right">
            <a class="collapser_search cursor">Ocultar opciones de
                b&uacute;squeda</a>
        </div>
        <!--   <a onclick="SendAsXLS()" href="javascript:void(0);" title="Export as Excel"><img src="/sibbac20/images/xls.gif"></a>
                        <a onclick="SendAsPDF()" href="javascript:void(0);" title="Export as PDF"><img src="/sibbac20/images/pdf.gif"></a>  -->

    </div>
    <div class="buscador">

        <form id="cargarTabla">
            <fieldset>
                <div class="four-columns">
                    <div>
                        <label for="ER" class="desresumen">Entidad de registro</label> 
                        <input type="text" id="ER" ng-model="idER" ng-blur="onEntidadRegistroChange()" class="anchoimp"> 
                        <input type="hidden" id="idER" />
                    </div>
                    <div>
                        <label for="TER" class="desresumen">Tipo de entidad:</label> 
                        <select id="TER" disabled="disabled" class="anchoimp" convert-to-number>
                            <option value="">Seleccione un tipo</option>
                            <option ng-repeat="tp in tiposER" value="{{tp.id}}">{{tp.nombre}}</option>
                        </select>
                    </div>
                    <div>
                        <label for="MCA" style="float: left;" class="desresumen">Mercados
                            contrataci&oacute;n asociados:</label>
                        <div class="autocomplete-list-control">
                            <input type="text" id="MCA" class="anchoimp"> <select
                                id="selectedMCA" style="width: 125px; margin-top: -5px;"
                                multiple="multiple" size="4"></select>
                            <button id="btnDelMCA" title="Eliminar mercado seleccionado."
                                    style="width: 40px; margin-left: 4px; margin-top: 1px;">
                                <span class="negrita">-</span>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="four-columns">
                    <div>
                        <label for="numero_cuenta" class="desresumen">N&uacute;mero
                            de cuenta:</label> <input type="text" maxlength="8" id="numero_cuenta"
                                                  class="anchoimp" pattern="[0-9]{0,}" />
                    </div>

                    <div>
                        <label for="tipo_cuenta" class="desresumen">Tipo de
                            cuenta:</label> 
                        <select id="tipo_cuenta" class="anchoimp" convert-to-number>
                            <option value="">Seleccione un tipo</option>
                            <option ng-repeat="tp in tiposCuenta" value="{{tp.id}}">{{tp.name}}</option>
                        </select>
                    </div>
                    <div>
                        <label for="tipo_neteo_titulos" class="desresumen">Tipo
                            de neteo Títulos:</label> 
                        <select id="tipo_neteo_titulos" class="anchoimp">
                            <option value="" ng-selected="true">Seleccione un tipo</option>
                            <option ng-repeat="tp in tiposNeteoTitulos" value="{{tp.id}}">{{tp.name}}</option>
                        </select>
                    </div>
                    <div>
                        <label for="tipo_neteo_efectivo" class="desresumen">Tipo
                            de neteo Efectivo:</label> 
                        <select id="tipo_neteo_efectivo" class="anchoimp">
                            <option value="" ng-selected="true">Seleccione un tipo</option>
                            <option ng-repeat="tp in tiposNeteoEfectivo" value="{{tp.id}}">{{tp.name}}</option>
                        </select>
                    </div>
                    <div>
                        <label for="cdCodigo" class="desresumen">C&oacute;digo
                            Cuenta:</label> 
                        <input type="text" maxlength="16" id="cdCodigo" />
                    </div>
                </div>
                <div class="four-columns">
                    <div>
                        <label for="cuentas_relacionadas" class="desresumen"
                               style="float: left;">Cuentas de Liquidaci&oacute;n:</label>
                        <div class="autocomplete-list-control">
                            <input style="width: 100%;" type="text" id="cuentasrelacionadas" />
                            <input type="hidden" id="idCtaLiq" /> <select id="selectedCL"
                                                                          style="width: 100%; margin-top: -5px;" multiple="multiple"
                                                                          size="4"></select>
                            <button id="btnDelCL" title="Eliminar Cuenta seleccionada."
                                    style="width: 40px; margin-left: 4px; margin-top: 1px;">
                                <span class="negrita">-</span>
                            </button>
                        </div>
                    </div>

                    <div>
                        <label for="FEE" class="desresumen">Frecuencia envio
                            extracto:</label> 
                        <input type="text" id="FEE" class="anchoimp"
                                                 pattern="\d*" maxlength="15"
                                                 title="solo se permiten valores numéricos enteros.">
                    </div>
                    <div style="clear: left;">
                        <label for="tipo_fichero" class="desresumen">Tipo de
                            fichero:</label> 
                        <select id="tipo_fichero" class="anchoimp">
                            <option value="" ng-selected="true">Seleccione un tipo</option>
                            <option ng-repeat="tp in tiposFichero" value="{{tp}}">{{tp}}</option>
                        </select>
                    </div>

                </div>
                <div class="four-columns">
                    <div>
                        <label class="desresumen" for="compensador">Compensador:</label>
                        <input type="text" maxlength="20" id="compensador" /> 
                        <input type="hidden" id="idCompensador" />
                    </div>
                    <div>
                        <label class="desresumen" for="tipoCuenta">Tipo Cuenta:</label> 
                        <input type="text" maxlength="20" id="tipoCuenta" /> 
                        <input type="hidden" id="idTipoCuenta" />
                    </div>

                </div>

            </fieldset>
            <div class="centrar">
                <input class="btn buscador mybutton" type="submit" id="buscar"
                       value="Consultar" onclick="" /> 
                <input class="mybutton"
                       type="reset" id="limpiar" value="Limpiar Filtros" />
            </div>
        </form>
    </div>

    <div class="mensajeBusqueda"></div>
    <div>
        <div class="contenedorTabla">
            <table id="tblCuentasCompensacion" class="fullTable">
                <thead>
                    <tr>
                        <th>Editar</th>
                        <th>Id</th>
                        <th>Entidad de registro</th>
                        <th>Tipo de entidad</th>
                        <th>Mercados contratacion asociados</th>
                        <th>Numero de cuenta</th>
                        <th>Tipo de cuenta</th>
                        <th>Tipo de neteo T&iacute;tulos</th>
                        <th>Tipo de neteo Efectivo</th>
                        <th>C&oacute;digo</th>
                        <th title="Cuenta de liquidación asociada.">Cuenta Liquid.</th>
                        <th>Frecuencia envio extracto</th>
                        <th>Tipo de fichero</th>
                        <th>codigo S3</th>
                        <th>Es Clearing</th>
                        <th>Id Compensador</th>
                        <th>Id Tipo Cuenta</th>
                        <th>Subcustodio</th>
                        <th>Cta.Subcustodio</th>
                        <th>Sist.Liq&oacute;n</th>
                        <th title="Código Cuenta Iberclear">Cod.Iberclear</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
        <div class="piePagina">
            <div class="centrar">
                <input class="btn mybutton" type="button" id="altapopup"
                       value="Nueva Cuenta" ng-if="isPermisoAccion(SecurityActions.CREAR)" ng-click="modificarCuenta(-1)"
                       title="Abre formulario para el alta de una nueva cuenta de compensación." />
            </div>
        </div>
    </div>
</article>
<div id="fade" class="overlay"></div>
<script src="data/CuentaDeCompensacion.js" type="text/javascript"></script>
<script src="data/CuentaMercado.js" type="text/javascript"></script>
