<script>
	document.title="Tipos de Documentos";
	$('#tituloHeader').empty();
	$('#tituloHeader').append("Tipos de Documentos");
</script>
	<!-- DIV de cobros -->
		<div id="core" class="">
			<article class="center">  
				<form id="f1">
					<div class="title_section clearfix">
						<p class="title">Tipos de Documentos</p>
						<a class="collapser_search active">Mostrar Alta de Tipo de Documento</a>
					</div>
					<div class="altaregla">	
						<form id="cargarTabla">
							<fieldset>
								<div>
									<label for="textDesc" class="desresumen">Descripci&oacute;n:</label>
									<input type="text" id="textDesc" class="anchoinp"/>
								</div>									
							</fieldset>
							<div class="centrar">						  
								<input class="btn mybutton" type="button" id="btnAltaIden" value="Alta" />
							</div>						
					</div>					
					<!-- <a class="button" id="getdata-button">Get JSON Data</a>
					<div id="showdata">pacopepe</div> -->
					<div class="descargaDiv mensajeBusqueda">Exportaci&oacute;n <a><img src="img/icoPdf.png" title="Exportar a PDF"/></a>&nbsp;<a><img src="img/icoXls.png" title="Exportar a Excel" /></a></div>
					<div id="showdata"></div>
					<div>	
						<div class="contenedorTabla"> 	
							<!-- append de los datos de json -->
						</div>
						<div class="botonera">
							<input type="button" class="mybutton" id="refrescar" value="Refrescar" onclick="refrescar('views/configuracion/PeriodosContables.html')" >			
						</div>
					</div>
					<div id="resultados1"></div>
					<div id="respuesta" style="color:red"></div>
				</form>	
		   </article>
		</div>
<!-- final DIV de cobros -->		
<script src="views/configuracion/js/Documentos.js" type="text/javascript"></script>
