<div id="core" class="">
	<article class="center">
		<div class="title_section clearfix">
			<div style="display: inline; float: left;">
				<p class="title">Financiacion e Intereses</p>
			</div>
		</div>
		<div class="buscador" >
			<form id="valoresDefecto">
				<fieldset>
					<div>
						<label class="desresumen"> Intereses de Demora: </label> 
						<input type="text" id="interesesDefectoDemora" class="anchoimp" maxlength="5">
						<label class="desresumen">Base: </label>
						<input type="text" id="baseDefecto" class="anchoimp"> 
						<label class="desresumen"> Fecha Desde: </label> 
						<input type="text" id="fechaDesdeDefectoDemora" class="anchoimp"> 
						<label class="desresumen">Fecha Hasta: </label>
						<input type="text" id="fechaHastaDefectoDemora" class="anchoimp">
					</div>
					<div class="centrar">
							<input type="button" class="mybutton" id="modificarInteresDemora"  ng-click="modificarInteresDemora()"   ng-if="isPermisoAccion(SecurityActions.ANADIR_DEFECTO)"  value="A&#241;adir Por Defecto" > 
							<input type="button" class="mybutton" id="altaInteresDemora"  ng-click="altaInteresDemora()"   ng-if="isPermisoAccion(SecurityActions.ANADIR_ALIAS)" value="A&#241;adir Por Alias">
					</div>
					<div>
						<label class="desresumen"> Minimo Importe De Demora: </label> 
						<input type="text" id="minimoDefectoDemora" class="anchoimp" maxlength="18"> <input type="button"  ng-if="isPermisoAccion(SecurityActions.ANADIR_DEFECTO)"  class="mybutton" id="modificarMinimo" ng-click="modificarMinimo()" value="A&#241;adir Por Defecto"> 
						<input type="button" class="mybutton" id="altaMinimoImporte" ng-click="altaMinimoImporte()" ng-if="isPermisoAccion(SecurityActions.ANADIR_ALIAS)" value="A&#241;adir Por Alias">
					</div>
				</fieldset>
			</form>
		</div>
		<div>
			<div class="contenedorTabla">
				<div class="two-columns">
					<table id="tblInteresesDemora" cellspacing="0" width="50%">
						<thead>
							<tr>
								<th class="no-sort">Borrar</th>
								<th>Alias</th>
								<th class="no-sort">Interes De Demora</th>
								<th>Base</th>
								<th class="no-sort">Fecha Desde</th>
								<th>Fecha Hasta</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
				<div class="two-columns">
					<table id="tblMinimo" cellspacing="0" width="50%">
						<thead>
							<tr>
								<th class="no-sort">Borrar</th>
								<th>Alias</th>
								<th class="no-sort">Minimo Importe</th>
							</tr>
						</thead>
						<tbody></tbody>
					</table>
				</div>
			</div>
		</div>
	</article>
</div>
<div id="interesesAlta" class='tep'>
	<div>
		<label class="desresumen"> Alias: </label> 
		<input type="text" id="interesesAltaAlias" /> 
		<input type="hidden" id="interesesAltaAliasSeleccionado">
	</div>
	<div>
		<label class="desresumen"> Intereses De Demora: </label> <input
			type="text" id="interesesDemoraAltaAlias" />
	</div>
	<div>
		<label class="desresumen"> Base: </label>
		<input type="text" id="baseAlias">
	</div>
	<div>
		<label class="desresumen"> Fecha Desde: </label> <input type="text"
			id="fechaDesdeInteresesAlta" />
	</div>
	<div>
		<label class="desresumen"> Fecha Hasta: </label> 
		<input type="text" id="fechaHastaInteresesAlta" />
	</div>
	<div class="centrar">
		<input class="mybutton" type="button" id="annadirInteres"
			value="A&#241;adir" />
	</div>
</div>
<div id="minimoAlta" class='tep'>
	<div>
		<label class="desresumen"> Alias: </label> 
		<input type="text" id="minimoAltaAlias" />
		<input type="hidden" id="minimoAltaAliasSeleccionado">
	</div>
	<div>
		<label class="desresumen"> Minimo Importe: </label> <input type="text"
			id="minimoImporteAlta" />
	</div>
	<div class="centrar">
		<input class="mybutton" type="button" id="annadirMinimo"
			value="A&#241;adir" />
		<input class="mybutton" type="button" id="borrarMinimo"
			value="Borrar" ng-if="isPermisoAccion(SecurityActions.BORRAR)" />
	</div>
</div>
<!-- <script src="views/configuracion/js/financiacionInteres.js"
	type="text/javascript"></script> -->
	
	<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>