<article class="center">  
    <div class="title_section clearfix">
        <div style="display: inline; float:left;"><p class="title">Grupos Impositivos</p></div>
        <div style="float: right; display: inline;" ng-show="isPermisoAccion(SecurityActions.CREAR)" ><a class="collapser_search active">Mostrar Alta de Grupo Impositivo</a></div>
    </div>

    <div class="altaregla">	
        <form id="cargarTabla">
            <fieldset class="two-columns-fieldset">
                <div class="two-columns">
                    <div>
                        <label for="textCodigo" class="desresumen">C&oacute;digo:</label>
                        <input type="text" id="textCodigo" class="anchoinp"/>
                    </div> 
                    <div>
                        <label for="textDesc" class="desresumen">Descripci&oacute;n:</label>
                        <input type="text" id="textDesc" class="anchoinp"/>
                    </div>
                    <div>
                        <label for="textPorcen" class="desresumen">Porcentaje:</label>
                        <input type="text" id="textPorcen" class="anchoinp" maxlength="2" onkeypress="return justNumbers(event);" />
                        <label for="porcentaje" class="desresumen">%</label>
                    </div>
                </div>
                <div class="two-columns">
                    <div>
                        <label for="textCategoria" class="desresumen">Categor&iacute;a:</label>
                        <input type="text" id="textCategoria" class="anchoinp" value="REPERCUTIDA" disabled="disabled"/>

                    </div>								
                    <div>
                        <label for="textCancelado" class="desresumen">V&aacute;lido:</label>
                        <input type="checkbox" id="textCancelado" />
                    </div>
                    <div>
                        <label for="fechaValido" class="desresumen">Fecha V&aacute;lido:</label>
                        <input type="text" id="fechaValido" class="anchoinp" placeholder="dd/mm/yyyy"/>
                    </div>	
                </div>
            </fieldset>
            <div class="centrar" >						  
                <input class="btn mybutton" type="button" id="btnAltaGrupoImpositivo" ng-show="isPermisoAccion(SecurityActions.CREAR)"  ng-click="altaGrupoImpositivo()" value="Alta" />
                <input class="mybutton" type="reset"  id="limpiar" value="Borrar campos" />
            </div>	
        </form>
    </div>					
    <!-- <a href="#" class="button" id="getdata-button">Get JSON Data</a>
    <div id="showdata">pacopepe</div> -->

    <div id="showdata"></div>
    <form name="envioPDF" id="envioPDF">
        <input type="hidden" name="webRequest" value="" />
    </form>
    <div>	
        <div class="contenedorTabla"> 	
            <table class="tablaPrueba ancha draggable sorttable" id="tablaGruposImpositivos" width="100%">
                <thead>
                    <tr>
                        <!-- <th class="taleft">C&oacute;digo</th>  -->
                        <th class="taleft">Descripci&oacute;n</th>
                        <th class="taleft">Porcentaje</th>
                        <th class="taleft">Categor&iacute;a</th>
                        <th class="taleft">Cancelado</th>											
                        <th class="taleft">Fecha Valido Desde</th>
                        <th class="taleft">Acciones</th>									
                    </tr>
                </thead>
            </table>
            <div class="botonera">
                <input type="button" class="mybutton" id="refrescar" value="Refrescar" ng-click="refrescarGruposImpositivos()" >			
            </div>
        </div>
    </div>
    <div id="resultados1"></div>
    <div id="respuesta" style="color:red"></div>
</article>
<!--popup modif -->
<div id="formulariosModificarGrupo" class="modal modalalto7">
    <div class="esquinar"><a onclick = "document.getElementById('formulariosModificarGrupo').style.display = 'none';
            document.getElementById('fade').style.display = 'none';"><img src="img/closeModal.png" title="Cerrar Ventana"/></a></div>
    <p class="titleAlta">Modificar Grupo Impositivo</p>
    <form id="cargarPopupModificarGrupo">
        <fieldset>
            <input type="hidden" id="textIdGrEdit" />	
            <div>
                <label for="textPorcenEdit" class="desresumen">Porcentaje:</label>
                <input type="text" id="textPorcenEdit" class="anchoinp"/>
            </div>					
            <div>
                <label for="textFechaEdit" class="desresumen">Fecha Valido Desde:</label>
                <input type="text" id="textFechaEdit" placeholder="dd/mm/yyyy" maxlength="10"/>
            </div>
        </fieldset>
        <div class="centrar">        
            <input class="btn mybutton" type="button" id="editarGrupo" ng-click="editarGrupo()" value="Modificar" />
        </div>      
    </form>
</div>
<div id="fade" class="overlay"></div>
<!-- <script src="views/configuracion/js/GruposImpositivos.js" type="text/javascript"></script> -->



