<article class="center">  
    <div class="title_section clearfix">
        <div style="display: inline; float:left;"><p class="title">Identificador</p></div>
        <div style="float: right; display: inline;" ng-show="isPermisoAccion(SecurityActions.CREAR)" ><a class="collapser_search active">Mostrar Alta de Grupo Identificador</a></div>
    </div>

    <div class="altaregla">	
        <form id="cargarTabla">
            <fieldset>
                <div>
                    <label for="textDesc" class="desresumen">Descripci&oacute;n:</label>
                    <input type="text" id="textDesc" class="anchoinp" onkeypress="return justNumbers(event);" maxlength="4"/>
                </div>							
            </fieldset>
            <div class="centrar">						  
                <input class="btn mybutton" type="button" id="btnAltaRegla" ng-click="crearIdentificador()" value="Alta" ng-if="isPermisoAccion(SecurityActions.CREAR)" />
                <input class="mybutton" type="reset"  id="limpiar" value="Borrar campos" />
            </div>
        </form>						
    </div>					
    <div id="showdata"></div>
    <div class="contenedorTabla"> 	
        <table id="tablaIdentificador" class="tablaPrueba fullTable" cellspacing="0">
            <thead>
                <tr>
                    <th>Descripci&oacute;n</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="resultados1">
        <div class="botonera">
            <input type="button" class="mybutton" id="refrescar" value="Refrescar" ng-click="refrescarIdentificador()" >			
        </div></div>
    <div id="respuesta" style="color:red"></div>	
</article>
<!-- final DIV de cobros -->
<!-- <script src="views/configuracion/js/identificador.js" type="text/javascript"></script>
 -->