<link rel="stylesheet" href="css/triggers.css">
<div id="core" class="">
    <article class="center" id="dentro"> 
        <!-- <span class="align-right" ng-bind="serverNode"></span> -->
        <div class="title_section clearfix">
            <div class="align-left">
                <p class="title">Gestor de Procesos</p>
            </div>
        </div>
        <form id="f1">
            <div style="width: 100%;">
                <span class="align-right">Seleccionados:</span>
            </div>
            <div id="botoneraJobs" class="botonera" align=right>
                <span>
                    <input type="image" src="img/resume-job.png" height="14px" title="Iniciar"  ng-show="isPermisoAccion(SecurityActions.MODIFICAR)"  ng-click="resumeJobs()"\>
                    <input type="image" src="img/pause-job.png" height="14px" title="Pausar" ng-show="isPermisoAccion(SecurityActions.MODIFICAR)" ng-click="pauseJobs()"\>
                    <input type="image" src="img/kill-job.png" height="14px" title="Interrumpir" ng-show="isPermisoAccion(SecurityActions.MODIFICAR)" ng-click="killJobs()"\>
                    <input type="image" src="img/arrow_collapsed.gif" height="14px" ng-show="isPermisoAccion(SecurityActions.MODIFICAR)" title="Seleccionar Todos" ng-click="selectAllJobs()"\>
                    <input type="image" src="img/arrow_expanded.gif" height="14px" ng-show="isPermisoAccion(SecurityActions.MODIFICAR)" title="Liberar Todos" ng-click="deselectAllJobs()"\>
                </span>
            </div>
            <div class="resultados">
                <p class="subtitle">Running Jobs (
                    <input type="text" id="reloj" value="" size="24" maxlength="24" readonly="readonly"/> |
                    <a href="#!"  ng-click="cargaJobs($event)"><i style="font-size: 10px;"></i>Reload</a>
                    <img src="/sibbac20/images/loading.gif" height="16px" ng-show="loadingJobs" />
                    )
                </p>
                <table id="runningJobs" class="fullTable ancha jobs" style="margin: 4px 0px 12px 0px" width="100%"> 
                    <thead>
                        <tr> 
                            <th class="tacenter">ID</th>
                            <th class="taleft">Grupo</th>
                            <th class="taleft">Nombre</th>
                            <!-- <th class="taleft">Ellapsed</th> -->
                            <th class="taleft">&Uacute;ltima ejecuci&oacute;n</th>
                            <th class="taleft">Planificado</th>
                            <th class="taleft">Inicio</th>
                            <th class="taleft">Siguiente ejecuci&oacute;n</th>
                            <!-- <th class="tacenter">Descripci&oacute;n</th> -->
                            <th class="taleft">Intentos</th>
                            <th class="taleft">Estado</th>
                        </tr> 
                    </thead>
                    <tbody></tbody>
                </table>
                <p class="subtitle">Current Jobs</p>


                <table id="currentJobs" class="fullTable ancha jobs" style="margin: 4px 0px 12px 0px" class="currentJobs"> 
                    <thead>
                        <tr> 
                            <th class="tacenter">&nbsp;</th>
                            <th class="taleft">Grupo</th>
                            <th class="taleft">Nombre</th>
                            <th class="taleft">Prioridad</th>
                            <th class="taleft">Inicio</th>
                            <th class="taleft">&Uacute;ltima ejecuci&oacute;n</th>
                            <th class="taleft">Siguiente ejecuci&oacute;n</th>
                            <!-- <th class="taleft">Scheduler</th> -->
                            <!-- <th class="tacenter">Calendar</th> -->
                            <!-- <th class="tacenter">Descripci&oacute;n</th> -->
                            <!-- <th class="taleft">End Time</th> -->
                            <!-- <th class="taleft">Final Fire Time</th> -->
                            <!-- <th class="taleft">Misfire</th> -->
                            <th class="taleft">Detalle</th>
                            <th class="taleft">Estado</th>
                        </tr> 
                    </thead>
                    <tbody></tbody>
                </table>
            </div>





            <div id="replanJob" class="modal modalFact">
                <div class="esquinar"><a ng-click="hideDivReplanJob()"><img src="img/closeModal.png" title="Cerrar Ventana"/></a></div>
                <p class="titleAlta">Replanificar Tarea</p>
                <div id="divReplan" class="scrollear">
                    <!--
                                                                    <table class="tablaPrueba" id="tablaJobPlanning">
                                                                            <thead>
                                                                                    <tr>
                                                                                            <th>N&uacute;mero Factura</th>
                                                                                            <th>Estado</th>
                                                                                            <th>Fecha</th>										
                                                                                    </tr>
                                                                            </thead>
                                                                            <tbody>
                    
                                                                            </tbody>
                                                                    </table>
                    -->
                    <strong>En construcci&oacute;n!</strong>
                </div>
            </div>	


            <div id="jobHistory" class="modal modalFact">
                <div class="esquinar"><a href="javascript:void(0)" ng-click="hideDivHistory()"><img src="img/closeModal.png" title="Cerrar Ventana"/></a></div>
                <p class="titleAlta">Hist&oacute;rico de Tarea: <span id="jobHistoryName"></span></p>
                <div id="divHistory" class="scrollear">
                    <strong>En construcci&oacute;n!</strong>
                </div>
            </div>	


            <div id="loggers" class="modal modalFact">
                <div class="esquinar"><a href="javascript:void(0)" ng-click="hideDivLoggers()"><img src="img/closeModal.png" title="Cerrar Ventana"/></a></div>
                <p class="titleAlta">Niveles de Log:</p>
                <div id="divLoggersCommands" class="commands">
                    <input type="button" value="Smooth LOG" ng-click="smoothLog()"/>
                    <input type="button" value="Extended LOG" ng-click="extendedLog()"/>
                    <input type="button" value="LOG Reset" ng-click="logReset()"/>
                </div>
                <div id="divLoggers" class="scrollear loggers" style="height: 200px;">
                    <strong>En construcci&oacute;n!</strong>
                </div>
            </div>	


            <div id="fade" class="overlay"></div>

        </form>	
    </article>
</div>
<!-- UNUSED now
        <div class="centrarLoad" id="centrarLoad">Cargando datos... <p><img src="images/loading.gif" /></p></div>
-->
