<script>
	document.title="Lanzador de Procesos";
	$('#tituloHeader').empty();
	$('#tituloHeader').append("Lanzador de Procesos");
</script>

<script src="js/autocompletar.js" type="text/javascript"></script>
	<!-- DIV de cobros -->
		<div id="core" class="">
			<article class="center" id="dentro">  
				<form id="f1" onSubmit="return false;">

				
					<div class="title_section clearfix">
						<p class="title">Lanzador de Procesos</p>
					</div>
					<div>
						
						<form id="cargarTabla" onSubmit="return false;">
							<fieldset>
								  <label for="textAlias" class="desresumen">Introduzca un alias: </label>
								  <input type="text" id="textAlias" class="anchoinp">
								<div>
									<input class="btn buscador mybutton" type="button"  id="buscar"  value="Consultar" onclick="" />
									<input class="btn buscador mybutton" type="button"  id="limpiar" value="Limpiar" onclick="" />
								</div>
						</fieldset>								
					</form>
					</div>					
					<!-- <a href="#" class="button" id="getdata-button">Get JSON Data</a>
					<div id="showdata">pacopepe</div> -->
					<div id="showdata"></div>
					<input type="hidden" id="aliasOculto" />
					<div class="lanzador"></div>
					<div class="piePagina"></div>				
				 <div id="respuesta" style="color:red"></div>
				</form>	
		   </article>
		</div>

<!-- dejo una DIV de popup para cosas como alta de servicio

<div id="formulariosParametrizacion" class="modal modalalto3">
<div class="esquinar"><a onclick = "document.getElementById('formulariosParametrizacion').style.display='none';document.getElementById('fade').style.display='none';"><img src="img/closeModal.png" title="Cerrar Ventana" /></a></div>
<p class="titleAlta">Alta de Parametrizaci&oacute;n</p>
<form id="cargarPopupParam">
      <input type="hidden" id="textIdRegla" />
    <fieldset>
     <div>
      <label for="labPosterior" class="desresumen">Laborable posterior:</label>
      <input type="checkbox" id="labPosterior" />
     </div> 
     <div>
      <label for="horaParam" class="desresumen">Hora:</label>
      <input type="text" id="horaParam" />
     </div>
     <div>
      <label for="activaParam" class="desresumen">Activa:</label>
      <input type="checkbox" id="activaParam" />
     </div> 
     </fieldset>
       <div class="centrar">        
       <input class="btn mybutton" type="button" id="altaParam" value="Alta" />
       </div>      
     </form>
</div>



<div id="fade" class="overlay"></div>

-->
<!-- final DIV de cobros -->
		
<script src="views/configuracion/js/LanzadorProcesos.js" type="text/javascript"></script>