 
<article class="center">  
    <form id="f1" >
        <div class="title_section clearfix">
            <div style="display: inline; float:left;"><p class="title">Periodos Contables</p></div>
            <div style="float: right; display: inline;"  ng-show="isPermisoAccion(SecurityActions.CREAR)"   ><a class="collapser_search active">Mostrar Alta de Per&iacute;odo Contable</a></div>


        </div>
        <div class="altaregla"  >	
            <form id="cargarTabla">
                <fieldset class="two-columns-fieldset">
                    <div class="two-columns">
                        <div>
                            <label for="textNombre" class="desresumen">Nombre:</label>
                            <input type="text" id="textNombre" class="anchoinp"/>
                        </div>
                        <div>
                            <label for="textEstado" class="desresumen">Estado:</label>
                            <select id="textEstado" class="anchoinp">
                                <option value="0">Seleccione un estado</option>
                            </select>
                        </div>

                        <div>
                            <label for="textIdentificador" class="desresumen">Identificador: </label>
                            <select id="textIdentificador" class="anchoinp">
                                <option value="0">Seleccione un identificador</option>
                            </select>
                        </div>
                    </div>
                    <div class="two-columns">
                        <div>
                            <label for="fecInicio" class="desresumen">Fecha inicio:</label>
                            <input type="text" id="fecInicio" placeholder="dd/mm/yyyy" maxlength="10"/>
                        </div>								
                        <div>
                            <label for="fecFin" class="desresumen">Fecha fin:</label>
                            <input type="text" id="fecFin" placeholder="dd/mm/yyyy" maxlength="10"/>
                        </div>
                    </div>
                </fieldset>
                <div class="centrar" ng-show="isPermisoAccion(SecurityActions.CREAR)">						  
                    <input class="btn mybutton" type="button" id="btnAltaPeriodoContable" value="Alta"  ng-click="altaPeridoContable()"   />
                    <input class="mybutton" type="reset"  id="limpiar" value="Borrar campos" />
                </div>						
        </div>					
        <!-- <a href="#" class="button" id="getdata-button">Get JSON Data</a>
        <div id="showdata">pacopepe</div> -->
        <div id="showdata"></div>
        <div>	
            <div class="contenedorTabla"> 	
                <table id="tablaPeriodosContables" class="tablaPrueba ancha" width="100%">
                    <thead>
                        <tr>
                            <th class="taleft">Nombre</th>
                            <th class="taleft">Estado</th>
                            <th class="taleft">Fecha inicio</th>
                            <th class="taleft">Fecha fin</th>
                            <th	class="taleft">Acciones </th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="botonera">
                    <input type="button" class="mybutton" id="refrescar" value="Refrescar" ng-click="refrescarPeriodosContables()" >			
                </div>
            </div>
        </div>

        <div id="resultados1"></div>
        <div id="respuesta" style="color:red"></div>
    </form>	
</article>
 <!--<script src="views/configuracion/js/PeriodosContables.js" type="text/javascript"></script>-->

