<article id="dentro">  
    <div class="title_section clearfix">
        <p class="title">Servicios a Cliente</p>
    </div>

    <form id="cargarTabla">
        <fieldset>
            <div style="width:100%;">
                <div style=" width: 30%; margin: 10px auto;">
                    <label for="textAlias" class="desresumen">Introduzca un alias: </label>
                    <input type="text" id="textAlias" class="anchoinp">
                    <input class="btn buscador mybutton" type="button"  id="buscar" value="Consultar" onclick="" />
                </div>
            </div>
        </fieldset>								
    </form>
    <!-- <a href="" class="button" id="getdata-button">Get JSON Data</a>
    <div id="showdata">pacopepe</div> -->
    <div id="showdata"></div>
    <input type="hidden" id="aliasOculto" />
    <div class="lanzador"></div>
    <div class="piePagina"></div>				
    <div id="respuesta" style="color:red"></div>
</article>

<!-- dejo una DIV de popup para cosas como alta de servicio

<div id="formulariosParametrizacion" class="modal modalalto3">
<div class="esquinar"><a onclick = "document.getElementById('formulariosParametrizacion').style.display='none';document.getElementById('fade').style.display='none';"><img src="img/closeModal.png" title="Cerrar Ventana" /></a></div>
<p class="titleAlta">Alta de Parametrizaci&oacute;n</p>
<form id="cargarPopupParam">
      <input type="hidden" id="textIdRegla" />
    <fieldset>
     <div>
      <label for="labPosterior" class="desresumen">Laborable posterior:</label>
      <input type="checkbox" id="labPosterior" />
     </div> 
     <div>
      <label for="horaParam" class="desresumen">Hora:</label>
      <input type="text" id="horaParam" />
     </div>
     <div>
      <label for="activaParam" class="desresumen">Activa:</label>
      <input type="checkbox" id="activaParam" />
     </div> 
     </fieldset>
       <div class="centrar">        
       <input class="btn mybutton" type="button" id="altaParam" value="Alta" />
       </div>      
     </form>
</div>



<div id="fade" class="overlay"></div>

-->
<!-- final DIV de cobros -->

<!--script src="views/configuracion/js/serviciosCliente.js" type="text/javascript"></script-->

