<article class="center">
    <input type="hidden" id="idiomaActual" ng-model="auxiliar.idiomaActual"/>
    <div class="title_section clearfix">
        <div style="display: inline; float: left;">
            <p class="title">Gesti&oacute;n de Textos</p>
        </div>
    </div>
    <div class="resultados">
        <table id="tblTextos" class="tablaPrueba ancha" width="100%">
            <thead>
                <tr>
                    <th class="align-left">Descripci&oacute;n</th>
                    <th class="align-left">Acciones</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <!--div id="formulariosTraducirTexto" class="modal modalaltoIdioma" >
        <div class="esquinar">
            <a class="btn"
               onclick="document.getElementById('formulariosTraducirTexto').style.display = 'none';
                       document.getElementById('fade').style.display = 'none';
                       cargarIdiomas();"
               ><img src="img/closeModal.png" title="Cerrar Ventana" /></a>
        </div>
        <p class="titleAlta">Traducir Texto</p>
        <div id="idiomasTraducir" ng-bind="div.idiomasTraducir"></div>
        <div id="textosTraducir" ng-bind="div.textosTraducir"></div>
        <div class="exito"></div>
        <select id="txtEtiquetas" ng-model="etiquetas.txtEtiquetas" class="anchoinp">
            <option value="0">Seleccione una etiqueta</option>
        </select> <a class="btn" ng-click="annadirEtiqueta()"><img src="img/put.gif" title="A&ntilde;adir Etiqueta"></a>
        <div>
            <input class="btn mybutton" type="button" id="guardarTextos" value="Guardar" ng-click="guardarTextos()"/>
        </div>
    </div-->
    <div id="fade" class="overlay"></div>
</article>
<div id="dialog-confirm"></div>