<div class='dialogMensajeIncon' ng-switch="ctrl.result.ok">
    <img ng-switch-when="true" src='/sibbac20/images/accept.png' />
    <img ng-switch-when="false" src='/sibbac20/images/error.png' />
</div>
<p class="dialogMensajeText">
    <ul>
        <li ng-repeat="m in ctrl.result.message">
            {{ m }}
        </li>
    </ul>
</p>
<p ng-if="!ctrl.result.ok" class="dialogMensajeText">
    <span class="desresumen">Mensajes de Error:</span>
    <ul>
        <li ng-repeat="m in ctrl.result.errorMessage">
            {{ m }}
        </li>
    </ul>
</p>