<div> 
    <div>
        <label for="{{fieldId}}" class="desresumen">{{ label }}:</label>
    </div>
    <div>
	    <select class="sb-combo-sel" ng-model='ngModel' id='{{fieldId}}'
	        ng-options='t.value as t.label for t in elements'></select>
    </div>
</div>
      