<div> 
    <div>
        <label for="{{fieldId}}" class="desresumen">{{ label }}:</label>
    </div>
    <div>
        <input type='text' placeholder='dd/mm/yyyy' ng-model="ngModel" id='{{fieldId}}' readonly>
    </div>
</div>
      