<div> 
    <div>
        <label class="desresumen">{{ label }}:</label>
    </div>
    <div>
        <div>
	        <input type="button" class="btn buscador mybutton" value="+" style="width: 20px;" ng-click="add()">
	        <input type="text" name="single" ng-model="single" maxlength="{{maxlength}}" auto-uppercase 
	           ng-enter="add()"/>
	        <ng-transclude></ng-transclude> 
        </div>
        <div>
	        <select size="4" style="width: 100%;" ng-model="selected">
	            <option ng-repeat="t in multiple">{{ t }}</option>
	        </select>
        </div>
        <div >
            <input type="button" style="width: 40px; margin-left: 4px;" ng-click="remove()" value="-">
            <input type="button" style="width: 50px; margin-left: 4px;" ng-click="clean()" value="Vaciar">
            <!-- 
            <span ng-style="btnsFilter.colorCamposDetalle">{{btnsFilter.textCamposDetalle}}</span>
             -->
        </div>
    </div>
</div>
