<article class="center">
    <div class="title_section clearfix">
        <p class="title">Direcci&oacute;n fiscal</p>
    </div>
    <div>
        <fieldset>
            <div>
                <label for="textAlias" class="desresumen">Introduzca un alias: </label> <input type="text" id="textAlias" class="anchoinp" ng-model="alias" >
            </div>
            <div class="botonera">
                <input class="btn buscador mybutton" type="button" id="buscar" value="Consultar" ng-click="cargarTabla()"/>
                <input type="hidden" id="textIdAlias" />
                <input type="hidden" id="idAlias" /> <input type="hidden" id="textIdDirFiscal" ng-model="direccion.id"/>
            </div>
        </fieldset>
    </div>
        <div class="altaAlias">
            <fieldset>
                <div class="contenedorTabla" ng-show="showResultado" >
                    <fieldset>
                        <label for="textCalle" class="desresumen"  >Calle:</label> <input type="text" id="textCalle" maxlength="150" ng-model="direccion.calle" value="" />
                        <label for="textNum" class="desresumen"   >N&uacute;mero:</label> <input type="text" id="textNum" maxlength="10"   ng-model="direccion.numero" /> <label
                            for="textBloque" class="desresumen"  >Bloque:</label> <input type="text" id="textBloque" maxlength="50" ng-model="direccion.bloque" />
                    </fieldset>
                    <fieldset>
                        <label for="textPoblacion" class="desresumen">Poblaci&oacute;n:</label> <input type="text" id="textPoblacion" maxlength="100" ng-model="direccion.poblacion"/> <label
                            for="textProvincia" class="desresumen">Provincia:</label> <input type="text" id="textProvincia" maxlength="50" ng-model="direccion.provincia"/> <label
                            for="textCP" class="desresumen">CP:</label> <input type="text" id="textCP" maxlength="5" class="cp" ng-model="direccion.codigoPostal" />
                    </fieldset>
                    <fieldset>
                        <label for="textPais" class="desresumen">Pa&iacute;s:</label> <input type="text" id="textPais" maxlength="50" ng-model="direccion.pais" />
                    </fieldset>
                    <div class="piePagina" id="botoneraDirFiscal" ng-show="showBotonesDirFiscal" >
                        <button class="btn buscador mybutton" type="button"  ng-show="showBotonModificar"  id="modificarDirFiscal"  ng-click="modificarDireccion()" >Modificar</button>
                    <button class="btn buscador mybutton" type="button"  ng-show="showBotonCrear" id="crearDirFiscal" ng-click="crearDireccion()" >Dar de alta</button>
                        <input class="mybutton" type="reset"  id="limpiar" ng-show="showBotonLimpiar"  value="Borrar campos" ng-click="limpiarDatos()"/>
                    </div>
                </div>
            </fieldset>
        </div>
</article>

