<article class="center">
    <div class="title_section clearfix">
        <p class="title">Recordatorios de Impago</p>
    </div>

    <fieldset>
        <div>
            <label for="textAlias" class="desresumen2">Introduzca un alias: </label> <input type="text" id="textAlias" class="anchoinp"
                                                                                            onKeypress="limpiarDatos()">
        </div>
        <div class="botonera">
            <input class="btn buscador mybutton" type="button" id="buscar" value="Consultar" onclick="" />
            <input type="hidden" id="idAliasRecordatorio" /> <input type="hidden" id="idAlias" />
        </div>
    </fieldset>
    
        <div class="altaAlias">
            <form id="cargarTabla">
                <fieldset>
                    <div class="contenedorTabla aliasRecordatorio" id="aliasRecordatorio">
                        <fieldset>
                            <div>
                                <label for="importeMinimo" class="desresumen2">Importe m&iacute;nimo (Recordatorio):</label> <input type="text" id="importeMinimo"
                                                                                                                                    onkeypress="return justNumbersD(event);" maxlength="8" pattern="[0-9]{1,8}" required="required" />
                            </div>
                            <div>
                                <label for="periodicidad" class="desresumen2">Frecuencia de los recordatorios:</label> <select id="periodicidad">
                                    <option>Seleccione una periodicidad</option>
                                    <option value="7">Semanal</option>
                                    <option value="15">Quincenal</option>
                                    <option value="30">Mensual</option>
                                </select>
                            </div>
                        </fieldset>
                        <div class="piePagina" id="botoneraAliasRecordatorio"  ng-show="isPermisoAccion(SecurityActions.MODIFICAR)"></div>
                    </div>
                </fieldset>
            </form>
        </div>
</article>

<!-- final DIV de cobros -->

<!-- <script src="views/Recordatorios/js/Recordatorios.js" type="text/javascript"></script>
 -->


