<p class="titleAlta" ng-bind="dialogTitle"></p>
<form id="cargarPopupParam" ng-submit="save($event)">
    <fieldset>
        <div class="wrapper-95">
            <div class="three-columns">
                <div>
                    <label for="alta_nombre" class="desresumen">Nombre:</label> <input
                        type="text" maxlength="255" 
                        id="alta_nombre" ng-model="currentER.nombre" class="anchoimp" required="required">
                </div>
            </div>
            <div class="three-columns">
                <div>
                    <label for="alta_bic" class="desresumen">Bic:</label> 
                    <input type="text" maxlength="255" ng-model="currentER.bic" id="alta_bic" required="required" />
                </div>
            </div>
            <div class="three-columns">
                <div>
                    <label for="alta_TER" class="desresumen">Tipo de entidad:</label> 
                    <select required="required" id="alta_TER" ng-model="currentER.tipoer.id" class="anchoimp" ng-options="ter.id as ter.nombre for ter in tipoerList" convert-to-number>
                        <option value="" selected>Seleccione un tipo ER</option>
                    </select>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="align-center top-10">
        <input class="btn mybutton" type="submit" id="altaparam"
               value="Guardar" />
    </div>
</form>