<div id="formularioalta">
    <p class="titleAlta" ng-bind="dialogTitle"></p>
    <div ng-class="wrapper - 95">
        <div id="successMsgBox" class="alert alert-success fade in" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" >x</button>
            <strong class="glyphicon glyphicon-ok">&nbsp;</strong> <span ng-bind="successMsgText"></span></div>

        <div id="errorMsgBox" class="alert alert-danger fade in" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" >x</button>
            <strong class="glyphicon glyphicon-remove">&nbsp;</strong> <span ng-bind="errorMsgText"></span></div>
        <div id="infoMsgBox" class="alert alert-info fade in" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" >x</button>
            <strong class="glyphicon glyphicon-refresh spin"></strong> <span>&nbsp;Guardando cuenta, por favor, espere ....</span></div>
    </div>
    <form id="dialogCuentaLiquidacion" ng-submit="saveCuentaLiquidacion($event)">
        <fieldset>
            <input type="hidden" id="idCuentaLiquidacion" ng-model="currentCuentaLiquidacion.id" />
            <div style="float:left; width: 48%">
                <div class="two-columns">

                    <div>
                        <label for="alta_ER" class="desresumen">Entidad de
                            registro:</label> 
                        <!--input type="text" id="alta_ER" class="anchoimp" ng-model="cuenta.entidadRegistro.nombre" required="required"--> 
                        <div angucomplete-alt required id="alta_ER" selected-object="onERSelectAction" ng-class="form-control" placeholder="Buscar Entidad de Registro" maxlength="40" pause="100" selected-object="selectedER" local-data="entidadesDeRegistro" search-fields="id,nombre" title-field="id" ng-model="currentCuentaLiquidacion.entidadRegistro.nombre" description-field="nombre" minlength="1" input-class="anchoimp" match-class="highlight">
                        </div>
                        <input id="id_alta_ER" type="hidden" ng-model="currentCuentaLiquidacion.entidadRegistro.id"/>
                    </div>
                    <div>
                        <label for="alta_numero_cuenta" class="desresumen">N&uacute;mero
                            de cuenta ER:</label> 
                        <input type="text" maxlength="8" pattern="[0-9]{5,}"
                               title="Se requieren números enteros de hasta 35 dígitos."
                               id="alta_numero_cuenta" class="form-control" required="required" ng-model="currentCuentaLiquidacion.numCuentaER">
                    </div>
                    <div>
                        <label for="alta_cdCodigo" class="desresumen">C&oacute;digo
                            Cuenta:</label> 
                        <input type="text" maxlength="3" id="alta_cdCodigo" class="form-control"
                               required="required" ng-model="currentCuentaLiquidacion.cdCodigo" />
                    </div>
                </div>
                <div class="two-columns">
                    <div style="width: 164px;">
                        <label for="alta_MCA" class="desresumen">Mercados
                            contrataci&oacute;n:</label>
                    </div>
                    <div style="width: 140px;">
                        <div angucomplete-alt id="alta_MCA" placeholder="Buscar Cuenta Mercado" maxlength="40" pause="100" selected-object="selectedCuentaMercado" local-data="cuentasMercados" search-fields="codigo" title-field="codigo" description-field="descripcion" minlength="1" input-class="anchoimp" ng-model="selectedMkt.codigo" ng-class="form - control" match-class="highlight">
                        </div>

                        <select id="alta_selectedMCA" class="form-control select-with-autocomplete" ng-model="selectedMCA.id" multiple ng-multiple="true"
                                size="4" convert-to-number>
                            <option ng-repeat="mkt in currentCuentaLiquidacion.relacionCuentaMercadoDataList" value="{{mkt.idMkt}}">{{mkt.codMkt}}</option>
                        </select>
                        <button id="alta_btnDelMCA" ng-click="removeSelectedMCA($event)" alt="Eliminar mercado seleccionado."
                                title="Eliminar mercado seleccionado."
                                class="glyphicon glyphicon-trash btn-warning">
                        </button>

                    </div>
                </div>
                <div style="width:100%;">
                    <label for="cuentaIberclear" class="desresumen">Cuenta IberClear:</label><br>
                    <input type="text" pattern="[0-9a-zA-Z]{0,35}" class="form-control" ng-model="currentCuentaLiquidacion.cuentaIberclear" />
                </div>
            </div>
            <div class="four-columns">

                <div>
                    <label for="alta_tipo_cuenta" class="desresumen">Tipo de
                        cuenta:</label> 
                    <select id="alta_tipo_cuenta" ng-model="currentCuentaLiquidacion.tipoCuentaConciliacion.id" class="form-control">
                        <option value="" ng-selected="true">Seleccione un tipo</option>
                        <option ng-repeat="tp in tiposCuenta" value="{{tp.id}}" ng-selected="isSameIdTipoCuenta({{tp.id}})">{{tp.name}}</option>
                    </select>
                </div>
                <div>
                    <label for="alta_tipo_neteo_titulos" class="desresumen">Tipo
                        de neteo T&iacute;tulos:</label> 
                    <select id="alta_tipo_neteo_titulos" class="form-control" ng-model="currentCuentaLiquidacion.tipoNeteoTitulo.id" convert-to-number>
                        <option value="" ng-selected="currentCuentaLiquidacion.tipoNeteoTitulo.id == ''">Seleccione un tipo</option>
                        <option ng-selected="currentCuentaLiquidacion.tipoNeteoTitulo.id == {{tp.id}}" ng-repeat="tp in tiposNeteoTitulos" value="{{tp.id}}">{{tp.name}}</option>
                    </select>
                </div>
                <div>
                    <label for="alta_tipo_neteo_efectivo" class="desresumen">Tipo
                        de neteo Efectivo:</label> 
                    <select id="alta_tipo_neteo_efectivo" class="form-control" ng-model="currentCuentaLiquidacion.tipoNeteoEfectivo.id" convert-to-number>
                        <option value="" ng-selected="{{true}}">Seleccione un tipo</option>
                        <option ng-selected="currentCuentaLiquidacion.tipoNeteoEfectivo.id == {{tp.id}}" ng-repeat="tp in tiposNeteoEfectivo" value="{{tp.id}}">{{tp.name}}</option>
                    </select>
                </div>

            </div>
            <div class="four-columns">

                <div>
                    <label for="alta_FEE" class="desresumen">Frecuencia envio
                        extracto:</label> 
                    <input type="text" id="alta_FEE" class="form-control" ng-model="currentCuentaLiquidacion.frecuenciaEnvioExtracto"
                           pattern="[0-9]{3,}" maxlength="15" required="required">
                </div>
                <div>
                    <label for="alta_tipo_fichero" class="desresumen">Tipo de
                        fichero:</label> 
                    <select id="alta_tipo_fichero" class="form-control" ng-model="currentCuentaLiquidacion.tipoFicheroConciliacion" convert-to-string>
                        <option value="" selected="selected">Seleccione un tipo</option>
                        <option ng-repeat="tp in tiposFichero" ng-selected="currentCuentaLiquidacion.tipoFicheroConciliacion == '{{tp}}'" value="{{tp}}">{{tp}}</option>
                    </select>
                </div>
                <div>
                    <label for="sistemas_liq" class="desresumen">Tipo de
                        cuenta:</label> <select id="sistemas_liq" class="form-control" ng-model="currentCuentaLiquidacion.sistemaLiquidacion.id">
                        <option value="">Seleccione un sistema</option>
                        <option ng-repeat="sis in sistemasLiquidacion" ng-selected="currentCuentaLiquidacion.sistemaLiquidacion.id == {{sis.id}}"  value="{{sis.id}}">{{sis.codigo}}</option>
                    </select>
                </div>

            </div>

        </fieldset>
        <div style="text-align: center; position: relative; top: 50px;">
            <input class="btn mybutton align-center" type="submit" id="altaparam"
                   value="Guardar" data="{{btnData}}" class="btn-default" />
        </div>

    </form>
</div>
