<div id="formularioalta">
    <p class="titleAlta" ng-bind="actionTitle"></p>

    <div ng-class="wrapper-95">
        <div id="successMsgBox" class="alert alert-success fade in" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" >x</button>
            <strong class="glyphicon glyphicon-ok">&nbsp;</strong> <span id="successMsgText"></span></div>

        <div id="errorMsgBox" class="alert alert-danger fade in" style="display: none;">
            <button type="button" class="close" data-dismiss="alert" >x</button>
            <strong class="glyphicon glyphicon-remove">&nbsp;</strong> <span id="errorMsgText"></span></div>
        <div id="infoMsgBox" class="alert alert-info fade in" style="display:none;">
            <button type="button" class="close" data-dismiss="alert" >x</button>
            <strong class="glyphicon glyphicon-refresh spin"></strong> <span>&nbsp;Guardando cuenta, por favor, espere ....</span></div>
    </div>
    <form id="formCtaCompensacion" ng-submit="modificarDatosCuenta($event)">
        <input type="hidden" id="textIdRegla1" /> 
        <input type="hidden" id="textIdParam1" />
        <fieldset>
            <input type="hidden" id="idCuentaCompensacion" ng-model="cuenta.idCuentaCompensacion" />
            <div class="four-columns">
                <!--div>
                    <label for="alta_idCC" class="desresumen">Id</label> 
                    <input id="alta_idCC" type="text" disabled="disabled" ng-model="cuenta.idCuentaCompensacion"/>
                </div-->
                
                <div>
                    <label for="alta_ER" class="desresumen">Entidad de registro:</label> 
                    <div angucomplete-alt field-required="true" field-name="altaEntidadRegistro" required id="alta_ER" placeholder="Buscar Entidad de Registro" maxlength="40" pause="100" selected-object="selectedER" local-data="entidadesDeRegistro" search-fields="id,nombre" title-field="id" ng-model="cuenta.entidadRegistro.nombre" description-field="nombre" minlength="1" input-class="anchoimp" match-class="highlight">
                    </div>
                    <input id="id_alta_ER" type="hidden" ng-model="cuenta.entidadRegistro.id"/>
                </div>
                
                <div>
                    <label for="alta_numero_cuenta" class="desresumen"
                           title="Número de cuenta de la Entidad de Registro.">N&uacute;mero
                        de cuenta ER:</label> 
                    <input type="text" maxlength="8" pattern="[0-9]{5,}"
                           title="Se requieren números enteros de hasta 8 dígitos."
                           id="alta_numero_cuenta" ng-model="cuenta.numCuentaER" class="anchoimp">
                </div>
                <div>
                    <label for="alta_tipo_cuenta" class="desresumen">Tipo de
                        cuenta Conciliaci&oacute;n:</label> 
                    <select id="alta_tipo_cuenta" ng-model="cuenta.tipoCuentaConciliacion.id" class="anchoimp">
                        <option value="" selected="selected">Seleccione un tipo</option>
                        <option ng-repeat="tp in tiposCuenta" value="{{tp.id}}" ng-selected="isSameIdTipoCuenta({{tp.id}})">{{tp.name}}</option>
                    </select>
                </div>
                <div style="width:100%;">
                    <label for="alta_cuentaIberclear" class="desresumen">Cuenta IberClear:</label><br>
                    <input type="text" id="alta_cuentaIberclear" pattern="[0-9a-zA-Z]{0,35}" class="form-control" ng-model="cuenta.cdCuentaCompensacion" />
                </div>
            </div>
            <div class="four-columns">
                <div style="width: 164px;">
                    <label for="alta_MCA" class="desresumen">Mercados
                        contrataci&oacute;n:</label>
                </div>
                <div style="width: 140px;">
                    <!--input type="text" id="alta_MCA" class="anchoimp"
                           style="width: 100%;" ng-model="cuenta.cuentaMercado" ui-autocomplete="autocompleteMCA"--> 
                    <div angucomplete-alt id="alta_MCA" placeholder="Buscar Cuenta Mercado" maxlength="40" pause="100" selected-object="selectedCuentaMercado" local-data="cuentasMercados" search-fields="codigo,descripcion" title-field="codigo" description-field="descripcion" minlength="1" input-class="anchoimp" match-class="highlight">
                    </div>

                    <select id="alta_selectedMCA" style="width: 100%; margin-top: -5px; overflow-y: auto;" ng-model="selectedMCA.id" multiple ng-multiple="true"
                            size="4" convert-to-number>
                        <option ng-repeat="mkt in cuenta.relacionCuentaMercadoDataList" value="{{mkt.id}}">{{mkt.codigo}} - {{mkt.descripcion}}</option>
                    </select>
                    <button id="alta_btnDelMCA" ng-click="removeSelectedMCA($event)" alt="Eliminar mercado seleccionado."
                            title="Eliminar mercado seleccionado."
                            class="glyphicon glyphicon-trash btn-warning">
                    </button>
                </div>

                <div>
                    <label class="desresumen" for="alta_ctaLiq">Cuenta
                        Liquidaci&oacute;n:</label> 
                    <div angucomplete-alt id="alta_ctaLiq" required field-required="true" field-name="altaCtaLiquidacionCodigo" placeholder="Buscar Cuenta Liquidación" maxlength="40" pause="100" selected-object="selectedCuentaLiquidacion" local-data="cuentasLiquidacion" search-fields="id,cdCodigo" title-field="id" ng-model="cuenta.cuentaLiquidacionCodigo" description-field="cdCodigo" minlength="1" input-class="anchoimp" match-class="highlight">
                    </div>
                    <!--input type="text" id="alta_ctaLiq" ng-model="cuenta.cuentaLiquidacionCodigo" /--> 
                    <input type="hidden" id="alta_idCtaLiq" ng-model="cuenta.cuentaLiquidacionId" />
                </div>
                <div>
                    <label for="alta_tipo_neteo_titulos" class="desresumen">Tipo
                        de neteo T&iacute;tulos:</label> 
                    <select id="alta_tipo_neteo_titulos" class="anchoimp" ng-model="cuenta.tipoNeteoTitulo.id" convert-to-number>
                        <option value="" selected="selected">Seleccione un tipo</option>
                        <option ng-selected="cuenta.tipoNeteoTitulo.id == {{tp.id}}" ng-repeat="tp in tiposNeteoTitulos" value="{{tp.id}}">{{tp.name}}</option>
                    </select>
                </div>
                <div>
                    <label for="alta_tipo_neteo_efectivo" class="desresumen">Tipo
                        de neteo Efectivo:</label> 
                    <select id="alta_tipo_neteo_efectivo" class="anchoimp" ng-model="cuenta.tipoNeteoEfectivo.id" convert-to-number>
                        <option value="" selected="selected">Seleccione un tipo</option>
                        <option ng-selected="cuenta.tipoNeteoEfectivo.id == {{tp.id}}" ng-repeat="tp in tiposNeteoEfectivo" value="{{tp.id}}">{{tp.name}}</option>
                    </select>
                </div>
            </div>
            <div class="four-columns">
                <div>
                    <label for="alta_cdCodigo" class="desresumen">C&oacute;digo
                        Cuenta:</label> 
                    <input type="text" maxlength="16" id="alta_cdCodigo" ng-model="cuenta.cdCodigo" required="required" />
                </div>
                <div>
                    <label for="alta_FEE" class="desresumen">Frecuencia envio
                        extracto:</label> <input type="text" id="alta_FEE" ng-model="cuenta.frecuenciaEnvioExtracto" class="anchoimp"
                                             pattern="[0-9]{0,}" maxlength="15">
                </div>
                <div>
                    <label for="alta_tipo_fichero" class="desresumen">Tipo de
                        fichero:</label> 
                    <select id="alta_tipo_fichero" class="anchoimp" ng-model="cuenta.tipoFicheroConciliacion" convert-to-string>
                        <option value="" selected="selected">Seleccione un tipo</option>
                        <option ng-repeat="tp in tiposFichero" ng-selected="cuenta.tipoFicheroConciliacion == '{{tp}}'" value="{{tp}}">{{tp}}</option>
                    </select>
                </div>
                <div>
                    <label class="desresumen" for="alta_codS3">C&oacute;digo
                        S3:</label> 
                    <input type="text" maxlength="20" id="alta_codS3" ng-model='cuenta.codigoS3'/>
                </div>
                <div>
                    <label class="desresumen" for="alta_esClearing">Es
                        Clearing:</label> 
                    <select required="required" id="alta_esClearing" ng-model="cuenta.esClearing">
                        <option value="" selected="selected">Seleccione una opci&oacute;n</option>
                        <option value="S" ng-selected="cuenta.esClearing === 'S'">Sí</option>
                        <option value="N" ng-selected="cuenta.esClearing === 'N'">No</option>
                    </select>
                </div>
            </div>
            <div class="four-columns">

                <div>
                    <label class="desresumen" for="alta_compensador">Compensador:</label>
                    <!--input type="text" maxlength="20" id="alta_compensador" /-->
                    <div angucomplete-alt id="alta_compensador" ng-model="currentCompensador.idCompensador" field-required="true" field-name="altaIdCompensador" placeholder="Buscar Compensadores" maxlength="40" pause="100" selected-object="selectedCompensador" local-data="compensadoresList" search-fields="idCompensador,nombre,descripcion" title-field="idCompensador,nombre" description-field="descripcion" minlength="1" input-class="anchoimp" match-class="highlight">
                    </div>
                    <input type="hidden" id="alta_idCompensador" ng-model="cuenta.idCompensador" />
                </div>
                <div>
                    <label class="desresumen" for="alta_tipoCuenta">Tipo
                        Cuenta:</label> 
                    <!--input type="text" maxlength="20" id="alta_tipoCuenta" /-->
                    <div angucomplete-alt id="alta_tipoCuenta" field-required="true" field-require-class="autocomplete-required" field-name="alta_tipoCuentaComp" ng-model="currentTipoCuentaComp.id" placeholder="Buscar Tipo Cuenta Compesnación" maxlength="40" pause="100" selected-object="selectedTipoCuentaComp" local-data="tiposCuentaCompensacion" search-fields="id,codigo,descripcion" title-field="codigo" description-field="descripcion" minlength="1" input-class="anchoimp" match-class="highlight">
                    </div>
                    <input type="hidden" ng-model="cuenta.idCompensador" id="alta_idTipoCuenta" />
                </div>
                <div>
                    <label class="desresumen" for="alta_subcustodio">Subcustodio:</label>
                    <input type="text" maxlength="255" id="alta_subcustodio" ng-model="cuenta.subcustodio" />
                </div>
                <div>
                    <label class="desresumen" for="alta_numCtaSubcustodio">N&uacute;mero
                        Cta Subcustodio:</label> 
                    <input type="text" maxlength="35" id="alta_numCtaSubcustodio" ng-model="cuenta.numCtaSubcustodio" />
                </div>
                <div>
                    <label for="sistemas_liq" class="desresumen">Sistema Liquidaci&oacute;n:</label> 
                    <select id="sistemas_liq" class="anchoimp" ng-model="cuenta.sistemaLiquidacion.id" convert-to-number>
                        <option value="" selected="selected">Seleccione un sistema</option>
                        <option ng-repeat="sis in sistemasLiquidacion" ng-selected="cuenta.sistemaLiquidacion.id == {{sis.id}}"  value="{{sis.id}}">{{sis.codigo}}</option>
                    </select>
                </div>
            </div>
        </fieldset>
        <div style="text-align: center; position: relative; top: 10px;">
            <input class="btn mybutton align-center" type="submit" id="altaparam"
                   value="Guardar" data="{{action}}" class="btn-default" />
        </div>

    </form>
</div>