<article class="center">
	<div class="title_section clearfix">
		<div class="align-left">
			<p class="title">Carga SWIFT</p>
		</div>
		
	</div>

	<div class="buscador" style="width: 500px;"   >
		<form id="formSelecFileSWIFT">
  			<fieldset >
  			 	<label for="selecFicheroReglas" class="desresumen">Seleccione un fichero:</label> 
              	<input type="file" style="width: 90%; margin-left: 7px; margin-top: 1px;" id="selecFicheroSWIFT" accept=".DAT"  value=""/><br/>
   			</fieldset>

			<div class="centrar">
				<input class="btn buscador mybutton" type="submit" id="importar"value="Importar" ng-if="isPermisoAccion(SecurityActions.IMPORTAR_FICHERO)"  ng-click="ImportarFicheroSWIFT()" /> 
				
			</div>
		</form>
	</div>

</article>
<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>
<div id="dialog-confirm"></div>