<article class="center">
	<div title-slide-filter showing="showingFilter">Final Holders</div>
	<div class="buscador wrapper-95">
		<form ng-submit="submitForm($event)">
			<fieldset>
				<div class="three-columns">
					<!-- Primera columna -->

					<div>
						<label for="tipoPersona" class="desresumen">Tipo Persona:</label>
						<select id="tipopersona" style="width: 200px;">
						</select>
						<button id="btnInvTipoPersona"
							title="Cambiar el sentido de la busqueda"
							style="width: 40px; margin-left: 4px; margin-top: 1px;"
							ng-click="btnInvTipoPersona()">
							<span class="negrita" id="textBtnInvTipoPersona">=</span>
						</button>
						<span id="textInvTipoPersona" style="color: green;">IGUAL</span>
					</div>

					<div>
						<label for="tipoTitular" class="desresumen" style="float: left;">Tipo
							Titular:</label>
						<div style="width: 159px; margin-left: 4px; margin-top: 7px;"
							class="anchoinp">
							<select id="tipotitular" class="anchoinp" multiple="multiple"
								size="4" ng-model="filtro.tipotitular"></select>
							<button id="btnInvTipoTitular"
								title="Cambiar el sentido de la busqueda"
								style="width: 40px; margin-left: 4px; margin-top: 1px;"
								ng-click="btnInvTipoTitular()">
								<span class="negrita" id="textBtnInvTipoTitular">=</span>
							</button>
							<span id="textInvTipoTitular" style="color: green;">INCLUIDOS</span>
						</div>
					</div>

					<div>
						<label for="tipoDocumento" class="desresumen" style="float: left;">Tipo
							Documento:</label>
						<div style="width: 159px; margin-left: 4px; margin-top: 7px;"
							class="anchoinp">
							<select id="tipodocumento" multiple="multiple"
								ng-model="filtro.tipodocumento" style="width: 120px;"></select>
							<button id="btnInvTipoDocumento"
								title="Cambiar el sentido de la busqueda"
								style="width: 40px; margin-left: 4px; margin-top: 1px;"
								ng-click="btnInvTipoDocumento()">
								<span class="negrita" id="textBtnInvTipoDocumento">=</span>
							</button>
							<span id="textInvTipoDocumento" style="color: green;">INCLUIDOS</span>
						</div>
					</div>

					<div>
						<label class="desresumen" for="documento">Documento:</label> <input
							type="text" ng-model="filtro.documento" id="documento"
							style="width: 200px;"
							onkeyup="javascript:this.value=this.value.toUpperCase()" />
						<button id="btnInvDocumento"
							title="Cambiar el sentido de la busqueda"
							style="width: 40px; margin-left: 4px; margin-top: 1px;"
							ng-click="btnInvDocumento()">
							<span class="negrita" id="textBtnInvDocumento">=</span>
						</button>
						<span id="textInvDocumento" style="color: green;">IGUAL</span>
					</div>



				</div>

				<div class="three-columns">
					<!-- Segunda columna -->

					<div>
						<label class="desresumen" for="nombre">Nombre:</label> <input
							type="text" ng-model="filtro.nombre" id="nombre"
							style="width: 200px;"
							onkeyup="javascript:this.value=this.value.toUpperCase()" />
						<button id="btnInvNombre"
							title="Cambiar el sentido de la busqueda"
							style="width: 40px; margin-left: 4px; margin-top: 1px;"
							ng-click="btnInvNombre()">
							<span class="negrita" id="textBtnInvNombre">=</span>
						</button>
						<span id="textInvNombre" style="color: green;">IGUAL</span>
					</div>


					<div>
						<label class="desresumen" for="codigo">Primer Apellido:</label> <input
							type="text" ng-model="filtro.primerapellido" id="primerapellido"
							style="width: 200px;"
							onkeyup="javascript:this.value=this.value.toUpperCase()" />
						<button id="btnInvPrimerApellido"
							title="Cambiar el sentido de la busqueda"
							style="width: 40px; margin-left: 4px; margin-top: 1px;"
							ng-click="btnInvPrimerApellido()">
							<span class="negrita" id="textBtnInvPrimerApellido">=</span>
						</button>
						<span id="textInvPrimerApellido" style="color: green;">IGUAL</span>
					</div>


					<div>
						<label class="desresumen" for="codigo">Segundo Apellido:</label> <input
							type="text" ng-model="filtro.segundoapellido"
							id="segundoapellido" style="width: 200px;"
							onkeyup="javascript:this.value=this.value.toUpperCase()" />
						<button id="btnInvSegundoApellido"
							title="Cambiar el sentido de la busqueda"
							style="width: 40px; margin-left: 4px; margin-top: 1px;"
							ng-click="btnInvSegundoApellido()">
							<span class="negrita" id="textBtnInvSegundoApellido">=</span>
						</button>
						<span id="textInvSegundoApellido" style="color: green;">IGUAL</span>
					</div>

					<div>
						<label for="tipoNacionalidad" class="desresumen">Tipo
							Nacionalidad:</label> <select id="tiponacionalidad" style="width: 200px;">
						</select>
						<button id="btnInvTipoNacionalidad"
							title="Cambiar el sentido de la busqueda"
							style="width: 40px; margin-left: 4px; margin-top: 1px;"
							ng-click="btnInvTipoNacionalidad()">
							<span class="negrita" id="textBtnInvTipoNacionalidad">=</span>
						</button>
						<span id="textInvTipoNacionalidad" style="color: green;">IGUAL</span>
					</div>

					<div>
						<label for="textNacionalidad" class="desresumen"
							style="float: left;">Nacionalidad:</label>
						<div style="width: 200px; margin-top: 7px;" class="anchoinp">
							<input type="text" id="textNacionalidad" class="anchoinp"
								onkeyup="javascript:this.value = this.value.toUpperCase()" /> <input
								type="hidden" id="idTxNacionalidad" /> <select
								id="nacionalidad" class="anchoinp" multiple="multiple" size="4"
								ng-model="filtro.nacionalidad"></select>
							<button id="btnDelNacionalidad"
								title="Eliminar Nacionalidad seleccionada."
								style="width: 40px; margin-left: 4px; margin-top: 1px;">
								<span class="negrita">-</span>
							</button>
							<button id="btnInvNacionalidad"
								title="Cambiar el sentido de la busqueda"
								style="width: 40px; margin-left: 4px; margin-top: 1px;"
								ng-click="btnInvNacionalidad()">
								<span class="negrita" id="textBtnInvNacionalidad">=</span>
							</button>
							<span id="textInvNacionalidad" style="color: green;">INCLUIDOS</span>
						</div>
					</div>


				</div>

				<div class="three-columns">
					<!-- Tercera columna -->

					<div>
						<label class="desresumen" for="tipodireccion">Tipo
							Direcci&oacute;n:</label> <select id="tipodireccion"
							ng-model="filtro.tipodireccion" style="width: 200px;">
						</select>
						<button id="btnInvTipoDireccion"
							title="Cambiar el sentido de la busqueda"
							style="width: 40px; margin-left: 4px; margin-top: 1px;"
							ng-click="btnInvTipoDireccion()">
							<span class="negrita" id="textBtnInvTipoDireccion">=</span>
						</button>
						<span id="textInvTipoDireccion" style="color: green;">IGUAL</span>
					</div>

					<div>
						<label class="desresumen" for="direccion">Direcci&oacute;n:</label>
						<input type="text" ng-model="filtro.direccion" id="direccion"
							style="width: 200px;"
							onkeyup="javascript:this.value=this.value.toUpperCase()" />
						<button id="btnInvDireccion"
							title="Cambiar el sentido de la busqueda"
							style="width: 40px; margin-left: 4px; margin-top: 1px;"
							ng-click="btnInvDireccion()">
							<span class="negrita" id="textBtnInvDireccion">=</span>
						</button>
						<span id="textInvDireccion" style="color: green;">IGUAL</span>
					</div>

					<div>
						<label class="desresumen" for="ciudad">Ciudad:</label> <input
							type="text" ng-model="filtro.ciudad" id="ciudad"
							style="width: 200px;"
							onkeyup="javascript:this.value=this.value.toUpperCase()" />
						<button id="btnInvCiudad"
							title="Cambiar el sentido de la busqueda"
							style="width: 40px; margin-left: 4px; margin-top: 1px;"
							ng-click="btnInvCiudad()">
							<span class="negrita" id="textBtnInvCiudad">=</span>
						</button>
						<span id="textInvCiudad" style="color: green;">IGUAL</span>
					</div>

					<div>
						<label class="desresumen" for="provincia">Provincia:</label> <input
							type="text" ng-model="filtro.provincia" id="provincia"
							style="width: 200px;"
							onkeyup="javascript:this.value=this.value.toUpperCase()" />
						<button id="btnInvProvincia"
							title="Cambiar el sentido de la busqueda"
							style="width: 40px; margin-left: 4px; margin-top: 1px;"
							ng-click="btnInvProvincia()">
							<span class="negrita" id="textBtnInvProvincia">=</span>
						</button>
						<span id="textInvProvincia" style="color: green;">IGUAL</span>
					</div>

					<div>
						<label class="desresumen" for="codpostal">C&oacute;digo
							Postal:</label> <input type="text" ng-model="filtro.codpostal"
							id="codpostal" style="width: 200px;"
							onkeyup="javascript:this.value=this.value.toUpperCase()" />
						<button id="btnInvCodPostal"
							title="Cambiar el sentido de la busqueda"
							style="width: 40px; margin-left: 4px; margin-top: 1px;"
							ng-click="btnInvCodPostal()">
							<span class="negrita" id="textBtnInvCodPostal">=</span>
						</button>
						<span id="textInvCodPostal" style="color: green;">IGUAL</span>
					</div>

					<div>
						<label for="textPaisResidencia" class="desresumen"
							style="float: left;">PaisResidencia:</label>
						<div style="width: 200px; margin-top: 7px;" class="anchoinp">
							<input type="text" id="textPaisResidencia" class="anchoinp"
								onkeyup="javascript:this.value = this.value.toUpperCase()" /> <input
								type="hidden" id="idTxPaisResidencia" /> <select
								id="paisResidencia" class="anchoinp" multiple="multiple"
								size="4" ng-model="filtro.paisResidencia"></select>
							<button id="btnDelPaisResidencia"
								title="Eliminar PaisResidencia seleccionada."
								style="width: 40px; margin-left: 4px; margin-top: 1px;">
								<span class="negrita">-</span>
							</button>
							<button id="btnInvPaisResidencia"
								title="Cambiar el sentido de la busqueda"
								style="width: 40px; margin-left: 4px; margin-top: 1px;"
								ng-click="btnInvPaisResidencia()">
								<span class="negrita" id="textBtnInvPaisResidencia">=</span>
							</button>
							<span id="textInvPaisResidencia" style="color: green;">INCLUIDOS</span>
						</div>
					</div>


				</div>

			</fieldset>
			<div class="centrar top-10">
				<input class="btn buscador mybutton" type="submit" id="buscar"
					value="Consultar" ng-click="Consultar()" /> <input
					class="mybutton" type="reset" id="limpiar" value="Limpiar Filtros"
					ng-click="LimpiarFiltros()" />
			</div>
		</form>
	</div>
	<div>
		<div class="contenedorTabla">

			<table id="datosTitulares" class="fullTable ancha" cellspacing="0">
				<thead>
					<tr>
						<th class="taleft">Selecci&oacute;n</th>
						<th>Documento</th>
						<th>T.Persona</th>
						<th>T.Titular</th>
						<th>T.Documento</th>
						<th>Nombre</th>
						<th>1er Apellido</th>
						<th>2&deg; Apellido</th>
						<th>Fecha de Nacimiento</th>
						<th>T.Nacionalidad</th>
						<th>Nacionalidad</th>
						<th>T.Direcci&oacute;n</th>
						<th>Direcci&oacute;n</th>
						<th>Ciudad</th>
						<th>Provincia</th>
						<th>C.Postal</th>
						<th>P.Residencia</th>
						<th>T.Id.Mifid</th>
						<th>Id.Mifid</th>
						<th>Ind.Clt.San</th>
						<th>Num.Clt.San</th>
					</tr>
				</thead>
				<tbody></tbody>
			</table>
			<div class="centrar">
				<input class="mybutton" type="button" id="crearTitular"
					value="Crear" ng-click="crearTitular()"
					ng-if="isPermisoAccion(SecurityActions.CREAR)" /> <input
					class="mybutton" type="button" id="modificarTitular"
					value="Modificar" ng-click="modificarTitular()"
					ng-if="isPermisoAccion(SecurityActions.MODIFICAR)" /> <input
					class="mybutton" type="button" id="borrarTitular" value="Borrar"
					ng-click="borrarTitular()"
					ng-if="isPermisoAccion(SecurityActions.BORRAR)" /> <input
					class="mybutton" type="button" id="MarcarTod"
					value="Seleccionar Todo" ng-click="selececionarTodosCheck()" /> <input
					class="mybutton" type="button" id="DesMarcarTod"
					value="Deseleccionar todo" ng-click="deSelececionarTodosCheck()" />
				<input class="mybutton" type="button" id="cargaMasiva"
					value="Carga Masiva" ng-click="importarFichero()"
					ng-if="isPermisoAccion(SecurityActions.IMPORTAR_FICHERO)" />

			</div>
		</div>
</article>


<div id="formularios" class="modal modal-alto-375">
	<div class="esquinar">
		<a ng-click="cerrar()" id="cerrarTitular"><img
			src="img/closeModal.png" title="Cerrar Ventana"
			style="cursor: pointer;" /></a>
	</div>

	<p class="titleAlta" id="titleTitulo">Crear Final Holder</p>

	<form id="datosTitular" style="display: none;">


		<fieldset>
			<div>
				<!-- primera columna -->
				<div class="three-columns">

					<div>
						<label for="tipopersonaNuevo" class="desresumen">Tipo
							Persona:</label> <select id="tipopersonaNuevo" style="width: 100px;">
						</select>
					</div>

					<div>
						<label for="tipotitularNuevo" class="desresumen">Tipo
							Titular:</label> <select id="tipotitularNuevo" style="width: 120px;">
						</select>
					</div>

					<div>
						<label for="tipodocumentoNuevo" class="desresumen">Tipo
							Documento:</label> <select id="tipodocumentoNuevo" style="width: 100px;">
						</select>
					</div>

					<div>
						<label for="documentoNuevo" class="desresumen">Documento:</label>
						<input style="width: 200px;" type="text" id="documentoNuevo"
							class="anchoinp2" maxlength=40
							onkeyup="javascript:this.value=this.value.toUpperCase()" />
					</div>

					<div ng-show="fnacVisible">
						<label for="fechaNacimientoNuevo" class="desresumen">Fecha
							de Nacimiento:</label> <input type="text" id="fechaNacimientoNuevo"
							datepicker class="anchoimp2" placeholder="dd/mm/yyyy"
							pattern="\d{1,2}/\d{1,2}/\d{4}" title="dd/mm/yyyy" maxlength="10"
							readonly="readonly" />
					</div>
				</div>

				<!-- segunda columna -->
				<div class="three-columns">
					<div ng-show="fnacVisible">
						<label for="nombreNuevo" class="desresumen">Nombre:</label> <input
							style="width: 200px;" type="text" id="nombreNuevo"
							class="anchoinp2" maxlength=30
							onkeyup="javascript:this.value=this.value.toUpperCase()" />
					</div>

					<div>
						<label for="primerapellidoNuevo" class="desresumen">Primer
							Apellido:</label> <input style="width: 200px;" type="text"
							id="primerapellidoNuevo" class="anchoinp2" maxlength=50
							onkeyup="javascript:this.value=this.value.toUpperCase()" />
					</div>


					<div ng-show="fnacVisible">
						<label for="segundoapellidoNuevo" class="desresumen">Segundo
							Apellido:</label> <input style="width: 200px;" type="text"
							id="segundoapellidoNuevo" class="anchoinp2" maxlength=30
							onkeyup="javascript:this.value=this.value.toUpperCase()" />
					</div>

					<div>
						<label for="tiponacionalidadNuevo" class="desresumen">Tipo
							Nacionalidad:</label> <select id="tiponacionalidadNuevo"
							style="width: 100px;">
						</select>
					</div>

					<div>
						<label for="nacionalidadNuevo" class="desresumen">Nacionalidad:</label>
						<select id="nacionalidadNuevo" style="width: 200px;">
						</select>
					</div>

					<div>
						<label for="paisresidenciaNuevo" class="desresumen">Pais
							de Residencia:</label> <select id="paisresidenciaNuevo"
							style="width: 200px;">
						</select>
					</div>

					<div>
						<label for="tipoIdMifidNuevo" class="desresumen">T.Id.Mifid:</label>
						<select id="tipoIdMifidNuevo" style="width: 200px;">
							<option label="LEI"  value="L" >LEI</option>
							<option label="IDENTIF" value="I" >IDENTIF</option>
							<option label="PASAPORTE" value="P" >PASAPORTE</option>
							<option label="CONCAT" value="C" >CONCAT</option>
						</select>
					</div>

					<div>
						<label for="indClienteSanNuevo" class="desresumen">Ind.Clte.San:</label>
						<select id="indClienteSanNuevo" style="width: 200px;">
							<option label="SI" value="S" >SI</option>
							<option label="NO" value="N" >NO</option>
						</select>
					</div>



				</div>
				<!-- tercera columna -->

				<div class="three-columns">

					<div>
						<label for="tipodireccionNuevo" class="desresumen">Tipo
							Direci&oacute;n:</label> <select id="tipodireccionNuevo"
							style="width: 200px;">
						</select>
					</div>


					<div>
						<label for="domicilioNuevo" class="desresumen">Domicilio:</label>
						<input style="width: 200px;" type="text" id="domicilioNuevo"
							class="anchoinp2" maxlength=40
							onkeyup="javascript:this.value=this.value.toUpperCase()" />
					</div>

					<div>
						<label for="numdomicilioNuevo" class="desresumen">N&deg;
							Domicilio:</label> <input style="width: 80px;" type="text"
							id="numdomicilioNuevo" class="anchoinp2" maxlength=4
							onkeyup="javascript:this.value=this.value.toUpperCase()" />
					</div>

					<div>
						<label for="ciudadNuevo" class="desresumen">Ciudad:</label> <input
							style="width: 200px;" type="text" id="ciudadNuevo"
							class="anchoinp2" maxlength=40
							onkeyup="javascript:this.value=this.value.toUpperCase()" />
					</div>

					<div>
						<label for="provinciaNuevo" class="desresumen">Provincia:</label>
						<input style="width: 150px;" type="text" id="provinciaNuevo"
							class="anchoinp2" maxlength=25
							onkeyup="javascript:this.value=this.value.toUpperCase()" /> <input
							type="hidden" id="idprovinciaNuevo" />
					</div>

					<div>
						<label for="codpostalNuevo" class="desresumen">C&oacute;digo
							Postal:</label> <input style="width: 80px;" type="text"
							id="codpostalNuevo" class="anchoinp2" maxlength="5"
							onkeyup="javascript:this.value=this.value.toUpperCase()" />
					</div>

					<div>
						<label for="idMifidNuevo" class="desresumen">Id.Mifid:</label> <input
							width="25" type="text" id="idMifidNuevo" class="anchoinp2"
							maxlength="20"
							onkeyup="javascript:this.value=this.value.toUpperCase()" />
					</div>

					<div>
						<label for="numPersonaSanNuevo" class="desresumen">Num.Clte.San:</label>
						<input width="25" type="text" id="numPersonaSanNuevo"
							class="anchoinp2" maxlength="9"
							onkeyup="javascript:this.value=this.value.toUpperCase()" />
					</div>

				</div>
		</fieldset>



		<div class="centrar" id="mensajesError" style="display: none;">
			<p class="titleAlta" id="titleListaErrores">Los datos insertados
				continen los siguientes errores:</p>
			<select id="listaErrores" style="width: 100%; overflow: auto;"
				size="5" multiple="multiple">
			</select>
		</div>


		<div class="centrar" style="padding-top: 20px">
			<input class="mybutton" type="submit" id="guardarDatosTitular"
				value="Guardar" ng-click="guardarDatosTitular()" /> <input
				class="mybutton" type="reset" id="limpiarDatosTitular"
				value="Vaciar Campos" />
		</div>

	</form>

</div>

<div id="cargarFicheroCargaMasiva" class="modal modalImportFich" align
	style="display: none;">
	<div class="esquinar">
		<a id="cerrarimportacion" data-dismiss="modal"><img
			src="img/closeModal.png" title="Cerrar Ventana"
			style="cursor: pointer;" /></a>
	</div>
	<p class="titleAlta" id="titleTitu">Importaci&oacute;n de Fichero</p>

	<form id="formSelecCargaMasiva">
		<fieldset>
			<label for="selecFicheroCargaMasiva" class="desresumen">Seleccione
				un fichero:</label> <input type="file" id="selecFicheroCargaMasiva" value="" /><br />
		</fieldset>
	</form>
</div>

<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje"></div>
<div id="dialog-confirm"></div>
