<article class="center">
  <div class="title_section clearfix">
    <div class="align-left">
      <p class="title">Gestión Usuarios</p>
    </div>
    <div class="align-right">
      <a class="collapser_search cursor" ng-click="mostrarOcultarFiltros()">{{mensajeBusqueda}}</a>
    </div>
  </div>
  <div class="buscador wrapper-95" id="buscador">
    <form>
      <fieldset>
      
      <div class="two-columns">
          <!-- Primera columna -->
          <div>
            <label class="desresumen" for="filtro_usuario">Usuario:</label>
            <input style="width: 200px;" type="text" id="filtro_usuario" ng-model="usuarioFiltro" class="anchoinp2" maxlength=25 auto-uppercase/>
            <button id="btnUsuario" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="invertirValores('usuario')">
              <span class="negrita" >{{btnsFilter.btnUsuario}}</span>
            </button>
            <span ng-style="btnsFilter.colorUsuario">{{btnsFilter.textUsuario}}</span>
          </div>
        </div>
      <div class="two-columns">
          <!-- Segunda columna -->
          <div>
            <label class="desresumen" for="filtro_perfil">Perfil:</label> <select tabindex="1"
              id="filtro_perfil" style="width: 200px;" ng-model="perfilFiltro"
              ng-options="perfil.value for perfil in listPerfiles">
              <option value="" ng-if="false"></option>
            </select>
            <button id="btnPerfil" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="invertirValores('perfil')">
              <span class="negrita" >{{btnsFilter.btnPerfil}}</span>            </button>
            <span ng-style="btnsFilter.colorPerfil">{{btnsFilter.textPerfil}}</span>
          </div>
        </div>
      </fieldset>
      <div class="centrar top-10">
         <input class="btn buscador mybutton" id="buscar" value="Consultar" ng-click="getUsuarios()"/> 
         <input class="btn buscador mybutton" id="limpiar" value="Limpiar Filtros" ng-click="resetFiltro()"/>
      </div>      
    </form>
  </div>
  
  <br />
  <div class="mensajeBusqueda" ng-show="!mostrarBuscador">{{followSearch}}</div>
  
  <div class="centrar" id="mensajesError" ng-show="mostrarErrores">
    <p class="titleAlta" id="titleListaErrores">Resumen:</p>
    <p>{{mensajeError}}</p>
  </div>
  
  <div class="contenedorTabla">
      <table id="datosUsuarios" class="fullTable ancha" cellspacing="0">
        <thead>
          <tr>
            <th class="taleft">Selecci&oacute;n</th>
            <th class="taleft">Username</th>
            <th class="taleft">Nombre</th>
            <th class="taleft">Apellidos</th>
            <th>Perfiles</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="centrar">
        <input type="button" class="btn buscador mybutton" value="Crear" ng-click="abrirCrearUsuario()" ng-if="isPermisoAccion(SecurityActions.CREAR)" />
        <input type="button" class="btn buscador mybutton" value="Modificar" ng-click="abrirModificarUsuario()" ng-if="isPermisoAccion(SecurityActions.MODIFICAR)"  />
        <!-- DEPRECADO <input class="btn buscador mybutton" value="Resetear password" ng-click="resetearPassword()" ng-if="isPermisoAccion(SecurityActions.MODIFICAR)"  />  -->
        <input type="button" class="btn buscador mybutton" value="Borrar" ng-click="borrarUsuarios()" ng-if="isPermisoAccion(SecurityActions.BORRAR)"  />
        <input type="button" class="btn buscador mybutton" value="Seleccionar Todos" ng-click="seleccionarTodos()"/>
        <input type="button" class="btn buscador mybutton" value="Deseleccionar Todos" ng-click="deseleccionarTodos()" />
      </div>
    </div>
</article>
<div id="formularios" class="modal modalUsuarios">
  <div class="esquinar">
    <a data-dismiss="modal" id="cerrarTitular">
      <img src="img/closeModal.png" title="Cerrar Ventana"style="cursor: pointer;"/>
    </a>
  </div>
  <p class="titleAlta" id="titleTitulo">{{modal.titulo}}</p>

  <div class="panel panel-body" ng-show="activeAlert && (usuario.username.length == 0 || usuario.name.length == 0
                         || usuario.lastname.length == 0 || usuario.password.length == 0
                         || usuario.password2.length == 0 || (usuario.password!==usuario.password2))" style="border: 1px solid silver; padding: 10px;">
      <div class="col-xs-1 col-sm-1 col-lg-1" style="vertical-align:middle;">
         <img alt="nueva_plantilla" src="images/warning.png" height="26px"> 
      </div>
      <div class="col-xs-11 col-md-11 col-lg-11">
        <p style="margin:3px;" ng-if="usuario.username.length == 0 && activeAlert">- El campo Username es obligatorio</p>
        <p style="margin:3px;" ng-if="usuario.name.length == 0 && activeAlert">- El campo Nombre es obligatorio</p>
        <p style="margin:3px;" ng-if="usuario.lastname.length == 0 && activeAlert">- El campo Apellidos es obligatorio</p>
        <p style="margin:3px;" ng-if="usuario.password.length == 0 && activeAlert">- El campo Password es obligatorio</p>
        <p style="margin:3px;" ng-if="usuario.password2.length == 0 && activeAlert">- El campo Confirmación Password es obligatorio</p>
        <p style="margin:3px;" ng-if="(usuario.password!==usuario.password2)  && activeAlert">- El campo Confirmación Password debe coincidir con el campo Password</p>
      </div>
  </div>
  
  <div class="panel panel-body" ng-show="mensajeAlert && !activeAlert" style="border: 1px solid silver; padding: 10px;">
      <div class="col-xs-1 col-sm-1 col-lg-1" style="vertical-align:middle;">
         <img alt="nueva_plantilla" ng-src="{{srcImage}}" height="26px"> 
      </div>
      <div class="col-xs-11 col-md-11 col-lg-11">
        <p style="margin:3px;">{{mensajeAlert}}</p>
      </div>
  </div>
  <fieldset>
      <div>
        <!-- primera columna -->
        <div class="three-columns">
          <div>
            <label for="usuario_username" class="desresumen">Username :</label> 
            <input  tabindex="1" style="width: 200px;" type="text" id="usuario_username" class="anchoinp2" ng-class="{'autocomplete-required':!usuario.username && activeAlert}"  maxlength=20 ng-model="usuario.username" auto-uppercase/>
          </div>
          <div>
            <label for="usuario_password" class="desresumen">Password :</label> 
            <input autocomplete="off" tabindex="4" style="width: 200px;" type="password" id="usuario_password" class="anchoinp2" ng-class="{'autocomplete-required':!usuario.password && activeAlert}"  maxlength=200 ng-model="usuario.password"/>
          </div>  
          <div>
            <label for="usuario_email" class="desresumen">Email :</label> 
            <input  tabindex="9" style="width: 200px;" type="text" id="usuario_email" class="anchoinp2"  maxlength=200 ng-model="usuario.email"/>
          </div>        
        </div>
        <!-- segunda columna -->
        <div class="three-columns">
          <div>
            <label for="usuario_nombre" class="desresumen">Nombre :</label> 
            <input  tabindex="2" style="width: 200px;" type="text"  id="usuario_nombre" class="anchoinp2" ng-class="{'autocomplete-required':!usuario.name && activeAlert}"  maxlength=200 ng-model="usuario.name" auto-uppercase/>
          </div>
          <div>
            <label for="usuario_password2" class="desresumen">Confirmación Password :</label> 
            <input autocomplete="off"  tabindex="5" style="width: 200px;" type="password"  id="usuario_password2" class="anchoinp2" ng-class="{'autocomplete-required':!usuario.password2 && activeAlert}"  maxlength=200 ng-model="usuario.password2"/>
          </div>
        </div>
        <!-- tercera columna -->
        <div class="three-columns">
          <div>
            <label for="usuario_apellidos" class="desresumen">Apellidos:</label> 
            <input  tabindex="3" style="width: 200px;" type="text" id="usuario_apellidos" class="anchoinp2" ng-class="{'autocomplete-required':!usuario.lastname && activeAlert}"  maxlength=200 ng-model="usuario.lastname" auto-uppercase/>
          </div>
          <div>
            <label for="usuario_perfiles" class="desresumen">Perfiles:</label>
            <div style="width: 159px;" class="anchoinp">
              <select  tabindex="6" id="usuario_perfil" style="width:200px;" ng-model="form.perfil" ng-options="perfil.value for perfil in listPerfiles" ng-change="procesarPerfil()">
                <option value="" ng-if="false"></option>
              </select>
              <select id="usuario_perfiles" size="10 " style="width:200px;" ng-model="usuario.perfil" ng-options="perfil.value for perfil in usuario.listaProfiles">
                <option value="" ng-if="false"></option>
              </select>
              <div style="width: 159px; align:center; margin-top: 2px;" class="anchoinp">
                 <button tabindex="7" style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('perfil')">
                    <span class="negrita">-</span>
                 </button>
                 <button tabindex="8" style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('perfil')">
                    <span>Vaciar</span>
                 </button>
               </div>
            </div> 
          </div>
        </div>
      </div>
    </fieldset>
    <div class="centrar" style="padding-top: 20px">
      <input  tabindex="9" class="btn mybutton"  type="button" id="guardarDatosTitular" value="Guardar y Salir" ng-click="guardarUsuario()" ng-show="modal.showCrear"/>
      <input  tabindex="10" class="btn mybutton" type="button" id="guardarDatosTitularSalir" value="Modificar y Salir" ng-click="modificarUsuario()" ng-show="modal.showModificar"/>
      <input  tabindex="11" class="btn mybutton" type="button" id="limpiarDatosTitular" value="Limpiar Campos" ng-click="resetUsuario()" ng-show="modal.showCrear"/>
    </div>
</div>
<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje"></div>
<div id="dialog-confirm"></div>