<article class="center">
  <div class="title_section clearfix">
    <div class="align-left">
      <p class="title">Gestión Perfiles</p>
    </div>
    <div class="align-right">
      <a class="collapser_search cursor" ng-click="mostrarOcultarFiltros()">{{mensajeBusqueda}}</a>
    </div>
  </div>
  <div class="buscador wrapper-95" id="buscador">
    <form>
      <fieldset>
        <div class="two-columns">
          <!-- Primera columna -->        
          <div>
            <label class="desresumen" for="filtro_perfil">Perfil:</label> 
            <select tabindex="1"
              id="filtro_perfil" style="width: 200px;" ng-model="perfilFiltro"
              ng-options="perfil.value for perfil in listPerfiles">
              <option value="" ng-if="false"></option>
            </select>
            <button id="btnPerfil" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="invertirValores('perfil')">
              <span class="negrita" >{{btnsFilter.btnPerfil}}</span>
            </button>
            <span ng-style="btnsFilter.colorPerfil">{{btnsFilter.textPerfil}}</span>
          </div>
        </div>
      </fieldset>
    <div class="centrar top-10">
       <input class="btn buscador mybutton" id="buscar" value="Consultar" ng-click="getPerfilesFiltro()"/> 
       <input class="btn buscador mybutton" id="limpiar" value="Limpiar Filtros" ng-click="resetFiltro()"/>
    </div>      
      
    </form>
  </div>

 <div class="mensajeBusqueda" ng-show="!mostrarBuscador">{{followSearch}}</div>
  
  <div class="centrar" id="mensajesError" ng-show="mostrarErrores">
    <p class="titleAlta" id="titleListaErrores">Resumen:</p>
    <p>{{mensajeError}}</p>
  </div>
 <div class="contenedorTabla">
      <table id="datosPerfiles" class="fullTable ancha" cellspacing="0">
        <thead>
          <tr>
            <th class="taleft">Selecci&oacute;n</th>
            <th class="taleft">Nombre</th>
            <th class="taleft">Descripci&oacute;n</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
      <div class="centrar">
        <input class="btn buscador mybutton" value="Crear" ng-click="abrirCrearPerfil()" ng-if="isPermisoAccion(SecurityActions.CREAR)" /> 
        <input class="btn buscador mybutton" value="Modificar" ng-click="abrirModificarPerfil()" ng-if="isPermisoAccion(SecurityActions.MODIFICAR)" /> 
        <input class="btn buscador mybutton" value="Borrar" ng-click="borrarPerfiles()" ng-if="isPermisoAccion(SecurityActions.BORRAR)" /> 
        <input class="btn buscador mybutton" value="Seleccionar Todos" ng-click="seleccionarTodos()"/> 
        <input class="btn buscador mybutton" value="Deseleccionar Todos" ng-click="deseleccionarTodos()" /> 
      </div>
    </div>
</article>

<div id="formularios" class="modal modalPerfiles">
  <div class="esquinar">
    <a data-dismiss="modal" id="cerrarTitular">
      <img src="img/closeModal.png" title="Cerrar Ventana"style="cursor: pointer;"/>
    </a>
  </div>
  <p class="titleAlta" id="titleTitulo">{{modal.titulo}}</p>

  <div class="panel panel-body" ng-show="activeAlert && (perfil.name.length == 0)" style="border: 1px solid silver; padding: 10px;">
      <div class="col-xs-1 col-sm-1 col-lg-1" style="vertical-align:middle;">
         <img alt="nueva_plantilla" src="images/warning.png" height="26px"> 
      </div>
      <div class="col-xs-11 col-md-11 col-lg-11">
        <p style="margin:3px;" ng-if="perfil.name.length == 0 && activeAlert">- El campo Nombre es obligatorio</p>
      </div>
  </div>
  
  <div class="panel panel-body" ng-show="mensajeAlert && !activeAlert" style="border: 1px solid silver; padding: 10px;">
      <div class="col-xs-1 col-sm-1 col-lg-1" style="vertical-align:middle;">
         <img alt="nueva_plantilla" ng-src="{{srcImage}}" height="26px"> 
      </div>
      <div class="col-xs-11 col-md-11 col-lg-11">
        <p style="margin:3px;">{{mensajeAlert}}</p>
      </div>
  </div>
  <fieldset>
      <div>
        <!-- primera columna -->
        <div class="three-columns">
          <div>
            <label for="perfil_name" class="desresumen">Nombre :</label> 
            <input  tabindex="1" style="width: 250px;" type="text" id="perfil_name" class="anchoinp2" ng-class="{'autocomplete-required':!perfil.name && activeAlert}"  maxlength=200 ng-model="perfil.name" auto-uppercase/>
          </div>
        </div>
        <!-- segunda columna -->
        <div class="three-columns">
          <div>
            <label for="perfil_description" class="desresumen">Descripción :</label> 
            <input  tabindex="4" style="width: 250px;" type="text" id="perfil_description" class="anchoinp2"  maxlength=200 ng-model="perfil.description" auto-uppercase/>
          </div>          
        </div>
        <!-- tercera columna -->
        <div class="three-columns">
          <div>
            <label for="perfiles_usuario" class="desresumen">Usuarios:</label>
            <div style="width: 190px; float: none;" class="anchoinp">
              <select  tabindex="6" id="perfil_usuario" style="width:250px;" ng-model="form.usuario" ng-options="usuario.value for usuario in listUsuarios" ng-change="procesarUsuario()">
                <option value="" ng-if="false"></option>
              </select>
              <select id="perfiles_usuario" size="6 " style="width:250px;" ng-model="perfil.usuario" ng-options="usuario.value for usuario in perfil.listaUsuarios">
                <option value="" ng-if="false"></option>
              </select>
              <div style="width: 159px; align:center; margin-top: 2px;" class="anchoinp">
                 <button tabindex="7" style="width: 40px; margin-left: 4px;" ng-click="eliminarElementoTabla('usuario')">
                    <span class="negrita">-</span>
                 </button>
                 <button tabindex="8" style="width: 50px; margin-left: 4px;" ng-click="vaciarTabla('usuario')">
                    <span>Vaciar</span>
                 </button>
               </div>
            </div> 
          
         </div>
        </div>
      </div>
    </fieldset>
  <div class="contenedorTabla">
    <div id="contenedordatos"></div>
    <div class="centrar" style="padding: 2px;" >
      <input  tabindex="9" class="btn mybutton" id="crearPerfil" value="Guardar y Salir" ng-click="crearPerfil()" ng-show="modal.showCrear"/>
      <input  tabindex="10" class="btn mybutton" id="limpiarPerfil" value="Limpiar Campos" ng-click="resetPerfil()" ng-show="modal.showCrear"/>
      <input  tabindex="11" class="btn mybutton" id="modificarPerfil" value="Modificar y Salir" ng-click="modificarPerfil()" ng-show="modal.showModificar"/>      
      <input  tabindex="12" class="btn mybutton" id="seleccionarTodasAcciones" value="Seleccionar Todas" ng-click="seleccionarTodasAcciones()" />
      <input  tabindex="13" class="btn mybutton" id="deSeleccionarTodasAcciones" value="Deseleccionar Todas" ng-click="deSeleccionarTodasAcciones()" />
    </div>
  </div>    
    

</div>


<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje"></div>
<div id="dialog-confirm"></div>
