<article class="center">
 
    <div class="title_section clearfix">
        <div class="align-left">
            <p class="title">Parametros Seguridad</p>
        </div>

    </div>
    <div class="buscador">
        <form id="cargarTabla" class="wrapper-95">
            <fieldset>
               
                	<div>
                    	<label for="textAlias" class="desresumen"><u>Complejidad Contrase&ntilde;a:</u></label> 
                    </div>
               
                <div class="three-columns">
                    <div>
                        <label for="mayusculas" class="desresumen">May&uacute;sculas: </label> 
                        <input type="number" id="mayusculas" class="anchoinp" ng-model="parametros.mayusculas" ng-disabled="!isPermisoAccion(SecurityActions.MODIFICAR)"/>
                    </div>
                    <div>
                        <label for="numeros" class="desresumen">N&uacute;meros: </label> 
                        <input type="number" id="numeros" class="anchoinp" ng-model="parametros.numeros" ng-disabled="!isPermisoAccion(SecurityActions.MODIFICAR)"/>
                    </div>
                    <div>
                        <label for="caracteres_extranos" class="desresumen">Caracteres Especiales: [|@#&*$€?¿Ç!Ñ=(){}%] </label> 
                        <input type="number" id="caracteres_extranos" class="anchoinp" ng-model="parametros.caracteresExtranos" ng-disabled="!isPermisoAccion(SecurityActions.MODIFICAR)"/>
                    </div>
                </div>
                
                 <div class="three-columns">
                    <div>
                        <label for="longitud" class="desresumen">Longitud Contrase&ntilde;as:</label> 
                        <input type="number" id="longitud" class="anchoinp" ng-model="parametros.longitud" ng-disabled="!isPermisoAccion(SecurityActions.MODIFICAR)"/>
                    </div>
                    <div>
                        <label for="tiempo_expiracion" class="desresumen">Tiempo Expiraci&oacute;n(d&iacute;as):</label> 
                        <input type="number" id="tiempo_expiracion" class="anchoinp" ng-model="parametros.tiempoExpiracion" ng-disabled="!isPermisoAccion(SecurityActions.MODIFICAR)"/>
                    </div>
                    <div>
                        <label for="aviso_expiracion" class="desresumen">Aviso Expiraci&oacute;n(d&iacute;as):</label> 
                        <input type="number" id="aviso_expiracion" class="anchoinp" ng-model="parametros.avisoExpiracion" ng-disabled="!isPermisoAccion(SecurityActions.MODIFICAR)"/>
                    </div>
                </div>
                
                <div class="three-columns">
                    <div>
                        <label for="intentos_bloqueo" class="desresumen">Nro. Intentos fallidos antes de bloquear: </label> 
                        <input type="number" id="intentos_bloqueo" class="anchoinp" ng-model="parametros.intentosBloqueo" ng-disabled="!isPermisoAccion(SecurityActions.MODIFICAR)"/>
                    </div>
                    <div>
                        <label for="contrasenas_repetidas" class="desresumen">Nro. Contrase&ntilde;as Repetidas: </label> 
                        <input type="number" id="contrasenas_repetidas" class="anchoinp" ng-model="parametros.cotrasenasRepetidas" ng-disabled="!isPermisoAccion(SecurityActions.MODIFICAR)"/>
                    </div>
                </div>
            </fieldset>
            <div class="centrar">
                <input class="btn buscador mybutton" id="guardarParametros" ng-click="guardarParametros()"  value="Guardar" ng-if="isPermisoAccion(SecurityActions.MODIFICAR)"/> 
            </div>
        </form>
    </div>
</article>
<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje"></div>