<article class="center">  
    <div class="title_section clearfix">
        <div style="display: inline; float:left;"><p class="title">Alias</p></div>

    </div>		

    <form id="cargarTabla">
        <div class="resultados">						
            <div class="contenedorTabla"> 	
                <table id="tblAlias" class="fullTable ancha"  width="100%">
                    <thead>
                        <tr> 
                            <th >Alias</th> 
                            <th >Alias Facturaci&oacute;n</th> 
                            <th >Idioma</th> 
                            <th >Acciones</th> 
                        </tr> 
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </form>				
</article>