<article class="center">
    <form action="/sibbac20back/rest/export" method="post" name="export"
          id="export" target="export">
        <input type="hidden" name="webRequest" id="webRequest" value="">
    </form>
    <div class="title_section clearfix">
        <div style="display: inline; float: left;">
            <p class="title">Balance</p>
        </div>
        <div style="float: right; display: inline;">
            <a class="collapser_search cursor">Ocultar opciones de
                b&uacute;squeda</a> 
        </div>
    </div>
    <div class="buscador">
        <form id="cargarTabla" name="cargarTabla" class="wrapper-95" ng-submit="submitForm($event)">
            <fieldset>
                <div class="three-columns">
                    <div>
                        <label for="fliquidacionDe" class="desresumen">Fecha valor:<span>(*)</span></label> 
                        <input
                            type="text" id="fliquidacionDe" datepicker ng-model="filter.fliquidacionDe" class="anchoimp" required="required" pattern="\d{1,2}/\d{1,2}/\d{4}" title="La fecha introducida no es válida.">
                    </div>
                </div>
                <div class="three-columns">
                    <div>
                        <label for="cdisin" class="desresumen" style="width: 120px !important;">Isin:</label> 
                        <input type="text" id="cdisin" ng-model="filter.cdisin" class="anchoinp" onkeyup="javascript:this.value = this.value.toUpperCase()" />
                        <button id="btnInvCdIsin" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvCdIsin()">
		                    <span class="negrita" id="textBtnInvCdIsin">=</span>
		                </button>
		                <span id="textInvCdIsin" style="color:green;">IGUAL</span>
                    </div>
                </div>
                <div class="three-columns">
                    <div>
                        <label
                            for="selectCuenta" class="desresumen">Cuenta
                            Liquidaci&oacute;n:<span>(*)</span>
                        </label> 
                        <select id='selectCuenta' ng-required="true" ng-model="filter.cuentaLiquidacion">
                            <option value="">Seleccione cuenta</option>
                            <option ng-repeat="cuenta in cuentas" value="{{cuenta.id}}">{{cuenta.name}}</option>
                        </select>
                        <button id="btnInvCuentaLiquidacion" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvCuentaLiquidacion()">
		                    <span class="negrita" id="textBtnInvCuentaLiquidacion">=</span>
		                </button>
		                <span id="textInvCuentaLiquidacion" style="color:green;">IGUAL</span>
                    </div>
                </div>
            </fieldset>
            <div class="centrar">
                <input class="btn buscador mybutton" type="submit" id="buscar" value="Consultar" ng-click="cargarTabla.$valid && Consultar()" /> 
                <input class="mybutton" type="reset" id="limpiar" value="Limpiar Filtros" />
            </div>
        </form>
    </div>
    <div class="last-update-time-right-padding5">
        <span class="desresumen">&Uacute;ltima fecha
            actualizaci&oacute;n:</span> <span id="ultFechaMovAlias"></span>
    </div>

    <div class="mensajeBusqueda" ng-bind="followSearch"></div>
    <div>
        <div class="contenedorTabla">
            <table id="tblBalance" class="fullTable" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Balance a Fecha</th>
                        <th>Isin</th>
                        <th>Isin Descripci&oacute;n</th>
                        <th>Cuenta</th>
                        <th>Titulos</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="piePagina"></div>
    </div>
</article>

<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>
