<article class="center">
    <form action="/sibbac20back/rest/exportReport" method="post"
          name="exportReport" id="exportReport" target="exportReport">
        <input type="hidden" name="webExport" id="webExport" value="">
    </form>
    <div class="title_section clearfix">
        <div class="align-left">
            <p class="title">Conciliaci&oacute;n ER</p>
        </div>
        <div class="align-right">
            <a class="collapser_search cursor">Ocultar opciones de
                b&uacute;squeda</a>
            <!--   <a onclick="SendAsXLS()" href="javascript:void(0);" title="Export as Excel"><img src="/sibbac20/images/xls.gif"></a>
                         <a onclick="SendAsPDF()" href="javascript:void(0);" title="Export as PDF"><img src="/sibbac20/images/pdf.gif"></a>-->
        </div>

    </div>
    <div class="buscador">
        <form id="cargarTabla" ng-submit="submitForm($event)">
            <fieldset>
                <div class="wrapper-95">
                    <div class="three-columns">
                        <div>
                            <label for="fliquidacionDe" class="desresumen">F.
                                Liquidaci&oacute;n Desde:(*)</label> <input datepicker type="text"
                                                                        id="fliquidacionDe" required="required" class="anchoimp"
                                                                        pattern="\d{1,2}/\d{1,2}/\d{4}"
                                                                        title="La fecha introducida no es válida."
                                                                        ng-model="filtro.fliquidacionDe" readonly="readonly">
                        </div>
                    </div>
                    <div class="three-columns">

                        <div>
                            <label for="fliquidacionA" class="desresumen">Fecha
                                Liquidaci&oacute;n Hasta:</label> <input datepicker type="text"
                                                                     id="fliquidacionA" class="anchoimp"
                                                                     pattern="\d{1,2}/\d{1,2}/\d{4}"
                                                                     title="La fecha introducida no es válida."
                                                                     ng-model="filtro.fliquidacionA" readonly="readonly">
                        </div>
                    </div>
                    <div class="three-columns">

                        <div>
                            <label for="selectCuenta" class="desresumen">Cuenta
                                Liquidaci&oacute;n:&nbsp;<span>(*)</span>
                            </label> 
                            <select id='selectCuenta' ng-model="filtro.cdcodigocuentaliq"
                                             required="required" ng-change="onSelectCuenta">
                                <option value="">Seleccione una cuenta</option>
                                <option ng-repeat="cuenta in cuentas" value="{{cuenta.name}}" ng-bind="cuenta.name"></option>
                            </select>
                        	<button id="btnInvselectCuenta" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvselectCuenta()">
			                    <span class="negrita" id="textBtnInvselectCuenta">=</span>
			                </button>
			                <span id="textInvCdselectCuenta" style="color:green;">IGUAL</span>	                            
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="centrar">
                <input class="btn buscador mybutton" type="submit" id="buscar" value="Consultar" ng-click ="Consultar()"/> 
                <input class="mybutton" type="reset" id="limpiar" value="Limpiar Filtros" ng-click="limpiarFiltro()" />
            </div>



        </form>
    </div>
    <div class="last-update-time-left">
        <span class="desresumen">&Uacute;ltima fecha
            actualizaci&oacute;n:</span> <span id="ultFechaMovAlias"></span>
    </div>
    <div class="last-update-time-right">
        <span class="desresumen">&Uacute;ltima fecha
            actualizaci&oacute;n:</span> <span id="ultFecha"></span>
    </div>
    <div class="mensajeBusqueda"></div>
    <div class="contop">
        <div class="contenedorTabla">


            <div class="two-columns">
                <table id="tblIzquierda" cellspacing="0" width="50%">
                    <thead>
                        <tr>
                            <th>F. Liquidaci&oacute;n</th>
                            <th>Cuenta Liquidaci&oacute;n</th>
                            <th>Sistema de liquidaci&oacute;n</th>
                            <th>Efectivo</th>
                            <th>Corretaje</th>
                            <th>Importe</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="two-columns">
                <table id="tblDerecha" cellspacing="0" width="50%">
                    <thead>
                        <tr>
                            <th>F. Liquidaci&oacute;n</th>
                            <th>Cuenta Liquidaci&oacute;n</th>
                            <th>Sistema de liquidaci&oacute;n</th>
                            <th>Importe</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <div class="piePagina"></div>
    </div>
</article>
<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>
