<article class="center">
    <form action="/sibbac20back/rest/export" method="post" name="export"
          id="export" target="export">
        <input type="hidden" name="webRequest" id="webRequest" value="">
    </form>
    <div class="title_section clearfix">
        <div style="display: inline; float: left;">
            <p class="title">Clearing Balance Valor</p>
        </div>
        <div style="float: right; display: inline;">
            <a class="collapser_search cursor">Ocultar opciones de b&uacute;squeda</a> 
        </div>
    </div>
    <div class="buscador">
        <form id="cargarTabla" ng-submit="submitForm($event)">
            <fieldset>
                <div class="four-columns">
                    <div>
                        <label for="isin" class="desresumen">Isin:</label> 
                        <input type="text" id="isin" ng-model="filter.isin" class="anchoimp" onkeyup="javascript:this.value = this.value.toUpperCase()" />
                         <button id="btnInvIsin" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvIsin()">
		                    <span class="negrita" id="textBtnInvIsin">=</span>
		                </button>
		                <span id="textInvIsin" style="color:green;">IGUAL</span>     
                    </div>
                </div>
                <div class="four-columns">
                    <div>
                        <label	for="alias" class="desresumen">Cliente:</label>
                        <input type="text" id="alias" ng-model="filter.alias" class="anchoimp">
                        <button id="btnInvAlias" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvAlias()">
		                    <span class="negrita" id="textBtnInvAlias">=</span>
		                </button>
		                <span id="textInvAlias" style="color:green;">IGUAL</span>                         
                    </div>
                </div>
                <div class="four-columns">
                    <div>
                        <label for="fecha" class="desresumen">Fecha valor:</label> 
                        <input type="text" id="fecha" datepicker class="anchoimp" ng-model="filter.fecha" pattern="\d{1,2}/\d{1,2}/\d{4}" title="La fecha introducida no es válida."> 
                    </div>
                </div>
                <div class="four-columns">
                    <div>
                        <label for="selectCuenta" class="desresumen">Cuenta Liquidaci&oacute;n:<span>(*)</span></label> 
                        <select id='selectCuenta' required="required" ng-model="filter.cdcodigocuentaliq">
                            <option value="">Seleccionar cuenta</option>
                            <option ng-repeat="cuenta in cuentas" value="{{cuenta.cdCodigo}}">{{cuenta.cdCodigo}}</option>
                        </select>
                        <button id="btnInvCdcodigocuentaliq" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvCdcodigocuentaliq()">
		                    <span class="negrita" id="textBtnInvCdcodigocuentaliq">=</span>
		                </button>
		                <span id="textInvCdcodigocuentaliq" style="color:green;">IGUAL</span>                        
                    </div>
                </div>
            </fieldset>
            <div class="centrar">
                <input class="btn buscador mybutton" type="submit" id="buscar" value="Consultar" onclick="" ng-click="Consultar()" /> 
                <input class="mybutton" type="reset" id="limpiar" ng-click="cleanFilter($event)" value="Limpiar Filtros" />
            </div>
        </form>
    </div>
    <!-- <a class="button" id="getdata-button">Get JSON Data</a>
    <div id="showdata">pacopepe</div> -->
    <div id="showdata"></div>
    <div class="last-update-time-right-padding5">
        <span class="desresumen">&Uacute;ltima fecha
            actualizaci&oacute;n:</span> <span id="ultFechaMovAlias"></span>
    </div>

    <div class="mensajeBusqueda" ng-bind="rastroBusqueda"></div>
    <div>
        <div class="contenedorTabla">

            <table id="tblClearingTitulosValor" class="fullTable" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Isin</th>
                        <th>Descr.Isin</th>
                        <th>Cliente</th>
                        <th>Desc.Cliente</th>
                        <th>Titulos</th>								
                        <th>Efectivo</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
        <div class="piePagina"></div>
    </div>
</article>
<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>