<article class="center">
    <form action="/sibbac20back/rest/export" method="post" name="export"
          id="export" target="export">
        <input type="hidden" name="webRequest" id="webRequest" value="">
    </form>

    <div class="title_section clearfix">
        <div style="display: inline; float: left;">
            <p class="title">Conciliaci&oacute;n ER</p>
        </div>
        <div style="float: right; display: inline;">
            <a class="collapser_search cursor">Ocultar opciones de
                b&uacute;squeda</a>
        </div>
    </div>
    <div class="buscador">

        <form id="cargarTabla" class="wrapper-95" ng-submit="ctrl.submitForm($event)">
            <fieldset>
                <div class="three-columns">
                    <div>
                        <label for="fliquidacionDe" class="desresumen">F.
                            Liquidaci&oacute;n: (*)</label> 
                        <input type="text" id="fliquidacionDe" datepicker ng-model="ctrl.filter.fliquidacionDe" 
                            placeholder="dd/MM/yyyy" required="required" class="anchoimp" campo="obligatorio" 
                            pattern="\d{1,2}/\d{1,2}/\d{4}" title="La fecha introducida no es válida." />
                    </div>
                    <div>
                        <label for="selectCuenta" class="desresumen">Cta. Liquidaci&oacute;n: (*)</label> 
                        <select id='selectCuenta' ng-model="ctrl.filter.idCuentaLiq" required="required">
                            <option value="">Seleccionar cuenta</option>
                            <option value="{{cuenta.id}}" ng-repeat="cuenta in ctrl.cuentas">{{cuenta.name}}</option>
                        </select>
                    </div>
                </div>
                <div class="three-columns">
                    <div>
                        <label for="isin" class="desresumen">Isin:</label> 
                        <input
                            type="text" id="isin" class="anchoimp"> 
                    </div>
                    
                </div>
                <div class="three-columns">
                    <div>
                        <input type="radio" id="todos"
                               name="cuadrados" ng-model="ctrl.filter.cuadrados" checked value="todos"/> 
                        <label for="todos">Todos</label>
                    </div>
                    <div>
                        <input type="radio" id="cuadrados" ng-model="ctrl.filter.cuadrados" name="cuadrados"
                               value="cuadrados"/> 
                        <label for="cuadrados">Cuadrados</label> 
                    </div>
                    <div>
                        <input
                            type="radio" id="desCuadrados" ng-model="ctrl.filter.cuadrados" name="cuadrados"
                            value="desCuadrados" /> 
                        <label for="desCuadrados">Descuadrados</label>
                    </div>
                </div>


                <div class="centrar clear-left">
                    <input class="btn buscador mybutton" type="submit" id="buscar"
                           value="Consultar" onclick="" /> <input class="mybutton"
                           type="button" ng-click="ctrl.cleanFilter($event)" id="limpiar" value="Limpiar Filtros" />

                </div>
            </fieldset>
        </form>
    </div>
    <div id="showdata">
        <div class="last-update-time-left">
            <span class="desresumen">&Uacute;ltima fecha
                actualizaci&oacute;n:</span> <span id="ultFechaMovAlias"></span>
        </div>
    </div>
    <div class="mensajeBusqueda" ng-bind="ctrl.rastroBusqueda"></div>
    <div class="contop">
        <div class="contenedorTabla">
            <table id="tblClearingEfectivoTotal" class="fullTable" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Isin</th>
                        <th>Descripci&oacute;n Isin</th>
                        <th>Efectivo SV</th>
                        <th>Efectivo Custodio</th>
                        <th>Efectivo C&aacute;mara BME ECC</th>
                        <th>Diferencia S3</th>
                        <th>Diferencia C&aacute;mara BME ECC</th>
                        <th>F. Liquidaci&oacute;n</th>
                        <th>Cuenta Liquidaci&oacute;n</th>
                        <!--  <th>Mercado</th>-->
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="piePagina"></div>
    </div>
</article>
<div id="mensaje" class="dialogMensaje" ></div>