<article class="center">
    <div class="title_section clearfix">
        <div class="align-left">
            <p class="title">Cuentas Virtuales</p>
        </div>
        <div class="align-right">
            <a class="collapser_search cursor">Ocultar opciones de
                b&uacute;squeda</a>
        </div>
    </div>
    <div class="buscador">
        <form id="cargarTabla" ng-submit="submitForm($event)">
            <fieldset>
                <div class="wrapper-95">
                    <div class="three-columns">
                        <div>
                            <label for="fcontratacionD" class="desresumen" title="Fecha de Registro Desde">Fecha Reg. Desde:&nbsp;<span>(*)</span>
                            </label> 
                            <input type="text" id="fcontratacionD" ng-model="filtro.fcontratacionD" datepicker required="required" class="anchoimp"
                                   pattern="\d{1,2}/\d{1,2}/\d{4}"
                                   title="La fecha introducida no es válida." readonly="readonly"> 
                        </div>
                        <div class="three-columns">
                            <label for="fcontratacionA" class="desresumen" title="Fecha Registro hasta">Fecha Reg. Hasta:</label> 
                            <input type="text" id="fcontratacionA" ng-model="filtro.fcontratacionA" datepicker class="anchoimp"
                                   pattern="\d{1,2}/\d{1,2}/\d{4}"
                                   title="La fecha introducida no es válida." readonly="readonly">
                        </div>
                    </div>
                    <div class="three-columns">
                        <div>
                            <label for="cdisin" class="desresumen">Isin:</label> 
                            <input type="text" id="cdisin" class="anchoinp"> 
                        </div>
                        <div>
                            <label for="alias" class="desresumen">Alias:</label>
                            <input type="text" id="alias" class="anchoinp"> 
                        </div>
                    </div>
                    <div class="three-columns">
                        <div>
                            <label for="selectCuenta" class="desresumen">Cuenta Liquidaci&oacute;n:&nbsp;<span>(*)</span></label> 
                            <select id="selectCuenta" required="required">
                                <option value="">Seleccione una cuenta</option>
                                <option ng-repeat="cuenta in cuentas" value="{{cuenta.id}}">{{cuenta.name}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="centrar">
                <input class="btn buscador mybutton" type="submit" id="buscar"
                       value="Consultar" /> <input class="mybutton" type="reset"
                       id="limpiar" value="Limpiar Filtros" />
            </div>
        </form>
    </div>

    <div id="showdata" class="right">
        <div>
            <label class="desresumen">&Uacute;ltima fecha
                actualizaci&oacute;n:</label> <label id="ultFechaMovAlias"></label>
        </div>
    </div>
    <div class="mensajeBusqueda"></div>
    <div>
        <div class="contenedorTabla">

            <table id="tblCuentaVirtual" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th class="no-sort">Cuenta Liq.</th>
                        <th>Alias</th>
                        <th class="no-sort">Descripci&oacute;n Alias</th>
                        <th>Isin</th>
                        <th class="no-sort">Descr.Isin</th>
                        <th class="no-sort">Sistema de liquidaci&oacute;n</th>
                        <th class="no-sort">C&oacute;digo operaci&oacute;n</th>
                        <th class="no-sort">Desc.Operaci&oacute;n</th>
                        <th class="no-sort">Signo anotaci&oacute;n</th>
                        <th class="no-sort">F. Contrataci&oacute;n</th>
                        <th class="no-sort">F. Liquidaci&oacute;n</th>
                        <th class="no-sort">Importe Titulos</th>
                        <th class="no-sort">Importe Efectivo</th>
                        <th class="no-sort">Saldo Acum. T&iacute;tulos</th>
                        <th class="no-sort">Saldo Acum. Efectivo</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
        <div class="piePagina"></div>
    </div>
</article>
<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>
