<article class="center">
    <form action="/sibbac20back/rest/export" method="post" name="export"
          id="export" target="export">
        <input type="hidden" name="webRequest" id="webRequest" value="">
    </form>

    <div class="title_section clearfix">
        <div style="display: inline; float: left;">
            <p class="title">Cuentas ECC</p>
        </div>
        <div style="float: right; display: inline;">
            <a class="collapser_search cursor">Ocultar opciones de
                b&uacute;squeda</a>
        </div>
    </div>
    <div class="buscador">

        <form id="cargarTabla" class="wrapper-95" ng-submit="submitForm($event)">
            <fieldset>
                <div class="three-columns">
                    <div>
                        <label for="fliquidacionDe" class="desresumen">F.
                            Liquidaci&oacute;n Desde: (*)</label> 
                        <input type="text" id="fliquidacionDe" datepicker ng-model="fliquidacionDe" placeholder="dd/MM/yyyy" required="required" class="anchoimp" campo="obligatorio" pattern="\d{1,2}/\d{1,2}/\d{4}" title="La fecha introducida no es válida." readonly="readonly" />
                    </div>
                    <div>
                        <label
                            for="selectCuenta" class="desresumen">Cta.
                            Liquidaci&oacute;n: (*)</label> 
                        <select id='selectCuenta' ng-model="filter.idCuentaLiq" required="required">
                            <option value="">Seleccionar cuenta</option>
                            <option value="{{cuenta.id}}" ng-repeat="cuenta in cuentas">{{cuenta.name}}</option>
                        </select>
                    </div>
                 </div>
                 <div class="three-columns">
                    <div>
                        <label for="fliquidacionA" class="desresumen">F.
                            Liquidaci&oacute;n Hasta:</label> 
                        <input type="text" id="fliquidacionA" datepicker ng-model="fliquidacionA" pattern="\d{1,2}/\d{1,2}/\d{4}" title="La fecha introducida no es válida."
                               class="anchoimp" readonly="readonly">
                    </div>
                    <div>
                        <label for="camaraCompensasion" class="desresumen">
                            C&aacute;mara de Compensaci&oacute;n
                        </label>
                        <select id="selectCamara" ng-model="filter.camaraCompensacion">
                            <option value="">Seleccionar c&aacute;mara</option>
                            <option value="{{camara.value}}" ng-repeat="camara in camarasCompensacion">
                                {{camara.label}}
                            </option>
                        </select>
                    </div>
                 </div>
                 <div class="three-columns">
                    <div>
                        <label for="isin" class="desresumen">Isin:</label> 
                        <input
                            type="text" id="isin" ng-model="isinCompleto" class="anchoimp" onkeyup="javascript:this.value = this.value.toUpperCase()" />
                    </div>
                 </div>
                <div class="centrar clear-left">
                    <input class="btn buscador mybutton" type="submit" id="buscar"
                           value="Consultar" /> <input class="mybutton"
                           type="button" ng-click="cleanFilter($event)" id="limpiar" value="Limpiar Filtros" />

                </div>
            </fieldset>
        </form>
    </div>
    <div class="mensajeBusqueda" ng-bind="rastroBusqueda"></div>
    <div class="contop">
        <div class="contenedorTabla">
        	<table id="tblClearingSaldosAN" class="fullTable" cellspacing="0" width="100%">
            	<thead>
                	<tr>
                    	<th>Isin</th>
                        <th>Descripci&oacute;n Isin</th>
                        <th>Cuenta Liquidaci&oacute;n</th>
                        <th>F. Liquidaci&oacute;n</th>
                        <th>Sentido</th>
                        <th>C&aacute;mara BME ECC</th>
                        <th>Titulos</th>
                        <th>Efectivo</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="piePagina"></div>
    </div>
</article>
<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>