<script src="data/EntidadRegistro.js"></script>
<script src="data/TipoER.js"></script>
<script src="data/TipoNeteoTitulo.js"></script>
<script src="data/TipoNeteoEfectivo.js"></script>
<script src="data/TipoCuentaConciliacion.js"></script>
<script src="data/SistemaLiquidacion.js"></script>
<script src="data/CuentaMercado.js"></script>
<script src="data/RelacionCuentaMercado.js"></script>
<script src="data/CuentaLiquidacion.js"></script>
<!-- Inicia la pantalla de bloqueo cada vez que se haga una petición ajax a '/sibbac20back/rest/service' -->
<article>
    <div class="title_section clearfix">
        <div style="display: inline; float: left;">
            <p class="title">Cuentas Liquidaci&oacute;n</p>
        </div>
        <div class="align-right">
            <a class="collapser_search cursor">Ocultar opciones de
                b&uacute;squeda</a>
        </div>
        <!--   <a onclick="SendAsXLS()" href="javascript:void(0);" title="Export as Excel"><img src="/sibbac20/images/xls.gif"></a>
                        <a onclick="SendAsPDF()" href="javascript:void(0);" title="Export as PDF"><img src="/sibbac20/images/pdf.gif"></a>  -->

    </div>
    <div class="buscador">

        <form id="cargarTabla" class="wrapper-95">
            <fieldset>
                <div class="three-columns">
                    <div>
                        <label for="ER" class="desresumen">Entidad de registro</label> <input
                            type="text" id="ER" class="anchoimp"> <input
                            type="hidden" id="idER" ng-model="filtro.entidadRegistro.id" />
                    </div>

                    <div>
                        <label for="MCA" style="float: left;" class="desresumen">Mercados
                            contrataci&oacute;n asociados:</label>
                        <div style="width: 140px; position: relative; left:4px;">
                            <input type="text" id="MCA" class="anchoimp"> 
                            <select
                                id="selectedMCA" style="width: 125px; margin-top: 1px;"
                                multiple="multiple" size="4"></select>
                            <button id="btnDelMCA" 
                                    title="Eliminar mercado seleccionado."
                                    style="width: 40px; margin-left: 4px; margin-top: 1px;">
                                <span class="negrita">-</span>
                            </button>
                        </div>
                    </div>
                    <div>
                        <label for="cuentaIberclear" class="desresumen">Cuenta IberClear:</label>
                        <input type="text" pattern="[0-9a-zA-Z]{0,35}" ng-model="filtro.cuentaIberclear" />
                    </div>
                </div>
                <div class="three-columns">
                    <div>
                        <label for="numero_cuenta" class="desresumen">N&uacute;mero
                            de cuenta:</label> 
                        <input type="text" maxlength="8" id="numero_cuenta"
                               class="anchoimp" ng-model="filtro.numCuentaER">
                    </div>

                    <div>
                        <label for="tipo_cuenta" class="desresumen">Tipo de
                            cuenta:</label> 
                        <select id="tipo_cuenta" ng-model="filtro.tipoCuentaConciliacion.id">
                            <option value="" ng-selected="true">Seleccione un tipo</option>
                            <option ng-repeat="tp in tiposCuenta" value="{{tp.id}}">{{tp.name}}</option>
                        </select>
                    </div>
                    <div>
                        <label for="tipo_neteo_titulos" class="desresumen">Tipo
                            de neteo Títulos:</label> 
                        <select id="tipo_neteo_titulos" ng-model="filtro.tipoNeteoTitulo.id">
                            <option value="" ng-selected="true">Seleccione un tipo</option>
                            <option ng-repeat="tp in tiposNeteoTitulos" value="{{tp.id}}">{{tp.name}}</option>
                        </select>
                    </div>
                    <div>
                        <label for="tipo_neteo_efectivo" class="desresumen">Tipo
                            de neteo Efectivo:</label>
                        <select id="tipo_neteo_efectivo" ng-model="filtro.tipoNeteoEfectivo.id">
                            <option value="" ng-selected="true">Seleccione un tipo</option>
                            <option ng-repeat="tp in tiposNeteoEfectivo" value="{{tp.id}}">{{tp.name}}</option>
                        </select>
                    </div>
                    <div>
                        <label for="cdCodigo" class="desresumen">C&oacute;digo
                            Cuenta:</label> <input type="text" id="cdCodigo" maxlength="3" ng-model="filtro.cdcamara" />
                    </div>
                </div>
                <div class="three-columns">
                    <div>
                        <label for="cuentasrelacionadas" class="desresumen"
                               style="float: left;">Cuentas de compensaci&oacute;n:</label>
                        <div style="width: 140px;">
                            <input type="text" id="cuentasrelacionadas" /> <input
                                type="hidden" id="idCtaComp" /> <select id="selectedCC"
                                style="width: 125px; margin-top: 1px;" multiple="multiple"
                                size="4"></select>
                            <button id="btnDelCC"
                                    title="Eliminar Cuenta seleccionada."
                                    style="width: 40px; margin-left: 4px; margin-top: 1px;">
                                <span class="negrita">-</span>
                            </button>
                        </div>
                    </div>

                    <div>
                        <label for="FEE" class="desresumen">Frecuencia envio
                            extracto:</label> 
                        <input type="text" id="FEE" class="anchoimp" ng-model="filtro.frecuenciaEnvioExtracto"
                               pattern="\d*" maxlength="15"
                               title="solo se permiten valores numéricos enteros.">
                    </div>
                    <div style="clear: left;">
                        <label for="tipo_fichero" class="desresumen">Tipo de
                            fichero:</label> 
                        <select id="tipo_fichero" ng-model="filtro.tipoFicheroConciliacion">
                            <option value="" ng-selected="true">Seleccione un tipo</option>
                            <option ng-repeat="tp in tiposFichero" value="{{tp}}">{{tp}}</option>
                        </select>
                    </div>
                </div>

            </fieldset>
            <div class="centrar">
                <input class="btn buscador mybutton" type="submit" id="buscar"
                       value="Consultar" /> <input class="mybutton"
                       type="reset" id="limpiar" value="Limpiar Filtros" />
            </div>
        </form>
    </div>

    <div class="mensajeBusqueda" ng-bind="searchFollow"></div>
    <div>
        <div class="contenedorTabla">

            <table id="tblCuentaLiquidacion" class="fullTable">
                <thead>
                    <tr>
                        <th>Editar</th>
                        <th>Entidad de registro</th>
                        <th>Tipo de entidad</th>
                        <th>Mercados contratacion asociados</th>
                        <th>Numero de cuenta</th>
                        <th>Tipo de cuenta</th>
                        <th>Tipo de neteo T&iacute;tulos</th>
                        <th>Tipo de neteo Efectivo</th>
                        <th>C&oacute;digo</th>
                        <th>Cuentas relacionadas</th>
                        <th>Frecuencia envio extracto</th>
                        <th>Tipo de fichero</th>
                        <th>Sist.Liquidaci&oacute;n</th>
                        <th class="align-center">Cód.Iberclear</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
        <div class="piePagina">
            <div class="centrar">
                <input class="btn mybutton" type="button" id="altapopup"
                       value="Nueva Cuenta"
                       title="Abre formulario para crear una nueva cuenta de liquidación." ng-if="isPermisoAccion(SecurityActions.CREAR)" ng-click="modificarCuenta(0)" />
            </div>
        </div>
    </div>
</article>