<article class="center">
    <div class="title_section clearfix">
        <div style="display: inline; float: left;">
            <p class="title">Cuentas Espejo</p>
        </div>
        <div style="float: right; display: inline;">
            <a class="collapser_search btn">Ocultar opciones de
                b&uacute;squeda</a>
        </div>
    </div>
    <div class="buscador">
        <form id="cargarTabla" class="wrapper-95" ng-submit="cargarTabla()">
            <fieldset>
                <div class="two-columns">
                	<div>

                    	<label for="fliquidacionD" class="desresumen">Fecha
                       		 Desde:&nbsp;<span>(*)</span>
                    		</label> <input datepicker type="text" id="fliquidacionD" required="required" class="anchoimp" 
                                    pattern="\d{1,2}/\d{1,2}/\d{4}" title="La fecha introducida no es válida." readonly="readonly">
					</div>
					<div>
                   		 <label for="fliquidacionA" class="desresumen">Fecha
                        Hasta:</label> <input datepicker type="text" id="fliquidacionA" class="anchoimp" pattern="\d{1,2}/\d{1,2}/\d{4}" title="La fecha introducida no es válida." readonly="readonly">
				   </div>
                </div>
                <div class="two-columns">
					<div>
	                    <label for="cdisin" class="desresumen">Isin:</label> 
	                    <input type="text" id="cdisin" class="anchoinp" /> 
					</div>
					<div>
	                    <label for="selectCuenta" class="desresumen">Cuenta
	                        Liquidaci&oacute;n:&nbsp;<span>(*)</span>
	                    </label> 
	                    <select id='selectCuenta' required="required">
	                        <option value="">Seleccione una cuenta</option>
	                        <option ng-repeat="cuenta in cuentas" value="{{cuenta.id}}">{{cuenta.name}}</option>
	                    </select>
					</div>
                </div>
            </fieldset>
            <div class="centrar">
                <input class="btn buscador mybutton" type="submit" id="buscar"
                       value="Consultar" /> 
                <input class="mybutton"
                       type="reset" id="limpiar" value="Limpiar Filtros" ng-click="limpiar()"/>
            </div>
        </form>
    </div>
    <div id="showdata" class="right">
        <div>
            <label class="desresumen">&Uacute;ltima	fecha actualizaci&oacute;n:</label> 
            <label id="ultFechaMovAlias"></label>
        </div>
    </div>
    <div class="mensajeBusqueda" ng-bind="menBusCuentasEspejo"></div>
    <div>
        <div class="contenedorTabla">

            <table id="tblCuentaEspejo" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Cuenta Liq.</th>
                        <th>Isin</th>
                        <th>Descr.Isin</th>
                        <th>Sistema de liquidaci&oacute;n</th>
                        <th>C&oacute;digo operaci&oacute;n</th>
                        <th>Desc.Operaci&oacute;n</th>
                        <th>Signo anotaci&oacute;n</th>
                        <th>F. Contrataci&oacute;n</th>
                        <th>F. Liquidaci&oacute;n</th>
                        <th>Importe Titulos</th>
                        <th>Importe Efectivo</th>
                        <th>Saldo Acum. T&iacute;tulos</th>
                        <th>Saldo Acum. Efectivo</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="piePagina"></div>
    </div>
</article>

<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>