<article class="center">
    <div class="title_section clearfix">
        <div class="align-left">
            <p class="title">Desgloses Partenon</p>
        </div>
        <div class="align-right">
            <a class="collapser_search curson">Ocultar opciones de
                b&uacute;squeda</a>
        </div>
    </div>
    <div class="buscador">
        <form id="cargarTabla" class="wrapper-95"">
        	<fieldset>
                <div class="three-columns">
   					 <div>
	                    <label for="fechaDe" class="desresumen">Fecha
	                        Desde:&nbsp;<span>(*)</span>
	                    </label> <input type="text" datepicker id="fechaDe" required class="anchoimp" 
	                                    pattern="\d{1,2}/\d{1,2}/\d{4}" title="La fecha introducida no es válida." readonly="readonly"/>
	                 </div>
                </div>
                <div class="three-columns">
                	<div>
	                     <label for="fechaA" class="desresumen">Fecha
	                        Hasta:</label>
							<input type="text" id="fechaA" datepicker class="anchoimp" pattern="\d{1,2}/\d{1,2}/\d{4}" title="La fecha introducida no es válida." readonly="readonly"/>
					</div>
                </div>
                
                <div class="three-columns">
                    <div>
                        <label for="cdisin" class="desresumen" style="width: 120px !important;">Isin:</label> 
                        <input type="text" id="cdisin" class="anchoinp"> 
                        <button id="btnInvCdisin" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvCdIsin()">
		                    <span class="negrita" id="textBtnInvCdisin">=</span>
		                </button>
		                <span id="textInvCdisin" style="color:green;">IGUAL</span>	
                    </div>
                </div>
            </fieldset>
            <div class="centrar">
                <input class="btn buscador mybutton" type="button" id="buscar" value="Consultar" ng-click="cargarTabla()"/> 
                <input class="mybutton" type="reset" id="limpiar" value="Limpiar Filtros" ng-click="LimpiarFiltros()"/>
            </div>
        </form>
    </div>
    <div class="mensajeBusqueda" ng-bind="menBusDesgloseMQ"></div>
    <div>
        <div class="contenedorTabla">

            <table id="tblDesglosesMQ">
                <thead>
                    <tr>
                        <th>Validar</th>
                        <th>Acciones</th>                        
                        <th>N. Orden.</th>
                        <th>Cod. SV</th>
                        <th>F. ejecuci&oacute;n</th>
                        <th>Tipo operaci&oacute;n</th>
                        <th>Titulos</th>
                        <th>TitulosSV</th>
                        <th>Nominal </th>
                        <th>Isin</th>
                        <th>descripcion</th>
                        <th>Bolsa negociaci&oacute;n</th>
                        <th>Tipo saldo</th>
                        <th>E. Liquidadora</th>
                        <th>Tipo cambio</th>
                        <th>Validado</th>
                        <th>Procesado</th>
                    </tr>                    
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="centrar">
            <input class="mybutton" type="button" id="MarcarTod"        value="Marcar Todos" style="display:none;" ng-click="selececionarCheck()" />
            <input class="mybutton" type="button" id="MarcarPag"        value="Marcar P&aacute;gina" style="display:none;" ng-click="selececionarCheckPag()"/>
            <input class="mybutton" type="button" id="ValidarDesgloses" value="Validar" style="display:none;" ng-click="validarDesgloses()" />
        </div>
        <div class="piePagina"></div>
    </div>
</article>
<script src="js/site.js" type="text/javascript"></script>
<div id="dialog-confirm"></div>
<div id="mensaje" class="dialogMensaje" ></div>


