<article class="center">
    <div class="title_section clearfix">
        <div class="align-left">
            <p class="title">Desgloses Partenon Huerfanos</p>
        </div>
        <div class="align-right">
            <a class="collapser_search curson">Ocultar opciones de
                b&uacute;squeda</a>
        </div>
    </div>
    <div class="buscador">
        <form id="cargarTabla" class="wrapper-95" >
        	<fieldset>
                <div class="three-columns">
   					 <div>
	                    <label for="fechaDe" class="desresumen">Fecha
	                        Desde:&nbsp;<span>(*)</span>
	                    </label> <input type="text" datepicker id="fechaDe" required class="anchoimp" 
	                                    pattern="\d{1,2}/\d{1,2}/\d{4}" title="La fecha introducida no es válida." readonly="readonly"/>
	                 </div>
                </div>
                <div class="three-columns">
                	<div>
	                     <label for="fechaA" class="desresumen">Fecha
	                        Hasta:</label>
							<input type="text" id="fechaA" datepicker class="anchoimp" pattern="\d{1,2}/\d{1,2}/\d{4}" title="La fecha introducida no es válida." readonly="readonly"/>
					</div>
                </div>
                
                <div class="three-columns">
                    <div>
                        <label for="cdisin" class="desresumen" style="width: 120px !important">Isin:</label> 
                        <input type="text" id="cdisin" class="anchoinp"> 
                        <button id="btnInvCdisin" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvCdIsin()">
		                    <span class="negrita" id="textBtnInvCdisin">=</span>
		                </button>
		                <span id="textInvCdisin" style="color:green;">IGUAL</span>	                        
                    </div>
                </div>
            </fieldset>
            <div class="centrar">
                <input class="btn buscador mybutton" type="button" id="buscar" value="Consultar" ng-click="cargarTabla()" /> 
                <input class="mybutton"
                       type="reset" id="limpiar" value="Limpiar Filtros" ng-click="LimpiarFiltros()"/>
            </div>
        </form>
    </div>
    <div class="mensajeBusqueda" ng-bind="menBusDesgloseMQ"></div>
   
        <div class="contenedorTabla">
			<table id="tblDesglosesHuerfanos" width="100%">
	    		<thead>
	      			<tr>
                        <th>N. Orden</th><!-- 1 num orden -->
                       <!--  <th>Lista Desgloses</th>   <!-- 2 - false -->
                        <th>Cod. SV</th><!-- 3 Cod SV -->
                        <th>F. ejecuci&oacute;n</th><!-- 4 F ejecucion -->
                        <th>Tipo operaci&oacute;n</th><!-- 5 Tipo Operacion -->
                        <th>Titulos</th> <!-- 6 Titulos -->
                        <th>Nominal </th><!-- 7 Nominal -->
                        <th>Isin</th><!-- 8 Isin -->
                        <th>descripcion</th><!-- 9 Descripcion -->
                        <th>Bolsa negociaci&oacute;n</th><!-- 10 Bolsa negociacion -->
                        <th>Tipo saldo</th><!-- 11 Tipo Saldo -->
                        <th>E. Liquidadora</th><!-- 12 Entidad Liquidadora -->
                        <th>Tipo cambio</th><!-- 13 Entidad Liquidadora -->
                    </tr>                    
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="piePagina"></div>
   
</article>
<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>

