<article class="center">
    <form action="/sibbac20back/rest/export" method="post" name="export"
          id="export" target="export">
        <input type="hidden" name="webRequest" id="webRequest" value="">
    </form>

    <div class="title_section clearfix">
        <div style="display: inline; float: left;">
            <p class="title">Diaria</p>
        </div>
        <div style="float: right; display: inline;">
            <a class="collapser_search cursor">Ocultar opciones de
                b&uacute;squeda</a>
        </div>
        <!--   <a onclick="SendAsXLS()" href="javascript:void(0);" title="Export as Excel"><img src="/sibbac20/images/xls.gif"></a>
                        <a onclick="SendAsPDF()" href="javascript:void(0);" title="Export as PDF"><img src="/sibbac20/images/pdf.gif"></a>  -->

    </div>
    <div class="buscador">
        <form id="cargarTabla" ng-submit="submitForm($event)">
            <fieldset>
                <div class="four-columns">
                    <div>
                        <label for="fcontratacionDe" class="desresumen">Fecha
                            Cont. Desde:</label> 
                        <input type="text" id="fcontratacionDe" class="anchoimp" datepicker ng-model="filters.fcontratacionDe" pattern="\d{1,2}/\d{1,2}/\d{4}"
                               title="La fecha introducida no es válida." />
                    </div>
                    <div>
                        <label for="fcontratacionA" class="desresumen">Fecha
                            Cont. Hasta:</label> 
                        <input type="text" datepicker ng-model="filters.fcontratacionA" id="fcontratacionA" class="anchoimp"
                               pattern="\d{1,2}/\d{1,2}/\d{4}"
                               title="La fecha introducida no es válida." />
                    </div>     
                    <div>              
                        <label
                            for="selectCuenta" class="desresumen">Cta.
                            Diaria:
                        </label> 
                        <select id='selectCuenta' ng-model="filters.cuentaLiquidacion" class="anchoimp">
                            <option value="">Seleccione cuenta</option>
                            <option ng-repeat="cuenta in cuentas" value="{{cuenta}}">{{cuenta}}</option>
                        </select>
                        <button id="btnInvCuentaLiquidacion" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvCuentaLiquidacion()">
		                    <span class="negrita" id="textBtnInvcuentaLiquidacion">=</span>
		                </button>
		                <span id="textInvcuentaLiquidacion" style="color:green;">IGUAL</span>                         
                    </div>
                </div>
                <div class="four-columns">
                    <div>
                        <label for="fliquidacionDe" class="desresumen">Fecha
                            Liq Desde:</label> 
                        <input type="text" id="fliquidacionDe" datepicker ng-model="filters.fliquidacionDe"
                               class="anchoimp" pattern="\d{1,2}/\d{1,2}/\d{4}"
                               title="La fecha introducida no es válida." />
                    </div>
                    <div>
                        <label for="fliquidacionA" class="desresumen">Fecha
                            Liq Hasta:</label> 
                        <input type="text" id="fliquidacionA" datepicker ng-model="filters.fliquidacionA"
                               class="anchoimp" pattern="\d{1,2}/\d{1,2}/\d{4}"
                               title="La fecha introducida no es válida." />
                    </div>
                </div>
                <div class="four-columns">
 
                    <div>
                        <label for="cdisin" class="desresumen">Isin:</label> 
                        <input type="text" ng-model="filters.isin" id="cdisin" class="anchoimp"  onkeyup="javascript:this.value = this.value.toUpperCase()" />
                        <button id="btnInvIsin" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvIsin()">
		                    <span class="negrita" id="textBtnInvIsin">=</span>
		                </button>
		                <span id="textInvIsin" style="color:green;">IGUAL</span>    
                    </div>
                   
                    <div>
                        <label for="cdcamara" class="desresumen">C&aacute;mara:</label> 
                        <input type="text" id="cdcamara" ng-model="filters.camara" class="anchoimp" />
                        <button id="btnInvCamara" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvCamara()">
		                    <span class="negrita" id="textBtnInvCamara">=</span>
		                </button>
		                <span id="textInvCamara" style="color:green;">IGUAL</span>    
                    </div>
                </div>
                <div class="four-columns">
                    <div>
                        <label for="textCodigo" class="desresumen">Sentido:</label> 
                        <input type="text" id="sentido" ng-model="filters.sentido" class="anchoimp" />
                        <button id="btnInvSentido" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvSentido()">
		                    <span class="negrita" id="textBtnInvSentido">=</span>
		                </button>
		                <span id="textInvSentido" style="color:green;">IGUAL</span>                         
                    </div>
                    <div>
                        <label for="textCodigo" class="desresumen">Estado:</label> 
                        <input type="text" ng-model="filters.estado" id="estado" class="anchoimp"/>   
                        <button id="btnInvEstado" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvEstado()">
		                    <span class="negrita" id="textBtnInvEstado">=</span>
		                </button>
		                <span id="textInvEstado" style="color:green;">IGUAL</span>                                                   
                    </div>
                </div>

            </fieldset>
            <div class="centrar">
                <input class="btn buscador mybutton" type="submit" id="buscar" value="Consultar" onclick="" ng-click="Consultar($event)" /> 
                       <input class="mybutton" type="button" id="limpiar" ng-click="cleanFilter($event)" value="Limpiar Filtros" />
            </div>
        </form>
    </div>

    <div class="mensajeBusqueda" ng-bind="rutaBusqueda"></div>
    <div>
        <div class="contenedorTabla">

            <table id="tblDiaria" width="100%">
                <thead>
                    <tr>
                        <th>Cuenta</th>
                        <th>Isin</th>
                        <th>Desc. Isin</th>
                        <th>Alias</th>
                        <th>Desc. Alias</th>
                        <th>C&aacute;mara</th>
                        <th>Estado</th>
                        <th>F. Contrataci&oacute;n</th>
                        <th>F. Liquidaci&oacute;n</th>
                        <th>Sentido</th>
                        <th>Titulos</th>
                        <th>Precio</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
        <div class="piePagina"></div>
    </div>
</article>
<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>