<script src="data/EntidadRegistro.js" type="text/javascript"></script>
<article class="center">
    <div class="title_section clearfix">
        <div class="align-left">
            <p class="title">Entidad Registro</p>
        </div>
        <div class="align-right">
            <a class="collapser_search cursor">Ocultar opciones de
                b&uacute;squeda</a>
        </div>

    </div>
    <div class="buscador">

        <form id="cargarTabla" ng-submit="submitForm($event)">
            <fieldset>
                <div class="wrapper-95">
                    <div class="three-columns">
                        <div>
                            <label for="nombre" class="desresumen">Nombre:</label> 
                            <input type="text" id="nombre" ng-model="filter.nombre" maxlength="255" class="anchoimp"> 
                        </div>
                    </div>
                    <div class="three-columns">
                        <div>
                            <label for="bic" class="desresumen">Bic:</label> 
                            <input type="text" maxlength="255" ng-model="filter.bic" id="bic" class="anchoimp">
                        </div>
                    </div>
                    <div class="three-columns">
                        <div>
                            <label for="TER" class="desresumen">Tipo de entidad:</label> 
                            <select id="TER" ng-model="selectedTipoer" class="anchoimp" ng-options="ter.id as ter.nombre for ter in tipoerList" convert-to-number>
                                <option value="" selected>Seleccione un tipo</option>
                            </select>
                        </div>
                    </div>
                </div>
            </fieldset>
            <div class="centrar">
                <input class="btn buscador mybutton" type="submit" id="buscar"
                       value="Consultar" onclick="" /> <input class="mybutton"
                       type="reset" id="limpiar" value="Limpiar Filtros" />
            </div>
        </form>
    </div>

    <div class="mensajeBusqueda" ng-bind="searchFollow"></div>
    <div>
        <div class="contenedorTabla">

            <table id="tblEntidadRegistro" width="100%">
                <thead>
                    <tr>
                        <th>Editar</th>
                        <th>Nombre</th>
                        <th>Bic</th>
                        <th>Tipo de entidad</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
        <div class="piePagina">
            <div class="centrar">
                <input class="btn mybutton" type="button" ng-click="createER()" id="altapopup"
                       value="Nueva Entidad Registro" ng-if="isPermisoAccion(SecurityActions.CREAR)"/>
            </div>
        </div>
    </div>
</article>
<div id="dialog-confirm"></div>
<!-- <script src="views/conciliacion/js/entidadRegistro.js"></script> -->

