<div id="core" class="">
    <article class="center">
        <form id="f1">

            <div class="title_section clearfix">
                <div style="display: inline; float:left;"><p class="title">Movimientos manuales</p></div>
                <div style="float: right; display: inline;">
                    <span class="subTituloCuentaLiquidacion">Alta de movimiento manual</span> </div> 
            </div>
            <div class="buscador">

                <form id="cargarTabla">
                    <fieldset>
                        <div>
                            <label for="textCodigo" class="desresumen">Fecha Contrataci&oacute;n:</label> 
                            <input type="text" datepicker id="fcontratacion" class="anchoimp" ng-model="fcontratacion"/>

                            <label for="textCodigo" class="desresumen">Fecha Liquidaci&oacute;n*:</label> 
                            <input type="text" datepicker id="fliquidacion" required="required"  class="anchoimp" ng-model="fliquidacion"/>

                            <label for="textCodigo" class="desresumen">Sentido*:</label> 
                            <select id='selectSentido' required="required" ng-model="filtro.sentido">
                                <option value="">Seleccione una opci&oacute;n</option>
                                <option value='1'>Entrada</option>
                                <option value='2'>Salida</option>
                            </select>

                        </div>
                        <div>                                	
                            <label for="textCodigo" class="desresumen">C&aacute;mara:</label> 

                            <input type="text" id="cdcamara" class="anchoimp" />

                            <label for="textCodigo" class="desresumen">Isin*:</label> 

                            <input type="text" id="cdisin" class="anchoimp"/>

                            <label for="textCodigo" class="desresumen">Alias*:</label> 

                            <input type="text" id="alias" class="anchoimp"/>
                        </div>
                        <div> 
                            <div style="width: 312px;">
                                <label for="titulos" class="desresumen">Titulos*:</label> 
                                <input type="text" id="titulos" class="anchoimp" maxlength="19" ng-model="filtro.titulos"/>
                            </div>
                            <div  for="titulos">
                                <label for="textCodigo" class="desresumen">Cuenta Liquidaci&oacute;n  Titulos*:</label> 
                                <select id='selectCuenta'  ng-model="filtro.idCuentaLiq">
                                    <option value=0>Seleccione cuenta</option>
                                    <option ng-repeat="cuenta in cuentas" value="{{cuenta.name}}">{{cuenta.name}}</option>
                                </select>       			 				    
                            </div> 

                        </div>
                        <div>
                            <div style="width: 312px;">
                                <label for="efectivo" class="desresumen">Efectivo*:</label> 
                                <input type="text" id="efectivo" class="anchoimp" maxlength="18" ng-model="filtro.efectivo"/>
                            </div>  
                            <div  for="efectivo">
                                <label for="textCodigo" class="desresumen">Cuenta Liquidaci&oacute;n  Efectivo*:</label> 
                                <select id='selectCuenta2' required="required" ng-model="filtro.idCuentaLiqEfectivo">
                                    <option value=0>Seleccione cuenta</option>
                                    <option ng-repeat="cuenta in cuentas" value="{{cuenta.name}}">{{cuenta.name}}</option>
                                </select>
                            </div> 
                        </div>

                    </fieldset>
                    <div class="centrar">
                        <input class="btn buscador mybutton" type="submit" id="insertar" value="Insertar" ng-click="insertar($event)" ng-show="isPermisoAccion(SecurityActions.CREAR)" />
                        <input class="mybutton" type="reset"  id="limpiar" value="Limpiar Filtros" ng-click="limpiarFiltro()"/>
                    </div>
                </form>
            </div>
            <div>
                <div class="contenedorTabla">
                </div>
                <div class="piePagina">

                </div>
            </div>
        </form>
    </article>
</div>