<div id="core" class="">

    <article class="center">
        <form action="/sibbac20back/rest/export" method="post" name="export" id="export" target="export">
            <input type="hidden" name="webRequest" id="webRequest" value="">
        </form>
        <form id="propiaTitulos" name="propiaTitulos">
            <div class="title_section clearfix">
                <div style="display: inline; float:left;"><p class="title">Propia</p></div>
                <div style="float: right; display: inline;"><a class="collapser_search">Ocultar opciones de b&uacute;squeda</a>
                    <!--	<a onclick="SendAsXLS()" href="javascript:void(0);" title="Export as Excel"><img src="/sibbac20/images/xls.gif"></a>
                            <a onclick="SendAsPDF()" href="javascript:void(0);" title="Export as PDF"><img src="/sibbac20/images/pdf.gif"></a>-->
                </div>
            </div>
            <div class="buscador">
                <fieldset>
                    <!--div>
                            <label for="fcontratacionDe" class="desresumen">Fecha
                                    Contrataci&oacute;n Desde:</label>
                                                                            <input type="text" id="fcontratacionDe" class="anchoimp">
                                                                            <label for="textCodigo" class="desresumen">Fecha Contrataci&oacute;n Hasta:</label>
                                                                            <input type="text" id="fcontratacionA" class="anchoimp">
                    </div-->
                    <!--div>
                            <label for="fliquidacionDe" class="desresumen">Fecha
                                    Liquidaci&oacute;n Desde:</label> <input type="text" id="fliquidacionDe"
                                    class="anchoimp"> <label for="textCodigo"
                                    class="desresumen">Fecha Liquidaci&oacute;n Hasta:</label> <input
                                    type="text" id="fliquidacionA" class="anchoimp">
                    </div-->
                    <div>
                        <label for="cdisin" class="desresumen">Isin:</label> <input
                            type="text" id="cdisin" class="anchoimp">
                        <!--label for="cdcamara" class="desresumen">C&aacute;mara:</label>
                        <input type="text" id="cdcamara" class="anchoimp"-->
                    </div>
                </fieldset>
                <div class="centrar">
                    <input class="btn buscador mybutton" type=button id="buscar"
                           value="Consultar" ng-click="buscar()" /> <input class="mybutton"
                           type="reset" id="limpiar" value="Limpiar Filtros" ng-click="limpiarFiltro()"/>
                </div>
            </div>
            <div class="mensajeBusqueda" ng-bind='mensajeBusqueda'></div>
            <div class="contenedorTabla">
                <table id="tblCtaPropia" class="fullTable" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>Isin</th>
                            <th>Descr. Isin</th>
                            <th>Cuenta</th>
                            <!--th>C&aacute;mara</th-->
                            <!-- th>Sentido</th-->
                            <!--th>F. Contrataci&oacute;n</th-->
                            <!--th>F. Liquidaci&oacute;n</th-->
                            <th>Precio</th>
                            <th>Posici&oacute;n Abierta (T&iacute;tulos)</th>
                            <th>Posici&oacute;n Abierta (Efectivo)</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div class="piePagina"></div>
        </form>
    </article>
</div>
