

<div id="core" class="">
    <article class="center">

        <div class="title_section clearfix">
            <div style="display: inline; float:left;"><p class="title">Cuenta Propia titulos</p></div>
            <div style="float: right; display: inline;"><a class="collapser_search">Ocultar opciones de
                    b&uacute;squeda</a><a onClick="exportacion(pdf);"><img src="img/icoPdf.png" title="Exportar a PDF"/></a>&nbsp;<a onClick="exportacion(xls);"><img src="img/icoXls.png" title="Exportar a Excel" /></a></div>
        </div>
        <div class="buscador">

            <form id="cargarTabla">
                <fieldset>
                    <div>
                        <label for="fcontratacionDe" class="desresumen">Fecha Contrataci&oacute;n Desde:</label> 
                        <input type="text" id="fcontratacionDe" class="anchoimp" pattern="\d{1,2}/\d{1,2}/\d{4}" title="La fecha introducida no es válida.">
                        <label for="fcontratacionA" class="desresumen">Fecha Contrataci&oacute;n Hasta:</label> 
                        <input type="text" id="fcontratacionA" class="anchoimp"> 
                    </div>                    
                    <div>
                        <label for="fliquidacionDe" class="desresumen">Fecha Liquidaci&oacute;n Desde:</label> 
                        <input type="text" id="fliquidacionDe" class="anchoimp">
                        <label for="fliquidacionA" class="desresumen">Fecha Liquidaci&oacute;n Hasta:</label> 
                        <input type="text" id="fliquidacionA" class="anchoimp" pattern="\d{1,2}/\d{1,2}/\d{4}" title="La fecha introducida no es válida.">
                    </div>
                    <div>
                        <label for="cdisin" class="desresumen">Isin:</label> 
                        <input type="text" id="cdisin" class="anchoimp">
                        <label for="cdcamara" class="desresumen">C&aacute;mara:</label> 
                        <input type="text" id="cdcamara" class="anchoimp">
                    </div>
                </fieldset>
                <div class="centrar">
                    <input class="btn buscador mybutton" type="submit" id="buscar" value="Consultar" onclick="" />
                    <input class="mybutton" type="reset"  id="limpiar" value="Limpiar Filtros" />
                </div>
            </form>
        </div>
        <!-- <a href="#" class="button" id="getdata-button">Get JSON Data</a>
            <div id="showdata">pacopepe</div> -->
        <div id="showdata"></div>


        <div class="mensajeBusqueda"></div>
        <div>
            <div class="contenedorTabla">

                <table id="tblCtaPropia" class="fullTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Isin</th>
                            <th>Cuenta</th>
                            <th>C&aacute;mara</th>
                            <th>Sentido</th>
                            <th>F. Contrataci&oacute;n</th>
                            <th>F. Liquidaci&oacute;n</th>
                            <th>Titulos</th>
                            <th>Efectivo</th>   
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <div class="piePagina">

            </div>
        </div>
    </article>
</div>
<script src="views/conciliacion/js/propiaTitulos.js" type="text/javascript"></script>
