<article class="center">
    <form action="/sibbac20back/rest/export" method="post" name="export"
          id="export" target="export">
        <input type="hidden" name="webRequest" id="webRequest" value="">
    </form>
    <div class="title_section clearfix">
        <div style="display: inline; float: left;">
            <p class="title">Provisi&oacute;n Efectivo Propia</p>
        </div>
        <div style="float: right; display: inline;">
            <a class="collapser_search cursor">Ocultar opciones de
                b&uacute;squeda</a>
        </div>

    </div>
    <div class="buscador">
        <form id="cargarTabla" ng-submit="submitForm($event)">
            <fieldset>
                <div class="three-columns">
                    <div>
                        <label for="fContratacionDe" class="desresumen">F.
                            Contrataci&oacute;n Desde<span>(*)</span>:</label>

                        <input type="text" id="fContratacionDe" datepicker ng-model="filtro.fContratacionDe" required="required" pattern="\d{1,2}/\d{1,2}/\d{4}" title="La fecha introducida no es válida." 
                               class="anchoimp" readonly="readonly"> 
                    </div>
                </div>
                <div class="three-columns">
                    <div>
                        <label for="fContratacionA"
                               class="desresumen">Fecha Contrataci&oacute;n Hasta:</label> 
                        <input type="text" id="fContratacionA" datepicker ng-model="filtro.fContratacionA" class="anchoimp" pattern="\d{1,2}/\d{1,2}/\d{4}" title="La fecha introducida no es válida." readonly="readonly">
                    </div>
                </div>
                <div class="three-columns">
                    <div>
                        <label for="textCodigo" class="desresumen">Isin:</label>
                        <input type="text" id="cdisin" ng-model="filtro.cdisin" class="anchoinp">
                        <button id="btnInvCdIsin" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvIsin()">
		                    <span class="negrita" id="textBtnInvCdIsin">=</span>
		                </button>
		                <span id="textInvCdIsin" style="color:green;">IGUAL</span>	
                    </div>
                    
                </div>
            </fieldset>
            <div class="centrar">
                <input class="btn buscador mybutton" type="submit" id="buscar" value="Consultar" ng-click="Consultar()" /> 
                <input class="mybutton"
                       type="reset" id="limpiar" ng-click="cleanFilter($event)" value="Limpiar Filtros" />
            </div>
        </form>
    </div>
    <div class="last-update-time-right-padding5">
        <span class="desresumen">&Uacute;ltima fecha
            actualizaci&oacute;n:</span> <span id="ultFechaMovAlias"></span>
    </div>

    <div class="mensajeBusqueda" ng-bind="rastroBusqueda"></div>
    <div>
        <div class="contenedorTabla">
            <table id="tblClearingTitulos" class="fullTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Isin</th>
                        <th>Isin Descripcion</th>
                        <th>Cuenta</th>
                        <th>Efectivo</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
        <div class="piePagina"></div>
    </div>
</article>

<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>

