<article class="center">

    <div class="title_section clearfix">
        <div style="display: inline; float: left;">
            <p class="title">Provisi&oacute;n Efectivo Clearing</p>
        </div>
        <div style="float: right; display: inline;">
            <a class="collapser_search cursor">Ocultar opciones de b&uacute;squeda</a>
            <!--	<a onclick="SendAsXLS()" href="javascript:void(0);" title="Export as Excel"><img src="/sibbac20/images/xls.gif"></a>
                    <a onclick="SendAsPDF()" href="javascript:void(0);" title="Export as PDF"><img src="/sibbac20/images/pdf.gif"></a>-->
        </div>
    </div>

    <div class="buscador">

        <form id="cargarTabla" class="wrapper-95" ng-submit="submitForm($event)">
            <fieldset>
                <div class="three-columns">
                    <div>
                        <label for="fcontratacionDe" class="desresumen">F.
                            Contrataci&oacute;n Desde:<span>(*)</span>
                        </label> 
                        <input type="text" datepicker id="fcontratacionDe" ng-model="filtro.fcontratacionDe" required="required" class="anchoimp" pattern="\d{1,2}/\d{1,2}/\d{4}" title="La fecha introducida no es válida." readonly="readonly" />
                    </div>
                    <div>
                        <label for="fcontratacionA" class="desresumen">Fecha
                            Contrataci&oacute;n Hasta:</label> 
                        <input type="text" datepicker id="fcontratacionA" ng-model="filtro.fcontratacionA" class="anchoimp" pattern="\d{1,2}/\d{1,2}/\d{4}" title="La fecha introducida no es válida." readonly="readonly" />
                    </div>
                </div>
                <div class="three-columns">
                    <div>
                        <label for="cdCodigo" class="desresumen">Cuenta
                            Liquidaci&oacute;n:</label> 
                        <select id='cdCodigo' ng-model="filtro.codCtaDeCompensacion">
                            <option value="">Seleccionar Cuenta</option>
                            <option ng-repeat="cuenta in cuentas" value="{{cuenta.cdCodigo}}">{{cuenta.cdCodigo}}</option>
                        </select>
                        <button id="btnInvCdCodigo" title="Cambiar el sentido de la busqueda" style="width: 40px; margin-left: 4px; margin-top: 1px;" ng-click="btnInvCdCodigo()">
		                    <span class="negrita" id="textBtnInvCdCodigo">=</span>
		                </button>
		                <span id="textInvCdCodigo" style="color:green;">IGUAL</span>	  
                    </div>
                </div>
                <div class="three-columns">
                    <div>
                        <label for="porcentaje" class="desresumen">% fallidos:</label>
                        <input type="text" id="porcentaje" ng-model="percent" name="porcentaje"
                               maxlength="2" size="2" />
                    </div>
                </div>
            </fieldset>
            <div class="centrar">
                <input class="btn buscador mybutton" type="submit" id="buscar" value="Consultar" ng-click="Consultar()" /> 
                <input class="mybutton" type="reset" id="limpiar" ng-click="cleanForm($event)" value="Limpiar Filtros" />
            </div>
        </form>
    </div>
    <div class="last-update-time-right-padding5">
        <span class="desresumen">&Uacute;ltima fecha
            actualizaci&oacute;n:</span> <span id="ultFechaMovAlias"></span>
    </div>

    <div class="mensajeBusqueda" ng-bind="migaBusqueda"></div>
    <div>
        <div class="contenedorTabla">

            <table id="tblProvision" class="fullTable ancha" width="100%">
                <thead>
                    <tr>
                        <th>Isin</th>
                        <th>Cuenta</th>
                        <th>Efectivo</th>
                        <th>Comisiones</th>
                        <th title="Importe Favorable">Importe Fav.</th>
                        <th title="Importe Desfavorable">Importe Desf.</th>
                        <th title="Porcentaje Importe Desfavorable">Importe Desf. %</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

        </div>
        <div class="piePagina"></div>
    </div>
</article>
<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" ></div>
