<article class="center">            
    <form id="diaria" >

        <div class="title_section clearfix">
            <div style="display: inline; float:left;"><p class="title">Tipo movimiento</p></div>
        </div>    
        <div>
            <div class="contenedorTabla">

                <table id="tblTipoMovimiento"  class="fullTable"  width="100%">
                    <thead>
                        <tr>
                            <th>Codigo</th>
                            <th>Descripcion</th>
                            <th>Afecta titulos</th>
                            <th>Afecta efectivo</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <div class="piePagina">

            </div>
        </div>
    </form>
</article>			

