<article class="center">
    <div class="title_section clearfix">
        <div style="display: inline; float: left;">
            <p class="title">Tipo Entidad Registro</p>
        </div>
        <div style="float: right; display: inline;">
            <a class="collapser_search cursor">Ocultar opciones de
                b&uacute;squeda</a>
        </div>
    </div>
    <div class="buscador">

        <form id="cargarTabla" ng-submit="submitForm($event)">
            <fieldset>
                <div class="wrapper-95">
                    <div>
                        <label for="nombre" class="desresumen">Nombre:</label> 
                        <input type="text" maxlength="8" id="nombre" ng-model="filter.nombre" class="anchoimp">
                    </div>
                </div>
            </fieldset>
            <div class="centrar">
                <input class="btn buscador mybutton" type="submit" id="buscar"
                       value="Consultar" onclick="" /> <input class="mybutton"
                       type="reset" id="limpiar" value="Limpiar Filtros" />
            </div>
        </form>
    </div>
    <div class="mensajeBusqueda" ng-bind="searchFollow"></div>
    <table id="tblTipoEntidadRegistro">
        <thead>
            <tr>
                <th>Editar</th>
                <th>Nombre</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
    <div class="piePagina">
        <div class="centrar">
            <input class="btn mybutton" type="button" id="altapopup"
                   value="Nuevo Tipo Entidad Registro" ng-if="isPermisoAccion(SecurityActions.CREAR)"  ng-click="abrirAltaTipoEntidadRegistro()" />
        </div>
    </div>
</article>
<div id="dialog-confirm"></div>

