<article class="center">
    <div title-slide-filter showing="ctrl.showingFilter">Pti. Executions</div>
    <div class="buscador">        
        <form name="filters" ng-submit="ctrl.executeQuery()">
            <fieldset class="clearfix">
                <span style="float:left;">
	                <label>
	                    Todos
	                    <input type="radio" ng-model="ctrl.filter.nutitpendcase" value="T">
	                </label>
	                <label>
	                    Pendientes            
	                    <input type="radio" ng-model="ctrl.filter.nutitpendcase" value="P">
	                </label>
	                <label>Recibidos
	                    <input type="radio" ng-model="ctrl.filter.nutitpendcase" value="R">
	                </label>
                </span>
                <div class="dynamic-filter" ng-repeat="f in ctrl.filterList">
                    <sb-filter-element value="f" target="ctrl"></sb-filter-element>
                </div>
            </fieldset>
            <div class="centrar">
                <input class="btn mybutton" type="submit" value="Consultar"/> 
                <input class="mybutton" type="button"
                    value="Limpiar" ng-click="ctrl.filter = {}">
            </div>
        </form>
    </div>
    <div ng-hide="ctrl.showingFilter">
       <div class="mensajeBusqueda" ng-bind="ctrl.followSearch"></div>
       <div class="centrar">
           <input class="btn mybutton" type="button" value="Refrescar"
                ng-click="ctrl.executeQuery()"/> 
       </div>
    </div>
</article>
<div>
    <div class="contenedorTabla">
        <div style="text-align: right;">    
            <input type="text" ng-model="ctrl.singleFilterValue" placeholder="Buscar..."
                ng-change="ctrl.refreshSingleFilter()" size="30" auto-uppercase="auto-uppercase" />
            <a download="{{ctrl.selectedQuery.accion}}.xlsx" ng-href="{{ctrl.exportUrl('excel')}}">Excel</a> 
            <a download="{{ctrl.selectedQuery.accion}}.csv" ng-href="{{ctrl.exportUrl('csv')}}">CSV</a> 
        </div>
        <div ui-grid="ctrl.grid" ui-grid-pagination ui-grid-resize-columns></div>
        
    </div>
</div>