<div class="title_section clearfix">
    <div style="display: inline; float:left;">
        <p class="title">Generaci&oacute;n y env&iacute;o de Informe Mensual</p>
    </div>
    <div style="float: right; display: inline;">
        <a class="collapser_search" id="collapsableSearchReport">Ocultar opciones de b&uacute;squeda</a>
    </div>
</div>
<div class="buscador" id="buscadorCollapsable2" style="max-height:100px;">
    <form id="cargarTabla" class="wrapper-95" autocomplete="off" novalidate>
        <fieldset>
            <div class="three-columns">
                <label for="fecha" class="desresumen">Fecha desde:</label>
                <input datepicker type="text" id="fecha" class="anchoimp" pattern="\d{1,2}/\d{1,2}/\d{4}" required="required"
                    ng-model="dateInit" readonly/>
            </div>
            <div class="three-columns">
                <p></p>
            </div>
            <div class="three-columns">
                <label for="fechaFin" class="desresumen">Fecha hasta:</label>
                <input type="text" id="fechaFin" class="anchoimp" pattern="\d{1,2}/\d{1,2}/\d{4}" required="required" 
                    ng-model="dateEnd" readonly/>

            </div>
        </fieldset>

        <div class="centrar">
            <input class="btn buscador mybutton" type="submit" id="processBtn" value="Enviar" ng-click="submitInfo()" />
        </div>
    </form>

    <div class="container">

        <button type="button" class="btn invisible" id="errorDmoModal" data-toggle="modal" data-target="#myModal"></button>
        <!-- Modal -->
        <div class="fade modal-error" id="myModal" role="dialog">
            <div class="modal-dialog" style="z-index: 1000;">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Error</h4>
                    </div>
                    <div class="modal-body">
                        <p>
                            <strong>{{errorMsg}}</strong>
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
<div class="centrar" id="mensajesError" ng-show="mostrarErrores" style="" ng-hide="httpMsgHide">
    <p class="titleAlta" id="titleListaErrores">Resumen:</p>
    <p class="ng-binding">{{httpMsg}}</p>
</div>