<script>
	document.title = "Login";
	$('#tituloHeader').empty();
	$('#tituloHeader').append("Acceso a usuarios");
</script>

<div id="authenticationError">

		<div>

			<form style="width: 400px;">
			
				<div>Inicie sesi&oacute;n</div>
				
				<label for="usuario">Usuario</label>
				<input id="usuarioInput" type="text" class="form-control" ng-model="user.username" ng-blur="verificarUsuario()"
				placeholder="Usuario" required autofocus>

	
				<p ng-show="passwordReseteado">
				<br>El usuario debe resetear la contrase&ntilde;a antes de acceder a la aplicaci&oacute;n, por favor ingrese una nueva.
				</p>
					
				<label for="inputPassword">Contrase&ntilde;a</label>
				<input autocomplete="off" ng-model="user.password" type="password" id="inputPassword2" class="form-control"
					 placeholder="Password" required ng-blur="verificarUsuario()" ng-enter="doLogin()">
					
				<label for="inputPassword" ng-show="passwordReseteado">Nueva Contrase&ntilde;a</label>
				<input autocomplete="off" ng-model="user.nuevoPassword" type="password" id="inputPasswordNew" class="form-control"
					 placeholder="Password" required ng-show="passwordReseteado">
					
				<label for="inputPassword" ng-show="passwordReseteado">Confirmar Contrase&ntilde;a</label>
				<input autocomplete="off" ng-model="confirmacionPassword" type="password" id="inputconfirmacionPassword" class="form-control"
					ng-show="passwordReseteado" placeholder="Password" required>
				<p ng-show="(user.nuevoPassword != confirmacionPassword && passwordReseteado)">El campo Confirmaci&oacute;n de Contrase&ntilde;a debe coincidir con el campo Contrase&ntilde;a.</p>
					
				<button class="btn buscador mybutton"  ng-show="!passwordReseteado" type="button" ng-click="doLogin()"
					ng-disabled="!usuarioVerificado || (user.nuevoPassword != confirmacionPassword && passwordReseteado)">Acceder</button>
          
                  <button class="btn buscador mybutton" type="button" ng-show="passwordReseteado" ng-click="doRestablecerLogin()"
                  ng-disabled="!usuarioVerificado || (user.nuevoPassword != confirmacionPassword && passwordReseteado)">Acceder</button>
          
			</form>
			<br><br>

		</div>
		<!-- /container -->

</div>

<div id="mesajeContrasena" class="modal mensajeLogin" >
	<div class="esquinar">
		<a data-dismiss="modal" id="cerrarTitular"> <img
			src="img/closeModal.png" title="Cerrar Ventana"
			style="cursor: pointer;" />
		</a>
	</div>
	<p class="titleAlta" id="titleTitulo" style="font-size:17px;">Mensaje Informativo</p>

	<fieldset>
		<div class="row" style="padding-top: 10px; margin-top: 10px;">
			<div class="col-md-offset-1 col-md-1" style="vertical-align: middle;">
				<img alt="nueva_plantilla" ng-src="images/warning.png" height="40px">
			</div>
			<div class="col-md-offset-1 col-md-9">
				<p style="margin: 2px; font-size:12px;">{{mensajeCaducidad}}</p>
			</div>
		</div>	
		<div class="centrar" style="padding-top: 7px; margin-top: 7px;">
		  	<input type="button" class="btn mybutton" id="guardarModal" value="Aceptar" ng-click="aceptarMensaje()"/>
		</div>
	</fieldset>
</div>

<div id="mesajeError" class="modal mensajeLogin" >
  <div class="esquinar">
    <a data-dismiss="modal" id="cerrarTitular"> <img
      src="img/closeModal.png" title="Cerrar Ventana"
      style="cursor: pointer;" />
    </a>
  </div>
  <p class="titleAlta" id="titleTitulo" style="font-size:17px;">Mensaje Error</p>

  <fieldset>
    <div class="row" style="padding-top: 10px; margin-top: 10px;">
      <div class="col-md-offset-1 col-md-1" style="vertical-align: middle;">
        <img alt="nueva_plantilla" ng-src="images/error.png" height="40px">
      </div>
      <div class="col-md-offset-1 col-md-9">
        <p style="margin: 2px; font-size:12px;">{{mensajeError}}</p>
      </div>
    </div>  
  </fieldset>
</div>



<script src="js/site.js" type="text/javascript"></script>
<div id="mensaje" class="dialogMensaje" style="z-index: 9999999 !important"></div>
<div id="dialog-confirm"></div>
