<div class="title_section clearfix">
	<div style="display: inline; float: left;">
		<p class="title">Lanzamiento manual</p>
	</div>
</div>

<div class="buscador" id="buscadorCollapsable"
	style="max-height: 100px;">
	<form name="filters" ng-submit="ctrl.ejecuteFicherosNacionalTask()">
		<fieldset class="clearfix">
			<div class="one-column">
				<label for="fechaPagoFilter" class="desresumen">Fecha de
					ejecución: </label> <input type="text" id="fechaPagoFilter" datepicker
					class="anchoinp2" ng-model="ctrl.params.fechaEjecucion"
					placeholder="dd/mm/yyyy" title="yyyy-mm-dd" maxlength="10"
					readonly="readonly" required />
			</div>
		</fieldset>
		<div class="centrar">
			<input class="btn mybutton" type="submit" value="Generar"
				ng-disabled="ctrl.scope.params.$invalid" />
		</div>
	</form>
</div>


<!-- Modal resultado de la accion -->
<div id="resultDialog">
	<modal-result-dialog></modal-result-dialog>
</div>
