<meta content="text/html; charset=iso-8859-1" http-equiv=Content-Type>
<article class="center">
	<div class="title_section clearfix">
		<div class="align-left">
			<p class="title">Valores</p>
		</div>
		<div class="buscador">
			<!-- Filtros devueltos por la llamada a ctrl.selectQuery()-->
			<form name="filters" ng-submit="ctrl.executeQuery()">
				<!-- Imputs -->
				<fieldset class="clearfix">
					<div class="dynamic-filter" ng-repeat="f in ctrl.filterList">
						<sb-filter-element value="f" target="ctrl"></sb-filter-element>
					</div>
				</fieldset>
				<!-- Consultar / Limpiar buttons -->
				<div class="centrar">
					<input class="btn mybutton" type="submit" value="Consultar" ng-disabled="!ctrl.selectedQuery" />
					<input class="mybutton" type="button" value="Limpiar" ng-click="ctrl.filter = {}">
				</div>
			</form>
		</div>
		<!-- Mensaje debajo del filtro / Refrescar button-->
		<div ng-hide="ctrl.showingFilter">
			<div class="centrar">
				<input class="btn mybutton" type="button" value="Refrescar" ng-disabled="!ctrl.selectedQuery" ng-click="ctrl.executeQuery()" />
			</div>
		</div>
</article>
<div>
	<div class="contenedorTabla">
		<!-- Tabla -->
		<div ng-if="ctrl.grid" ui-grid="ctrl.grid" ui-grid-selection ui-grid-pagination ui-grid-resize-columns></div>
		<!-- Crear / Modificar / Eliminar buttons -->
		<div class="centrar">
			<input class="btn buscador mybutton" type="button" ng-click="ctrl.openModal('save')" value="Crear" />
			<input class="btn buscador mybutton" type="button" ng-click="ctrl.openModal('edit')" ng-disabled="ctrl.selectedRows().length != 1"
			 value="Modificar" />
			<input class="btn buscador mybutton" type="button" ng-click="ctrl.delete()" ng-disabled="ctrl.selectedRows().length === 0"
			 value="Eliminar" />
		</div>
	</div>
</div>

<!-- Modal que contiene los apartados de Datos ISIN / Cotización -->
<div id="modalPrevious">
	<div class="buscador clearfix">
		<form id="formPrev" name="formPrev" novalidate>
			<fieldset>
				<!-- Datos ISIN -->
				<label class="desresumen subtitleModal">Datos ISIN</label>
				<!-- Fila 1 -->
				<div class="padding-2per">
					<div class="modal-input3M">
						<label class="labelValores" for="CDISINVV">C&oacuted. ISIN</label><br>
						<input ng-model-options="{allowInvalid:true}" class="width90" name="CDISINVV" id="CDISINVV" type="text" pattern="^.{12}$" maxlength="12" ng-model="ctrl.params.CDISINVV"
						 ng-change="ctrl.calcularBanco()" ng-disabled="!ctrl.saveFlag" auto-uppercase required>
					</div>
					<div class="modal-input3L">
						<label class="labelValores" for="NBTITREV">Nombre</label><br>
						<input ng-model-options="{allowInvalid:true}" class="width90" name="NBTITREV" id="NBTITREV" type="text" maxlength="31" ng-model="ctrl.params.NBTITREV" auto-uppercase required>
					</div>
					<div class="modal-input3S">
						<label class="labelValores" for="FHINICIV">Fecha Emisi&oacuten</label><br>
						<input ng-model-options="{allowInvalid:true}" class="width90" id="FHINICIV" name="FHINICIV" type="text" datepicker class="anchoimp2" placeholder="dd/mm/yyyy"
						 pattern="\d{1,2}/\d{1,2}/\d{4}" maxlength="10" readonly="readonly" ng-model="ctrl.params.FHINICIV" required>
					</div>
				</div>
				<!-- Fila 2 -->
				<div class="padding-2per">
					<div class="modal-input3S margin-right14per">
						<label class="labelValores" for="FHBAJACV">Fecha Baja</label><br>
						<input ng-model-options="{allowInvalid:true}" class="width90" id="FHBAJACV" name="FHBAJACV" type="text" datepicker class="anchoimp2" placeholder="dd/mm/yyyy" pattern="\d{1,2}/\d{1,2}/\d{4}"
						 maxlength="10" readonly="readonly" ng-model="ctrl.params.FHBAJACV" required>
					</div>
					<div class="modal-input3S margin-right14per">
						<label class="labelValores" style="max-width: none;" for="CDCVABEV">Código de Banco España</label><br>
						<input ng-model-options="{allowInvalid:true}" class="width90" id="CDCVABEV" name="CDCVABEV" type="text" pattern="^.{8}$" maxlength="8" readonly="readonly" ng-model="ctrl.params.CDCVABEV" required>
					</div>
					<div class="modal-input3M">
						<label class="labelValores" for="CDGRSIBV">Grupo SIBE</label><br>
						<select class="width90" id="CDGRSIBV" name="CDGRSIBV" ng-model="ctrl.params.CDGRSIBV">
							<option ng-repeat="item in ctrl.listadoSibe" value="{{item.value}}" ng-selected="{{item.value == ctrl.params.CDGRSIBV}}">
								{{item.label}} </option>
						</select>
					</div>
				</div>
				<!-- Fila 3 -->
				<div class="padding-2per">
					<div class="modal-input3S margin-right14per">
						<label class="labelValores" for="NBTIT10C">C&oacutedigo SIBE</label><br>
						<input ng-model-options="{allowInvalid:true}" class="width90" id="NBTIT10C" name="NBTIT10C" type="text" maxlength="10" auto-uppercase ng-model="ctrl.params.NBTIT10C">
					</div>
					<div class="modal-input3M">
						<label class="labelValores" for="CDINSTRU">Tipo Instrumento</label><br>
						<select class="width90" id="CDINSTRU" name="CDINSTRU" ng-model="ctrl.params.CDINSTRU">
							<option ng-repeat="item in ctrl.listadoInstrumento" value="{{item.value}}" ng-selected="{{item.value == ctrl.params.CDINSTRU}}">
								{{item.label}} </option>
						</select>
					</div>
				</div>
				<!-- Cotización -->
				<label class="desresumen subtitleModal">Cotización</label>
				<!-- Fila 1 -->
				<div class="five-columns padding-2per">
					<label class="desresumen width10per" for="CDCOTMAV">Madrid</label>
					<input ng-model-options="{allowInvalid:true}" type="checkbox" id="CDCOTMAV" ng-model="ctrl.params.CDCOTMAV" ng-true-value="'S'" ng-false-value="'N'" class="margin-right5per">
					<label class="desresumen width10per" for="CDCOTBAV">Barcelona</label>
					<input ng-model-options="{allowInvalid:true}" type="checkbox" id="CDCOTBAV" ng-model="ctrl.params.CDCOTBAV" ng-true-value="'S'" ng-false-value="'N'" class="margin-right5per">
					<label class="desresumen width10per" for="CDCOTBIV">Bilbao</label>
					<input ng-model-options="{allowInvalid:true}" type="checkbox" id="CDCOTBIV" ng-model="ctrl.params.CDCOTBIV" ng-true-value="'S'" ng-false-value="'N'" class="margin-right5per">
					<label class="desresumen width10per" for="CDCOTVAV">Valencia</label>
					<input ng-model-options="{allowInvalid:true}" type="checkbox" id="CDCOTVAV" ng-model="ctrl.params.CDCOTVAV" ng-true-value="'S'" ng-false-value="'N'" class="margin-right5per">
					<label class="desresumen width10per" for="CDCOTVRV">Otras</label>
					<input ng-model-options="{allowInvalid:true}" type="checkbox" id="CDCOTVRV" ng-model="ctrl.params.CDCOTVRV" ng-true-value="'S'" ng-false-value="'N'" class="margin-right5per">
				</div>
				<!-- Fila 2 -->
				<div class="five-columns padding-2per">
					<label class="desresumen width10per" for="CDCOTEXV">Extranjero</label>
					<input ng-model-options="{allowInvalid:true}" type="checkbox" id="CDCOTEXV" ng-model="ctrl.params.CDCOTEXV" ng-true-value="'S'" ng-false-value="'N'" class="margin-right5per">
				</div>
			</fieldset>
		</form>
	</div>
</div>

<!-- Modal para crear button -->
<div id="modalNext">
	<div class="buscador clearfix">
		<form id="formNext" name="formNext" novalidate>
			<fieldset>
				<!-- Datos Emisión -->
				<label class="desresumen subtitleModal">Datos Emisión</label>
				<!-- Fila 1 -->
				<div class="padding-2per">
					<div class="modal-input4M margin-right8per">
						<label class="labelValores" for="CDCIFSOC">CIF Emisor</label><br>
						<input ng-model-options="{allowInvalid:true}" class="width90" id="CDCIFSOC" name="CDCIFSOC" type="text" maxlength="9" auto-uppercase ng-model="ctrl.params.CDCIFSOC">
					</div>
					<div class="modal-input4M margin-right8per">
						<label class="labelValores" for="NUNOMINV">Nominal</label><br>
						<input ng-model-options="{allowInvalid:true}" class="width90" id="NUNOMINV" name="NUNOMINV" type="text" maxlength="17" pattern="^[0-9]{1,17}(?:\.[0-9]{1,4})?$" ng-model="ctrl.params.NUNOMINV">
					</div>
					<div class="modal-input4S margin-right3per">
						<label class="labelValores" for="CDMONEDV">ISO Moneda</label><br>
						<select class="width90" id="CDMONEDV" name="CDMONEDV" ng-model="ctrl.params.CDMONEDV" required>
							<option value=""></option>
							<option ng-repeat="item in ctrl.listadoMonedas" value="{{item.value}}" ng-selected="{{item.value == ctrl.params.CDMONEDV}}">
								{{item.label}} </option>
						</select>
					</div>
					<div class="modal-input4S margin-right3per">
						<label class="labelValores" for="CDPAISEV">Pa&iacutes Emisor</label><br>
						<select class="width90" id="CDPAISEV" name="CDPAISEV" ng-model="ctrl.params.CDPAISEV">
							<option ng-repeat="item in ctrl.listadoPaises" value="{{item.value}}" ng-selected="{{item.value == ctrl.params.CDPAISEV}}">
								{{item.label}} </option>
						</select>
					</div>
				</div>
				<!-- Fila 2 -->
				<div class="padding-2per">
					<div class="modal-input4S" style="margin-right: 21%;">
						<label class="labelValores" for="CDDIVISV">Divisa</label><br>
						<select class="width90" id="CDDIVISV" name="CDDIVISV" ng-model="ctrl.params.CDDIVISV">
							<option ng-repeat="item in ctrl.listadoMonedas" value="{{item.value}}" ng-selected="{{item.value == ctrl.params.CDDIVISV}}">
								{{item.label}} </option>
						</select>
					</div>
					<div class="modal-input4S margin-right8per">
						<label class="labelValores" for="NUDELOTE">Lote Latibex</label><br>
						<input ng-model-options="{allowInvalid:true}" class="width90" id="NUDELOTE" name="NUDELOTE" type="text" maxlength="7" pattern="^[0-9]{0,7}$" ng-model="ctrl.params.NUDELOTE">
					</div>
				</div>
			</fieldset>
		</form>
	</div>
</div>

<!-- Dialog confirm -->
<div id="dialog-confirm"></div>
<div id="mensajeConfirm" class="dialogMensaje"></div>
<script src="js/site.js" type="text/javascript"></script>

<!-- Modal resultado de la accion -->
<div id="resultDialog">
	<modal-result-dialog></modal-result-dialog>
</div>