<!DOCTYPE html>
<html lang="es" ng-app="sibbac20">
<head>
<title>SIBBAC</title>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="css/reset.css" rel="stylesheet">
<link href="css/menu-12.css" rel="stylesheet">
<!-- JQUERY UI-->
<link href="css/jquery/jquery-ui.min.css" rel="stylesheet" type="text/css" />
<link href="css/jquery/theme.css" rel="stylesheet" type="text/css" />
<!--END-->

<!-- BOOTSTRAP -->
<link href="libs/bootstrap-3.3.5/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />
<link href="libs/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<!-- END BOOTSTRAP -->
<!-- ui-grid -->
<link rel="stylesheet" type="text/css" href="css/ui-grid.min.css">
<link rel="stylesheet" type="text/css" media="screen" href="css/ui.jqgrid.css" />
<link href="css/datepicker.css" rel="stylesheet">
<link rel="stylesheet" href="css/sibbac20.css">
<link href="css/ticker-style.css" rel="stylesheet" type="text/css" />
<!-- split -->
<link href="css/split.css" rel="stylesheet">
<!--datatable-->
<link href="css/datatable/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="css/datatable/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
<link href="css/tableTools.css" rel="stylesheet" type="text/css" />
<link href="css/datatable.css" rel="stylesheet" type="text/css" />
<!--end -->

<link href="css/autocompletar.css" rel="stylesheet" type="text/css" />
<link href="css/main.css" rel="stylesheet" type="text/css" />
<link href="libs/angular-growl/angular-growl.min.css" rel="stylesheet" type="text/css" />
<!-- animation -->
<link href="css/animation.css" rel="stylesheet" type="text/css" />
<!-- ngGrid -->
<link rel="stylesheet" href="css/ng-grid.css">
<!-- ngDialog -->
<link rel="stylesheet" href="libs/ngDialog/css/ngDialog.css">
<link rel="stylesheet" href="libs/ngDialog/css/ngDialog-theme-default.css">
<link rel="stylesheet" href="libs/ngDialog/css/ngDialog-theme-plain.css">
<link rel="stylesheet" href="libs/ngDialog/css/ngDialog-custom-width.css">
<!-- end -->
<!-- angucomplete-alt -->
<link href="libs/angucomplete-alt/angucomplete-alt.css" rel="stylesheet" type="text/css" />
<!-- angular-block-ui -->
<link href="libs/angular-block-ui/angular-block-ui.css" rel="stylesheet" type="text/css" />
<!-- Favicon. -->
<link rel="icon" type="image/vnd.microsoft.icon" href="santander.ico">



</head>
<body ng-app="sibbac20" ng-controller="MainController">
  <div growl></div>
  <header class="clearfix">
    <div id="divHeader" ng-include="'components/header/header.html'"></div>
  </header>
  <aside class="clearfix" ng-if="authenticated">
    <div class="notificaciones" ng-cloack ng-include="'components/notificaciones/notificaciones.html'"
      ng-if="authenticated"
    ></div>
  </aside>
  <div class="clearfix" id="menuv" ng-cloack ng-include="'components/menu/menu.html'" ng-controller="MenuController"
    ng-if="authenticated && permisosCargados"
  ></div>
  <section class="wrapper-95">
    <div ng-view></div>
  </section>
  <footer id="divFooter" ng-include="'components/footer/footer.html'"> </footer>
  <script src="js/jquery-1.11.2.min.js"></script>
  <script src="js/jquery.number.min.js"></script>
  <script src="js/autocompletar.js"></script>
  <!--datatable-->
  <script src="js/datatables/jquery.dataTables.js"></script>
  <script src="js/datatables/tableTools.js"></script>
  <script src="js/datatables/dataTables.buttons.min.js"></script>
  <script src="js/jszip.min.js"></script>
  <script src="js/PageableDataTableCache.js"></script>
  <script src="js/pdfmake.min.js"></script>
  <script src="js/vfs_fonts.js"></script>
  <script src="js/datatables/buttons.html5.min.js"></script>
  <script src="js/datatables/date-eu.js"></script>
  <script src="js/date.js"></script>


  <!--end datatable-->
  <script src="js/jquery.blockUI.js"></script>
  <script src="js/datepicker2.js" type="text/javascript"></script>
  <script src="js/jquery.hotkeys.extended.js" type="text/javascript"></script>
  <script src="js/main.js"></script>
  <script src="js/site.js"></script>
  <script src="js/utilsibbac.js"></script>
  <!-- La siguiente libreria hay que quitarla pues tiene código intrusivo 
             se deja hasta que se detecte desde dónde se está usando para quitarla-->
  <!--script src="js/componentsibbac.js" type="text/javascript"></script-->
  <script src="js/jquery.bpopup.min.js"></script>
  <script src="js/angular/angular-1.4.1.js"></script>
  <script src="js/angular/angular-resource.min.js"></script>
  <script src="js/angular/angular-route-1.4.1.js"></script>
  <script src="js/angular/angular-animate.min.js"></script>
  <!--  split pane -->
  <script src="js/split.js"></script>
  <!-- ui-grid -->
  <script src="js/angular/ui-grid.min.js"></script>
  <!--ngGrid -->
  <script src="js/angular/ng-grid.min.js"></script>
  <!-- configuracion -->
  <script src="config/config.js" type="text/javascript"></script>
  <!-- end configuracion -->
  <!-- bootstrap -->
  <script src="libs/bootstrap-3.3.5/js/bootstrap.min.js" type="text/javascript"></script>
  <!-- end -->
  <!-- angular-growl -->
  <script src="libs/angular-growl/angular-growl.min.js"></script>
  <!-- ngDialog -->
  <script src="libs/ngDialog/js/ngDialog.min.js" type="text/javascript"></script>
  <!-- angucomplete-alt -->
  <script src="libs/angucomplete-alt/angucomplete-alt.js" type="text/javascript"></script>
  <!-- datepicker -->
  <script src="libs/angular-jquery-datepicker/angular-jquery-datepicker.js" type="text/javascript"></script>
  <!-- moment -->
  <script src="libs/angular-moment/moment-with-locales.js" type="text/javascript"></script>
  <script src="libs/angular-moment/angular-moment.js" type="text/javascript"></script>
  <!-- angular-block-ui -->
  <script src="libs/angular-block-ui/angular-block-ui.js"></script>
  <!-- ANGULAR CORE -->
  <script src="js/app.js"></script>
  <script src="js/appLogger.js"></script>
  <script src="js/appRouting.js"></script>
  <script src="js/appConfig.js"></script>
  <!-- Seguridad -->
  <script src="js/service/seguridad/SecurityService.js"></script>
  <!-- service catalogos -->
  <script src="js/service/CatalogoService.js"></script>
  <!-- common -->
  <script src="js/common/sibbac-directives.js"></script>

  <script src="js/service/plantillasInformes/DirectivasService.js"></script>
  <script src="js/common/sb-filter-element.js"></script>
  <script src="js/common/sb-value-list.js"></script>
  <script src="js/common/sb-date.js"></script>
  <script src="js/common/sb-combo.js"></script>
  <script src="js/common/FilteredGridController.js"></script>
  <script src="js/common/DynamicFiltersController.js"></script>
  
  <!-- modal -->
  <script src="js/modal/modalResultDialog.js"></script>

  <!-- Constantes -->
  <script src="js/constants/Constantes.js"></script>


  <!-- SERVICIOS -->
  <!-- GestionAccesos -->
  <script src="js/service/gestionAccesos/GestionUsuariosService.js"></script>
  <script src="js/service/gestionAccesos/GestionPerfilesService.js"></script>
  <script src="js/service/gestionAccesos/ParametrosSeguridadService.js"></script>
  <!-- PlantillasInformes -->
  <script src="js/service/plantillasInformes/GenerarInformesService.js"></script>
  <script src="js/service/plantillasInformes/GenerarInformesNEWService.js"></script>
  <script src="js/service/plantillasInformes/PlantillasInformesService.js"></script>
  <script src="js/service/plantillasInformes/PlantillasInformesNEWService.js"></script>
  <script src="js/service/plantillasInformes/PlanificacionInformesService.js"></script>
  <!-- Facturas Manuales -->
  <script src="js/service/facturasManuales/FacturasManualesService.js"></script>
  <script src="js/service/facturasManuales/BajasManualesService.js"></script>
  <script src="js/service/facturasManuales/RectificativasManualesService.js"></script>
  <script src="js/service/facturasManuales/CombosFacturasManualesService.js"></script>
  <script src="js/service/facturasManuales/AsientosContablesService.js"></script>
  <!-- MantenimientoDatosCliente -->
  <script src="js/service/mantenimientoDatosCliente/MantenimientoTitularesService.js"></script>
  <script src="js/service/mantenimientoDatosCliente/CargaFicheroSwiftService.js"></script>
  <script src="js/service/mantenimientoDatosCliente/GestionClientesService.js"></script>
  <!-- Seguridad -->
  <script src="js/service/seguridad/SecurityService.js"></script>

  <!-- server -->
  <script src="js/service/ServerVarsService.js"></script>
  <!-- end -->
  <script src="js/service/IsinService.js"></script>
  <script src="js/service/CuentaLiquidacionService.js"></script>
  <script src="js/service/AliasService.js"></script>
  <script src="js/service/CamaraService.js"></script>
  <script src="js/service/MovimientoVirtualService.js"></script>
  <script src="js/service/EstadoService.js"></script>
  <script src="js/service/ConfigManagerService.js"></script>
  <!-- conciliacion -->
  <script src="js/service/conciliacion/ConciliacionClearingService.js"></script>
  <script src="js/service/conciliacion/ConciliacionBalanceService.js"></script>
  <script src="js/service/conciliacion/ConciliacionEfectivoService.js"></script>
  <script src="js/service/conciliacion/ConciliacionDiariaService.js"></script>
  <script src="js/service/conciliacion/ConciliacionTipoMovimientoService.js"></script>
  <script src="js/service/conciliacion/MovimientoManualService.js"></script>
  <script src="js/service/conciliacion/EntidadRegistroService.js"></script>
  <script src="js/service/conciliacion/PropiaService.js"></script>
  <script src="js/service/conciliacion/CuentasECCService.js"></script>
  <script src="js/service/conciliacion/DesgloseMQService.js"></script>
  <!-- facturas -->
  <script src="js/service/factura/FacturaSugeridaService.js"></script>
  <script src="js/service/factura/FacturaService.js"></script>
  <script src="js/service/factura/CrearRectificativaService.js"></script>
  <script src="js/service/factura/ConsultarRespuestaErroresGCService.js"></script>
  <!-- configuracion -->
  <script src="js/service/configuracion/AliasSubcuentaService.js" type="text/javascript"></script>
  <script src="js/service/configuracion/CuentaCompensacionService.js" type="text/javascript"></script>
  <script src="js/service/configuracion/JobsService.js" type="text/javascript"></script>
  <script src="js/service/configuracion/PeriodicidadService.js" type="text/javascript"></script>
  <script src="js/service/configuracion/TextosService.js"></script>
  <script src="js/service/configuracion/EtiquetasService.js"></script>
  <script src="js/service/configuracion/GestionReglasService.js" type="text/javascript"></script>
  <!-- DatosMaestros -->
  <script src="js/service/datosMaestros/DatosMaestrosService.js"></script>
  <!-- Contactos -->
  <script src="js/service/contactos/ContactosService.js"></script>
  <!-- clearing -->
  <script src="js/service/clearing/EntregaRecepcionService.js"></script>
  <script src="js/service/clearing/Tmct0cleService.js"></script>
  <script src="js/service/clearing/ConsultaNettingService.js"></script>
  <script src="js/service/clearing/FinanciacionInteresesService.js"></script>
  <script src="js/service/clearing/TitularesRoutingService.js"></script>
  <script src="js/service/clearing/ReportesCNMVService.js"></script>
  <script src="js/service/clearing/DesglosesMacroService.js"></script>
  <script src="js/service/clearing/CestaOrdenesFidessaService.js"></script>
  
  <!-- contabilidad -->
  <script src="js/service/contabilidad/GenerarCartaPagoService.js"></script>
  <script src="js/service/contabilidad/ContaInformesService.js"></script>
  <script src="js/service/contabilidad/PeriodosService.js"></script>
  <!-- traspasos -->
  <script src="js/service/traspasos/TraspasosEccService.js"></script>
  <script src="js/service/traspasos/TraspasosEccSubqueryService.js"></script>
  <!-- end -->

  <!-- Conciliacion Bancaria -->
  <script src="js/service/contabilidad/ConciliacionBancariaCombosService.js"></script>
  <script src="js/service/contabilidad/ConciliacionBancariaService.js"></script>
  <script src="js/service/contabilidad/ConciliacionBancariaTLMService.js"></script>
  <script src="js/service/contabilidad/ConciliacionBancariaOURService.js"></script>
  <script src="js/service/contabilidad/ConciliacionBancariaACCService.js"></script>
  <script src="js/service/contabilidad/ControlContabilidadService.js"></script>
  <script src="js/service/contabilidad/HistoricoPartidasCasadasService.js"></script>
  
  
  <!-- GESTION CLIENTES -->
  <script src="js/service/gestionClientes/ConfiguracionClientesPBCService.js"></script>
  <!-- end -->
  
  <!-- Desglose -->
  <script src="js/service/desglose/BusquedaAlosDesgloseManualService.js"></script>

  <!-- DWH - Trader/Sale y Account Manager -->
  <script src="js/service/tradSaleAcc/MantenimientoTradSaleAccService.js"></script>

  <!-- Operaciones -->
  <!-- PtiExecutions -->
  <script src="js/service/operaciones/PtiExecutionsService.js"></script>
  <!-- Imputacion S3 -->
  <script src="js/service/imputacionS3/ImputacionS3Service.js"></script>
  
  <!-- CONTROLADORES -->
  <script src="js/controller/seguridad/LoginController.js"></script>
  
  
  <script src="js/service/dmo/DmoReportService.js"></script>
  
  <!-- DatosMaestros -->
  <script src="js/service/datosMaestros/DatosMaestrosService.js"></script>
  <script src="js/service/datosMaestros/ControlAnalisisService.js"></script>
  <script src="js/service/datosMaestros/ControlDocService.js"></script>
  <script src="js/service/datosMaestros/ControlEfectivoService.js"></script>
  <script src="js/service/datosMaestros/ParaisosFiscalesService.js"></script>
  
  <!-- SICAV -->
  <script src="js/service/sicav/MantenimientoOpService.js"></script>
  <script src="js/service/sicav/MantenimientoTituService.js"></script>

  <!-- GestionAccesos -->
  <script src="js/controller/gestionAccesos/GestionUsuariosController.js"></script>
  <script src="js/controller/gestionAccesos/GestionPerfilesController.js"></script>
  <script src="js/controller/gestionAccesos/ParametrosSeguridadController.js"></script>

  <!-- PlantillasInformes -->
  <script src="js/controller/plantillasInformes/GenerarInformesController.js"></script>
  <script src="js/controller/plantillasInformes/GenerarInformesNEWController.js"></script>
  <script src="js/controller/plantillasInformes/PlantillasInformesController.js"></script>
  <script src="js/controller/plantillasInformes/PlantillasInformesNEWController.js"></script>
  <script src="js/controller/plantillasInformes/PlanificacionInformesController.js"></script>
  
  <!-- Facturas Manuales -->
  <script src="js/controller/facturasManuales/FacturasManualesController.js"></script>
  <script src="js/controller/facturasManuales/BajasManualesController.js"></script>
  <script src="js/controller/facturasManuales/RectificativasManualesController.js"></script>
  <script src="js/controller/facturasManuales/AsientosContablesController.js"></script>

  <!-- MantenimientoDatosCliente -->
  <script src="js/controller/mantenimientoDatosCliente/MantenimientoTitularesController.js"></script>
  <script src="js/controller/mantenimientoDatosCliente/CargaFicheroSwiftController.js"></script>
  <script src="js/controller/mantenimientoDatosCliente/GestionClientesController.js"></script>

  <script src="js/controller/MenuController.js"></script>
  <script src="js/controller/MainController.js"></script>
  <script src="js/controller/CommonController.js"></script>
  <!-- CLEARING -->
  <script src="js/controller/clearing/ConsultaInteresesController.js"></script>
  <script src="js/controller/clearing/ControlTitularesRoutingController.js"></script>
  <script src="js/controller/clearing/ImportaFinalHoldersDialogController.js"></script>
  <script src="js/controller/clearing/ActualizacionMasivaTitularesController.js"></script>
  <script src="js/controller/clearing/EntregaRecepcionClienteController.js"></script>
  <script src="js/controller/clearing/ConsultaNettingController.js"></script>
  <script src="js/controller/clearing/ConsultaNettingTitulosController.js"></script>
  <script src="js/controller/clearing/TitularesRoutingPageableController.js"></script>
  <script src="js/controller/clearing/ReportesCNMVController.js"></script>
  <script src="js/controller/clearing/ReportesAutomaticosCNMVController.js"></script>
  <script src="js/controller/clearing/ReportesOperacionesTrCNMVController.js"></script>
  <script src="js/controller/clearing/ResultadosEjecucionesCNMVController.js"></script>
  <script src="js/controller/clearing/DesglosesMacroController.js"></script>
  <script src="js/controller/clearing/DesglosesMQController.js"></script>
  <script src="js/controller/clearing/CestaOrdenesFidessaController.js"></script>
  <!-- CONCILIACION -->
  <script src="js/controller/conciliacion/PropiaTitulosController.js"></script>
  <script src="js/controller/conciliacion/CuentaLiquidacionController.js"></script>
  <script src="js/controller/conciliacion/ClearingConsultaController.js"></script>
  <script src="js/controller/conciliacion/ClearingTitulosController.js"></script>
  <script src="js/controller/conciliacion/ClearingEfectivoController.js"></script>    
  <script src="js/controller/conciliacion/ProvisionEfectivoClearingController.js"></script>
  <script src="js/controller/conciliacion/ProvisionEfectivoPropiaController.js"></script>
  <script src="js/controller/conciliacion/BalanceController.js"></script>
  <script src="js/controller/conciliacion/ClearingBalanceClienteController.js"></script>
  <script src="js/controller/conciliacion/ClearingBalanceValorController.js"></script>
  <script src="js/controller/conciliacion/DiariaController.js"></script>
  <script src="js/controller/conciliacion/CuentasEspejoController.js"></script>
  <script src="js/controller/conciliacion/CuentaVirtualController.js"></script>
  <script src="js/controller/conciliacion/TipoMovimientoController.js"></script>
  <script src="js/controller/conciliacion/EntidadRegistroController.js"></script>
  <script src="js/controller/conciliacion/TipoEntidadRegistroController.js"></script>
  <script src="js/controller/conciliacion/MovimientoManualController.js"></script>
  <script src="js/controller/conciliacion/CuentasECCController.js"></script>
  <script src="js/controller/conciliacion/DesgloseMQControler.js"></script>
  <script src="js/controller/conciliacion/DesgloseHerfanosControler.js"></script>
  <!-- contabilidad -->
  <script src="js/controller/contabilidad/GenerarCartaPagoController.js"></script>
  <script src="js/controller/contabilidad/ContaInformesController.js"></script>
  <script src="js/controller/contabilidad/AltaApunteContableController.js"></script>
  <script src="js/controller/contabilidad/Norma43Controller.js"></script>
  <script src="js/controller/contabilidad/CierreContableController.js"></script>
  <script src="js/controller/contabilidad/CuentaContableController.js"></script>
  <script src="js/controller/contabilidad/PeriodosController.js"></script>
  <!-- Conciliacion Bancaria -->
  <script src="js/controller/contabilidad/ConciliacionBancariaController.js"></script>
  <script src="js/controller/contabilidad/ConciliacionBancariaOURController.js"></script>
  <script src="js/controller/contabilidad/ConciliacionBancariaACCController.js"></script>
  <script src="js/controller/contabilidad/ConciliacionBancariaTLMController.js"></script>
  <script src="js/controller/contabilidad/ControlContabilidadController.js"></script>
  <script src="js/controller/contabilidad/HistoricoPartidasCasadasController.js"></script>
  <!-- end -->
  
  <!-- FACTURACION -->
  <script src="js/controller/factura/FacturaConsultaController.js"></script>
  <script src="js/controller/factura/FacturaRectificativaController.js"></script>
  <script src="js/controller/factura/FacturaEmitidaController.js"></script>
  <script src="js/controller/factura/CrearFacturaController.js"></script>
  <script src="js/controller/factura/CobrosConsultaController.js"></script>
  <script src="js/controller/factura/CrearCobroController.js"></script>
  <script src="js/controller/factura/CrearRectificativaController.js"></script>
  <script src="js/controller/factura/ConsultarRespuestaErroresGCController.js"></script>
  <!-- fallidos -->
  <script src="js/controller/fallidosAjustes/OperacionesFallidasController.js"></script>
  <script src="js/controller/fallidosAjustes/MovimientosFallidosController.js"></script>
  <!-- Informes -->
  <script src="js/controller/exportacion/transaccionesFinancieras.js"></script>
  <!-- CONFIGURACION -->
  <script src="js/controller/configuracion/AliasSubcuentaController.js"></script>
  <script src="js/controller/configuracion/CuentaCompensacionController.js"></script>
  <script src="js/controller/configuracion/JobsController.js"></script>
  <script src="js/controller/configuracion/PeriodicidadController.js"></script>
  <script src="js/controller/configuracion/TextosController.js"></script>
  <script src="js/controller/configuracion/GestionReglasController.js"></script>
  <script src="js/controller/configuracion/PeriodosContablesController.js"></script>
  <script src="js/controller/configuracion/GruposImpositivosController.js"></script>
  <script src="js/controller/configuracion/IdentificadorController.js"></script>
  <script src="js/controller/configuracion/NumeradoresController.js"></script>
  <script src="js/controller/configuracion/DireccionFiscalController.js"></script>
  <script src="js/controller/configuracion/RecordatorioController.js"></script>
  <script src="js/controller/configuracion/FinanciacionInteresController.js"></script>  
  <!-- ALIAS -->
  <script src="js/controller/alias/ServiciosAClienteController.js"></script>
  <!-- DatosMaestros -->
  <script src="js/controller/datosMaestros/CodigosOperacionController.js"></script>
  <script src="js/controller/datosMaestros/GruposValoresController.js"></script>
  <script src="js/controller/datosMaestros/DepositariosValoresController.js"></script>
  <script src="js/controller/datosMaestros/ConceptosMovEfectivoController.js"></script>
  <script src="js/controller/datosMaestros/ModosMatGarantiasController.js"></script>
  <script src="js/controller/datosMaestros/TiposActivoController.js"></script>
  <script src="js/controller/datosMaestros/TiposGarantiaExigidasController.js"></script>
  <script src="js/controller/datosMaestros/TiposPersonaController.js"></script>
  <script src="js/controller/datosMaestros/TiposProductoController.js"></script>
  <script src="js/controller/datosMaestros/ControlDocController.js"></script>
  <script src="js/controller/datosMaestros/ControlAnalisisController.js"></script>
  <script src="js/controller/datosMaestros/ControlEfectivoController.js"></script>
  <script src="js/controller/datosMaestros/ParaisosFiscalesController.js"></script>
  <!-- Contactos -->
  <script src="js/controller/contactos/ContactosController.js"></script>
  <!-- Contactos -->
  <script src="js/controller/alias/AliasController.js"></script>

  <!-- Helper Generico como factory -->
  <script src="js/factory/helper/CommonHelper.js"></script>
  <script src="js/factory/helper/CamposDinamicosHelper.js"></script>

  <script src="js/factory/helper/CommonHelper.js"></script> 
    
  <!-- Traspasos -->
  <script src="js/controller/traspasos/TraspasosEccController.js"></script>
  <script src="js/controller/traspasos/TraspasosEccSubqueryController.js"></script>
  
  <!-- Desglose -->
  <script src="js/controller/desglose/DesgloseManualController.js"></script>
  <script src="js/controller/desglose/BusquedaAlosDesgloseManualController.js"></script>
    <!-- Operaciones -->
  <!-- PtiExecutions -->
  <script src="js/controller/operaciones/PtiExecutionsController.js"></script>
  <!-- Imputacion S3 -->
  <script src="js/controller/imputacionS3/ImputacionS3Controller.js"></script>
  
  <!-- DMO -->
  <script src="js/controller/dmo/DmoController.js"></script>
  <script src="js/controller/dmo/DmoReportController.js"></script>
  
  <!-- SICAV -->
  <script src="js/controller/sicav/MantenimientoTituController.js"></script>
  <script src="js/controller/sicav/MantenimientoOpController.js"></script>
  

  
  <!-- GESTION CLIENTES -->
  <script src="js/controller/gestionClientes/ConfiguracionClientesPBCController.js"></script>
  
  <!-- Informes Mclagan -->
  <script src="js/service/informesMclagan/InformesMclaganService.js"></script>
  <script src="js/controller/informesMclagan/InformesMclaganController.js"></script>
  
  <!-- DWH - Fichero de ejecuciones nacional -->
  <script src="js/controller/dwh/MantenimientoUndundledController.js"></script>
  <script src="js/service/dwh/MantenimientoUndundledService.js"></script>
  <script src="js/service/dwh/ClienteUnbundledService.js"></script>
  <!-- DWH - Fichero de Valores - Mantenimiento de Valores -->
  <script src="js/service/dwh/ValoresService.js"></script>
  <script src="js/controller/dwh/ValoresController.js"></script>
  <!-- DWH - Trader/Sale y Account Manager -->
 <script src="js/controller/tradSaleAcc/MantenimientoTradSaleAccController.js"></script>
 
  <script src="js/service/dwh/LanzamientoManualService.js"></script>
  <script src="js/controller/dwh/LanzamientoManualController.js"></script>
</body>
</html>

