<!doctype html>
<html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="Generator" content="EditPlus®">
  <meta name="Author" content="">
  <meta name="Keywords" content="">
  <meta name="Description" content="">
  <title>Document</title>
 </head>
 <body>
<a href="<%=request.getContextPath()%>/rest/people">people</a><br/>
<a href="<%=request.getContextPath()%>/rest/people.jsp">people.jsp</a><br/>
<a href="<%=request.getContextPath()%>/rest/people.html">people.html</a><br/>
<a href="<%=request.getContextPath()%>/rest/people.json">people.json</a><br/>
<a href="<%=request.getContextPath()%>/rest/people.pdf">people.pdf</a><br/>
<a href="<%=request.getContextPath()%>/rest/people.xls">people.xls</a><br/>
<a href="<%=request.getContextPath()%>/rest/people.xlsx">people.xlsx</a><br/>

 </body>
</html>

